Repository risingwavelabs/risingwave, pull requests merged in 2022-08, with the labels that each got.

#4279 fix(frontend): fix display pk of stream table scan
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_nested_loop_join.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/fix, mergify/can-merge

#4285 refactor(meta): provide SST id to worker id mapping in commit_epoch.
  proto/hummock.proto
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/meta_client.rs
Labels: type/refactor, mergify/can-merge

#4298 feat(batch): support delimiter argument in batch `string_agg`
  e2e_test/batch/aggregate/string_agg.slt.part
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/string_agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature, component/batch, mergify/can-merge

#4257 feat(object store): add list method
  src/object_store/src/object/disk.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
Labels: type/feature, mergify/can-merge

#4281 chore(streaming): remove table id in arrange node
  proto/stream_plan.proto
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/stream_graph.rs
Labels: type/chore, mergify/can-merge

#4227 fix: refine error prompting
  src/common/src/error.rs
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/source/src/parser/common.rs
Labels: type/fix, mergify/can-merge

#4299 feat(S3_bench): Add s3_bench
  Cargo.lock
  codecov.yml
  src/bench/Cargo.toml
  src/bench/s3_bench/cases.toml
  src/bench/s3_bench/main.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#3965 feat(metrics): add metrics for barrier latency at each stage
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/rpc/metrics.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/state_store_metrics.rs
  src/storage/src/store.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, mergify/can-merge

#4216 feat(sqlsmith): enable sub-query generation
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/relation.rs
  src/tests/sqlsmith/src/time_window.rs
Labels: type/feature, mergify/can-merge

#4317 fix: Messages should be skipped after parsing failure
  src/source/src/connector_source.rs
Labels: type/fix, mergify/can-merge

#4321 feat(stream): support `delim` argument in streaming `string_agg`
  e2e_test/streaming/string_agg.slt
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
  src/stream/src/from_proto/agg_call.rs
Labels: type/feature, component/streaming, mergify/can-merge

#4310 feat(sqlsmith): print e2e errors
  src/tests/sqlsmith/src/bin/main.rs
Labels: type/feature, mergify/can-merge

#4323 fix(optimizer): ApplyValues.
  src/frontend/src/optimizer/rule/apply_scan.rs
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
Labels: type/fix, mergify/can-merge

#4327 feat(frontend): expose `Vnode` function as `__rw_vnode` for easy debugging
  e2e_test/batch/functions/internal.slt.part
  src/frontend/src/binder/expr/function.rs
Labels: type/feature, component/frontend, mergify/can-merge

#4329 fix(frontend): only schedule dml to cn which contain table source writer
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/handler/dml.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/worker_node_manager.rs
Labels: type/fix, mergify/can-merge

#4332 feat(risedev): support 3 compute nodes in playground
  Cargo.lock
  risedev.yml
  src/cmd_all/src/bin/risingwave.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/risedevtool/src/risectl_env.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/utils.rs
Labels: type/feature, mergify/can-merge

#4333 fix(compaction): Skip compaction task assignment check for trivial move tasks
  src/meta/src/hummock/hummock_manager.rs
Labels: type/bug, mergify/can-merge

#4017 refactor(batch): refactor hash join
  src/batch/Cargo.toml
  src/batch/benches/hash_join.rs
  src/batch/src/executor/join/chunked_data.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/hash_join_state.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/test_utils.rs
Labels: type/refactor, component/batch, mergify/can-merge

#4353 fix(risedev): cannot `d` after adding shared in-memory hummock support
  src/cmd_all/src/playground.rs
  src/compute/src/server.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/task/compute_node_service.rs
Labels: type/fix, mergify/can-merge

#4342 refactor(frontend): rename `__rw_vnode` to `rw_vnode`
  e2e_test/batch/functions/internal.slt.part
  src/frontend/src/binder/expr/function.rs
Labels: type/refactor, mergify/can-merge

#4284 feat:binary format serializer
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/types/mod.rs
  src/frontend/src/handler/util.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#4337 chore: add metric for sink executor
  src/connector/src/sink/mod.rs
  src/source/src/monitor/metrics.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/chore, mergify/can-merge

#4346 fix: use correct column indices for chain & batch lookup join
  proto/batch_plan.proto
  proto/stream_plan.proto
  src/batch/src/executor/join/lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/stream/src/from_proto/chain.rs
Labels: type/fix, mergify/can-merge

#4308 refactor(storage): get new SST id in batch
  proto/hummock.proto
  src/bench/ss_bench/operations/write_batch.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/sstable_id_manager.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/refactor, mergify/can-merge

#4034 feat(compaction): optimize iterator and sstable builder for compaction speed
  src/storage/Cargo.toml
  src/storage/benches/bench_block_iter.rs
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/iterator/compact_concat_iterator.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/block_iterator.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable_store.rs
  src/workspace-hack/Cargo.toml
Labels: mergify/can-merge

#4361 feat(sqlsmith): test stream queries
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature, mergify/can-merge

#4326 feat(frontend): support acl column in pg_namespace
  e2e_test/batch/catalog/pg_namespace.slt.part
  src/frontend/src/catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/pg_catalog/pg_namespace.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/user/mod.rs
  src/frontend/src/user/user_manager.rs
  src/frontend/src/user/user_privilege.rs
  src/frontend/test_runner/tests/testdata/pg_catalog.yaml
Labels: type/feature, mergify/can-merge

#4359 feat(planner): Use explain verbose for all planner tests
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/append_only.yaml
  src/frontend/test_runner/tests/testdata/array.yaml
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
  src/frontend/test_runner/tests/testdata/common_table_expressions.yaml
  src/frontend/test_runner/tests/testdata/distribution_derive.yaml
  src/frontend/test_runner/tests/testdata/expr.yaml
  src/frontend/test_runner/tests/testdata/index.yaml
  src/frontend/test_runner/tests/testdata/insert.yaml
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/limit.yaml
  src/frontend/test_runner/tests/testdata/mv_on_mv.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/order_by.yaml
  src/frontend/test_runner/tests/testdata/pg_catalog.yaml
  src/frontend/test_runner/tests/testdata/pk_derive.yaml
  src/frontend/test_runner/tests/testdata/predicate_pushdown.yaml
  src/frontend/test_runner/tests/testdata/project_set.yaml
  src/frontend/test_runner/tests/testdata/range_scan.yaml
  src/frontend/test_runner/tests/testdata/struct_query.yaml
  src/frontend/test_runner/tests/testdata/subquery.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/time_window.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
  src/frontend/test_runner/tests/testdata/update.yaml
Labels: type/feature, mergify/can-merge

#4335 feat(batch): apply row-based encoding for materialize executor and batch mode
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
  src/storage/src/row_serde/cell_based_row_deserializer.rs
  src/storage/src/row_serde/mod.rs
  src/storage/src/row_serde/row_based_deserializer.rs
  src/storage/src/table/storage_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/sides.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/lookup.rs
Labels: type/feature, mergify/can-merge

#4371 fix(batch): Stop polling after data stream returns `None`
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/fifo_channel.rs
  src/batch/src/task/hash_shuffle_channel.rs
  src/batch/src/task/task_execution.rs
Labels: type/fix, mergify/can-merge

#4373 refactor(streaming): apply row-based encoding for append_only top_n
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
Labels: type/refactor, mergify/can-merge

#4375 refactor(batch): unify scan type in batch scan
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
Labels: type/refactor, mergify/can-merge

#4334 fix(storage): fix manual_compaction for l0 sub_compaction
  src/meta/src/hummock/compaction/manual_compaction_picker.rs
Labels: type/fix, mergify/can-merge

#4377 fix(common): use smaller upperbound for generators to avoid range overflow
  src/common/src/field_generator/numeric.rs
  src/common/src/types/ordered_float.rs
Labels: type/fix, component/common, user-facing changes, mergify/can-merge

#4338 feat(meta): support manual compaction for specific sst ids from CN
  proto/hummock.proto
  src/meta/src/hummock/compaction/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/rpc/service/hummock_service.rs
Labels: type/feature, mergify/can-merge

#4316 feat(storage): provide prefix_iter for prefix_bloom_filter
  src/batch/src/executor/insert.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/keyspace.rs
  src/storage/src/lib.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/table/storage_table.rs
  src/stream/src/executor/lookup/tests.rs
Labels: type/feature, mergify/can-merge

#4347 feat(storage): introduce filter_key_extractor_manager
  Cargo.lock
  src/bench/ss_bench/main.rs
  src/compute/src/compute_observer/observer_manager.rs
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/store_impl.rs
Labels: type/feature, mergify/can-merge

#4382 refactor(frontend): simplify ConditionDisplay
  src/frontend/src/expr/mod.rs
  src/frontend/src/utils/condition.rs
Labels: type/refactor, mergify/can-merge

#4320 feat(compaction): collect remote io time for every compaction task
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/monitor/local_metrics.rs
Labels: mergify/can-merge

#4381 refactor(batch): remove `append_chunk` in nested loop join and hash join
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/nested_loop_join.rs
Labels: component/batch, mergify/can-merge

#4349 feat(planner): Bind Natural Join
  e2e_test/batch/basic/join.slt.part
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/binder/select.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: type/feature, mergify/can-merge

#4341 feat(optimizer): support 2-phase streaming agg
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/append_only.yaml
  src/frontend/test_runner/tests/testdata/distribution_derive.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/pk_derive.yaml
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/frontend/test_runner/tests/testdata/time_window.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
  src/storage/src/table/storage_table.rs
Labels: type/enhancement, type/feature, component/optimizer, mergify/can-merge

#4356 fix(parser): parse negative numbers
  src/frontend/test_runner/tests/testdata/expr.yaml
  src/sqlparser/src/parser.rs
Labels: type/fix, mergify/can-merge

#4393 fix: add pair number check in startup msg
  src/utils/pgwire/src/pg_message.rs
Labels: type/fix, mergify/can-merge

#4362 feat: generator row id using vnode in source executor
  src/batch/src/executor/insert.rs
  src/common/src/buffer/bitmap.rs
  src/compute/src/server.rs
  src/compute/tests/integration_tests.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/row_id.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source.rs
Labels: type/feature, mergify/can-merge

#4395 chore(developer-docs): add note on compilation bottlenecks
  docs/developer-guide.md
Labels: type/chore, mergify/can-merge

#4396 refactor(lru): use on_release event listener to capture owned key/value when entries evicted or erased
  src/common/src/cache.rs
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/store.rs
Labels: type/refactor, mergify/can-merge

#4385 feat(optimizer): Implement `ProjectJoin` rule
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/project_join.rs
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature, mergify/can-merge

#4364 refactor(meta): eliminate usages of `RwError`
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/array/column_proto_readers.rs
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/buffer/bitmap.rs
  src/common/src/error.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/cluster/mod.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/error.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/user.rs
  src/meta/src/model/error.rs
  src/meta/src/model/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/cluster_service.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/rpc/service/mod.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/user_service.rs
  src/meta/src/storage/meta_store.rs
  src/meta/src/storage/tests.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, mergify/can-merge

#4358 feat: support current_schema and session_user
  e2e_test/batch/catalog/sysinfo.slt.part
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/values.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/dml.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/sysinfo_funcs.yaml
  src/sqlparser/src/ast/mod.rs
Labels: type/feature, user-facing changes, mergify/can-merge

#4378 fix: not report error when encounter UnexpectedEof
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix, mergify/can-merge

#3111 feat(compaction): support sub-level in L0
  proto/hummock.proto
  src/meta/src/hummock/compaction/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/test_utils.rs
  src/object_store/src/object/mod.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
Labels: type/feature, mergify/can-merge

#4391 feat(planner): general `USING/NATURAL` column reference disambiguation
  src/frontend/src/binder/select.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: type/feature, mergify/can-merge

#4402 feat: kafka sink e2e test
  e2e_test/source/basic_test.slt
  scripts/source/prepare_ci_kafka.sh
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/feature, mergify/can-merge

#4411 refactor(expression): make building expression from prost consistent in style
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_case.rs
  src/expr/src/expr/expr_in.rs
  src/expr/src/expr/expr_regexp.rs
  src/expr/src/expr/mod.rs
Labels: type/refactor, mergify/can-merge

#4419 feat(sqlsmith): generate explicit type castings
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/mod.rs
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/src/expr.rs
  src/tests/sqlsmith/src/utils.rs
Labels: type/feature, mergify/can-merge

#4421 feat(sqlsmith): Enable gen_agg but workaround distinct agg
  src/tests/sqlsmith/src/expr.rs
Labels: type/feature, mergify/can-merge

#4424 fix(binder): allow `Clone` for `expr::Subquery` as part of CTE
  src/frontend/src/expr/subquery.rs
  src/frontend/test_runner/tests/testdata/common_table_expressions.yaml
Labels: type/fix, mergify/can-merge

#4414 fix(frontend): make WITH optional for user create and alter
  src/sqlparser/src/ast/statement.rs
Labels: type/fix, user-facing changes, mergify/can-merge

#4416 fix(frontend): fix table option for internal table
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/session.rs
  src/frontend/test_runner/src/lib.rs
Labels: type/fix, mergify/can-merge

#4420 fix: use SomeShard as the distribution of batch scan
  e2e_test/batch/basic/join.slt.part
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/mv_on_mv.yaml
  src/frontend/test_runner/tests/testdata/project_set.yaml
  src/frontend/test_runner/tests/testdata/range_scan.yaml
  src/frontend/test_runner/tests/testdata/update.yaml
Labels: type/fix, mergify/can-merge

#4430 feat: support explain sink
  e2e_test/batch/explain.slt
  e2e_test/ddl/table.slt
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/explain.rs
Labels: type/feature, mergify/can-merge

#4413 chore: update comments for dispatcher
  proto/stream_plan.proto
Labels: type/chore, mergify/can-merge

#4423 chore(ci): remove repeated ci steps
  ci/workflows/main.yml
Labels: type/chore, mergify/can-merge

#4436 chore(risedev): unify clippy between risedev c and pre-unit-test.sh
  Makefile.toml
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/chore, mergify/can-merge

#4439 fix: fix observer version check and add sync in compute/compactor node
  src/compute/src/compute_observer/observer_manager.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
Labels: type/fix, mergify/can-merge

#4336 feat(test): make simulation test deterministic!
  Cargo.lock
  Makefile.toml
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/compute/Cargo.toml
  src/compute/src/rpc/service/exchange_service.rs
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/test_runner/Cargo.toml
  src/frontend/test_runner/tests/plan_test_runner.rs
  src/meta/Cargo.toml
  src/meta/src/stream/stream_manager.rs
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/source/src/row_id.rs
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/stream/Cargo.toml
  src/stream/src/executor/actor.rs
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/source/source_executor.rs
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/tests/e2e.rs
  src/tests/sqlsmith/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#4406 feat(cache): introduce tiered cache abstraction
  src/bench/file_cache_bench/bench.rs
  src/storage/src/hummock/file_cache/buffer.rs
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/coding.rs
  src/storage/src/hummock/file_cache/filter.rs
  src/storage/src/hummock/file_cache/meta.rs
  src/storage/src/hummock/file_cache/mod.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/file_cache/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/tiered_cache.rs
Labels: type/feature, mergify/can-merge

#4441 chore: support more query statement in extended query mode
  src/frontend/src/handler/variable.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/chore, mergify/can-merge

#4444 fix(ci): fix main ci build timeout
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: type/fix, mergify/can-merge

#4410 refactor(common): add rpc client pool
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/compute_client_pool.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
  src/rpc_client/src/stream_client_pool.rs
  src/stream/src/executor/exchange/input.rs
Labels: type/refactor, mergify/can-merge

#4422 fix(cache): clean pending request immediately when future cancel
  src/common/src/cache.rs
Labels: mergify/can-merge

#4448 fix: build on non-linux target
  src/storage/src/hummock/tiered_cache.rs
Labels: type/fix, mergify/can-merge

#4435 feat(meta): piggyback extra info in heartbeat RPC.
  proto/meta.proto
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/frontend/src/session.rs
  src/meta/src/cluster/mod.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/model/cluster.rs
  src/meta/src/rpc/service/heartbeat_service.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/sstable/sstable_id_manager.rs
Labels: type/feature, mergify/can-merge

#4453 fix(planner): Pullup predicates in `LogicalScan` into `BatchLookupJoin`
  e2e_test/batch/basic/local/lookup_join.slt.part
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: type/fix, mergify/can-merge

#4277 feat(meta): add source info and stream source split info in get_clust…
  proto/meta.proto
  src/connector/src/source/kafka/split.rs
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/stream/source_manager.rs
Labels: type/feature, mergify/can-merge

#4452 fix(planner): DynamicFilter's LHS should follow upstream distribution
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix, mergify/can-merge

#4459 feat(meta): meta push initial hummock version into CN
  proto/meta.proto
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/notification_service.rs
Labels: type/feature, mergify/can-merge

#4447 feat(frontend): add CREATEUSER and NOCREATEUSER option for user create/alter
  proto/user.proto
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/test_utils.rs
  src/meta/src/manager/user.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing changes, mergify/can-merge

#4433 feat(optimizer): support stateless 2-phase agg optimization for append-only min/max
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/append_only.yaml
Labels: type/feature, component/optimizer, mergify/can-merge

#4461 fix(meta): the ddl lock is not really locked
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/scale_service.rs
Labels: type/fix, mergify/can-merge

#4443 refactor(row-serde): make row-serde directory clearer and update comments
  proto/batch_plan.proto
  proto/plan_common.proto
  proto/stream_plan.proto
  src/batch/src/executor/join/lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/catalog/physical_table.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/storage/src/row_serde/cell_based_row_deserializer.rs
  src/storage/src/row_serde/cell_based_row_serializer.rs
  src/storage/src/row_serde/dedup_pk_cell_based_row_deserializer.rs
  src/storage/src/row_serde/dedup_pk_cell_based_row_serializer.rs
  src/storage/src/row_serde/mod.rs
  src/storage/src/row_serde/row_based_deserializer.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/storage_table.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/from_proto/batch_query.rs
Labels: type/refactor, mergify/can-merge

#4450 fix(planner): Tumble can accept CTE as input
  src/frontend/src/planner/relation.rs
  src/frontend/test_runner/tests/testdata/time_window.yaml
Labels: type/fix, mergify/can-merge

#4345 feat(sqlsmith): generate extreme values
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/src/scalar.rs
Labels: type/feature, mergify/can-merge

#4465 refactor(sink): rename sink properties
  e2e_test/batch/explain.slt
  e2e_test/ddl/table.slt
  e2e_test/source/basic_test.slt
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_sink.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/refactor, user-facing changes, mergify/can-merge

#4451 fix(planner): Disallow select * with no tables
  src/frontend/src/binder/select.rs
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
Labels: type/fix, mergify/can-merge

#4466 fix(worker-node-mgr): worker node manager should return error if no workers found
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/worker_node_manager.rs
Labels: type/fix, mergify/can-merge

#4460 fix(test): fix or ignore several unit tests on madsim
  Cargo.lock
  e2e_test/batch/aggregate/timestamp.slt.part
  src/batch/src/execution/local_exchange.rs
  src/common/Cargo.toml
  src/common/src/cache.rs
  src/common/src/config.rs
  src/connector/src/source/filesystem/file_common.rs
  src/connector/src/source/filesystem/s3/s3_dir.rs
  src/connector/src/source/pulsar/admin/client.rs
  src/connector/src/source/pulsar/enumerator/client.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/object_store/src/object/disk.rs
  src/source/src/table_v2.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/source/source_executor.rs
  src/tests/sqlsmith/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_server.rs
  src/workspace-hack/Cargo.toml
Labels: type/fix, mergify/can-merge

#4432 fix(planner): Correctly Alias CTE and columns
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/test_runner/tests/testdata/common_table_expressions.yaml
  src/frontend/test_runner/tests/testdata/subquery.yaml
Labels: type/fix, mergify/can-merge

#4276 feat(frontend): push the calculation of inputs of join's condition to its two sides.
  e2e_test/batch/basic/subquery.slt.part
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/push_calculation_of_join.rs
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
Labels: type/feature, mergify/can-merge

#4446 fix: ignore epoch check with stop mutation, this might break some scenarios in failover
  src/stream/src/executor/debug/epoch_check.rs
  src/stream/src/executor/mod.rs
Labels: type/fix, mergify/can-merge

#4475 chore(risedev): avoid using ambiguous "playground" term with `risedev d`
  Makefile.toml
  ci/scripts/build.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  ci/scripts/regress-test.sh
  src/cmd_all/src/playground.rs
  src/risedevtool/README.md
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/service_config.rs
Labels: type/chore, mergify/can-merge

#4472 chore(frontend): tweak visibility & remove dead code & fix clippy
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_authentication.rs
  src/frontend/src/utils/column_index_mapping.rs
  src/frontend/test_runner/src/lib.rs
  src/meta/src/lib.rs
  src/meta/src/test_utils.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/chore, mergify/can-merge

#4445 fix(frontend): display `InputRef` index when column name is empty in explain strings
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/values.rs
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/optimizer/plan_node/batch_values.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/test_runner/tests/testdata/array.yaml
  src/frontend/test_runner/tests/testdata/struct_query.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr.yaml
  src/frontend/test_runner/tests/testdata/time_window.yaml
  src/frontend/test_runner/tests/testdata/types.yaml
Labels: type/fix, component/frontend, mergify/can-merge

#4478 feat(sqllogictest): sync changes from 0.6
  Makefile
  Makefile.toml
  ci/Dockerfile
  docs/developer-guide.md
Labels: type/feature, mergify/can-merge

#4477 doc: fix markdown toc
  docs/relational_table/storing-state-using-relational-table.md
Labels: mergify/can-merge

#4369 feat(storage): track GC watermark SST id.
  Cargo.lock
  src/bench/Cargo.toml
  src/meta/src/cluster/mod.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/sstable/sstable_id_manager.rs
Labels: type/feature, mergify/can-merge

#4479 fix(risedev): check clippy should report warning
  Makefile.toml
Labels: type/fix, mergify/can-merge

#4464 fix(storage): batch qurry with_table_option
  proto/hummock.proto
  proto/plan_common.proto
  src/batch/src/executor/insert.rs
  src/batch/src/executor/row_seq_scan.rs
  src/bench/ss_bench/operations/get.rs
  src/bench/ss_bench/operations/prefix_scan_random.rs
  src/common/src/catalog/mod.rs
  src/common/src/catalog/physical_table.rs
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/meta/src/hummock/compaction_group/manager.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/memory.rs
  src/storage/src/store.rs
  src/storage/src/table/storage_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/source/state.rs
  src/stream/src/from_proto/batch_query.rs
Labels: type/fix, mergify/can-merge

#4386 fix(optimizer): push Apply down scalar agg.
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/rule/apply_agg.rs
  src/frontend/src/optimizer/rule/apply_proj.rs
  src/frontend/src/optimizer/rule/translate_apply.rs
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix, mergify/can-merge

#4370 feat(storage): GC orphan SST in object store.
  Cargo.lock
  proto/hummock.proto
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/Cargo.toml
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/vacuum.rs
Labels: type/feature, mergify/can-merge

#4476 feat(test): make deterministic test ready
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-unit-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/test_runner/Cargo.toml
  src/frontend/test_runner/tests/plan_test_runner.rs
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/storage/src/hummock/compaction_executor.rs
  src/stream/Cargo.toml
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/source/reader.rs
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/lib.rs
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_message.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
  src/utils/runtime/src/trace_runtime.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#4482 chore(grafana): clean up metric
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/monitor/hummock_metrics.rs
Labels: type/chore, mergify/can-merge

#4481 fix(optimizer): fix wrong project when output indices having dup keys
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/project_join.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: mergify/can-merge

#4340 refactor(frontend,meta): refactor index catalog
  e2e_test/batch/basic/join.slt.part
  e2e_test/streaming/index.slt
  proto/catalog.proto
  proto/ddl_service.proto
  proto/meta.proto
  src/common/src/catalog/mod.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/test_utils.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/index.yaml
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/id.rs
  src/meta/src/manager/relation.rs
  src/meta/src/model/catalog.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/refactor, mergify/can-merge

#4480 refactor(meta): remove force rewrite of join -> delta
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  e2e_test/streaming_delta_join/join-3way.slt
  e2e_test/streaming_delta_join/tpch_snapshot.slt
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: type/refactor, mergify/can-merge

#4300 feat(batch): add more e2e tests for batch join executors
  ci/scripts/e2e-test.sh
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/join/cross_product/test_cross_product.slt.part
  e2e_test/batch/join/full_outer/full_outer_join_cache.slt.part
  e2e_test/batch/join/full_outer/full_outer_join_union.slt.part
  e2e_test/batch/join/full_outer/test_full_outer_join.slt.part
  e2e_test/batch/join/full_outer/test_full_outer_join_complex.slt.part
  e2e_test/batch/join/full_outer/test_full_outer_join_inequality.slt.part
  e2e_test/batch/join/full_outer/test_full_outer_join_many_matches.slt.part
  e2e_test/batch/join/full_outer/test_full_outer_join_range.slt.part
  e2e_test/batch/join/inner/equality_join_limits.slt.part
  e2e_test/batch/join/inner/join_cross_product.slt.part
  e2e_test/batch/join/inner/test_eq_ineq_join.slt.part
  e2e_test/batch/join/inner/test_join.slt.part
  e2e_test/batch/join/inner/test_lt_join.slt.part
  e2e_test/batch/join/inner/test_range_join.slt.part
  e2e_test/batch/join/inner/test_unequal_join.slt.part
  e2e_test/batch/join/inner/test_unequal_join_duplicates.slt.part
  e2e_test/batch/join/inner/test_using_chain.slt.part
  e2e_test/batch/join/inner/test_using_join.slt.part
  e2e_test/batch/join/inner/test_varchar_join.slt.part
  e2e_test/batch/join/left_outer/left_join_dropping_rows.slt.part
  e2e_test/batch/join/left_outer/test_left_outer.slt.part
  e2e_test/batch/join/right_outer/test_right_outer.slt.part
  e2e_test/batch/join/test_complex_join_expr.slt.part
  e2e_test/batch/join/test_join_on_aggregates.slt.part
  e2e_test/batch/join/test_string_payload.slt.part
  e2e_test/batch/local_mode.slt
Labels: component/batch, mergify/can-merge

#4487 fix(binder): reject unsupported `not null` rather than ignoring silently
  e2e_test/batch/aggregate/count.slt.part
  e2e_test/batch/aggregate/selective_count.slt.part
  e2e_test/batch/aggregate/sum.slt.part
  e2e_test/batch/basic/float_ord.slt.part
  e2e_test/batch/basic/insert_expr.slt.part
  e2e_test/batch/basic/join.slt.part
  e2e_test/batch/basic/modify.slt.part
  e2e_test/database/test.slt
  e2e_test/ddl/index.slt
  e2e_test/ddl/show.slt
  e2e_test/ddl/table.slt
  e2e_test/streaming/append_only.slt
  e2e_test/streaming/basic.slt
  e2e_test/streaming/join.slt
  e2e_test/streaming/mv_on_mv.slt
  e2e_test/streaming/order_by.slt
  src/frontend/src/handler/create_table.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/limit.yaml
  src/frontend/test_runner/tests/testdata/mv_on_mv.yaml
Labels: type/fix, mergify/can-merge

#4437 feat(batch-task): init task status management
  proto/task_service.proto
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/lib.rs
Labels: type/feature, mergify/can-merge

#4490 test(batch): support generating data of more types in test_utils
  src/batch/benches/filter.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/src/executor/test_utils.rs
  src/common/src/field_generator/mod.rs
  src/common/src/field_generator/timestamp.rs
  src/common/src/field_generator/varchar.rs
Labels: component/batch, component/common, mergify/can-merge

#4488 fix(test): fix pg_class e2e test
  e2e_test/batch/catalog/pg_class.slt.part
Labels: type/fix, mergify/can-merge

#4494 fix: allow create source with row format debezium_json
  src/frontend/src/handler/create_source.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
Labels: type/fix, user-facing-changes, mergify/can-merge

#4495 fix(streaming): no extra buffer for remote exchange
  src/compute/Cargo.toml
  src/compute/src/lib.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/rpc_client/src/compute_client_pool.rs
Labels: type/fix, mergify/can-merge

#4471 feat(stream): support cache for group topN
  src/stream/src/executor/group_top_n.rs
  src/stream/src/executor/managed_state/top_n/top_n_state_new.rs
  src/stream/src/executor/top_n.rs
Labels: type/feature, component/streaming, mergify/can-merge

#4497 refactor(meta): split HummockManager impl into several files.
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/mod.rs
Labels: type/refactor, mergify/can-merge

#4201 feat(optimizer): add functional dependency support
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_delete.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_insert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_limit.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/logical_table_function.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/logical_update.rs
  src/frontend/src/optimizer/plan_node/logical_values.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/property/func_dep.rs
  src/frontend/src/optimizer/property/mod.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/feature, mergify/can-merge

#4502 chore(ci): use customized profile for pull requests
  Cargo.toml
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  ci/scripts/regress-test.sh
  ci/workflows/pull-request.yml
Labels: type/chore, mergify/can-merge

#4485 refactor(meta): add `StreamClient` struct
  Cargo.lock
  src/common/common_service/Cargo.toml
  src/common/common_service/src/observer_manager.rs
  src/ctl/src/cmd_impl/stream/trace.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/error.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/stream_client.rs
Labels: mergify/can-merge

#4291 feat(expr): cast time to interval for cross-type comparison
  e2e_test/batch/types/arithmetic.slt.part
  e2e_test/batch/types/cast.slt.part
  e2e_test/batch/types/time.slt.part
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/interval.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/expr_binary_nullable.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/expr/template.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/tests.rs
  src/expr/src/vector_op/tumble.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, mergify/can-merge

#4467 fix(meta): fix internal_table notification for mv and snapshot
  src/compute/src/compute_observer/observer_manager.rs
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
Labels: type/fix, mergify/can-merge

#4463 feat(storage): integrate tiered cache system
  risedev.yml
  src/common/src/config.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/config/risingwave.toml
  src/ctl/src/common/hummock_service.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/tiered_cache.rs
  src/storage/src/store_impl.rs
Labels: type/feature, mergify/can-merge

#4516 fix(batch): consume dml status and ensure task id always found
  src/batch/src/task/task_manager.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix, mergify/can-merge

#4499 fix: drop internal tables when drop table/index
  src/meta/src/manager/catalog.rs
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/fix, mergify/can-merge

#4505 fix: set http2 connection windows size to unlimited
  src/common/src/config.rs
  src/compute/src/server.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/stream_client.rs
Labels: type/fix, mergify/can-merge

#4491 feat(CI):add extended_query e2e test in CI
  ci/scripts/e2e-test.sh
  e2e_test/extended_query/basic.slt
Labels: type/feature, mergify/can-merge

#4523 refactor(encoding): remove cell-based encoding
  src/ctl/src/cmd_impl/table/scan.rs
  src/storage/src/row_serde/cell_based_row_deserializer.rs
  src/storage/src/row_serde/cell_based_row_serializer.rs
  src/storage/src/row_serde/dedup_pk_cell_based_row_deserializer.rs
  src/storage/src/row_serde/dedup_pk_cell_based_row_serializer.rs
  src/storage/src/row_serde/mod.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/storage_table.rs
  src/storage/src/table/test_relational_table.rs
Labels: type/refactor, mergify/can-merge

#4519 refactor(test): remove stream proto test case
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
Labels: type/refactor, component/test, mergify/can-merge

#4525 fix(meta): fix stop all actors step of recovery
  src/stream/src/task/stream_manager.rs
Labels: type/fix, mergify/can-merge

#4486 feat(sink): add debezium update in KafkaSink
  scripts/source/prepare_ci_kafka.sh
  src/common/src/array/data_chunk_iter.rs
  src/connector/src/sink/kafka.rs
Labels: type/feature, mergify/can-merge

#4524 feat(common): support serializing struct and list with array index to memcomparable format
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
Labels: type/feature, component/common, mergify/can-merge

#4484 fix(compactor): fix estimate memory size for compression
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/common/src/monitor/mod.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/storage/benches/bench_block_iter.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/block_iterator.rs
  src/storage/src/hummock/sstable/bloom.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/monitor/state_store_metrics.rs
  src/storage/src/storage_failpoints/test_sstable.rs
Labels: mergify/can-merge

#4536 feat(storage): Modify the locks on shared buffer and local version
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/mod.rs
Labels: type/feature, mergify/can-merge

#4531 feat: support show sink
  e2e_test/source/basic_test.slt
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/show.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, mergify/can-merge

#4526 feat(expr): support assignment casts for temporal types
  e2e_test/batch/types/cast.slt.part
  src/common/src/types/interval.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/cast.rs
Labels: type/feature, mergify/can-merge

#4537 fix(executor): handle invalid `hop` arguments
  e2e_test/batch/basic/time_window.slt.part
  e2e_test/streaming/time_window.slt
  src/common/src/types/interval.rs
  src/frontend/src/planner/relation.rs
  src/frontend/test_runner/tests/testdata/time_window.yaml
Labels: type/fix, mergify/can-merge

#4544 refactor(fragmenter): delete unneeded `self.` in fragmenter
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
Labels: type/refactor, mergify/can-merge

#4542 fix(storage): remove timeout when get compaction group id
  src/storage/src/hummock/compaction_group_client.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/mod.rs
Labels: type/fix, mergify/can-merge

#4539 feat(stream key): rename logical_pk && move add count for stream agg in to stream
  src/frontend/src/optimizer/plan_node/batch_exchange.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_limit.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/append_only.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/pk_derive.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature, mergify/can-merge

#4530 fix(meta): fix catalog notification
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/notification.rs
  src/meta/src/manager/relation.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
Labels: type/fix, mergify/can-merge

#4503 feat(connector): better names for connector properties
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/pulsar/mod.rs
Labels: type/feature, component/connector, user-facing-changes, mergify/can-merge

#4538 feat(expr): support casting temporal types to string
  e2e_test/batch/types/cast.slt.part
  src/common/src/types/ordered_float.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/handler/util.rs
Labels: type/feature, mergify/can-merge

#4552 fix: file cache append index out of range
  src/storage/src/hummock/sstable_store.rs
Labels: type/fix, mergify/can-merge

#4551 feat(compactor): split code to more files to make code more readable
  src/bench/ss_bench/main.rs
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/compaction_executor.rs
  src/storage/src/hummock/compactor/compaction_filter.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
Labels: mergify/can-merge

#4541 refactor(meta): merge `UserManager`, `CatalogManager` and `FragmentManager`(Part 1)
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/id.rs
  src/meta/src/manager/mod.rs
  src/meta/src/manager/notification.rs
  src/meta/src/manager/user.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/cluster_service.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/heartbeat_service.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/rpc/service/user_service.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, mergify/can-merge

#4535 chore: remove debug context and allow to check current context with async stack trace
  src/batch/src/task/task_execution.rs
  src/common/src/util/debug/context.rs
  src/common/src/util/debug/mod.rs
  src/common/src/util/mod.rs
  src/storage/src/hummock/compactor/compaction_executor.rs
  src/stream/src/executor/debug/trace.rs
  src/utils/async_stack_trace/src/context.rs
  src/utils/async_stack_trace/src/lib.rs
Labels: type/chore, mergify/can-merge

#4563 fix(frontend): fix lookup join predicate
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: type/fix, mergify/can-merge

#4550 fix(test): fix deterministic test
  Cargo.lock
  ci/scripts/deterministic-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/test_runner/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/stream/Cargo.toml
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/utils/async_stack_trace/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
Labels: type/fix, mergify/can-merge

#4560 refactor: propose the API semantics of abort_task
  proto/task_service.proto
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
Labels: type/refactor, mergify/can-merge

#4568 feat(meta): migration by default when recovery enabled in meta
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature, mergify/can-merge

#4546 fix(expr): reject flag for regexp_match(es)
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/table_function.rs
Labels: type/fix, mergify/can-merge
