Repository risingwavelabs/risingwave, pull requests merged in 2022-06, with the labels that each got.

#2936 refactor(DataChunk): use `new` rather than `DataChunkBuilder` or `try_from` in simple cases
  src/batch/src/executor/delete.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/limit.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/project.rs
  src/batch/src/executor/update.rs
  src/batch/src/executor/values.rs
  src/common/src/array/data_chunk.rs
  src/common/src/hash/key.rs
  src/common/src/util/chunk_coalesce.rs
  src/compute/tests/table_v2_materialize.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/expr_field.rs
  src/expr/src/expr/expr_is_null.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_distinct_agg.rs
  src/expr/src/vector_op/agg/general_sorted_grouper.rs
  src/source/src/common.rs
  src/storage/src/table/cell_based_table.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/project.rs
Labels: type/refactor

#2922 feat(executor): add output indices to `HopWindow` executor
  proto/batch_plan.proto
  proto/stream_plan.proto
  src/batch/src/executor/hop_window.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/time_window.yaml
  src/stream/src/executor/hop_window.rs
  src/stream/src/from_proto/hop_window.rs
Labels: type/feature

#2937 refactor(meta): use IdGenerator for compaction task id
  proto/hummock.proto
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/manager/id.rs
  src/storage/hummock_sdk/src/lib.rs
Labels: type/refactor

#2946 refactor(batch): Executor builder should not create their children
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/executor/delete.rs
  src/batch/src/executor/filter.rs
  src/batch/src/executor/generate_series.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/hop_window.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/join/sort_merge_join.rs
  src/batch/src/executor/limit.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/project.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/top_n.rs
  src/batch/src/executor/update.rs
  src/batch/src/executor/values.rs
Labels: type/refactor

#2942 feat(steaming): use table_id as topN prefix for keyspace
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph.rs
  src/stream/src/from_proto/top_n.rs
Labels: type/feature

#2940 feat(state_table): add pk_indices in state_table
  src/compute/tests/row_seq_scan.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
Labels: type/feature

#2950 refactor(streaming): refactor assign table_id logic
  src/frontend/src/stream_fragmenter/mod.rs
Labels: type/refactor

#2956 chore: do not #[allow(unused)]
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/scheduler/query_manager.rs
  src/frontend/src/scheduler/task_context.rs
  src/storage/src/hummock/iterator/backward_user.rs
Labels: type/chore, component/ci

#2959 refactor: tweak mod visibility & structure of `frontend/scheduler`
  src/frontend/src/handler/query.rs
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/distributed/mod.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#2963 refactor(meta): remove RefId proto in hummock
  proto/hummock.proto
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/model/compact_task_assignment.rs
  src/meta/src/hummock/model/current_version_id.rs
  src/meta/src/hummock/model/pinned_snapshot.rs
  src/meta/src/hummock/model/pinned_version.rs
  src/meta/src/hummock/model/sstable_id_info.rs
  src/meta/src/hummock/model/stale_sstables.rs
  src/meta/src/hummock/model/version.rs
Labels: type/refactor

#2844 feat: new split discovery in meta node
  src/meta/src/rpc/server.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature

#2943 feat(frontend): support user manager in frontend
  Cargo.lock
  e2e_test/ddl/user.slt
  proto/meta.proto
  src/frontend/Cargo.toml
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/drop_user.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/lib.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/mod.rs
  src/frontend/src/user/user_manager.rs
  src/frontend/src/user/user_service.rs
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/notification.rs
  src/meta/src/manager/user.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/user_service.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
  src/sqlparser/tests/testdata/drop.yaml
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, component/meta, component/frontend, user-facing changes

#2966 chore(config): set meta cache to 1gb
  src/config/risingwave.toml
Labels: type/chore, component/ci

#2883 feat(expr): add array access support
  e2e_test/batch/array_access.slt
  src/common/src/array/list_array.rs
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_binary_nullable.rs
  src/expr/src/expr/mod.rs
  src/expr/src/vector_op/array_access.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/test_runner/tests/testdata/array_access.yaml
Labels: type/feature

#2971 release: v0.1.8
  .github/workflows/main.yml
  Cargo.lock
  Makefile.toml
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/test_runner/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/sqlparser/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/stream/Cargo.toml
  src/utils/logging/Cargo.toml
  src/utils/memcomparable/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/value-encoding/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: Invalid PR Title

#2923 feat(stream): support replace source reader at runtime
  src/compute/tests/table_v2_materialize.rs
  src/connector/src/base.rs
  src/connector/src/datagen/split.rs
  src/connector/src/kafka/split.rs
  src/connector/src/kinesis/split.rs
  src/connector/src/nexmark/split.rs
  src/connector/src/pulsar/enumerator/client.rs
  src/connector/src/pulsar/split.rs
  src/connector/src/pulsar/topic.rs
  src/stream/src/executor/source.rs
  src/stream/src/from_proto/source.rs
Labels: type/feature

#2970 fix(types): reduce [Struct/List]Value memory usage and fix Decimal data_size
  src/common/src/array/list_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
Labels: type/fix

#2975 feat(expr): Implementation for bitwise operation (Continue PR #2884)
  src/expr/src/vector_op/arithmetic_op.rs
Labels: type/feature

#2974 chore(ci): speedup unit test
  ci/scripts/unit-test.sh
Labels: type/chore, component/ci

#2982 feat(build): drop support for TiKV and RocksDB, and speedup compile
  ci/scripts/build.sh
  ci/scripts/common.env.sh
  ci/scripts/deterministic-simulation-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test.sh
  ci/scripts/misc-check.sh
  ci/scripts/unit-test.sh
  src/compute/src/lib.rs
  src/frontend/src/lib.rs
  src/meta/src/lib.rs
  src/storage/compactor/src/lib.rs
  src/storage/src/lib.rs
  src/storage/src/rocksdb_local.rs
  src/storage/src/rocksdb_local_mock.rs
  src/storage/src/store_impl.rs
  src/storage/src/tikv.rs
  src/storage/src/tikv_mock.rs
Labels: type/feature

#2983 fix(risedev): apply-frontend-test on macOS
  src/frontend/test_runner/planner_test.toml
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/array.yaml
  src/frontend/test_runner/tests/testdata/array_access.yaml
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
  src/frontend/test_runner/tests/testdata/common_table_expressions.yaml
  src/frontend/test_runner/tests/testdata/distribution_derive.yaml
  src/frontend/test_runner/tests/testdata/expr.yaml
  src/frontend/test_runner/tests/testdata/index.yaml
  src/frontend/test_runner/tests/testdata/insert.yaml
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/limit.yaml
  src/frontend/test_runner/tests/testdata/mv_on_mv.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/order_by.yaml
  src/frontend/test_runner/tests/testdata/pk_derive.yaml
  src/frontend/test_runner/tests/testdata/predicate_pushdown.yaml
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/frontend/test_runner/tests/testdata/struct_query.yaml
  src/frontend/test_runner/tests/testdata/subquery.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/time_window.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
  src/frontend/test_runner/tests/testdata/types.yaml
  src/frontend/test_runner/tests/testdata/update.yaml
Labels: type/fix

#2984 feat(build): link openssl statically
  .config/hakari.toml
  .github/aws-config/Dockerfile
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/Dockerfile
  ci/scripts/build.sh
  ci/scripts/unit-test.sh
  docker/Dockerfile
  docker/aws/Dockerfile
  docker/aws/aws-build.sh
  docs/developer-guide.md
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/object_store/Cargo.toml
  src/risedevtool/Cargo.toml
  src/utils/logging/Cargo.toml
  src/utils/static-link/Cargo.toml
  src/utils/static-link/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#2979 feat(grafana): use Python script to generate dashboard
  docker/risingwave-dashboard.json
  docker/risingwave.toml
  docs/developer-guide.md
  grafana/.gitignore
  grafana/README.md
  grafana/generate.sh
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  grafana/update.sh
Labels: type/feature

#2988 chore(risedev): store kafka and frontend config when compose deploy
  src/risedevtool/src/bin/risedev-compose.rs
Labels: type/chore, component/ci

#2920 refactor(storage): avoid KeyRange type conversion
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/level_handler.rs
  src/storage/hummock_sdk/src/key_range.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/prost_key_range.rs
Labels: type/refactor, component/storage

#2977 feat(expr): Implement approx_count_distinct for batch queries
  proto/expr.proto
  src/expr/src/expr/agg.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/approx_count_distinct.rs
  src/expr/src/vector_op/agg/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/feature, user-facing changes

#2864 feat(vnode bitmap): implement vnode-aware overlap in compaction
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
Labels: type/feature

#2989 chore(test): prevent test compile OOM
  src/compute/tests/integration_tests.rs
  src/compute/tests/row_seq_scan.rs
  src/frontend/test_runner/Cargo.toml
  src/frontend/test_runner/src/lib.rs
Labels: type/chore, component/ci

#2964 feat: add hummock rpc `unpin_snapshot_before`
  proto/hummock.proto
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/hummock_meta_client.rs
Labels: type/feature

#2992 feat(streaming): use table_id as AppendOnlytopN prefix for keyspace
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph.rs
  src/stream/src/from_proto/top_n_appendonly.rs
Labels: type/feature

#2987 feat(optimizer): pushdown predicate to LogicalScan
  src/frontend/src/handler/create_index.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/utils/mod.rs
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/predicate_pushdown.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2978 feat: enable exchange operator on frontend to send local execution mode request
  proto/batch_plan.proto
  src/batch/src/execution/grpc_exchange.rs
  src/batch/src/execution/local_exchange.rs
  src/batch/src/execution/mod.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/lib.rs
Labels: type/feature

#2996 fix: remove unsafe impl Sync trait for LruCacheShard
  src/common/src/cache.rs
Labels: type/fix

#2995 chore: Ignore commits in the blame view
  .git-blame-ignore-revs
Labels: type/chore, component/ci

#2990 chore(ci): migrate docker build pipeline
  ci/scripts/docker.sh
  ci/workflows/docker.yml
Labels: type/chore, component/ci

#3012 chore(risedev): allow minio to be used on non-root disk
  src/risedevtool/src/task/minio_service.rs
Labels: type/chore, component/ci

#2965 feat(meta): record total size of files in version
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  proto/hummock.proto
  src/meta/src/hummock/compaction/compaction_picker.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature

#3010 feat(streaming): source executor use table_id for keyspace prefix
  src/stream/src/from_proto/source.rs
Labels: type/feature

#3018 fix(streaming): fix some test with keyspace::table_root
  src/compute/tests/integration_tests.rs
  src/connector/src/state.rs
  src/storage/src/keyspace.rs
  src/storage/src/table/test_relational_table.rs
  src/storage/src/write_batch.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/source.rs
  src/stream/src/executor/test_utils.rs
Labels: type/fix

#3019 chore(build): bump deps
  Cargo.lock
  src/common/Cargo.toml
  src/connector/Cargo.toml
Labels: type/chore, component/ci

#3011 feat(risedev): support ipv6 in config
  Cargo.lock
  risedev.yml
  src/common/Cargo.toml
  src/common/src/error.rs
  src/common/src/util/addr.rs
  src/risedevtool/src/bin/risedev-playground.rs
  src/risedevtool/src/task/task_configure_grpc_node.rs
Labels: type/feature

#3023 fix(connector): use bound channel for source
  src/source/src/connector_source.rs
Labels: type/fix

#3004 feat: support grant/revoke privilege in frontend
  e2e_test/ddl/privilege.slt
  proto/user.proto
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_manager.rs
  src/frontend/src/user/user_service.rs
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/user.rs
  src/meta/src/rpc/service/user_service.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/privilege.yaml
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing changes

#2919 feat(storage): support write anytime and spill to disk
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/feature

#3020 feat(stream): introduce allocator_api in JoinHashMap
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/collection/evictable.rs
  src/common/src/lib.rs
  src/stream/Cargo.toml
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/lib.rs
  src/utils/stats_alloc/Cargo.toml
  src/utils/stats_alloc/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#3026 refactor(DataChunk): use `new` rather than `DataChunkBuilder` or `try_from`
  e2e_test/batch/join.slt
  src/batch/src/executor/generate_series.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/hash_join_state.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/values.rs
  src/common/src/array/data_chunk.rs
  src/common/src/util/chunk_coalesce.rs
Labels: type/refactor

#3034 fix: should always unpin epoch for dml query
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
Labels: type/fix

#3033 fix(config): parameters are case insensitive in set command
  e2e_test/batch/local_mode.slt
  src/frontend/src/session.rs
Labels: type/fix

#3035 feat(compaction): notify meta when hash mapping changes
  src/meta/src/manager/hash_mapping.rs
  src/meta/src/stream/scheduler.rs
Labels: type/feature

#2952 feat(meta): initiate static compaction groups
  proto/hummock.proto
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/prost_type.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/compaction_group/mod.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/sstable/group_builder.rs
Labels: type/feature, component/meta, component/storage

#2957 perf(executor): decode row datums from pk
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/catalog/column.rs
  src/common/src/types/mod.rs
  src/common/src/util/ordered/mod.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/batch_query.rs
Labels: type/perf

#3030 feat(storage): introduce non-proto type for vnode bitmap
  src/common/src/consistent_hash/mod.rs
  src/common/src/consistent_hash/vnode.rs
  src/common/src/lib.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/utils.rs
Labels: type/feature

#3008 feat(relational_iter): add state_table_iter with pk_prefix and pk_bounds
  src/common/src/array/data_chunk_iter.rs
  src/storage/src/keyspace.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
Labels: type/feature

#2961 feat(pgwire): introduce simple extended query mode
  Cargo.lock
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_field_descriptor.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature

#3031 feat(storage): support parallel upload
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/bench/ss_bench/main.rs
  src/common/src/config.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/feature

#2993 feat: use unpin_snapshot_before in FE
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
Labels: type/feature

#3048 chore: remove scan_with_start_key
  src/storage/src/keyspace.rs
Labels: type/chore, component/ci

#3056 chore(docs): bump to 0.1.8 and update CI badge
  README.md
Labels: type/chore, component/ci

#3046 feat(ci): parallelize e2e test
  ci/Dockerfile
  ci/scripts/e2e-test-parallel.sh
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  e2e_test/batch/array.slt
  e2e_test/batch/basic.slt
  e2e_test/batch/bitwise.slt
  e2e_test/batch/const.slt
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/func.slt
  e2e_test/batch/generate_series.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/struct.slt
  e2e_test/batch/types/array_ty.slt
Labels: type/feature

#3052 feat(storage): support concurrent upload in capacity split sst builder
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/feature

#3042 refactor(session): error when setting unrecognized configuration parameter
  src/common/src/error.rs
  src/common/src/lib.rs
  src/common/src/session_config.rs
  src/frontend/src/config.rs
  src/frontend/src/handler/dml.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/set.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/session.rs
  src/frontend/test_runner/src/lib.rs
Labels: type/refactor

#3062 release: v0.1.9
  .github/workflows/main.yml
  Cargo.lock
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/test_runner/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/sqlparser/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/stream/Cargo.toml
  src/utils/logging/Cargo.toml
  src/utils/memcomparable/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/static-link/Cargo.toml
  src/utils/stats_alloc/Cargo.toml
  src/utils/value-encoding/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: Invalid PR Title

#3068 fix: the signature unmatch in async trait function
  src/storage/src/table/state_table.rs
Labels: type/fix

#3072 fix(connector): remove redundant warning
  src/connector/src/datagen/split.rs
Labels: type/fix

#3076 chore(docs): change risingwave logo in readme
  docs/images/logo-title.svg
Labels: type/chore, component/ci

#3079 fix(e2e): cleanup after extreme null test
  e2e_test/streaming/extreme_null.slt
Labels: type/fix

#3063 test(common): move test_runner to risingwave_test_runner
  Cargo.lock
  Cargo.toml
  src/meta/src/manager/env.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/mod.rs
  src/storage/src/lib.rs
  src/test_runner/Cargo.toml
  src/test_runner/src/lib.rs
  src/test_runner/src/test_runner.rs
Labels: component/test

#3045 fix(metrics): add executor throughput and remove actor throughput
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/stream/src/executor/debug.rs
  src/stream/src/executor/debug/trace.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#3014 feat(batch): index scan & point get
  e2e_test/batch/range_scan.slt
  proto/batch_plan.proto
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/catalog/physical_table.rs
  src/common/src/util/ordered/serde.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/utils/condition.rs
  src/frontend/src/utils/mod.rs
  src/frontend/src/utils/scan_range.rs
  src/frontend/test_runner/tests/testdata/range_scan.yaml
  src/storage/src/table/cell_based_table.rs
Labels: type/feature

#3078 fix: cannot create a materialized view with struct column
  e2e_test/streaming/struct_table.slt
  src/common/src/catalog/column.rs
  src/frontend/src/catalog/column_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
Labels: type/fix

#3087 fix(ci): fix executor metrics in release mode
  src/stream/src/executor/debug.rs
  src/stream/src/executor/debug/trace.rs
Labels: type/fix

#3038 feat(storage): use exist_table_id to filter exist key when compaction
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
Labels: type/feature

#3088 chore(storage): remove redundant Result on `serialize_pk`
  src/common/src/util/ordered/serde.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
Labels: type/chore, component/ci

#3083 feat(risedev): support prometheus + redpanda
  risedev.yml
  src/risedevtool/src/compose.rs
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/service_config.rs
Labels: type/feature

#3081 refactor(expr): introduce ExprError
  src/batch/src/executor/project.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/update.rs
  src/batch/src/executor/values.rs
  src/common/src/error.rs
  src/expr/src/error.rs
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_array.rs
  src/expr/src/expr/expr_case.rs
  src/expr/src/expr/expr_coalesce.rs
  src/expr/src/expr/expr_concat_ws.rs
  src/expr/src/expr/expr_field.rs
  src/expr/src/expr/expr_in.rs
  src/expr/src/expr/expr_input_ref.rs
  src/expr/src/expr/expr_is_null.rs
  src/expr/src/expr/expr_literal.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/expr/mod.rs
  src/expr/src/expr/template.rs
  src/expr/src/lib.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_distinct_agg.rs
  src/expr/src/vector_op/agg/general_sorted_grouper.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/array_access.rs
  src/expr/src/vector_op/ascii.rs
  src/expr/src/vector_op/bitwise_op.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/cmp.rs
  src/expr/src/vector_op/conjunction.rs
  src/expr/src/vector_op/extract.rs
  src/expr/src/vector_op/length.rs
  src/expr/src/vector_op/like.rs
  src/expr/src/vector_op/lower.rs
  src/expr/src/vector_op/ltrim.rs
  src/expr/src/vector_op/md5.rs
  src/expr/src/vector_op/position.rs
  src/expr/src/vector_op/replace.rs
  src/expr/src/vector_op/round.rs
  src/expr/src/vector_op/rtrim.rs
  src/expr/src/vector_op/split_part.rs
  src/expr/src/vector_op/substr.rs
  src/expr/src/vector_op/tests.rs
  src/expr/src/vector_op/to_char.rs
  src/expr/src/vector_op/translate.rs
  src/expr/src/vector_op/trim.rs
  src/expr/src/vector_op/tumble.rs
  src/expr/src/vector_op/upper.rs
  src/source/src/parser/common.rs
  src/stream/src/from_proto/project.rs
Labels: type/refactor

#3090 test(bench): add compression benchmark
  src/storage/Cargo.toml
  src/storage/benches/bench_compression.rs
  src/storage/src/hummock/sstable/block.rs
Labels: component/test

#3094 feat: alias data type `STRING` to `VARCHAR`
  e2e_test/batch/func.slt
  src/frontend/src/binder/expr/mod.rs
Labels: type/feature

#3074 feat: support user authentication in frontend
  README.md
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  dashboard/README.md
  docs/developer-guide.md
  src/common/src/catalog/mod.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/mod.rs
  src/frontend/src/user/user_authentication.rs
  src/meta/src/manager/user.rs
  src/risedevtool/src/bin/risedev-compose.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature, user-facing changes

#3060 perf(executor): implement dedup pk decoding for BatchQueryExecutor
  proto/plan_common.proto
  proto/stream_plan.proto
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/from_proto/batch_query.rs
Labels: type/perf

#3093 feat(ci): cache artifacts in build image
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/build.sh
  ci/scripts/deterministic-simulation-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  ci/scripts/unit-test.sh
Labels: type/feature

#3098 refactor: remove macros from flush status
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/flush_status.rs
Labels: type/refactor

#3061 feat(meta): add compaction group service/client
  proto/hummock.proto
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/compaction_group_client.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/mod.rs
Labels: type/feature, component/meta, component/storage

#3075 feat(storage): add combined SST builder
  src/storage/src/hummock/sstable/group_builder.rs
Labels: type/feature, component/storage

#3044 feat(meta): register/unregister table fragments to compaction group
  src/meta/src/barrier/command.rs
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/compaction_group/mod.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/src/hummock/sstable/builder.rs
Labels: type/feature, component/meta, component/storage

#3057 refactor(relational_iter): dedup `into_stream_inner` and `into_stream` in StateTableRowIter
  src/storage/src/table/state_table.rs
Labels: type/refactor

#3103 refactor(connector): simplify pulsar reader
  src/connector/src/pulsar/source/reader.rs
Labels: type/refactor

#3099 chore(ci): ci upload failure logs
  ci/plugins/upload-failure-logs/hooks/post-command
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: type/chore, component/ci

#2882 feat(storage): implement read pruning by vnode
  src/batch/src/executor/insert.rs
  src/bench/ss_bench/operations/get.rs
  src/bench/ss_bench/operations/prefix_scan_random.rs
  src/common/src/consistent_hash/vnode.rs
  src/common/src/hash/dispatcher.rs
  src/common/src/hash/key.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/meta/src/manager/hash_mapping.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/snapshot_tests.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/value.rs
  src/storage/src/keyspace.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/storage_failpoints/test_hummock.rs
  src/storage/src/storage_value.rs
  src/storage/src/store.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/global_simple_agg.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/mview.rs
Labels: type/feature

#3091 feat(binder): add concat
  e2e_test/batch/functions/concat.slt
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/mod.rs
  src/frontend/test_runner/tests/testdata/expr.yaml
Labels: type/feature

#3108 refactor(common): extend `CheckedAdd` with `Rhs` and `Output`
  src/batch/src/executor/table_function.rs
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/ops.rs
  src/expr/src/vector_op/arithmetic_op.rs
Labels: type/refactor

#3106 fix: fix the table descs of value state
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
Labels: type/fix

#3096 fix(expr): several expressions handle visibility incorrectly
  src/common/src/array/data_chunk.rs
  src/expr/src/expr/expr_case.rs
  src/expr/src/expr/expr_in.rs
Labels: type/fix

#3071 fix: no need to expect mem table return Err
  src/storage/src/table/state_table.rs
Labels: type/fix

#3114 feat(storage): optimize get existing table ids when compact
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature, component/storage

#3119 fix(optimizer): fix lost projection pk
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/pk_derive.yaml
Labels: type/fix

#3117 fix(compaction): fix compaction task do not schedule even if the number of L0 files is very large
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
Labels: type/fix

#3100 chore(build): bump toolchain to 2022-06-09
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/unit-test.sh
  e2e_test/batch/functions/concat.slt
  rust-toolchain
  src/connector/src/kinesis/source/reader.rs
  src/expr/src/vector_op/agg/general_sorted_grouper.rs
  src/expr/src/vector_op/ascii.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/test_runner/src/lib.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/prost/helpers/src/generate.rs
  src/prost/helpers/src/lib.rs
  src/sqlparser/src/parser.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/table/cell_based_table.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
Labels: type/chore, component/ci

#3123 fix(risedev): specify username in playground hints
  src/risedevtool/src/bin/risedev-playground.rs
Labels: type/fix

#3104 fix(pg-wire): fix the simple extended query mode
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/fix

#3124 feat(connector): add random seed for datagen
  src/connector/src/datagen/mod.rs
  src/connector/src/datagen/source/reader.rs
Labels: type/feature

#3110 chore(risedev): tune etcd configuration.
  src/risedevtool/src/task/etcd_service.rs
Labels: type/chore, component/ci

#3126 fix: iter only need the pk prefix reference instead of ownership
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
Labels: type/fix

#3127 feat: add default super user postgres
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  dashboard/README.md
  docs/developer-guide.md
  src/common/src/catalog/mod.rs
  src/meta/src/manager/user.rs
Labels: type/feature

#3128 fix(meta): use CompactionConfigBuilder
  src/meta/src/hummock/compaction_group/manager.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
Labels: type/fix

#3113 fix: create mv support array expression
  e2e_test/batch/array.slt
  src/common/src/types/mod.rs
  src/utils/memcomparable/src/de.rs
  src/utils/memcomparable/src/ser.rs
Labels: type/fix

#2914 feat: support struct expression
  e2e_test/batch/struct.slt
  e2e_test/batch/types/struct_ty.slt
  proto/expr.proto
  src/common/src/array/struct_array.rs
  src/expr/src/expr/expr_nested_construct.rs
  src/expr/src/expr/mod.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/struct_field.rs
  src/frontend/src/binder/values.rs
  src/frontend/test_runner/tests/testdata/struct_query.yaml
Labels: type/feature

#3140 refactor(streaming): remove `AggStateError` variant and more
  src/common/src/catalog/schema.rs
  src/common/src/error.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/foldable.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/aggregation/row_count.rs
  src/stream/src/executor/aggregation/single_value.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/extreme_serializer.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/top_n_executor.rs
Labels: type/refactor

#3142 refactor(stream): remove TopNStateError
  src/stream/src/executor/error.rs
  src/stream/src/executor/managed_state/top_n/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
Labels: type/refactor

#3151 chore: remove all tracing logs relates to pin/unpin
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/meta/src/hummock/hummock_manager.rs
Labels: type/chore, component/ci

#3153 chore(storage): deprecate in-memory state store in e2e scenarios
  risedev.yml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/utils.rs
  src/storage/src/store_impl.rs
Labels: type/chore, component/ci

#3138 feat(hummock): remove combine group for compaction
  proto/hummock.proto
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/feature

#3121 feat(expr): Implement approx_count_distinct for stream processing
  src/expr/src/vector_op/agg/approx_count_distinct.rs
  src/stream/src/executor/aggregation/approx_count_distinct.rs
  src/stream/src/executor/aggregation/mod.rs
Labels: type/feature

#3163 fix(streaming): compile error in count distinct
  src/stream/src/executor/aggregation/approx_count_distinct.rs
Labels: type/fix

#3158 test: add some real-world use cases to e2e testing
  e2e_test/database/test.slt
  e2e_test/streaming/demo/ad_ctr.slt
  e2e_test/streaming/demo/metric_analysis.slt
  e2e_test/streaming/mv_on_mv.slt
Labels: component/test

#3168 chore: cargo update for frontend/test_runner
  Cargo.lock
Labels: type/chore, component/ci

#3166 feat(frontend): change the default schema name to public
  e2e_test/database/test.slt
  e2e_test/ddl/database.slt
  e2e_test/ddl/privilege.slt
  e2e_test/ddl/schema.slt
  e2e_test/ddl/show.slt
  src/common/src/catalog/mod.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/drop_database.rs
Labels: type/feature

#3171 fix(optimizer): fix logical scan pk derive
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/test_runner/tests/testdata/pk_derive.yaml
Labels: type/fix

#3164 refactor(metrics): move some metrics from meta to compactor
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/monitor/state_store_metrics.rs
Labels: type/refactor

#3173 fix(binder): bind CTE only when schema_name is empty
  e2e_test/batch/cte.slt
  src/frontend/src/binder/relation/mod.rs
Labels: type/fix

#3141 fix(storage): re-enable compaction filter
  src/meta/src/hummock/compaction_group/manager.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
Labels: type/fix

#3176 fix(doc): Add link for batch local execution mode
  docs/README.md
Labels: type/fix

#3032 feat(batch): split plan into fragments for local execution mode
  e2e_test/batch/const.slt.part
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/join.slt.part
  e2e_test/batch/local_mode.slt
  e2e_test/batch/order_by.slt.part
  e2e_test/batch/query.slt.part
  e2e_test/batch/range_scan.slt.part
  src/batch/src/rpc/service/task_service.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/scheduler/task_context.rs
  src/frontend/src/session.rs
Labels: type/feature

#3152 feat: support select Row()
  e2e_test/batch/types/struct_ty.slt
  src/sqlparser/src/parser.rs
Labels: type/feature

#3177 chore(ci): ci add swap file for ec2 instance
  ci/plugins/swapfile/hooks/pre-command
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: type/chore, component/ci

#3156 feat(frontend): introduce scheduler error
  src/common/src/error.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/scheduler/worker_node_manager.rs
Labels: type/feature

#2969 feat(connector): SinkExecutor init + MySQLSink mvp
  Cargo.lock
  src/common/src/error.rs
  src/common/src/types/mod.rs
  src/connector/Cargo.toml
  src/connector/src/lib.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mysql.rs
  src/connector/src/sink/redis.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#3181 chore: clean up code for legacy frontend
  src/stream/src/from_proto/batch_query.rs
Labels: type/chore, component/ci

#3182 chore(ci): fix labeler
  .github/labeler.yml
Labels: type/chore

#3170 feat: add state for source manager
  proto/meta.proto
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature

#3175 fix(batch scheduler): has_table_scan had false negative
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/fix

#3188 feat(binder): allow CTE as time window table function's input
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/window_table_function.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/time_window.yaml
Labels: type/feature

#3193 fix(metric): fix SST meta miss metric
  src/storage/src/monitor/local_metrics.rs
Labels: type/fix

#3192 fix: fix in-correct unittest (pk infer)
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
Labels: type/fix

#3185 refactor(front): use no column for pk of simple agg
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/refactor

#3194 chore(metrics): split read metrics
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
Labels: type/chore

#3190 refactor: refactor create state table code + fix incorrect arguments
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
Labels: type/refactor

#3196 fix(storage): avoid endless loop when flush share buffer
  src/storage/src/hummock/local_version_manager.rs
Labels: type/fix

#3183 refactor(streaming): remove redundant hash_mapping in batch node
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/from_proto/batch_query.rs
Labels: type/refactor

#3199 fix: the agg value should be put behind pk
  src/stream/src/executor/managed_state/aggregation/value.rs
Labels: type/fix

#3201 refactor(state_table): pre-compute column id mapping
  src/common/src/util/ordered/serde.rs
  src/storage/src/cell_based_row_deserializer.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/state_table.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/sides.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/managed_state/top_n/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
Labels: type/refactor

#3207 fix(connector): support deterministic datagen for random int/float
  src/connector/src/datagen/source/field_generator/mod.rs
  src/connector/src/datagen/source/field_generator/numeric.rs
  src/connector/src/datagen/source/generator.rs
  src/connector/src/datagen/source/reader.rs
Labels: type/fix

#3197 chore(ci): remove docker workflows of Github Actions.
  .github/workflows/docker_main.yml
  .github/workflows/docker_pr.yml
Labels: type/chore

#3198 fix(frontend): show distinct in agg
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix

#3209 refactor(cell_based_table): rename iter_with_pk to dedup_pk_iter
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/batch_query.rs
Labels: type/refactor

#3210 refactor: cleanup dead code that casts between same type
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/expr/type_inference.rs
Labels: type/refactor

#3191 fix(state_table_iter): fix incorrect pk bounds
  src/storage/src/table/state_table.rs
Labels: type/fix

#3107 refactor(state_table): remove pk in state_table insert_row/delete_row
  src/compute/tests/integration_tests.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
Labels: type/refactor

#3221 style(batch scheduler): some style improvements
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/style

#3208 refactor(storage): remove vnode pruning from state store and keyspace
  src/batch/src/executor/insert.rs
  src/bench/ss_bench/operations/get.rs
  src/bench/ss_bench/operations/prefix_scan_random.rs
  src/common/src/consistent_hash/mod.rs
  src/common/src/consistent_hash/vnode.rs
  src/common/src/hash/key.rs
  src/common/src/lib.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/meta/src/manager/hash_mapping.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/snapshot_tests.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/hummock/value.rs
  src/storage/src/keyspace.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/storage_failpoints/test_hummock.rs
  src/storage/src/storage_value.rs
  src/storage/src/store.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/global_simple_agg.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/mview.rs
Labels: type/refactor

#3219 feat(parser): Implement parsing of SINK statement
  src/frontend/src/handler/show.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature
