Repository risingwavelabs/risingwave, pull requests merged in 2022-05, with the labels that each got.

#2258 refactor(frontend,streaming): separate output pk and internal key in topNExecutor
  legacy/planner/src/main/java/com/risingwave/planner/rel/streaming/PrimaryKeyDerivationVisitor.java
  legacy/planner/src/main/java/com/risingwave/planner/rel/streaming/RwStreamSort.java
  legacy/planner/src/test/resources/com/risingwave/planner/planner/streaming/PrimaryKeyDerivationTest.xml
  legacy/planner/src/test/resources/com/risingwave/planner/planner/streaming/StreamSortTest.xml
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/test_runner/tests/testdata/order_by.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/executor_v2/hash_join.rs
  src/stream/src/executor_v2/top_n.rs
  src/stream/src/executor_v2/top_n_appendonly.rs
Labels: type/refactor

#2264 fix(frontend): fix a bug of is_correlated(has_correlated_input_ref)
  src/frontend/src/expr/mod.rs
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix

#2267 fix(cmd_all): playground cannot start without risedev.yml
  risedev.yml
  src/cmd_all/src/playground.rs
Labels: type/fix

#2233 feat(simple-agg): use table ids for simple agg
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/meta/src/stream/fragmenter/graph/stream_graph.rs
  src/meta/src/stream/fragmenter/mod.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor_v2/aggregation/mod.rs
  src/stream/src/executor_v2/global_simple_agg.rs
  src/stream/src/executor_v2/hash_agg.rs
  src/stream/src/executor_v2/integration_tests.rs
  src/stream/src/executor_v2/test_utils.rs
Labels: type/feature

#2247 chore(ci): update permission
  .github/workflow-template/main-cron.yml
  .github/workflow-template/main-override.yml
  .github/workflow-template/pr-override.yml
  .github/workflow-template/template.yml
  .github/workflows/main-cron.yml
  .github/workflows/main.yml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/chore

#2266 refactor(frontend): separate post-agg Project from LogicalAgg::create
  src/frontend/src/binder/select.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/planner/select.rs
Labels: type/refactor

#2265 feat(frontend/expr): boolean constant folding for (Is, IsNot) x (True, False, Null)
  src/frontend/src/expr/utils.rs
  src/frontend/test_runner/tests/testdata/basic_query.yaml
Labels: type/feature

#2273 feat(frontend): bind & plan having
  src/frontend/src/binder/select.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/planner/select.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2274 docs: re-release v0.1.6
  README.md
Labels: component/doc

#2276 fix(planner): report unsupported post-agg correlated subquery
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
Labels: type/fix

#2277 refactor(relational-table): support serialize pk only
  src/common/src/util/ordered/serde.rs
  src/storage/src/cell_based_row_serializer.rs
  src/storage/src/table/cell_based_table.rs
Labels: type/refactor

#2278 feat(planner): support SELECT DISTINCT
  e2e_test/v2/batch/aggregate/distinct.slt
  src/frontend/src/planner/select.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
Labels: type/feature

#2282 chore(frontend): add run-planner-test for risedev
  src/frontend/test_runner/README.md
  src/frontend/test_runner/planner_test.toml
Labels: type/chore

#2281 feat(frontend): support distinct within agg call
  e2e_test/v2/batch/aggregate/count.slt
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature

#2256 feat(storage): use binary search to locate SST iterators
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/utils.rs
Labels: type/feature

#2286 feat(risedev): differentiate listen addr and advertise addr
  risedev.yml
  src/risedevtool/src/bin/risedev-playground.rs
  src/risedevtool/src/config_gen/frontend_gen.rs
  src/risedevtool/src/config_gen/grafana_gen.rs
  src/risedevtool/src/config_gen/kafka_gen.rs
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/config_gen/zookeeper_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/etcd_service.rs
  src/risedevtool/src/task/frontend_service_v2.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/task_configure_minio.rs
Labels: type/feature

#2294 feat(docker): add compactor and single binary into dockerfile
  docker/Dockerfile
Labels: type/feature

#2298 chore(storage): rename reverse to backward
  src/storage/src/hummock/iterator/backward_concat.rs
  src/storage/src/hummock/iterator/backward_merge.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/forward_concat.rs
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/snapshot_tests.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/state_store_metrics.rs
  src/storage/src/panic_store.rs
  src/storage/src/rocksdb_local.rs
  src/storage/src/rocksdb_local_mock.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/store.rs
  src/storage/src/tikv.rs
  src/storage/src/tikv_mock.rs
Labels: type/chore

#2288 feat(risedev): generate docker-compose.yaml
  Makefile.toml
  risedev.yml
  src/risedevtool/common.toml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/lib.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service_v2.rs
Labels: type/feature

#2299 feat(docker): separate image of each component
  .dockerignore
  .github/workflows/docker_build.yml
  .github/workflows/docker_main.yml
  .github/workflows/docker_pr.yml
  Makefile
  docker/Dockerfile
  docker/README.md
  docker/build.sh
  docker/docker-compose.yml
Labels: type/feature

#2296 chore(relational-table): store zero bytes for sentinel columns
  src/common/src/util/ordered/serde.rs
  src/stream/src/executor/lookup/tests.rs
Labels: type/chore

#2302 fix(state-store): fix a dead lock in memory state store
  src/storage/src/memory.rs
Labels: type/fix

#2303 refactor(proto): clean up unused methods in risingwave_pb
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/common/src/catalog/test_utils.rs
  src/common/src/lib.rs
  src/frontend/src/catalog/table_catalog.rs
  src/prost/src/imp.rs
  src/prost/src/lib.rs
  src/source/src/parser/protobuf_parser.rs
Labels: type/refactor

#2270 feat(meta): ensure chain index is placed at the same node of upstream
  e2e_test/v2/streaming/index.slt
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/meta/src/stream/fragmenter/graph/stream_graph.rs
  src/meta/src/stream/fragmenter/rewrite/delta_join.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature

#2306 feat(docker): add compactor in compose file
  docker/README.md
  docker/docker-compose.yml
  src/risedevtool/src/compose.rs
Labels: type/feature

#2314 chore(frontend): add test for delta join with projection
  e2e_test/v2/streaming/index.slt
  src/frontend/test_runner/tests/testdata/index.yaml
Labels: type/chore

#2316 chore(batch): remove outdated TODO in MergeSortExchangeExecutor
  src/batch/src/executor2/merge_sort_exchange.rs
Labels: type/chore

#540 feat(source): Add nexmark as source connector
  src/connector/Cargo.toml
  src/connector/src/base.rs
  src/connector/src/lib.rs
  src/connector/src/nexmark/config.rs
  src/connector/src/nexmark/enumerator/mod.rs
  src/connector/src/nexmark/mod.rs
  src/connector/src/nexmark/source/event.rs
  src/connector/src/nexmark/source/generator.rs
  src/connector/src/nexmark/source/message.rs
  src/connector/src/nexmark/source/mod.rs
  src/connector/src/nexmark/source/reader.rs
  src/connector/src/nexmark/split.rs
  src/connector/src/utils.rs
  src/expr/src/vector_op/cast.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/parser/common.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/protobuf_parser.rs
Labels: type/feature

#2305 test: add nexmark e2e
  Cargo.lock
  e2e_test/nexmark/create_tables.slt.part
  e2e_test/nexmark/drop_tables.slt.part
  e2e_test/nexmark/insert_auction.slt.part
  e2e_test/nexmark/insert_bid.slt.part
  e2e_test/nexmark/insert_person.slt.part
  e2e_test/streaming/nexmark/create_views.slt.part
  e2e_test/streaming/nexmark/drop_views.slt.part
  e2e_test/streaming/nexmark/q0.slt.part
  e2e_test/streaming/nexmark/q1.slt.part
  e2e_test/streaming/nexmark/q2.slt.part
  e2e_test/streaming/nexmark/q3.slt.part
  e2e_test/streaming/nexmark/views/q0.slt.part
  e2e_test/streaming/nexmark/views/q1.slt.part
  e2e_test/streaming/nexmark/views/q2.slt.part
  e2e_test/streaming/nexmark/views/q3.slt.part
  e2e_test/v2/streaming/nexmark_snapshot.slt
  e2e_test/v2/streaming/nexmark_upstream.slt
  src/common/src/error.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/binder/expr/value.rs
  src/source/Cargo.toml
  src/source/src/parser/common.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/protobuf_parser.rs
Labels: component/test

#2321 feat(frontend): add nexmark planner test
  src/frontend/test_runner/tests/testdata/nexmark.yaml
Labels: type/feature

#2322 test: add aggregation tests for tumble window
  e2e_test/v2/streaming/time_window.slt
Labels: component/test

#2327 refactor(batch): Use futures-async-stream to implement OrderBy executor
  src/batch/src/executor/mod.rs
  src/batch/src/executor2/mod.rs
  src/batch/src/executor2/order_by.rs
Labels: type/refactor

#2313 refactor(batch): refine sort agg
  src/batch/src/executor2/sort_agg.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/count_star.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_distinct_agg.rs
  src/expr/src/vector_op/agg/general_sorted_grouper.rs
Labels: type/refactor

#2252 feat(bitmap): store bitmap in meta store
  proto/hummock.proto
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/feature

#2328 fix(frontend): fix panic on `LogicalHopWindow::prune_col`
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
Labels: type/fix

#2067 feat(util): introduce non-memcomparable value encoding for Datum
  src/common/src/error.rs
  src/common/src/types/chrono_wrapper.rs
  src/common/src/util/value_encoding/error.rs
  src/common/src/util/value_encoding/mod.rs
  src/storage/src/cell_based_row_deserializer.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/feature

#2310 feat(risedev): support compose prometheus
  docker/README.md
  docker/docker-compose.yml
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/task/prometheus_service.rs
Labels: type/feature

#2340 refactor(storage): better cell based table serialization
  src/common/src/util/ordered/serde.rs
  src/storage/src/cell_based_row_deserializer.rs
  src/storage/src/cell_based_row_serializer.rs
  src/storage/src/table/cell_based_table.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/mview/state.rs
Labels: type/refactor

#2337 feat(source): support recover state from SourceStateHandler
  src/batch/src/executor2/delete.rs
  src/batch/src/executor2/insert.rs
  src/connector/src/base.rs
  src/connector/src/dummy_connector.rs
  src/connector/src/lib.rs
  src/connector/src/state.rs
  src/source/src/connector_source.rs
  src/source/src/lib.rs
  src/source/src/table_v2.rs
  src/stream/src/executor_v2/source.rs
Labels: type/feature

#2315 feat(storage): vacuum a larger set of ssts
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/vacuum.rs
Labels: type/feature

#2329 feat(frontend): order by arbitrary expr
  e2e_test/v2/batch/order_by.slt
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/query.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/planner/query.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/set_expr.rs
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/order_by.yaml
Labels: type/feature

#2257 feat(source): support source failover & refactor
  src/batch/src/executor2/delete.rs
  src/batch/src/executor2/insert.rs
  src/connector/src/base.rs
  src/connector/src/dummy_connector.rs
  src/connector/src/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/kafka/split.rs
  src/connector/src/kinesis/split.rs
  src/connector/src/lib.rs
  src/connector/src/nexmark/enumerator/mod.rs
  src/connector/src/nexmark/split.rs
  src/connector/src/pulsar/split.rs
  src/connector/src/state.rs
  src/meta/src/stream/stream_manager.rs
  src/source/src/connector_source.rs
  src/source/src/lib.rs
  src/source/src/table_v2.rs
  src/stream/src/executor/source.rs
Labels: type/refactor

#2347 fix(optimizer): logical_hop_window column prune
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
Labels: type/fix

#2349 feat(optimizer): outer join simplify
  src/frontend/src/optimizer/rule/filter_join.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2354 test: add aggregation tests for hop window
  e2e_test/v2/streaming/time_window.slt
Labels: component/test

#2335 feat: Add `to_local` method to generate local execution lan
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_exchange.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_limit.rs
  src/frontend/src/optimizer/plan_node/batch_project.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/batch_values.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Labels: type/feature

#2353 feat(storage): add GroupedSstableBuilder
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/mod.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/feature

#2361 feat(streaming): split chunks in source executor
  src/common/src/array/data_chunk.rs
  src/stream/src/executor/source.rs
Labels: type/feature

#2368 fix(dashboard-v2): failed to render because API is changed
  dashboard/components/StreamingView.js
  dashboard/lib/graaphEngine/canvasEngine.js
  dashboard/lib/streamPlan/parser.js
  dashboard/lib/streamPlan/streamChartHelper.js
Labels: type/fix

#2373 fix(builder): make caller(builder) call get_table_id with new interface
  src/storage/src/hummock/sstable/group_builder.rs
Labels: type/fix

#2376 feat(bitmap): remove old bitmap in sstablemeta
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/mod.rs
Labels: type/feature

#2378 chore(ci): enable license checker for forks
  .github/workflows/license_check.yml
Labels: type/chore

#2381 fix(lru cache): fix a bug when releasing the handle of a stale value
  src/storage/src/hummock/cache.rs
Labels: type/fix

#2385 chore: increase e2e timeout before fine tune hummock compaction
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main-cron.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Labels: type/chore

#2386 feat(storage): use the highest bit of sstable id to mark the sstable id generated from remote or local
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/feature

#2242 feat(compaction): support dynamic leveled-compaction
  src/meta/src/hummock/compaction/compaction_picker.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/mod.rs
  src/storage/src/hummock/cache.rs
  src/storage/src/hummock/compactor.rs
Labels: type/feature

#2382 refactor(binder): use `align_types` for `coalesce`
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/expr.yaml
Labels: type/refactor

#2395 feat(compaction) optimize performance when trigger and apply compaction
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/mod.rs
Labels: type/feature

#2380 test(compaction): re-enable ignored test
  src/storage/src/hummock/sstable/group_builder.rs
Labels: component/test

#2390 fix(connector): kinesis impl is mismatched to pulsar
  src/connector/src/base.rs
Labels: type/fix

#2388 feat(meta): send vnode mapping to compactor on compaction
  proto/common.proto
  proto/hummock.proto
  proto/meta.proto
  src/meta/src/cluster/mod.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/hash_mapping.rs
  src/meta/src/model/hash_mapping.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/utils.rs
Labels: type/feature

#2398 fix(streaming): inappropriate serialization for `JoinRow`
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/fix

#2399 refactor(bitmap): remove limit of bitmaps in SST
  src/storage/src/hummock/sstable/builder.rs
Labels: type/refactor

#2358 fix: fix failpoint tests and add to CI
  .github/workflow-template/jobs/compute-node-test.yml
  .github/workflows/main-cron.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/cache.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/storage_failpoints/test_hummock.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/storage_failpoints/test_sstable.rs
Labels: type/fix

#2215 feat(frontend): creation and deletion of database and schema
  e2e_test/v2/ddl/ddl.slt
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/test_utils.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create
  src/sqlparser/tests/testdata/create_source
  src/sqlparser/tests/testdata/create_table
  src/sqlparser/tests/testdata/drop
  src/sqlparser/tests/testdata/drop_index
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature

#2400 chore: bump toolchain and dependencies
  .github/workflow-template/template.yml
  .github/workflows/main-cron.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  Cargo.lock
  rust-toolchain
  src/batch/src/executor2/merge_sort_exchange.rs
  src/connector/Cargo.toml
  src/risedevtool/Cargo.toml
  src/source/Cargo.toml
  src/storage/Cargo.toml
  src/storage/benches/bench_lru_cache.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/sstable/bloom.rs
  src/tests/regress/src/schedule.rs
Labels: type/chore

#2409 refactor(failpoints): enable disabling bloom filter and block cache in failpoints test
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/storage_failpoints/test_iterator.rs
Labels: type/refactor

#2413 fix(meta): clean up all aborted creating mv when recovery
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix

#2393 refactor: add field_type in prost data type
  proto/data.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/common/src/types/mod.rs
Labels: type/refactor

#2419 chore: commands to clear/start dev cluster with kafka
  Makefile.toml
Labels: type/chore

#2410 feat(risedev): support host network mode
  docker/README.md
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/service_config.rs
Labels: type/feature

#2412 refactor(storage): batch version deletion in vacuum
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/vacuum.rs
Labels: type/refactor

#2424 test(streaming): disable tpch q20 and increase timeout limit
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main-cron.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  e2e_test/v2/streaming/tpch_snapshot.slt
  e2e_test/v2/streaming/tpch_upstream.slt
Labels: component/test

#2375 refactor(storage): decouple compaction task picking and assignment.
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
Labels: type/refactor

#2383 feat(stream): append-only hash agg & simple agg executors
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/aggregation/agg_call.rs
  src/stream/src/executor/aggregation/foldable.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/aggregation/single_value.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/from_proto/global_simple_agg.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/local_simple_agg.rs
Labels: type/feature

#2430 test(streaming): disable tpch q4 q18
  e2e_test/v2/streaming/tpch_snapshot.slt
  e2e_test/v2/streaming/tpch_upstream.slt
Labels: component/test

#2433 feat(frontend): support batch nested-loop join and enable TPCH Q11
  e2e_test/v2/batch/tpch.slt
  src/frontend/src/optimizer/plan_node/batch_nested_loop_join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/utils/condition.rs
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2439 refactor: use serde to parse connector properties
  src/connector/src/base.rs
  src/connector/src/dummy_connector.rs
  src/connector/src/filesystem/s3/s3_dir.rs
  src/connector/src/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/kafka/enumerator/client.rs
  src/connector/src/kafka/mod.rs
  src/connector/src/kafka/source/reader.rs
  src/connector/src/kinesis/config.rs
  src/connector/src/kinesis/source/reader.rs
  src/connector/src/lib.rs
  src/connector/src/nexmark/config.rs
  src/connector/src/nexmark/enumerator/mod.rs
  src/connector/src/nexmark/mod.rs
  src/connector/src/nexmark/source/event.rs
  src/connector/src/nexmark/source/reader.rs
  src/connector/src/properties.rs
  src/connector/src/pulsar/enumerator/client.rs
  src/connector/src/pulsar/mod.rs
  src/connector/src/pulsar/source/reader.rs
  src/connector/src/utils.rs
  src/meta/src/stream/source_manager.rs
  src/source/src/connector_source.rs
  src/source/src/manager.rs
  src/source/src/parser/mod.rs
Labels: type/refactor

#2444 chore: Fill svg images with white background to make them dark mode friendly
  docs/images/checkpoint/checkpoint.svg
  docs/images/data-model-and-encoding/chunk.svg
  docs/images/data-model-and-encoding/row-format.svg
  docs/images/data-source/data-source-arch.svg
  docs/images/meta-service/cluster-deployment.svg
  docs/images/mv-on-mv/mv-on-mv-01.svg
  docs/images/mv-on-mv/mv-on-mv-02.svg
  docs/images/state-store-overview/state-store-overview-01.svg
  docs/images/state-store-overview/state-store-overview-02.svg
  docs/images/state-store-overview/state-store-overview-03.svg
  docs/images/state-store-overview/state-store-overview-04.svg
  docs/images/state-store-overview/state-store-overview-05.svg
  docs/images/streaming-overview/streaming-architecture.svg
  docs/images/streaming-overview/streaming-executor-and-compute-node.svg
Labels: type/chore

#2449 fix(meta): dashboard node type and stateful fragment rule
  src/meta/src/dashboard/index.html
  src/meta/src/stream/fragmenter/graph/stream_graph.rs
  src/meta/src/stream/fragmenter/mod.rs
Labels: type/fix, bug bash

#2441 feat: Introduce Avro Format parser
  Cargo.lock
  src/common/src/types/mod.rs
  src/connector/Cargo.toml
  src/connector/src/aws_utils.rs
  src/connector/src/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/lib.rs
  src/source/Cargo.toml
  src/source/src/parser/avro_parser.rs
  src/source/src/parser/mod.rs
  src/source/src/test_data/complex-schema.avsc
  src/source/src/test_data/simple-schema.avsc
  src/workspace-hack/Cargo.toml
Labels: type/feature

#2457 feat(meta): add logical part for epoch to avoid backwards
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/util/epoch.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
Labels: type/feature

#2459 fix: explain result: replace `always` to `true`
  src/frontend/src/utils/condition.rs
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/subquery.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix

#2458 fix: don't panic if stream nested-loop join is inevitable
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix

#2471 fix(frontend): add non-equi condition in batch join ToBatchProst
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
Labels: type/fix

#2371 feat: binding struct values when they are parsed as row
  src/batch/src/executor2/insert.rs
  src/batch/src/executor2/values.rs
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/scalar_impl.rs
  src/expr/src/expr/expr_literal.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/values.rs
  src/frontend/src/expr/type_inference.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/struct_query.yaml
Labels: type/feature

#2474 fix(frontend): missing space before AND in explain
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/test_runner/tests/testdata/struct_query.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix

#2436 feat: Forbid expression without alias in mview definition
  e2e_test/v2/streaming/time_window.slt
  src/frontend/src/handler/create_mv.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/expr.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
Labels: type/feature

#2465 refactor(frontend): decouple output column alias from plan schema field name
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/dml.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/planner/delete.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/planner/query.rs
Labels: type/refactor

#2438 fix: panic worker node when it's removed by meta node
  src/common/src/error.rs
  src/meta/src/cluster/mod.rs
  src/rpc_client/src/meta_client.rs
Labels: type/fix, bug bash

#2479 fix(frontend): add implicit cast for round
  e2e_test/v2/batch/types/decimal.slt
  src/frontend/src/binder/expr/function.rs
  src/frontend/test_runner/tests/testdata/expr.yaml
Labels: type/fix

#2476 refactor(optimizer): remove aliases from LogicalProject
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/rule/project_merge.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate.rs
  src/frontend/src/optimizer/rule/unnest_agg_for_loj.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/planner/select.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/column_pruning.yaml
  src/frontend/test_runner/tests/testdata/distribution_derive.yaml
  src/frontend/test_runner/tests/testdata/expr.yaml
  src/frontend/test_runner/tests/testdata/index.yaml
  src/frontend/test_runner/tests/testdata/insert.yaml
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/limit.yaml
  src/frontend/test_runner/tests/testdata/mv_on_mv.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/order_by.yaml
  src/frontend/test_runner/tests/testdata/predicate_pushdown.yaml
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/frontend/test_runner/tests/testdata/struct_query.yaml
  src/frontend/test_runner/tests/testdata/subquery.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/time_window.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/refactor

#2480 fix: frontend crashed on unsupported psql commands
  e2e_test/v2/batch/query.slt
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix

#2450 feat(frontend): remove the limitation of unnesting AntiApply.
  e2e_test/v2/batch/subquery.slt
  e2e_test/v2/batch/tpch.slt
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2483 fix: set initial result to 0 for count
  e2e_test/batch/aggregate/count.slt
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_sorted_grouper.rs
Labels: type/fix

#2498 feat(binder): support `substring(s [FROM start] [FOR count])`
  src/frontend/src/binder/expr/mod.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2095 refactor(optimizer): column prune refactor
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/col_pruning.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_delete.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_generate_series.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_insert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_limit.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/logical_values.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/refactor

#2499 refactor(optimizer): cleanup unnecessary check on mview aliases
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
Labels: type/refactor

#2503 fix(cargo-doc): fix wrong usage in rust doc string.
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/fix

#2506 fix: enable etcd auto compaction by revision
  src/risedevtool/src/task/etcd_service.rs
Labels: type/fix

#2477 feat(test): initial support for deterministic simulation testing
  Cargo.lock
  src/batch/Cargo.toml
  src/common/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/meta/Cargo.toml
  src/prost/Cargo.toml
  src/prost/build.rs
  src/prost/src/lib.rs
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/stream/Cargo.toml
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/debug/epoch_check.rs
  src/stream/src/executor/debug/schema_check.rs
  src/stream/src/executor/debug/update_check.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/lookup/cache.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/lookup_union.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/managed_state/flush_status.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/state.rs
  src/stream/src/executor/mview/table_state_tests.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/rearranged_chain.rs
  src/stream/src/executor/source.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/executor/union.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#2517 fix: avoid burst tick
  src/storage/src/hummock/local_version_manager.rs
Labels: type/fix

#2518 test(streaming): enable tpch q4, q18, q20
  e2e_test/v2/streaming/tpch_snapshot.slt
  e2e_test/v2/streaming/tpch_upstream.slt
Labels: component/test

#2508 refactor: binding struct values when they are parsed as row
  src/common/src/types/mod.rs
  src/common/src/types/scalar_impl.rs
  src/frontend/src/binder/values.rs
Labels: type/refactor

#2500 refactor(binder): organize bind_expr arms into groups
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/mod.rs
Labels: type/refactor

#2528 refactor(common): use next_visible_row_idx for data chunk iter
  src/common/src/array/data_chunk_iter.rs
Labels: type/refactor

#2536 test: migrate legacy e2e tests
  e2e_test/v2/batch/aggregate/min_max.slt
  e2e_test/v2/batch/boolean.slt
  e2e_test/v2/batch/explain.slt
  e2e_test/v2/batch/float_ord.slt
  e2e_test/v2/streaming/count_star.slt
  e2e_test/v2/streaming/extreme_null.slt
Labels: component/test

#2505 fix(ci): fix doc check
  .github/workflow-template/jobs/compute-node-test.yml
  .github/workflows/main-cron.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Labels: type/fix

#2540 feat: Add query_mode session config
  src/common/src/error.rs
  src/frontend/src/config.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/lib.rs
Labels: type/feature

#2543 refactor: Remove unused file
  src/batch/src/executor/project.rs
Labels: type/refactor

#2542 docs: update for 0.1.7 release
  README.md
Labels: component/doc

#2365 feat(storage): conflict detector in no order
  src/storage/src/hummock/conflict_detector.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
Labels: type/feature

#2544 docs: clearify HummockClient's location
  docs/state-store-overview.md
Labels: component/doc

#2549 refactor(stream): remove STREAM_NULL_BY_ROW_COUNT
  proto/expr.proto
  src/expr/src/expr/expr_binary_nullable.rs
  src/expr/src/expr/mod.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor

#2554 refactor: remove epoch service in meta
  proto/meta.proto
  src/meta/src/rpc/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/epoch_service.rs
  src/meta/src/rpc/service/mod.rs
Labels: type/refactor

#2497 fix(streaming): avoid sync states when forcing stop actors in recovery
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/barrier/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, bug bash

#2548 refactor(batch): Remove unnecessary executor
  proto/batch_plan.proto
  src/batch/src/executor/create_source.rs
  src/batch/src/executor/create_table.rs
  src/batch/src/executor/drop_stream.rs
  src/batch/src/executor/drop_table.rs
  src/batch/src/executor/mod.rs
  src/batch/src/task/test_utils.rs
  src/compute/tests/table_v2_materialize.rs
Labels: type/refactor

#2556 refactor: remove catalog v1 service
  proto/meta.proto
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/mod.rs
  src/meta/src/model/catalog.rs
  src/meta/src/model/catalog_v2.rs
  src/meta/src/model/mod.rs
  src/meta/src/rpc/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/catalog_service.rs
  src/meta/src/rpc/service/mod.rs
  src/meta/src/rpc/service/notification_service.rs
Labels: type/refactor

#2559 refactor(batch): Remove join v1
  src/batch/src/executor/join/chunked_data.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/join/row_level_iter.rs
  src/batch/src/executor/mod.rs
Labels: type/refactor

#2550 refactor(batch): remove frontend v2 in insert executor and fix some ut
  proto/batch_plan.proto
  src/batch/src/executor2/insert.rs
  src/batch/src/task/test_utils.rs
  src/compute/tests/table_v2_materialize.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
Labels: type/refactor

#2406 feat(compaction): make compaction output be partitioned by parallel unit
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/utils.rs
Labels: type/feature

#2562 refactor(batch): Remove fuse and trace v1
  src/batch/src/executor/fuse.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/trace.rs
Labels: type/refactor

#2563 refactor(meta): remove some legacy frontend support in meta, including StreamServiceImpl
  proto/meta.proto
  src/meta/src/barrier/recovery.rs
  src/meta/src/cluster/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/stream_service.rs
Labels: type/refactor

#2545 fix(batch): fix a bug of exchange and project.
  e2e_test/v2/batch/tpch.slt
  src/batch/src/executor2/project.rs
  src/batch/src/task/hash_shuffle_channel.rs
Labels: type/fix

#2565 chore(batch): remove unnecessary compact
  src/batch/src/task/hash_shuffle_channel.rs
  src/common/src/buffer/bitmap.rs
Labels: type/chore

#2516 fix(optimizer): predicate pushdown when there's no filter above join
  src/frontend/src/optimizer/rule/filter_join.rs
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix

#2572 chore: remove `v2` naming related to legacy frontend
  Makefile.toml
  docker/Dockerfile
  proto/meta.proto
  src/cmd/Cargo.toml
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/playground.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/mod.rs
  src/meta/src/model/catalog.rs
  src/meta/src/model/mod.rs
  src/risedevtool/src/bin/risedev-playground.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/frontend_service.rs
Labels: type/chore

#2389 feat(storage): suppport disk object store
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/benches/bench_fs_operation.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/cache.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/object/disk.rs
  src/storage/src/object/error.rs
  src/storage/src/object/mem.rs
  src/storage/src/object/mod.rs
  src/storage/src/object/s3.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#2470 feat(expr): Implement evaluation for CONCAT_WS expression
  proto/expr.proto
  src/expr/src/expr/expr_concat_ws.rs
  src/expr/src/expr/mod.rs
Labels: type/feature

#2566 refactor(optimizer): `LogicalProject::with_mapping `should return `Self`
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
Labels: type/refactor

#2567 fix(frontend): check arguments for agg call
  src/frontend/src/expr/agg_call.rs
  src/frontend/test_runner/tests/testdata/struct_query.yaml
Labels: type/fix

#2575 refactor(batch): Remove executor v1
  Cargo.lock
  src/batch/src/executor/executor2_wrapper.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/executor2/executor_wrapper.rs
  src/batch/src/executor2/mod.rs
  src/batch/src/task/task_.rs
  src/compute/Cargo.toml
  src/compute/tests/table_v2_materialize.rs
Labels: type/refactor

#2574 refactor(proto): remove TypeName::Symbol and Char
  proto/data.proto
  src/common/src/types/mod.rs
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_literal.rs
  src/expr/src/expr/expr_unary.rs
Labels: type/refactor

#2560 refactor(meta): remove legacy frontend support in fragmenter
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/dashboard/index.html
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor

#2576 refactor: remove function `pg_sleep`
  proto/expr.proto
  src/expr/src/expr/expr_unary.rs
  src/expr/src/expr/mod.rs
  src/expr/src/expr/pg_sleep.rs
Labels: type/refactor

#2547 fix(source): remove epoch in state user key and no flush on idle
  src/connector/src/state.rs
  src/stream/src/executor/source.rs
Labels: type/fix

#2434 feat: create table contains nested column
  e2e_test/v2/ddl/ddl.slt
  src/common/src/array/struct_array.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/test_runner/tests/testdata/struct_query.yaml
  src/sqlparser/src/ast/data_type.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/create
Labels: type/feature

#2496 fix: error returned when creating a source from a non-existent topic
  src/connector/src/kafka/enumerator/client.rs
Labels: type/fix

#2586 refactor(batch): Remove some dead code in scheduler.
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/execution/query.rs
  src/frontend/src/scheduler/execution/stage.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#2587 refactor: remove test_utils in batch execution
  src/batch/src/task/mod.rs
  src/batch/src/task/test_utils.rs
Labels: type/refactor

#2581 refactor(prost): use src as default build path for prost
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/refactor

#2590 refactor(stream-scan): remove stream scan after java removed
  proto/batch_plan.proto
  src/batch/src/executor/mod.rs
  src/batch/src/executor2/mod.rs
  src/batch/src/executor2/stream_scan.rs
Labels: type/refactor

#2593 chore: add Column for connectors
  src/connector/src/base.rs
  src/source/src/connector_source.rs
Labels: type/chore

#2585 feat(array): use compact encoding for bitmap and bool array
  src/common/src/array/bool_array.rs
  src/common/src/array/column_proto_readers.rs
  src/common/src/buffer/bitmap.rs
Labels: type/feature

#2588 feat(expr): IN-list support non-literals
  e2e_test/v2/batch/func.slt
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_in.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/mod.rs
  src/frontend/test_runner/tests/testdata/expr.yaml
Labels: type/feature

#2594 chore: add RFC template to issue templates
  .github/ISSUE_TEMPLATE/design-rfc.md
Labels: type/chore

#2597 chore: ignore generated prost/sim files
  .gitignore
Labels: type/chore

#2606 fix(connector): make too big struct a Box
  src/connector/src/base.rs
Labels: type/fix

#2605 test(frontend): update TPC-H Q16 planner test
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: component/test

#2573 feat(storage): Add metrics for compaction and object store
  grafana/risingwave-dashboard.json
  src/bench/ss_bench/main.rs
  src/bench/ss_bench/utils/display_stats.rs
  src/bench/ss_bench/utils/mod.rs
  src/bench/ss_bench/utils/my_stats.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/snapshot_tests.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/monitor/mod.rs
  src/storage/src/monitor/my_stats.rs
  src/storage/src/monitor/object_metrics.rs
  src/storage/src/monitor/state_store_metrics.rs
  src/storage/src/object/disk.rs
  src/storage/src/object/mem.rs
  src/storage/src/object/mod.rs
  src/storage/src/store_impl.rs
Labels: type/feature
