Repository risingwavelabs/risingwave, pull requests merged in 2022-12, with the labels that each got.

#6679 fix: gh create release notes too long
  ci/scripts/release.sh
Labels: type/fix

#6681 fix: main release docker timeout
  ci/workflows/main.yml
Labels: type/fix

#6658 fix(storage): make ordered merge iter cancellation safe
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/merge_inner.rs
Labels: type/fix, mergify/can-merge

#6680 chore: remove todo in tpch planner test
  src/frontend/planner_test/tests/testdata/tpch.yaml
Labels: type/chore, mergify/can-merge

#6630 fix(frontend): recursively visit select relation for collect_correlated_indices_by_depth_and_assign_id
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/binder/values.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/fix, mergify/can-merge

#6625 refactor(*): Do not abuse `format_args!`
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_nested_loop_join.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_over_agg.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/optimizer/property/func_dep.rs
Labels: type/refactor, mergify/can-merge

#6687 fix: fix some panics in recovery
  src/meta/src/storage/etcd_retry_client.rs
  src/rpc_client/src/meta_client.rs
Labels: type/fix, mergify/can-merge

#6299 feat(hash agg): implement basic watermark logic for hash agg (without…
  src/stream/src/executor/hash_agg.rs
Labels: type/feature, mergify/can-merge

#6648 feat(sink): support create sink as query
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/connector_service.ts
  dashboard/proto/gen/user.ts
  e2e_test/ddl/table.slt
  e2e_test/sink/create_sink_as.slt
  proto/catalog.proto
  proto/stream_plan.proto
  proto/user.proto
  src/common/src/catalog/column.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/catalog/sink_catalog.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/user/user_privilege.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_graph.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
  src/stream/src/from_proto/sink.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6676 refactor(test): merge simulation and simulation_scale
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-recovery-test.sh
  src/compute/src/lib.rs
  src/meta/src/lib.rs
  src/storage/compactor/src/lib.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/client.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/src/kafka.rs
  src/tests/simulation/src/lib.rs
  src/tests/simulation/src/main.rs
  src/tests/simulation/src/nexmark.rs
  src/tests/simulation/src/risingwave.toml
  src/tests/simulation/src/slt.rs
  src/tests/simulation/src/utils.rs
  src/tests/simulation/tests/cascade_materialized_view.rs
  src/tests/simulation/tests/dynamic_filter.rs
  src/tests/simulation/tests/hello.rs
  src/tests/simulation/tests/nexmark_chaos.rs
  src/tests/simulation/tests/nexmark_q4.rs
  src/tests/simulation/tests/nexmark_source.rs
  src/tests/simulation_scale/Cargo.toml
  src/tests/simulation_scale/src/cluster.rs
Labels: type/refactor, mergify/can-merge

#6692 chore(ci): nightly pre built binary
  ci/scripts/docker.sh
  ci/scripts/release.sh
  ci/workflows/docker.yml
  ci/workflows/main.yml
Labels: type/chore, mergify/can-merge

#6690 fix(storage): fix empty read_version_vec
  src/storage/src/hummock/state_store.rs
Labels: type/fix, mergify/can-merge

#6685 fix(ctl): export `META_ADDR` correctly for stack trace
  src/common/src/util/env_var.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/ctl/src/common/meta_service.rs
  src/risedevtool/src/risectl_env.rs
  src/stream/src/task/stream_manager.rs
  src/utils/async_stack_trace/src/manager.rs
  src/utils/async_stack_trace/src/tests.rs
Labels: type/fix, mergify/can-merge

#6691 refactor: move some logic of LogicalProject into generic::Project
  src/frontend/src/optimizer/plan_node/batch_project.rs
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Labels: type/refactor, mergify/can-merge

#6697 fix(dashboard): fix stream graph of MoS
  dashboard/pages/streaming_graph.tsx
Labels: type/fix, mergify/can-merge

#6408 feat(stream): implement streaming part of now executor
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/common/src/util/epoch.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/now.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/now.rs
Labels: type/feature, mergify/can-merge

#6700 refactor(array): use `Box<str>` for utf8 scalar
  src/batch/src/executor/order_by.rs
  src/common/benches/bench_encoding.rs
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/array/utf8_array.rs
  src/common/src/field_generator/varchar.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/util/encoding_for_comparison.rs
  src/common/src/util/ordered/serde.rs
  src/common/src/util/sort_util.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/sink/mysql.rs
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_concat_ws.rs
  src/expr/src/expr/expr_in.rs
  src/expr/src/expr/expr_literal.rs
  src/expr/src/expr/expr_regexp.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/table_function/regexp_matches.rs
  src/expr/src/vector_op/agg/string_agg.rs
  src/expr/src/vector_op/array_access.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/catalog/system_catalog/information_schema/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/handler/util.rs
  src/source/src/parser/avro/parser.rs
  src/source/src/parser/canal/mod.rs
  src/source/src/parser/debezium/mod.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/protobuf/parser.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/executor/test_utils.rs
Labels: type/refactor, mergify/can-merge

#6694 feat(optimizer):add ProjectAggMerge rule
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/rule/agg_project_merge.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/utils/mod.rs
  src/frontend/src/utils/rewrite_index.rs
Labels: type/feature, mergify/can-merge

#6706 fix: potential scheduler bug in recovery test
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix, mergify/can-merge

#6426 feat: add hex format bytea type support
  Cargo.lock
  dashboard/proto/gen/data.ts
  e2e_test/batch/types/bytea.slt.part
  proto/data.proto
  src/common/Cargo.toml
  src/common/src/array/bytes_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/value_reader.rs
  src/common/src/hash/dispatcher.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/postgres_type.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_text.rs
  src/common/src/util/sort_util.rs
  src/common/src/util/value_encoding/mod.rs
  src/expr/Cargo.toml
  src/expr/src/expr/data_types.rs
  src/expr/src/expr/expr_binary_nullable.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/optimizer/rule/index_selection.rs
  src/source/src/parser/common.rs
  src/tests/sqlsmith/src/utils.rs
  src/utils/pgwire/src/pg_extended.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6709 fix: fix several panics under more chaos killing of nodes in recovery test
  src/common/common_service/src/observer_manager.rs
  src/rpc_client/src/meta_client.rs
Labels: type/fix, mergify/can-merge

#6707 fix(ci): add back unit test and add cargo check release
  ci/scripts/check.sh
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  src/utils/async_stack_trace/src/lib.rs
Labels: type/fix, mergify/can-merge

#6593 feat(distinct on): Plan `DISTINCT ON` as `GroupTopN`
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/src/planner/query.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/set_expr.rs
  src/frontend/src/planner/set_operation.rs
Labels: type/feature, mergify/can-merge

#6598 fix(planner): `order by` check using partial `order by` list
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/src/planner/select.rs
Labels: type/fix, mergify/can-merge

#6721 style: minor style improvement to stream SortExecutor
  src/stream/src/executor/sort.rs
Labels: type/style, mergify/can-merge

#6723 fix(meta_store): strip cf from keys in snapshot list response
  src/meta/src/storage/etcd_meta_store.rs
Labels: type/fix, mergify/can-merge

#6722 refactor(row2): remove some unnecessary clones for Row2
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/sort.rs
Labels: type/refactor, mergify/can-merge

#6611 feat: use ryu/itoa to cast num to text
  Cargo.lock
  e2e_test/batch/basic/scientific_number.slt.part
  src/common/Cargo.toml
  src/common/src/types/to_text.rs
  src/tests/regress/data/sql/float4.sql
Labels: mergify/can-merge

#6702 feat(frontend): Change create index to include all columns by default
  e2e_test/batch/catalog/pg_index.slt.part
  e2e_test/ddl/show.slt
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/src/handler/create_index.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6514 feat(backup): add backup manager skeleton
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/config.rs
  src/meta/src/backup_restore/error.rs
  src/meta/src/backup_restore/meta_snapshot.rs
  src/meta/src/backup_restore/mod.rs
  src/meta/src/backup_restore/storage.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/config.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/id.rs
  src/meta/src/model/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/storage/src/hummock/sstable/utils.rs
Labels: type/feature, mergify/can-merge

#6724 fix(storage): fix sstable builder when there are only range tombstones
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: mergify/can-merge

#6729 fix(pgwire): handle varchar arguments with \'
  src/utils/pgwire/src/pg_extended.rs
Labels: type/fix, mergify/can-merge

#6678 refactor(dev): refactor config handling
  Cargo.lock
  risedev.yml
  src/cmd_all/src/playground.rs
  src/common/src/catalog/mod.rs
  src/common/src/config.rs
  src/common/src/constants.rs
  src/common/src/lib.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/config/README.md
  src/config/ci-compaction.toml
  src/config/ci-recovery.toml
  src/config/ci.toml
  src/config/compaction-test.toml
  src/config/default.toml
  src/config/playground.toml
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session.rs
  src/meta/src/backup_restore/config.rs
  src/meta/src/backup_restore/mod.rs
  src/meta/src/config.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/lib.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/risedev-schema.json
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/config/use_expander.rs
  src/risedevtool/src/risectl_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/tests/compaction_test/src/lib.rs
  src/tests/compaction_test/src/runner.rs
Labels: type/refactor, mergify/can-merge

#6330 feat(hash agg): do state cleaning by watermarks in hash agg
  src/stream/src/executor/hash_agg.rs
Labels: type/feature, mergify/can-merge

#6743 fix(ci): fix PR ci pipeline
  ci/scripts/build-other.sh
Labels: type/fix, mergify/can-merge

#6736 refactor(streaming): refine hash join with row trait
  src/common/src/hash/key.rs
  src/common/src/row/compacted_row.rs
  src/common/src/row/mod.rs
  src/common/src/row/owned_row.rs
  src/common/src/util/ordered/serde.rs
  src/stream/src/common/builder.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/refactor, mergify/can-merge

#6741 chore(ci): correct config file name
  src/config/ci-compaction-test.toml
Labels: type/chore, mergify/can-merge

#6728 fix(storage): do not use prune_ssts for non-overlapping level.
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
Labels: mergify/can-merge

#6749 test: Add test_full_outer_join_parallel.test_slow
  e2e_test/batch/duckdb/join/full_outer/test_full_outer_join_parallel.test_slow.slt.part
Labels: component/test, mergify/can-merge

#6739 fix(pgwire): support identity result format code
  src/utils/pgwire/src/pg_message.rs
Labels: type/fix, mergify/can-merge

#6708 feat(test): more chaos when killing nodes in recovery test
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/dashboard/mod.rs
  src/prost/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/utils/runtime/Cargo.toml
Labels: type/feature, mergify/can-merge

#6748 fix(streaming): do not yield empty chunk in hash join & dynamic filter
  src/stream/src/common/builder.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/test_utils.rs
Labels: type/fix, mergify/can-merge

#6631 feat(ci): add e2e tests for connector sink and integrate sink e2e tests to ci
  ci/docker-compose.yml
  ci/plugins/upload-failure-logs/hooks/post-command
  ci/scripts/e2e-sink-test.sh
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/create_sink_as.slt
  e2e_test/sink/remote/remote.check.slt
  e2e_test/sink/remote/remote.load.slt
  e2e_test/sink/t2.slt
  e2e_test/sink/t3.slt
  src/connector/src/sink/remote.rs
Labels: type/feature, mergify/can-merge

#6751 feat(memory): add metrics for lru manager
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/risedevtool/src/task/minio_service.rs
  src/stream/src/cache/lru_manager.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, mergify/can-merge

#6613 refactor(storage): return stream for state store iter
  Cargo.lock
  src/storage/hummock_test/Cargo.toml
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/Cargo.toml
  src/tests/compaction_test/src/runner.rs
Labels: type/refactor, mergify/can-merge

#6763 fix: fix determination of new nodes in migration
  src/meta/src/barrier/recovery.rs
Labels: type/fix, mergify/can-merge

#6767 fix: migrate parameters of memory & parallelism from `risingwave.toml` to cli opts
  Cargo.lock
  risedev.yml
  src/common/Cargo.toml
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/config/risingwave.toml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/src/cluster.rs
Labels: mergify/can-merge

#6718 refactor(common):add to_text_with_type && to_binary_with_type
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/decimal.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_text.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/handler/util.rs
Labels: type/refactor, mergify/can-merge

#6778 feat(test): support load/dump for etcd simulator
  Cargo.lock
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
Labels: type/feature, mergify/can-merge

#6756 feat(sink): add blackhole sink
  e2e_test/sink/blackhole_sink.slt
  src/connector/src/sink/mod.rs
Labels: type/feature, component/connector, user-facing-changes, mergify/can-merge

#6779 fix(ci): set config path for compaction test
  ci/scripts/run-e2e-test.sh
  src/tests/compaction_test/src/runner.rs
Labels: type/fix, mergify/can-merge

#6785 test: Add duckdb iejoin test
  e2e_test/batch/duckdb/join/iejoin/test_iejoin.test.slt.part
Labels: component/test, mergify/can-merge

#6788 fix(source): use bytea for split state in source state table
  ci/scripts/build-other.sh
  ci/scripts/e2e-source-test.sh
  ci/workflows/main-cron.yml
  src/connector/Cargo.toml
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/cdc/split.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/fix, mergify/can-merge

#6738 fix: support more types in kafka sink
  src/connector/src/sink/kafka.rs
Labels: type/fix, mergify/can-merge

#6781 fix: set default barrier interval to 1s (cont.)
  src/common/src/config.rs
  src/config/ci-recovery.toml
  src/config/ci.toml
  src/config/risingwave.toml
Labels: type/fix, mergify/can-merge

#6806 chore(build): correctly check hakari
  Cargo.lock
  ci/scripts/build.sh
  src/workspace-hack/Cargo.toml
Labels: type/chore, mergify/can-merge

#6805 refactor(sqlsmith): simplify sqlsmith e2e code
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/tests/testdata/drop_tpch.sql
Labels: type/refactor, mergify/can-merge

#6575 feat(storage): change the prefix_hint to dist_key_hint for bloom_filter
  Cargo.lock
  src/batch/src/executor/insert.rs
  src/common/src/catalog/internal_table.rs
  src/common/src/util/ordered/serde.rs
  src/common/src/util/scan_range.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/storage/Cargo.toml
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/runner.rs
Labels: mergify/can-merge

#6671 chore: download-all task
  Makefile.toml
Labels: type/chore, mergify/can-merge

#6816 feat(array): generalize `**Array::from_slice` to `from_iter`
  src/batch/src/executor/limit.rs
  src/common/src/array/bool_array.rs
  src/common/src/array/chrono_array.rs
  src/common/src/array/column.rs
  src/common/src/array/decimal_array.rs
  src/common/src/array/interval_array.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/utf8_array.rs
  src/common/src/test_utils/test_stream_chunk.rs
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/agg/approx_count_distinct.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_distinct_agg.rs
  src/expr/src/vector_op/agg/general_sorted_grouper.rs
  src/stream/src/executor/aggregation/agg_impl/foldable.rs
  src/stream/src/executor/aggregation/value.rs
  src/stream/src/executor/integration_tests.rs
Labels: type/feature, mergify/can-merge

#6812 fix(ci): explicitly set barrier config for compaction test
  ci/scripts/e2e-source-test.sh
  risedev.yml
  src/config/ci-compaction-test.toml
  src/config/compaction-test.toml
Labels: type/fix, mergify/can-merge

#6802 fix: refine error messages on casting and window table function
  .typos.toml
  src/expr/src/error.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/bitwise_op.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/cmp.rs
  src/frontend/planner_test/tests/testdata/range_scan.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/relation/window_table_function.rs
  src/frontend/src/planner/relation.rs
  src/tests/regress/README.md
Labels: type/fix, mergify/can-merge

#6775 test(select): enable duckdb select test
  e2e_test/batch/duckdb/all.slt.part
  e2e_test/batch/duckdb/select/test_multi_column_reference.slt.part
  e2e_test/batch/duckdb/select/test_schema_reference.slt.part
  e2e_test/batch/duckdb/select/test_select_qualified_view.slt.part
  src/frontend/src/handler/drop_schema.rs
Labels: component/test, mergify/can-merge

#6725 feat: connector enumerator interface for batch
  src/connector/src/source/kafka/enumerator/client.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature, mergify/can-merge

#6817 fix(frontend): save original sql for view
  e2e_test/batch/basic/logical_view.slt.part
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/handler/create_view.rs
Labels: type/fix, mergify/can-merge

#6799 feat(frontend): prepare for new DML plan on table catalog
  dashboard/proto/gen/catalog.ts
  proto/catalog.proto
  src/common/src/catalog/physical_table.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/utils/stream_graph_formatter.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/feature, mergify/can-merge

#6473 feat(watermark): Clean state in DynamicFilter by watermark in right side
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/dynamic_filter.rs
Labels: type/feature, mergify/can-merge

#6821 fix(frontend): report error instead of panicking for invalid CREATE SOURCE
  src/frontend/src/handler/create_source.rs
Labels: type/fix, user-facing-changes, mergify/can-merge

#6823 refactor(array): implement utf8 with bytes
  src/common/src/array/bytes_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/utf8_array.rs
Labels: type/refactor, mergify/can-merge

#6798 feat(frontend):support create table as select
  e2e_test/ddl/table.slt
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
Labels: type/feature, mergify/can-merge

#6832 test(regress): enable more int4 queries blocked by TypedString parsing
  src/tests/regress/data/expected/float8.out
  src/tests/regress/data/expected/int4.out
  src/tests/regress/data/sql/float4.sql
  src/tests/regress/data/sql/float8.sql
  src/tests/regress/data/sql/int4.sql
Labels: component/test, mergify/can-merge

#6814 fix(risedev): do not merge config with `risingwave.toml`
  Makefile.toml
  src/cmd_all/src/playground.rs
  src/compute/src/lib.rs
  src/config/README.md
  src/config/example.toml
  src/frontend/src/lib.rs
  src/meta/src/lib.rs
  src/risedevtool/risedev-schema.json
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/config.rs
  src/storage/compactor/src/lib.rs
  src/tests/compaction_test/src/lib.rs
Labels: type/fix, mergify/can-merge

#6834 test(regress): enable int8 and float8 for basic parts
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/float8.sql
  src/tests/regress/data/sql/int8.sql
Labels: component/test, mergify/can-merge

#6838 fix(ci): explicitly set config for compaction-test
  src/config/ci-compaction-test.toml
Labels: type/fix, mergify/can-merge

#6780 fix(delete-range): filter tombstone of which table has been dropped
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: mergify/can-merge

#6833 fix(optimizer): fix lookup join and agg distribution derive
  src/frontend/planner_test/tests/testdata/batch_index_join.yaml
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
Labels: type/fix, mergify/can-merge

#6851 test(regress): enable more int & float tests with explicit output column name
  src/tests/regress/data/expected/float4.out
  src/tests/regress/data/expected/float8.out
  src/tests/regress/data/expected/int2.out
  src/tests/regress/data/expected/int4.out
  src/tests/regress/data/expected/int8.out
  src/tests/regress/data/sql/float4.sql
  src/tests/regress/data/sql/float8.sql
  src/tests/regress/data/sql/int2.sql
  src/tests/regress/data/sql/int4.sql
  src/tests/regress/data/sql/int8.sql
Labels: component/test, mergify/can-merge

#6853 fix(frontend): forbid subquery in join on condition
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/src/planner/relation.rs
Labels: type/fix, mergify/can-merge

#6854 fix: retry write when cluster is under recovering
  src/tests/simulation/src/slt.rs
Labels: type/fix, mergify/can-merge

#6818 feat(batch): enable batch lookup join by default
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/batch_index_join.yaml
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/singleton.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
Labels: type/feature, mergify/can-merge

#6839 feat(frontend): add pk prefix_len in table catalog
  dashboard/proto/gen/catalog.ts
  proto/catalog.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
Labels: mergify/can-merge

#6856 perf(expr): add initial microbenchmark for expressions
  Cargo.lock
  src/expr/Cargo.toml
  src/expr/benches/expr.rs
  src/expr/src/vector_op/agg/mod.rs
Labels: type/perf, mergify/can-merge

#6863 test: Add comment for kafka watermark
  src/connector/src/source/kafka/enumerator/client.rs
Labels: component/test, mergify/can-merge

#6842 feat: allow passing basic auth credentials to schema registry
  src/source/src/parser/avro/parser.rs
  src/source/src/parser/protobuf/parser.rs
  src/source/src/parser/schema_registry/client.rs
Labels: mergify/can-merge

#6876 chore(ci): increase timeout of build dev
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#6807 fix: assert fail when migrating singleton fragment
  src/meta/src/stream/scale.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/singleton_migration.rs
Labels: type/fix, mergify/can-merge

#6810 refactor(storage): replace twox_hash with xxhash in storage crate
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/backup_restore/utils.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/sstable/utils.rs
  src/stream/src/common/table/state_table.rs
Labels: type/refactor, mergify/can-merge

#6859 fix: avoid panic when remove collect rx after reset
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, mergify/can-merge

#6885 fix(test): fix running simulation test on ARM64 macOS
  Cargo.lock
  src/tests/simulation/Cargo.toml
Labels: type/fix, mergify/can-merge

#6872 feat(meta): wrap etcd client to be able to refresh conn when auth token expired
  src/meta/src/backup_restore/utils.rs
  src/meta/src/rpc/server.rs
  src/meta/src/storage/etcd_meta_store.rs
  src/meta/src/storage/etcd_retry_client.rs
  src/meta/src/storage/mod.rs
  src/meta/src/storage/wrapped_etcd_client.rs
Labels: type/feature, mergify/can-merge

#6829 ci(mergify): update commit message template
  .mergify.yml
Labels: component/ci, mergify/can-merge

#4785 feat(rt): introduce TaskLocalAlloc
  Cargo.lock
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/batch/src/executor/trace.rs
  src/cmd/Cargo.toml
  src/cmd/src/bin/compute_node.rs
  src/cmd_all/Cargo.toml
  src/cmd_all/src/bin/risingwave.rs
  src/stream/Cargo.toml
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/stream_manager.rs
  src/utils/local_stats_alloc/src/lib.rs
  src/utils/task_stats_alloc/Cargo.toml
  src/utils/task_stats_alloc/src/lib.rs
  src/utils/task_stats_alloc/tests/integration.rs
Labels: type/feature, mergify/can-merge

#6873 chore(pgwire): trace received message
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/chore, mergify/can-merge

#6758 test(scale): add self-made queries to cover more operators in chaos test
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/meta/src/stream/scale.rs
  src/storage/src/monitor/local_metrics.rs
  src/stream/src/executor/dispatch.rs
  src/tests/simulation/src/nexmark.rs
  src/tests/simulation/tests/nexmark_chaos.rs
Labels: component/test, mergify/can-merge

#6887 chore: bump sqllogictest for simulation & remove ANSI log color when redirect to file
  Cargo.lock
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/client.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
  src/utils/runtime/src/lib.rs
Labels: type/chore, mergify/can-merge

#6837 feat: more pg_catalog support
  e2e_test/batch/catalog/pg_class.slt.part
  e2e_test/batch/catalog/pg_database.slt.part
  e2e_test/batch/catalog/pg_description.slt.part
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/batch/catalog/pg_type.slt.part
  e2e_test/batch/catalog/version.slt.part
  src/frontend/planner_test/tests/testdata/pg_catalog.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_database.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_description.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_keywords.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_settings.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
Labels: type/feature, mergify/can-merge

#6890 feat(fragment): add new fragment type `Now` and send barriers to now …
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/feature, mergify/can-merge

#6869 feat(source): support postgres cdc connector
  ci/docker-compose.yml
  ci/scripts/build-other.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/mysql_cdc.sql
  e2e_test/source/cdc/mysql_cdc_insert.sql
  e2e_test/source/cdc/postgres_cdc.sql
  e2e_test/source/cdc/postgres_cdc_insert.sql
  proto/connector_service.proto
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/connector_client.rs
  src/source/src/connector_source.rs
  src/source/src/manager.rs
Labels: type/feature, component/connector, user-facing-changes, mergify/can-merge

#6745 fix(compaction): fix compaction not trigger when flush sst too large
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/tier_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/rpc/metrics.rs
Labels: mergify/can-merge

#6892 refactor(fragment): add fragment type chain
  dashboard/proto/gen/connector_service.ts
  dashboard/proto/gen/hummock.ts
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/model/stream.rs
Labels: type/refactor, mergify/can-merge

#6771 feat(meta): use serve_with_shutdown to gracefully shutdown services
  src/meta/src/lib.rs
  src/meta/src/rpc/server.rs
Labels: type/feature, mergify/can-merge

#6886 feat(docs): Readme on how to write a service
  src/docs/development/how-to-write-a-rpc-service.md
Labels: type/feature, difficulty/simple, mergify/can-merge

#6699 feat(now): frontend part of now expression
  dashboard/proto/gen/expr.ts
  proto/expr.proto
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
Labels: type/feature, mergify/can-merge

#6898 feat(meta): add metrics for backup manager.
  ci/scripts/run-e2e-test.sh
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/meta/src/backup_restore/README.md
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/metrics.rs
  src/meta/src/backup_restore/mod.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/storage/backup/integration_tests/Makefile.toml
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_pin_sst.sh
Labels: type/feature, component/meta, user-facing-changes, mergify/can-merge

#6907 fix: support double quoted column name in CREATE INDEX
  e2e_test/ddl/index.slt
  src/frontend/src/handler/create_index.rs
Labels: type/fix, mergify/can-merge

#6888 feat: add loom test for the counter
  Cargo.lock
  src/utils/task_stats_alloc/Cargo.toml
  src/utils/task_stats_alloc/src/lib.rs
  src/utils/task_stats_alloc/tests/loom.rs
Labels: type/feature, mergify/can-merge

#6858 feat(sqlsmith): add implicit cast
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
  src/tests/sqlsmith/src/sql_gen/utils.rs
  src/tests/sqlsmith/src/validation.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature, mergify/can-merge

#6916 chore(ci): remove timeout for deterministic-recovery-test in main-cron
  ci/workflows/main-cron.yml
Labels: type/chore, mergify/can-merge

#6909 feat: add query log
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/runtime/src/lib.rs
Labels: type/feature, mergify/can-merge

#6871 refactor(storage): bloom filter use pk_prefix instead of distribution_key
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/plan_common.ts
  proto/catalog.proto
  proto/plan_common.proto
  src/batch/src/executor/insert.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/catalog/physical_table.rs
  src/common/src/util/ordered/serde.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_batch_table.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/chain.rs
  src/tests/compaction_test/src/runner.rs
Labels: type/refactor, mergify/can-merge

#6912 feat(nexmark): add self-made nexmark queries in e2e test
  e2e_test/streaming/nexmark/create_views.slt.part
  e2e_test/streaming/nexmark/drop_views.slt.part
  e2e_test/streaming/nexmark/q101.slt.part
  e2e_test/streaming/nexmark/q102.slt.part
  e2e_test/streaming/nexmark/q103.slt.part
  e2e_test/streaming/nexmark/q104.slt.part
  e2e_test/streaming/nexmark/q105.slt.part
  e2e_test/streaming/nexmark/test_mv_result.slt.part
  e2e_test/streaming/nexmark/views/q1.slt.part
  e2e_test/streaming/nexmark/views/q101.slt.part
  e2e_test/streaming/nexmark/views/q102.slt.part
  e2e_test/streaming/nexmark/views/q103.slt.part
  e2e_test/streaming/nexmark/views/q104.slt.part
  e2e_test/streaming/nexmark/views/q105.slt.part
  e2e_test/streaming/nexmark_snapshot.slt
  e2e_test/streaming/nexmark_upstream.slt
Labels: type/feature, mergify/can-merge

#6915 chore(frontend): warn users when create materialized view with order by
  src/frontend/src/handler/create_mv.rs
Labels: type/chore, user-facing-changes, mergify/can-merge

#6897 feat(optimizer): `hop_window` predicate pushdown
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/feature, mergify/can-merge

#6925 fix(optimizer): BatchSort can not maintain order when it has multiple scan range
  src/frontend/planner_test/tests/testdata/order_by.yaml
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
Labels: type/fix, mergify/can-merge

#6920 fix(frontend): lookup join no eq keys after predicate pullup will revert to hashjoin
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/utils/condition.rs
Labels: type/fix, mergify/can-merge

#6933 fix(planner-test): Show predicate pushdown in `LogicalHop` for non-trivial output indices
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
Labels: type/fix, mergify/can-merge

#6922 fix(sink): sink exec get params from fe
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/fix, mergify/can-merge

#6792 feat(meta): start follower svc if follower node
  src/meta/src/rpc/elections.rs
  src/meta/src/rpc/mod.rs
  src/meta/src/rpc/server.rs
Labels: type/feature, mergify/can-merge

#6552 feat(frontend): support struct cast
  e2e_test/batch/types/list.slt.part
  e2e_test/batch/types/struct.slt.part
  e2e_test/batch/types/struct/nested_structs.slt.part
  e2e_test/batch/types/struct/struct_case.slt.part
  e2e_test/batch/types/struct/struct_cast.slt.part
  e2e_test/batch/types/struct/struct_cast_2.slt.part
  e2e_test/batch/types/struct/struct_operation.slt.part
  src/common/src/array/struct_array.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6921 feat(frontend): support show create [materialized] view command
  e2e_test/ddl/show.slt
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/show.yaml
Labels: type/feature, user-facing-changes, mergify/can-merge

#6943 fix: quick fix for high barrier latency
  src/common/src/config.rs
  src/stream/src/executor/exchange/permit.rs
Labels: type/fix, mergify/can-merge

#6939 fix(sqlsmith): disable implicit cast
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/fix, mergify/can-merge

#6944 refactor: deprecate rust mysql sink
  e2e_test/sink/t2.slt
  e2e_test/sink/t3.slt
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mysql.rs
  src/stream/src/executor/sink.rs
Labels: type/refactor, mergify/can-merge

#6950 fix(ci): limit in-flight barrier nums
  src/config/ci-recovery.toml
  src/config/ci.toml
Labels: type/fix, mergify/can-merge

#6927 perf(table): only issue 1 iterator for full range scan
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/buffer/bitmap.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/test_batch_table.rs
  src/stream/src/executor/backfill.rs
  src/stream/src/executor/batch_query.rs
Labels: type/perf, mergify/can-merge

#6946 feat(ci): separate fuzz test workflow
  ci/scripts/fuzz-test.sh
  ci/scripts/pr-fuzz-test.sh
  ci/scripts/run-fuzz-test.sh
  ci/scripts/run-unit-test.sh
  ci/scripts/unit-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature, mergify/can-merge

#6940 fix(frontend): fix parse and format for ExprQualifiedWildcard and FieldIdentifier from AST
  e2e_test/batch/basic/logical_view.slt.part
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/struct_field.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/show.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/select.yaml
Labels: type/fix, mergify/can-merge

#6958 fix(ci): fix file permissions and regex for sqlsmith
  ci/scripts/pr.env.sh
  ci/scripts/run-fuzz-test.sh
  ci/workflows/pull-request.yml
Labels: type/fix, mergify/can-merge

#6960 fix: warn message instead of panic when send fail
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix, mergify/can-merge

#6961 fix(tests): fail test suite on error
  src/storage/backup/integration_tests/run_all.sh
Labels: type/fix, mergify/can-merge

#6964 fix(frontend): Bug in pushdown of `now()`
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/push_calculation_of_join.rs
Labels: type/fix, mergify/can-merge

#6966 fix(frontend): Bug in pushdown of `now()`
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/src/optimizer/plan_node/logical_filter.rs
Labels: type/fix, mergify/can-merge

#6762 feat: addition of container aware resource utility functions
  Cargo.lock
  docker/Dockerfile
  src/common/Cargo.toml
  src/common/src/config.rs
  src/common/src/util/mod.rs
  src/common/src/util/resource_util.rs
Labels: type/feature, mergify/can-merge, stage/Alpha

#6959 feat(batch): add `ordered` property for seq scan
  Cargo.toml
  dashboard/proto/gen/batch_plan.ts
  proto/batch_plan.proto
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
Labels: type/feature, mergify/can-merge

#6971 fix(docs): correct the image and some concepts in architecture design
  docs/architecture-design.md
  docs/images/architecture-design/plan-fragments.svg
Labels: type/fix, mergify/can-merge

#6688 feat(delete-range): add random test
  Cargo.lock
  ci/scripts/build.sh
  ci/scripts/cron-e2e-test.sh
  ci/scripts/pr.env.sh
  ci/scripts/run-e2e-test.sh
  risedev.yml
  src/config/ci-delete-range-test.toml
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/mock_notification_client.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/store/version.rs
  src/tests/compaction_test/Cargo.toml
  src/tests/compaction_test/Makefile.toml
  src/tests/compaction_test/src/bin/compaction.rs
  src/tests/compaction_test/src/bin/delete_range.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/compaction_test/src/lib.rs
  src/tests/compaction_test/src/runner.rs
Labels: mergify/can-merge

#6977 chore(ci): remove fuzz testing from `main` workflow
  ci/workflows/main.yml
Labels: type/chore, mergify/can-merge

#6828 chore(test): add more nexmark queries into source test
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  e2e_test/nexmark/create_sources.slt.part
  e2e_test/source/basic/nexmark/nexmark_endless_part1.slt.part
  e2e_test/source/basic/nexmark/nexmark_endless_part2.slt.part
  e2e_test/source/basic/nexmark/nexmark_endless_part3.slt.part
  e2e_test/source/basic/nexmark/nexmark_endless_part4.slt.part
  e2e_test/source/basic/nexmark_endless.slt
Labels: type/chore, mergify/can-merge

#6949 feat(binder): bind watermark
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/watermark.rs
  src/frontend/src/binder/relation/window_table_function.rs
  src/frontend/src/planner/relation.rs
Labels: type/feature, mergify/can-merge

#6980 feat(optimizer): add `RW_BATCH_ENABLE_SORT_AGG` session config
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature, mergify/can-merge

#6982 feat(frontend): introduce several system tables and function to support DBeaver
  e2e_test/batch/catalog/pg_roles.slt.part
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attrdef.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_roles.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_shdescription.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6967 refactor: improve readability of stream topn
  dashboard/proto/gen/plan_common.ts
  proto/plan_common.proto
  src/common/src/util/sort_util.rs
  src/frontend/src/optimizer/plan_node/batch_exchange.rs
  src/frontend/src/optimizer/plan_node/batch_group_topn.rs
  src/frontend/src/optimizer/plan_node/batch_sort.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/property/order.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/rearranged_chain.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/subtask.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/utils.rs
  src/stream/src/executor/union.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/src/from_proto/top_n_appendonly.rs
Labels: type/refactor, mergify/can-merge

#6963 feat(risedev): include profiles from other files
  .gitignore
  Makefile.toml
  risedev.yml
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/playground.rs
  src/config/.gitignore
  src/risedevtool/README.md
  src/risedevtool/risedev-schema.json
  src/risedevtool/schemas/profile.json
  src/risedevtool/schemas/risedev-profiles.user.json
  src/risedevtool/schemas/risedev.json
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-config.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
Labels: type/feature, mergify/can-merge

#6975 chore(config): make initial_permits and batched_permits configurable
  src/common/src/config.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/mod.rs
Labels: type/chore, mergify/can-merge

#6993 fix(cron): make sqlsmith environment variables available
  ci/scripts/cron-fuzz-test.sh
  ci/workflows/main-cron.yml
Labels: type/fix, mergify/can-merge

#6846 feat(source): add s3 source and csv parser
  Cargo.lock
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/plan_common.ts
  proto/catalog.proto
  proto/plan_common.proto
  src/batch/src/executor/source.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/file_common.rs
  src/connector/src/source/filesystem/mod.rs
  src/connector/src/source/filesystem/s3/enumerator.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/filesystem/s3/s3_dir.rs
  src/connector/src/source/filesystem/s3/s3_notification_event.rs
  src/connector/src/source/filesystem/s3/source/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/filesystem/s3/source/s3_file_reader.rs
  src/frontend/src/handler/create_source.rs
  src/source/Cargo.toml
  src/source/src/connector_source.rs
  src/source/src/fs_connector_source.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/parser/csv_parser.rs
  src/source/src/parser/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/reader.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/source_executor_v2.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/from_proto/source.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6998 fix: avoid empty data chunk in SysRowSeqScanExecutor
  e2e_test/batch/catalog/pg_settings.slt.part
  src/batch/src/executor/sys_row_seq_scan.rs
Labels: type/fix, mergify/can-merge

#6989 chore: ignore expired barrier collect response before recovery
  src/meta/src/barrier/mod.rs
Labels: type/chore, mergify/can-merge

#6974 fix(config): use total_memory_available_bytes for opts not config
  src/common/src/config.rs
  src/compute/src/lib.rs
Labels: type/fix, mergify/can-merge

#6978 refactor(datagen): make generation more smooth instead of a large chunk
  src/connector/src/source/datagen/source/generator.rs
Labels: type/refactor, mergify/can-merge
