Repository risingwavelabs/risingwave, pull requests merged in 2022-11, with the labels that each got.

#6126 chore(ci): upload images to dockerhub
  ci/scripts/docker.sh
  ci/scripts/multi-arch-docker.sh
  ci/workflows/docker.yml
  ci/workflows/main.yml
Labels: type/chore, mergify/can-merge

#6125 feat(new_stream): implement `to_prost` for new stream nodes
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream.rs
Labels: type/feature, mergify/can-merge

#6144 fix: remove return EmptyQueryResponse
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix, mergify/can-merge

#6148 fix: add conjunction test in DuckDB
  e2e_test/batch/duckdb/all.slt.part
  e2e_test/batch/duckdb/conjunction/or_between.slt.part
  e2e_test/batch/duckdb/conjunction/or_comparison.slt.part
Labels: type/fix, mergify/can-merge

#6052 feat(compaction group): trigger sst stat for delted groups
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/metrics_utils.rs
Labels: type/feature, mergify/can-merge

#6158 refactor(frontend): use `CatalogError` in catalog to avoid capturing unnecessary backtraces
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor, mergify/can-merge

#6110 feat(watermark): Make Exchange be aware of the watermark (close #6050)
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/lib.rs
Labels: type/feature, mergify/can-merge

#6162 chore(storage): print compaction task status as string
  src/storage/hummock_sdk/src/compact.rs
Labels: type/chore, mergify/can-merge

#6153 feat(storage): seperate old implement to HummockStorageV1
  src/common/src/config.rs
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/store_impl.rs
Labels: type/feature, mergify/can-merge

#6165 feat(object_store): monitor streaming read
  src/object_store/src/object/mod.rs
  src/storage/src/hummock/compactor/sstable_store.rs
Labels: type/feature, mergify/can-merge

#6023 feat(fe,meta): support logical view
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/ddl_service.ts
  dashboard/proto/gen/hummock.ts
  dashboard/proto/gen/meta.ts
  dashboard/proto/gen/user.ts
  e2e_test/batch/basic/logical_view.slt.part
  proto/catalog.proto
  proto/ddl_service.proto
  proto/meta.proto
  proto/user.proto
  src/common/src/catalog/internal_table.rs
  src/frontend/src/binder/delete.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/relation/window_table_function.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/view_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/drop_view.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/observer/mod.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_privilege.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/model/catalog.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6166 fix(meta): fix possible inconsistency of updates on user grant relation map
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/rpc/service/user_service.rs
Labels: type/fix, mergify/can-merge

#6167 feat(pg_catalog): stub pg_opclass
  e2e_test/batch/catalog/pg_opclass.slt.part
  src/frontend/src/catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/pg_catalog/pg_opclass.rs
Labels: type/feature, mergify/can-merge

#6171 fix(binder): resolve array_concat types without intermediate RwError
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/fix, mergify/can-merge

#6182 feat(filecache): support btrfs and tmpfs
  src/bench/file_cache_bench/bench.rs
  src/bench/file_cache_bench/main.rs
  src/bench/file_cache_bench/utils.rs
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/store.rs
Labels: type/feature, mergify/can-merge

#6155 refactor: introduce stream plan ref & base
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/generic_derive.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_derive.rs
Labels: type/refactor, mergify/can-merge

#6151 feat(ci): add e2e compaction-test to daily CI pipeline
  Cargo.lock
  Makefile.toml
  ci/scripts/cron-e2e-test.sh
  ci/scripts/pr.env.sh
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
  e2e_test/compaction/ingest_rows.slt
  risedev.yml
  src/cmd/Cargo.toml
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/id.rs
  src/storage/src/hummock/mod.rs
  src/tests/compaction_test/Cargo.toml
  src/tests/compaction_test/Makefile.toml
  src/tests/compaction_test/src/bin/main.rs
  src/tests/compaction_test/src/lib.rs
  src/tests/compaction_test/src/runner.rs
Labels: type/feature, mergify/can-merge

#6085 feat(streaming): introduce sort operator based on watermark
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/common/src/buffer/bitmap.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/sort.rs
Labels: type/feature, mergify/can-merge

#6194 fix(binder): bind correlated column without intermediate RwError
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/relation/join.rs
Labels: type/fix, mergify/can-merge

#5998 feat(compaction): support filter data by delete-range
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/version_cmp.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/writer.rs
Labels: mergify/can-merge

#6192 chore(metric): fix s3 cost estimation metric
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
Labels: type/chore, mergify/can-merge

#6098 feat(batch): support a new schedule way for distributed lookup join
  dashboard/proto/gen/batch_plan.ts
  proto/batch_plan.proto
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/join/lookup_join_base.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/executor/utils.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/consistent_hash_shuffle_channel.rs
  src/batch/src/task/mod.rs
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/src/optimizer/plan_node/batch_expand.rs
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/src/optimizer/rule/index_delta_join.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/feature, mergify/can-merge

#6154 feat(storage): rename new StateStore to LocalStateStore and add new_local method
  src/batch/src/executor/insert.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/mod.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/keyspace.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/storage/src/write_batch.rs
  src/tests/compaction_test/src/runner.rs
Labels: type/feature, mergify/can-merge

#6152 feat(storage): support s3 compatible object storage
  Cargo.lock
  docker/risingwave.toml
  risedev.yml
  src/bench/Cargo.toml
  src/bench/s3_bench/main.rs
  src/bench/ss_bench/main.rs
  src/common/src/config.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/utils.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/store_impl.rs
  src/utils/runtime/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#6124 fix:implement Display trait for ScalarRefImp&&ScalarImpl manually
  src/common/src/array/data_chunk.rs
  src/common/src/array/list_array.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/decimal.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/types/to_text.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/handler/util.rs
Labels: type/fix, mergify/can-merge

#6071 refactor(storage): some refactor to unify hummock version read
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/refactor, mergify/can-merge

#6209 fix(array): unify hash function for datum and array
  src/common/src/array/bool_array.rs
  src/common/src/array/decimal_array.rs
  src/common/src/array/list_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/array/utf8_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/native_type.rs
  src/common/src/types/scalar_impl.rs
Labels: type/fix, mergify/can-merge

#6211 fix(bitmap): Bitmap::from_bytes_with_num_bits handle the last byte wrongly
  src/common/src/buffer/bitmap.rs
Labels: type/fix, mergify/can-merge

#6214 ci: fix nextest ci profile (should not retry)
  ci/build-ci-image.sh
  ci/docker-compose.yml
Labels: component/ci, mergify/can-merge

#6210 refactor(optomizer): change the return type of `logical_pk` in `GenericPlanNode`
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/generic_derive.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_derive.rs
Labels: type/refactor, mergify/can-merge

#6201 fix(ci): fix e2e compaction test script
  ci/scripts/build.sh
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
  src/tests/compaction_test/Makefile.toml
Labels: type/fix, mergify/can-merge

#6170 feat(streaming): permit-based back-pressure in exchange
  dashboard/proto/gen/task_service.ts
  proto/task_service.proto
  src/batch/src/execution/local_exchange.rs
  src/common/src/config.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/mod.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: mergify/can-merge

#6217 fix(meta): notify_finished when cluster is idle.
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
Labels: type/fix, mergify/can-merge

#6216 chore: track create as statement in github issue
  src/frontend/src/handler/mod.rs
Labels: type/chore, mergify/can-merge

#6207 test(storage): reuse unit tests for hummock storage v1
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/test_utils.rs
Labels: component/test, mergify/can-merge

#6225 fix(pgwire):cancel replace smallint,int,bigint param as xx::smallint,xx::int,xx::bigint
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
Labels: type/fix, mergify/can-merge

#6016 fix(executor): `DynamicFilter` cache read strategy
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/managed_state/dynamic_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
Labels: type/fix, mergify/can-merge

#6096 fix: support propagating explicit cast of array
  e2e_test/batch/basic/array.slt.part
  src/frontend/planner_test/tests/testdata/array.yaml
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
Labels: type/fix, mergify/can-merge

#6222 fix(storage): avoid unwrap when notifying clear completion
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Labels: type/fix, mergify/can-merge

#6196 refactor(meta): some refactor on source/stream manager and fix recovery clean
  ci/scripts/build-simulation.sh
  dashboard/proto/gen/meta.ts
  proto/meta.proto
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/error.rs
  src/meta/src/manager/background_deleter.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/mod.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/user_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/refactor, mergify/can-merge

#6232 refactor(fe): remove useless branch in gen stream plan
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
Labels: type/refactor, mergify/can-merge

#6228 fix(storage): s3 compatible object storage set region when init
  src/object_store/src/object/s3.rs
Labels: type/fix, mergify/can-merge

#6227 feat(frontend): implement system catalog schema: `information_schema`
  dashboard/proto/gen/batch_plan.ts
  e2e_test/batch/catalog/pg_namespace.slt.part
  e2e_test/database/test.slt
  e2e_test/ddl/show.slt
  e2e_test/streaming/demo/ad_ctr.slt
  proto/batch_plan.proto
  src/batch/src/executor/sys_row_seq_scan.rs
  src/common/src/catalog/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog.rs
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/information_schema/mod.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_matviews_info.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_namespace.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_opclass.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_user.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/scheduler/task_context.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/feature, mergify/can-merge

#6237 fix(metric): fix streaming_upload s3 cost metric
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
Labels: type/fix, mergify/can-merge

#6235 refactor(hummock manager): combine hummock manager and compaction gro…
  src/meta/src/barrier/recovery.rs
  src/meta/src/hummock/compaction_group/mod.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: mergify/can-merge

#6240 refactor(sync group): remove compaction group in sst statistics in `s…
  src/meta/src/hummock/manager/mod.rs
Labels: type/refactor, mergify/can-merge

#6242 fix(ci): fix docker pipeline scripts
  ci/scripts/docker.sh
  ci/scripts/multi-arch-docker.sh
Labels: type/fix, mergify/can-merge

#6243 fix(frontend): disable explain create source and return a more friendly error message
  src/frontend/src/handler/explain.rs
Labels: type/fix, mergify/can-merge

#6249 test(limit): enable duckdb limit test
  e2e_test/batch/duckdb/all.slt.part
  e2e_test/batch/duckdb/limit/test_parallel_limit.slt.part
  e2e_test/batch/duckdb/limit/test_parallel_limit_nulls.slt.part
  e2e_test/batch/duckdb/limit/test_parallel_limit_strings.slt.part
  e2e_test/batch/duckdb/limit/test_preserve_insertion_order.slt.part
Labels: component/test, mergify/can-merge

#6248 refactor: refactor pgwire towards stm (1)
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/refactor, mergify/can-merge

#6252 feat: add kill-rate for deterministic recovery test
  ci/scripts/deterministic-recovery-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/tests/simulation/src/main.rs
Labels: type/feature, mergify/can-merge

#6253 ci: try to fix codecov for main
  codecov.yml
Labels: component/ci, mergify/can-merge

#6224 feat(streaming): introduce watermark filter
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/common/src/array/data_chunk_iter.rs
  src/common/src/buffer/bitmap.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/simple.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/watermark_filter.rs
Labels: type/feature, mergify/can-merge

#6255 chore(metrics): modify the grafana dashboard script to generate dashboard for benchmark cluster
  grafana/README.md
  grafana/generate.sh
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
Labels: type/chore, mergify/can-merge

#6221 refactor(optimizer): implement generic plan node for streaming
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/generic_derive.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
Labels: type/refactor, mergify/can-merge

#6206 fix: refine source log
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix, mergify/can-merge

#6168 feat: support scaling for fragments with no shuffle dispatcher
  src/meta/src/barrier/command.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/tests/simulation_scale/src/ctl_ext.rs
  src/tests/simulation_scale/tests/cascade_materialized_view.rs
Labels: type/feature, mergify/can-merge

#6238 refactor(plan node): add plan tree node v2
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_tree_node.rs
  src/frontend/src/optimizer/plan_node/plan_tree_node_v2.rs
  src/frontend/src/optimizer/plan_node/stream.rs
Labels: type/refactor, mergify/can-merge

#6264 chore(ci): add back e2e workflows for dev profile to main branch
  ci/scripts/build.sh
  ci/scripts/e2e-source-test.sh
  ci/workflows/main.yml
Labels: type/chore, mergify/can-merge

#6067 refactor(storage): move ingest_batch edge case handling to hummock
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/monitor/monitored_store.rs
Labels: mergify/can-merge

#6258 refactor(connector): pass schema when creating sink
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mysql.rs
  src/connector/src/sink/redis.rs
  src/stream/src/executor/sink.rs
Labels: type/refactor, mergify/can-merge

#6229 chore(config): make enable_managed_cache default to true
  Cargo.lock
  ci/scripts/common.env.sh
  risedev.yml
  src/common/src/config.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/config/risingwave.toml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation_scale/Cargo.toml
Labels: type/chore, mergify/can-merge

#6198 feat(state_store): support delete keys by range
  src/meta/src/hummock/compaction/mod.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/iterator/delete_range_iterator.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/write_batch.rs
Labels: mergify/can-merge

#6169 feat(catalog): stub system tables for sqlancer support
  e2e_test/batch/catalog/pg_am.slt.part
  e2e_test/batch/catalog/pg_collation.slt.part
  e2e_test/batch/catalog/pg_operator.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_am.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_collation.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_operator.rs
Labels: type/feature, mergify/can-merge

#6223 refactor(array): implement decimal array with primitive array
  src/common/src/array/column_proto_readers.rs
  src/common/src/array/decimal_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/value_reader.rs
  src/common/src/types/decimal.rs
  src/common/src/types/scalar_impl.rs
Labels: type/refactor, mergify/can-merge

#6274 feat(compactor): support set config at runtime
  Cargo.lock
  dashboard/proto/gen/compactor.ts
  dashboard/proto/gen/hummock.ts
  proto/compactor.proto
  proto/hummock.proto
  src/compute/src/server.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/rpc.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: type/feature, mergify/can-merge

#6276 fix(streaming): fix merge node stream key
  src/meta/src/stream/stream_graph.rs
Labels: type/fix, mergify/can-merge

#6281 refactor(storage): make global state store read only
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/store.rs
Labels: type/refactor, mergify/can-merge

#6280 feat: limit source ingestion by barrier and add max allowed heartbeat interval
  ci/workflows/docker.yml
  docker/risingwave.toml
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/risingwave.toml
  src/ctl/src/common/hummock_service.rs
  src/frontend/src/session.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/stream/src/executor/source/source_executor.rs
  src/tests/compaction_test/src/runner.rs
Labels: type/feature, mergify/can-merge

#6269 chore(metrics): fix incorrect block/meta cache miss rate
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
Labels: type/chore, mergify/can-merge

#6283 fix(streaming): fix chain executor pk indices
  src/stream/src/executor/chain.rs
  src/stream/src/executor/rearranged_chain.rs
  src/stream/src/from_proto/chain.rs
Labels: type/fix, mergify/can-merge

#6284 refactor:add to_binary trait and fix row_description
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/decimal.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/types/to_binary.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_field_descriptor.rs
Labels: type/refactor, mergify/can-merge

#6247 fix(executor): fix `DynamicFilter` RHS recovery and add recovery unit test
  src/stream/src/executor/dynamic_filter.rs
Labels: type/fix, mergify/can-merge

#6208 feat(expr): short-circuit optimization for coalesce
  e2e_test/batch/basic/func.slt.part
  src/common/src/array/data_chunk.rs
  src/common/src/array/mod.rs
  src/common/src/array/vis.rs
  src/common/src/buffer/bitmap.rs
  src/expr/src/expr/expr_coalesce.rs
  src/stream/src/executor/watermark_filter.rs
Labels: type/feature, mergify/can-merge

#6251 feat(connector): add ConsoleSink for connector debug or demonstration use
  src/connector/src/sink/console.rs
  src/connector/src/sink/mod.rs
Labels: type/feature, mergify/can-merge

#6291 fix: add some missing fields in Chain actor
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, mergify/can-merge

#6294 fix: refine kafka error message
  src/connector/src/source/kafka/enumerator/client.rs
Labels: type/fix, mergify/can-merge

#6295 feat(frontend): add `pg_catalog.pg_views` and support `\dv`
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_views.rs
  src/frontend/src/lib.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/feature, mergify/can-merge

#6310 fix(sort operator): `enumerate()` should be before `filter()`
  src/stream/src/executor/sort.rs
Labels: type/fix, mergify/can-merge

#6311 feat: fix randomly exit of meta client when start
  src/rpc_client/src/meta_client.rs
Labels: type/feature, mergify/can-merge

#6256 test(regress): enhance test runner to check expected erroneous query
  src/tests/regress/data/expected/boolean.out
  src/tests/regress/data/expected/int2.out
  src/tests/regress/data/sql/boolean.sql
  src/tests/regress/data/sql/int2.sql
  src/tests/regress/src/lib.rs
  src/tests/regress/src/schedule.rs
Labels: component/test, mergify/can-merge

#6246 refactor(hummock manager): make `sync group` be part of transaction
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/rpc/server.rs
Labels: type/refactor, mergify/can-merge

#6322 refactor(streaming): replace Datum with ScalarImpl in Watermark
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor/watermark_filter.rs
Labels: type/refactor, mergify/can-merge

#6304 fix(streaming): fix stream polling after split change
  src/connector/src/source/base.rs
  src/connector/src/source/nexmark/source/generator.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/stream/src/executor/source/reader.rs
  src/stream/src/executor/source/source_executor.rs
  src/tests/simulation_scale/src/ctl_ext.rs
  src/tests/simulation_scale/src/nexmark.rs
  src/tests/simulation_scale/tests/cascade_materialized_view.rs
  src/tests/simulation_scale/tests/nexmark_chaos.rs
  src/tests/simulation_scale/tests/nexmark_q4.rs
  src/tests/simulation_scale/tests/nexmark_source.rs
Labels: type/fix, mergify/can-merge

#6324 fix(storage): make sstable iter valid while fetching block
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/block_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
Labels: type/fix, mergify/can-merge

#6287 fix(streaming): correctly handle degree table not needed case
  src/stream/src/executor/hash_join.rs
Labels: type/fix, mergify/can-merge

#6328 chore(regress): revert unnecessary test case tweaks to ease maintenance
  src/tests/regress/data/expected/boolean.out
  src/tests/regress/data/expected/varchar.out
Labels: type/chore, mergify/can-merge

#6293 ci: improve ci script
  scripts/source/prepare_ci_kafka.sh
Labels: component/ci, mergify/can-merge

#6315 fix(cache): do not drop cache-entry inside lock
  src/common/src/cache.rs
Labels: type/fix, mergify/can-merge

#6329 test(regress): test runner accepts a simpler syntax to ignore a query
  src/tests/regress/README.md
  src/tests/regress/data/expected/int2.out
  src/tests/regress/data/sql/int2.sql
  src/tests/regress/src/schedule.rs
Labels: component/test, mergify/can-merge

#6230 feat(storage): calculate table stats when building SST
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/table_stats.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/feature, mergify/can-merge

#6317 fix(connector): make kinesis work again
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, user-facing-changes, mergify/can-merge

#6263 chore(ci): fix catalog notification to compactor in compaction-test
  ci/workflows/main-cron.yml
  src/tests/compaction_test/src/runner.rs
Labels: type/chore, mergify/can-merge

#6265 feat(storage): support box dynamic dispatch state store impl
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/runner.rs
Labels: type/feature, mergify/can-merge

#6344 fix(source): Add check for http status code for importing schema from https
  Cargo.lock
  src/source/Cargo.toml
  src/source/src/parser/avro_parser.rs
  src/source/src/parser/pb_parser.rs
Labels: type/fix, mergify/can-merge

#6335 refactor(pgwire): replace TypeOid with DataType
  Cargo.lock
  src/common/src/types/mod.rs
  src/common/src/types/postgres_type.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/session.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_field_descriptor.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/refactor, mergify/can-merge

#6279 feat(state_store): filter keys deleted by range-tombstone in read result
  src/batch/src/executor/insert.rs
  src/common/src/cache.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/key_cmp.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/delete_range_iterator.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/tests/compaction_test/src/runner.rs
Labels: mergify/can-merge

#6352 feat(sqlsmith): enable distinct aggregation
  src/tests/sqlsmith/src/expr.rs
Labels: type/feature, mergify/can-merge

#6351 refactor(streaming): do not remove the hash-join entry before operations
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/mod.rs
Labels: type/refactor, mergify/can-merge

#6362 feat(build): use llvm 15's ld on Apple Silicon
  .cargo/config.toml
  docs/developer-guide.md
Labels: type/feature, mergify/can-merge

#6348 perf(nexmark): optimize nexmark generation
  Cargo.lock
  src/expr/src/lib.rs
  src/expr/src/vector_op/cast.rs
  src/source/src/parser/common.rs
  src/tests/simulation_scale/tests/nexmark_q4.rs
  src/utils/nexmark/Cargo.toml
  src/utils/nexmark/benches/gen.rs
  src/utils/nexmark/src/config.rs
  src/utils/nexmark/src/event.rs
  src/utils/nexmark/src/generator.rs
  src/utils/nexmark/src/utils.rs
Labels: type/perf, mergify/can-merge

#6349 feat(ctl): show the current configuration of a compute node
  Cargo.lock
  proto/compute.proto
  src/batch/src/task/env.rs
  src/batch/src/task/task_manager.rs
  src/compute/src/rpc/service/config_service.rs
  src/compute/src/rpc/service/mod.rs
  src/compute/src/server.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl.rs
  src/ctl/src/cmd_impl/compute.rs
  src/ctl/src/lib.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, mergify/can-merge

#6368 refactor(notification): remove compaction groups in `MetaSnapshot`
  proto/meta.proto
  src/meta/src/rpc/service/notification_service.rs
Labels: type/refactor, mergify/can-merge

#6367 fix(interval): remove trailing `00:00:00` in display
  e2e_test/batch/types/cast.slt.part
  e2e_test/batch/types/interval.slt.part
  e2e_test/batch/types/temporal_arithmetic.slt.part
  e2e_test/streaming/bug_fixes/panic_on_interval_4575_comment.slt
  src/common/src/types/interval.rs
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
Labels: type/fix, mergify/can-merge

#5697 fix(frontend): `INSERT INTO t1 (v2, v1)` ignores specified columns list
  dashboard/proto/gen/batch_plan.ts
  dashboard/proto/gen/compute.ts
  e2e_test/batch/basic/insert_expr.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/insert.rs
  src/batch/src/lib.rs
  src/compute/tests/integration_tests.rs
  src/frontend/planner_test/tests/testdata/insert.yaml
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/values.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/logical_insert.rs
  src/frontend/src/planner/insert.rs
Labels: type/fix, mergify/can-merge

#6363 feat(frontend): support union and union all.
  e2e_test/batch/basic/union.slt.part
  src/frontend/planner_test/tests/testdata/union.yaml
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/planner/mod.rs
  src/frontend/src/planner/set_expr.rs
  src/frontend/src/planner/set_operation.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6373 fix(ctl): make `./risedev ctl profile` work on linux again
  Cargo.lock
  src/compute/Cargo.toml
  src/ctl/src/cmd_impl/profile.rs
  src/utils/runtime/Cargo.toml
Labels: type/fix, mergify/can-merge

#6364 fix: revert compaction overlap strategy key comparison change
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/storage/hummock_sdk/src/key_range.rs
  src/storage/hummock_sdk/src/prost_key_range.rs
Labels: type/fix, mergify/can-merge

#6261 feat(expr): short-circuit optimization for or
  e2e_test/batch/basic/func.slt.part
  src/expr/src/expr/expr_binary_nullable.rs
Labels: type/feature, mergify/can-merge

#6381 feat(expr): short-circuit optimization for AND expression
  e2e_test/batch/basic/func.slt.part
  src/expr/src/expr/expr_binary_nullable.rs
Labels: type/feature, mergify/can-merge

#6334 feat: health check RPC for compute node
  src/compute/src/rpc/service/health_service.rs
  src/compute/src/rpc/service/mod.rs
  src/compute/src/server.rs
Labels: mergify/can-merge

#6372 feat: support http schema location
  src/source/src/parser/pb_parser.rs
Labels: type/feature

#6289 feat(source): support confluent schema registry
  Cargo.lock
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/meta.ts
  proto/catalog.proto
  src/frontend/src/handler/create_source.rs
  src/source/Cargo.toml
  src/source/benches/json_parser.rs
  src/source/src/connector_source.rs
  src/source/src/manager.rs
  src/source/src/parser/avro_parser/mod.rs
  src/source/src/parser/avro_parser/parser.rs
  src/source/src/parser/avro_parser/schema_resolver.rs
  src/source/src/parser/debezium/json_parser.rs
  src/source/src/parser/debezium/mod.rs
  src/source/src/parser/debezium/simd_json_parser.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/maxwell/json_parser.rs
  src/source/src/parser/maxwell/mod.rs
  src/source/src/parser/maxwell/simd_json_parser.rs
  src/source/src/parser/mod.rs
  src/source/src/parser/pb_parser/mod.rs
  src/source/src/parser/pb_parser/parser.rs
  src/source/src/parser/pb_parser/schema_resolver.rs
  src/source/src/parser/schema_registry/client.rs
  src/source/src/parser/schema_registry/mod.rs
  src/source/src/parser/schema_registry/util.rs
  src/source/src/parser/util.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/tests/testdata/create.yaml
  src/stream/src/executor/source/source_executor.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#6296 feat(state_store): cut range to make sure that they are in order
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/mod.rs
Labels: mergify/can-merge

#6365 feat: support `date_trunc` function
  dashboard/proto/gen/expr.ts
  e2e_test/batch/functions/date_trunc.slt.part
  proto/expr.proto
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/mod.rs
  src/expr/src/vector_op/date_trunc.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6382 test(state table): copy `assert` in `commit` into `commit_no_data_exp…
  src/storage/src/table/streaming_table/state_table.rs
Labels: component/test, mergify/can-merge

#6385 refactor(st1page): improve some code and cherry-pick
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/property/distribution.rs
Labels: type/refactor, mergify/can-merge

#6327 fix: report unexpected actor exit to local barrier manager
  src/stream/src/executor/actor.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, mergify/can-merge

#6347 feat: try to enable recovery test in ci
  ci/scripts/deterministic-recovery-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/stream/source_manager.rs
  src/stream/src/executor/actor.rs
  src/tests/simulation/src/main.rs
Labels: type/feature, mergify/can-merge

#6320 feat(streaming): add cache for materialize and handle pk conflict
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/stream_plan.ts
  proto/catalog.proto
  proto/stream_plan.proto
  src/compute/tests/integration_tests.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/stream/test_fragmenter.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/mview.rs
Labels: type/feature, mergify/can-merge

#6332 fix(meta): not allow to drop user when it's some objects' owner
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/fix, mergify/can-merge

#6398 test(source): add test for random datagen
  e2e_test/source/datagen.slt
Labels: component/test, mergify/can-merge

#6400 fix(storage): fix wrong parameter of hit_sstable_bloom_filter
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
Labels: type/fix, mergify/can-merge

#6409 refactor(meta): extract method for commit_epoch sanity check
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/refactor, mergify/can-merge

#6386 perf(source): use GAT and TAIT to impl zero cost async `SourceParser` trait
  src/source/src/lib.rs
  src/source/src/parser/avro_parser/parser.rs
  src/source/src/parser/debezium/json_parser.rs
  src/source/src/parser/debezium/simd_json_parser.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/maxwell/json_parser.rs
  src/source/src/parser/maxwell/simd_json_parser.rs
  src/source/src/parser/mod.rs
  src/source/src/parser/pb_parser/parser.rs
Labels: type/perf, mergify/can-merge

#6387 refactor(source): extract some duplicate code as a function
  src/source/src/parser/avro_parser/schema_resolver.rs
  src/source/src/parser/pb_parser/schema_resolver.rs
  src/source/src/parser/util.rs
Labels: type/refactor, mergify/can-merge

#6410 test: enable PG regress test float4.sql
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/float4.sql
Labels: mergify/can-merge

#6389 chore(config): remove hard-coded batch size in BatchQuery executor
  src/stream/src/executor/batch_query.rs
  src/stream/src/from_proto/batch_query.rs
Labels: type/chore, mergify/can-merge

#6399 fix: remove unnecessary error backtrace
  src/batch/src/task/task_execution.rs
Labels: type/fix, mergify/can-merge

#6396 feat(hummock): check `KeyRange` for open-boundary caused by range-tombstone
  proto/hummock.proto
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/key_range.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/prost_key_range.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
Labels: mergify/can-merge

#5890 perf(compaction): proactively cancel compact tasks that doom to be ex…
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/perf, mergify/can-merge

#6435 feat(source): ban pk constraint on non materialized source
  e2e_test/nexmark/create_sources.slt.part
  src/frontend/src/handler/create_source.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6425 feat(optimizer): support union to distinct rule
  src/frontend/planner_test/tests/testdata/union.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/union_to_distinct.rs
Labels: type/feature, mergify/can-merge

#6406 refactor: remove keyspace
  docs/relational_table/relational-table-schema.md
  docs/state-store-overview.md
  src/source/src/manager.rs
  src/source/src/table.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/keyspace.rs
  src/storage/src/lib.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/write_batch.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/task/mod.rs
Labels: type/refactor, mergify/can-merge

#6434 fix(regress test runner): ignore syntax on empty line and last case
  src/tests/regress/data/sql/float4.sql
  src/tests/regress/src/schedule.rs
Labels: type/fix, mergify/can-merge

#6423 chore(deps): bump dependencies
  Cargo.lock
  Cargo.toml
  Makefile.toml
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/connector/src/aws_utils.rs
  src/connector/src/source/filesystem/s3/s3_dir.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/bench.rs
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/planner_test/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/prost/helpers/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/source/src/parser/json_parser.rs
  src/sqlparser/Cargo.toml
  src/sqlparser/sqlparser_bench/Cargo.toml
  src/sqlparser/test_runner/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/stream/Cargo.toml
  src/test_runner/Cargo.toml
  src/tests/compaction_test/Cargo.toml
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation_scale/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tracing/Cargo.toml
  src/utils/async_stack_trace/Cargo.toml
  src/utils/global_stats_alloc/Cargo.toml
  src/utils/local_stats_alloc/Cargo.toml
  src/utils/memcomparable/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/workspace-config/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore, mergify/can-merge

#6449 feat: Make error message more helpful
  src/ctl/src/common/meta_service.rs
Labels: type/feature, mergify/can-merge

#6446 feat: risedev follow
  Makefile.toml
Labels: type/feature, mergify/can-merge

#6444 ci: improve dashboard ci
  .github/workflows/dashboard_pr.yml
Labels: component/ci, mergify/can-merge

#6339 fix: scientific notation of numbers parsed incorrectly
  e2e_test/batch/basic/scientific_number.slt.part
  src/common/src/types/decimal.rs
  src/frontend/src/binder/expr/value.rs
  src/sqlparser/examples/parse.rs
  src/sqlparser/src/tokenizer.rs
  src/sqlparser/tests/testdata/select.yaml
Labels: mergify/can-merge

#6419 perf(nexmark): avoid generating unused type of events
  Cargo.lock
  src/connector/src/source/base.rs
  src/connector/src/source/nexmark/mod.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/utils/nexmark/Cargo.toml
  src/utils/nexmark/benches/gen.rs
  src/utils/nexmark/src/config.rs
  src/utils/nexmark/src/event.rs
  src/utils/nexmark/src/generator.rs
  src/utils/nexmark/src/main.rs
  src/utils/nexmark/src/utils.rs
Labels: type/perf, mergify/can-merge

#6405 refactor(storage): track memory limiter for hummock v1 and reduce use of cfg
  src/compute/src/server.rs
  src/storage/src/store_impl.rs
Labels: type/refactor, mergify/can-merge

#6106 feat(source): support canal (espcially TiCDC) as a CDC format
  dashboard/proto/gen/hummock.ts
  dashboard/proto/gen/plan_common.ts
  e2e_test/source/kafka.slt
  proto/plan_common.proto
  scripts/source/test_data/cannal_json.1
  src/frontend/src/handler/create_source.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/parser/avro/mod.rs
  src/source/src/parser/avro/parser.rs
  src/source/src/parser/avro/schema_resolver.rs
  src/source/src/parser/canal/json_parser.rs
  src/source/src/parser/canal/mod.rs
  src/source/src/parser/canal/operators.rs
  src/source/src/parser/canal/simd_json_parser.rs
  src/source/src/parser/common.rs
  src/source/src/parser/macros.rs
  src/source/src/parser/mod.rs
  src/source/src/parser/protobuf/mod.rs
  src/source/src/parser/protobuf/parser.rs
  src/source/src/parser/protobuf/schema_resolver.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
Labels: type/feature, mergify/can-merge

#6397 feat(streaming): support union all for streaming query
  e2e_test/streaming/union.slt
  src/frontend/planner_test/tests/testdata/union.yaml
  src/frontend/src/optimizer/plan_node/batch_union.rs
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/generic_derive.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6438 style(docker): use loop in compress statement
  docker/Dockerfile
Labels: type/style, mergify/can-merge

#6404 feat: introduce row trait
  src/common/src/array/data_chunk_iter.rs
  src/common/src/row/chain.rs
  src/common/src/row/compacted_row.rs
  src/common/src/row/empty.rs
  src/common/src/row/mod.rs
  src/common/src/row/once.rs
  src/common/src/row/owned_row.rs
  src/common/src/row/project.rs
  src/common/src/types/mod.rs
  src/common/src/util/ordered/serde.rs
  src/common/src/util/scan_range.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_streaming_table.rs
  src/stream/src/executor/sort.rs
Labels: type/feature, mergify/can-merge

#6443 fix(dynamic filter): avoid double delete in right state table
  src/stream/src/executor/dynamic_filter.rs
Labels: type/fix, mergify/can-merge

#6439 chore: bump up pulsar dep
  Cargo.lock
  src/connector/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore, mergify/can-merge

#6453 feat(streaming): union use hash shuffle
  e2e_test/streaming/union.slt
  src/frontend/planner_test/tests/testdata/union.yaml
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
Labels: type/feature, mergify/can-merge

#6212 feat(stream): append-only TopN with ties
  e2e_test/streaming/append_only.slt
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/from_proto/top_n_appendonly.rs
Labels: type/feature, mergify/can-merge
