Repository risingwavelabs/risingwave, pull requests merged in 2022-04, with the labels that each got.

#1725 docs(readme): change `Kafka` to `Apache Kafka`
  README.md
Labels: doc

#1728 fix: quick fix for create mv ut timeout
  src/meta/src/stream/stream_manager.rs
Labels: fix

#1733 chore(risedev): ask users to modify cluster config
  Makefile.toml
  risedev.yml
  src/risedevtool/src/bin/risedev-config.rs
Labels: chore

#1743 test: Add tpch q6 for batch distributed query
  e2e_test/v2/batch_distributed/tpch.slt
Labels: test

#1742 feat(streaming): migrate LookupExecutor to ExecutorV2
  src/stream/src/executor/mod.rs
  src/stream/src/executor_v2/barrier_align.rs
  src/stream/src/executor_v2/error.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/lookup/impl_.rs
  src/stream/src/executor_v2/lookup/sides.rs
  src/stream/src/executor_v2/lookup/tests.rs
  src/stream/src/executor_v2/mod.rs
Labels: feature

#1713 feat(batch): support hash join non-equi condition in java frontend
  legacy/planner/src/main/java/com/risingwave/planner/rel/physical/join/RwBatchHashJoin.java
  legacy/planner/src/test/resources/com/risingwave/planner/SubQueryPlannerTest.xml
  legacy/planner/src/test/resources/com/risingwave/planner/tpch/TpchDistributedQueryPlanTest.xml
  proto/plan.proto
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/hash_join_state.rs
  src/batch/src/executor/projection.rs
  src/expr/src/expr/expr_input_ref.rs
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
Labels: feature

#1748 chore(docs): instructions to check-in PRs from forks
  .github/workflow-template/pr-override.yml
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  README.md
  risedev.yml
  src/risedevtool/src/config/service_config.rs
  src/risedevtool/src/config_gen/kafka_gen.rs
Labels: chore

#1749 fix(source): fix previously omitted review
  src/source/src/manager.rs
Labels: fix

#1752 chore(ci): remove setup kafka step
  .github/workflow-template/jobs/e2e-source.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Labels: chore

#1750 test: Add tpch q7 for batch distributed query
  e2e_test/v2/batch_distributed/tpch.slt
Labels: test

#1698 doc: add architecture-design doc
  docs/README.md
  docs/architecture-design.md
  docs/images/architecture-design/architecture.svg
  docs/images/architecture-design/batch-query.svg
  docs/images/architecture-design/plan-fragments.svg
  docs/images/architecture-design/stream-pipeline.png
Labels: doc

#1590 feat(cell_based_table): add sentinel column and cell_based muti_get
  src/common/src/util/ordered/serde.rs
  src/storage/src/cell_based_row_deserializer.rs
  src/storage/src/table/cell_based_table.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor_v2/mview/materialize.rs
  src/stream/src/executor_v2/mview/state.rs
  src/stream/src/executor_v2/mview/table_state_tests.rs
Labels: feature

#1754 feat: disable meta recovery process in CI
  src/meta/src/barrier/mod.rs
  src/utils/logging/src/lib.rs
Labels: feature

#1746 fix(source): build connector when calling `next`
  src/stream/src/executor/source.rs
Labels: fix

#1756 chore(docs): Tweak some details of dev docs
  docs/data-model-and-encoding.md
  docs/meta-service.md
  docs/mv-on-mv.md
  docs/state-store-overview.md
  docs/streaming-overview.md
Labels: chore

#1714 feat(session-config): introduce entry-level pure in-memory set configuration
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  e2e_test/v2/batch/aggregate/avg.slt
  e2e_test/v2/batch/aggregate/count.slt
  e2e_test/v2/batch/explain.slt
  e2e_test/v2/batch/float_ord.slt
  e2e_test/v2/batch/insert_expr.slt
  e2e_test/v2/batch/join.slt
  e2e_test/v2/batch/modify.slt
  e2e_test/v2/batch/query.slt
  e2e_test/v2/batch/tpch.slt
  e2e_test/v2/batch/types/decimal.slt
  e2e_test/v2/batch_distributed/aggregate/avg.slt
  e2e_test/v2/batch_distributed/aggregate/count.slt
  e2e_test/v2/batch_distributed/float_ord.slt
  e2e_test/v2/batch_distributed/insert_expr.slt
  e2e_test/v2/batch_distributed/modify.slt
  e2e_test/v2/batch_distributed/tpch.slt
  e2e_test/v2/batch_distributed/types/decimal.slt
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/query_single.rs
  src/frontend/src/handler/set.rs
  src/frontend/src/session.rs
Labels: feature

#1744 feat(frontend): `not` expression push down
  src/frontend/src/expr/utils.rs
  src/frontend/src/utils/condition.rs
Labels: feature

#1760 fix(fe-server): do not print unexpected eof as error to log
  src/utils/pgwire/src/pg_server.rs
Labels: fix

#1767 fix(risedev): forbid unused parameters in config
  src/risedevtool/src/config/service_config.rs
Labels: fix

#1768 feat: apply retry category when recovery
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
Labels: feature

#1769 chore(meta): fix retry strategy naming
  src/meta/src/barrier/recovery.rs
Labels: chore

#1770 test(streaming): fix order assumption in `extreme_null`
  e2e_test/streaming/extreme_null.slt
Labels: test

#1739 feat(streaming): migrate AppendOnlyTopNExecutor to ExecutorV2
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/top_n.rs
  src/stream/src/executor_v2/top_n_appendonly.rs
  src/stream/src/executor_v2/top_n_executor.rs
  src/stream/src/executor_v2/v1_compat.rs
Labels: feature

#1766 chore(batch-scheduler): remove old scheduler impl and rename the file
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/execution/query.rs
  src/frontend/src/scheduler/execution/stage.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/scheduler/query_manager.rs
  src/frontend/src/scheduler/schedule.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/frontend/src/session.rs
Labels: chore

#1777 chore: add missing license headers
  src/common/src/alloc.rs
  src/common/src/buffer/bitmap.rs
  src/common/src/buffer/buffer_.rs
  src/common/src/buffer/mod.rs
  src/frontend/src/binder/expr/subquery.rs
  src/frontend/src/binder/window_table_function.rs
  src/frontend/src/handler/set.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/scheduler/execution/mod.rs
  src/frontend/src/scheduler/execution/query.rs
  src/frontend/src/scheduler/execution/stage.rs
  src/frontend/src/scheduler/query_manager.rs
  src/source/src/connector_source.rs
  src/storage/benches/bench_block_iter.rs
  src/stream/src/executor_v2/batch_query.rs
  src/stream/src/executor_v2/hop_window.rs
  src/stream/src/executor_v2/receiver.rs
  src/stream/src/executor_v2/top_n.rs
  src/stream/src/executor_v2/top_n_appendonly.rs
  src/stream/src/executor_v2/top_n_executor.rs
  src/utils/pgwire/src/error.rs
Labels: chore

#1775 feat(sql): support show sources
  e2e_test/v2/ddl/show.slt
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/test_utils.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/show
Labels: feature

#1778 fix: Fix distributed query manager bug
  src/frontend/src/scheduler/execution/query.rs
  src/frontend/src/scheduler/execution/stage.rs
Labels: fix

#1784 chore(ci): use bors try for contributors
  .github/workflow-template/pr-override.yml
  .github/workflows/pull-request.yml
  CONTRIBUTING.md
  bors.toml
Labels: chore

#1781 doc(source): doc for data source
  docs/README.md
  docs/data-source.md
  docs/images/data-source/data-source-arch.svg
  src/connector/src/base.rs
Labels: doc

#1788 feat: scheduling splits when creating a materialized view
  Cargo.lock
  proto/stream_plan.proto
  src/compute/src/rpc/service/stream_service.rs
  src/compute/tests/table_v2_materialize.rs
  src/connector/src/base.rs
  src/connector/src/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/kafka/enumerator/client.rs
  src/connector/src/kafka/mod.rs
  src/connector/src/kafka/source/reader.rs
  src/connector/src/kafka/split.rs
  src/connector/src/kinesis/enumerator/mod.rs
  src/connector/src/kinesis/mod.rs
  src/connector/src/kinesis/split.rs
  src/connector/src/pulsar/mod.rs
  src/connector/src/pulsar/source/mod.rs
  src/connector/src/pulsar/split.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/meta/Cargo.toml
  src/meta/src/manager/catalog_v2.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/source/src/manager.rs
  src/stream/src/executor/source.rs
  src/workspace-hack/Cargo.toml
Labels: feature

#1795 refactor(stream): refine AggExecutor and Executor
  src/stream/src/executor_v2/agg.rs
  src/stream/src/executor_v2/global_simple_agg.rs
  src/stream/src/executor_v2/hash_agg.rs
  src/stream/src/executor_v2/local_simple_agg.rs
Labels: refactor

#1798 fix(ci): checkout code before license check
  .github/workflows/license_check.yml
Labels: fix

#1792 chore(cell_based_table): restore some unit tests with cell_based interface
  src/common/src/util/ordered/serde.rs
  src/storage/src/table/cell_based_table.rs
  src/stream/src/executor_v2/mview/materialize.rs
Labels: chore

#1789 refactor(meta): support DAG fragment graph
  src/meta/Cargo.toml
  src/meta/src/model/mod.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/fragment_graph.rs
  src/meta/src/stream/graph/stream_graph.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: refactor

#1806 fix: fill source id before creating source in compute node
  risedev.yml
  scripts/source/docker-compose.yml
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/fix

#1809 chore: Add grouping to issue labels.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/development-task.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
Labels: type/chore

#1811 fix(streaming): avoid violating the assumption of U+ after U- in hash join & add checker
  src/stream/src/executor/debug/mod.rs
  src/stream/src/executor/debug/update_check.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#1813 feat(stream): Introduce RowsIterV2
  src/common/src/array/column.rs
  src/common/src/array/macros.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/array/stream_chunk_iter.rs
  src/common/src/test_utils/mod.rs
  src/common/src/test_utils/test_stream_chunk.rs
  src/stream/src/executor_v2/hop_window.rs
Labels: type/feature

#1810 feat(stream): migrate ProjectExecutor to ExecutorV2
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/project.rs
  src/stream/src/executor_v2/v1_compat.rs
Labels: type/feature

#1815 fix(ss-bench): fix inaccurate throughput calculation
  src/bench/ss_bench/operations/get.rs
  src/bench/ss_bench/operations/prefix_scan_random.rs
  src/bench/ss_bench/operations/write_batch.rs
Labels: type/fix

#1817 feat(meta): split stateful operators into different fragments
  e2e_test/v2/streaming/join-3way.slt
  legacy/planner/src/main/java/com/risingwave/planner/rel/streaming/RwStreamExchange.java
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/stream_graph.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
  src/stream/src/task/tests.rs
Labels: type/feature

#1671 feat(storage): sync shared buffer based on threshold
  src/bench/ss_bench/main.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/risingwave.toml
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/store.rs
Labels: type/feature

#1818 refactor(stream): switch to RowRefV2
  src/common/src/array/stream_chunk.rs
  src/common/src/array/stream_chunk_iter.rs
  src/stream/src/executor/debug/update_check.rs
  src/stream/src/executor_v2/hop_window.rs
  src/stream/src/lib.rs
Labels: type/refactor

#1820 refactor(stream): remove Executor::clear_cache
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor_v2/agg.rs
  src/stream/src/executor_v2/global_simple_agg.rs
  src/stream/src/executor_v2/hash_agg.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/top_n.rs
  src/stream/src/executor_v2/top_n_appendonly.rs
Labels: type/refactor

#1796 feat: add sub_fields in field to support create mv conclude struct column
  src/batch/src/executor/stream_scan.rs
  src/common/src/catalog/column.rs
  src/common/src/catalog/schema.rs
  src/frontend/Cargo.toml
  src/frontend/src/binder/relation.rs
  src/frontend/src/catalog/column_catalog.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/test_utils.rs
Labels: type/feature

#1822 refactor(stream): refine TopNExecutorBase
  src/stream/src/executor_v2/top_n.rs
  src/stream/src/executor_v2/top_n_appendonly.rs
  src/stream/src/executor_v2/top_n_executor.rs
Labels: type/refactor

#1821 fix(meta): fix missing source info during `CREATE MATERIALIZED SOURCE`
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix

#1824 feat(frontend): test create source in yaml
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/mod.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/struct_query.yaml
Labels: type/feature

#1826 test: Remove single batch test
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Labels: component/test

#1828 test: Remove used batch_distributed test folder
  e2e_test/v2/batch_distributed/aggregate/avg.slt
  e2e_test/v2/batch_distributed/aggregate/count.slt
  e2e_test/v2/batch_distributed/basic.slt
  e2e_test/v2/batch_distributed/explain.slt
  e2e_test/v2/batch_distributed/float_ord.slt
  e2e_test/v2/batch_distributed/insert_expr.slt
  e2e_test/v2/batch_distributed/join.slt
  e2e_test/v2/batch_distributed/modify.slt
  e2e_test/v2/batch_distributed/query.slt
  e2e_test/v2/batch_distributed/tpch.slt
  e2e_test/v2/batch_distributed/types/arithmetic.slt
  e2e_test/v2/batch_distributed/types/boolean.slt
  e2e_test/v2/batch_distributed/types/cast.slt
  e2e_test/v2/batch_distributed/types/decimal.slt
  e2e_test/v2/batch_distributed/types/interval.slt
  e2e_test/v2/batch_distributed/types/time.slt
Labels: component/test

#1827 chore(streaming): rewrite lookup v2 for lower latency
  src/stream/src/executor_v2/barrier_align.rs
  src/stream/src/executor_v2/error.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/lookup/impl_.rs
  src/stream/src/executor_v2/lookup/sides.rs
  src/stream/src/executor_v2/lookup/tests.rs
  src/stream/src/executor_v2/mod.rs
Labels: type/chore

#1705 feat(docker): add docker-compose.yml
  Makefile
  docker/docker-compose.yml
Labels: type/feature

#1831 feat(streaming): add proto for lookup executor
  proto/stream_plan.proto
  src/compute/tests/table_v2_materialize.rs
  src/meta/src/stream/fragmenter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/lookup/tests.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/mview/materialize.rs
  src/stream/src/executor_v2/v1_compat.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#1833 refactor(source): unified util of getting property
  risedev.yml
  src/batch/src/executor/create_source.rs
  src/connector/src/base.rs
  src/connector/src/kafka/enumerator/client.rs
  src/connector/src/lib.rs
  src/connector/src/pulsar/enumerator/client.rs
  src/connector/src/utils.rs
  src/meta/src/stream/source_manager.rs
  src/source/src/manager.rs
Labels: type/refactor

#1834 fix(frontend): avoid panic when no worker
  src/frontend/src/scheduler/execution/stage.rs
  src/frontend/src/scheduler/query_manager.rs
  src/frontend/src/scheduler/worker_node_manager.rs
Labels: type/fix

#1835 refactor: disable CreateSourceExecutor in batch mode
  src/batch/src/executor/create_source.rs
Labels: type/refactor

#1832 refactor(storage): remove unnecessary ref to local_version_manager
  src/bench/ss_bench/main.rs
  src/bench/ss_bench/operations/mod.rs
  src/bench/ss_bench/operations/write_batch.rs
  src/compute/src/server.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/snapshot_tests.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/storage_failpoints/test_hummock.rs
  src/storage/src/store_impl.rs
Labels: type/refactor

#1838 chore(streaming): switch to rearranged chain & remove no-cache e2e
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  src/stream/src/executor_v2/mod.rs
Labels: type/chore

#1847 fix(streaming): do not write batch for a single insert in ManagedTopNState
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
Labels: type/fix

#1816 refactor(frontend/expr): unifiy `to_expr` and `as_expr`, remove redundent code
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/utils/condition.rs
Labels: type/refactor

#1845 docs: checkpoint
  docs/README.md
  docs/checkpoint.md
  docs/images/checkpoint/checkpoint.svg
  docs/images/checkpoint/shared-buffer.svg
  docs/streaming-overview.md
Labels: component/doc

#1857 refactor: Remove single mode
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  src/frontend/src/handler/dml.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/scheduler/query_manager.rs
  src/frontend/src/session.rs
Labels: type/refactor

#1859 refactor(hummock): remove redundant code in state store implementation
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/snapshot_tests.rs
  src/storage/src/hummock/state_store.rs
Labels: type/refactor

#1867 feat(tpch): add streaming tpch-q9 e2e test tweak version
  e2e_test/streaming/tpch/views/q9.slt.part
  e2e_test/v2/streaming/tpch_snapshot.slt
Labels: type/feature

#1869 refactor(streaming): use row iterator of `StreamChunk` in top-n
  src/common/src/array/stream_chunk_iter.rs
  src/stream/src/executor_v2/hop_window.rs
  src/stream/src/executor_v2/top_n.rs
  src/stream/src/executor_v2/top_n_appendonly.rs
Labels: type/refactor

#1868 refactor(frontend/expr): remove impl From<&Condition> for ExprImpl
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/utils/condition.rs
Labels: type/refactor

#1860 feat(streaming): support value meta in hash agg
  src/batch/src/task/hash_shuffle_channel.rs
  src/common/src/array/data_chunk.rs
  src/common/src/hash/key.rs
  src/common/src/util/ordered/serde.rs
  src/storage/src/storage_value.rs
  src/storage/src/write_batch.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor_v2/agg.rs
  src/stream/src/executor_v2/global_simple_agg.rs
  src/stream/src/executor_v2/hash_agg.rs
Labels: type/feature

#1836 refactor(source): use Properties to simplify getting property
  src/connector/src/base.rs
  src/connector/src/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/kafka/enumerator/client.rs
  src/connector/src/kafka/mod.rs
  src/connector/src/kafka/source/reader.rs
  src/connector/src/kinesis/config.rs
  src/connector/src/kinesis/source/reader.rs
  src/connector/src/pulsar/source/reader.rs
  src/connector/src/utils.rs
  src/source/src/manager.rs
Labels: type/refactor

#1846 feat(streaming): Support hash based parallelized chain node
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/test_runner/tests/testdata/basic_query_2.yaml
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/frontend/test_runner/tests/testdata/struct_query.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
  src/meta/src/barrier/command.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor_v2/batch_query.rs
  src/stream/src/executor_v2/v1_compat.rs
Labels: type/feature

#1876 fix: compile error on main branch
  src/common/src/hash/key.rs
  src/stream/src/executor_v2/batch_query.rs
Labels: type/fix

#1871 feat(meta): generate delta join plan
  Cargo.lock
  proto/stream_plan.proto
  src/frontend/Cargo.toml
  src/frontend/src/catalog/schema_catalog.rs
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/fragment_graph.rs
  src/meta/src/stream/graph/stream_graph.rs
  src/meta/src/stream/rewrite/delta_join.rs
Labels: type/feature

#1877 chore(streaming): rename consistent hash related value to vnode
  proto/meta.proto
  proto/stream_plan.proto
  src/common/src/hash/dispatcher.rs
  src/meta/src/manager/hash_dispatch.rs
  src/meta/src/model/hash_mapping.rs
  src/storage/src/hummock/value.rs
  src/storage/src/storage_value.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
Labels: type/chore

#1883 chore: change vnode number and fix code format
  src/common/src/hash/dispatcher.rs
  src/storage/src/hummock/value.rs
  src/stream/src/executor/dispatch.rs
Labels: type/chore

#1823 refactor(stream): implement LocalSimpleAgg without AggExecutor
  src/stream/src/executor_v2/local_simple_agg.rs
Labels: type/refactor

#1885 refactor(streaming): move agg mod to executor v2
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor_v2/agg.rs
  src/stream/src/executor_v2/aggregation/agg_call.rs
  src/stream/src/executor_v2/aggregation/agg_executor.rs
  src/stream/src/executor_v2/aggregation/foldable.rs
  src/stream/src/executor_v2/aggregation/mod.rs
  src/stream/src/executor_v2/aggregation/row_count.rs
  src/stream/src/executor_v2/aggregation/single_value.rs
  src/stream/src/executor_v2/global_simple_agg.rs
  src/stream/src/executor_v2/hash_agg.rs
  src/stream/src/executor_v2/local_simple_agg.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/v1_compat.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#1887 refactor(streaming): implement GlobalSimpleAgg without AggExecutor
  src/stream/src/executor_v2/global_simple_agg.rs
Labels: type/refactor

#1898 feat(tpch): add streaming tpch-q8 e2e test tweak version
  e2e_test/streaming/tpch/views/q8.slt.part
  e2e_test/v2/streaming/tpch_snapshot.slt
Labels: type/feature

#1878 feat(streaming): implement union executor
  src/common/src/catalog/column.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/union.rs
Labels: type/feature

#1896 refactor: use enum to dispatch SourceParser types
  src/source/src/connector_source.rs
  src/source/src/high_level_kafka.rs
  src/source/src/manager.rs
  src/source/src/parser/mod.rs
Labels: type/refactor

#1893 feat(streaming): split chunks in lookup executor
  src/stream/src/common/builder.rs
  src/stream/src/executor_v2/lookup/impl_.rs
  src/stream/src/executor_v2/mod.rs
Labels: type/feature

#1879 feat(streaming): support multiple dispatchers on compute node
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#1899 feat(frontend): support complex expr in group by
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/test_runner/tests/testdata/basic_query_2.yaml
Labels: type/feature

#1911 chore(frontend): prefer optimized_logical_plan in planner test
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/chore

#1910 feat(binder): bind `IN` expression.
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/type_inference.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#1913 feat(e2e): add streaming tpch e2e test q12
  e2e_test/v2/streaming/tpch_snapshot.slt
Labels: type/feature

#1904 feat(streaming): enable lookup to scan from arrange keyspace
  proto/stream_plan.proto
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/fragment_graph.rs
  src/meta/src/stream/rewrite/delta_join.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/lookup/sides.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#1905 feat(array): introduce zero-cost data chunk row-iterator
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/join/sort_merge_join.rs
  src/common/src/array/data_chunk.rs
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/common/src/util/chunk_coalesce.rs
  src/common/src/util/ordered/mod.rs
  src/common/src/util/ordered/serde.rs
  src/frontend/src/handler/util.rs
  src/stream/src/common/builder.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor_v2/lookup/impl_.rs
  src/stream/src/executor_v2/top_n_executor.rs
Labels: type/feature

#1902 feat(frontend/expr): extract common factor from boolean expression
  src/frontend/src/expr/utils.rs
  src/frontend/src/lib.rs
  src/frontend/src/utils/condition.rs
  src/frontend/test_runner/tests/testdata/basic_query_1.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#1914 refactor: remove batch source reader including high level kafka source
  src/batch/src/executor/mod.rs
  src/batch/src/executor/stream_scan.rs
  src/source/src/high_level_kafka.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/table_v2.rs
  src/stream/src/executor/source.rs
Labels: type/refactor

#1895 feat: support drop source command
  .github/workflow-template/jobs/e2e-source.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  e2e_test/source/ddl.slt
  risedev-components.ci.env
  risedev.yml
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/mod.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature

#1888 refactor(streaming): implement HashAgg without AggExecutor
  src/stream/src/executor_v2/hash_agg.rs
Labels: type/refactor

#1917 chore(ci): fix slow playground prepare
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflow-template/jobs/e2e-source.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Labels: type/chore

#1921 chore: bump dependencies
  Cargo.lock
  src/connector/Cargo.toml
  src/storage/Cargo.toml
Labels: type/chore

#1897 feat(frontend): unnest subquery for TPC-H.
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate.rs
  src/frontend/src/optimizer/rule/unnest_agg_for_loj.rs
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#1919 refactor: remove old version create_source
  src/batch/src/executor/create_table.rs
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/compute/src/rpc/service/stream_service.rs
  src/connector/src/base.rs
  src/source/src/connector_source.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/stream/src/executor/source.rs
Labels: type/refactor

#1923 feat: support TPC-H Q4 for batch
  e2e_test/v2/batch/tpch.slt
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#1926 fix(optimizer): materialize's dist should satisfies pk
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/test_runner/tests/testdata/basic_query_1.yaml
  src/frontend/test_runner/tests/testdata/basic_query_2.yaml
  src/frontend/test_runner/tests/testdata/join.yaml
  src/frontend/test_runner/tests/testdata/mv_on_mv.yaml
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/frontend/test_runner/tests/testdata/struct_query.yaml
Labels: type/fix

#1915 refactor(batch): Use `futures-async-stream` to implement batch executor.
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/executor/executor2_wrapper.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/executor2/executor_wrapper.rs
  src/batch/src/executor2/filter.rs
  src/batch/src/executor2/mod.rs
  src/batch/src/executor2/trace.rs
  src/batch/src/lib.rs
Labels: type/refactor, component/batch

#1916 feat(array): refactor `StreamChunk` & introduce record iterator
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/array/stream_chunk_iter.rs
  src/common/src/lib.rs
  src/common/src/test_utils/test_stream_chunk.rs
  src/stream/src/executor/debug/update_check.rs
  src/stream/src/executor_v2/hop_window.rs
  src/stream/src/executor_v2/top_n.rs
  src/stream/src/executor_v2/top_n_appendonly.rs
Labels: type/feature

#1932 refactor(batch): Fix comments in last refactor.
  src/batch/src/executor/executor2_wrapper.rs
Labels: type/refactor

#1693 feat: notify hummock snapshot to frontend in meta
  proto/meta.proto
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/execution/query.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/query_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/rpc/service/notification_service.rs
Labels: type/feature

#1931 refactor(frontend): cleanup infer_type and align with pg
  src/frontend/src/expr/type_inference.rs
Labels: type/refactor

#1950 refactor(connector): remove thirdparty message types
  src/connector/src/base.rs
  src/connector/src/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/kafka/source/message.rs
  src/connector/src/kafka/source/reader.rs
  src/connector/src/kafka/split.rs
  src/connector/src/kinesis/source/message.rs
  src/connector/src/kinesis/source/reader.rs
  src/connector/src/kinesis/split.rs
  src/connector/src/lib.rs
  src/connector/src/pulsar/source/message.rs
  src/connector/src/pulsar/source/reader.rs
  src/connector/src/pulsar/split.rs
  src/source/src/connector_source.rs
  src/source/src/manager.rs
Labels: type/refactor

#1952 docs: add instructions of starting playground with `cargo run`
  CONTRIBUTING.md
Labels: component/doc

#1925 feat(storage): implement order aware merge iterator
  src/storage/Cargo.toml
  src/storage/benches/bench_merge_iter.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/iterator/concat.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/merge.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/reverse_merge.rs
  src/storage/src/hummock/iterator/reverse_user.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/iterator/user.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_manager.rs
  src/storage/src/hummock/sstable/reverse_sstable_iterator.rs
  src/storage/src/hummock/sstable/sstable_iterator.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/storage_failpoints/test_iterator.rs
Labels: type/feature

#1928 feat: use threshold and capacity to control shared buffer usage and r…
  src/bench/ss_bench/main.rs
  src/common/src/config.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_manager.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/feature

#1890 feat(streaming): split chunks in hash agg
  Cargo.lock
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/stream/Cargo.toml
  src/stream/src/executor_v2/hash_agg.rs
Labels: type/feature

#1956 refactor(storage): remove lifetime on iterators
  src/storage/benches/bench_merge_iter.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/iterator/merge.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/reverse_merge.rs
  src/storage/src/hummock/iterator/reverse_user.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/iterator/user.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/refactor

#1889 refactor(streaming): remove AggExecutorWrapper
  src/stream/src/executor_v2/aggregation/agg_executor.rs
  src/stream/src/executor_v2/aggregation/agg_state.rs
  src/stream/src/executor_v2/aggregation/mod.rs
Labels: type/refactor

#1900 chore(relational_state_store): define interfaces of relational layer
  src/storage/src/table/mem_table.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/state_table.rs
Labels: type/chore

#1953 refactor(binder): split relation binding to sub mods
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation.rs
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/subquery.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/relation/window_table_function.rs
Labels: type/refactor

#1957 refactor(storage): add Send bound to NextFuture in StateStoreIter
  src/storage/src/hummock/state_store.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/rocksdb_local.rs
  src/storage/src/rocksdb_local_mock.rs
  src/storage/src/store.rs
  src/storage/src/tikv.rs
  src/storage/src/tikv_mock.rs
Labels: type/refactor

#1955 refactor(streaming): use async stream for dispatcher
  src/stream/src/executor/actor.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#1884 feat(storage): support new lru-cache so that we can control memory usage precisely
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/benches/bench_lru_cache.rs
  src/storage/src/hummock/cache.rs
  src/storage/src/hummock/mod.rs
Labels: type/feature

#1927 chore(ss-bench): add options and clean its doc
  src/bench/ss_bench/README.md
  src/bench/ss_bench/main.rs
Labels: type/chore

#1965 feat(streaming): support value meta in mv executor
  src/common/src/array/data_chunk_iter.rs
  src/common/src/hash/key.rs
  src/meta/src/model/hash_mapping.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor_v2/mview/state.rs
Labels: type/feature

#1968 feat(streaming): use executor v2 in dispatcher, actor, and builder
  src/compute/tests/table_v2_materialize.rs
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/debug/cache_clear.rs
  src/stream/src/executor/debug/epoch_check.rs
  src/stream/src/executor/debug/mod.rs
  src/stream/src/executor/debug/schema_check.rs
  src/stream/src/executor/debug/trace.rs
  src/stream/src/executor/debug/update_check.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/source.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/merge.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/union.rs
  src/stream/src/executor_v2/v1_compat.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#1960 feat: make `create materialized view from source` available
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/compute/tests/table_v2_materialize.rs
  src/connector/src/base.rs
  src/connector/src/filesystem/s3/s3_dir.rs
  src/connector/src/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/kafka/source/reader.rs
  src/connector/src/kinesis/source/reader.rs
  src/connector/src/pulsar/source/reader.rs
  src/connector/src/utils.rs
  src/source/src/connector_source.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/table_v2.rs
  src/stream/Cargo.toml
  src/stream/src/executor/source.rs
Labels: type/feature

#1972 chore: fix docker compose dependencies
  scripts/source/docker-compose.yml
Labels: type/chore

#1975 fix: use random instead of sleep
  src/stream/src/executor/source.rs
Labels: type/fix

#1976 fix: revert ci timeout to previous value
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
Labels: type/fix

#1984 refactor(meta): use scheduled parallel unit in dispatcher's hash mapping
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor

#1969 refactor(stream, storage): use iter in TopNExecutor
  src/storage/src/cell_based_row_deserializer.rs
  src/storage/src/keyspace.rs
  src/stream/src/executor/managed_state/flush_status.rs
  src/stream/src/executor/managed_state/top_n/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
Labels: type/refactor

#1985 refactor(expr): decouple macro gen_binary_expr_atm from temporal operator signatures
  src/expr/src/expr/expr_binary_nonnull.rs
Labels: type/refactor

#1981 feat(streaming): migrate and combine debug executors to v2
  src/stream/src/executor/debug/cache_clear.rs
  src/stream/src/executor/debug/epoch_check.rs
  src/stream/src/executor/debug/mod.rs
  src/stream/src/executor/debug/trace.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor_v2/debug.rs
  src/stream/src/executor_v2/debug/epoch_check.rs
  src/stream/src/executor_v2/debug/schema_check.rs
  src/stream/src/executor_v2/debug/trace.rs
  src/stream/src/executor_v2/debug/update_check.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#1970 fix(streaming): ensure schema and order are consistent in lookup
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflow-template/jobs/e2e-source.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  src/common/src/array/data_chunk.rs
  src/common/src/array/stream_chunk.rs
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/rewrite/delta_join.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/lookup/impl_.rs
  src/stream/src/executor_v2/lookup/sides.rs
  src/stream/src/executor_v2/lookup/tests.rs
Labels: type/fix

#1983 feat: introduce epoch with physical part only
  src/common/src/util/epoch.rs
  src/common/src/util/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/manager/catalog_v2.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/epoch.rs
  src/meta/src/manager/mod.rs
  src/meta/src/manager/notification.rs
  src/meta/src/model/barrier.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/epoch_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/storage/hummock_sdk/src/lib.rs
Labels: type/feature

#1978 feat(frontend): add delta join support
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  e2e_test/v2/streaming_1node/join-3way.slt
  e2e_test/v2/streaming_1node/tpch_snapshot.slt
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/join.yaml
  src/meta/src/stream/fragmenter.rs
Labels: type/feature

#1980 feat(frontend): support HOP window
  proto/expr.proto
  proto/stream_plan.proto
  src/common/src/catalog/schema.rs
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/planner/relation.rs
Labels: type/feature

#2000 fix(frontend): fix a bug that could lead to predicates loss.
  src/frontend/src/optimizer/rule/filter_join.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix

#2005 fix: fix epoch check panic when checkpoint
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
Labels: type/fix

#2007 feat(frontend): add FilterMerge
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/rule/filter_merge.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate.rs
  src/frontend/test_runner/tests/testdata/predicate_pushdown.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2006 refactor: remove open from StreamSourceReader
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/source/src/connector_source.rs
  src/source/src/lib.rs
  src/source/src/table_v2.rs
Labels: type/refactor

#2004 feat(meta): support place actors same as upstream
  .github/workflow-template/jobs/e2e-risedev.yml
  .github/workflow-template/template.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  e2e_test/v2/streaming/tpch_upstream.slt
  e2e_test/v2/streaming_delta_join/join-3way.slt
  e2e_test/v2/streaming_delta_join/tpch_snapshot.slt
  src/common/src/error.rs
  src/meta/src/stream/scheduler.rs
Labels: type/feature

#2012 feat(frontend): support create index
  e2e_test/v2/streaming/index.slt
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
Labels: type/feature

#2018 feat(tpch): add streaming e2e tpchq14 test
  e2e_test/v2/streaming/tpch_snapshot.slt
  e2e_test/v2/streaming/tpch_upstream.slt
Labels: type/feature

#2009 chore(streaming): only export traced error type
  src/stream/src/executor_v2/batch_query.rs
  src/stream/src/executor_v2/chain.rs
  src/stream/src/executor_v2/debug/epoch_check.rs
  src/stream/src/executor_v2/debug/schema_check.rs
  src/stream/src/executor_v2/debug/trace.rs
  src/stream/src/executor_v2/debug/update_check.rs
  src/stream/src/executor_v2/error.rs
  src/stream/src/executor_v2/global_simple_agg.rs
  src/stream/src/executor_v2/hash_agg.rs
  src/stream/src/executor_v2/hop_window.rs
  src/stream/src/executor_v2/local_simple_agg.rs
  src/stream/src/executor_v2/lookup/impl_.rs
  src/stream/src/executor_v2/lookup/sides.rs
  src/stream/src/executor_v2/merge.rs
  src/stream/src/executor_v2/mview/materialize.rs
  src/stream/src/executor_v2/rearranged_chain.rs
  src/stream/src/executor_v2/simple.rs
  src/stream/src/executor_v2/test_utils.rs
  src/stream/src/executor_v2/top_n_executor.rs
  src/stream/src/executor_v2/union.rs
  src/stream/src/executor_v2/v1_compat.rs
Labels: type/chore

#2003 feat(CI): support cronjob for CI daily
  .github/workflow-template/generate.sh
  .github/workflow-template/main-cron.yml
  .github/workflows/main-cron.yml
Labels: type/feature

#1987 feat(relational-states): use relational states (table_id) to replace operator_id in hash join.
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/fragment_graph.rs
  src/meta/src/stream/graph/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/hash_join.rs
Labels: type/feature

#2026 fix(CI): fix misc check
  .github/workflows/main-cron.yml
Labels: type/fix

#2025 refactor(binder): unify type alignment logic in VALUES, CASE, IN
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/values.rs
Labels: type/refactor

#2020 feat(stream): add append_only in proto stream node
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/meta/src/stream/fragmenter.rs
  src/meta/src/stream/graph/stream_graph.rs
  src/meta/src/stream/rewrite/delta_join.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/feature

#2038 feat(frontend): convert order-by & limit to TopN in optimizer
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_exchange.rs
  src/frontend/src/optimizer/plan_node/batch_sort.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/src/planner/query.rs
  src/frontend/test_runner/tests/testdata/order_by.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature

#2046 chore(streaming): enable original chain executor
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor_v2/mod.rs
  src/stream/src/executor_v2/v1_compat.rs
Labels: type/chore

#2047 refactor(frontend): remove `FunctionCall::new_with_return_type` that bypass infer_type
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/type_inference.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/planner/relation.rs
  src/frontend/test_runner/tests/testdata/expr.yaml
Labels: type/refactor

#2030 feat(optimizer): col prune for hop
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/utils/column_index_mapping.rs
  src/frontend/test_runner/tests/testdata/time_window.yaml
Labels: type/feature

#2031 fix: change the encoding of actor mapping in grpc
  proto/stream_plan.proto
  src/common/src/util/compress.rs
  src/common/src/util/mod.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#2048 feat(streaming): add cache for lookup
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor_v2/lookup.rs
  src/stream/src/executor_v2/lookup/cache.rs
  src/stream/src/executor_v2/lookup/impl_.rs
  src/stream/src/executor_v2/lookup/sides.rs
Labels: type/feature

#2049 refactor(frontend): rename Expr::to_protobuf to Expr::to_expr_proto
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/correlated_input_ref.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/batch_project.rs
  src/frontend/src/optimizer/plan_node/batch_values.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
Labels: type/refactor

#2029 feat(meta): add support for sending notifications asynchronously
  src/meta/src/cluster/mod.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/manager/catalog.rs
  src/meta/src/manager/catalog_v2.rs
  src/meta/src/manager/notification.rs
Labels: type/feature
