Repository risingwavelabs/risingwave, pull requests merged in 2022-10, with the labels that each got.

#5671 chore(risedev): disable tier-cached
  risedev.yml
Labels: type/chore, mergify/can-merge

#5681 style: enable clippy upper-case-acronyms-aggressive
  clippy.toml
  src/common/src/types/decimal.rs
  src/common/src/types/mod.rs
  src/common/src/util/ordered/serde.rs
  src/connector/src/sink/mod.rs
  src/connector/src/source/pulsar/admin/client.rs
  src/expr/src/vector_op/agg/functions.rs
  src/frontend/src/session.rs
  src/risedevtool/src/bin/risedev-config.rs
  src/storage/src/store.rs
  src/stream/clippy.toml
  src/tests/regress/src/opts.rs
  src/tests/regress/src/schedule.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/style, mergify/can-merge

#5680 style: remove unused imports while test feature is not enabled
  src/storage/src/hummock/store/state_store.rs
Labels: type/style, mergify/can-merge

#5662 chore(grafana): add metrics description in grafana panels
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
Labels: type/chore, mergify/can-merge

#5687 fix: return err for stream top n with limit 0
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
Labels: type/fix, mergify/can-merge

#5685 doc: index page for crate docs
  Makefile.toml
  docs/index.md
  docs/rust.css
  src/README.md
Labels: component/doc, mergify/can-merge

#5682 refactor(config): make BOUNDED_BUFFER_SIZE configurable
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/context.rs
  src/batch/src/task/fifo_channel.rs
  src/batch/src/task/hash_shuffle_channel.rs
  src/batch/src/task/mod.rs
  src/batch/src/task/task_execution.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/risingwave.toml
  src/frontend/src/scheduler/task_context.rs
  src/stream/src/from_proto/global_simple_agg.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/hash_join.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, mergify/can-merge

#5686 ci: publish crate docs to gh-pages
  .github/workflows/doc.yml
  docs/developer-guide.md
Labels: mergify/can-merge

#5673 fix: array subscript doesn't have correct precedence
  e2e_test/batch/basic/array_access.slt.part
  src/sqlparser/src/parser.rs
Labels: type/fix, user-facing-changes, difficulty/simple, mergify/can-merge

#5695 refactor(storage): replace RwError with dedicated error types in StateTable
  src/common/src/error.rs
  src/storage/src/error.rs
  src/storage/src/table/error.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/managed_state/join/iter_utils.rs
Labels: type/refactor, mergify/can-merge

#5694 refactor: improve sanity check error message
  src/common/src/array/data_chunk_iter.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/streaming_table/mem_table.rs
  src/storage/src/table/streaming_table/state_table.rs
Labels: type/refactor, mergify/can-merge

#5696 refactor: remove `batch_deserialize` in stata table
  src/storage/src/row_serde/mod.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/refactor, mergify/can-merge

#5654 refactor: remove create_source/sync_source rpc in CN(#5269)
  proto/stream_plan.proto
  proto/stream_service.proto
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/common/src/util/prost.rs
  src/compute/src/rpc/service/stream_service.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/rpc_client/src/stream_client.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/table.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source.rs
Labels: type/refactor, mergify/can-merge

#5699 refactor(plan_node): continue the extraction in #5630
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
Labels: type/refactor, mergify/can-merge

#5700 refactor(plan_node): Last part on rewriting logical nodes
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: mergify/can-merge

#5701 chore: remove temporary compaction group switch
  src/frontend/src/handler/create_mv.rs
Labels: type/chore, mergify/can-merge

#5643 feat(risedev): add typos check for risedev check
  Makefile.toml
  src/common/src/hash/key.rs
  src/storage/src/hummock/mod.rs
Labels: type/feature, mergify/can-merge

#5703 chore(deps): bump tracing-subscriber and use nu-ansi-term
  Cargo.lock
  src/bench/Cargo.toml
  src/tests/regress/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore, mergify/can-merge

#5647 refactor(source): all in async-stream
  Cargo.lock
  clippy.toml
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/update.rs
  src/common/src/array/data_chunk.rs
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/util/future_utils.rs
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/datagen/mod.rs
  src/connector/src/source/datagen/source/generator.rs
  src/connector/src/source/datagen/source/mod.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/dummy_connector.rs
  src/connector/src/source/filesystem/s3/source/s3_file_reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/nexmark/source/event.rs
  src/connector/src/source/nexmark/source/generator.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/source/Cargo.toml
  src/source/src/connector_source.rs
  src/source/src/lib.rs
  src/source/src/table.rs
  src/stream/src/executor/source/reader.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/refactor, mergify/can-merge

#5706 refactor(meta): remove ddl lock for scaling
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/scale_service.rs
Labels: type/refactor, mergify/can-merge

#5677 feat(pgwire): replace BoxStream in PgResult with static type
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/drop_user.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/flush.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature, mergify/can-merge

#5702 refactor(notification): introduce subscribe type and avoid passing addr and worker type
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/compute/src/compute_observer/observer_manager.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/hummock/observer.rs
  src/ctl/src/common/hummock_service.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/test_utils.rs
Labels: type/refactor, mergify/can-merge

#5679 feat(source): support parsing nested record/array in avro parser and fix bug when load schema from s3
  ci/scripts/build.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/source/kafka.slt
  scripts/source/test_data/avro_bin_c.1
  src/common/src/catalog/column.rs
  src/source/src/manager.rs
  src/source/src/parser/avro_parser.rs
  src/source/src/test_data/complex-schema.avsc
  src/tests/simulation/src/main.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#5710 fix(test): reset pg client after connection broken
  ci/scripts/deterministic-recovery-test.sh
  src/tests/simulation/src/main.rs
Labels: type/fix, mergify/can-merge

#5618 refactor(storage): add dedicated error type for `StorageTable`
  src/common/src/error.rs
  src/storage/src/error.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/error.rs
Labels: type/refactor, mergify/can-merge

#5648 feat: introduce source actor scaling
  proto/meta.proto
  proto/stream_plan.proto
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/source/reader.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, mergify/can-merge

#5708 refactor(steam,agg): use `insert` or `update` according to previous state instead of `upsert`
  src/common/src/array/data_chunk_iter.rs
  src/storage/src/table/streaming_table/mem_table.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
Labels: type/refactor, component/streaming, mergify/can-merge

#5165 test(encoding): bench key/value encoding
  Cargo.lock
  src/common/Cargo.toml
  src/common/benches/bench_encoding.rs
  src/common/src/types/mod.rs
Labels: component/test, mergify/can-merge

#5689 feat(storage): use timeout for filter_extractor acquire
  Cargo.lock
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_sdk/src/lib.rs
Labels: type/feature, mergify/can-merge

#5709 refactor(stream,agg): enable state table sanity check for streaming agg
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
Labels: type/refactor, component/streaming, mergify/can-merge

#5720 refactor(storage): state table uses StorageError instead of a dedicated error type
  src/storage/src/error.rs
  src/storage/src/table/error.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/managed_state/join/iter_utils.rs
Labels: type/refactor, mergify/can-merge

#5715 fix(storage): fix SST GC watermark
  src/storage/src/hummock/local_version/flush_controller.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/sstable/sstable_id_manager.rs
  src/tests/sync_point/src/test_utils.rs
Labels: type/fix, mergify/can-merge

#5411 refactor(streaming): stream agg only read and write value column
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/stream/src/executor/aggregation/mod.rs
Labels: type/refactor, mergify/can-merge

#5586 fix: fix recovery hang and in-consistency for create/drop streaming jobs
  src/common/src/error.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/error.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/notification.rs
  src/meta/src/model/barrier.rs
  src/meta/src/model/mod.rs
  src/meta/src/model/notification.rs
  src/storage/hummock_test/src/test_utils.rs
  src/stream/src/executor/barrier_align.rs
  src/tests/simulation/src/main.rs
Labels: type/fix, mergify/can-merge

#5716 feat(storage): start notification manager when hummock start
  Cargo.lock
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/compute/src/compute_observer/mod.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/hummock/observer.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/common.rs
  src/ctl/src/common/hummock_service.rs
  src/frontend/src/session.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/service/notification_service.rs
  src/storage/Cargo.toml
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/store_impl.rs
Labels: type/feature, mergify/can-merge

#5727 refactor(compaction group): change use case because vartrx fixed
  src/meta/src/hummock/compaction_group/manager.rs
Labels: type/refactor, mergify/can-merge

#5668 feat(storage): use a valid version to initialize local version manager
  Cargo.lock
  src/compute/src/server.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/hummock/observer.rs
  src/storage/compactor/Cargo.toml
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/feature

#5693 feat(source): enable SASL for Kafka connector
  Cargo.lock
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  docs/developer-guide.md
  src/connector/Cargo.toml
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
  src/utils/static-link/Cargo.toml
Labels: type/feature, user-facing-changes, mergify/can-merge

#5737 fix(build): fix CI doc test by adding dependency
  .github/workflows/doc.yml
Labels: type/fix, mergify/can-merge

#5733 chore: clean up compaction group register of source id
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/chore, mergify/can-merge

#5735 chore: improve streaming debug info
  src/stream/src/executor/merge.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/task/stream_manager.rs
Labels: type/chore, mergify/can-merge

#5736 fix(streaming): correct row concat and enable tpch q21
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
  src/stream/src/executor/hash_join.rs
Labels: type/fix, mergify/can-merge

#5731 feat(id generator): support 64bit id generation
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/id.rs
  src/meta/src/stream/stream_graph.rs
Labels: type/feature, mergify/can-merge

#5732 fix(meta): ban scaling of the mviews being created
  proto/meta.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, mergify/can-merge

#5725 chore: collect static log features to a separate feature
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  ci/scripts/build.sh
  ci/scripts/release.sh
  docker/Dockerfile
  docker/aws/aws-build.sh
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/source/Cargo.toml
  src/utils/workspace-config/Cargo.toml
  src/utils/workspace-config/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/chore, mergify/can-merge

#5734 refactor(streaming): merge OrderedRowSerializer and OrderedRowDeserializer into one
  src/common/src/array/data_chunk_iter.rs
  src/common/src/util/ordered/serde.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_plain.rs
Labels: mergify/can-merge

#5650 refactor(storage): HummockEvent support VersionUpdate
  src/compute/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/local_version/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/refactor, mergify/can-merge

#5742 feat: add pg_catalog.pg_index and support \di
  e2e_test/batch/catalog/pg_class.slt.part
  src/frontend/src/catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/pg_catalog/pg_index.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#5640 feat(bench): introduce OpenTelemetry tracing and eBPF tracing for file cache bench
  Cargo.lock
  src/batch/src/lib.rs
  src/bench/Cargo.toml
  src/bench/file_cache_bench/bench.rs
  src/bench/file_cache_bench/bpf.rs
  src/bench/file_cache_bench/main.rs
  src/frontend/src/lib.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/file.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/file_cache/utils.rs
  src/storage/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#5744 refactor(fe): refactor handle query
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/planner/query.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/refactor, mergify/can-merge

#5752 chore(meta): remove log caused by TrivialMove
  src/meta/src/hummock/manager/mod.rs
Labels: type/chore, mergify/can-merge

#5707 fix(ctl): scan table
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/cmd_impl/table/scan.rs
Labels: type/fix, mergify/can-merge

#5758 feat(planner): trace "logical rewrite for stream" when explain & minor fixes for scalar subquery
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/append_only.yaml
  src/frontend/planner_test/tests/testdata/basic_query.yaml
  src/frontend/planner_test/tests/testdata/column_pruning.yaml
  src/frontend/planner_test/tests/testdata/common_table_expressions.yaml
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/index.yaml
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/planner_test/tests/testdata/mv_on_mv.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/order_by.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/project_set.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/struct_query.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/max_one_row_visitor.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/max_one_row_elim.rs
  src/frontend/src/session.rs
Labels: type/feature, mergify/can-merge

#5762 chore(build): statically link openssl
  src/connector/Cargo.toml
Labels: type/chore, mergify/can-merge

#5765 refactor(plan_node): Second last part on rewriting logical nodes (for real this time)
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_over_agg.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
Labels: type/refactor, mergify/can-merge

#5748 feat(state_store): refactor write stall to make code simple
  src/compute/src/server.rs
  src/storage/benches/bench_merge_iter.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/compactor/sstable_store.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/monitor/state_store_metrics.rs
Labels: mergify/can-merge

#5757 refactor(test): move duckdb tests to a dedicated folder
  e2e_test/batch/duckdb/aggregate/aggregates/test_minmax.slt.part
  e2e_test/batch/duckdb/join/cross_product/test_cross_product.slt.part
  e2e_test/batch/duckdb/join/full_outer/full_outer_join_cache.slt.part
  e2e_test/batch/duckdb/join/full_outer/full_outer_join_union.slt.part
  e2e_test/batch/duckdb/join/full_outer/test_full_outer_join.slt.part
  e2e_test/batch/duckdb/join/full_outer/test_full_outer_join_complex.slt.part
  e2e_test/batch/duckdb/join/full_outer/test_full_outer_join_inequality.slt.part
  e2e_test/batch/duckdb/join/full_outer/test_full_outer_join_many_matches.slt.part
  e2e_test/batch/duckdb/join/full_outer/test_full_outer_join_range.slt.part
  e2e_test/batch/duckdb/join/inner/equality_join_limits.slt.part
  e2e_test/batch/duckdb/join/inner/join_cross_product.slt.part
  e2e_test/batch/duckdb/join/inner/test_eq_ineq_join.slt.part
  e2e_test/batch/duckdb/join/inner/test_join.slt.part
  e2e_test/batch/duckdb/join/inner/test_lt_join.slt.part
  e2e_test/batch/duckdb/join/inner/test_range_join.slt.part
  e2e_test/batch/duckdb/join/inner/test_unequal_join.slt.part
  e2e_test/batch/duckdb/join/inner/test_unequal_join_duplicates.slt.part
  e2e_test/batch/duckdb/join/inner/test_using_chain.slt.part
  e2e_test/batch/duckdb/join/inner/test_using_join.slt.part
  e2e_test/batch/duckdb/join/inner/test_varchar_join.slt.part
  e2e_test/batch/duckdb/join/left_outer/left_join_dropping_rows.slt.part
  e2e_test/batch/duckdb/join/left_outer/test_left_outer.slt.part
  e2e_test/batch/duckdb/join/right_outer/test_right_outer.slt.part
  e2e_test/batch/duckdb/join/test_complex_join_expr.slt.part
  e2e_test/batch/duckdb/join/test_join_on_aggregates.slt.part
  e2e_test/batch/duckdb/join/test_string_payload.slt.part
Labels: type/refactor, mergify/can-merge

#5770 feat(batch): improve the implementation of BatchTaskMetrics
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/monitor/stats.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/task/context.rs
  src/batch/src/task/env.rs
  src/batch/src/task/task_execution.rs
  src/compute/src/server.rs
  src/frontend/src/scheduler/task_context.rs
Labels: type/feature, mergify/can-merge

#5772 fix: reset file cache when apply compose deploy and enable tiered cache by default
  risedev.yml
  src/risedevtool/src/compose.rs
  src/risedevtool/src/compose_deploy.rs
Labels: type/fix, mergify/can-merge

#5779 fix(meta): resolve chain node with dynamic filter in the same fragment
  e2e_test/streaming/dynamic_filter.slt
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, mergify/can-merge

#5778 chore: remove Arc from Registry
  src/common/common_service/src/metrics_manager.rs
  src/compute/src/server.rs
  src/frontend/src/session.rs
  src/meta/src/rpc/server.rs
  src/storage/compactor/src/server.rs
Labels: type/chore, mergify/can-merge

#5777 feat(source): improve impl of parsing list
  ci/scripts/e2e-source-test.sh
  e2e_test/source/kafka.slt
  scripts/source/prepare_ci_kafka.sh
  scripts/source/test_data/json_c.1
  src/common/src/catalog/column.rs
  src/source/src/manager.rs
  src/source/src/parser/avro_parser.rs
  src/source/src/parser/common.rs
  src/source/src/parser/debezium/json.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/protobuf_parser.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#5788 fix: refuse to create source if no meta info
  e2e_test/source/kafka.slt
  src/meta/src/stream/source_manager.rs
Labels: type/fix, mergify/can-merge

#5746 fix(storage): fix ConcatSstableIterator seek.
  src/storage/src/hummock/compactor/iterator.rs
Labels: type/fix, mergify/can-merge

#5462 fix(compaction group): check existence of given compaction group id b…
  e2e_test/batch/tpch.slt
  proto/hummock.proto
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/explain.rs
  src/meta/src/hummock/compaction_group/mod.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/risedevtool/src/bin/risedev-docslt.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/tests/regress/src/schedule.rs
  src/tests/simulation/src/main.rs
Labels: type/fix, mergify/can-merge

#5793 refactor(stream,agg): remove row count column assert
  src/stream/src/executor/aggregation/mod.rs
Labels: type/refactor, mergify/can-merge

#5766 refactor(plan_node): Last part on rewriting logical nodes
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
Labels: type/refactor, mergify/can-merge

#5797 refactor(plan_node): Introduce `GenericPlanRef`
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Labels: type/refactor, mergify/can-merge

#5789 feat(optimizer): refine the conversion from Join to Dynamic Filter
  e2e_test/streaming/dynamic_filter.slt
  src/frontend/planner_test/tests/testdata/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
Labels: type/feature, mergify/can-merge

#5784 refactor(config):make DEFAULT_CHUNK_SIZE configurable
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/config.rs
  src/config/risingwave.toml
Labels: type/refactor, mergify/can-merge

#5774 feat(storage): add `StateTable::iter_with_pk_range` for `DynamicFilter`
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/storage/src/table/streaming_table/test_streaming_table.rs
Labels: type/feature, mergify/can-merge

#5745 feat(frontend): support create index with distributed by syntax
  e2e_test/ddl/index.slt
  e2e_test/ddl/show.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#5801 chore: use version `0.2.0-alpha` for main branch
  Cargo.lock
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/planner_test/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/prost/helpers/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/sqlparser/Cargo.toml
  src/sqlparser/test_runner/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compaction_test/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/storage/hummock_test/sync_point_unit_test/Cargo.toml
  src/stream/Cargo.toml
  src/test_runner/Cargo.toml
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation_scale/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tracing/Cargo.toml
  src/utils/async_stack_trace/Cargo.toml
  src/utils/global_stats_alloc/Cargo.toml
  src/utils/local_stats_alloc/Cargo.toml
  src/utils/memcomparable/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/workspace-config/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore, mergify/can-merge

#5802 refactor(handler): extract RowSet formatting from scheduler to handler
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/local.rs
Labels: type/refactor, mergify/can-merge

#5794 refactor(stream,agg): remove unnecessary `Result` in extreme state
  src/stream/src/executor/managed_state/aggregation/extreme.rs
Labels: type/refactor, mergify/can-merge

#5690 refactor: refactor batch context to make it more rusty
  src/batch/src/execution/local_exchange.rs
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/sys_row_seq_scan.rs
  src/batch/src/executor/update.rs
  src/batch/src/task/context.rs
  src/frontend/src/scheduler/task_context.rs
Labels: type/refactor, mergify/can-merge

#5803 chore(test): add task for running scale tests in `risedev`
  Makefile.toml
Labels: type/chore, mergify/can-merge

#5670 fix(binder): improve array cmp type inference
  src/frontend/planner_test/tests/testdata/array.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/expr/type_inference/func.rs
Labels: type/fix, mergify/can-merge

#5786 refactor(storage): remove uploader directly dependency of new state store
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/memtable.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
Labels: type/refactor, mergify/can-merge

#5799 feat(frontend, meta): support drop table and mv with indexes
  e2e_test/batch/basic/index.slt.part
  e2e_test/ddl/index.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/test_utils.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, mergify/can-merge

#5761 refactor: migrate protobuf to prost_reflect
  Cargo.lock
  ci/scripts/build.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/source/kafka.slt
  src/frontend/planner_test/tests/testdata/struct_query.yaml
  src/frontend/src/handler/show.rs
  src/frontend/src/test_utils.rs
  src/source/Cargo.toml
  src/source/src/parser/mod.rs
  src/source/src/parser/pb_parser.rs
  src/source/src/parser/protobuf_parser.rs
  src/source/src/test_data/complex-schema
  src/source/src/test_data/simple-schema
  src/source/src/test_data/simple-schema.proto
  src/tests/simulation/src/main.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor, mergify/can-merge

#5811 refactor: remove useless tick when creating materialized source
  src/meta/src/stream/source_manager.rs
Labels: type/refactor, mergify/can-merge

#5820 fix: not force tick in meta recovery process
  src/meta/src/stream/source_manager.rs
Labels: type/fix, mergify/can-merge

#5795 refactor(stream,agg): rename `AggState`
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/local_simple_agg.rs
Labels: type/refactor, mergify/can-merge

#5821 chore: refine error message for null before field in debezium parser
  src/source/src/parser/debezium/json.rs
Labels: type/chore, mergify/can-merge

#5756 refactor(config): make PROCESSING_WINDOW_SIZE configurable
  src/batch/benches/expand.rs
  src/batch/benches/filter.rs
  src/batch/benches/hash_agg.rs
  src/batch/benches/hash_join.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/benches/order_by.rs
  src/batch/benches/sort_merge_join.rs
  src/batch/benches/top_n.rs
  src/batch/src/executor/expand.rs
  src/batch/src/executor/filter.rs
  src/batch/src/executor/group_top_n.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/lookup_join.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/join/sort_merge_join.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/project.rs
  src/batch/src/executor/project_set.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/table_function.rs
  src/batch/src/executor/top_n.rs
  src/batch/src/executor/values.rs
  src/common/src/config.rs
  src/common/src/util/chunk_coalesce.rs
  src/common/src/util/sort_util.rs
  src/config/risingwave.toml
  src/expr/src/table_function/generate_series.rs
  src/expr/src/table_function/mod.rs
  src/expr/src/table_function/regexp_matches.rs
  src/expr/src/table_function/unnest.rs
  src/frontend/src/scheduler/task_context.rs
  src/frontend/src/session.rs
  src/source/src/common.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/hash_join.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/from_proto/project_set.rs
Labels: type/refactor, mergify/can-merge

#5822 fix(batch): fix dangling channel and prevent receiver from infinite waiting
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix, mergify/can-merge

#5815 feat(local version): create compaction group info from `HummockVersion`
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
Labels: type/feature, mergify/can-merge

#5814 feat(filecache): split a large I/O write into multiple size limited I/Os to reduce cache file read tail latency
  src/bench/file_cache_bench/bench.rs
  src/bench/file_cache_bench/main.rs
  src/common/src/config.rs
  src/config/risingwave.toml
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/file.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/store_impl.rs
Labels: type/feature, mergify/can-merge

#5818 feat(streaming): introduce `CompactedRow` and change top_n cache to store `CompactedRow`
  src/common/src/array/data_chunk_iter.rs
  src/common/src/lib.rs
  src/common/src/row.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/storage/src/table/streaming_table/test_streaming_table.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/utils.rs
Labels: type/feature, mergify/can-merge

#5813 fix(streaming): clear cache if necessary when scale
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/cache/mod.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/utils.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/src/from_proto/top_n_appendonly.rs
  src/tests/simulation_scale/src/cluster.rs
  src/tests/simulation_scale/src/lib.rs
  src/tests/simulation_scale/src/utils.rs
  src/tests/simulation_scale/tests/hello.rs
  src/tests/simulation_scale/tests/nexmark_q4.rs
Labels: type/fix, mergify/can-merge

#5817 fix(expr): adjust `timestamptz` input/output format
  e2e_test/batch/types/cast.slt.part
  e2e_test/batch/types/timestamptz_utc.slt.part
  src/expr/src/expr/template.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/util.rs
Labels: type/fix, user-facing-changes, mergify/can-merge

#5674 feat: support more postgres syntax of interval
  e2e_test/batch/types/interval.slt.part
  src/common/src/types/interval.rs
Labels: type/feature, mergify/can-merge

#5785 feat: support DISTINCT ON in batch query
  e2e_test/batch/aggregate/distinct.slt.part
  proto/expr.proto
  src/expr/src/expr/agg.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/functions.rs
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/rule/distinct_agg.rs
  src/frontend/src/planner/select.rs
  src/sqlparser/examples/parse.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/tests/sqlsmith/src/expr.rs
  src/tests/sqlsmith/src/lib.rs
Labels: type/feature, mergify/can-merge

#5791 feat(frontend): support `search_path` and improve support for "schema-qualified name"
  e2e_test/ddl/database.slt
  e2e_test/ddl/privilege.slt
  e2e_test/ddl/schema_qualified_name.slt
  e2e_test/ddl/search_path.slt
  src/common/src/session_config/mod.rs
  src/common/src/session_config/query_mode.rs
  src/common/src/session_config/search_path.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/binder/delete.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/relation/window_table_function.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/session.rs
  src/sqlparser/tests/testdata/privilege.yaml
Labels: type/feature, user-facing-changes, mergify/can-merge

#5834 feat: support if exists for drop mv/source/table/index/sink
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/mod.rs
  src/utils/pgwire/src/pg_extended.rs
Labels: type/feature, mergify/can-merge

#5812 refactor(batch): pin snapshot in RAII style
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Labels: type/refactor, mergify/can-merge

#5846 fix(compaction): set task status on cancellation
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix, mergify/can-merge

#5841 refactor(source): refactor avro/protobuf parser and support enum type by mapping to var…
  .gitignore
  e2e_test/source/kafka.slt
  scripts/source/test_data/avro_c_bin.1
  src/frontend/src/handler/show.rs
  src/source/src/parser/avro_parser.rs
  src/source/src/parser/pb_parser.rs
  src/source/src/test_data/complex-schema
  src/source/src/test_data/complex-schema.avsc
  src/source/src/test_data/complex-schema.proto
Labels: type/refactor, mergify/can-merge

#5832 refactor(batch): move the storage access of `RowSeqScan` from the executor builder to the body
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/batch_table/test_batch_table.rs
  src/stream/src/executor/mview/materialize.rs
Labels: type/refactor, mergify/can-merge

#5857 chore: re-add force tick
  src/meta/src/stream/source_manager.rs
Labels: type/chore, mergify/can-merge

#5848 refactor(stream,agg): refactor `ManagedStateImpl`
  src/stream/src/common/mod.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/aggregation/table_state/array_agg.rs
  src/stream/src/executor/aggregation/table_state/extreme.rs
  src/stream/src/executor/aggregation/table_state/mod.rs
  src/stream/src/executor/aggregation/table_state/string_agg.rs
  src/stream/src/executor/aggregation/value.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor/managed_state/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
Labels: type/refactor, mergify/can-merge

#5858 fix(risedev): disallow in-memory hummock for multiple node configuration
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/utils.rs
  src/storage/src/store_impl.rs
Labels: type/fix, mergify/can-merge

#5837 refactor(streaming): dynamic filter use `CompactedRow` in cache
  src/common/src/row.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/managed_state/dynamic_filter.rs
Labels: type/refactor, mergify/can-merge

#5862 refactor(source): delete a redundant log output
  src/source/src/parser/pb_parser.rs
Labels: type/refactor, mergify/can-merge

#5866 fix(meta): fix meta wrong config
  risedev.yml
Labels: type/fix, mergify/can-merge

#5589 feat(batch): setup benchmark for LimitExecutor
  src/batch/Cargo.toml
  src/batch/benches/limit.rs
  src/batch/src/executor/limit.rs
Labels: mergify/can-merge

#5827 feat(batch): clear query executions for distributed query after execution
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature, mergify/can-merge

#5775 feat: introduce basic ssl connection
  Cargo.lock
  src/frontend/src/lib.rs
  src/tests/simulation/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
  src/utils/pgwire/tests/ssl/demo.crt
  src/utils/pgwire/tests/ssl/demo.key
Labels: type/feature, mergify/can-merge

#5838 refactor(frontend): refactor frontend schema catalog
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
Labels: type/refactor, mergify/can-merge

#5839 feat(frontend): support `current_schemas` function
  src/frontend/planner_test/tests/testdata/sysinfo_funcs.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/mod.rs
Labels: type/feature, mergify/can-merge

#5855 feat: support `timestamp with time zone` for `tumble` and `hop`
  e2e_test/batch/basic/time_window_utc.slt.part
  e2e_test/batch/types/timestamptz_utc.slt.part
  src/batch/src/executor/hop_window.rs
  src/common/src/types/mod.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/tumble.rs
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/src/binder/relation/window_table_function.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/source/src/parser/common.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/from_proto/hop_window.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#5876 style: fix warnings on latest clippy
  src/batch/src/executor/join/lookup_join.rs
  src/common/src/array/mod.rs
  src/common/src/buffer/bitmap.rs
  src/common/src/cache.rs
  src/common/src/types/interval.rs
  src/common/src/types/ordered_float.rs
  src/connector/src/source/nexmark/source/generator.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/rule/apply_join.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/session.rs
  src/frontend/src/utils/condition.rs
  src/meta/src/hummock/compaction/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/test_scale.rs
  src/object_store/src/object/disk.rs
  src/risedevtool/src/bin/risedev-config.rs
  src/source/src/parser/common.rs
  src/sqlparser/src/tokenizer.rs
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/bloom.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/stream/src/executor/aggregation/agg_impl/foldable.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/wrapper/update_check.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/test_runner/src/test_runner.rs
  src/utils/memcomparable/src/ser.rs
Labels: type/style, mergify/can-merge

#5881 fix: ban `cmp` between different scalar types
  src/common/src/types/mod.rs
Labels: type/fix, mergify/can-merge

#5879 fix(frontend): improve the check of duplicated relations
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/create_table.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, mergify/can-merge

#5819 feat(storage): support update committed_version of HummockReadVersion
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
Labels: type/feature, mergify/can-merge

#5792 feat(compaction group): split a compaction group by table ids subset
  proto/hummock.proto
  proto/meta.proto
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/compaction_group/mod.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/model/mod.rs
  src/meta/src/rpc/service/notification_service.rs
  src/storage/compaction_test/src/server.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/compaction_group_client.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/feature, mergify/can-merge

#5884 fix(parser): force comma between EXPLAIN options
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/fix, mergify/can-merge

#5854 feat: support NoticeResponse protocol
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/drop_user.rs
  src/utils/pgwire/src/error_or_notice.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/feature, mergify/can-merge

#5880 refactor: migrate from `from_proto_bytes` to `value_encoding`
  src/common/src/util/value_encoding/mod.rs
Labels: type/refactor, mergify/can-merge

#5849 refactor(source): remove drop_source rpc in CN
  proto/stream_service.proto
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/batch/src/task/context.rs
  src/batch/src/task/env.rs
  src/compute/src/rpc/service/stream_service.rs
  src/compute/src/server.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/scheduler/task_context.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/stream_client.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/task/env.rs
Labels: type/refactor, mergify/can-merge

#5870 ci: refactor tpch benchmark pipeline
  ci/scripts/benchmark.sh
  ci/workflows/benchmark.yml
Labels: component/ci, mergify/can-merge

#5882 fix(streaming): fix simple agg output after deleting all its input rows
  e2e_test/streaming/basic_agg.slt
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/global_simple_agg.rs
Labels: type/fix, mergify/can-merge

#5889 refactor(stream,agg): introduce `enum AggStateStorage` to represent different storage type for agg states
  src/common/src/util/match_util.rs
  src/common/src/util/mod.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/agg_common.rs
  src/stream/src/from_proto/global_simple_agg.rs
  src/stream/src/from_proto/hash_agg.rs
Labels: type/refactor, mergify/can-merge

#5887 chore: update readme and release script
  README.md
  ci/scripts/release.sh
Labels: type/chore, mergify/can-merge

#5893 chore(docs): rephrasing some sentences in docs
  docs/architecture-design.md
  docs/state-store-overview.md
  docs/streaming-overview.md
Labels: type/chore, component/doc, mergify/can-merge

#5863 refactor(hummock manager): lazy init `HummockVersion` and `CompactStatus`
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/hummock/vacuum.rs
Labels: type/refactor, mergify/can-merge

#5646 feat(pgwire):support binary format param of timestampz and interval type
  Cargo.lock
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/expr/Cargo.toml
  src/expr/src/vector_op/cast.rs
  src/frontend/src/handler/util.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_field_descriptor.rs
Labels: type/feature, mergify/can-merge

#5897 perf: improve deserialization of value encoding for struct/list
  src/common/src/util/value_encoding/mod.rs
Labels: type/perf, mergify/can-merge

#5900 chore: remove wrong error message
  src/frontend/src/scheduler/distributed/query.rs
Labels: type/chore, mergify/can-merge

#5899 feat(frontend): improve user privilege check
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_authentication.rs
  src/frontend/src/user/user_service.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, mergify/can-merge

#5888 refactor(compaction filter): only set state clean on when input conta…
  proto/hummock.proto
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
Labels: type/refactor, mergify/can-merge

#5883 fix(expr): arithmetic between f32 and exact types should return f64
  e2e_test/batch/types/number_arithmetic.slt.part
  e2e_test/batch/types/temporal_arithmetic.slt.part
  src/expr/src/expr/expr_binary_nonnull.rs
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/src/expr/type_inference/func.rs
Labels: type/fix, mergify/can-merge

#5907 fix(batch): schedule single task for singleton table scan
  proto/meta.proto
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/batch_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/mv_on_mv.yaml
  src/frontend/planner_test/tests/testdata/singleton.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_visitor.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/fix, mergify/can-merge

#5867 perf(local version): leverage table_id filter in read_filter to make up for removal of `CompactionGroupId`
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
Labels: type/perf, mergify/can-merge

#5914 fix(streaming): For non simple agg always send insert to the down stream if row count change from zero
  e2e_test/streaming/basic_agg.slt
  src/stream/src/executor/aggregation/agg_group.rs
Labels: type/fix, mergify/can-merge

#5898 fix(block-cache): retry when other thread cancel future or meet error
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/sstable_store.rs
Labels: mergify/can-merge

#5920 feat: handle no ssl
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/feature, mergify/can-merge

#5909 fix: node cpu usage too high on macos
  .typos.toml
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/monitor/process_linux.rs
Labels: type/fix, mergify/can-merge

#5922 refactor(storage): avoid exposing local version manager
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/storage/compaction_test/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/refactor, mergify/can-merge

#5780 chore: refine the logic of source manager
  proto/meta.proto
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/chore, mergify/can-merge

#5928 fix(ctl): fix sst_dump
  Cargo.lock
  src/common/src/util/value_encoding/mod.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/storage/src/row_serde/row_serde_util.rs
Labels: type/fix, mergify/can-merge

#5520 feat(meta): drop actor and source in batch interface
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/background_deleter.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature, mergify/can-merge

#5894 fix(streaming): avoid numeric overflow in top n cache, enforce range on LIMIT and OFFSET
  e2e_test/streaming/bug_fixes/issue_5825.slt
  src/frontend/src/binder/query.rs
  src/frontend/src/optimizer/plan_node/generic.rs
  src/frontend/src/optimizer/plan_node/logical_limit.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/rule/over_agg_to_topn.rs
  src/frontend/src/planner/query.rs
  src/stream/src/executor/top_n/top_n_cache.rs
Labels: type/fix, mergify/can-merge

#5905 fix(compaction): fix manual compaction corner case.
  src/meta/src/hummock/compaction/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/mod.rs
Labels: type/fix, mergify/can-merge

#5934 fix: quick fix for hummock compile error
  src/storage/compaction_test/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/mod.rs
Labels: type/fix, mergify/can-merge

#5919 refactor(compaction-test): improve performance and stability
  src/meta/src/hummock/compaction_scheduler.rs
  src/storage/compaction_test/src/lib.rs
  src/storage/compaction_test/src/server.rs
Labels: type/refactor, mergify/can-merge

#5933 feat(frontend): throw error when `UserOptions` has multiple conflicting or redundant options
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature, mergify/can-merge

#5937 chore(storage): add test compile features for compaction test
  src/storage/compaction_test/Cargo.toml
  src/storage/compaction_test/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/mod.rs
Labels: type/chore, mergify/can-merge

#5938 chore: move kafkacat dep to docker
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
Labels: type/chore, mergify/can-merge
