Repository risingwavelabs/risingwave, pull requests merged in 2022-07, with the labels that each got.

#3427 refactor(storage): use enum for object store impl
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/object_store/src/lib.rs
  src/object_store/src/object/disk.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/vacuum.rs
  src/storage/src/store_impl.rs
Labels: type/refactor, mergify/can-merge

#3513 fix: clear shared buffer on stop_all_actors
  src/compute/src/rpc/service/stream_service.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, mergify/can-merge

#3590 fix(storage): fix unstable_test for compactor and add tracing
  src/storage/src/hummock/compactor_tests.rs
Labels: type/fix, mergify/can-merge

#3599 fix(optimizer): batch distinct agg & local topn distribution
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
Labels: type/fix, mergify/can-merge

#3585 chore(binder): add descriptions to some NotImplemented error
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/set_expr.rs
Labels: type/chore, mergify/can-merge

#3595 fix(optimizer): stream hop dist derive
  e2e_test/streaming/time_window.slt
  e2e_test/streaming/time_window_join.slt
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/test_runner/tests/testdata/distribution_derive.yaml
Labels: type/fix, mergify/can-merge

#3600 chore: Revert "test: set sortmode rowsort (#3582)"
  e2e_test/batch/basic/generate_series.slt
  e2e_test/batch/config.slt
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/explain.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/tpch.slt
  e2e_test/database/prepare.slt
  e2e_test/database/test.slt
  e2e_test/ddl/database.slt
  e2e_test/ddl/index.slt
  e2e_test/ddl/privilege.slt
  e2e_test/ddl/schema.slt
  e2e_test/ddl/show.slt
  e2e_test/ddl/table.slt
  e2e_test/ddl/user.slt
  e2e_test/source/basic_test.slt
  e2e_test/source/ddl.slt
  e2e_test/streaming/append_only.slt
  e2e_test/streaming/basic.slt
  e2e_test/streaming/count_star.slt
  e2e_test/streaming/datagen.slt
  e2e_test/streaming/demo/ad_ctr.slt
  e2e_test/streaming/demo/metric_analysis.slt
  e2e_test/streaming/extreme_null.slt
  e2e_test/streaming/join-3way.slt
  e2e_test/streaming/join.slt
  e2e_test/streaming/mv_on_mv.slt
  e2e_test/streaming/nexmark_snapshot.slt
  e2e_test/streaming/nexmark_upstream.slt
  e2e_test/streaming/order_by.slt
  e2e_test/streaming/struct_table.slt
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
  e2e_test/streaming_delta_join/join-3way.slt
  e2e_test/streaming_delta_join/tpch_snapshot.slt
Labels: type/chore, mergify/can-merge

#3601 fix: fix parallel sqllogictest on stream e2e
  ci/scripts/e2e-test-parallel.sh
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, mergify/can-merge

#3251 feat(batch): parallel table scan
  proto/batch_plan.proto
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/common/src/catalog/physical_table.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/meta/src/manager/hash_mapping.rs
Labels: type/feature, mergify/can-merge

#3602 fix(streaming): create mview progress report under concurrent checkpoint
  src/stream/src/executor/chain.rs
  src/stream/src/executor/rearranged_chain.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/progress.rs
Labels: type/fix, mergify/can-merge

#3592 chore(pgwire): add simple 'unrecognized_param' error handle
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/chore, mergify/can-merge

#3578 feat(storage): implement dedup pk deserializer
  src/storage/src/dedup_pk_cell_based_row_deserializer.rs
  src/storage/src/lib.rs
Labels: type/feature, mergify/can-merge

#3604 feat(ci): integrate sqllogictest with test analysis
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: type/feature, mergify/can-merge

#3461 feat(rt): support tokio-console tracing
  Cargo.lock
  Cargo.toml
  docs/developer-guide.md
  src/cmd/Cargo.toml
  src/cmd/src/bin/compactor.rs
  src/cmd/src/bin/compute_node.rs
  src/cmd/src/bin/ctl.rs
  src/cmd/src/bin/frontend_node.rs
  src/cmd/src/bin/meta_node.rs
  src/cmd_all/Cargo.toml
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/playground.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
  src/utils/runtime/src/trace_runtime.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#3533 refactor(optimizer): refactor logicalAgg::create
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/utils/column_index_mapping.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
Labels: type/refactor, component/frontend, mergify/can-merge

#3570 refactor(lookup): use state table for lookup
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/sides.rs
Labels: type/refactor, mergify/can-merge

#3593 refactor(state_table): construct state_table from table_id+store instead of key_space
  proto/stream_plan.proto
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph.rs
  src/storage/src/table/cell_based_table.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/hash_join.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/from_proto/mview.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/src/from_proto/top_n_appendonly.rs
Labels: type/refactor

#3453 feat(storage): enable static compaction group
  Cargo.lock
  proto/hummock.proto
  src/bench/ss_bench/main.rs
  src/compute/src/rpc/service/stream_service.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/Cargo.toml
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/compaction_group/mod.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/src/hummock/compaction_group_client.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/snapshot_tests.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/storage_failpoints/test_hummock.rs
  src/storage/src/store_impl.rs
  src/stream/src/task/stream_manager.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#3619 refactor(cell_based_table): decouple encoding and cell_based table
  src/batch/src/executor/row_seq_scan.rs
  src/compute/tests/integration_tests.rs
  src/storage/src/encoding/cell_based_row_deserializer.rs
  src/storage/src/encoding/cell_based_row_serializer.rs
  src/storage/src/encoding/dedup_pk_cell_based_row_deserializer.rs
  src/storage/src/encoding/dedup_pk_cell_based_row_serializer.rs
  src/storage/src/encoding/mod.rs
  src/storage/src/error.rs
  src/storage/src/lib.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/storage_table.rs
  src/storage/src/table/storage_table/iter_utils.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/from_proto/batch_query.rs
Labels: type/refactor

#3620 feat(storage): reduce write lock guard for local_version
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/state_store_metrics.rs
Labels: type/feature, mergify/can-merge

#3624 refactor: introduce TableCatalogBuilder for DRY
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
Labels: type/refactor, mergify/can-merge

#3622 feat: row_id batch acquire
  src/batch/src/executor/insert.rs
  src/source/src/manager.rs
  src/source/src/row_id.rs
  src/source/src/table_v2.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, mergify/can-merge

#3611 chore(ci): bump sqllogictest to v0.5.4
  ci/build-ci-image.sh
  ci/docker-compose.yml
Labels: type/chore, mergify/can-merge

#3627 chore: rename cell_based table to storage table
  src/compute/tests/integration_tests.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/mview/test_utils.rs
Labels: type/chore

#3618 feat(metrics): add sampled (de)serialization duration metrics for RPC
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/compute/src/rpc/service/exchange_metrics.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature

#3631 fix(expr): fix interval div float
  e2e_test/batch/types/arithmetic.slt.part
  src/common/src/types/interval.rs
Labels: mergify/can-merge

#3637 refactor(proto): simplify ColumnOrder
  proto/plan_common.proto
  proto/stream_plan.proto
  src/common/src/catalog/physical_table.rs
  src/common/src/util/sort_util.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, mergify/can-merge

#3635 chore(proto): remove unused messages
  proto/plan_common.proto
Labels: type/chore, mergify/can-merge

#3641 feat(expr): support float mul interval
  e2e_test/batch/types/arithmetic.slt.part
  src/common/src/types/interval.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/vector_op/arithmetic_op.rs
Labels: mergify/can-merge

#3636 feat(metrics): add backpressure metrics
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#3632 fix(optimizer): LogicalAgg::prune_col with duplicate group_keys
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
Labels: type/fix, mergify/can-merge

#2880 feat(frontend): unnesting arbitrary subquery.
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/expr/correlated_input_ref.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/apply_agg.rs
  src/frontend/src/optimizer/rule/apply_filter.rs
  src/frontend/src/optimizer/rule/apply_proj.rs
  src/frontend/src/optimizer/rule/apply_scan.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate.rs
  src/frontend/src/optimizer/rule/translate_apply.rs
  src/frontend/src/optimizer/rule/unnest_agg_for_loj.rs
  src/frontend/src/planner/select.rs
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature, user-facing changes, mergify/can-merge

#3644 fix(ctl): use correct distribution & manually update compaction group cache
  src/batch/src/executor/row_seq_scan.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/ctl/src/common/hummock_service.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/table/mod.rs
Labels: type/fix, mergify/can-merge

#3645 release: v0.1.10
  Cargo.lock
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/test_runner/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/sqlparser/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/stream/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/utils/memcomparable/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/static-link/Cargo.toml
  src/utils/stats_alloc/Cargo.toml
  src/utils/value-encoding/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: Invalid PR Title, mergify/can-merge

#3649 chore(doc): add documentation-specific instructions
  .github/pull_request_template.md
Labels: type/chore, mergify/can-merge

#3626 feat(frontend): support filter clause in aggregation
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/utils/condition.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/expr.rs
Labels: type/feature, component/frontend, user-facing changes, mergify/can-merge

#3650 feat: add current_database()
  e2e_test/batch/basic/func.slt.part
  src/frontend/src/binder/expr/function.rs
Labels: type/feature, user-facing changes, mergify/can-merge

#3651 fix(storage): fix race condition between pin version and new shared-buffer
  src/storage/src/hummock/local_version_manager.rs
Labels: mergify/can-merge

#3653 fix(ci): fix env variables in docker push step
  ci/workflows/docker.yml
  ci/workflows/main.yml
Labels: type/fix, mergify/can-merge

#3654 test(nexmark): rewrite flinksql function to the corresponding pg one
  src/frontend/test_runner/tests/testdata/nexmark.yaml
Labels: component/test, mergify/can-merge

#3642 refactor: remove OrderedColumnDesc from proto
  proto/catalog.proto
  proto/plan_common.proto
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/catalog/column.rs
  src/common/src/catalog/physical_table.rs
  src/common/src/util/sort_util.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/src/optimizer/rule/index_delta_join.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/from_proto/batch_query.rs
Labels: type/refactor, mergify/can-merge

#3633 feat(meta): do not use watermark as expire time of TTL
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/compactor_tests.rs
Labels: mergify/can-merge

#3655 fix(lookup): fix the semantics of arrange_order_rules
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/from_proto/lookup.rs
Labels: type/fix, mergify/can-merge

#3661 chore(docs): update the binary version to v0.1.10
  Cargo.lock
  README.md
  src/test_runner/Cargo.toml
Labels: type/chore, mergify/can-merge

#3652 test(batch): add micro benchmark for NestedLoopJoinExecutor
  src/batch/Cargo.toml
  src/batch/benches/filter.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/join/row_level_iter.rs
  src/batch/src/executor/test_utils.rs
Labels: mergify/can-merge

#3511 feat(meta): no pause checkpoint with building actor
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/source_manager.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#3563 feat: expand operator
  Cargo.lock
  proto/batch_plan.proto
  proto/stream_plan.proto
  src/batch/src/executor/expand.rs
  src/batch/src/executor/filter.rs
  src/batch/src/executor/mod.rs
  src/common/Cargo.toml
  src/common/src/array/column.rs
  src/common/src/array/data_chunk.rs
  src/common/src/lib.rs
  src/common/src/util/chunk_coalesce.rs
  src/frontend/src/optimizer/plan_node/batch_expand.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/stream/src/executor/expand.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/expand.rs
  src/stream/src/from_proto/mod.rs
Labels: type/feature, mergify/can-merge

#3659 fix(meta): fix internal_table persisted
  src/common/src/catalog/internal_table.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/fix, component/meta, mergify/can-merge

#3664 feat(frontend): support show config
  e2e_test/batch/basic/basic.slt.part
  src/common/src/session_config/mod.rs
  src/common/src/session_config/query_mode.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/variable.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing changes, mergify/can-merge

#3515 feat(frontend): `StreamDynamicFilter`
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature, mergify/can-merge

#3628 feat(storage): support vnode hint in storage table
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/util/ordered/serde.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/storage_table.rs
  src/storage/src/table/test_relational_table.rs
Labels: type/feature, mergify/can-merge

#3658 refactor:introduce per crate error for batch executors
  src/batch/src/error.rs
  src/batch/src/executor/delete.rs
  src/batch/src/executor/filter.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/hop_window.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/join/sort_merge_join.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/table_function.rs
  src/batch/src/executor/update.rs
  src/batch/src/lib.rs
  src/common/src/error.rs
Labels: type/refactor, mergify/can-merge

#3667 fix(docs): fix regress test input file path
  src/tests/regress/README.md
Labels: type/fix, mergify/can-merge

#3660 test(nexmark): support explain nexmark q15 and q20
  src/frontend/test_runner/tests/testdata/nexmark.yaml
Labels: component/test, mergify/can-merge

#3678 fix(metrics): use iter_in_process_count to replace iter_count_duration
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
Labels: type/fix, mergify/can-merge

#3587 fix(expr, executor): Remove `RowExpression`: use `eval_row` and `unwrap_or(false)` on `Datum`, not panic on Null/None
  src/expr/src/expr/mod.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/from_proto/hash_join.rs
Labels: type/fix

#3557 feat(meta): do not persist data on etcd for pin_snapshot
  proto/hummock.proto
  src/frontend/src/meta_client.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/model/pinned_snapshot.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/hummock_meta_client.rs
Labels: mergify/can-merge

#3630 fix: avoid unnecessary cells in max/min (not-append only)
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/test_utils.rs
Labels: type/fix, mergify/can-merge

#3567 perf(hummock manager): apply version delta from version checkpoint
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/meta/src/hummock/model/version.rs
  src/meta/src/hummock/vacuum.rs
Labels: type/perf, mergify/can-merge

#3671 feat: add overlay string function
  e2e_test/batch/functions/overlay.slt.part
  proto/expr.proto
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_quaternary_bytes.rs
  src/expr/src/expr/expr_ternary_bytes.rs
  src/expr/src/expr/mod.rs
  src/expr/src/expr/template.rs
  src/expr/src/vector_op/mod.rs
  src/expr/src/vector_op/overlay.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/type_inference/func.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/tests/sqlsmith/src/expr.rs
Labels: mergify/can-merge

#3670 feat(batch): enable parallel table scan
  e2e_test/batch/basic/array.slt.part
  e2e_test/batch/basic/boolean.slt.part
  e2e_test/batch/basic/cte.slt.part
  e2e_test/batch/basic/func.slt.part
  e2e_test/batch/basic/order_by.slt.part
  e2e_test/batch/basic/range_scan.slt.part
  e2e_test/batch/basic/struct.slt.part
  e2e_test/batch/types/array_ty.slt.part
  e2e_test/batch/types/struct_ty.slt.part
  e2e_test/streaming/append_only.slt
  e2e_test/streaming/datagen.slt
  e2e_test/streaming/demo/ad_ctr.slt
  e2e_test/streaming/struct_table.slt
  e2e_test/streaming/time_window.slt
  e2e_test/streaming/tpch/q1.slt.part
  e2e_test/streaming/tpch/q10.slt.part
  e2e_test/streaming/tpch/q12.slt.part
  e2e_test/streaming/tpch/q13.slt.part
  e2e_test/streaming/tpch/q18.slt.part
  e2e_test/streaming/tpch/q2.slt.part
  e2e_test/streaming/tpch/q3.slt.part
  e2e_test/streaming/tpch/q4.slt.part
  e2e_test/streaming/tpch/q5.slt.part
  e2e_test/streaming/tpch/q7.slt.part
  e2e_test/streaming/tpch/q8.slt.part
  e2e_test/streaming/tpch/q9.slt.part
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/storage/src/table/storage_table.rs
Labels: type/feature, user-facing changes, mergify/can-merge

#3673 refactor(storage): remove async_trait for MergeIteratorNext
  src/storage/src/hummock/iterator/merge_inner.rs
Labels: type/refactor, mergify/can-merge

#3691 chore(doc): rename cell-based table to storage table
  docs/images/relational-table-layer/relational-table-01.svg
  docs/images/relational-table-layer/relational-table-02.svg
  docs/images/relational-table-layer/relational-table-03.svg
  docs/storing-state-using-relational-table.md
  src/storage/src/table/state_table.rs
Labels: type/chore, mergify/can-merge

#3693 feat(metrics): add metrics for compact task splits count
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/storage/src/hummock/compactor.rs
  src/storage/src/monitor/state_store_metrics.rs
Labels: type/feature, mergify/can-merge

#3694 feat(frontend): support show all (#3665)
  e2e_test/batch/basic/basic.slt.part
  src/common/src/session_config/mod.rs
  src/frontend/src/handler/variable.rs
Labels: type/feature, user-facing changes, mergify/can-merge

#3699 chore: fix rustdoc for prost
  proto/catalog.proto
  proto/user.proto
Labels: type/chore, mergify/can-merge

#3554 refactor: consolidate duplicated logic in PlanRoot
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
Labels: type/refactor

#3702 feat(expr): support regexp_match
  Cargo.lock
  e2e_test/batch/basic/func.slt.part
  proto/expr.proto
  src/expr/Cargo.toml
  src/expr/src/error.rs
  src/expr/src/expr/expr_regexp.rs
  src/expr/src/expr/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/function_call.rs
Labels: type/feature, user-facing changes

#3697 feat(streaming): allow pause source
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/reader.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, mergify/can-merge

#3703 feat(meta): allow set parallel degree in config
  src/common/src/config.rs
  src/meta/src/cluster/mod.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/stream/scheduler.rs
Labels: type/feature, mergify/can-merge

#3614 feat(batch): Implement LookupJoinExecutor
  Cargo.lock
  Makefile.toml
  proto/batch_plan.proto
  src/batch/Cargo.toml
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/join/lookup_join.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/test_utils.rs
Labels: type/feature, mergify/can-merge

#3705 fix(array): ListRef Display
  e2e_test/batch/basic/array.slt.part
  e2e_test/batch/basic/func.slt.part
  e2e_test/batch/types/array_ty.slt.part
  src/common/src/array/list_array.rs
Labels: type/fix, mergify/can-merge

#3706 feat(meta): add monitoring meta process metrics
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/monitor/mod.rs
  src/common/src/monitor/process_linux.rs
  src/compute/src/server.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/storage/Cargo.toml
  src/storage/compactor/src/server.rs
  src/storage/src/monitor/mod.rs
  src/storage/src/monitor/state_store_metrics.rs
Labels: mergify/can-merge

#3704 fix: reduce logging in the critical path
  src/storage/src/hummock/local_version_manager.rs
Labels: type/fix, mergify/can-merge

#3663 refactor(optimizer): cleanup LogicalAgg::prune_col
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/utils/column_index_mapping.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
Labels: type/refactor, mergify/can-merge

#3711 fix: correctly implement check_state_consistency
  src/meta/src/hummock/hummock_manager.rs
Labels: type/fix

#3463 feat(storage): default block size = 1024
  docker/risingwave.toml
  src/bench/ss_bench/main.rs
  src/common/src/config.rs
  src/config/risingwave.toml
Labels: type/feature, mergify/can-merge

#3715 test(nexmark): explain q16 q17
  src/frontend/test_runner/tests/testdata/nexmark.yaml
Labels: component/test, mergify/can-merge

#3712 doc: add relational table schema doc + move files
  docs/consistent-hash.md
  docs/relational_table/relational-table-schema.md
  docs/relational_table/storing-state-using-relational-table.md
Labels: component/doc, mergify/can-merge

#3716 fix: fix heartbeat req field and meta client impl
  proto/meta.proto
  src/rpc_client/src/meta_client.rs
Labels: type/fix, mergify/can-merge

#3718 test(streaming): enable streaming e2e test for tpch q4, q18, q20
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
Labels: component/test, mergify/can-merge

#3725 chore(deps): bump dependencies
  Cargo.lock
  src/bench/Cargo.toml
  src/connector/Cargo.toml
  src/object_store/Cargo.toml
  src/object_store/src/object/error.rs
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/storage/Cargo.toml
Labels: type/chore, mergify/can-merge

#3681 feat(executor): Basic in-application-memory `DynamicFilterExecutor`, pass tpch q11, q22 e2e tests
  e2e_test/streaming/tpch/create_views.slt.part
  e2e_test/streaming/tpch/drop_views.slt.part
  e2e_test/streaming/tpch/q11.slt.part
  e2e_test/streaming/tpch/q22.slt.part
  e2e_test/streaming/tpch/views/q11.slt.part
  e2e_test/streaming/tpch/views/q22.slt.part
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/mod.rs
Labels: type/feature

#3732 fix(risedev): Revert Makefile.toml changes
  Makefile.toml
Labels: type/fix, mergify/can-merge

#3722 refactor(storage): remove cell_based serialize/deserialize from serde
  src/common/src/util/ordered/serde.rs
  src/storage/src/encoding/cell_based_encoding_util.rs
  src/storage/src/encoding/cell_based_row_deserializer.rs
  src/storage/src/encoding/cell_based_row_serializer.rs
  src/storage/src/encoding/dedup_pk_cell_based_row_deserializer.rs
  src/storage/src/encoding/mod.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/storage_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/lookup/tests.rs
Labels: type/refactor, mergify/can-merge

#3737 fix(sqlsmith): completely cover all exprs
  Cargo.lock
  e2e_test/batch/types/interval.slt.part
  e2e_test/batch/types/time.slt.part
  src/expr/src/expr/template.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/expr.rs
  src/tests/sqlsmith/src/lib.rs
Labels: type/fix

#3739 fix(ci): use header fix action for license check
  .github/workflows/license_check.yml
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
Labels: type/fix, mergify/can-merge

#3731 chore(risedev): update grafana version
  src/risedevtool/grafana.toml
Labels: type/chore, mergify/can-merge

#3740 test(nexmark): add nexmark q10 q14 e2e test
  e2e_test/streaming/nexmark/create_views.slt.part
  e2e_test/streaming/nexmark/drop_views.slt.part
  e2e_test/streaming/nexmark/q10.slt.part
  e2e_test/streaming/nexmark/q14.slt.part
  e2e_test/streaming/nexmark/views/q10.slt.part
  e2e_test/streaming/nexmark/views/q14.slt.part
  e2e_test/streaming/nexmark_snapshot.slt
  e2e_test/streaming/nexmark_upstream.slt
  src/frontend/test_runner/tests/testdata/nexmark.yaml
Labels: component/test, mergify/can-merge

#3707 refactor(streaming): use table catalog in hash join
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/storage/src/table/state_table.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/from_proto/hash_join.rs
Labels: type/refactor, mergify/can-merge

#3736 fix(batch): fix batch scan distribution & handle more than one table scans in one stage
  e2e_test/batch/basic/join.slt.part
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: type/fix, mergify/can-merge

#3719 feat(optimizer): support two phase topn and limit in batch mode
  src/batch/src/executor/top_n.rs
  src/frontend/src/optimizer/plan_node/batch_limit.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/logical_limit.rs
  src/frontend/test_runner/tests/testdata/order_by.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature, mergify/can-merge

#3745 feat: deprecate catalog ref id
  proto/batch_plan.proto
  proto/common.proto
  proto/plan_common.proto
  proto/stream_plan.proto
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/common/src/catalog/mod.rs
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/meta/src/model/stream.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/src/lib.rs
  src/stream/src/from_proto/mview.rs
  src/stream/src/from_proto/source.rs
Labels: type/feature, mergify/can-merge

#3742 refactor(streaming): use table catalog for materialize executor
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/from_proto/mview.rs
Labels: type/refactor, mergify/can-merge

#3748 refactor(meta): improve create mview / scheduler readability
  src/meta/src/lib.rs
  src/meta/src/manager/hash_mapping.rs
  src/meta/src/stream/meta.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, mergify/can-merge

#3696 feat(metrics): Add Fragment Level Exchange Metrics
  .gitignore
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  grafana/update.sh
  proto/stream_plan.proto
  proto/task_service.proto
  src/compute/src/rpc/service/exchange_metrics.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/meta/src/stream/stream_graph.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, mergify/can-merge

#3761 fix(risedev): unexpected rebuilds on Linux
  Cargo.lock
  Makefile.toml
  src/test_runner/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/fix, mergify/can-merge

#3689 perf(hummmock manager): remove unnecessary hummock version deltas
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/hummock/vacuum.rs
Labels: type/perf, mergify/can-merge

#3743 fix: sync compaction group correctly
  src/compute/src/rpc/service/stream_service.rs
  src/ctl/src/common/hummock_service.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/src/hummock/compaction_group_client.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/store_impl.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#3754 feat(common): move observer_manager to common service
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/lib.rs
  src/common/common_service/src/metrics_manager.rs
  src/common/common_service/src/observer_manager.rs
  src/common/src/lib.rs
  src/compute/Cargo.toml
  src/compute/src/server.rs
  src/frontend/Cargo.toml
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/server.rs
Labels: type/feature

#3764 refactor: remove vnode_mappings in CompactTask and GroupedSstableBuilder
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/hummock_manager_tests.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor.rs
  src/storage/src/hummock/sstable/group_builder.rs
  src/storage/src/hummock/sstable/mod.rs
Labels: type/refactor, mergify/can-merge

#3724 refactor(batch): say goodbye to the state machine in NLJ
  src/batch/benches/nested_loop_join.rs
  src/batch/src/executor/join/nested_loop_join.rs
Labels: type/refactor, component/batch

#3768 feat(common): add is_set to BitmapBuilder
  src/common/src/buffer/bitmap.rs
Labels: type/feature, component/common

#3773 fix(batch): add first-match optimization for left semi join
  src/batch/src/executor/join/nested_loop_join.rs
Labels: type/fix, component/batch, mergify/can-merge

#3747 refactor(stream): refactor state of topN executor to one state table
  src/stream/src/executor/managed_state/top_n/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_state_new.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/executor/top_n_new.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/top_n_new.rs
Labels: type/refactor, mergify/can-merge

#3779 chore(storage): remove value meta
  src/bench/ss_bench/operations/write_batch.rs
  src/storage/src/hummock/conflict_detector.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/state_store_tests.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/value.rs
  src/storage/src/storage_value.rs
  src/storage/src/table/test_relational_table.rs
  src/storage/src/write_batch.rs
Labels: type/chore, mergify/can-merge

#3757 feat(executor): Use `TableCatalog` and `StateTable` in `DynamicFilter` (only writes)
  e2e_test/streaming/tpch/drop_views.slt.part
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/stream_graph.rs
  src/storage/src/table/state_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/managed_state/dynamic_filter.rs
  src/stream/src/executor/managed_state/mod.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/hash_join.rs
Labels: type/feature

#3782 fix(batch): fix order_by with struct table
  e2e_test/streaming/struct_table.slt
  src/batch/src/executor/order_by.rs
Labels: type/fix, mergify/can-merge

#3774 refactor: remove stale AggKind::RowCount
  src/expr/src/expr/agg.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/stream/src/executor/aggregation/agg_call.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
Labels: type/refactor, mergify/can-merge

#3784 fix(connector): support parsing non-string nexmark properties
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/base.rs
  src/connector/src/datagen/mod.rs
  src/connector/src/macros.rs
  src/connector/src/nexmark/enumerator/mod.rs
  src/connector/src/nexmark/mod.rs
  src/connector/src/nexmark/source/generator.rs
  src/connector/src/nexmark/source/reader.rs
Labels: type/fix, mergify/can-merge

#3787 build(deps): use official pulsar-rs instead of fork
  Cargo.lock
  src/connector/Cargo.toml
Labels: type/build, mergify/can-merge

#3793 fix(dashboardv1): adapt new dispatcher design and add dynamic filter node
  src/meta/src/dashboard/index.html
Labels: user-facing changes, mergify/can-merge

#3682 feat: kafka json append only sink
  Cargo.lock
  proto/stream_plan.proto
  src/common/src/error.rs
  src/connector/Cargo.toml
  src/connector/src/lib.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mysql.rs
  src/connector/src/sink/redis.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature, user-facing changes, mergify/can-merge

#3765 refactor(streaming): ensure correct storage table constructing for all streaming operators
  e2e_test/streaming_delta_join/tpch_snapshot.slt
  src/compute/tests/integration_tests.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state_new.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/from_proto/mview.rs
Labels: type/refactor, mergify/can-merge

#3797 test(batch): add benchmark for sort merge join
  src/batch/Cargo.toml
  src/batch/benches/filter.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/benches/sort_merge_join.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/join/row_level_iter.rs
  src/batch/src/executor/join/sort_merge_join.rs
  src/batch/src/executor/test_utils.rs
Labels: component/batch, mergify/can-merge

#3613 feat(sqlsmith): Generate EquiJoin
  src/frontend/src/expr/type_inference/mod.rs
  src/tests/sqlsmith/src/expr.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/relation.rs
Labels: type/feature, mergify/can-merge

#3802 feat(meta): add metrics in hummock manager lock and real process time
  Cargo.lock
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/common/src/monitor/mod.rs
  src/common/src/monitor/rwlock.rs
  src/meta/Cargo.toml
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature, mergify/can-merge

#3808 fix(utils): fix decimal flag bound
  src/common/src/util/ordered/serde.rs
  src/utils/memcomparable/src/de.rs
Labels: type/fix, mergify/can-merge

#3763 feat(frontend): Add planning and option in frontend for Lookup Join
  e2e_test/batch/basic/local/lookup_join.slt.part
  e2e_test/batch/local_mode.slt
  proto/batch_plan.proto
  src/batch/src/executor/join/lookup_join.rs
  src/common/src/session_config/mod.rs
  src/common/src/util/chunk_coalesce.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/test_runner/tests/testdata/join.yaml
Labels: type/feature, mergify/can-merge

#3720 feat(frontend): support order by clause of agg call
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/sqlparser/src/ast/mod.rs
Labels: type/feature, component/frontend, mergify/can-merge

#3823 fix(type): fix decimal from_str and add e2e test
  e2e_test/streaming/basic.slt
  src/common/src/types/decimal.rs
Labels: type/fix, mergify/can-merge

#3794 refactor(batch,agg): merge `Aggregator::update*` and refactor `SortAggExecutor`
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/sort_agg.rs
  src/common/src/array/iterator.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/approx_count_distinct.rs
  src/expr/src/vector_op/agg/count_star.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_distinct_agg.rs
  src/expr/src/vector_op/agg/general_sorted_grouper.rs
Labels: type/refactor, component/batch, mergify/can-merge

#3824 feat(cli): add prof and tokio env config
  Cargo.lock
  src/cmd/src/bin/compactor.rs
  src/cmd/src/bin/compute_node.rs
  src/cmd/src/bin/ctl.rs
  src/cmd/src/bin/frontend_node.rs
  src/cmd/src/bin/meta_node.rs
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/playground.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#3680 feat(meta): support BTreeMapTransaction that avoids copying the whole BTreeMap
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/hummock_manager.rs
  src/meta/src/model/mod.rs
Labels: mergify/can-merge

#3827 feat(common): support generating `Datum` in field generator
  src/common/src/field_generator/mod.rs
  src/common/src/field_generator/numeric.rs
  src/common/src/types/ordered_float.rs
Labels: type/feature, component/common, mergify/can-merge

#3717 feat(optimizer): distinct agg.
  e2e_test/batch/aggregate/count.slt.part
  e2e_test/batch/tpch.slt
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/rule/distinct_agg.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/nexmark.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/feature, mergify/can-merge

#3839 chore(streaming): check epoch continuous
  src/stream/src/executor/debug/epoch_check.rs
Labels: type/chore, mergify/can-merge

#3825 chore(risedev): add external_labels and remote_write in prometeus config
  Cargo.lock
  risedev.yml
  src/risedevtool/Cargo.toml
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/service_config.rs
Labels: type/chore, mergify/can-merge

#3840 fix(test): datagen parallel e2e
  e2e_test/streaming/datagen.slt
Labels: type/fix, mergify/can-merge

#3843 fix(hash): fix hash_key_data_size
  src/common/src/hash/dispatcher.rs
  src/common/src/hash/key.rs
  src/common/src/types/mod.rs
Labels: type/fix, mergify/can-merge

#3807 feat(storage): support deserialize_prefix_len for prefix_bloom_filter
  src/common/src/types/mod.rs
  src/common/src/util/ordered/serde.rs
  src/utils/memcomparable/src/de.rs
Labels: type/feature, mergify/can-merge

#3848 style(stream): exhaustive patterm for build_executor
  src/stream/src/from_proto/mod.rs
Labels: mergify/can-merge

#3683 feat(batch): support selective aggregation
  e2e_test/batch/aggregate/selective_count.slt.part
  e2e_test/batch/aggregate/selective_distinct_agg.slt.part
  e2e_test/batch/aggregate/selective_general_agg.slt.part
  proto/expr.proto
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/sort_agg.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/approx_count_distinct.rs
  src/expr/src/vector_op/agg/count_star.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_distinct_agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/rule/distinct_agg.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/feature, mergify/can-merge

#3846 chore(proto): remove unused FilterScanNode
  proto/batch_plan.proto
Labels: mergify/can-merge

#3805 feat(sqlsmith): generate group by
  src/tests/sqlsmith/src/expr.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/relation.rs
Labels: type/feature, mergify/can-merge

#3854 fix(test): pass user name for regress tests
  src/tests/regress/README.md
  src/tests/regress/src/opts.rs
  src/tests/regress/src/schedule.rs
Labels: type/fix, mergify/can-merge

#3864 fix(runtime): enable deadlock detection
  src/utils/runtime/src/lib.rs
Labels: type/fix, mergify/can-merge

#3855 refactor(encoding): reduce DedupPkCellBasedRowDeserializer initialization overhead
  src/storage/src/encoding/dedup_pk_cell_based_row_deserializer.rs
Labels: type/refactor, mergify/can-merge

#3876 feat(risedev): set TOKIO_CONSOLE_BIND
  src/risedevtool/src/task/compute_node_service.rs
  src/utils/runtime/src/lib.rs
Labels: type/feature, mergify/can-merge

#3875 feat(meta): table catalog add read_pattern_prefix_column
  proto/catalog.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/feature, mergify/can-merge

#3866 fix(test): fix datagen e2e & use `drop_views.slt.part` to drop views
  e2e_test/streaming/datagen.slt
  e2e_test/streaming/tpch/drop_views.slt.part
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
  src/stream/src/executor/rearranged_chain.rs
Labels: type/fix, mergify/can-merge

#3868 feat(sqlsmith): Implement Having without agg
  src/tests/sqlsmith/src/lib.rs
Labels: type/feature, mergify/can-merge

#3880 fix(streaming): forbid update being shuffled
  src/stream/src/executor/dispatch.rs
Labels: type/fix, mergify/can-merge

#3881 feat: implement chrono types to_protobuf
  e2e_test/batch/types/time.slt.part
  e2e_test/streaming/demo/twitter.slt
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/mod.rs
Labels: type/feature, mergify/can-merge

#3883 feat: parse json fields into struct
  src/common/src/catalog/column.rs
  src/source/src/manager.rs
  src/source/src/parser/avro_parser.rs
  src/source/src/parser/common.rs
  src/source/src/parser/debezium/json.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/protobuf_parser.rs
Labels: type/feature, mergify/can-merge

#3861 chore(binder): add tracking issue for text
  src/frontend/src/binder/expr/mod.rs
Labels: type/chore, mergify/can-merge

#3869 refactor(fe): refactor state table builder
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/test_runner/tests/testdata/stream_proto.yaml
Labels: type/refactor, component/optimizer, mergify/can-merge

#3857 refactor(stream): improve time complexity of top-n executor (one state table)
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/planner/mod.rs
  src/stream/src/executor/managed_state/top_n/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_state_new.rs
  src/stream/src/executor/top_n_new.rs
  src/stream/src/from_proto/top_n_new.rs
Labels: type/refactor, mergify/can-merge

#3865 feat(storage): add sanity check for storage table in debug mode
  src/common/src/monitor/rwlock.rs
  src/storage/src/table/state_table.rs
  src/storage/src/table/storage_table.rs
  src/storage/src/table/test_relational_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
Labels: type/feature, mergify/can-merge

#3859 feat(batch): Support Left Anti and Left Semi joins for Lookup Join
  src/batch/src/executor/join/lookup_join.rs
Labels: type/feature
