Repository risingwavelabs/risingwave, pull requests merged in 2022-09, with the labels that each got.

#5052 chore(grafana): minor tweaks
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
Labels: type/chore

#5053 chore(ci): do not soft fail on parallel e2e release
  ci/workflows/main.yml
Labels: type/chore, mergify/can-merge

#4993 refactor(storage): refactor get_from_table
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/validator.rs
  src/storage/src/hummock/value.rs
Labels: type/refactor, mergify/can-merge

#5039 fix(filecache): fix file cache get read guard
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/store.rs
Labels: type/fix, mergify/can-merge

#5055 fix: fix privileges check
  proto/user.proto
  src/frontend/src/catalog/pg_catalog/mod.rs
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
Labels: type/fix, mergify/can-merge

#5056 feat: add retry etcd client for meta store
  src/meta/src/storage/etcd_meta_store.rs
  src/meta/src/storage/etcd_retry_client.rs
  src/meta/src/storage/mod.rs
Labels: type/feature, mergify/can-merge

#5021 fix(optimizer): Use null safe equal for subquery optimization
  e2e_test/batch/basic/subquery.slt.part
  src/frontend/src/optimizer/rule/apply_agg.rs
  src/frontend/src/optimizer/rule/apply_join.rs
  src/frontend/src/optimizer/rule/translate_apply.rs
  src/frontend/test_runner/tests/testdata/subquery.yaml
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: type/fix, mergify/can-merge

#5054 feat(batch): support is null for scan range
  e2e_test/batch/basic/range_scan.slt.part
  src/batch/src/executor/join/lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/util/scan_range.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/utils/condition.rs
  src/frontend/test_runner/tests/testdata/range_scan.yaml
Labels: type/feature, mergify/can-merge

#5058 refactor(frontend): refactor expr visitor and plan visitor
  src/frontend/src/expr/expr_visitor.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_correlated_id_finder.rs
  src/frontend/src/optimizer/plan_visitor.rs
  src/frontend/src/optimizer/rule/index_selection.rs
Labels: type/refactor, mergify/can-merge

#4948 fix(optimizer): small fix for distinct aggregates.
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/subquery.yaml
Labels: type/fix, mergify/can-merge

#5062 refactor(binder): extract special type infer rules from `FunctionCall:new`
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/test_runner/tests/testdata/expr.yaml
Labels: type/refactor, mergify/can-merge

#5061 chore: enable tiered cache on CI and 3 node compose
  risedev.yml
Labels: type/chore, mergify/can-merge

#5041 fix(optimizer): report error when Apply can't be unnested.
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_visitor.rs
  src/frontend/test_runner/src/lib.rs
  src/frontend/test_runner/tests/testdata/subquery_expr_correlated.yaml
Labels: mergify/can-merge

#5075 refactor: maintenaning vnode mapping notify in fragment manager
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, mergify/can-merge

#5064 refactor(fragmenter): remove unneeded struct, prepare for rewrite
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/frontend/src/stream_fragmenter/rewrite/mod.rs
Labels: type/refactor, mergify/can-merge

#5057 feat(streaming): estimated cache size for hash join
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/collection/estimate_size.rs
  src/common/src/collection/mod.rs
  src/common/src/hash/key.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup/cache.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/lib.rs
Labels: type/feature, mergify/can-merge

#5079 feat(table): add an optional vnode columns in table catalog
  proto/catalog.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/src/table/streaming_table/state_table.rs
Labels: type/feature, mergify/can-merge

#5063 fix: casting Varchar to multidimensional List
  e2e_test/batch/basic/array.slt.part
  src/expr/src/vector_op/cast.rs
Labels: type/fix, mergify/can-merge

#5085 fix: delete not null of first query demo in README.md
  README.md
Labels: mergify/can-merge

#5046 feat(frontend): Add and Use Sort Aggregation Plan Node
  e2e_test/batch/aggregate/sort_agg.slt.part
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/test_runner/tests/testdata/agg.yaml
  src/frontend/test_runner/tests/testdata/batch_dist_agg.yaml
  src/frontend/test_runner/tests/testdata/distribution_derive.yaml
  src/frontend/test_runner/tests/testdata/stream_dist_agg.yaml
  src/frontend/test_runner/tests/testdata/tpch.yaml
Labels: component/batch, component/optimizer, mergify/can-merge

#5083 feat(streaming): support configuration change on simple dispatcher
  src/stream/src/executor/dispatch.rs
Labels: type/feature, mergify/can-merge

#5092 feat(binder): bind FETCH
  src/frontend/src/binder/query.rs
  src/frontend/test_runner/tests/testdata/limit.yaml
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/test_utils.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/lib.rs
Labels: type/feature

#5076 feat(batch): support null safe lookup join
  e2e_test/batch/join/inner/test_null_safe_equal_join.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/join/lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/rule/index_selection.rs
  src/frontend/test_runner/tests/testdata/index_selection.yaml
Labels: type/feature, mergify/can-merge

#5065 fix(Storage): Fix the reverse order problem of barrier_manager's sst
  src/meta/src/barrier/mod.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/lib.rs
Labels: type/fix, mergify/can-merge

#5093 doc: configure system variables
  docs/developer-guide.md
Labels: component/doc, mergify/can-merge

#4964 feat(batch):create executor level metrics.
  Cargo.lock
  src/batch/src/error.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/monitor/stats.rs
  src/batch/src/executor/row_seq_scan.rs
  src/compute/src/server.rs
  src/compute/tests/integration_tests.rs
  src/frontend/Cargo.toml
Labels: type/feature, mergify/can-merge

#5022 refactor: try to use select in async stream function
  src/frontend/src/handler/dml.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
Labels: type/refactor, mergify/can-merge

#5060 feat(expr): support `array_cat` function and `||` operator for arrays
  e2e_test/batch/functions/array_concat.slt.part
  e2e_test/batch/types/array_ty.slt.part
  proto/expr.proto
  src/expr/src/expr/expr_array_concat.rs
  src/expr/src/expr/mod.rs
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/test_runner/tests/testdata/array.yaml
Labels: type/feature, mergify/can-merge

#5091 refactor(sqlparser): remove numeric literal postfix
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/values.rs
  src/frontend/src/handler/util.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/value.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/test_utils.rs
  src/sqlparser/src/tokenizer.rs
  src/sqlparser/tests/queries/tpch/1.sql
  src/sqlparser/tests/queries/tpch/10.sql
  src/sqlparser/tests/queries/tpch/11.sql
  src/sqlparser/tests/queries/tpch/12.sql
  src/sqlparser/tests/queries/tpch/13.sql
  src/sqlparser/tests/queries/tpch/14.sql
  src/sqlparser/tests/queries/tpch/15.sql
  src/sqlparser/tests/queries/tpch/16.sql
  src/sqlparser/tests/queries/tpch/17.sql
  src/sqlparser/tests/queries/tpch/18.sql
  src/sqlparser/tests/queries/tpch/19.sql
  src/sqlparser/tests/queries/tpch/2.sql
  src/sqlparser/tests/queries/tpch/20.sql
  src/sqlparser/tests/queries/tpch/21.sql
  src/sqlparser/tests/queries/tpch/22.sql
  src/sqlparser/tests/queries/tpch/3.sql
  src/sqlparser/tests/queries/tpch/4.sql
  src/sqlparser/tests/queries/tpch/5.sql
  src/sqlparser/tests/queries/tpch/6.sql
  src/sqlparser/tests/queries/tpch/7.sql
  src/sqlparser/tests/queries/tpch/8.sql
  src/sqlparser/tests/queries/tpch/9.sql
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/scalar.rs
Labels: type/refactor, mergify/can-merge

#4982 feat(compaction): refactor sstable writer
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/storage/benches/bench_block_iter.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/compactor/sstable_store.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/block_iterator.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/utils.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
Labels: mergify/can-merge

#5074 fix(metrics): fix iterator local metrics lost and enable iterator local metrics report checker in debug mode
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/validator.rs
  src/storage/src/monitor/local_metrics.rs
Labels: type/fix, mergify/can-merge

#5095 feat(stream): support stream null safe hash join
  Cargo.lock
  e2e_test/streaming/null_safe_equal_join.slt
  src/batch/src/executor/join/hash_join.rs
  src/common/src/hash/key.rs
  src/stream/Cargo.toml
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/from_proto/hash_join.rs
Labels: type/feature, mergify/can-merge

#5105 feat(stream): support sum/min/max over interval type in streaming query
  e2e_test/streaming/basic_agg.slt
  src/common/src/types/interval.rs
  src/stream/src/executor/aggregation/mod.rs
Labels: type/feature, mergify/can-merge

#5011 fix(storage): assert vnode existence in state table
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/streaming_table/state_table.rs
Labels: type/fix, mergify/can-merge

#5049 refactor(stream): refactor append only top n to use one state table
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph.rs
  src/stream/src/executor/group_top_n.rs
  src/stream/src/executor/managed_state/top_n/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_bottom_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/managed_state/top_n/top_n_state_new.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/from_proto/top_n_appendonly.rs
Labels: type/refactor, mergify/can-merge

#5099 refactor(meta): refine barrier injection to improve readability
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
Labels: type/refactor, mergify/can-merge

#5086 refactor(fragmenter): assign table_id while translating stream nodes to prost
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/to_prost.rs
  src/frontend/src/stream_fragmenter/mod.rs
Labels: type/refactor, mergify/can-merge

#5098 feat(dashboard-srv): support list sources
  src/meta/src/dashboard/mod.rs
Labels: type/feature, mergify/can-merge

#4496 feat(hummock/meta): Reliable task cancellation via heartbeats + external task cancellation gRPC
  Cargo.lock
  proto/hummock.proto
  src/compute/src/server.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/Cargo.toml
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_uploader.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/feature, mergify/can-merge

#5048 feat(frontend): support explain distsql
  src/frontend/src/handler/explain.rs
Labels: mergify/can-merge

#5112 fix(storage): sync epoch error handling
  src/compute/src/rpc/service/stream_service.rs
  src/object_store/src/object/s3.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, mergify/can-merge

#5113 fix(batch): better error handling for single value
  src/batch/src/executor/hash_agg.rs
  src/common/src/error.rs
  src/expr/src/error.rs
  src/expr/src/vector_op/agg/functions.rs
  src/frontend/test_runner/tests/testdata/range_scan.yaml
Labels: type/fix, mergify/can-merge

#5104 fix(compaction): cancel unassigned/unsent task in manual compaction.
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/notification.rs
Labels: type/fix, mergify/can-merge

#5124 chore(test): add primary key constraints for nexmark sources & planner tests
  e2e_test/nexmark/create_sources.slt.part
  src/frontend/test_runner/tests/testdata/nexmark.yaml
Labels: type/chore, component/test, mergify/can-merge

#5102 fix(compaction): periodically trigger compaction for all compaction groups
  src/meta/src/hummock/compaction_group/manager.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/validator.rs
Labels: type/fix, mergify/can-merge

#5126 fix(notification): fix lock order issue
  src/meta/src/rpc/service/notification_service.rs
Labels: type/fix, mergify/can-merge

#5084 feat(test): add etcd simulator
  Cargo.lock
  ci/scripts/deterministic-e2e-test.sh
  src/meta/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/main.rs
Labels: type/feature, mergify/can-merge

#5059 feat: create source with avro row format
  ci/scripts/build.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/source/basic_test.slt
  scripts/source/test_data/avro_bin.1
  src/frontend/src/handler/create_source.rs
  src/source/src/parser/avro_parser.rs
  src/source/src/parser/mod.rs
  src/sqlparser/src/ast/statement.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#5130 perf(expr): optimize to_char function with constant template
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_to_char_const_tmpl.rs
  src/expr/src/expr/mod.rs
  src/expr/src/vector_op/to_char.rs
Labels: type/perf, mergify/can-merge

#5131 refactor(compaction): simplify cancellation
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/rpc/service/hummock_service.rs
Labels: type/refactor, mergify/can-merge

#4752 refactor: always insert a exchange singleton on top dml
  src/frontend/src/optimizer/mod.rs
  src/frontend/test_runner/tests/testdata/basic_query.yaml
  src/frontend/test_runner/tests/testdata/index_selection.yaml
  src/frontend/test_runner/tests/testdata/insert.yaml
  src/frontend/test_runner/tests/testdata/update.yaml
Labels: type/refactor, mergify/can-merge

#4956 feat: actor migration with reschedule semantics
  Cargo.lock
  proto/meta.proto
  src/meta/Cargo.toml
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/task/mod.rs
Labels: type/feature, mergify/can-merge

#5115 doc: update architecture design doc and graph
  docs/architecture-design.md
  docs/images/architecture-design/architecture.svg
Labels: component/doc, mergify/can-merge

#5134 fix(storage): fix s3 client config
  src/object_store/src/object/s3.rs
Labels: type/fix, mergify/can-merge

#5090 refactor(compaction): add unit tests for manual compaction.
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/manual_compaction_picker.rs
Labels: type/refactor, mergify/can-merge

#5140 refactor: refactor definition of `serialize_datum`
  src/common/src/array/data_chunk_iter.rs
  src/common/src/util/scan_range.rs
  src/common/src/util/value_encoding/mod.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/streaming_table/state_table.rs
Labels: type/refactor, mergify/can-merge

#5123 refactor(compaction): recycle meta file to reduce memory usage
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
Labels: mergify/can-merge

#5034 refactor(test): simplify sync point
  Cargo.lock
  Cargo.toml
  src/cmd_all/Cargo.toml
  src/cmd_all/src/playground.rs
  src/common/src/util/mod.rs
  src/common/src/util/sync_point/mod.rs
  src/common/src/util/sync_point/utils.rs
  src/meta/Cargo.toml
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/object_store/src/object/mem.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/mod.rs
  src/tests/sync_point/Cargo.toml
  src/tests/sync_point/run_sync_point_test.sh
  src/tests/sync_point/src/test_utils.rs
  src/tests/sync_point/src/tests.rs
  src/utils/sync-point/Cargo.toml
  src/utils/sync-point/src/lib.rs
Labels: type/refactor, mergify/can-merge

#5144 refactor: unify dml and dql handler path
  src/frontend/src/handler/dml.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/refactor, mergify/can-merge

#5127 feat(frontend): support \d, \dt and \dm
  e2e_test/batch/basic/pg_regrex_match_op.slt.part
  e2e_test/batch/catalog/pg_class.slt.part
  e2e_test/batch/catalog/sysinfo.slt.part
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/pg_catalog/pg_user.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/test_runner/tests/testdata/pg_catalog.yaml
Labels: type/feature, component/frontend, user-facing-changes, mergify/can-merge

#5118 feat(dashboard): add plan overview based on d3-dag
  .github/workflows/dashboard_main.yml
  .github/workflows/dashboard_pr.yml
  dashboard/.eslintrc.json
  dashboard/components/DependencyGraph.tsx
  dashboard/components/Layout.tsx
  dashboard/components/StreamingView.js.disabled
  dashboard/components/Title.tsx
  dashboard/lib/extractInfo.ts
  dashboard/mock-server.js
  dashboard/mock/fetch.sh
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/_app.tsx
  dashboard/pages/api/streaming.ts
  dashboard/pages/batch_tasks.tsx
  dashboard/pages/cluster.tsx
  dashboard/pages/data_sources.tsx
  dashboard/pages/index.tsx
  dashboard/pages/materialized_views.tsx
  dashboard/pages/settings.tsx
  dashboard/pages/streaming_graph.tsx
  dashboard/pages/streaming_plan.tsx
Labels: type/feature, mergify/can-merge

#5150 fix(Batch): sortAgg should not ouput NULL when no inputs
  src/batch/src/executor/sort_agg.rs
Labels: type/fix, mergify/can-merge

#5094 feat(stream): use memcomparable row as Cache key in GenericExtremeState
  src/stream/src/executor/managed_state/aggregation/array_agg.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/mod.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
Labels: type/feature, mergify/can-merge

#5149 fix(sqlsmith): match on `NumericOutOfRange` string representation
  src/tests/sqlsmith/src/runner.rs
Labels: type/fix, mergify/can-merge

#5148 refactor(meta): execute revert funcs in blocking manner
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, mergify/can-merge

#5077 ci(test): add coverage and split build and run for deterministic test
  Makefile.toml
  ci/scripts/build-simulation.sh
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-recovery-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: component/ci, mergify/can-merge

#5142 refactor(frontend): cleanup duplicate and elusive codes for `WITH OPTIONS`
  src/common/src/catalog/mod.rs
  src/common/src/config.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/sink_catalog.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/hummock/compaction_group/manager.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/src/hummock/compactor/compaction_filter.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/refactor, mergify/can-merge

#5154 feat: health check RPC for meta node
  proto/buf.yaml
  proto/health.proto
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/health_service.rs
  src/meta/src/rpc/service/mod.rs
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: mergify/can-merge

#5166 chore(compaction): remove consistent hash overlap strategy.
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
Labels: type/chore, mergify/can-merge

#5146 style(connector): avoid Arc<String>
  src/connector/src/source/base.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/source/src/connector_source.rs
  src/stream/src/executor/source/state.rs
Labels: type/style, mergify/can-merge

#5116 feat(planner&optimizer): plan OverAgg & convert it to group TopN
  e2e_test/streaming/group_top_n.slt
  e2e_test/streaming/nexmark/create_views.slt.part
  e2e_test/streaming/nexmark/drop_views.slt.part
  e2e_test/streaming/nexmark/q18.slt.part
  e2e_test/streaming/nexmark/q9.slt.part
  e2e_test/streaming/nexmark/views/q18.slt.part
  e2e_test/streaming/nexmark/views/q9.slt.part
  e2e_test/streaming/nexmark_snapshot.slt
  e2e_test/streaming/nexmark_upstream.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/expr/order_by_expr.rs
  src/frontend/src/expr/window_function.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_over_agg.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_visitor.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/over_agg_to_topn.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/feature, component/streaming, component/optimizer, user-facing-changes, mergify/can-merge

#4111 feat(storage): Implement `BlockStream`, `SstableStore::get_block_stream()`, `ObjectStore::streaming_read()`, and `SstableStreamIterator`.
  src/object_store/src/object/disk.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/sstable_store.rs
Labels: type/feature, mergify/can-merge

#5032 feat(expr): support lowercase format in to_char function
  e2e_test/batch/functions/to_char.slt.part
  e2e_test/streaming/nexmark/q16.slt.part
  src/expr/src/vector_op/to_char.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#5179 fix: fix deterministic create mv ut fail
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, mergify/can-merge

#5174 feat(streaming): support configuration change on receiver executor
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/from_proto/merge.rs
Labels: type/feature, mergify/can-merge

#5033 refactor: cancel running batch query of ctrl-c
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/mod.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/refactor, mergify/can-merge

#5185 feat: reschedule interface in risedev
  Cargo.lock
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/meta.rs
  src/ctl/src/cmd_impl/meta/reschedule.rs
  src/ctl/src/lib.rs
  src/meta/src/stream/scale.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, mergify/can-merge

#5042 feat(meta): set `min_pinned_id` instead of 0 when subscribe
  proto/hummock.proto
  proto/meta.proto
  src/ctl/src/cmd_impl/hummock/list_version.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/store_impl.rs
Labels: type/feature, mergify/can-merge

#5169 fix(storage): fix reversed sst order when collecting barrier from CN
  src/meta/src/barrier/mod.rs
Labels: type/fix, mergify/can-merge

#5159 feat: Skip checking duplicates when explaining "create mv"
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/explain.rs
Labels: mergify/can-merge

#5151 feat(stateTable): write interface with stream Chunk
  src/common/src/array/data_chunk.rs
  src/common/src/util/value_encoding/mod.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/stream/src/executor/mview/materialize.rs
Labels: type/feature, mergify/can-merge

#5172 feat(dashboard): support visualization of actor box
  dashboard/components/DependencyGraph.tsx
  dashboard/components/FragmentGraph.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/streaming_graph.tsx
  dashboard/pages/streaming_plan.tsx
Labels: type/feature, mergify/can-merge

#5195 refactor(stream dispatcher): rename hash value to vnode
  src/common/src/array/stream_chunk.rs
  src/stream/src/executor/dispatch.rs
Labels: type/refactor, mergify/can-merge

#5187 refactor(meta): extract barrier scheduler from barrier manager
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, mergify/can-merge

#5160 fix: meta push split assignments down when recovery
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix, mergify/can-merge

#5201 feat: Set tcp no delay for compute nodes
  src/compute/src/server.rs
  src/rpc_client/src/compute_client.rs
  src/utils/pgwire/src/pg_server.rs
Labels: component/common, type/perf, mergify/can-merge

#5183 fix(docs): fix the minor error in comments
  src/storage/src/hummock/compactor/mod.rs
Labels: mergify/can-merge

#5158 feat(batch): refactor the micro benchmark
  src/batch/benches/filter.rs
  src/batch/benches/hash_agg.rs
  src/batch/benches/hash_join.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/benches/order_by.rs
  src/batch/benches/sort_merge_join.rs
  src/batch/benches/top_n.rs
  src/batch/benches/utils/mod.rs
  src/batch/src/executor/expand.rs
Labels: type/feature, mergify/can-merge

#5203 fix(ctl): use given epoch when list_kv
  src/ctl/src/cmd_impl/hummock/list_kv.rs
Labels: type/fix, mergify/can-merge

#5202 refactor(stream TopN): code clean up
  src/stream/src/executor/group_top_n.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/src/from_proto/top_n_appendonly.rs
Labels: type/refactor, mergify/can-merge

#5173 refactor(batch): do not consume data chunk in handler
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/local.rs
Labels: type/refactor, mergify/can-merge

#5178 refactor(metrics): refactor tiered cache metrics
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/metrics.rs
  src/storage/src/hummock/file_cache/store.rs
Labels: type/refactor, mergify/can-merge

#5135 feat(storage): use a single object to store meta and data file
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/sstable_store.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/validator.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/storage_failpoints/test_sstable.rs
Labels: mergify/can-merge

#5212 fix(meta): expired RiseCtl worker causes meta panics
  src/meta/src/manager/cluster.rs
Labels: type/fix, mergify/can-merge

#5188 feat(meta): let `pin_snapshot` be intra-meta method
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, mergify/can-merge

#5168 fix: source take snapshot after mutation
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix, mergify/can-merge

#5222 feat(risectl): add notification client for risectl.
  Cargo.lock
  src/compute/src/compute_observer/observer_manager.rs
  src/compute/src/server.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/hummock/observer.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/common.rs
  src/ctl/src/common/hummock_service.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
Labels: type/feature, mergify/can-merge

#5223 test: enable tpch q15
  e2e_test/streaming/tpch/create_views.slt.part
  e2e_test/streaming/tpch/drop_views.slt.part
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
Labels: component/test, mergify/can-merge

#5215 feat(dashboard): render source dependency graph
  dashboard/components/StreamGraph.tsx
  dashboard/components/StreamingView.js.disabled
  dashboard/pages/streaming_graph.tsx
Labels: type/feature, mergify/can-merge

#5147 feat(optimizer): Only accept scalar subquery can guarantee at most one row at compile time
  src/frontend/planner_test/tests/testdata/common_table_expressions.yaml
  src/frontend/planner_test/tests/testdata/pg_catalog.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/max_one_row_visitor.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/rule/apply_agg.rs
  src/frontend/src/optimizer/rule/apply_filter.rs
  src/frontend/src/optimizer/rule/apply_join.rs
  src/frontend/src/optimizer/rule/apply_proj.rs
  src/frontend/src/optimizer/rule/apply_scan.rs
  src/frontend/src/optimizer/rule/apply_to_join.rs
  src/frontend/src/optimizer/rule/max_one_row_elim.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate.rs
  src/frontend/src/planner/select.rs
Labels: type/feature, mergify/can-merge

#5082 refactor(storage): move current_epoch out of hummock version
  proto/hummock.proto
  src/batch/src/executor/row_seq_scan.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, mergify/can-merge

#5239 chore(meta): remove unused notify_all
  src/meta/src/manager/notification.rs
  src/tests/sync_point/src/test_utils.rs
Labels: type/chore, mergify/can-merge

#5162 refactor(streaming): refine degree usage
  proto/stream_plan.proto
  src/common/src/array/data_chunk_iter.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/meta/src/stream/stream_graph.rs
  src/storage/src/table/streaming_table/mod.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/iter_utils.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/from_proto/hash_join.rs
Labels: type/refactor, mergify/can-merge

#5216 refactor(source): let SourceParser construct StreamChunk directly
  src/source/src/connector_source.rs
  src/source/src/parser/avro_parser.rs
  src/source/src/parser/debezium/json.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/mod.rs
  src/source/src/parser/protobuf_parser.rs
Labels: type/refactor, mergify/can-merge

#5234 refactor(storage): remove shared_buffer replicated_batch
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/write_batch.rs
Labels: type/refactor, mergify/can-merge

#5240 refactor(compaction): unify task cancellation
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, mergify/can-merge

#5232 fix(parser/binder): remove/reject not supported stmt
  e2e_test/batch/join/full_outer/full_outer_join_cache.slt.part
  e2e_test/batch/join/full_outer/test_full_outer_join_many_matches.slt.part
  e2e_test/batch/join/inner/test_lt_join.slt.part
  e2e_test/batch/order/negative_offset.slt.part
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix, mergify/can-merge

#5243 fix: incorrect naming of tx and rx
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix, mergify/can-merge

#5137 feat(stream): use key encoding for pk in JoinEntryState
  src/common/src/array/data_chunk_iter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/feature, mergify/can-merge

#5219 feat: process metric for macos
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/monitor/process_linux.rs
Labels: type/feature, mergify/can-merge

#5253 test: add a test case for window group top n
  e2e_test/streaming/group_top_n.slt
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/over_agg_to_topn.rs
Labels: component/test, mergify/can-merge

#5200 feat: Skip name duplicate checking when explaining
  e2e_test/ddl/explain_no_duplicate_check.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/explain.rs
Labels: mergify/can-merge

#5261 fix(compaction): check sst upload result
  src/object_store/src/object/s3.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/error.rs
Labels: type/fix, mergify/can-merge

#5268 chore: rename `TableSourceV2` to `TableSource`
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/compute/tests/integration_tests.rs
  src/source/src/lib.rs
  src/source/src/manager.rs
  src/source/src/table.rs
  src/stream/src/executor/source/reader.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/chore, mergify/can-merge

#5226 feat: support rescheduling table source & handle corner cases
  src/meta/src/barrier/command.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/error.rs
  src/source/src/table.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/feature, mergify/can-merge

#5120 feat(frontend): Use SortAgg when output requires sort
  e2e_test/batch/aggregate/sort_agg.slt.part
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/order_by.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
Labels: mergify/can-merge

#5276 fix(test): data should be from upstream in `tpch_upstream.slt`
  e2e_test/streaming/nexmark_snapshot.slt
  e2e_test/streaming/nexmark_upstream.slt
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
Labels: type/fix, mergify/can-merge

#5236 fix(storage): sync a bounded epoch range in each sync call
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
  src/storage/src/hummock/shared_buffer/mod.rs
Labels: type/fix, mergify/can-merge

#5275 feat: improve memtable conflicts error message
  src/storage/src/table/streaming_table/mem_table.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/storage/src/table/streaming_table/test_streaming_table.rs
Labels: type/feature, mergify/can-merge

#5267 fix(frontend): mix START_TRANSACTION and BEGIN
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/fix, mergify/can-merge

#5280 feat(frontend): Use index scan if it satisfies required order
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/src/optimizer/plan_node/logical_scan.rs
Labels: mergify/can-merge

#5286 fix(stream): fix wrong usage of chunk builder in topn
  e2e_test/streaming/bug_fixes/issue_5285.slt
  src/stream/src/executor/group_top_n.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
  src/stream/src/executor/top_n_executor.rs
Labels: type/fix, mergify/can-merge

#5281 refactor: `Row::serialize()` does not need to return `Result`
  src/common/src/array/data_chunk_iter.rs
  src/compute/tests/integration_tests.rs
  src/storage/src/table/batch_table/test_batch_table.rs
  src/storage/src/table/streaming_table/state_table.rs
  src/storage/src/table/streaming_table/test_streaming_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/group_top_n.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/aggregation/array_agg.rs
  src/stream/src/executor/managed_state/aggregation/extreme.rs
  src/stream/src/executor/managed_state/aggregation/string_agg.rs
  src/stream/src/executor/managed_state/aggregation/value.rs
  src/stream/src/executor/managed_state/dynamic_filter.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/top_n.rs
  src/stream/src/executor/top_n_appendonly.rs
Labels: type/refactor, mergify/can-merge

#5231 fix: handle zero and negative step for generate_series
  e2e_test/batch/basic/generate_series.slt
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/types/ops.rs
  src/expr/src/table_function/generate_series.rs
Labels: type/fix, mergify/can-merge

#5296 feat(catalog): add value indices in table catalog
  proto/catalog.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/src/table/streaming_table/state_table.rs
Labels: type/feature, mergify/can-merge

#5292 test: add streaming query e2e tests: tpch q16 & q21
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/run-e2e-test.sh
  ci/workflows/pull-request.yml
  e2e_test/streaming/tpch/create_views.slt.part
  e2e_test/streaming/tpch/drop_views.slt.part
  e2e_test/streaming/tpch/q16.slt.part
  e2e_test/streaming/tpch/q21.slt.part
  e2e_test/streaming/tpch/views/q16.slt.part
  e2e_test/streaming/tpch/views/q21.slt.part
  e2e_test/streaming/tpch_snapshot.slt
  e2e_test/streaming/tpch_upstream.slt
Labels: component/test, mergify/can-merge

#5300 feat(test): support killing node during execution
  Cargo.lock
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/main.rs
Labels: type/feature, mergify/can-merge

#5138 feat(frontend): add frontend metrics
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  risedev.yml
  src/compute/src/lib.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/lib.rs
  src/frontend/src/monitor/mod.rs
  src/frontend/src/monitor/stats.rs
  src/frontend/src/session.rs
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/frontend_service.rs
Labels: type/feature, mergify/can-merge

#5298 refactor(test): switch sync_point by feature flag
  Cargo.lock
  src/cmd_all/src/playground.rs
  src/meta/Cargo.toml
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/storage/src/hummock/compactor/mod.rs
  src/tests/sync_point/Cargo.toml
  src/tests/sync_point/run_sync_point_test.sh
  src/tests/sync_point/src/lib.rs
  src/utils/sync-point/Cargo.toml
  src/utils/sync-point/src/lib.rs
Labels: type/refactor, mergify/can-merge

#5279 fix(frontend): remove pg_get_userbyid limit operator
  src/frontend/planner_test/tests/testdata/pg_catalog.yaml
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/src/binder/expr/function.rs
Labels: type/fix, mergify/can-merge

#5295 feat: explain dist stream plan
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/utils/mod.rs
  src/frontend/src/utils/stream_graph_formatter.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/feature, mergify/can-merge

#5139 feat(compaction): Split sub-compaction by index-block
  src/common/src/config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: mergify/can-merge

#5318 test: move datagen tests to e2e_test/source
  e2e_test/source/datagen.slt
  e2e_test/source/nexmark_endless.slt
Labels: component/test, mergify/can-merge

#5308 ci: add stale message to stale action
  .github/workflows/stale.yml
Labels: component/ci, mergify/can-merge

#5317 fix(optimizer): refine index cost by using primary table row size to estimate non-covered index cost
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/src/optimizer/rule/index_selection.rs
Labels: type/fix, mergify/can-merge

#5311 fix(streaming): only use receiver executor for no-shuffle exchange
  proto/stream_plan.proto
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/from_proto/merge.rs
Labels: type/fix, mergify/can-merge

#5323 fix: handle mem-table error
  src/common/src/util/ordered/serde.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/streaming_table/state_table.rs
Labels: type/fix, mergify/can-merge

#5266 feat(object store): remove fallback
  src/object_store/src/object/s3.rs
Labels: type/feature, mergify/can-merge

#5078 chore(storage): add metrics for compaction write amplification
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
Labels: type/chore, mergify/can-merge

#5301 fix: fix update/remove vnode mapping assert in frontend
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/stream/stream_graph.rs
Labels: type/fix, mergify/can-merge

#5282 feat(optimizer): support deduplication by setting overagg rank = 1
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/optimizer/rule/over_agg_to_topn.rs
Labels: type/feature, mergify/can-merge

#5287 fix(metrics): collect node num metrics at process level
  grafana/risingwave-dashboard.json
  grafana/risingwave-dashboard.py
  src/common/src/monitor/mod.rs
  src/common/src/monitor/node.rs
  src/compute/src/server.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/compactor/src/server.rs
Labels: type/fix, mergify/can-merge

#5153 refactor(storage): manage version_ids_in_use in unpin_worker instead of LocalVersion
  src/storage/src/hummock/local_version.rs
  src/storage/src/hummock/local_version_manager.rs
Labels: mergify/can-merge

#4688 feat: draft pr for execute root fragment at FE instead of CN
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/mod.rs
Labels: type/feature, mergify/can-merge

#5294 test: add test for javascript pg driver
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/tests/js/.editorconfig
  src/utils/pgwire/tests/js/.eslintignore
  src/utils/pgwire/tests/js/.eslintrc.json
  src/utils/pgwire/tests/js/.gitignore
  src/utils/pgwire/tests/js/.prettierrc.js
  src/utils/pgwire/tests/js/package.json
  src/utils/pgwire/tests/js/test/pgwire.test.ts
  src/utils/pgwire/tests/js/tsconfig.json
Labels: component/test, mergify/can-merge

#5332 feat(sqlsmith): add primary key to tpch tables
  src/tests/sqlsmith/tests/testdata/nexmark.sql
  src/tests/sqlsmith/tests/testdata/tpch.sql
Labels: type/feature, mergify/can-merge

#5334 refactor(storage_table): remove deprecated `OrderedColumnDesc`
  src/common/src/catalog/column.rs
Labels: type/refactor, mergify/can-merge

#5314 refactor(compaction): avoid duplicate write path in trivial move.
  src/meta/src/hummock/manager/mod.rs
Labels: type/refactor, mergify/can-merge

#5246 feat(risedev): introduce DocSlt tool to extract SQL examples written in SLT syntax to SLT files
  .gitignore
  Cargo.lock
  Makefile.toml
  ci/scripts/docslt.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  docs/developer-guide.md
  src/expr/src/expr/expr_array_concat.rs
  src/expr/src/vector_op/agg/functions.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-docslt.rs
Labels: type/feature, component/dev, mergify/can-merge

#5044 feat(compaction): support compaction task scheduling policy based on score
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/feature, mergify/can-merge
