Repository risingwavelabs/risingwave, pull requests merged in 2023-05, with the labels that each got.

#9547 ci: error message for pr title checker
  .github/pr-title-checker-config.json
  CONTRIBUTING.md
Labels: component/ci

#9546 doc: tweak instruction for compile from source
  README.md
Labels: component/doc

#9534 chore(storage): Adjust the tier_compaction limit to reduce the impact on ci
  proto/hummock.proto
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/test_utils.rs
Labels: type/chore

#9532 perf(array): optimize iteration of struct and list type
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/lib.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/sink/mod.rs
  src/expr/src/expr/expr_array_concat.rs
  src/expr/src/expr/expr_array_distinct.rs
  src/expr/src/expr/expr_array_length.rs
  src/expr/src/expr/expr_array_positions.rs
  src/expr/src/expr/expr_array_remove.rs
  src/expr/src/expr/expr_array_to_string.rs
  src/expr/src/expr/expr_some_all.rs
  src/expr/src/expr/expr_trim_array.rs
  src/expr/src/vector_op/array_access.rs
  src/expr/src/vector_op/array_range_access.rs
  src/expr/src/vector_op/cast.rs
  src/stream/src/executor/aggregation/minput_agg_impl/array_agg.rs
  src/stream/src/executor/aggregation/minput_agg_impl/extreme.rs
Labels: type/perf

#9551 feat(ci): Add adhoc heap flamegraph generation
  ci/scripts/gen-flamegraph.sh
  ci/workflows/gen-flamegraph.yml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/feature, cpu_flamegraph, nexmark-q17, nexmark-q0, heap_flamegraph, nexmark-q7

#9558 refactor: make docslt faster
  Cargo.lock
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-docslt.rs
Labels: type/refactor

#9560 chore(ci): increase nexmark events for flamegraph generation
  ci/scripts/gen-flamegraph.sh
  ci/workflows/pull-request.yml
Labels: type/chore, cpu_flamegraph, nexmark-q17, nexmark-q0, heap_flamegraph, nexmark-q7

#9561 fix(frontend): support `drop function` without arguments
  e2e_test/udf/python.slt
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/drop_function.rs
  src/sqlparser/src/parser.rs
Labels: type/fix, user-facing-changes

#9563 build: optimize dependencies
  Cargo.lock
  scripts/source/prepare_ci_pubsub/Cargo.toml
  scripts/source/prepare_ci_pubsub/src/main.rs
  src/connector/Cargo.toml
  src/connector/src/source/google_pubsub/enumerator/client.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/src/task/task_pubsub_emu_ready_check.rs
  src/workspace-hack/Cargo.toml
Labels: type/build

#9040 feat(batch): support dedicated serving cluster
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/run-e2e-test.sh
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/visibility_checkpoint.slt
  e2e_test/read_barrier/batch.slt
  e2e_test/read_barrier/ddl.slt
  e2e_test/read_barrier/streaming.slt
  java/common-utils/src/main/java/com/risingwave/java/utils/MetaClient.java
  proto/common.proto
  proto/meta.proto
  risedev.yml
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/frontend/src/session.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/rpc/service/cluster_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/simulation/src/client.rs
  src/tests/simulation/src/slt.rs
Labels: type/feature, component/batch

#9559 perf(common): don't estimate for fixed size key
  src/common/src/hash/key.rs
Labels: type/perf

#9568 fix(frontend): reject `ALTER SOURCE` on table with connector
  e2e_test/ddl/alter_rename_relation.slt
  src/frontend/src/handler/alter_relation_rename.rs
Labels: type/fix

#9567 feat(optimizer): Apply remove project optimization before common sub-plan sharing
  e2e_test/streaming/nexmark/views/q5.slt.part
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/merge_eq_nodes.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate_rule.rs
  src/tests/simulation/src/nexmark/q5.sql
Labels: type/feature

#9570 chore(type): change `DataType::List` to tuple struct style
  src/batch/src/executor/filter.rs
  src/batch/src/executor/order_by.rs
  src/common/benches/bench_encoding.rs
  src/common/src/array/arrow.rs
  src/common/src/array/list_array.rs
  src/common/src/test_utils/rand_chunk.rs
  src/common/src/types/mod.rs
  src/common/src/types/postgres_type.rs
  src/common/src/util/sort_util.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/sink/mod.rs
  src/connector/src/source/datagen/source/reader.rs
  src/expr/src/agg/array_agg.rs
  src/expr/src/agg/general.rs
  src/expr/src/expr/expr_array_concat.rs
  src/expr/src/expr/expr_array_to_string.rs
  src/expr/src/expr/expr_nested_construct.rs
  src/expr/src/expr/expr_regexp.rs
  src/expr/src/expr/expr_some_all.rs
  src/expr/src/table_function/regexp_matches.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/planner_test/tests/testdata/array.yaml
  src/frontend/planner_test/tests/testdata/basic_query.yaml
  src/frontend/planner_test/tests/testdata/cast.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/project_set.yaml
  src/frontend/planner_test/tests/testdata/sysinfo_funcs.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/chore

#9452 feat(agg): support `bool_and`, `bool_or`, `jsonb_agg`, `jsonb_object_agg`
  e2e_test/batch/aggregate/jsonb_agg.slt.part
  proto/expr.proto
  src/common/src/array/jsonb_array.rs
  src/expr/Cargo.toml
  src/expr/src/agg/def.rs
  src/expr/src/agg/general.rs
  src/expr/src/agg/jsonb_agg.rs
  src/expr/src/agg/mod.rs
  src/expr/src/error.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
Labels: type/feature, user-facing-changes

#9577 refactor(pgwire): refine the interface of notice
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/refactor

#9587 perf(array): optimize iteration of struct and list type (#9532)
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/lib.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/sink/mod.rs
  src/expr/src/expr/expr_array_concat.rs
  src/expr/src/expr/expr_array_distinct.rs
  src/expr/src/expr/expr_array_length.rs
  src/expr/src/expr/expr_array_positions.rs
  src/expr/src/expr/expr_array_remove.rs
  src/expr/src/expr/expr_array_to_string.rs
  src/expr/src/expr/expr_some_all.rs
  src/expr/src/expr/expr_trim_array.rs
  src/expr/src/vector_op/array_access.rs
  src/expr/src/vector_op/array_range_access.rs
  src/expr/src/vector_op/cast.rs
  src/stream/src/executor/aggregation/minput_agg_impl/array_agg.rs
  src/stream/src/executor/aggregation/minput_agg_impl/extreme.rs
Labels: type/perf

#9585 build: use rdkafka instead of kafka in risedev
  Cargo.lock
  src/risedevtool/Cargo.toml
  src/risedevtool/src/task/task_kafka_ready_check.rs
  src/workspace-hack/Cargo.toml
Labels: type/build

#9005 feat: make kafka sync call timeout configurable
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/mod.rs
Labels: type/feature, user-facing-changes

#9575 feat(source): add mysql permission checks in validation
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/MySQLSourceTest.java
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/PostgresSourceTest.java
  java/connector-node/risingwave-source-test/src/test/resources/stored_queries.properties
Labels: type/feature

#9598 feat(batch): optimize batch limit and topn
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/planner_test/tests/testdata/limit.yaml
  src/frontend/src/optimizer/plan_node/batch_limit.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Labels: type/feature

#9580 fix: allow type cast of Timestamptz in generated column
  src/frontend/planner_test/tests/testdata/generated_columns.yaml
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
Labels: type/fix, user-facing-changes

#9589 build: optimize dependencies+
  .config/hakari.toml
  Cargo.lock
  src/risedevtool/Cargo.toml
  src/risedevtool/src/task.rs
  src/utils/workspace-config/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/build

#9602 fix(ci): increase log level for unit test, fix connector node ci
  .github/workflows/connector-node-integration.yml
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/MySQLSourceTest.java
  java/connector-node/risingwave-source-test/src/test/resources/log4j2.properties
Labels: type/fix

#9609 refactor(expr): make `NOW` a separate expression type
  e2e_test/batch/functions/now.slt.part
  proto/expr.proto
  src/common/src/util/epoch.rs
  src/expr/src/expr/expr_proctime.rs
  src/expr/src/expr/mod.rs
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/src/binder/bind_param.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/expr/expr_mutator.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/expr_visitor.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/now.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
  src/frontend/src/optimizer/rule/stream/filter_with_now_to_join_rule.rs
  src/stream/src/executor/now.rs
Labels: type/refactor

#9599 fix(batch): Fix table function executor
  src/batch/src/executor/table_function.rs
  src/common/src/array/data_chunk.rs
Labels: type/fix

#9596 build: dynamic link openssl & zstd
  Cargo.lock
  Cargo.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/build.sh
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  docs/developer-guide.md
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/connector/Cargo.toml
  src/risedevtool/Cargo.toml
  src/risedevtool/common.toml
  src/utils/workspace-config/Cargo.toml
  src/utils/workspace-config/README.md
  src/utils/workspace-config/src/lib.rs
  src/workspace-hack/Cargo.toml
  src/workspace-hack/README.md
Labels: type/build

#9601 fix: container aware api
  src/common/src/util/resource_util.rs
Labels: type/fix

#9556 perf(hashkey): refine the memory reserving for SerializedKey
  src/common/src/array/data_chunk.rs
  src/common/src/hash/key.rs
Labels: Invalid PR Title

#9623 fix(batch):add shutdown rx in execution
  src/batch/src/task/task_execution.rs
Labels: type/fix

#9630 fix: Add log to batch task status change
  src/batch/src/task/task_execution.rs
Labels: type/fix

#9632 chore: change log level in recovery and log addr when failed to create stream client
  src/meta/src/barrier/recovery.rs
  src/rpc_client/src/lib.rs
Labels: type/chore

#9634 fix(grafana): place legend at bottom
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/fix

#9613 chore(optimizer): refine collect input ref logic
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/col_pruning.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/apply_join_transpose_rule.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/frontend/src/utils/condition.rs
Labels: type/chore

#9624 fix(expr): support default escape '\' in like
  src/expr/src/vector_op/like.rs
Labels: type/fix, user-facing-changes

#9616 fix(expr): do not const-eval impure expressions
  e2e_test/ddl/table/generated_columns.slt.part
  proto/expr.proto
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
  src/frontend/src/optimizer/plan_node/logical_over_agg.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/rule/always_false_filter_rule.rs
  src/frontend/src/optimizer/rule/over_agg_to_topn_rule.rs
  src/frontend/src/utils/condition.rs
Labels: type/fix

#9573 feat(optimizer): support intersect
  e2e_test/batch/basic/intersect.slt.part
  e2e_test/streaming/intersect.slt.part
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/intersect.yaml
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/intersect.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_intersect.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/rule/intersect_to_semi_join_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/planner/set_operation.rs
Labels: type/feature, user-facing-changes

#9636 fix(ci): connector integration test trigger condition
  .github/workflows/connector-node-integration.yml
Labels: type/fix

#9640 fix(grafana): show uploading memory by instances
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/fix

#9644 fix(ci): trigger connector node ci jobs in merge queue
  .github/workflows/connector-node-integration.yml
Labels: type/fix

#9629 refactor: move timestimp cast to common
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/cast/mod.rs
  src/common/src/error.rs
  src/common/src/lib.rs
  src/connector/Cargo.toml
  src/connector/src/macros.rs
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/sink/mod.rs
  src/expr/Cargo.toml
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/timestamptz.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor

#9621 refactor: derivative -> educe
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/config.rs
  src/common/src/hash/consistent_hash/mapping.rs
  src/common/src/hash/key.rs
  src/common/src/session_config/mod.rs
  src/frontend/Cargo.toml
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/stream/Cargo.toml
  src/stream/src/executor/exchange/output.rs
Labels: type/refactor

#9628 ci: use debug=1 to reduce binary size
  Cargo.toml
Labels: component/ci

#9638 test: cover both read_barrier and read_checkpoint for streaming and batch e2e
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/run-e2e-test.sh
  e2e_test/read_barrier/ddl.slt
  e2e_test/read_barrier/streaming.slt
  e2e_test/visibility_mode/barrier.slt
  e2e_test/visibility_mode/checkpoint.slt
  risedev.yml
Labels: component/test

#9617 refactor(connector): refactor connector source/sink tests in a single module
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeLocalSinkTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeSinkFactoryTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkFactoryTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkLocalTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkPartitionTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/SinkRowMapTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/UpsertIcebergSinkLocalTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/UpsertIcebergSinkPartitionTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/MySQLSourceTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/SourceTestClient.java
  java/connector-node/risingwave-connector-test/src/test/resources/log4j2.properties
  java/connector-node/risingwave-connector-test/src/test/resources/my.cnf
  java/connector-node/risingwave-connector-test/src/test/resources/orders.tbl
  java/connector-node/risingwave-connector-test/src/test/resources/stored_queries.properties
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/SinkRowMap.java
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/pom.xml
Labels: type/refactor

#9622 feat(emit-on-window-close): enable queries with `EMIT ON WINDOW CLOSE` keyword
  e2e_test/streaming/eowc/eowc_group_agg.slt
  e2e_test/streaming/eowc/eowc_group_top_n.slt
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/emit_on_window_close.yaml
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_derive.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
  src/frontend/src/optimizer/plan_node/stream_values.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
Labels: type/feature, user-facing-changes

#9597 feat(over window): generate EOWC stream plan from `LogicalOverAgg`
  e2e_test/streaming/eowc/eowc_over_window.slt
  src/frontend/planner_test/tests/testdata/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_agg.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/stream/src/from_proto/eowc_over_window.rs
Labels: type/feature, user-facing-changes

#9646 fix(mem-mgr): fix jemalloc_active_bytes metrics
  src/compute/src/memory_management/memory_manager.rs
Labels: type/fix

#9633 fix: fix ci build option in main cron job
  ci/workflows/main-cron.yml
Labels: type/fix, ci/run-main-cron

#9593 chore(storage): RiseCtl Support more concise Version printing
  src/ctl/src/cmd_impl/hummock/list_version.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/metrics_utils.rs
Labels: type/chore

#9600 fix(sub level): insert sub level into correct pos in `HummockVersion`
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#9614 feat(compaction): do not split compaction output by size in L0 and Lbase
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/feature

#9271 feat(docs): add guidance for non-s3 storage backends
  docs/README.md
  docs/multi-object-store.md
Labels: type/feature

#9648 chore: rename `LogicalOverAgg` to `LogicalOverWindow` to make things consistent
  src/frontend/planner_test/tests/testdata/column_pruning.yaml
  src/frontend/planner_test/tests/testdata/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/over_agg_to_topn_rule.rs
  src/frontend/src/planner/select.rs
Labels: type/chore

#9651 chore: move `common::util::ordered::serde` to `common::util::row_serde`
  src/common/benches/bench_row.rs
  src/common/src/row/mod.rs
  src/common/src/util/mod.rs
  src/common/src/util/ordered/mod.rs
  src/common/src/util/row_serde.rs
  src/storage/src/filter_key_extractor.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/aggregation/agg_state_cache.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/top_n/utils.rs
Labels: type/chore

#9160 fix(storage): catch http timeout error and retry
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/s3.rs
Labels: type/fix

#9639 feat(optimizer): support intersect merge rule
  src/frontend/planner_test/tests/testdata/intersect.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/intersect_merge_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature

#9654 perf(minor): change `stream_extreme_cache_size` from 1024 to 10
  src/common/src/config.rs
  src/config/example.toml
Labels: type/perf

#9650 fix(sqlsmith): fix failing frontend tests
  ci/scripts/cron-fuzz-test.sh
  ci/scripts/pr-fuzz-test.sh
  ci/scripts/run-fuzz-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/scripts/gen_queries.sh
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/fix, ci/run-main-cron

#9557 refactor(meta): always persist compaction config.
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
Labels: type/refactor

#9657 chore(stream agg): rename some agg-related structs to make explain concise
  dashboard/lib/streamPlan/parser.js
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/append_only.yaml
  src/frontend/planner_test/tests/testdata/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_derive.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/utils/stream_graph_formatter.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/stateless_simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/simple_agg.rs
  src/stream/src/from_proto/stateless_simple_agg.rs
  src/tests/simulation/tests/it/scale/singleton_migration.rs
  src/tests/simulation/tests/it/scale/sink.rs
Labels: type/chore

#9663 feat: Introduce monitored alloc with mem context
  src/common/src/memory/alloc.rs
  src/common/src/memory/mod.rs
Labels: type/feature

#9664 feat(source): supports in-place split dropping in source manager
  src/meta/src/stream/source_manager.rs
Labels: type/feature

#8311 refactor(frontend): simplify condition by merging lower bound and upper bound
  e2e_test/batch/basic/range_scan.slt.part
  src/frontend/planner_test/tests/testdata/range_scan.yaml
  src/frontend/src/utils/condition.rs
Labels: type/refactor

#9665 fix(deterministic-test): disable telemetry
  ci/scripts/gen-flamegraph.sh
  ci/scripts/pr-fuzz-test.sh
  src/config/ci-sim.toml
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/README.md
Labels: type/fix, cpu_flamegraph, nexmark-q0, heap_flamegraph, ci/run-main-cron

#9676 fix(test): use verbose list-version
  src/storage/backup/integration_tests/common.sh
Labels: type/fix

#9672 refactor(object-store): remove sync requirement on object store streaming uploader
  src/object_store/src/object/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/refactor

#9660 refactor(storage): OpenDAL list object should be compatible with s3
  .typos.toml
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor

#9642 fix(meta): refuse to start cluster if data directory is used by another instance
  src/common/src/system_param/mod.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/model/cluster.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/telemetry_service.rs
  src/meta/src/telemetry.rs
  src/storage/backup/src/meta_snapshot.rs
Labels: type/fix, user-facing-changes, breaking-change

#9680 chore: only persist definition in stream actor when debug assertion enabled
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
Labels: type/chore

#9703 perf(over-window): store `agg_call` instead of `agg_state_prototype` in `AggregateState` to reduce memory consumption
  src/stream/src/executor/over_window/state/aggregate.rs
Labels: type/perf

#9707 feat(storage): compactor skip sst and block related to non-existent able_id
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: type/feature

#9679 feat(storage): support identifying "object not found" error kind
  src/object_store/src/object/disk.rs
  src/object_store/src/object/error.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/s3.rs
Labels: type/feature, component/storage

#9700 fix(optimizer): fix subquery on sources
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/apply_eliminate_rule.rs
  src/frontend/src/optimizer/rule/apply_join_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/fix

#8759 perf(compaction): support partition in compaction group
  Cargo.lock
  proto/hummock.proto
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/storage_failpoints/test_sstable.rs
Labels: type/perf

#9716 fix(backup): restore cluster id
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/manager/env.rs
  src/meta/src/model/cluster.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/telemetry_service.rs
Labels: type/fix, ci/run-main-cron

#9705 feat(fe): refine notice framework
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature

#9709 fix(timestamp): fix some timestamp issue in watermark derivation
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
Labels: type/fix

#9724 feat(optimizer): refactor group topn convert && improve err msg
  src/frontend/src/optimizer/rule/over_agg_to_topn_rule.rs
Labels: type/feature, user-facing-changes

#9704 fix: correctly link actors for no-shuffle dispatcher if scaling or migration happened
  src/meta/src/stream/stream_graph/actor.rs
  src/tests/simulation/tests/it/scale/table.rs
Labels: type/fix

#9670 fix(ndstreamreader): duplicated rows from single json file
  ci/workflows/main-cron.yml
  e2e_test/s3/json_file.py
  src/connector/src/source/filesystem/nd_streaming.rs
Labels: type/fix, ci/run-main-cron

#9689 feat: support avro bytes type
  scripts/source/test_data/avro_bin.1
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/test_data/simple-schema.avsc
Labels: type/feature

#9715 refactor(plan_node): Share-related nodes refactoring.
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/generic/share.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_share.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_visitor/relation_collector_visitor.rs
  src/frontend/src/optimizer/plan_visitor/sys_table_visitor.rs
  src/frontend/src/optimizer/plan_visitor/temporal_join_validator.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#9734 build: ignore criterion in hakari
  .config/hakari.toml
  Cargo.lock
  src/workspace-hack/Cargo.toml
Labels: type/build

#9740 refactor(plan_node): use generics in update nodes
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/generic/update.rs
  src/frontend/src/optimizer/plan_node/logical_update.rs
  src/frontend/src/planner/update.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#9717 feat(grafana): add datasource variable and move the datasource into the panel.
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/README.md
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/feature

#9612 refactor(sink): label name changed and unify two sink metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/sink.rs
Labels: type/refactor

#9729 refactor(storage): refactor l0 score calculate and decrease the priority of l0_intra
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
Labels: type/refactor

#9749 fix(storage): compactor side reduce sst meta access related to non-existent table_id
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: type/fix

#9743 chore(metric): increase query latency bucket resolution
  src/frontend/src/monitor/stats.rs
  src/frontend/src/scheduler/distributed/stats.rs
Labels: type/chore

#9735 fix(optimizer): fix convert over to group topn
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/over_agg_to_topn_rule.rs
Labels: type/fix

#9674 test: add debezium-postgres demo in integration tests
  docker/docker-compose.yml
  integration_tests/debezium-postgres/create_mv.sql
  integration_tests/debezium-postgres/create_source.sql
  integration_tests/debezium-postgres/data_check
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-postgres/postgres/postgres_bootstrap.sql
  integration_tests/debezium-postgres/postgres/postgres_dbz.sh
  integration_tests/debezium-postgres/postgres_prepare.sql
  integration_tests/debezium-postgres/query.sql
Labels: component/test, user-facing-changes

#9731 feat(watermark): handle watermark on desc column (close #9730)
  src/stream/src/common/table/state_table.rs
Labels: type/feature

#9626 build: make dynamic linking opt-in instead of default
  Cargo.lock
  Cargo.toml
  Makefile.toml
  docs/developer-guide.md
  src/risedevtool/common.toml
  src/risedevtool/config/Cargo.toml
  src/risedevtool/config/src/main.rs
  src/utils/workspace-config/Cargo.toml
  src/utils/workspace-config/README.md
Labels: type/build

#9671 refactor(common): unify implementation of hash key
  Cargo.lock
  e2e_test/batch/duckdb/join/iejoin/test_iejoin.test.slt.part
  e2e_test/batch/tpch/q18.slt.part
  e2e_test/streaming/tpch/q10.slt.part
  e2e_test/streaming/tpch/q18.slt.part
  src/common/Cargo.toml
  src/common/src/array/mod.rs
  src/common/src/hash/key.rs
  src/common/src/hash/key_v2.rs
  src/common/src/hash/mod.rs
  src/common/src/types/interval.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor

#9745 fix(ci): fix compaction test ci
  ci/scripts/run-e2e-test.sh
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix, ci/run-main-cron

#9761 refactor(storage): reduce Vec return type to avoid unnecessary allocation
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Labels: type/refactor

#9759 feat(storage): remove compactor runtime config
  proto/compactor.proto
  proto/hummock.proto
  src/compute/src/server.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/rpc.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/src/hummock/compactor/compaction_executor.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/mod.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#9754 fix(optimizer): use correct schema for always-false condition on table scan
  src/frontend/planner_test/tests/testdata/range_scan.yaml
  src/frontend/src/optimizer/plan_node/logical_scan.rs
Labels: type/fix

#9763 fix(sqlsmith): avoid generating `count(distinct *)`
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: type/fix

#9701 feat(over window): support `EXCLUDE CURRENT ROW` for window functions
  e2e_test/streaming/eowc/eowc_over_window.slt
  proto/expr.proto
  src/expr/src/function/window/call.rs
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/state/aggregate.rs
  src/stream/src/executor/over_window/state/buffer.rs
  src/stream/src/executor/over_window/state/lag.rs
  src/stream/src/executor/over_window/state/lead.rs
  src/stream/src/executor/over_window/state/mod.rs
Labels: type/feature, user-facing-changes

#9757 feat(metrics): Add metric to monitor merge imm task
  .gitignore
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/feature

#9765 fix(storage): skip the first tick for compaction scheduler's interval trigger
  src/meta/src/hummock/compaction_scheduler.rs
Labels: type/fix

#9766 refactor(frontend): refine query log
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/runtime/src/lib.rs
Labels: type/refactor

#9755 fix(sink): fix Kafka Debezium sink format
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/debezium.py
  e2e_test/sink/kafka/debezium1.result
  e2e_test/sink/kafka/debezium2.result
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
Labels: type/fix

#9741 feat(frontend): Asind function
  e2e_test/batch/functions/trigonometric_funcs.slt.part
  proto/expr.proto
  src/expr/src/vector_op/trigonometric.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
Labels: type/feature

#9770 chore: remove `sort_v0` and `sort_buffer_v0`
  src/common/src/row/ascent_owned_row.rs
  src/common/src/row/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sort_buffer_v0.rs
  src/stream/src/executor/sort_v0.rs
Labels: type/chore

#9753 feat(tests): Turn on regress test trigonometric funcs
  e2e_test/batch/functions/trigonometric_funcs.slt.part
  src/expr/src/vector_op/trigonometric.rs
  src/tests/regress/data/sql/float8.sql
Labels: type/feature

#9769 fix(ci): fix integration test pipeline matrix limits
  ci/scripts/integration-tests.sh
  ci/workflows/integration-tests.yml
  integration_tests/scripts/clean_demos.py
  integration_tests/twitter-pulsar/data_check
Labels: type/fix

#9728 feat(source): Support AWS privatelink for CREATE TABLE command
  e2e_test/source/basic/ddl.slt
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/utils.rs
Labels: type/feature, user-facing-changes

#9776 build: remove `profile.bench`
  Cargo.toml
Labels: type/build

#9783 chore: fix misuse a private func
  src/connector/src/parser/avro/parser.rs
Labels: type/chore

#9779 chore: remove unnecessary apt-install in docker/developer-guide
  docker/Dockerfile
  docs/developer-guide.md
Labels: type/chore

#9785 refactor(plan_node): simplify batch-delete
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/generic/delete.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_delete.rs
  src/frontend/src/planner/delete.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#9748 chore(object store): add log for s3 timeout retry
  src/object_store/src/object/s3.rs
Labels: type/chore

#9619 ci: remove cargo registry cache
  ci/workflows/gen-flamegraph-cron.yml
  ci/workflows/gen-flamegraph.yml
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: component/ci

#9792 fix(optimizer): project merge rule merge recursively
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/rule/project_merge_rule.rs
Labels: type/fix

#9795 fix: enable tike-jemallocator unprefixed_malloc_on_supported_platforms
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
Labels: type/fix

#9778 ci: compress artifacts
  ci/scripts/build-simulation.sh
  ci/scripts/build.sh
  ci/scripts/common.sh
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/docslt.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/pulsar-source-test.sh
  ci/scripts/regress-test.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-fuzz-test.sh
Labels: component/ci

#9791 feat(frontend): refine prepare statement query log
  src/frontend/src/binder/bind_param.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
  src/utils/runtime/src/lib.rs
Labels: type/feature

#9806 chore: delete .mergify.yml
  .mergify.yml
Labels: type/chore

#9797 feat(metric): enable finer-grain filters and fix various issues
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/README.md
  grafana/common.py
  grafana/requirements.txt
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/common/src/util/stream_graph_visitor.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature

#9803 fix(sqlsmith): output `count(*)` correctly
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: type/fix

#9711 test: add nexmark with watermark planner test
  src/frontend/planner_test/tests/testdata/nexmark_watermark.yaml
Labels: component/test

#9799 fix(optimizer): join simplify_outer should consider output indices
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix

#9812 refactor(common): use `for_all_type_pairs` for `create_array_builder`
  src/common/src/types/mod.rs
Labels: type/refactor

#9804 fix(optimizer): do not dedup column in order key which is also in group key
  e2e_test/streaming/group_top_n.slt
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/stream/src/executor/top_n/utils.rs
Labels: type/fix

#9455 refactor(optimizer): refactor dynmic filter with core.
  src/frontend/src/optimizer/plan_node/generic/dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
Labels: type/refactor

#9808 chore(frontend): remove workaround for query hang in frontend
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/chore

#9823 fix(clippy): typo in `RISINGWAVE_FEATURE_FLAGS`
  Makefile.toml
Labels: type/fix

#9822 feat(pg_catalog): add dattablespace into pg_catalog
  e2e_test/batch/catalog/pg_database.slt.part
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_database.rs
Labels: type/feature, user-facing-changes

#9805 feat(streaming): convert agg to dedup if append only
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/watermark.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature

#9816 refactor(types): prevent `ScalarImpl` and `Datum` from incorrectly ordered
  src/batch/src/executor/join/lookup_join_base.rs
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/list_array.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/array/struct_array.rs
  src/common/src/field_generator/numeric.rs
  src/common/src/row/mod.rs
  src/common/src/row/ordered.rs
  src/common/src/types/mod.rs
  src/common/src/types/ordered.rs
  src/common/src/util/sort_util.rs
  src/frontend/src/utils/condition.rs
  src/stream/src/executor/backfill.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/state/mod.rs
  src/stream/src/executor/sort_buffer.rs
  src/stream/src/executor/watermark_filter.rs
Labels: type/refactor

#9835 feat(frontend): support show indexes
  e2e_test/ddl/show.slt
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/util.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/show.yaml
Labels: type/feature, user-facing-changes

#9836 fix(common): `decimal` ordering of `nan` and `-inf`
  Cargo.lock
  e2e_test/batch/types/decimal.slt.part
  src/common/Cargo.toml
  src/common/src/types/decimal.rs
  src/meta/Cargo.toml
  src/storage/Cargo.toml
  src/stream/Cargo.toml
Labels: type/fix, breaking-change

#9837 fix(opt): batch group topn executor does not give any order guarantee
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/order_by.yaml
  src/frontend/src/optimizer/plan_node/batch_group_topn.rs
Labels: type/fix

#9847 chore: revert client exit when meta leave reaches maximum heartbeat interval
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/frontend/src/session.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/stream/src/executor/source/source_executor.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/simulation/src/cluster.rs
Labels: type/chore

#9850 refactor(batch agg): clean up batch sort_agg
  src/batch/src/executor/sort_agg.rs
  src/expr/src/agg/general_sorted_grouper.rs
  src/expr/src/agg/mod.rs
Labels: type/refactor

#9702 feat(estimate_size): impl `EstimateSize` for more operators
  src/common/src/estimate_size/collections/lru.rs
  src/common/src/estimate_size/mod.rs
  src/common/src/row/owned_row.rs
  src/common/src/types/jsonb.rs
  src/stream/src/common/cache/state_cache/ordered.rs
  src/stream/src/common/cache/top_n_cache.rs
  src/stream/src/executor/lookup/cache.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/state/aggregate.rs
  src/stream/src/executor/over_window/state/buffer.rs
  src/stream/src/executor/over_window/state/lag.rs
  src/stream/src/executor/over_window/state/lead.rs
  src/stream/src/executor/over_window/state/mod.rs
  src/stream/src/executor/top_n/mod.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/topn_cache_state.rs
  src/stream/src/executor/top_n/utils.rs
Labels: type/feature, cpu_flamegraph, nexmark-q17

#9833 fix(upsert): Fix Kafka upsert sink output and upsert source unreachable
  src/batch/src/executor/source.rs
  src/connector/src/sink/kafka.rs
Labels: type/fix

#9853 fix(connector): s3 source up to 1k objects
  e2e_test/s3/json_file.py
  src/connector/src/source/filesystem/s3/enumerator.rs
Labels: type/fix

#9855 feat(sink): Kafka tombstone support for Kafka Debezium sink
  src/connector/src/sink/kafka.rs
Labels: type/feature

#9862 fix(ci): opendal e2e test clean data after ci-kill
  ci/scripts/e2e-test-parallel-for-opendal.sh
Labels: type/fix

#9845 feat(streaming): use no-shuffle exchange for share & fix scaling
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/meta/src/stream/scale.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/it/scale/mod.rs
  src/tests/simulation/tests/it/scale/no_shuffle.rs
Labels: type/feature

#9870 fix(optimizer): move `NOW` and `PROCTIME` inlining to optimization phase
  e2e_test/source/basic/kafka.slt
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/now.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/planner/relation.rs
Labels: type/fix

#9868 feat: enable ddl/source/sink test in deterministic recovery test
  ci/scripts/deterministic-recovery-test.sh
  e2e_test/source/basic/kafka.slt
  src/tests/simulation/src/slt.rs
Labels: type/feature

#9867 fix(metrics): some long latency metrics should use irate
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/monitor/compactor_metrics.rs
Labels: type/fix

#9827 feat(planner, overagg): support expression in the ORDER BY & PARTITION BY clause
  e2e_test/batch/top_n/group_top_n.slt
  e2e_test/streaming/group_top_n.slt
  src/frontend/planner_test/tests/testdata/column_pruning.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
Labels: type/feature, user-facing-changes

#9888 chore(doc): Update README.md to use the new logo and new diagram
  README.md
Labels: type/chore

#9875 test(source): add csv format test for Kafka
  e2e_test/source/basic/kafka.slt
  scripts/source/test_data/kafka_1_csv_topic.1
  src/connector/src/parser/csv_parser.rs
  src/frontend/src/handler/create_source.rs
  src/source/src/source_desc.rs
Labels: component/test, user-facing-changes
