Repository risingwavelabs/risingwave, pull requests merged in 2023-12, with the labels that each got.

#13686 chore: Adjust default large query memory
  src/compute/src/memory/config.rs
Labels: type/chore

#13750 feat: check-in `cargo dylint` with `format_error` lint
  .licenserc.yaml
  Cargo.toml
  lints/.cargo/config.toml
  lints/.gitignore
  lints/.vscode/settings.json.example
  lints/Cargo.lock
  lints/Cargo.toml
  lints/README.md
  lints/rust-toolchain
  lints/src/format_error.rs
  lints/src/lib.rs
  lints/src/utils/format_args_collector.rs
  lints/src/utils/mod.rs
  lints/ui/format_error.rs
  lints/ui/format_error.stderr
Labels: type/feature

#13725 refactor(error): simplify all boxed error wrapper definition
  Cargo.lock
  Cargo.toml
  src/batch/clippy.toml
  src/common/src/array/error.rs
  src/common/src/error.rs
  src/compute/src/rpc/service/stream_service.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/expr/function_call.rs
  src/jni_core/src/hummock_iterator.rs
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/system_param.rs
  src/meta/src/controller/utils.rs
  src/meta/src/error.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/error.rs
  src/source/src/connector_source.rs
  src/source/src/fs_connector_source.rs
  src/storage/Cargo.toml
  src/storage/src/error.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/sstable_store.rs
  src/stream/Cargo.toml
  src/stream/clippy.toml
  src/stream/src/common/table/state_table.rs
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
  src/udf/src/error.rs
Labels: type/refactor

#13430 feat(jni): pass stream chunk directly without serde
  e2e_test/iceberg/start_spark_connect_server.sh
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkWriterHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/deserializer/StreamChunkDeserializer.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/java-binding/src/main/java/com/risingwave/java/binding/JniSinkWriterStreamRequest.java
  java/java-binding/src/main/java/com/risingwave/java/binding/StreamChunk.java
  proto/connector_service.proto
  src/connector/src/sink/remote.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
  src/rpc_client/src/connector_client.rs
  src/rpc_client/src/lib.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests

#13768 doc(docker): add comments for minio disk full issue
  docker/README.md
Labels: component/doc

#13757 refactor(meta): make unregister compaction group member fail fast
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor

#13779 feat(meta): try to record panic info from worker nodes
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_event_logs.rs
  src/meta/service/src/event_log_service.rs
  src/meta/src/manager/event_log.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature

#13783 fix: don't clean in-memory tracker when clean persist table catalog
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-main-cron, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/run-integration-test-deterministic-simulation, ci/main-cron/skip-ci, need-cherry-pick-v1.5.0

#13781 fix(udf): fix index-out-of-bound error when string or string list is large.
  e2e_test/udf/udf.slt
  java/udf-example/pom.xml
  java/udf/CHANGELOG.md
  java/udf/pom.xml
  java/udf/src/main/java/com/risingwave/functions/TypeUtils.java
Labels: type/fix

#13568 feat(expr): add json path functions
  Cargo.lock
  proto/expr.proto
  src/common/src/types/jsonb.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/jsonb_path.rs
  src/expr/impl/src/scalar/mod.rs
  src/expr/macro/src/gen.rs
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/sqlparser/src/ast/operator.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/tokenizer.rs
  src/tests/regress/data/expected/jsonb_jsonpath.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/jsonb_jsonpath.sql
Labels: type/feature, need-cherry-pick-v1.5.0

#13775 feat(streaming): memory-size-based back-pressure in exchange
  proto/task_service.proto
  src/common/src/config.rs
  src/config/example.toml
  src/config/full-iceberg-bench.toml
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/task/mod.rs
Labels: type/feature

#13721 chore(integration_tests): remove invalid mysql type alias
  integration_tests/mysql-cdc/mysql-datatypes.yml
Labels: type/chore

#13549 fix(optimizer): do not push temporal filter predicate passing the temporal join
  src/frontend/planner_test/tests/testdata/input/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix

#13810 fix: apply `RW_WORKER_THREADS` for all runtimes
  src/utils/runtime/src/lib.rs
Labels: type/fix, user-facing-changes

#13772 test(connector): add redis-sink compatible test
  integration_tests/redis-sink/create_sink.sql
  integration_tests/redis-sink/create_source.sql
  integration_tests/redis-sink/sink_check
Labels: component/test

#13804 fix(udf): prevent continuous retries on connection error
  src/expr/core/src/expr/expr_udf.rs
  src/udf/src/error.rs
Labels: type/fix, need-cherry-pick-v1.5.0

#13815 feat(meta): try to record panic info from worker nodes (#13779)
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_event_logs.rs
  src/meta/service/src/event_log_service.rs
  src/meta/src/manager/event_log.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature

#13806 refactor(sink): remove unnecessary StartEpoch of remote sink
  ci/workflows/pull-request.yml
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkWriterStreamObserver.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/SinkStreamObserverTest.java
  proto/connector_service.proto
  src/connector/src/sink/remote.rs
  src/rpc_client/src/connector_client.rs
Labels: type/refactor, ci/run-e2e-iceberg-sink-tests, ci/run-java-binding-tests, ci/run-connector-node-integration-tests

#13747 feat: support alter rename database and schema in catalog controller
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/utils.rs
Labels: type/feature

#13814 chore: docker compose to standalone by default
  ci/scripts/notify.py
  ci/workflows/integration-tests.yml
  docker/README.md
  docker/docker-compose-distributed.yml
  docker/docker-compose.yml
  integration_tests/ad-click/docker-compose.yml
  integration_tests/ad-ctr/docker-compose.yml
  integration_tests/big-query-sink/docker-compose.yml
  integration_tests/cassandra-and-scylladb-sink/docker-compose.yml
  integration_tests/cdn-metrics/docker-compose.yml
  integration_tests/citus-cdc/docker-compose.yml
  integration_tests/clickhouse-sink/docker-compose.yml
  integration_tests/clickstream/docker-compose.yml
  integration_tests/cockroach-sink/docker-compose.yml
  integration_tests/debezium-mongo/docker-compose.yaml
  integration_tests/debezium-mysql/docker-compose.yml
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-sqlserver/docker-compose.yml
  integration_tests/doris-sink/docker-compose.yml
  integration_tests/elasticsearch-sink/docker-compose.yml
  integration_tests/feature-store/docker-compose.yml
  integration_tests/iceberg-cdc/docker-compose.yml
  integration_tests/iceberg-cdc/python/script/config.ini
  integration_tests/iceberg-sink/docker-compose.yml
  integration_tests/kafka-cdc-sink/docker-compose.yml
  integration_tests/kinesis-s3-source/docker-compose.yml
  integration_tests/livestream/docker-compose.yml
  integration_tests/mysql-cdc/docker-compose.yml
  integration_tests/mysql-sink/docker-compose.yml
  integration_tests/pinot-sink/docker-compose.yml
  integration_tests/postgres-cdc/docker-compose.yml
  integration_tests/postgres-sink/docker-compose.yml
  integration_tests/presto-trino/docker-compose.yml
  integration_tests/presto-trino/etc/risingwave.properties
  integration_tests/prometheus/docker-compose.yml
  integration_tests/prometheus/prometheus.yaml
  integration_tests/redis-sink/docker-compose.yml
  integration_tests/schema-registry/docker-compose.yml
  integration_tests/starrocks-sink/docker-compose.yml
  integration_tests/superset/docker-compose.yml
  integration_tests/tidb-cdc-sink/docker-compose.yml
  integration_tests/twitter-pulsar/docker-compose.yml
  integration_tests/twitter/docker-compose.yml
  integration_tests/upsert-avro/docker-compose.yml
  integration_tests/vector/docker-compose.yml
Labels: type/chore, need-cherry-pick-v1.5.0

#13822 Revert "feat(streaming): memory-size-based back-pressure in exchange"
  proto/task_service.proto
  src/common/src/config.rs
  src/config/example.toml
  src/config/full-iceberg-bench.toml
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/task/mod.rs
Labels: Invalid PR Title

#13826 chore: docker compose to standalone by default (#13814)
  ci/scripts/notify.py
  ci/workflows/integration-tests.yml
  docker/README.md
  docker/docker-compose-distributed.yml
  docker/docker-compose.yml
  integration_tests/ad-click/docker-compose.yml
  integration_tests/ad-ctr/docker-compose.yml
  integration_tests/big-query-sink/docker-compose.yml
  integration_tests/cassandra-and-scylladb-sink/docker-compose.yml
  integration_tests/cdn-metrics/docker-compose.yml
  integration_tests/citus-cdc/docker-compose.yml
  integration_tests/clickhouse-sink/docker-compose.yml
  integration_tests/clickstream/docker-compose.yml
  integration_tests/cockroach-sink/docker-compose.yml
  integration_tests/debezium-mongo/docker-compose.yaml
  integration_tests/debezium-mysql/docker-compose.yml
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-sqlserver/docker-compose.yml
  integration_tests/doris-sink/docker-compose.yml
  integration_tests/elasticsearch-sink/docker-compose.yml
  integration_tests/feature-store/docker-compose.yml
  integration_tests/iceberg-cdc/docker-compose.yml
  integration_tests/iceberg-cdc/python/script/config.ini
  integration_tests/iceberg-sink/docker-compose.yml
  integration_tests/kafka-cdc-sink/docker-compose.yml
  integration_tests/kinesis-s3-source/docker-compose.yml
  integration_tests/livestream/docker-compose.yml
  integration_tests/mysql-cdc/docker-compose.yml
  integration_tests/mysql-sink/docker-compose.yml
  integration_tests/pinot-sink/docker-compose.yml
  integration_tests/postgres-cdc/docker-compose.yml
  integration_tests/postgres-sink/docker-compose.yml
  integration_tests/presto-trino/docker-compose.yml
  integration_tests/presto-trino/etc/risingwave.properties
  integration_tests/prometheus/docker-compose.yml
  integration_tests/prometheus/prometheus.yaml
  integration_tests/redis-sink/docker-compose.yml
  integration_tests/schema-registry/docker-compose.yml
  integration_tests/starrocks-sink/docker-compose.yml
  integration_tests/superset/docker-compose.yml
  integration_tests/tidb-cdc-sink/docker-compose.yml
  integration_tests/twitter-pulsar/docker-compose.yml
  integration_tests/twitter/docker-compose.yml
  integration_tests/upsert-avro/docker-compose.yml
Labels: type/chore

#13824 test(backwards-compat): test invalid WITH options
  backwards-compat-tests/scripts/utils.sh
  backwards-compat-tests/slt/kafka/invalid_options/seed.slt
  backwards-compat-tests/slt/kafka/invalid_options/validate_original.slt
  backwards-compat-tests/slt/kafka/invalid_options/validate_restart.slt
Labels: component/test, ci/run-backwards-compat-tests

#13827 chore(risedev): split some tasks from `check` to `check-fast`
  Makefile.toml
Labels: type/chore

#13709 feat(storage): implement iterator skipping table watermark
  src/storage/benches/bench_merge_iter.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/skip_watermark.rs
Labels: type/feature

#13831 test(stream): add `kill` cancel test for foreground ddl
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: component/test

#13280 feat(sink): support flink dynamic table sink and http sink
  e2e_test/iceberg/test_case/cdc/load.slt
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/CommonSinkConfig.java
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/flink/FlinkMockTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/http/HttpTest.java
  java/connector-node/risingwave-sink-mock-flink/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkDynamicAdapterConfig.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkDynamicUtil.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkMockSinkFactory.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/main/java/com/risingwave/mock/flink/http/HttpFlinkMockSinkFactory.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/FlinkDynamicAdapterFactory.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/RowDataImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/DynamicTableSinkContextImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/MailBoxExecImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/SinkWriterContext.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/SinkWriterContextV2.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/SinkWriterMetircGroupImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/AsyncSinkWriterImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/CommitRequestImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/SinkWriterImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/SinkWriterV2Impl.java
  java/pom.xml
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-java-connector-node-integration-tests, ci/run-connector-node-integration-tests

#13836 feat(meta): show recovery cause when request is rejected
  src/meta/service/src/scale_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/feature

#13828 fix(udf): avoid panic on invalid output and fix decimal output scale lost
  e2e_test/udf/test.py
  e2e_test/udf/udf.slt
  java/udf-example/pom.xml
  java/udf-example/src/main/java/com/example/UdfExample.java
  java/udf/CHANGELOG.md
  java/udf/pom.xml
  java/udf/src/main/java/com/risingwave/functions/TypeUtils.java
  src/expr/core/src/expr/expr_udf.rs
  src/udf/python/CHANGELOG.md
  src/udf/python/pyproject.toml
  src/udf/python/risingwave/udf.py
Labels: type/fix, need-cherry-pick-v1.5.0

#13847 fix: kafka props mismatch
  src/connector/src/common.rs
Labels: type/fix, need-cherry-pick-v1.5.0

#13835 fix(storage): fix compaction metrics remove
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/metrics_utils.rs
Labels: type/fix

#13833 chore: remove some spill log
  src/storage/src/hummock/store/local_hummock_storage.rs
Labels: type/chore

#13656 chore: rename props with dot separation
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/pulsar/mod.rs
  src/connector/with_options_source.yaml
Labels: type/chore

#13271 feat(now): merge watermark of multiple ready barriers
  src/stream/src/executor/now.rs
Labels: type/feature

#13858 refactor(metrics): use guarded gauge for lru metrics
  src/stream/src/cache/managed_lru.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/refactor

#13715 fix(EsSink): Fix es sink error thrown
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
Labels: type/fix

#13702 feat(expr): support streaming make_timestamptz
  e2e_test/streaming/expr_context.slt
  proto/plan_common.proto
  proto/stream_plan.proto
  proto/task_service.proto
  src/batch/src/execution/grpc_exchange.rs
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/expr/core/Cargo.toml
  src/expr/core/src/expr_context.rs
  src/expr/core/src/lib.rs
  src/expr/impl/src/scalar/make_timestamptz.rs
  src/expr/macro/src/context.rs
  src/expr/macro/src/lib.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/meta/model_v2/src/actor.rs
  src/meta/model_v2/src/lib.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/test_fragmenter.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, breaking-change

#13867 chore(meta): add some comments for source & stream manager
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/chore

#13751 feat(streaming): all stateful executors can try spill when chunk comes
  src/stream/src/executor/dedup/append_only_dedup.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/stream/src/executor/top_n/utils.rs
  src/stream/src/executor/watermark_filter.rs
Labels: type/feature

#13873 fix(docker): fix apt install failed
  docker/Dockerfile
Labels: type/fix

#13878 chore: log range tombstone count
  src/storage/hummock_sdk/src/compact.rs
Labels: type/chore

#13888 fix(compatibility): always fill expr_context in `StreamActor`
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
Labels: type/fix, ci/run-backwards-compat-tests

#13890 fix(expr): fix a critical bug in case expression
  src/expr/core/src/expr/build.rs
  src/expr/core/src/expr/mod.rs
  src/expr/impl/src/scalar/case.rs
  src/expr/impl/src/scalar/mod.rs
Labels: type/fix, need-cherry-pick-v1.5.0

#13863 chore(stream): rename StreamEnvironment to StreamContext
  proto/meta.proto
  proto/stream_plan.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/chore, ci/run-backwards-compat-tests

#13881 fix: use EpochWithGap::new_max_epoch if the provided epoch is max epoch
  src/common/src/util/epoch.rs
  src/storage/hummock_sdk/src/lib.rs
Labels: type/fix, need-cherry-pick-v1.5.0

#13849 chore(pgwire): avoid error log for health check
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/chore

#13877 feat(metrics): add cdc consume lag metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEventConsumer.java
  proto/connector_service.proto
  src/connector/src/parser/mod.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/monitor/metrics.rs
Labels: type/feature

#13692 chore(batch): deprecate chunk size in scan
  proto/batch_plan.proto
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/batch/batch_push_limit_to_scan_rule.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Labels: type/chore, ci/run-backwards-compat-tests

#13854 feat(docker): standalone mode for docker compose with different object storage
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/multiple_object_storage.env
Labels: type/feature

#13901 chore(object store): bump OpenDAL to v0.43
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/oss.rs
Labels: type/chore, ci/run-opendal-tests

#13910 fix(docker): fix apt install failed (#13873)
  docker/Dockerfile
Labels: type/fix

#13909 refactor(stream): move `backfill/upstream_table` to `backfill/cdc/upstream_table`
  src/compute/tests/cdc_tests.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/mod.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/mod.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/backfill/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/refactor

#13862 feat(types): add Fields trait and derive macro
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/fields-derive/Cargo.toml
  src/common/fields-derive/src/lib.rs
  src/common/src/catalog/schema.rs
  src/common/src/lib.rs
  src/common/src/types/fields.rs
  src/common/src/types/mod.rs
  src/common/src/types/with_data_type.rs
Labels: type/feature

#13853 feat(docker): add docker compose for obs
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-obs.yml
  docker/multiple_object_storage.env
Labels: type/feature

#13870 refactor(error): clean-up direct error formatting (part 2)
  Cargo.lock
  src/common/src/error.rs
  src/connector/src/lib.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/meta/reschedule.rs
  src/ctl/src/cmd_impl/profile.rs
  src/ctl/src/cmd_impl/scale/resize.rs
  src/ctl/src/common/context.rs
  src/expr/core/src/error.rs
  src/expr/core/src/expr/expr_field.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/expr/wrapper/non_strict.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/benches/expr.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/encdec.rs
  src/expr/impl/src/scalar/format.rs
  src/expr/impl/src/scalar/int256.rs
  src/expr/impl/src/scalar/jsonb_path.rs
  src/expr/impl/src/scalar/regexp.rs
  src/expr/impl/src/scalar/timestamptz.rs
  src/frontend/Cargo.toml
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/function_impl/cast_regclass.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/optimizer/rule/stream/bushy_tree_join_ordering_rule.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/user/user_service.rs
  src/jni_core/Cargo.toml
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/lib.rs
  src/udf/src/error.rs
Labels: type/refactor

#13915 fix(storage): make path of hummock with FS customisable
  risedev.yml
  src/object_store/src/object/mod.rs
  src/risedevtool/src/task/utils.rs
Labels: type/fix

#13491 refactor(catalog): use ctor in `prepare_sys_catalog` for further `catalog` macro
  Cargo.lock
  src/expr/impl/src/scalar/cast.rs
  src/frontend/Cargo.toml
  src/frontend/src/catalog/system_catalog/mod.rs
Labels: type/refactor

#13769 chore: add kinit binaries in docker image
  docker/Dockerfile
Labels: type/chore

#13558 feat(storage): enable preload for log store and dynamic filter
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/config.rs
  src/compute/src/memory/config.rs
  src/ctl/src/cmd_impl/bench.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/object_store/src/object/mod.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/block_stream.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/hummock/validator.rs
  src/storage/src/monitor/local_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/opts.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/sort_buffer.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#13921 fix: fix docker compose standalone prome
  README.md
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
  docker/prometheus.yaml
Labels: type/fix

#13925 fix: add apt-get update to fix dockerfile
  docker/Dockerfile
Labels: type/fix

#13926 fix(types): fix Serial in Fields derive and add tests
  Cargo.lock
  src/common/fields-derive/Cargo.toml
  src/common/fields-derive/src/gen/test_output.rs
  src/common/fields-derive/src/lib.rs
  src/common/src/types/with_data_type.rs
Labels: type/fix

#13923 chore(expr): move several expressions to `expr_impl`
  Cargo.toml
  ci/scripts/run-unit-test.sh
  e2e_test/udf/test.py
  integration_tests/feature-store/server/udf.py
  src/common/src/array/data_chunk.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/expr/core/src/expr/build.rs
  src/expr/core/src/expr/expr_coalesce.rs
  src/expr/core/src/expr/expr_field.rs
  src/expr/core/src/expr/expr_in.rs
  src/expr/core/src/expr/expr_input_ref.rs
  src/expr/core/src/expr/expr_vnode.rs
  src/expr/core/src/expr/mod.rs
  src/expr/core/src/expr/wrapper/checked.rs
  src/expr/core/src/expr/wrapper/non_strict.rs
  src/expr/impl/src/scalar/array_transform.rs
  src/expr/impl/src/scalar/coalesce.rs
  src/expr/impl/src/scalar/field.rs
  src/expr/impl/src/scalar/in_.rs
  src/expr/impl/src/scalar/mod.rs
  src/expr/impl/src/scalar/vnode.rs
  src/expr/udf/Cargo.toml
  src/expr/udf/examples/client.rs
  src/expr/udf/python/.gitignore
  src/expr/udf/python/CHANGELOG.md
  src/expr/udf/python/README.md
  src/expr/udf/python/publish.md
  src/expr/udf/python/pyproject.toml
  src/expr/udf/python/risingwave/__init__.py
  src/expr/udf/python/risingwave/test_udf.py
  src/expr/udf/python/risingwave/udf.py
  src/expr/udf/python/risingwave/udf/health_check.py
  src/expr/udf/src/error.rs
  src/expr/udf/src/external.rs
  src/expr/udf/src/lib.rs
Labels: type/chore

#13859 refactor(sqlparser): move create source v1 compatible code to its own mod
  src/sqlparser/src/ast/legacy_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
Labels: type/refactor

#13922 refactor(storage): refactor sstable encode function receiver
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/utils.rs
Labels: type/refactor

#13917 fix(optimizer): fix interval join watermark derive
  src/frontend/planner_test/tests/testdata/input/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
Labels: type/fix

#13936 feat(docker): add local fs docker compose
  docker/docker-compose-with-local-fs.yml
Labels: type/feature

#13622 feat(stream): support arrangement backfill frontend
  Cargo.lock
  ci/scripts/run-backfill-tests.sh
  ci/scripts/sql/backfill/basic/create_base_table.sql
  ci/scripts/sql/backfill/basic/create_mv.sql
  ci/scripts/sql/backfill/basic/drop.sql
  ci/scripts/sql/backfill/basic/insert.sql
  ci/scripts/sql/backfill/basic/select.sql
  ci/scripts/sql/backfill/replication_with_column_pruning/create_base_table.sql
  ci/scripts/sql/backfill/replication_with_column_pruning/create_mv.sql
  ci/scripts/sql/backfill/replication_with_column_pruning/drop.sql
  ci/scripts/sql/backfill/replication_with_column_pruning/insert.sql
  ci/scripts/sql/backfill/replication_with_column_pruning/select.sql
  proto/stream_plan.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/storage/Cargo.toml
  src/storage/src/row_serde/mod.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/stream_scan.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
  src/tests/sqlsmith/scripts/extract_queries.sh
Labels: type/feature, ci/run-main-cron, ci/run-backfill-tests, ci/run-docslt, ci/run-build, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/run-build-other, ci/run-integration-test-deterministic-simulation, ci/run-e2e-test, ci/main-cron/skip-ci

#13946 refactor(streaming): clean up unnecessary `metrics` field in agg executor
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/aggregation/distinct.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/simple_agg.rs
Labels: type/refactor

#13911 refactor(common): deduplicate chunk operation implementations
  src/common/src/array/data_chunk.rs
  src/common/src/array/mod.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/array/stream_chunk_builder.rs
  src/common/src/array/stream_record.rs
  src/common/src/util/chunk_coalesce.rs
  src/stream/src/common/builder.rs
Labels: type/refactor

#13935 chore: don't warn on object not found error
  src/object_store/src/object/mod.rs
Labels: type/chore

#13965 chore: fix alerting panels in grafana user dashboard
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
Labels: type/chore

#13950 feat(over window): add metrics to display over window range cache miss rate, etc.
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/feature

#13962 chore: disable failpoint test in simulation integration test
  Makefile.toml
  ci/workflows/pull-request.yml
  src/tests/simulation/tests/integration_tests/recovery/event_log.rs
Labels: type/chore

#13963 feat(session_config): allow add alias for parameter name
  src/common/proc_macro/src/session_config.rs
  src/common/src/session_config/mod.rs
Labels: type/feature

#13832 perf(topn): reduce unnecessary table scan in streaming (Group)TopN executors
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
Labels: type/perf

#13938 fix(meta): drop `TableCatalog` in `cancel_stream_jobs`
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/fix, ci/run-main-cron, cherry-pick, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci, need-cherry-pick-v1.5.0

#13933 feat: Add statement_timeout for query.
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/config/example.toml
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/session.rs
Labels: type/feature

#13977 fix(meta): drop TableCatalog in cancel_stream_jobs
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/fix

#13978 chore(ci): Update cherry-pick-to-release-branch.yml for v1.5.1
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#13980 fix: add apt-get update to fix dockerfile (#13925)
  docker/Dockerfile
Labels: Invalid PR Title

#13600 feat(sink): support deltalake sink with rust sdk
  .config/hakari.toml
  .github/workflows/cherry-pick-to-release-branch.yml
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/deltalake_rust_sink.slt
  risedev.yml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_default.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/mod.rs
  src/common/src/array/mod.rs
  src/common/src/types/num256.rs
  src/connector/Cargo.toml
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, ci/run-e2e-clickhouse-sink-tests, ci/run- e2e-deltalake-sink-rust-tests

#13979 fix(storage): lock table may cause deadlock and block iter
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/utils.rs
Labels: type/fix

#13872 feat(batch): batch group chunks for dml
  src/compute/tests/integration_tests.rs
  src/stream/src/executor/dml.rs
  src/stream/src/from_proto/dml.rs
Labels: type/feature

#13991 fix(ci): fix ci upload docker compose log
  ci/plugins/docker-compose-logs/hooks/post-command
Labels: type/fix

#13993 chore(storage): remove unused code memtable.rs
  src/storage/src/hummock/store/memtable.rs
Labels: type/chore

#13994 fix(stream): reuse label guarded metrics for actor input output metrics
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/utils.rs
Labels: type/fix

#13960 feat(storage): remove table watermarks of dropped tables
  proto/hummock.proto
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/feature

#13996 chore(deps): bump ctor to v0.2.6
  Cargo.lock
  src/frontend/src/catalog/system_catalog/mod.rs
Labels: type/chore

#13893 feat: update iceberg writer and add more metrics
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/iceberg/test_case/cdc/load.slt
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/prometheus/mod.rs
  src/connector/src/sink/iceberg/prometheus/monitored_base_file_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_partition_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_position_delete_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_write_writer.rs
  src/connector/src/sink/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#13990 feat: allow kafka source/sink config `ssl_endpoint_identification_algorithm`
  src/connector/src/common.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature

#13762 fix: misuse of props and options in `CREATE SOURCE`
  dashboard/components/Relations.tsx
  dashboard/pages/api/streaming.ts
  dashboard/pages/sinks.tsx
  dashboard/pages/sources.tsx
  proto/batch_plan.proto
  proto/catalog.proto
  proto/stream_plan.proto
  src/batch/src/executor/source.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/connector/src/source/external.rs
  src/connector/src/source/mod.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/source.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/mod.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/stream/source_manager.rs
  src/prost/build.rs
  src/source/src/source_desc.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/fix, ci/run-backwards-compat-tests

#13975 refactor(frontend): clone shared table catalog reference
  src/frontend/src/binder/create.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/handler/comment.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/planner/relation.rs
Labels: type/refactor, ci/run-main-cron, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci

#13997 fix(metrics): avoid calling with_label_values in every report for label guarded metrics
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/task/context.rs
  src/batch/src/task/task_execution.rs
  src/common/src/metrics/guarded_metrics.rs
  src/common/src/metrics/relabeled_metric.rs
  src/common/src/monitor/connection.rs
  src/meta/src/stream/source_manager.rs
  src/stream/src/cache/managed_lru.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/utils.rs
Labels: type/fix

#13861 feat(storage): support query with table watermark
  src/jni_core/src/hummock_iterator.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
Labels: type/feature

#13999 fix(session_config): correctly handle `set/show transaction isolation level`
  e2e_test/error_ui/simple/main.slt
  src/common/src/session_config/mod.rs
  src/common/src/session_config/transaction_isolation_level.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/transaction.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/fix, need-cherry-pick-v1.5.1

#14008 fix(ci): fix `main-cron.yml` format
  ci/workflows/main-cron.yml
Labels: type/fix, ci/run-main-cron, ci/run-build, ci/run-build-other, ci/main-cron/skip-ci, ci/run- e2e-deltalake-sink-rust-tests

#13959 feat(log-store): support log store rewind
  src/connector/src/sink/log_store.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/table/state_table.rs
Labels: type/feature

#14005 feat(source): suppress parser log
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/lib.rs
  src/common/src/log.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/protobuf.rs
  src/connector/src/parser/util.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#14023 fix(cdc): fix mysql row parsing errors for v1.5
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/mysql_create.sql
  src/connector/src/parser/mysql.rs
  src/connector/src/source/external.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/upstream_table/external.rs
Labels: type/fix

#14032 feat(meta): add remarks field for metadata backup.
  proto/backup_service.proto
  src/ctl/src/cmd_impl/meta/backup_meta.rs
  src/ctl/src/lib.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_meta_snapshot.rs
  src/meta/service/src/backup_service.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/rpc_client/src/meta_client.rs
  src/storage/backup/src/lib.rs
  src/storage/backup/src/storage.rs
Labels: type/feature

#14035 chore: update version v1.5.1
  Cargo.lock
  Cargo.toml
  README.md
  docker/docker-compose-distributed.yml
  docker/docker-compose.yml
Labels: type/chore

#14020 chore(log): filter out object not found error
  src/object_store/src/object/mod.rs
Labels: type/chore

#13985 feat: delay temporal filter && optimize dyn filter with always relax condition
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/input/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/rule/stream/filter_with_now_to_join_rule.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
Labels: type/feature, need-cherry-pick-v1.5.1

#14037 fix(cdc): cherry pick PR#14023 fix mysql row parsing errors
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/mysql_create.sql
  src/connector/src/parser/mysql.rs
  src/connector/src/source/external.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
Labels: type/fix, cherry-pick

#13924 refactor(pgwire): unify query logs and slow query logs
  src/common/src/util/mod.rs
  src/common/src/util/query_log.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/runtime/src/logger.rs
Labels: type/refactor

#14039 chore: disable cherry-picking through labeling after PR is merged
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#14036 fix(meta): reduce time complexity of MinOverlappingPicker
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
Labels: type/fix, need-cherry-pick-v1.5.1

#14042 feat(jni): pass stream chunk directly without serde (#13430)
  e2e_test/iceberg/start_spark_connect_server.sh
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkWriterHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/deserializer/StreamChunkDeserializer.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/java-binding/src/main/java/com/risingwave/java/binding/JniSinkWriterStreamRequest.java
  java/java-binding/src/main/java/com/risingwave/java/binding/StreamChunk.java
  proto/connector_service.proto
  src/connector/src/sink/remote.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
  src/rpc_client/src/connector_client.rs
  src/rpc_client/src/lib.rs
Labels: type/feature

#14017 fix(metrics): use raw metrics vec in connection metrics
  src/common/src/monitor/connection.rs
Labels: type/fix

#14046 fix(1.5.1, over window): fix range cache when some of order by and input stream key columns are in partition by columns
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/fix

#14045 fix(over window): fix range cache when some of `order by` and input stream key columns are in `partition by` columns
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/fix

#14021 ci: disable codecov comment
  codecov.yml
Labels: component/ci

#14044 feat(optimizer): support array subquery and \du
  src/frontend/planner_test/tests/testdata/input/subquery.yaml
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/planner/select.rs
Labels: type/feature, user-facing-changes

#13414 feat(source): introduce gcs source and new s3 source via OpenDAL
  Cargo.lock
  ci/scripts/s3-source-test.sh
  e2e_test/s3/gcs_source.py
  src/connector/Cargo.toml
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/file_common.rs
  src/connector/src/source/filesystem/mod.rs
  src/connector/src/source/filesystem/opendal_source/gcs_source.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/service_config.rs
  src/source/src/connector_source.rs
  src/source/src/source_desc.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/list_executor.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#13987 feat(storage): adapt to foyer without ring buffer and try avoid copy
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/feature

#14054 chore: update cherry pick version to release-1.5 and release-1.6
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#14053 chore(deps): remove archived dep tempdir
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/deltalake.rs
Labels: type/chore

#14026 test(connector): add clickhouse-sink compatible test
  integration_tests/clickhouse-sink/clickhouse_prepare.sql
  integration_tests/clickhouse-sink/create_sink.sql
  integration_tests/clickhouse-sink/create_source.sql
  integration_tests/clickhouse-sink/prepare.sh
  integration_tests/clickhouse-sink/sink_check.py
Labels: component/test

#14058 test: add doris-sink integration test into ci workflow
  ci/scripts/gen-integration-test-yaml.py
  ci/scripts/integration-tests.sh
  ci/scripts/notify.py
  integration_tests/doris-sink/README.md
  integration_tests/doris-sink/create_mv.sql
  integration_tests/doris-sink/create_sink.sql
  integration_tests/doris-sink/create_source.sql
  integration_tests/doris-sink/docker-compose.yml
  integration_tests/doris-sink/doris_prepare.sql
  integration_tests/doris-sink/prepare.sh
  integration_tests/doris-sink/sink_check.py
Labels: component/test

#12471 feat(connector): add nats integration test
  ci/scripts/gen-integration-test-yaml.py
  integration_tests/nats/README.md
  integration_tests/nats/create_source.sql
  integration_tests/nats/data_check
  integration_tests/nats/docker-compose.yml
  integration_tests/nats/query.sql
Labels: type/feature

#13914 chore(storage): adjust compaction task priority and fix memory estimation
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
Labels: type/chore

#14025 feat(dashboard): add diagnose command
  Cargo.lock
  dashboard/components/Layout.tsx
  src/meta/Cargo.toml
  src/meta/node/src/server.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/mod.rs
Labels: type/feature

#14049 refactor(over window): reduce repeated calculation of projection from state key to table sub-pk
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/refactor

#14052 test(expr): refine position bench
  src/expr/impl/benches/expr.rs
Labels: component/test

#14061 chore(deps): bump ahash and cleanup stale audit ignores
  .cargo/audit.toml
  Cargo.lock
Labels: type/chore

#14048 perf(meta): make GlobalStreamManager::build_actors concurrent
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/barrier/recovery.rs
  src/meta/src/lib.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/test_utils.rs
Labels: type/perf

#14062 feat(pgwire): expose SSL functionality via RW_SSL_CERT and RW_SSL_KEY
  src/frontend/src/lib.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/tests/ssl/demo.crt
  src/utils/pgwire/tests/ssl/demo.key
Labels: type/feature

#14069 fix(ci): fix version check in backwards compatibility tests
  backwards-compat-tests/scripts/utils.sh
Labels: type/fix, ci/run-backwards-compat-tests

#13880 feat(optimizer): runtime check for scalar subquery in batch queries
  e2e_test/batch/subquery/scalar_subquery.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/max_one_row.rs
  src/batch/src/executor/mod.rs
  src/frontend/planner_test/tests/testdata/input/subquery.yaml
  src/frontend/planner_test/tests/testdata/input/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/batch_max_one_row.rs
  src/frontend/src/optimizer/plan_node/generic/max_one_row.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_max_one_row.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_visitor/apply_visitor.rs
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/optimizer/plan_visitor/max_one_row_visitor.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/rule/max_one_row_eliminate_rule.rs
Labels: type/feature

#13707 feat: introduce `include` clause to add additional connector columns
  e2e_test/sink/kafka/avro.slt
  e2e_test/source/basic/inlcude_key_as.slt
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/nosim_kafka.slt
  e2e_test/source/basic/old_row_format_syntax/kafka.slt
  e2e_test/source/basic/old_row_format_syntax/nosim_kafka.slt
  e2e_test/source/basic/schema_registry.slt
  proto/plan_common.proto
  scripts/source/test_data/kafka_1_partition_mv_topic.1
  scripts/source/test_data/kafka_1_partition_topic.1
  scripts/source/test_data/kafka_3_partition_topic.3
  scripts/source/test_data/kafka_4_partition_topic.4
  scripts/source/test_data/kafka_4_partition_topic_with_100_message.4
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/common/src/catalog/test_utils.rs
  src/connector/src/parser/additional_columns.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/bytes_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/maxwell.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/upsert.rs
  src/connector/src/parser/unified/util.rs
  src/connector/src/parser/upsert_parser.rs
  src/connector/src/source/manager.rs
  src/connector/src/source/mod.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/source/benches/json_parser.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
  src/storage/src/row_serde/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/tests/sqlsmith/src/lib.rs
Labels: type/feature, ci/run-backwards-compat-tests

#14086 chore: remove useless for_await
  Cargo.lock
  src/expr/udf/src/external.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/meta/Cargo.toml
  src/meta/src/barrier/recovery.rs
  src/meta/src/lib.rs
  src/meta/src/stream/stream_manager.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/tests/state_cleaning_test/src/bin/main.rs
Labels: type/chore

#14080 feat(ordered-set agg): allow constant expression and NULL as direct argument
  e2e_test/batch/aggregate/ordered_set_agg.slt.part
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/expr/function.rs
Labels: type/feature

#14087 fix(batch): fix pu2worker cache
  src/frontend/src/scheduler/worker_node_manager.rs
Labels: type/fix, need-cherry-pick-release-1.5

#13621 feat(storage): fill missing columns with null for replicated state_table
  src/common/src/array/mod.rs
  src/common/src/array/stream_chunk.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/storage/src/row_serde/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
Labels: type/feature

#14100 refactor: supress log "failed to evaluate expression"
  src/expr/core/src/expr/wrapper/non_strict.rs
  src/stream/src/executor/actor.rs
Labels: type/refactor

#14071 feat(expr): support interval `to_char()`
  e2e_test/batch/functions/to_char.slt.part
  src/expr/impl/src/scalar/to_char.rs
Labels: type/feature

#14082 feat(connector-node): adapt `slf4j` to `tracing` in Rust
  Makefile.toml
  java/connector-node/assembly/pom.xml
  java/connector-node/connector-api/pom.xml
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-sink-cassandra/pom.xml
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/pom.xml
  java/connector-node/tracing/pom.xml
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jAdapter.java
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jImpl.java
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jLoggerFactory.java
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jServiceProvider.java
  java/connector-node/tracing/src/main/resources/META-INF/services/org.slf4j.spi.SLF4JServiceProvider
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/pom.xml
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
  src/jni_core/src/tracing_slf4j.rs
Labels: type/feature

#14105 fix(frontend): wrong RowDescription for `SHOW TRANSACTION ISOLATION LEVEL`
  src/frontend/src/session.rs
Labels: type/fix, need-cherry-pick-release-1.5

#14047 feat: suppress logs of mysql cdc source
  src/connector/src/parser/mysql.rs
Labels: type/feature

#14000 feat(expr): implement `<expr> [ NOT ] SIMILAR TO <pat> [ ESCAPE <esc_text> ]`
  e2e_test/batch/functions/similar_to_escape.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/mod.rs
  src/expr/impl/src/scalar/similar_to_escape.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/meta/src/controller/rename.rs
  src/meta/src/manager/catalog/utils.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/tests/regress/data/sql/strings.sql
Labels: type/feature, user-facing-changes

#14122 feat: allow drop streaming jobs during recovery (#12317)
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/feature

#14117 fix(binder): bind distinct
  src/frontend/planner_test/tests/testdata/input/distinct_on.yaml
  src/frontend/planner_test/tests/testdata/output/distinct_on.yaml
  src/frontend/src/binder/select.rs
Labels: type/fix, need-cherry-pick-release-1.5

#14121 feat(parser): accept `cancel job`
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, ci/run-backfill-tests

#14119 fix: cancel background stream job if table fragment not persist
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-main-cron, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci, need-cherry-pick-release-1.5

#14029 feat(sink): rewind log reader to isolate sink err
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/sink/blackhole.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/table.rs
  src/connector/src/sink/writer.rs
  src/stream/Cargo.toml
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sink.rs
Labels: type/feature

#14128 chore: update version to 1.5.2
  Cargo.lock
  Cargo.toml
  README.md
  docker/docker-compose-distributed.yml
  docker/docker-compose.yml
Labels: type/chore

#14136 fix(parser): display of sink into table
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#14125 chore(vscode): use full risedev path in tasks.json
  .vscode/tasks.json.example
Labels: type/chore

#14090 feat(metrics): add metrics to udf
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/expr/core/src/expr/expr_udf.rs
  src/expr/udf/Cargo.toml
  src/expr/udf/src/external.rs
  src/expr/udf/src/lib.rs
  src/expr/udf/src/metrics.rs
Labels: type/feature
