Repository risingwavelabs/risingwave, pull requests merged in 2023-02, with the labels that each got.

#7634 fix(expr): use checked operations for substr
  e2e_test/batch/functions/substr.slt.part
  src/expr/src/vector_op/substr.rs
  src/tests/sqlsmith/src/validation.rs
Labels: type/fix, mergify/can-merge

#7619 fix(state store): calculate delete range even if bloom filter negativ…
  src/storage/src/hummock/store/version.rs
Labels: type/fix, mergify/can-merge

#7452 feat(ci): poll-and-wait for connector node boot-up
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
Labels: type/feature, mergify/can-merge

#7417 feat(stream): support and refactor 2 way delta join
  dashboard/proto/gen/stream_plan.ts
  e2e_test/streaming/delta_join_snapshot.slt
  e2e_test/streaming/delta_join_upstream.slt
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/delta_join.yaml
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/index.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/frontend/src/utils/stream_graph_formatter.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/sides.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/from_proto/chain.rs
  src/stream/src/from_proto/lookup.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7638 fix(meta): Handle internal tables properly when creating and dropping sink
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/fix, mergify/can-merge

#7646 fix(release): fix main pipeline release step && update readme
  README.md
  ci/workflows/main.yml
Labels: type/fix, mergify/can-merge

#7502 feat(storage): bloom filter hash value xor with table id
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
Labels: type/feature, mergify/can-merge

#7648 fix: fix release scripts
  ci/scripts/release.sh
Labels: type/fix

#7180 feat: collect stream mem usage
  Cargo.lock
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/batch/src/task/context.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/compute/src/memory_management/memory_manager.rs
  src/frontend/src/scheduler/task_context.rs
  src/stream/Cargo.toml
  src/stream/src/executor/actor.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/env.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, mergify/can-merge

#7642 refactor(storage): remove storage core from local hummock
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/store/state_store.rs
Labels: type/refactor, mergify/can-merge

#7456 feat(lru cache): add interface `lookup_with_request_dedup` which …
  src/common/src/cache.rs
  src/object_store/src/object/error.rs
  src/storage/src/hummock/error.rs
Labels: type/feature, mergify/can-merge

#7540 feat: add ssl/sasl support for kafka sink
  Cargo.lock
  e2e_test/source/basic/kafka.slt
  src/connector/Cargo.toml
  src/connector/src/lib.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/tests/simulation/tests/sink.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, user-facing-changes, mergify/can-merge

#7651 fix(chore): Change comments in test to ci-3cn-2fe-3meta
  ci/scripts/deterministic-recovery-test.sh
Labels: type/fix, mergify/can-merge

#7649 fix: fix release workflow scripts && update release version in readme
  README.md
  ci/scripts/release.sh
  ci/workflows/main.yml
Labels: type/fix, mergify/can-merge

#7490 feat(meta): iterative streaming scheduler (part 1)
  Cargo.lock
  src/common/src/hash/consistent_hash/mapping.rs
  src/meta/Cargo.toml
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/feature, mergify/can-merge

#7613 feat: override config with cli opts
  Cargo.lock
  src/cmd_all/src/playground.rs
  src/common/Cargo.toml
  src/common/proc_macro/Cargo.toml
  src/common/proc_macro/src/config.rs
  src/common/proc_macro/src/lib.rs
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/frontend/Cargo.toml
  src/frontend/src/lib.rs
  src/frontend/src/session.rs
  src/meta/Cargo.toml
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/lib.rs
  src/risedevtool/src/config/use_expander.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature, component/common, user-facing-changes, mergify/can-merge

#7644 refactor(source): refine some code of split reader
  src/connector/src/macros.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
Labels: type/refactor, mergify/can-merge

#7652 feat(docs): Add documentation on how to run RW with debugger
  docs/developer-guide.md
  vscode_suggestions/launch.json
  vscode_suggestions/tasks.json
Labels: type/feature, mergify/can-merge

#7586 feat(storage): use finer granularity to monitor request latency
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
Labels: mergify/can-merge

#7661 fix(meta): fix meta_endpoint format when host not provided in playground mode
  src/meta/src/lib.rs
Labels: type/fix, mergify/can-merge

#7662 feat(streaming): support delta join on primary table
  e2e_test/streaming/delta_join/delta_join_snapshot.slt
  e2e_test/streaming/delta_join/delta_join_snapshot_no_index.slt
  e2e_test/streaming/delta_join/delta_join_upstream.slt
  e2e_test/streaming/delta_join/delta_join_upstream_no_index.slt
  src/frontend/planner_test/tests/testdata/delta_join.yaml
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
Labels: type/feature, mergify/can-merge

#7622 feat(pgwire):support mix format in extended query mode
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
  src/utils/pgwire/src/types.rs
Labels: type/feature, mergify/can-merge

#7666 chore(test): minor code refactoring in simulation test
  src/tests/simulation/src/main.rs
  src/tests/simulation/src/slt.rs
Labels: type/chore, mergify/can-merge

#7672 fix(sqlsmith): generation of ambiguous `IN` `list` expression
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: type/fix, mergify/can-merge

#7541 feat(frontend): define `ConstantEvalRewriter`, impl `ExprRewritable` for batch
  e2e_test/batch/functions/now.slt.part
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
  src/frontend/src/optimizer/plan_expr_rewriter/mod.rs
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_exchange.rs
  src/frontend/src/optimizer/plan_node/batch_expand.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/batch_group_topn.rs
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_limit.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_nested_loop_join.rs
  src/frontend/src/optimizer/plan_node/batch_project.rs
  src/frontend/src/optimizer/plan_node/batch_project_set.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/batch_table_function.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/batch_union.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/batch_values.rs
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/src/optimizer/plan_node/expr_rewritable.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_delete.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_insert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_limit.rs
  src/frontend/src/optimizer/plan_node/logical_now.rs
  src/frontend/src/optimizer/plan_node/logical_over_agg.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_share.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/logical_table_function.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/plan_node/logical_update.rs
  src/frontend/src/optimizer/plan_node/logical_values.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Labels: type/feature, mergify/can-merge

#7530 feat(service-params): Rename `host -> listen_addr`, `client_addr -> advertise_addr`
  docker/docker-compose.yml
  src/cmd_all/src/playground.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/compute.rs
  src/frontend/src/lib.rs
  src/frontend/src/session.rs
  src/meta/src/lib.rs
  src/meta/src/rpc/follower_svc.rs
  src/meta/src/rpc/server.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/lib.rs
  src/tests/simulation/src/cluster.rs
Labels: type/feature, user-facing-changes, mergify/can-merge, breaking-change

#7665 fix(sqlparser): fix operator precedence between '>=' and 'IN'
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/sqlparser/src/parser.rs
Labels: mergify/can-merge

#7629 feat(sqlsmith): gen implicit cast
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/feature, mergify/can-merge

#7631 feat(ci): add e2e test for iceberg sink
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/iceberg_sink.slt
  risedev.yml
  src/config/ci-iceberg-test.toml
  src/connector/src/sink/remote.rs
Labels: type/feature, mergify/can-merge

#7676 chore(log): suppress unnecessary warning
  src/storage/src/hummock/iterator/merge_inner.rs
Labels: type/chore, mergify/can-merge

#7681 fix: bug of MetaNodeOpts
  src/meta/src/lib.rs
Labels: type/fix, mergify/can-merge

#7679 fix(sqlsmith): generate typed null
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
Labels: type/fix, mergify/can-merge

#7669 feat: refine meta election logic
  Cargo.lock
  dashboard/proto/gen/meta.ts
  proto/leader.proto
  proto/meta.proto
  src/common/src/util/addr.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/election_client.rs
  src/meta/src/rpc/leader_svc.rs
  src/meta/src/rpc/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/leader_service.rs
  src/meta/src/rpc/service/meta_member_service.rs
  src/meta/src/rpc/service/mod.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/risedevtool/src/task/frontend_service.rs
  src/risedevtool/src/task/utils.rs
  src/rpc_client/Cargo.toml
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, mergify/can-merge

#7673 feat: don't report error when cancelling `risedev configure`
  src/risedevtool/src/bin/risedev-config.rs
Labels: type/feature, mergify/can-merge

#7454 fix: report local execution mode error
  e2e_test/batch/issue_7324.slt
  src/batch/src/execution/grpc_exchange.rs
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/consistent_hash_shuffle_channel.rs
  src/batch/src/task/fifo_channel.rs
  src/batch/src/task/hash_shuffle_channel.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/tests/sqlsmith/src/validation.rs
Labels: type/fix, mergify/can-merge

#7670 feat: ensure reserved memory for computing tasks on compute node starting
  Cargo.lock
  risedev.yml
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/lib.rs
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/server.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7522 feat: implement append-only group TopN
  dashboard/proto/gen/stream_plan.ts
  e2e_test/streaming/append_only.slt
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/utils/stream_graph_formatter.rs
  src/meta/src/stream/stream_graph.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/mod.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/from_proto/group_top_n_appendonly.rs
  src/stream/src/from_proto/mod.rs
Labels: type/feature, mergify/can-merge

#7697 ci: add github_token for buf-setup-action
  .github/workflows/protobuf-breaking.yml
Labels: component/ci, mergify/can-merge

#7702 fix: alias of argument `advertise_addr`
  src/compute/src/lib.rs
Labels: type/fix, mergify/can-merge

#7699 chore(test):add e2e test for producing timestamp in kafka source
  e2e_test/source/basic/kafka_batch.slt
Labels: type/chore, component/test, mergify/can-merge

#7685 refactor(DataType): cleanup outdated helpers
  src/common/src/types/mod.rs
  src/common/src/util/encoding_for_comparison.rs
Labels: type/refactor, mergify/can-merge

#7690 feat: display git version in `version()` and server logs
  Cargo.lock
  e2e_test/batch/catalog/version.slt.part
  src/cmd_all/src/playground.rs
  src/common/Cargo.toml
  src/common/build.rs
  src/common/src/lib.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/session.rs
  src/meta/src/lib.rs
  src/storage/compactor/src/server.rs
Labels: type/feature, mergify/can-merge

#7581 feat(frontend): seperate plan_fragmenter into two phase
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature, mergify/can-merge

#7655 feat(optimizer): watermark derivation for various plan nodes
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
Labels: type/feature, mergify/can-merge

#7706 feat(frontend): introduce system catalog table pg_enum
  e2e_test/batch/catalog/pg_enum.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_enum.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7703 fix(ci): fix main-cron by increasing total compute node memory in compaction test
  risedev.yml
Labels: type/fix, mergify/can-merge

#7711 chore: use short connection in etcd election client
  src/meta/src/rpc/election_client.rs
  src/meta/src/rpc/server.rs
Labels: type/chore, mergify/can-merge

#7713 fix(optimizer): fix distributed batch lookup join shuffle columns
  src/frontend/planner_test/tests/testdata/batch_index_join.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
Labels: type/fix, mergify/can-merge

#7695 feat(binder): support current_timestamp
  src/frontend/planner_test/tests/testdata/sysinfo_funcs.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
Labels: mergify/can-merge

#7707 fix(meta): unpin snapshot on MV creation failure
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/snapshot.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix, mergify/can-merge

#7721 fix: revert 7690 and redesign for CI pipeline
  Cargo.lock
  ci/scripts/common.env.sh
  ci/scripts/docker.sh
  ci/workflows/main.yml
  docker/Dockerfile
  src/common/Cargo.toml
  src/common/build.rs
  src/common/src/lib.rs
Labels: type/fix, mergify/can-merge

#7709 chore(sqlsmith): reduce query complexity
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: type/chore, mergify/can-merge

#7716 fix: grant default CONNECT action for new created user
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/handle_privilege.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/service/user_service.rs
Labels: type/fix, mergify/can-merge

#7636 fix(parser): remove extra parenthesis when displaying nested operations
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/fix, mergify/can-merge

#7688 fix(optimizer): fix `DistinctAggRule` to correctly handle queries with intersected arguments between distinct and non-distincted agg calls
  e2e_test/batch/aggregate/distinct.slt.part
  e2e_test/batch/basic/distinct.slt.part
  e2e_test/streaming/distinct_agg.slt
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
Labels: type/fix, component/optimizer, mergify/can-merge

#7738 fix: fix several issues of graceful shutdown of meta
  src/meta/src/barrier/mod.rs
  src/meta/src/lib.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/follower_svc.rs
  src/meta/src/rpc/server.rs
Labels: type/fix, mergify/can-merge

#7719 chore: set java home in CI
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
Labels: type/chore, mergify/can-merge

#7689 feat: remove object_store_use_batch_delete from global parameter
  Cargo.lock
  src/common/src/config.rs
  src/java_binding/src/iterator.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/rpc/server.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/chore, mergify/can-merge

#7747 fix(compaction): fix corner case
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix, mergify/can-merge

#7742 fix(storage): Distinguish between unssigned_task and tivival_move_task in the metrics report
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix, mergify/can-merge

#7757 feat(frontend): `ExprRewritable` for stream
  src/frontend/planner_test/tests/testdata/sysinfo_funcs.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/expr_rewritable.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
Labels: type/feature, mergify/can-merge

#7758 feat(planner-test): backtrace on panic
  Cargo.lock
  src/frontend/planner_test/Cargo.toml
  src/frontend/planner_test/src/bin/apply.rs
Labels: type/feature, mergify/can-merge

#7751 feat(expr, frontend): Impl `timestamptz` [+-] variable interval
  e2e_test/batch/functions/session_timezone.slt
  src/expr/src/vector_op/arithmetic_op.rs
  src/frontend/src/expr/session_timezone.rs
Labels: type/feature, mergify/can-merge

#7755 fix(source): stop datagen when sequence out of range
  src/connector/src/source/datagen/source/generator.rs
Labels: type/fix, mergify/can-merge

#7762 feat(risedev): add `check-fix` task
  Makefile.toml
Labels: type/feature, mergify/can-merge

#7748 feat: add watermark columns in table catalog
  dashboard/proto/gen/catalog.ts
  proto/catalog.proto
  src/common/src/catalog/physical_table.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature, mergify/can-merge

#7387 feat(sqlparser): parse multi-dimensional array with 'ARRAY' or not
  e2e_test/batch/types/list/multi-dimentional_list_cast.slt.part
  src/frontend/src/binder/expr/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/sql_gen/scalar.rs
Labels: mergify/can-merge

#7667 feat(frontend): Insert nulls for columns not specified after table name
  src/frontend/planner_test/tests/testdata/insert.yaml
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/binder/values.rs
  src/tests/regress/README.md
Labels: type/feature, mergify/can-merge

#7770 fix(config): move memory-related logic out of config module
  src/common/src/config.rs
  src/compute/src/server.rs
Labels: type/fix, mergify/can-merge

#7769 feat(test): add planner test for nexmark queries on sources
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
Labels: type/feature, mergify/can-merge

#7775 feat(java-binding): support reading more types
  dashboard/proto/gen/ddl_service.ts
  proto/ddl_service.proto
  src/java_binding/java/com_risingwave_java_binding_Binding.h
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/Demo.java
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/binding/KeyedRow.java
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/binding/rpc/MetaClient.java
  src/java_binding/run_demo.sh
  src/java_binding/src/iterator.rs
  src/java_binding/src/lib.rs
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/feature, mergify/can-merge

#7777 fix(expr-framework): correctly evaluate field expr
  src/expr/src/expr/expr_field.rs
Labels: type/fix, mergify/can-merge

#7597 feat(storage): space reclaim compaction
  dashboard/proto/gen/hummock.ts
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  proto/hummock.proto
  src/common/src/config.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
Labels: type/feature, mergify/can-merge

#7786 fix(common): Fix `Interval` `to_string`
  src/common/src/types/interval.rs
Labels: type/fix, mergify/can-merge

#7789 feat(expr): support pow function
  dashboard/proto/gen/expr.ts
  e2e_test/batch/functions/pow.slt.part
  proto/expr.proto
  src/common/src/types/ordered_float.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/mod.rs
  src/expr/src/sig/func.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/frontend/src/binder/expr/function.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#6309 fix(merger): clear buffered watermarks on upstream exchange (close #6…
  src/stream/src/executor/merge.rs
  src/stream/src/executor/watermark/mod.rs
Labels: type/fix, mergify/can-merge, no-pr-activity

#7778 fix(test): add timestamp to kafka messages in the simulation
  ci/scripts/deterministic-e2e-test.sh
  src/tests/simulation/src/kafka.rs
Labels: type/fix, mergify/can-merge

#7790 feat(streaming): handle watermark for mv on mv
  src/stream/src/executor/backfill.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/rearranged_chain.rs
Labels: type/feature, mergify/can-merge

#7784 chore(style): use `u32` instead of `i32` for catalog id types
  src/common/src/catalog/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/chore, mergify/can-merge

#7794 feat: implement real format_type() function and update tests
  dashboard/proto/gen/expr.ts
  e2e_test/batch/functions/format_type.slt.part
  proto/expr.proto
  src/expr/src/expr/expr_binary_nullable.rs
  src/expr/src/expr/mod.rs
  src/expr/src/sig/func.rs
  src/expr/src/vector_op/format_type.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
Labels: type/feature, mergify/can-merge

#7808 refactor: move `ColumnCatalog` from frontend crate to common crate
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/frontend/src/catalog/column_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor, mergify/can-merge

#7750 feat: introduce watermark on source
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/stream_plan.ts
  proto/catalog.proto
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/watermark.yaml
  src/frontend/src/binder/create.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/meta/src/stream/stream_graph.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
  src/stream/src/common/table/state_table.rs
  src/stream/src/from_proto/watermark_filter.rs
Labels: type/feature, mergify/can-merge

#7807 refactor(meta): separate stream graph building into modules & add unit tests for scheduler
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/stream/mod.rs
  src/meta/src/stream/scheduler.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/id.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/stream_graph/visit.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, mergify/can-merge

#7773 refactor(storage): decouple storage config from internal code
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/conflict_detector.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/lib.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/refactor, mergify/can-merge

#7799 ci: try sccache
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/build-simulation.sh
  ci/scripts/build.sh
  ci/scripts/unit-test.sh
Labels: component/ci, mergify/can-merge

#7819 fix(expr): incorrect decimal rounding due to `rust_decimal` bug
  src/expr/src/vector_op/round.rs
Labels: type/fix, mergify/can-merge

#7726 feat(optimizer): index accelerating `TopN`
  dashboard/proto/gen/batch_plan.ts
  e2e_test/batch/top_n/top_n_on_index.slt
  proto/batch_plan.proto
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/shared_views.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_limit.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Labels: component/optimizer, type/perf, mergify/can-merge

#7783 feat(parser): support emit_mode
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
Labels: type/feature, mergify/can-merge

#7814 refactor(sink): introduce sink catalog and sink desc
  dashboard/proto/gen/cdc_service.ts
  dashboard/proto/gen/leader.ts
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/common/src/catalog/mod.rs
  src/common/src/catalog/schema.rs
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/sink_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/from_proto/sink.rs
Labels: type/refactor, mergify/can-merge

#7283 feat(storage): support hdfs as non-s3 object store
  .config/hakari.toml
  Cargo.lock
  ci/Dockerfile
  ci/docker-compose.yml
  ci/workflows/pull-request.yml
  risedev.yml
  src/object_store/Cargo.toml
  src/object_store/src/object/error.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risectl_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/utils.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, user-facing-changes, mergify/can-merge

#7821 feat: Add query execution debug info
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/scheduler/distributed/query.rs
Labels: type/feature, mergify/can-merge

#7829 chore(deps): Bump OpenDAL to 0.26
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Labels: mergify/can-merge

#7620 feat(storage): use local thread to report metrics
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/lib.rs
  src/storage/src/monitor/local_metrics.rs
Labels: mergify/can-merge

#7823 feat(dashboard): inspect dispatchers in dashboard
  dashboard/components/FragmentGraph.tsx
  dashboard/pages/streaming_plan.tsx
Labels: type/feature, mergify/can-merge

#7833 fix(sort_util): add missing bytea support
  e2e_test/batch/types/bytea.slt.part
  src/common/src/util/sort_util.rs
Labels: type/fix, mergify/can-merge

#7828 feat(risedev): support HDFS backend in risedev
  Makefile.toml
  risedev.yml
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/risedevtool/src/bin/risedev-config.rs
Labels: type/feature, mergify/can-merge

#7822 feat(frontend): support create index with descending ordering
  e2e_test/batch/top_n/top_n_on_index.slt
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/src/handler/create_index.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7838 build: disable incremental build in CI
  Cargo.toml
  ci/Dockerfile
Labels: type/build, mergify/can-merge

#7583 chore(risedev): update the version and script of connector node component
  ci/plugins/upload-failure-logs/hooks/post-command
  ci/scripts/build-other.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  risedev.yml
  src/risedevtool/connector.toml
  src/risedevtool/src/task/connector_service.rs
Labels: type/chore, user-facing-changes, mergify/can-merge

#7723 doc: improve PR template
  .github/pull_request_template.md
Labels: component/doc, mergify/can-merge

#7842 build: single-binary integration test
  src/tests/simulation/tests/it/cascade_materialized_view.rs
  src/tests/simulation/tests/it/dynamic_filter.rs
  src/tests/simulation/tests/it/hello.rs
  src/tests/simulation/tests/it/main.rs
  src/tests/simulation/tests/it/nexmark_chaos.rs
  src/tests/simulation/tests/it/nexmark_q4.rs
  src/tests/simulation/tests/it/nexmark_source.rs
  src/tests/simulation/tests/it/singleton_migration.rs
  src/tests/simulation/tests/it/sink.rs
  src/tests/simulation/tests/it/streaming_parallelism.rs
Labels: mergify/can-merge

#7836 feat(risedev): add `check-udeps`
  Cargo.lock
  Makefile.toml
  docs/developer-guide.md
  scripts/source/prepare_ci_pubsub/Cargo.toml
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/proc_macro/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/planner_test/Cargo.toml
  src/java_binding/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/prost/helpers/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/source/Cargo.toml
  src/sqlparser/Cargo.toml
  src/sqlparser/fuzz/Cargo.toml
  src/sqlparser/sqlparser_bench/Cargo.toml
  src/sqlparser/test_runner/Cargo.toml
  src/storage/Cargo.toml
  src/storage/backup/Cargo.toml
  src/storage/backup/cmd/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/stream/Cargo.toml
  src/test_runner/Cargo.toml
  src/tests/compaction_test/Cargo.toml
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tracing/Cargo.toml
  src/udf/Cargo.toml
  src/utils/async_stack_trace/Cargo.toml
  src/utils/local_stats_alloc/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/sync-point/Cargo.toml
  src/utils/task_stats_alloc/Cargo.toml
  src/utils/workspace-config/Cargo.toml
Labels: type/feature, mergify/can-merge

#6827 chore(expr): private some mods and add docs
  src/batch/src/executor/hop_window.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/task/task_manager.rs
  src/common/src/row/owned_row.rs
  src/expr/benches/expr.rs
  src/expr/src/error.rs
  src/expr/src/expr/README.md
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/expr_in.rs
  src/expr/src/expr/expr_input_ref.rs
  src/expr/src/expr/expr_literal.rs
  src/expr/src/expr/expr_unary.rs
  src/expr/src/expr/mod.rs
  src/expr/src/expr/test_utils.rs
  src/expr/src/lib.rs
  src/expr/src/vector_op/agg/filter.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/executor/watermark_filter.rs
Labels: type/chore, mergify/can-merge

#7847 feat(test): add s3 simulator
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/s3.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#7668 feat: introduce system parameters
  Cargo.lock
  Makefile.toml
  dashboard/proto/gen/meta.ts
  docs/developer-guide.md
  proto/meta.proto
  src/common/src/config.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/session.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/error.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/mod.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/manager/system_param/model.rs
  src/meta/src/model/error.rs
  src/meta/src/model/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/cluster_service.rs
  src/meta/src/storage/meta_store.rs
  src/meta/src/storage/tests.rs
  src/prost/build.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/opts.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7830 feat(meta): refactor compaction scheduler and selector
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction_group/mod.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
Labels: mergify/can-merge

#7853 fix: use traversal-excludes to remove OpenDAL in workspace hack
  .config/hakari.toml
  Cargo.lock
  ci/scripts/build.sh
  src/workspace-hack/Cargo.toml
Labels: type/fix, mergify/can-merge

#7612 perf(source): intro native row format
  dashboard/proto/gen/plan_common.ts
  e2e_test/compaction/ingest_rows.slt
  e2e_test/nexmark/create_sources.slt.part
  e2e_test/source/basic/datagen.slt
  proto/plan_common.proto
  src/batch/src/executor/source.rs
  src/common/src/field_generator/mod.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/connector/src/source/datagen/source/generator.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/nexmark/source/combined_event.rs
  src/connector/src/source/nexmark/source/message.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/src/handler/create_source.rs
  src/source/src/source_desc.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
  src/stream/src/executor/source/source_executor.rs
  src/tests/simulation/src/nexmark/create_source.sql
Labels: type/perf, mergify/can-merge

#7873 ci: add merge_group as trigger to license checker
  .github/workflows/license_check.yml
Labels: component/ci, mergify/can-merge

#7804 feat(optimizer): implement `FORCE_TWO_PHASE_AGG` session variable
  e2e_test/batch/aggregate/two_phase_agg.slt.part
  e2e_test/streaming/two_phase_agg.slt
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/runner.rs
Labels: type/feature, mergify/can-merge

#7861 chore(build): enable lto for release profile
  Cargo.toml
Labels: type/chore, mergify/can-merge

#7869 refactor(state-table): introduce watermark buffer strategy to state table
  src/stream/src/common/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/watermark.rs
Labels: type/refactor, mergify/can-merge

#7874 fix: dashboard not enabled in playground mode
  .config/hakari.toml
  src/cmd_all/src/playground.rs
Labels: type/fix, mergify/can-merge

#7817 refactor(meta): store compaction group info in HummockVersion
  dashboard/proto/gen/hummock.ts
  proto/hummock.proto
  src/common/src/catalog/mod.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/model/compaction_group_config.rs
  src/meta/src/hummock/model/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/mock_notification_client.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/refactor, mergify/can-merge

#7875 refactor(storage): do not compile hdfs
  Cargo.lock
  src/object_store/Cargo.toml
Labels: type/refactor, mergify/can-merge

#7884 feat(stream): handle watermark in stream executors(part 1)
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/sink.rs
Labels: type/feature, mergify/can-merge

#7885 feat(explain): support explain create table with connector
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/src/handler/explain.rs
Labels: type/feature, mergify/can-merge

#7887 refactor(state table): remove duplicate function used to create state table for unit tests
  src/stream/src/common/table/state_table.rs
Labels: type/refactor, mergify/can-merge

#7301 feat(streaming): Introduce Column-Aware Row encoding
  src/common/Cargo.toml
  src/common/benches/bench_row.rs
  src/common/src/lib.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/common/src/util/value_encoding/error.rs
  src/common/src/util/value_encoding/mod.rs
Labels: type/enhancement, component/common, mergify/can-merge

#7893 fix(sqlsmith): limit number of cross joins
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: type/fix, mergify/can-merge

#7891 fix(playground): fix panic due to unspecified state store on compute/compactor node
  src/cmd_all/src/playground.rs
  src/compute/src/server.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
Labels: mergify/can-merge

#7899 refactor(meta): use short prefix name for hummock meta store model
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/model/compact_task_assignment.rs
  src/meta/src/hummock/model/compaction_group_config.rs
  src/meta/src/hummock/model/compaction_status.rs
  src/meta/src/hummock/model/mod.rs
  src/meta/src/hummock/model/pinned_snapshot.rs
  src/meta/src/hummock/model/pinned_version.rs
  src/meta/src/hummock/model/version.rs
  src/meta/src/hummock/model/version_delta.rs
  src/meta/src/hummock/model/version_stats.rs
Labels: type/refactor, mergify/can-merge

#7897 fix: fix dashboard proto-gen shell script
  dashboard/scripts/generate_proto.sh
Labels: type/fix, mergify/can-merge

#7489 feat(storage): add may_exist interface in state table
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/local_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
Labels: type/feature, mergify/can-merge

#7604 feat(metric): add metric stale SSTs count
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/feature, mergify/can-merge

#7903 chore: remove hdfs docker image
  ci/docker-compose.yml
  ci/workflows/pull-request.yml
Labels: type/chore, mergify/can-merge

#7428 feat(connector): add support to read nullable avro columns
  src/connector/src/parser/avro/parser.rs
  src/connector/src/test_data/simple-schema.avsc
  src/connector/src/test_data/union-schema.avsc
  src/source/src/lib.rs
Labels: priority/high, mergify/can-merge

#7776 chore(storage): add log in event handler and uploader
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
Labels: type/chore, mergify/can-merge

#7896 feat(sink): support sink executor in force-append-only mode
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/stream_plan.ts
  proto/catalog.proto
  proto/stream_plan.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature, mergify/can-merge

#7579 refactor(storage): refactor state table iter logic and introduce consistent_op flag
  src/storage/src/mem_table.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/watermark_filter.rs
Labels: type/refactor, mergify/can-merge

#7913 feat(parser): `ALTER SYSTEM`
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/alter.yaml
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature, component/frontend, user-facing-changes, mergify/can-merge

#7911 fix: bump madsim version to fix bugs
  Cargo.lock
  src/object_store/src/object/s3.rs
  src/tests/simulation/Cargo.toml
Labels: type/fix, mergify/can-merge

#7797 feat(stream,agg): add distinct deduplicater
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/aggregation/agg_call.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/distinct.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/aggregation/value.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/local_simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/agg_common.rs
  src/stream/src/from_proto/global_simple_agg.rs
  src/stream/src/from_proto/hash_agg.rs
Labels: type/feature, mergify/can-merge

#7882 feat: use `SHOW PARAMETERS` to list all system parameters
  dashboard/proto/gen/meta.ts
  proto/meta.proto
  src/common/src/error.rs
  src/common/src/lib.rs
  src/common/src/system_param.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/manager/system_param/model.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/cluster_service.rs
  src/meta/src/rpc/service/mod.rs
  src/meta/src/rpc/service/system_params_service.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7895 feat(source): support debezium avro format
  dashboard/proto/gen/plan_common.ts
  proto/plan_common.proto
  src/batch/src/executor/source.rs
  src/connector/src/parser/avro/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/mod.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/frontend/src/handler/create_source.rs
  src/meta/src/hummock/manager/mod.rs
  src/source/src/source_desc.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
Labels: type/feature, mergify/can-merge

#7492 refactor(storage): change interface of bloom filter so that we can replace it with other algorithm
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/bloom.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/filter.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable_store.rs
Labels: mergify/can-merge

#7898 feat(sink): only commit at checkpoint barrier
  src/connector/src/sink/remote.rs
  src/stream/src/executor/sink.rs
Labels: type/feature, mergify/can-merge

#7815 chore(sqlsmith): reduce out of range occurrence
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/validation.rs
Labels: type/chore, mergify/can-merge

#7868 chore(ci): add connector node docker
  ci/connector-node-version
  ci/scripts/docker.sh
  ci/scripts/release.sh
  ci/workflows/docker.yml
  ci/workflows/main.yml
  docker/Dockerfile
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/playground.rs
Labels: type/chore, mergify/can-merge

#7932 fix(stream): Simple Agg Row Count is Not 0 for 0 rows
  e2e_test/streaming/basic_agg.slt
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
Labels: type/fix, mergify/can-merge

#7912 feat(frontend): optimize constant project with exact input row count known into value operator
  src/frontend/planner_test/planner_test.toml
  src/frontend/planner_test/tests/testdata/array.yaml
  src/frontend/planner_test/tests/testdata/basic_query.yaml
  src/frontend/planner_test/tests/testdata/cast.yaml
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/pg_catalog.yaml
  src/frontend/planner_test/tests/testdata/project.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/sysinfo_funcs.yaml
  src/frontend/planner_test/tests/testdata/union.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_visitor/max_one_row_visitor.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/trivial_project_to_values_rule.rs
Labels: type/feature, mergify/can-merge

#7930 fix(storage): avoid panic when multiple nodes configure bucket lifecycle rule simultaneously
  src/object_store/src/object/s3.rs
Labels: type/fix, mergify/can-merge

#7918 feat(streaming): support table version for DML
  dashboard/proto/gen/batch_plan.ts
  dashboard/proto/gen/stream_plan.ts
  proto/batch_plan.proto
  proto/stream_plan.proto
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/common/src/catalog/mod.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/source/src/dml_manager.rs
  src/source/src/table.rs
  src/stream/src/executor/dml.rs
  src/stream/src/from_proto/dml.rs
Labels: type/feature, mergify/can-merge

#7939 refactor: impl size hint & exact size for more iterators
  src/batch/src/executor/join/hash_join.rs
  src/common/src/array/bool_array.rs
  src/common/src/array/chrono_array.rs
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/decimal_array.rs
  src/common/src/array/iterator.rs
  src/common/src/array/mod.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/array/stream_chunk_iter.rs
  src/common/src/array/vis.rs
  src/common/src/buffer/bitmap.rs
  src/common/src/hash/key.rs
  src/common/src/util/compress.rs
  src/expr/src/expr/expr_array_concat.rs
  src/expr/src/expr/expr_in.rs
  src/expr/src/expr/expr_regexp.rs
  src/expr/src/expr/expr_some_all.rs
  src/expr/src/expr/expr_to_char_const_tmpl.rs
  src/expr/src/expr/expr_to_timestamp_const_tmpl.rs
  src/expr/src/table_function/regexp_matches.rs
  src/expr/src/table_function/unnest.rs
  src/expr/src/vector_op/agg/string_agg.rs
  src/storage/src/table/mod.rs
  src/stream/src/cache/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/aggregation/agg_impl/approx_distinct_utils.rs
  src/stream/src/executor/aggregation/agg_impl/foldable.rs
  src/stream/src/executor/aggregation/agg_impl/row_count.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/row_id_gen.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/types.rs
Labels: type/refactor, mergify/can-merge

#7936 fix: avoid use None in proto as Null in Datum
  src/expr/src/expr/expr_regexp.rs
  src/expr/src/table_function/regexp_matches.rs
  src/frontend/src/expr/literal.rs
Labels: type/fix, mergify/can-merge

#7945 refactor: error handling in system param
  src/common/src/system_param.rs
Labels: type/refactor, mergify/can-merge

#7935 fix(connector): fix parsing avro union schema
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
Labels: type/fix, mergify/can-merge

#7944 feat(source): support parsing avro decimal value
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/debezium/avro_parser.rs
Labels: type/feature, mergify/can-merge

#7883 fix(batch): Fix batch task leak
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/utils/runtime/src/lib.rs
Labels: type/fix, mergify/can-merge

#7931 refactor(source): add some unit tests for debezium_avro
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/canal/mod.rs
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/mod.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/mod.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/test_data/debezium_avro_msg_schema.avsc
Labels: type/refactor, mergify/can-merge
