Repository risingwavelabs/risingwave, pull requests merged in 2023-10, with the labels that each got.

#12612 chore: ignore semver-patch in dependabot
  .github/dependabot.yml
Labels: type/chore

#12616 fix: memory dump must end with `.heap`
  src/common/src/heap_profiling/mod.rs
  src/compute/src/memory_management/policy.rs
  src/compute/src/rpc/service/monitor_service.rs
Labels: type/fix

#12556 feat(sink): support new syntax `FORMAT ... ENCODE ...` similar to source
  e2e_test/sink/kafka/create_sink.slt
  proto/catalog.proto
  proto/connector_service.proto
  proto/stream_plan.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/source/external.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature, user-facing-changes

#12621 chore(ci): enable basic background_ddl test in standalone mode
  ci/scripts/run-e2e-test.sh
Labels: type/chore, ci/run-e2e-standalone-tests

#12623 feat(standalone): add compactor
  ci/scripts/run-e2e-test.sh
  ci/scripts/standalone-utils.sh
  risedev.yml
  src/cmd_all/scripts/e2e-full-standalone-demo.sh
  src/cmd_all/scripts/standalone-demo-dev.sh
  src/cmd_all/scripts/standalone-demo-full.sh
  src/cmd_all/src/standalone.rs
Labels: type/feature, ci/run-e2e-standalone-tests

#12626 feat(standalone): support optionally including components
  ci/scripts/run-e2e-test.sh
  ci/scripts/standalone-utils.sh
  ci/workflows/pull-request.yml
  risedev.yml
  src/cmd_all/src/common.rs
  src/cmd_all/src/standalone.rs
Labels: type/feature, ci/run-e2e-standalone-tests

#12631 fix(meta): handle case where progress is done
  src/meta/src/barrier/progress.rs
Labels: type/fix, ci/run-backfill-tests

#12635 fix: report partition metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/source/kafka/stats.rs
Labels: type/fix

#12600 chore: risedev clean java targets
  Makefile.toml
Labels: type/chore

#12640 fix(optimizer): handle eval error in `LogicalSource::predicate_pushdown`
  e2e_test/source/basic/kafka_batch.slt
  src/frontend/src/optimizer/plan_node/logical_source.rs
Labels: type/fix

#12622 feat: improve sink mview throughput metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/connector/src/sink/catalog/mod.rs
  src/meta/src/rpc/metrics.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/wrapper.rs
  src/stream/src/executor/wrapper/trace.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#12644 feat(stream): support snapshot read over N barriers
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/from_proto/chain.rs
Labels: type/feature, ci/run-backfill-tests

#12634 feat(metrics): fragment level streaming metrics (part 1)
  src/stream/src/executor/actor.rs
  src/stream/src/executor/aggregation/distinct.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#12517 feat(object storage): add is_https_endpoint for minio
  src/object_store/src/object/s3.rs
Labels: type/feature

#12587 feat(sink): kafka async truncate log
  src/common/src/util/future_utils.rs
  src/common/src/util/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/writer.rs
Labels: type/feature

#12654 fix(stream): yield upstream updates for backfill after last barrier in the interval
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/fix, ci/run-backfill-tests

#12660 fix(sqlsmith): recover functions for sqlsmith
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/lib.rs
Labels: type/fix

#12661 test(regress): enable regex testcases
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/regex.sql
Labels: component/test

#12662 chore: fix "No space left" for GHA
  .github/workflows/doc.yml
Labels: type/chore

#12649 fix(heap_profiling): free dumped file name str
  src/compute/src/memory_management/policy.rs
  src/compute/src/rpc/service/monitor_service.rs
Labels: type/fix

#12664 feat: support iceberg sink partition write
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/test_case/partition_append_only.toml
  e2e_test/iceberg/test_case/partition_upsert.toml
  src/connector/src/sink/iceberg.rs
Labels: type/feature

#12672 feat: enable verbose instrument for iter rewind and block I/O
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/store/version.rs
Labels: type/feature

#12677 fix: fs source
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/s3/enumerator.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/source/src/connector_source.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/list_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/fix

#12670 fix(storage): auto_pick_type should cover Tombstone type
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix

#12669 chore: speedup doctest
  ci/scripts/check.sh
Labels: type/chore

#12679 refactor(common): implement `Datum::[from|to]_protobuf`
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/types/mod.rs
  src/common/src/util/memcmp_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/expr/core/src/aggregate/def.rs
  src/expr/core/src/expr/expr_field.rs
  src/expr/core/src/expr/expr_in.rs
  src/expr/core/src/expr/expr_literal.rs
  src/expr/core/src/expr/test_utils.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/stream/src/executor/mod.rs
Labels: type/refactor

#12398 perf(expr): avoid parsing unit every time on `extract` and `date_part`
  src/expr/impl/src/scalar/extract.rs
  src/expr/macro/src/gen.rs
Labels: type/perf

#12655 fix(storage): fix compact_fast_runner_bytes unused
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
Labels: type/fix

#12692 chore: update cherry pick action version
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#12659 feat(connector): structural logging for parsing error
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/maxwell_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/util.rs
  src/connector/src/parser/upsert_parser.rs
  src/meta/src/barrier/mod.rs
Labels: type/feature, need-cherry-pick-v1.3

#12697 chore: Update Slack link in README.md
  README.md
Labels: type/chore

#12658 chore(storage): upgrade write limit
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/chore

#12407 fix(log-store): handle unaligned epoch after recovery
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/table/test_utils.rs
Labels: type/fix

#12453 perf(stream agg): flush dirty agg groups according to heap size
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config.rs
  src/common/src/estimate_size/collections/hashmap.rs
  src/common/src/estimate_size/collections/mod.rs
  src/config/example.toml
  src/config/full-iceberg-bench.toml
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/hash_agg.rs
Labels: type/perf

#12652 refactor(common): refine `Row` changes in #11070
  src/common/src/array/data_chunk_iter.rs
  src/common/src/row/mod.rs
  src/common/src/row/project.rs
Labels: type/refactor

#12671 ci: fix disk out of space for GHA (attempt 2)
  .github/workflows/doc.yml
  .github/workflows/nightly-rust.yml
Labels: component/ci

#12703 fix: add "ts_ms" in source
  e2e_test/sink/kafka/debezium.py
  e2e_test/sink/kafka/debezium1.result
  e2e_test/sink/kafka/debezium2.result
  e2e_test/sink/kafka/debezium3.result
  src/connector/src/sink/formatter/debezium_json.rs
Labels: type/fix

#12700 chore: Update Slack link to a permanent one in README
  README.md
Labels: type/chore

#12694 refactor(heap_profiling): use background heap profiling and enable auto dump for compute and compactor
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/heap_profiling/mod.rs
  src/common/src/heap_profiling/profiler.rs
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/memory_management/policy.rs
  src/compute/src/server.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
Labels: type/refactor

#12533 feat(java-binding): store java binding row in iter
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/ArraySinkRow.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkRow.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSink.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/deserializer/StreamChunkDeserializer.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/AppendOnlyIcebergSinkWriter.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/UpsertIcebergSinkWriter.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/java-binding-benchmark/src/main/java/com/risingwave/java/binding/StreamchunkBenchmark.java
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/HummockReadDemo.java
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/StreamChunkDemo.java
  java/java-binding/src/main/java/com/risingwave/java/binding/BaseRow.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/java-binding/src/main/java/com/risingwave/java/binding/HummockIterator.java
  java/java-binding/src/main/java/com/risingwave/java/binding/KeyedRow.java
  java/java-binding/src/main/java/com/risingwave/java/binding/StreamChunkIterator.java
  java/java-binding/src/main/java/com/risingwave/java/binding/StreamChunkRow.java
  java/pom.xml
  src/jni_core/src/hummock_iterator.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
  src/jni_core/src/stream_chunk_iterator.rs
Labels: type/feature

#12565 refactor(common): eliminate `unsafe` for iteration with estimated sizes by atomics
  src/common/src/estimate_size/collections/hashmap.rs
  src/common/src/estimate_size/collections/lru.rs
  src/common/src/estimate_size/collections/mod.rs
  src/common/src/estimate_size/mod.rs
  src/stream/src/executor/hash_agg.rs
Labels: type/refactor

#12551 fix(over window): fix error in using aggregate function result as win…
  e2e_test/batch/aggregate/with_over_window.slt.part
  e2e_test/over_window/generated/batch/create.slt.part
  e2e_test/over_window/generated/batch/drop.slt.part
  e2e_test/over_window/generated/batch/mod.slt.part
  e2e_test/over_window/generated/streaming/create.slt.part
  e2e_test/over_window/generated/streaming/drop.slt.part
  e2e_test/over_window/generated/streaming/mod.slt.part
  e2e_test/over_window/templates/create.slt.part
  e2e_test/over_window/templates/drop.slt.part
  e2e_test/over_window/templates/mod.slt.part
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: need-cherry-pick-v1.3

#12653 feat(log-store): add metrics for log store
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/metrics.rs
  src/common/src/metrics/guarded_metrics.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#12683 perf(agg): merge common agg calls
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/rule/agg_call_merge_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/perf

#12720 fix(over window): fix error in using aggregate function result as win… (#12551)
  e2e_test/batch/aggregate/with_over_window.slt.part
  e2e_test/over_window/generated/batch/create.slt.part
  e2e_test/over_window/generated/batch/drop.slt.part
  e2e_test/over_window/generated/batch/mod.slt.part
  e2e_test/over_window/generated/streaming/create.slt.part
  e2e_test/over_window/generated/streaming/drop.slt.part
  e2e_test/over_window/generated/streaming/mod.slt.part
  e2e_test/over_window/templates/create.slt.part
  e2e_test/over_window/templates/drop.slt.part
  e2e_test/over_window/templates/mod.slt.part
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/fix, cherry-pick

#12693 chore: patch #12654
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/chore, ci/run-backfill-tests

#12722 test(sink): add e2e test for s3_v2 source
  ci/scripts/s3-source-test.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_source_v2.py
  proto/stream_plan.proto
Labels: ci/run-main-cron

#12674 feat(meta): define model V2 for hummock metadata
  src/common/src/system_param/mod.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/model/mod.rs
  src/meta/src/hummock/model/version.rs
  src/meta/src/model_v2/compaction_config.rs
  src/meta/src/model_v2/compaction_status.rs
  src/meta/src/model_v2/compaction_task.rs
  src/meta/src/model_v2/hummock_pinned_snapshot.rs
  src/meta/src/model_v2/hummock_pinned_version.rs
  src/meta/src/model_v2/hummock_version_delta.rs
  src/meta/src/model_v2/hummock_version_stats.rs
  src/meta/src/model_v2/migration/src/lib.rs
  src/meta/src/model_v2/migration/src/m20231008_020431_hummock.rs
  src/meta/src/model_v2/mod.rs
  src/meta/src/model_v2/prelude.rs
Labels: type/feature, ci/run-main-cron

#12730 fix(storage): auto_pick_type should cover Tombstone type - Revert
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix

#12716 fix(streaming): handle pause on bootstrap for `Now` and `Values`
  e2e_test/batch/transaction/now.slt
  src/stream/src/executor/mod.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/values.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
Labels: need-cherry-pick-v1.3

#12524 refactor(optimizer): change stream key to option
  src/frontend/src/optimizer/plan_node/derive.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/delete.rs
  src/frontend/src/optimizer/plan_node/generic/dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/generic/except.rs
  src/frontend/src/optimizer/plan_node/generic/expand.rs
  src/frontend/src/optimizer/plan_node/generic/filter.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/generic/intersect.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/generic/limit.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/generic/project_set.rs
  src/frontend/src/optimizer/plan_node/generic/share.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/generic/union.rs
  src/frontend/src/optimizer/plan_node/generic/update.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_dedup.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
  src/frontend/src/optimizer/plan_node/logical_now.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_table_function.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/plan_node/logical_update.rs
  src/frontend/src/optimizer/plan_node/logical_values.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_values.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
Labels: type/refactor

#12738 feat: support cast function `date`
  e2e_test/batch/functions/cast.slt.part
  src/frontend/src/binder/expr/function.rs
Labels: type/feature

#12698 fix(log-store): avoid truncate storage data written in the same epoch
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/tests/simulation/tests/integration_tests/sink/basic.rs
Labels: type/fix

#12544 feat(sink): support different default sink decouple for different sink
  e2e_test/sink/append_only_sink.slt
  src/common/src/session_config/mod.rs
  src/common/src/session_config/sink_decouple.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature, user-facing-changes

#12262 refactor(expr): support `any` type in function signatures
  e2e_test/batch/functions/array_sum.slt.part
  src/common/src/array/list_array.rs
  src/common/src/types/mod.rs
  src/expr/core/src/aggregate/mod.rs
  src/expr/core/src/expr/build.rs
  src/expr/core/src/sig/agg.rs
  src/expr/core/src/sig/func.rs
  src/expr/core/src/sig/mod.rs
  src/expr/core/src/sig/table_function.rs
  src/expr/core/src/table_function/mod.rs
  src/expr/core/src/window_function/state/mod.rs
  src/expr/impl/benches/expr.rs
  src/expr/impl/src/aggregate/array_agg.rs
  src/expr/impl/src/aggregate/jsonb_agg.rs
  src/expr/impl/src/aggregate/mode.rs
  src/expr/impl/src/aggregate/percentile_disc.rs
  src/expr/impl/src/aggregate/string_agg.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/array_access.rs
  src/expr/impl/src/scalar/array_concat.rs
  src/expr/impl/src/scalar/array_distinct.rs
  src/expr/impl/src/scalar/array_length.rs
  src/expr/impl/src/scalar/array_min_max.rs
  src/expr/impl/src/scalar/array_positions.rs
  src/expr/impl/src/scalar/array_range_access.rs
  src/expr/impl/src/scalar/array_remove.rs
  src/expr/impl/src/scalar/array_replace.rs
  src/expr/impl/src/scalar/array_sort.rs
  src/expr/impl/src/scalar/array_sum.rs
  src/expr/impl/src/scalar/array_to_string.rs
  src/expr/impl/src/scalar/cardinality.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/cmp.rs
  src/expr/impl/src/scalar/string_to_array.rs
  src/expr/impl/src/scalar/trim_array.rs
  src/expr/impl/src/table_function/generate_subscripts.rs
  src/expr/impl/src/table_function/pg_expandarray.rs
  src/expr/impl/src/table_function/unnest.rs
  src/expr/impl/tests/sig.rs
  src/expr/macro/src/gen.rs
  src/expr/macro/src/lib.rs
  src/expr/macro/src/types.rs
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/type_inference/mod.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/refactor

#12729 fix(mysql-cdc): set mysql connection timezone to UTC
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
Labels: need-cherry-pick-v1.3

#12687 chore(metrics): minor fix on metrics of stream actors
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/chore

#12755 fix: Revert "fix(storage): auto_pick_type should cover Tombstone type (#12670)
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix

#12678 feat: support impure `DEFAULT` expressions for columns
  e2e_test/batch/basic/table_with_default_columns.slt.part
  proto/plan_common.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_table.rs
  src/storage/src/row_serde/value_serde.rs
Labels: type/feature, need-cherry-pick-v1.3

#12572 feat: init cluster controller based on sql meta store
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/mod.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/env.rs
  src/meta/src/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/src/model_v2/worker.rs
Labels: type/feature

#12756 chore(metrics): fix executor cache miss ratio metrics
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/chore

#12739 chore: tweak log level in production
  src/batch/src/task/task_manager.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/manager/cluster.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/table/mod.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/wrapper/trace.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/utils/runtime/src/logger.rs
Labels: type/chore, need-cherry-pick-v1.3

#12765 fix: allow scale in for kinesis
  src/connector/src/source/base.rs
  src/meta/src/stream/source_manager.rs
Labels: type/fix, need-cherry-pick-v1.3

#12760 fix(stream): fix mview pk indices and prefix len hint
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/from_proto/mview.rs
Labels: type/fix, need-cherry-pick-v1.3

#12766 feat: allow kafka auto creating topics by `properties.allow.auto.create.topics`
  src/connector/src/sink/kafka.rs
Labels: type/feature, user-facing-changes

#12767 fix(streaming): assert all states finished, or all not finished for backfill
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/fix, cherry-pick, ci/run-backfill-tests, need-cherry-pick-v1.3

#12758 feat(expr): support streaming `bit_and` and `bit_or` aggregate
  src/common/src/array/list_array.rs
  src/expr/core/src/aggregate/def.rs
  src/expr/impl/src/aggregate/bit_and.rs
  src/expr/impl/src/aggregate/bit_or.rs
  src/expr/impl/src/aggregate/bit_xor.rs
  src/expr/impl/src/aggregate/general.rs
  src/expr/impl/src/aggregate/mod.rs
  src/expr/impl/src/scalar/array_access.rs
  src/expr/impl/src/table_function/generate_subscripts.rs
  src/expr/macro/src/gen.rs
  src/expr/macro/src/lib.rs
  src/expr/macro/src/parse.rs
Labels: type/feature

#12780 fix(streaming): stall barrier until at least 1 snapshot read passed
  ci/scripts/backfill-test.sh
  ci/scripts/run-backfill-tests.sh
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/fix, cherry-pick, ci/run-backfill-tests, need-cherry-pick-v1.3

#12364 refactor(state_table): unify iterator interfaces of state table
  src/ctl/src/cmd_impl/bench.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/stream/src/executor/sort_buffer.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/executor/top_n/top_n_state.rs
Labels: type/refactor

#12704 feat(jdbc-sink): support sink varchar to uuid for postgres and improve java building time
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/pg_create_table.sql
  java/common-utils/pom.xml
  java/connector-node/connector-api/pom.xml
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-sink-cassandra/pom.xml
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/JdbcDialectFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/MySqlDialectFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialectFactory.java
  java/connector-node/risingwave-source-cdc/pom.xml
  java/java-binding-benchmark/pom.xml
  java/java-binding-integration-test/pom.xml
  java/java-binding/pom.xml
  java/pom.xml
  java/proto/pom.xml
  java/udf/pom.xml
Labels: type/feature, need-cherry-pick-v1.3

#12773 fix(cdc-backfill): fix recovery of cdc table that subscribed to an empty table
  src/stream/src/executor/backfill/cdc_backfill.rs
Labels: type/fix, need-cherry-pick-v1.3

#12682 fix(docker): fix Dockerfile.hdfs
  docker/Dockerfile.hdfs
Labels: type/fix

#12798 fix(expr): reject inf/-inf/nan decimal in generate_series and range
  e2e_test/batch/basic/generate_series.slt.part
  e2e_test/batch/basic/range.slt.part
  src/expr/impl/src/table_function/generate_series.rs
Labels: type/fix

#12799 fix(connector): add nats stream field, and change subject into several input
  src/connector/src/common.rs
Labels: type/fix, breaking-change

#12776 fix(storage): fix tombstone picker
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/tombstone_compaction_selector.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: type/fix, need-cherry-pick-v1.3

#12804 chore(docker): connector node no-build-rust for docker
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
Labels: type/chore

#12803 fix(sink-coordinator): fix coordinator stuck on single writer
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
Labels: type/fix

#12807 remove connector node from risedev
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/connector_service.rs
Labels: Invalid PR Title

#12811 fix: fix empty ops case in iceberg sink
  src/connector/src/sink/iceberg.rs
Labels: type/fix, need-cherry-pick-v1.3

#12816 chore(risedev): remove connector-rpc-endpoint from risedev
  risedev.yml
  src/cmd_all/src/playground.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/chore

#12782 chore(streaming): deprecate `BACKFILL_SNAPSHOT_BARRIER_INTERVAL`
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/from_proto/chain.rs
Labels: type/chore, cherry-pick, ci/run-backwards-compat-tests, ci/run-backfill-tests, need-cherry-pick-v1.3

#12817 fix(state table): add the accidentally deleted prefix_hint back
  src/stream/src/common/table/state_table.rs
Labels: type/fix

#12714 feat(storage): filecache lazy load, unit-level refill, reduce insert latency
  Cargo.lock
  src/common/src/config.rs
  src/compute/src/memory_management/mod.rs
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#12830 fix: Revert "feat: use seperated runtime for source manager (#12571)"…
  src/meta/src/rpc/election/etcd.rs
  src/meta/src/stream/source_manager.rs
Labels: type/fix

#12832 refactor(memory): use 0.7 * system memory as default `total_memory_bytes`
  src/common/src/config.rs
  src/common/src/telemetry/mod.rs
  src/common/src/util/resource_util.rs
  src/compute/src/lib.rs
  src/jni_core/src/jvm_runtime.rs
  src/meta/src/lib.rs
  src/storage/compactor/src/server.rs
Labels: type/refactor, need-cherry-pick-v1.3

#12828 doc(cmd_all): add docs on standalone mode
  docs/developer-guide.md
  src/cmd_all/src/README.md
Labels: component/doc

#12831 feat(optimizer): optimize join stream key
  src/frontend/planner_test/tests/testdata/output/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/delta_join.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/optimizer/plan_node/generic/join.rs
Labels: type/feature

#11232 chore(deps): bump rdkafka to v0.34.0 and librdkafka to v2.2.0
  Cargo.lock
  Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore

#12812 fix(connector): add connector sink metric back
  src/connector/src/sink/remote.rs
Labels: type/fix

#12810 fix(sink): append-only without `primary_key` should not partition by dummy `{}` key
  src/connector/src/sink/formatter/append_only.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
Labels: type/fix, breaking-change, need-cherry-pick-v1.3

#12836 feat(agg): support `jsonb_agg` and `jsonb_object_agg` in streaming mode
  e2e_test/streaming/aggregate/jsonb_agg.slt
  src/expr/core/src/aggregate/def.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/stream/src/executor/aggregation/minput.rs
Labels: type/feature

#12855 fix(sqlsmith): fix generation of decode
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/fix

#12837 feat(optimizer): improve union stream key
  src/frontend/planner_test/tests/testdata/input/union.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/src/optimizer/plan_node/generic/union.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
Labels: type/feature

#12860 fix(metrics): avoid port in connection metrics label
  src/common/src/monitor/connection.rs
Labels: type/fix, need-cherry-pick-v1.3

#12859 feat(agg): support `jsonb_agg` and `jsonb_object_agg` in streaming mo…
  e2e_test/streaming/aggregate/jsonb_agg.slt
  src/expr/core/src/aggregate/def.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/stream/src/executor/aggregation/minput.rs
Labels: cherry-pick

#12425 feat(sink): ProtoEncoder and AvroEncoder
  src/connector/Cargo.toml
  src/connector/src/lib.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/mod.rs
Labels: type/feature

#12870 feat(ci): support opt-in workflow for pull-requests
  ci/scripts/pr-fuzz-test.sh
  ci/workflows/pull-request.yml
Labels: type/feature

#12881 fix(frontend): fix dml output fields
  src/frontend/src/binder/statement.rs
Labels: type/fix, need-cherry-pick-v1.3

#12868 fix(mysql-cdc): enable heartbeat message to keep the offset up to date with upstream
  e2e_test/source/cdc/mysql_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEventConsumer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/MySQLSourceTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/SourceTestClient.java
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/DebeziumOffset.java
  src/compute/tests/cdc_tests.rs
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/maxwell_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/upsert_parser.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/external.rs
  src/stream/src/executor/backfill/cdc_backfill.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/fix, need-cherry-pick-v1.3

#12699 feat(binder): support distinct on column aliases
  src/frontend/planner_test/tests/testdata/input/distinct_on.yaml
  src/frontend/planner_test/tests/testdata/output/distinct_on.yaml
  src/frontend/planner_test/tests/testdata/output/order_by.yaml
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/select.rs
Labels: type/feature

#12869 fix(meta): do not select several file
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/tombstone_compaction_selector.rs
  src/meta/src/hummock/compaction/selector/ttl_selector.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: need-cherry-pick-v1.3

#12878 chore(streaming): remove unused metrics
  src/compute/src/rpc/service/exchange_metrics.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/chore

#12879 chore(storage): reduce state store metrics report bucket
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
Labels: type/chore

#12894 fix(meta): do not select several file (#12869)
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/tombstone_compaction_selector.rs
  src/meta/src/hummock/compaction/selector/ttl_selector.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#12844 feat(expr): add `regexp_split_to_array`
  e2e_test/batch/basic/func.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/regexp.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/tests/regress/data/sql/strings.sql
Labels: type/feature, user-facing-changes

#12839 feat: expose hidden and distribution keys of columns in sql command and rw_columns
  e2e_test/ddl/show.slt
  e2e_test/extended_mode/basic.slt
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/session.rs
Labels: type/feature

#12867 feat(cmd_all): provide common options `config-path` and `prometheus-listen-addr`
  src/cmd_all/src/common.rs
  src/cmd_all/src/standalone.rs
Labels: type/feature, ci/run-e2e-standalone-tests

#12833 feat(metrics): bring back some mem table memory metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/feature

#12877 fix: unify row desc for show objects in normal and extended mode
  src/frontend/src/handler/show.rs
  src/frontend/src/session.rs
  src/frontend/src/utils/infer_stmt_row_desc.rs
  src/frontend/src/utils/mod.rs
Labels: type/fix

#12901 feat: add parallelism column in rw_fragments
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/meta/src/rpc/service/stream_service.rs
Labels: type/feature

#12875 fix(storage): fix level score of base level
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
Labels: type/fix

#12904 fix(integration-test): disable iceberg-sink case
  ci/workflows/integration-tests.yml
Labels: type/fix

#12909 chore: disable fast compaction by default
  src/common/src/config.rs
  src/config/example.toml
Labels: type/chore

#12905 chore: run all data check even some fail
  integration_tests/scripts/check_data.py
Labels: type/chore

#12882 feat(metrics): support reference counting in metrics label
  src/common/src/lib.rs
  src/common/src/metrics/guarded_metrics.rs
  src/common/src/metrics/relabeled_metric.rs
  src/common/src/monitor/connection.rs
  src/connector/src/sink/mod.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature

#12908 fix: fix tab completion for relation
  e2e_test/batch/subquery/tab_completion.slt.part
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
Labels: type/fix, need-cherry-pick-v1.3

#12838 feat(expr): implement greatest and least function
  e2e_test/batch/functions/greatest_least.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/cmp.rs
  src/expr/impl/tests/sig.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-v1.3

#12862 fix(java_binding): fix java binding TLS allocation failure
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/heap_profiling/Cargo.toml
  src/common/heap_profiling/src/jeprof.rs
  src/common/heap_profiling/src/lib.rs
  src/common/heap_profiling/src/profiler.rs
  src/common/src/lib.rs
  src/compute/Cargo.toml
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
  src/meta/Cargo.toml
  src/meta/src/dashboard/mod.rs
  src/meta/src/lib.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/server.rs
Labels: type/fix, component/connector, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests, need-cherry-pick-v1.3

#12486 feat(udf): don't send invisible rows to UDF server
  src/common/src/array/data_chunk.rs
  src/expr/core/src/expr/expr_udf.rs
Labels: type/feature

#12872 refactor(over window): use new `table.iter_with_prefix` in streaming OverWindow
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/refactor

#12900 fix(ci): stabilize microbenchmark
  ci/scripts/run-micro-benchmarks.sh
  ci/workflows/pull-request.yml
Labels: type/fix

#12929 refactor: cherry pick #12838 to v1.3-rc to support greatest and least function
  e2e_test/batch/functions/greatest_least.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/cmp.rs
  src/expr/impl/tests/sig.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/refactor

#12866 fix(connector): offset miscounting in nd_streaming
  e2e_test/s3/fs_source_v2.py
  src/connector/src/source/filesystem/nd_streaming.rs
Labels: type/fix, ci/run-main-cron

#12806 feat(s3): ban new cluster startup if s3 bucket has retention configured
  src/meta/src/hummock/manager/mod.rs
  src/object_store/src/object/s3.rs
Labels: type/feature

#12918 refactor(meta): adapt ValTransaction to metadata model v2
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/manager/system_param/model.rs
  src/meta/src/model/mod.rs
  src/meta/src/model_v2/ext/hummock.rs
  src/meta/src/model_v2/ext/mod.rs
  src/meta/src/model_v2/mod.rs
  src/meta/src/model_v2/trx.rs
Labels: type/refactor

#12940 chore: update version to 1.3.0
  Cargo.lock
  Cargo.toml
Labels: type/chore

#12941 fix: don't count file cache buffer pool size if disabled
  src/compute/src/memory_management/mod.rs
Labels: type/fix, need-cherry-pick-v1.3

#12928 fix(risedev): fill-in CONNECTOR_LIBS_PATH if set
  src/risedevtool/config/src/main.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/fix

#12944 fix: fix alter index rename
  e2e_test/ddl/alter_rename_relation.slt
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix

#12897 chore: update deps for feature store demo
  integration_tests/feature-store/Dockerfile
  integration_tests/feature-store/README.md
  integration_tests/feature-store/docker-compose.yml
  integration_tests/feature-store/server/Cargo.lock
  integration_tests/feature-store/server/Cargo.toml
  integration_tests/feature-store/server/model/requirements.txt
  integration_tests/feature-store/server/src/feature_store.rs
  integration_tests/feature-store/server/src/main.rs
  integration_tests/feature-store/server/src/model.rs
  integration_tests/feature-store/server/src/server_pb.rs
  integration_tests/feature-store/server/src/serving.rs
  integration_tests/feature-store/simulator/Cargo.lock
  integration_tests/feature-store/simulator/Cargo.toml
  integration_tests/feature-store/simulator/rust-toolchain
  integration_tests/feature-store/simulator/src/entities.rs
  integration_tests/feature-store/simulator/src/entities_taxi.rs
  integration_tests/feature-store/simulator/src/main.rs
  integration_tests/feature-store/simulator/src/server_pb.rs
  integration_tests/feature-store/simulator/src/simulation.rs
Labels: type/chore

#12946 feat(ctl): support rebuild table stats with approximate value
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/list_version.rs
  src/ctl/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/versioning.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature

#12948 chore: cherry-pick #12941 (fix: don't count file cache buffer pool size if disabled)
  src/compute/src/memory_management/mod.rs
Labels: type/chore

#12949 fix(release): install javadoc in release script
  ci/scripts/release.sh
Labels: type/fix

#12763 fix(stream): add assertion to ensure pk indices consistency
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#12113 feat(sink): kafka upsert sink with schema
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/sink/kafka/drop_sink.slt
  e2e_test/sink/kafka/upsert_schema1.result
  e2e_test/sink/kafka/upsert_schema2.result
  e2e_test/sink/kafka/upsert_schema3.result
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/mod.rs
Labels: type/feature, user-facing-changes

#12960 refactor(frontend/expr): use associated type for ExprVisitor design
  src/frontend/src/expr/expr_visitor.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/order_by_expr.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_expr_visitor/expr_counter.rs
  src/frontend/src/optimizer/plan_expr_visitor/input_ref_counter.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_visitor/input_ref_validator.rs
  src/frontend/src/optimizer/plan_visitor/plan_correlated_id_finder.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/optimizer/rule/rewrite_like_expr_rule.rs
  src/frontend/src/utils/condition.rs
Labels: type/refactor

#12961 build: remove `workspace-hack` from proc-macro crates' dependencies
  Cargo.lock
  src/common/proc_macro/Cargo.toml
  src/prost/helpers/Cargo.toml
Labels: type/build

#12685 feat: support for all non-streaming related interfaces in catalog controller
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model_v2/connection.rs
  src/meta/src/model_v2/database.rs
  src/meta/src/model_v2/function.rs
  src/meta/src/model_v2/index.rs
  src/meta/src/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/src/model_v2/mod.rs
  src/meta/src/model_v2/object.rs
  src/meta/src/model_v2/object_dependency.rs
  src/meta/src/model_v2/schema.rs
  src/meta/src/model_v2/sink.rs
  src/meta/src/model_v2/source.rs
  src/meta/src/model_v2/table.rs
  src/meta/src/model_v2/user.rs
  src/meta/src/model_v2/user_privilege.rs
  src/meta/src/model_v2/view.rs
  src/meta/src/model_v2/worker.rs
  src/meta/src/model_v2/worker_property.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/feature

#12968 refactor(source): cleanup schema registry name strategy handling
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/schema_registry/mod.rs
Labels: type/refactor

#12978 fix: fix table object foreign key in init migration
  src/meta/src/model_v2/migration/src/m20230908_072257_init.rs
Labels: type/fix

#12825 feat: concurrent batch scan
  e2e_test/streaming/watermark.slt
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/feature

#12973 refactor(optimizer): clean up dead code for optimizer v2
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/plan_tree_node.rs
  src/frontend/src/optimizer/plan_node/plan_tree_node_v2.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_derive.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
  src/frontend/src/optimizer/property/distribution.rs
Labels: type/refactor

#12858 feat(sink): enable kafka sink with `format plain encode protobuf`
  ci/scripts/e2e-kafka-sink-test.sh
  ci/workflows/pull-request.yml
  e2e_test/sink/kafka/protobuf.slt
  src/connector/src/lib.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/pulsar.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/feature

#12167 feat(meta): recover stream job progress
  Makefile.toml
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/run-backfill-tests.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/sql/backfill/insert.sql
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/background_ddl/common/create_bg_mv.slt
  e2e_test/background_ddl/common/create_fg_mv.slt
  e2e_test/background_ddl/common/create_index.slt
  e2e_test/background_ddl/common/create_sink.slt
  e2e_test/background_ddl/common/create_table.slt
  e2e_test/background_ddl/common/drop_index.slt
  e2e_test/background_ddl/common/drop_mv.slt
  e2e_test/background_ddl/common/drop_sink.slt
  e2e_test/background_ddl/common/drop_table.slt
  e2e_test/background_ddl/common/validate_backfilled_mv.slt
  e2e_test/background_ddl/common/validate_no_jobs.slt
  e2e_test/background_ddl/common/validate_one_job.slt
  e2e_test/background_ddl/sim.slt
  e2e_test/background_ddl/sim/basic.slt
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/error.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
  src/tests/simulation/tests/integration_tests/recovery/mod.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-backfill-tests, ci/run-build, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/run-build-other

#12602 refactor(source): prefer `SpecificParserConfig` over `SourceStruct`
  src/batch/src/executor/source.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/source/base.rs
  src/connector/src/source/datagen/source/generator.rs
  src/connector/src/source/datagen/source/reader.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/create_source.rs
  src/source/src/source_desc.rs
Labels: type/refactor

#12966 feat(ctl): support for compaction score query
  proto/hummock.proto
  src/cmd/src/lib.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/write_batch.rs
Labels: type/feature

#12993 chore: remove the `-ea` from jvm options
  src/jni_core/src/jvm_runtime.rs
Labels: type/chore

#11999 feat(Sink): support redis sink
  Cargo.lock
  integration_tests/redis-sink/README.md
  integration_tests/redis-sink/create_mv.sql
  integration_tests/redis-sink/create_sink.sql
  integration_tests/redis-sink/create_source.sql
  integration_tests/redis-sink/docker-compose.yml
  src/connector/Cargo.toml
  src/connector/src/common.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/redis.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#12994 refactor(optimizer): refactor plan visitor with associated type
  src/frontend/src/optimizer/plan_rewriter/share_source_rewriter.rs
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/optimizer/plan_visitor/execution_mode_decider.rs
  src/frontend/src/optimizer/plan_visitor/input_ref_validator.rs
  src/frontend/src/optimizer/plan_visitor/max_one_row_visitor.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/plan_visitor/plan_correlated_id_finder.rs
  src/frontend/src/optimizer/plan_visitor/relation_collector_visitor.rs
  src/frontend/src/optimizer/plan_visitor/share_parent_counter.rs
  src/frontend/src/optimizer/plan_visitor/side_effect_visitor.rs
  src/frontend/src/optimizer/plan_visitor/sys_table_visitor.rs
  src/frontend/src/optimizer/plan_visitor/temporal_join_validator.rs
Labels: type/refactor

#12986 refactor(source): move schema registry to parent mod
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/schema_resolver.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/protobuf/schema_resolver.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/schema_registry/client.rs
  src/connector/src/schema/schema_registry/mod.rs
  src/connector/src/schema/schema_registry/util.rs
  src/frontend/src/handler/create_source.rs
Labels: type/refactor
