Repository risingwavelabs/risingwave, pull requests merged in 2023-08, with the labels that each got.

#11348 chore: update cherry-pick github action
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#11331 feat(docs): update memory-profiling.md
  docs/memory-profiling.md
Labels: type/feature

#11323 refactor(frontend): escape `E'..'` in tokenizer
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/utils/with_options.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/ast/value.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/tokenizer.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/refactor

#11301 fix(optmizer): not push down now() and impure function across LogicalShare
  src/frontend/planner_test/tests/testdata/input/share.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/src/optimizer/plan_node/mod.rs
Labels: type/fix

#11327 test(stream): bench state table inserts
  src/stream/Cargo.toml
  src/stream/benches/bench_state_table.rs
Labels: component/test

#11275 refactor(error): reduce error type size
  Cargo.lock
  e2e_test/udf/udf.slt
  src/batch/src/executor/hop_window.rs
  src/expr/src/error.rs
  src/expr/src/expr/test_utils.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/date_trunc.rs
  src/expr/src/vector_op/encdec.rs
  src/expr/src/vector_op/extract.rs
  src/expr/src/vector_op/jsonb_info.rs
  src/expr/src/vector_op/overlay.rs
  src/expr/src/vector_op/split_part.rs
  src/expr/src/vector_op/substr.rs
  src/expr/src/vector_op/timestamptz.rs
  src/expr/src/vector_op/trim_array.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/rpc_client/Cargo.toml
  src/rpc_client/src/error.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/hop_window.rs
  src/udf/Cargo.toml
  src/udf/src/error.rs
  src/udf/src/external.rs
  src/udf/src/lib.rs
Labels: type/refactor, need-cherry-pick-v1.1

#11355 fix(binder): cast of empty array literal
  src/frontend/planner_test/tests/testdata/input/array.yaml
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/src/binder/expr/value.rs
Labels: type/fix, need-cherry-pick-v1.1

#11360 test: fix kafka csv test
  e2e_test/source/basic/kafka.slt
  scripts/source/test_data/kafka_1_csv_topic.1
Labels: component/test

#11345 ci: add back auto-retry for main and docker pipeline
  ci/workflows/docker.yml
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: component/ci

#11364 feat(docker): support setting config map when packaging RisingWave with HDFS
  docker/Dockerfile.hdfs
Labels: type/feature

#11241 feat(expr): add `to_date` function
  e2e_test/batch/functions/to_date.slt.part
  proto/expr.proto
  src/common/src/types/datetime.rs
  src/expr/src/expr/expr_to_date_const_tmpl.rs
  src/expr/src/expr/mod.rs
  src/expr/src/vector_op/to_char.rs
  src/expr/src/vector_op/to_timestamp.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
Labels: type/feature, user-facing-changes

#11376 chore(grafana): improve grafana metrics naming
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/chore

#11379 ci: fix docker workflow format
  ci/workflows/docker.yml
Labels: component/ci

#11334 feat: (step 3.2) change all pg catalogs to views upon rw system tables
  e2e_test/batch/catalog/pg_class.slt.part
  e2e_test/sink/remote/jdbc.load.slt
  integration_tests/mysql-sink/create_mv.sql
  integration_tests/mysql-sink/data_check
  integration_tests/postgres-sink/create_mv.sql
  integration_tests/postgres-sink/data_check
  src/batch/src/task/task_execution.rs
  src/frontend/planner_test/tests/testdata/output/pg_catalog.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/information_schema/mod.rs
  src/frontend/src/catalog/system_catalog/information_schema/tables.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_description.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_indexes.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_shadow.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_tables.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_indexes.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relations.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_system_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_types.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_user_secrets.rs
Labels: type/feature, user-facing-changes

#11380 fix: config max decoding message size for some necessary service in meta and cn
  src/compute/src/server.rs
  src/meta/src/rpc/server.rs
Labels: type/fix

#11385 ci: fix connector integration test script
  ci/scripts/connector-node-integration-test.sh
Labels: component/ci

#11299 test: add an integration test for kinesis and s3 source
  ci/scripts/integration-tests.sh
  ci/workflows/integration-tests.yml
  docker/docker-compose.yml
  integration_tests/datagen/Dockerfile
  integration_tests/datagen/main.go
  integration_tests/datagen/sink/kinesis/kinesis.go
  integration_tests/datagen/sink/s3/s3.go
  integration_tests/kinesis-s3-source/create_mv.sql
  integration_tests/kinesis-s3-source/create_source.sql
  integration_tests/kinesis-s3-source/data_check
  integration_tests/kinesis-s3-source/docker-compose.yml
  integration_tests/kinesis-s3-source/query.sql
Labels: component/test

#11369 refactor: avoid clone all table fragments everywhere
  dashboard/mock-server.js
  dashboard/mock/fetch.sh
  src/common/src/util/stream_graph_visitor.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/refactor

#11375 chore(connector): bump maven version + exit on failure for build script
  src/risedevtool/connector.toml
Labels: type/chore

#11354 fix(storage): fix compactor oom
  docker/Dockerfile.hdfs
  docs/memory-profiling.md
  e2e_test/batch/functions/to_date.slt.part
  integration_tests/tidb-cdc-sink/docker-compose.yml
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/bloom.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/filter.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/fix

#11388 fix: fix panic when available parallel units number is larger than 256
  src/common/src/config.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix

#11319 chore(ci): throttle nexmark events for flamegraph gen
  ci/scripts/gen-flamegraph.sh
Labels: type/chore

#11381 fix(bitmap): fix building bitmap
  src/common/src/buffer/bitmap.rs
Labels: type/fix, need-cherry-pick-v1.1

#11383 chore: improve error reporting for unrecognized system params
  src/common/src/system_param/mod.rs
Labels: type/chore

#11390 feat(optimizer): support subquery unnest for project set
  e2e_test/batch/subquery/subquery.slt.part
  e2e_test/batch/subquery/subquery_with_project_set.slt.part
  src/frontend/planner_test/tests/testdata/input/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/project_set.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/rule/apply_project_set_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature

#11362 fix(source): init split state with persisted state and fix cdc split update
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  src/connector/src/macros.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/datagen/split.rs
  src/connector/src/source/filesystem/file_common.rs
  src/connector/src/source/google_pubsub/split.rs
  src/connector/src/source/kafka/split.rs
  src/connector/src/source/kinesis/split.rs
  src/connector/src/source/nexmark/split.rs
  src/connector/src/source/pulsar/split.rs
  src/rpc_client/src/connector_client.rs
  src/stream/src/executor/source/executor_core.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix, need-cherry-pick-v1.1

#11370 feat(expr): support Format expression
  e2e_test/batch/functions/format.slt.part
  proto/expr.proto
  src/common/src/format.rs
  src/common/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/expr.yaml
  src/frontend/planner_test/tests/testdata/input/format.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/format.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
Labels: type/feature

#11400 refactor(meta): throttle hummock vacuum
  integration_tests/kinesis-s3-source/docker-compose.yml
  src/common/src/config.rs
  src/config/example.toml
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, need-cherry-pick-v1.1

#11206 refactor(compaction): limit max_sub_compaction not greater than the number of cpu cores
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/error.rs
Labels: type/refactor

#11407 feat(binder): hack {obj/col}_description for bytebase
  src/frontend/src/binder/expr/function.rs
Labels: type/feature

#11409 ci: cherry pick 11345 11379 to v1.1
  ci/workflows/docker.yml
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: component/ci

#11404 feat(optimizer): support cross join eliminate rule
  src/frontend/planner_test/tests/testdata/input/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/apply_join_transpose_rule.rs
  src/frontend/src/optimizer/rule/cross_join_eliminate_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature

#11405 feat(storage): cherry-pick 9f73f90 reduce compactor memory (#11332)
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/opts.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#11416 fix: config max decoding message size for some meta clients
  src/rpc_client/src/meta_client.rs
Labels: type/fix

#11418 chore(storage): cherry pick 11354 to v1.1 rc
  integration_tests/tidb-cdc-sink/docker-compose.yml
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/bloom.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/filter.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/chore

#10766 feat(storage): replace old file cache engine with foyer store
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/bench/Cargo.toml
  src/bench/file_cache_bench/analyze.rs
  src/bench/file_cache_bench/bench.rs
  src/bench/file_cache_bench/rate.rs
  src/bench/file_cache_bench/utils.rs
  src/common/src/config.rs
  src/common/src/constants.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/compute/src/lib.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/event_handler/cache_refill_policy.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/file_cache/alloc.rs
  src/storage/src/hummock/file_cache/buffer.rs
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/error.rs
  src/storage/src/hummock/file_cache/file.rs
  src/storage/src/hummock/file_cache/meta.rs
  src/storage/src/hummock/file_cache/metrics.rs
  src/storage/src/hummock/file_cache/mod.rs
  src/storage/src/hummock/file_cache/recent_filter.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/file_cache/test_utils.rs
  src/storage/src/hummock/file_cache/utils.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/tiered_cache.rs
  src/storage/src/monitor/compactor_metrics.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/utils/runtime/src/logger.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, user-facing-changes, breaking-change, experimental

#11413 refactor(meta): cherry pick 11400 to v1.1 rc
  src/common/src/config.rs
  src/config/example.toml
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, user-facing-changes

#11435 fix(pgwire): respond `Describe portal` with correct format codes
  src/frontend/src/session.rs
Labels: type/fix, need-cherry-pick-v1.1

#11436 ci: add auto-retry for integration test pipeline
  ci/scripts/integration-tests.sh
  ci/workflows/docker.yml
  ci/workflows/integration-tests.yml
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  ci/workflows/sqlsmith-tests.yml
Labels: component/ci, need-cherry-pick-v1.1

#11439 cherry-pick refactor(error): reduce error type size (#11275)
  Cargo.lock
  e2e_test/udf/udf.slt
  src/batch/src/executor/hop_window.rs
  src/expr/src/error.rs
  src/expr/src/expr/test_utils.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/date_trunc.rs
  src/expr/src/vector_op/encdec.rs
  src/expr/src/vector_op/extract.rs
  src/expr/src/vector_op/jsonb_info.rs
  src/expr/src/vector_op/overlay.rs
  src/expr/src/vector_op/split_part.rs
  src/expr/src/vector_op/substr.rs
  src/expr/src/vector_op/timestamptz.rs
  src/expr/src/vector_op/trim_array.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/rpc_client/Cargo.toml
  src/rpc_client/src/connector_client.rs
  src/rpc_client/src/error.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/hop_window.rs
  src/udf/Cargo.toml
  src/udf/src/error.rs
  src/udf/src/external.rs
  src/udf/src/lib.rs
Labels: Invalid PR Title

#11399 feat: support dummy implementation for pg_depend
  e2e_test/batch/catalog/issue_11321.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_depend.rs
Labels: type/feature

#11121 refactor(iceberg): iceberg sink writer commit with coordinator
  java/common-utils/src/main/java/com/risingwave/java/utils/ObjectSerde.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkFactoryTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkLocalTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkPartitionTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/UpsertIcebergSinkLocalTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/UpsertIcebergSinkPartitionTest.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/AppendOnlyIcebergSinkWriter.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergMetadata.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkCoordinator.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkFactory.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkWriterBase.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/UpsertIcebergSinkWriter.java
Labels: type/refactor

#11423 chore: enable trailing space check on CI
  ci/scripts/check.sh
  src/frontend/planner_test/tests/testdata/input/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
Labels: type/chore

#11446 fix: warnings on naming from rust analyzer in generated code
  src/expr/macro/src/gen.rs
  src/expr/src/lib.rs
  src/prost/src/lib.rs
  src/storage/src/store_impl.rs
Labels: type/fix

#11415 test(stream): add more state table bench for chunks
  src/batch/src/executor/test_utils.rs
  src/common/src/array/data_chunk.rs
  src/common/src/array/stream_chunk.rs
  src/stream/benches/bench_state_table.rs
Labels: component/test

#11452 feat(binder): support align types for set operation
  e2e_test/batch/basic/union.slt.part
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/set_expr.rs
Labels: type/feature

#11161 feat(storage): add watermark cache to state_table
  src/common/src/row/mod.rs
  src/common/src/types/ordered.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/stream/src/common/cache/state_cache/top_n.rs
  src/stream/src/common/cache/top_n_cache.rs
  src/stream/src/common/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/state_table_cache.rs
  src/stream/src/common/table/test_state_table.rs
Labels: type/feature

#11408 fix(catalog): information_schema.columns.ordinal_position should be int32
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
Labels: type/fix, need-cherry-pick-v1.1

#11442 fix(metrics): better metrics of mem-table size
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/fix

#11469 feat(binder): add dummy pg_is_in_recovery
  src/frontend/src/binder/expr/function.rs
Labels: type/feature

#11471 fix(binder): don't error when search_path is empty
  src/common/src/session_config/search_path.rs
  src/frontend/src/binder/expr/function.rs
Labels: type/fix

#11472 feat(config): accept yes/no,on/off,1/0 as bool config value
  src/common/src/session_config/mod.rs
Labels: type/feature

#11473 feat(config): support dummy synchronize_seqscans,statement_timeout,lock_timeout,row_security
  src/common/src/session_config/mod.rs
Labels: type/feature

#11475 feat(catalog): add pg_extension
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_extension.rs
Labels: type/feature

#11117 perf(backfill): Optimize backfill
  src/common/src/util/chunk_coalesce.rs
  src/storage/src/table/mod.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/utils.rs
Labels: type/perf

#11478 feat: cherry-picks some necessary commits into v1.1-rc
  e2e_test/batch/basic/array.slt.part
  e2e_test/batch/catalog/issue_10177.slt.part
  e2e_test/batch/catalog/issue_11321.slt.part
  e2e_test/batch/catalog/pg_cast.slt.part
  e2e_test/batch/catalog/pg_class.slt.part
  e2e_test/batch/catalog/pg_type.slt.part
  e2e_test/sink/remote/jdbc.load.slt
  integration_tests/mysql-sink/create_mv.sql
  integration_tests/mysql-sink/data_check
  integration_tests/postgres-sink/create_mv.sql
  integration_tests/postgres-sink/data_check
  src/batch/src/task/task_execution.rs
  src/common/src/types/to_binary.rs
  src/compute/src/server.rs
  src/frontend/planner_test/tests/testdata/output/pg_catalog.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/information_schema/mod.rs
  src/frontend/src/catalog/system_catalog/information_schema/tables.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_depend.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_description.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_indexes.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_shadow.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_tables.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_indexes.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relations.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_system_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_types.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_user_secrets.rs
  src/meta/src/rpc/server.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature

#11468 fix: `risedev p` and `d` do not share build
  Makefile.toml
  src/java_binding/make-java-binding.toml
  src/risedevtool/risedev-components.toml
Labels: type/fix

#11450 feat(binder): schema check when binding view
  src/frontend/src/binder/relation/table_or_source.rs
Labels: type/feature

#11482 fix(storage): fix switch builder by vnode change
  src/common/src/config.rs
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/opts.rs
Labels: type/fix, need-cherry-pick-v1.1

#11497 chore(storage): cherry pick 11482 to v1.1-rc
  src/common/src/config.rs
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/opts.rs
Labels: type/chore

#11490 fix: ignore pu reduction when re-registering existent compute nodes
  src/meta/src/manager/cluster.rs
Labels: type/fix, need-cherry-pick-v1.1

#11481 fix(catalog): fix read rw sources info
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
Labels: type/fix, need-cherry-pick-v1.1

#11495 chore(release): update version to v1.1.0
  Cargo.lock
  Cargo.toml
Labels: type/chore, need-cherry-pick-v1.1

#11492 feat(ci): extract failing queries for fuzz-test
  ci/scripts/run-fuzz-test.sh
Labels: type/feature

#11498 fix(dashboard): failed due to a change in next 13
  dashboard/components/Layout.tsx
Labels: type/fix, need-cherry-pick-v1.1

#11484 feat(binder): check source format for append only table
  e2e_test/source/basic/kafka.slt
  src/frontend/src/handler/create_table.rs
Labels: type/feature, need-cherry-pick-v1.1

#11454 feat(watermark): implicitly derive watermark for nondecreasing columns (`proctime`)
  proto/stream_plan.proto
  src/expr/benches/expr.rs
  src/expr/src/expr/mod.rs
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/generated_columns.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/planner_test/tests/testdata/output/window_join.yaml
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/rule/stream/filter_with_now_to_join_rule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/project.rs
  src/stream/src/from_proto/project.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-v1.1

#11525 feat(watermark): implicitly derive watermark for nondecreasing columns (`proctime`) (#11454)
  proto/stream_plan.proto
  src/expr/benches/expr.rs
  src/expr/src/expr/mod.rs
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/generated_columns.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/planner_test/tests/testdata/output/window_join.yaml
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/rule/stream/filter_with_now_to_join_rule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/project.rs
  src/stream/src/from_proto/project.rs
Labels: type/feature, user-facing-changes, cherry-pick

#11520 fix(ci): change risedev kill to synchronous wait && add back retry for exit code 255
  Makefile.toml
  ci/workflows/docker.yml
  ci/workflows/integration-tests.yml
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  ci/workflows/sqlsmith-tests.yml
Labels: type/fix

#11491 feat(optimizer): support apply topn transpose rule
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/rule/apply_topn_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature, need-cherry-pick-v1.1

#11529 refactor(storage): minor refactor when start compactor
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/refactor

#11541 chore(optimizer): cherry pick 11491 to v1 1 rc
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/rule/apply_topn_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/chore

#11523 fix(pgwire): ignore msg when encouter errror in extended protocol util sync
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix, user-facing-changes

#11534 feat: add typarray into pg_type
  ci/scripts/run-e2e-test.sh
  e2e_test/superset/connection.slt
  src/frontend/planner_test/tests/testdata/output/pg_catalog.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
Labels: type/feature

#11244 fix(storage): fix metrics compact task size
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: type/fix

#10958 feat(metrics): monitor materialized view memory usage
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
Labels: type/feature

#11549 fix(storage): cherry-pick 11051 to v1.1-rc
  src/common/src/config.rs
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/opts.rs
  src/storage/src/storage_failpoints/test_iterator.rs
Labels: type/fix

#11538 fix(ci): kill and wait for tmux sessions to shut down
  Makefile.toml
  src/meta/src/rpc/server.rs
Labels: type/fix, ci/run-main-cron

#11536 chore(test): add log to help debug a flaky test
  src/storage/backup/integration_tests/test_query_backup.sh
Labels: type/chore, ci/run-main-cron

#11546 fix(ci): update integration test script in linux 2023
  ci/scripts/integration-tests.sh
  ci/workflows/docker.yml
  ci/workflows/integration-tests.yml
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  ci/workflows/sqlsmith-tests.yml
Labels: type/fix

#11542 fix: failed source should not block the startup of the meta
  src/meta/src/stream/source_manager.rs
Labels: type/fix

#11543 fix: introduce blocked status for scheduled queue when recovering
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, need-cherry-pick-v1.1

#11499 test(stream): bench `StateTable` with `WatermarkCache`, more datatypes and columns
  src/common/src/array/data_chunk.rs
  src/stream/benches/bench_state_table.rs
  src/stream/src/common/table/state_table.rs
Labels: component/test

#11533 fix(integration-tests): remove docker-compose-nightly.yml
  docker/docker-compose-nightly.yml
  integration_tests/ad-click/docker-compose.yml
  integration_tests/ad-ctr/docker-compose.yml
  integration_tests/cdn-metrics/docker-compose.yml
  integration_tests/citus-cdc/docker-compose.yml
  integration_tests/clickhouse-sink/docker-compose.yml
  integration_tests/clickstream/docker-compose.yml
  integration_tests/debezium-mysql/docker-compose.yml
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-sqlserver/docker-compose.yml
  integration_tests/iceberg-sink/docker-compose.yml
  integration_tests/kafka-cdc-sink/docker-compose.yml
  integration_tests/livestream/docker-compose.yml
  integration_tests/mysql-cdc/docker-compose.yml
  integration_tests/mysql-sink/docker-compose.yml
  integration_tests/pinot-sink/docker-compose.yml
  integration_tests/postgres-cdc/docker-compose.yml
  integration_tests/postgres-sink/docker-compose.yml
  integration_tests/presto-trino/docker-compose.yml
  integration_tests/prometheus/docker-compose.yml
  integration_tests/schema-registry/docker-compose.yml
  integration_tests/superset/docker-compose.yml
  integration_tests/tidb-cdc-sink/docker-compose.yml
  integration_tests/twitter-pulsar/docker-compose.yml
  integration_tests/twitter/docker-compose.yml
  integration_tests/upsert-avro/docker-compose.yml
Labels: type/fix

#11384 feat: support other name strategies in schema registry
  e2e_test/source/basic/schema_registry.slt
  proto/catalog.proto
  scripts/source/avro_producer.py
  scripts/source/prepare_ci_kafka.sh
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/schema_registry/mod.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature, user-facing-changes

#11422 feat(optimizer): support table function to project set rule
  e2e_test/batch/subquery/subquery_with_project_set.slt.part
  e2e_test/streaming/values.slt
  src/frontend/planner_test/tests/testdata/input/expr.yaml
  src/frontend/planner_test/tests/testdata/input/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/basic_query.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_table_function.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/table_function_to_project_set_rule.rs
Labels: type/feature

#11540 fix(pgwire): fix corner case processing in parse and bind msg
  src/frontend/src/binder/bind_param.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/fix

#11537 feat(optimizer): support apply limit transpose rule
  e2e_test/batch/subquery/subquery_with_limit.slt.part
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/apply_limit_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature, user-facing-changes

#11477 fix(integration-test): fixed localstack image tag
  integration_tests/kinesis-s3-source/docker-compose.yml
Labels: type/fix

#11437 refactor(object_store): use iter to list objects
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/mod.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/s3.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/src/storage.rs
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/vacuum.rs
Labels: type/refactor, priority/low, ci/run-main-cron

#11548 feat: support grafana tempo tracing in risedev-compose
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/config_gen/grafana_gen.rs
  src/risedevtool/src/config_gen/tempo_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/tempo_service.rs
  src/risedevtool/src/task/utils.rs
Labels: type/feature

#11512 feat(frontend): use `WatermarkCacheStateTable` in `TemporalFilter`
  proto/catalog.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/storage/src/filter_key_extractor.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#11554 fix(watermark): align watermark for idle input
  src/stream/src/executor/watermark_filter.rs
Labels: type/fix

#11359 feat(sink): implement sink coordinate service
  proto/connector_service.proto
  src/compute/src/server.rs
  src/connector/src/lib.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/mod.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/meta/src/manager/sink_coordination/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/mod.rs
  src/meta/src/rpc/service/sink_coordination_service.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/sink_coordinate_client.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/task/env.rs
Labels: type/feature

#11569 refactor(metric): add metrics for total object store file count and size
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/hummock.proto
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/vacuum.rs
Labels: type/refactor

#11571 fix(frontend): derive `cleaned_by_watermark` using watermark col instead of rhs expression
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
Labels: type/fix

#11453 feat(connector): support transaction for single-table CDC
  Cargo.lock
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  src/connector/Cargo.toml
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/mod.rs
Labels: type/feature, user-facing-changes

#11530 chore(frontend): refine union align types error
  src/frontend/src/binder/set_expr.rs
Labels: type/chore

#11594 fix(jdbc): fix jdbc sink drop
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/fix

#11589 fix: fix incorrect usage of ok_or with anyhow
  src/common/src/system_param/mod.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/source/kafka/private_link.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/session.rs
  src/meta/src/rpc/cloud_provider.rs
  src/rpc_client/src/lib.rs
  src/sqlparser/src/ast/statement.rs
  src/stream/src/common/log_store/in_mem.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#11568 feat: support standard_conforming_strings parameter
  src/common/src/session_config/mod.rs
Labels: type/feature

#11596 fix: config subscribe client decoding limit and add more logs
  src/common/common_service/src/observer_manager.rs
  src/rpc_client/src/meta_client.rs
Labels: type/fix, need-cherry-pick-v1.1

#11599 feat: dump heap prof (#11164)
  Cargo.lock
  src/batch/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/lib.rs
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/memory_management/policy.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/tests/simulation/Cargo.toml
Labels: type/feature, cherry-pick

#11587 fix(stream): add group key into stream group topN's stream key
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/stream/src/from_proto/group_top_n.rs
Labels: type/fix, need-cherry-pick-v1.1

#11604 fix(stream): add group key into stream group topN's stream key (#11587) to branch v1.1-rc
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/stream/src/from_proto/group_top_n.rs
Labels: type/fix

#11582 feat: add atthasdef to pg_attribute
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
Labels: type/feature

#11606 chore(release): update version to v1.1.1
  Cargo.lock
  Cargo.toml
Labels: type/chore

#11583 feat: add dummy system function pg_type_is_visible
  src/frontend/src/binder/expr/function.rs
Labels: type/feature

#11598 fix(storage): add metrics to track latency of compaction event loop
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  proto/hummock.proto
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/rpc/metrics.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/monitor/compactor_metrics.rs
Labels: type/fix

#11608 fix(ci): kill and wait for tmux sessions to shut down (#11538)
  Makefile.toml
  src/meta/src/rpc/server.rs
Labels: type/fix

#11609 cherry-pick: 11436 11520
  Makefile.toml
  ci/scripts/integration-tests.sh
  ci/workflows/docker.yml
  ci/workflows/integration-tests.yml
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  ci/workflows/sqlsmith-tests.yml
Labels: Invalid PR Title

#11612 chore(storage): cherry pick #11598 to v1.1-rc
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  proto/hummock.proto
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/rpc/metrics.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/monitor/compactor_metrics.rs
Labels: type/chore

#11617 chore: remove decoding message size limit from hummock rpc client
  src/rpc_client/src/meta_client.rs
Labels: type/chore, need-cherry-pick-v1.1

#11590 feat(risedev): add psql command
  Makefile.toml
  src/risedevtool/src/risectl_env.rs
Labels: type/feature

#11620 feat: add dummy indisprimary to pg_index
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
Labels: type/feature

#11625 fix(stream): clear upstream buffer if no snapshot progress
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/fix, need-cherry-pick-v1.1

#11036 refactor: improve error logging for resource_util
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/util/resource_util.rs
Labels: type/refactor

#11603 chore(deps): regular `cargo update` after v1.1.0
  Cargo.lock
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/check.sh
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/common/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/rpc_client/Cargo.toml
  src/storage/Cargo.toml
  src/storage/hummock_trace/Cargo.toml
  src/tests/e2e_extended_mode/Cargo.toml
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/udf/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore

#11633 chore(stream): cherry pick #11625 into v1.1-rc
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/chore

#11240 feat(sink): clickhouse sink
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/clickhouse.rs
Labels: type/feature, breaking-change

#11639 Revert "chore(stream): cherry pick #11625 into v1.1-rc"
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: user-facing-changes, Invalid PR Title

#11647 build: add resolver=2 to workspace
  Cargo.toml
  src/tests/simulation/Cargo.toml
Labels: type/build

#11636 chore(stream): add assertion for backfill invariant
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/chore

#11655 fix: fix exchange service and client decoding message size limit
  src/compute/src/server.rs
  src/rpc_client/src/compute_client.rs
Labels: type/fix, need-cherry-pick-v1.1

#11601 feat: add max_concurrent_creating_streaming_jobs config
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/config/backfill.toml
  src/config/ci-compaction-test-meta.toml
  src/config/ci-compaction-test.toml
  src/config/ci-delete-range-test.toml
  src/config/ci-iceberg-test.toml
  src/config/ci-recovery.toml
  src/config/ci-sim.toml
  src/config/ci.toml
  src/config/example.toml
  src/meta/src/backup_restore/restore.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/feature, user-facing-changes

#11635 doc(test): how to reproduce simulation integration tests results from ci
  docs/developer-guide.md
  src/tests/simulation/tests/integration_tests/README.md
Labels: component/doc

#11653 fix(compaction): select wrong task which cause sstable files fail to concat
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: need-cherry-pick-v1.1

#11577 chore(sort buffer): fix critical misleading comment
  src/stream/src/executor/sort_buffer.rs
Labels: type/chore

#11591 chore(doc): Improve the documentation section in the PR template
  .github/labeler.yml
  .github/pull_request_template.md
Labels: type/chore

#11584 feat: support generate_subscripts function
  e2e_test/batch/basic/generate_subscripts.slt.part
  proto/expr.proto
  src/expr/src/table_function/generate_subscripts.rs
  src/expr/src/table_function/mod.rs
Labels: type/feature

#11623 feat: add dummy pg_get_constraintdef that returns NULL
  src/frontend/src/binder/expr/function.rs
Labels: type/feature

#11637 ci: add a GHA to build with latest nightly rust
  .github/workflows/nightly-rust.yml
Labels: component/ci

#11658 fix: fix flaky drop mview unit test
  src/meta/src/stream/stream_manager.rs
Labels: type/fix

#11661 fix(compaction): select wrong task which cause sstable files fail to …
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix, user-facing-changes

#11659 chore(ci): bump unit test timeouts
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#11663 feat(expr): `scale`, `min_scale` and `trim_scale` for decimal
  e2e_test/batch/functions/pow.slt.part
  e2e_test/batch/functions/scale.slt.part
  proto/expr.proto
  src/common/src/array/arrow.rs
  src/common/src/types/decimal.rs
  src/expr/src/expr/expr_literal.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
Labels: type/feature

#11558 ci: add "Hakari Fix" action
  .github/workflows/hakari_fix.yml
Labels: component/ci

#11619 feat(storage): support to base trivial_move
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/feature, need-cherry-pick-v1.1

#11672 chore(meta): tune hummock service message decoding size limit
  src/meta/src/rpc/server.rs
Labels: type/chore, need-cherry-pick-v1.1

#11648 ci(dependabot): add grouped updates
  .github/dependabot.yml
Labels: component/ci

#11678 chore(meta): tune monitor service client message decoding size limit
  src/rpc_client/src/compute_client.rs
Labels: type/chore

#11656 feat: Introduce iceberg coordinated committer
  Cargo.lock
  Cargo.toml
  e2e_test/sink/iceberg_sink_v2.slt
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg.rs
  src/connector/src/sink/mod.rs
Labels: type/feature

#11684 fix(frontend): fix varchar data type for information schema columns
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
Labels: type/fix

#11597 feat(optimizer): support apply overwindow transpose rule
  e2e_test/batch/subquery/subquery_with_over_window.slt.part
  src/frontend/planner_test/tests/testdata/input/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/apply_over_window_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature, user-facing-changes

#11526 refactor(agg): remove table state aggregation
  e2e_test/streaming/aggregate/approx_count_distinct.slt.bug
  e2e_test/streaming/aggregate/array_agg.slt
  e2e_test/streaming/aggregate/basic_agg.slt
  e2e_test/streaming/aggregate/bit_agg.slt
  e2e_test/streaming/aggregate/count_star.slt
  e2e_test/streaming/aggregate/distinct_agg.slt
  e2e_test/streaming/aggregate/selective_agg.slt
  e2e_test/streaming/aggregate/string_agg.slt
  e2e_test/streaming/aggregate/two_phase_agg.slt
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/expr/src/agg/approx_count_distinct/mod.rs
  src/expr/src/agg/def.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/utils/stream_graph_formatter.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/aggregation/table.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/agg_common.rs
Labels: type/refactor, breaking-change

#11017 fix(log-store): flush stream chunk on checkpoint barrier
  src/stream/src/common/log_store/kv_log_store/buffer.rs
  src/stream/src/common/log_store/kv_log_store/mod.rs
  src/stream/src/common/log_store/kv_log_store/reader.rs
  src/stream/src/common/log_store/kv_log_store/writer.rs
Labels: type/fix

#11660 feat(risedev): generate `env` file also for playground
  Makefile.toml
  src/cmd_all/src/playground.rs
  src/compute/src/lib.rs
  src/meta/src/lib.rs
  src/meta/src/rpc/server.rs
  src/risedevtool/common.toml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/lib.rs
  src/risedevtool/src/risedev_env.rs
Labels: type/feature

#11685 feat(common): add VisMut
  src/common/src/array/vis.rs
  src/common/src/buffer/bitmap.rs
Labels: type/feature

#11628 chore: unify docker compose from integration test to unified settings
  integration_tests/debezium-mongo/docker-compose.yaml
  integration_tests/debezium-mysql/docker-compose.yml
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-sqlserver/docker-compose.yml
Labels: type/chore

#11122 fix: only enable await-tree for stream service RPC
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
Labels: type/fix
