Repository risingwavelabs/risingwave, pull requests merged in 2023-03, with the labels that each got.

#8240 refactor(optimizer): refine logical optimizer
  src/frontend/src/optimizer/logical_optimization.rs
Labels: type/refactor, user-facing-changes

#8246 feat(connector): allow custom s3 endpoint
  src/connector/src/source/filesystem/s3/enumerator.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
Labels: type/feature, user-facing-changes

#8239 refactor(stream,agg): clean the messy `build_changes` method
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
Labels: type/refactor

#8245 feat(connector): nd-stream wrapper
  src/connector/src/macros.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/filesystem/mod.rs
  src/connector/src/source/filesystem/nd_streaming.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/source/src/source_desc.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#8244 chore: update release scripts and readme
  README.md
  ci/connector-node-version
  ci/scripts/release.sh
Labels: type/chore

#8256 feat(expr): jsonb IS [NOT] NULL
  e2e_test/batch/types/jsonb.slt.part
  src/expr/src/sig/func.rs
  src/tests/regress/data/sql/jsonb.sql
Labels: type/feature, user-facing-changes

#8242 perf(stream,agg): reuse existing `count(*)` as internal row count agg call
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/append_only.yaml
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/global_simple_agg.rs
  src/stream/src/from_proto/hash_agg.rs
Labels: type/perf

#8237 fix: validate compatibility between connector and row format
  e2e_test/ddl/invalid_operation.slt
  e2e_test/source/basic/kafka.slt
  src/frontend/planner_test/tests/testdata/watermark.yaml
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/show.rs
Labels: type/fix, user-facing-changes

#8262 test: add nexmark_q106 into e2e tests
  e2e_test/streaming/nexmark/create_views.slt.part
  e2e_test/streaming/nexmark/drop_views.slt.part
  e2e_test/streaming/nexmark/q106.slt.part
  e2e_test/streaming/nexmark/test_mv_result.slt.part
  e2e_test/streaming/nexmark/views/q106.slt.part
Labels: component/test

#8249 refactor(optimizer): add avoid exchange share rule
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/order_by.yaml
  src/frontend/planner_test/tests/testdata/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/project_set.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/shared_views.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_share.rs
  src/frontend/src/optimizer/rule/avoid_exchange_share_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/refactor

#8236 feat(compaction): support split compaction group
  dashboard/proto/gen/hummock.ts
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/worker.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/sync_point_tests.rs
Labels: type/feature

#8235 refactor(meta): remove system params from `MetaOpts`
  src/common/src/system_param/mod.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/manager/system_param/model.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/system_params_service.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor

#8267 fix(frontend): Fix non-injectivity of `ColIndexMapping` for `LogicalJoin`
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/planner_test/tests/testdata/singleton.yaml
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/plan_node/derive.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/project_join_merge_rule.rs
Labels: type/fix

#8269 fix(optimizer): handle non-injective changes of `logical_rewrite_for_stream`
  src/common/src/util/column_index_mapping.rs
  src/frontend/src/optimizer/mod.rs
Labels: type/fix

#8276 refactor(deps): bump clap to v4
  Cargo.lock
  ci/scripts/regress-test.sh
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd/src/bin/compactor.rs
  src/cmd/src/bin/compute_node.rs
  src/cmd/src/bin/ctl.rs
  src/cmd/src/bin/frontend_node.rs
  src/cmd/src/bin/meta_node.rs
  src/cmd_all/Cargo.toml
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/playground.rs
  src/common/Cargo.toml
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/lib.rs
  src/ctl/Cargo.toml
  src/frontend/Cargo.toml
  src/meta/Cargo.toml
  src/meta/src/backup_restore/restore.rs
  src/meta/src/lib.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-config.rs
  src/storage/backup/cmd/Cargo.toml
  src/storage/backup/cmd/src/bin/backup_restore.rs
  src/storage/compactor/Cargo.toml
  src/tests/compaction_test/Cargo.toml
  src/tests/compaction_test/src/bin/compaction.rs
  src/tests/compaction_test/src/bin/delete_range.rs
  src/tests/regress/Cargo.toml
  src/tests/regress/README.md
  src/tests/regress/src/opts.rs
  src/tests/simulation/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/README.md
  src/workspace-hack/Cargo.toml
Labels: type/refactor, user-facing-changes

#8253 refactor: introduce memory control policy abstraction
  Cargo.lock
  src/compute/Cargo.toml
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/memory_management/policy.rs
  src/compute/src/server.rs
Labels: type/refactor

#8282 fix(test): fix the panic of repeated logger initialization
  src/tests/simulation/src/main.rs
Labels: type/fix

#8283 build(toolchain): bump toolchain to 2023-03-01
  Cargo.lock
  ci/build-ci-image.sh
  ci/docker-compose.yml
  rust-toolchain
  src/expr/src/vector_op/arithmetic_op.rs
  src/stream/src/executor/backfill.rs
  src/stream/src/executor/rearranged_chain.rs
  src/tests/regress/README.md
Labels: user-facing-changes, type/build

#8254 refactor: switch `async_stack_trace` to the crates.io version of `await-tree`
  Cargo.lock
  Cargo.toml
  docs/index.md
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/lib.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/rpc/service/stream_service.rs
  src/compute/src/server.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/Cargo.toml
  src/stream/src/executor/actor.rs
  src/stream/src/executor/backfill.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/stream_reader.rs
  src/stream/src/executor/subtask.rs
  src/stream/src/executor/wrapper.rs
  src/stream/src/executor/wrapper/trace.rs
  src/stream/src/task/stream_manager.rs
  src/utils/async_stack_trace/Cargo.toml
  src/utils/async_stack_trace/src/context.rs
  src/utils/async_stack_trace/src/lib.rs
  src/utils/async_stack_trace/src/manager.rs
  src/utils/async_stack_trace/src/tests.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor

#8272 feat(optimizer): reset expr id in more places
  src/frontend/planner_test/tests/testdata/common_table_expressions.yaml
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/order_by.yaml
  src/frontend/planner_test/tests/testdata/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/project_set.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/shared_views.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/stream_fragmenter/mod.rs
Labels: type/feature

#8287 fix: fix build on macos
  src/compute/src/memory_management/policy.rs
Labels: type/fix

#8295 fix(meta): allow `create table` have multiple state tables
  ci/scripts/e2e-source-test.sh
  e2e_test/source/cdc/cdc.check_new_rows.slt
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix

#8298 refactor(common): cleanup DataType const
  src/common/benches/bench_row.rs
  src/common/src/array/arrow.rs
  src/common/src/types/mod.rs
  src/connector/src/source/nexmark/source/combined_event.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_meta_snapshot.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_extended.rs
Labels: type/refactor

#8305 chore: bypass connector node ci when unnecessary
  .github/workflows/connector-node-integration.yml
Labels: type/chore

#8294 fix: using multiple etcd nodes for meta-node
  src/meta/src/rpc/election_client.rs
  src/meta/src/rpc/server.rs
  src/meta/src/storage/wrapped_etcd_client.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/fix

#8312 fix(ci): add build depends for sqlsmith
  ci/workflows/pull-request.yml
  docs/developer-guide.md
Labels: type/fix

#8222 feat: pulsar oauth
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/source/pulsar/admin/client.rs
  src/connector/src/source/pulsar/admin/mod.rs
  src/connector/src/source/pulsar/enumerator/client.rs
  src/connector/src/source/pulsar/mod.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#8314 fix(ci): avoid `end-to-end test (deterministic simulation)` timeout on `main-cron`
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
Labels: type/fix

#8306 fix(batch): fix lookup join lookups a singleton table
  e2e_test/batch/basic/lookup_join.slt.part
  src/common/src/util/scan_range.rs
Labels: type/fix

#8208 feat(frontend): support execute insert in local mode
  e2e_test/batch/basic/dml.slt.part
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/scheduler/local.rs
Labels: type/feature, user-facing-changes

#8317 fix: turn panic into warning when there's no enough memory for computing tasks
  src/compute/src/server.rs
Labels: type/fix

#8307 feat(java-binding): support setting vnodes to read in java-binding read plan
  dashboard/proto/gen/java_binding.ts
  proto/java_binding.proto
  src/java_binding/java/com_risingwave_java_binding_Binding.h
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/Demo.java
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/java_binding/src/iterator.rs
  src/java_binding/src/lib.rs
Labels: type/feature

#8260 feat(meta): improve param updating process when the cluster version upgrades
  src/common/src/system_param/mod.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/manager/system_param/model.rs
Labels: type/feature, mergify/can-merge

#8324 fix(cherry-pick): avoid panicking when there's no enough memory for computing tasks
  src/compute/src/server.rs
Labels: type/fix

#8327 feat(common): introduce Serial as Scalar and ScalarRef
  src/common/src/array/mod.rs
  src/common/src/array/serial_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/to_binary.rs
  src/common/src/util/value_encoding/mod.rs
Labels: type/feature

#8328 feat(risedev): risedev support for connector node
  Makefile.toml
  connector_node/.gitignore
  src/risedevtool/common.toml
  src/risedevtool/connector.toml
  src/risedevtool/src/bin/risedev-config.rs
Labels: type/feature

#8323 feat(stream): reduce unnecessary join keys as the logical pk of the join
  src/frontend/planner_test/tests/testdata/append_only.yaml
  src/frontend/planner_test/tests/testdata/common_table_expressions.yaml
  src/frontend/planner_test/tests/testdata/delta_join.yaml
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/planner_test/tests/testdata/mv_on_mv.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/project_set.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/shared_views.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/feature

#8309 fix(expr): `exp` follows PostgreSQL overflow/underflow behavior
  e2e_test/batch/functions/pow.slt.part
  src/expr/benches/expr.rs
  src/expr/src/error.rs
  src/expr/src/vector_op/exp.rs
  src/storage/src/hummock/file_cache/cache.rs
  src/storage/src/hummock/file_cache/file.rs
  src/storage/src/hummock/file_cache/test_utils.rs
Labels: user-facing-changes

#8332 refactor(storage): reduce unnecessary full key encode
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/key_cmp.rs
  src/storage/hummock_sdk/src/key_range.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/prost_key_range.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
Labels: type/refactor

#8304 chore: refactor wrapped etcd client with macro
  src/meta/src/rpc/election_client.rs
  src/meta/src/rpc/server.rs
  src/meta/src/storage/wrapped_etcd_client.rs
Labels: type/chore

#8336 fix(meta): allow multiple internal tables while dropping table
  e2e_test/source/basic/datagen.slt
  src/common/src/field_generator/timestamp.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix

#8330 feat(dashboard): dump await-tree of compute nodes
  dashboard/components/Layout.tsx
  dashboard/components/SpinnerOverlay.tsx
  dashboard/mock-server.js
  dashboard/mock/fetch.sh
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/_app.tsx
  dashboard/pages/api/cluster.ts
  dashboard/pages/api/fetch.ts
  dashboard/pages/await_tree.tsx
  dashboard/pages/streaming_plan.tsx
  src/meta/src/dashboard/mod.rs
  src/meta/src/rpc/server.rs
Labels: type/feature

#8271 feat(system param): sync param changes to worker nodes
  dashboard/proto/gen/meta.ts
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/common/src/system_param/local_manager.rs
  src/compute/src/lib.rs
  src/compute/src/observer/mod.rs
  src/compute/src/observer/observer_manager.rs
  src/compute/src/server.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/notification.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/system_params_service.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/compactor/src/server.rs
  src/storage/src/opts.rs
Labels: type/feature, mergify/can-merge

#8308 ci: use parallel instead of MADSIM_TEST_NUM for scale test
  ci/scripts/deterministic-scale-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
Labels: component/ci

#8326 fix: reduce debuginfo size
  Cargo.toml
  ci/scripts/build.sh
  docker/Dockerfile
  docker/aws/aws-build.sh
Labels: type/fix

#8331 fix: Fix task leak when task failed
  proto/task_service.proto
  src/batch/src/execution/local_exchange.rs
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/error.rs
Labels: type/fix, component/batch, breaking-change

#8292 fix(test): replay SET statements after recovery
  src/tests/simulation/src/client.rs
  src/tests/simulation/src/slt.rs
  src/tests/simulation/tests/it/nexmark_q4.rs
Labels: type/fix

#8353 test(regress): enable date
  src/expr/src/vector_op/date_trunc.rs
  src/frontend/src/binder/select.rs
  src/tests/regress/data/expected/date.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/date.sql
Labels: component/test

#8350 fix(ndstream): bad segments when data is large
  src/connector/src/source/filesystem/nd_streaming.rs
Labels: type/fix

#8343 feat(sqlsmith): extract failing queries from snapshot
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/run-fuzz-test.sh
  src/tests/sqlsmith/scripts/fuzzing-golden.sql
  src/tests/sqlsmith/scripts/fuzzing-sample.log
  src/tests/sqlsmith/scripts/gen_queries.sh
  src/tests/sqlsmith/src/runner.rs
Labels: type/feature

#8362 fix(batch): Fix task report status unspecified.
  src/batch/src/task/task_execution.rs
Labels: type/fix

#8352 feat(frontend): support `DROP COLUMN`
  e2e_test/ddl/alter_table_column.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/mod.rs
  src/meta/src/error.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/feature

#8274 feat(batch): support auto execution mode
  e2e_test/batch/issue_7324.slt
  src/common/src/session_config/mod.rs
  src/common/src/session_config/query_mode.rs
  src/common/src/util/scan_range.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_limit.rs
  src/frontend/src/optimizer/plan_visitor/execution_mode_decider.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature

#8339 fix(pgwire): infer query type using parser rather than naive string comparison
  e2e_test/extended_query/basic.slt
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/variable.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/fix

#8363 test(regress): enable time
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/vector_op/extract.rs
  src/tests/regress/data/expected/time.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/time.sql
Labels: component/test

#8372 fix: fix storage read iter metrics
  src/storage/src/monitor/monitored_store.rs
Labels: type/fix

#8381 refactor(proto): unify protobuf types to represent column index and column ref
  dashboard/proto/gen/batch_plan.ts
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/expr.ts
  dashboard/proto/gen/stream_plan.ts
  proto/batch_plan.proto
  proto/catalog.proto
  proto/expr.proto
  proto/stream_plan.proto
  src/batch/benches/filter.rs
  src/batch/benches/hash_agg.rs
  src/batch/benches/hash_join.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/src/executor/filter.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/hop_window.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/sort_agg.rs
  src/compute/tests/integration_tests.rs
  src/expr/benches/expr.rs
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_in.rs
  src/expr/src/expr/expr_input_ref.rs
  src/expr/src/expr/test_utils.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/meta/src/stream/test_fragmenter.rs
  src/source/src/source_desc.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/agg_common.rs
  src/stream/src/from_proto/hop_window.rs
  src/stream/src/from_proto/source.rs
Labels: type/refactor

#8320 feat(connector): introduce sink validation in connector node
  dashboard/proto/gen/connector_service.ts
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkFactory.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/ConnectorServiceImpl.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSinkFactory.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/PrintSinkFactory.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkStreamObserver.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkValidationHandler.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSink.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkFactory.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkUtil.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  proto/connector_service.proto
Labels: type/feature

#8386 test(regress): re-generate expected output using default DateStyle and IntervalStyle
  src/tests/regress/data/expected/timestamp.out
  src/tests/regress/data/expected/timestamptz.out
  src/tests/regress/data/sql/timestamp.sql
  src/tests/regress/data/sql/timestamptz.sql
Labels: component/test

#8384 fix(connector-node): upgrade log4j from 1.2 to 2.20
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/pom.xml
Labels: type/fix

#8393 feat(watermark): add watermark derivation for watermark filter
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
Labels: type/feature

#8389 feat(java-binding): generate java binding demo data by a script
  java/common-utils/src/main/java/com/risingwave/java/utils/MetaClient.java
  java/common-utils/src/main/java/com/risingwave/java/utils/VnodeHelper.java
  java/common-utils/src/test/java/com/risingwave/connector/utils/VnodeHelperTest.java
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/Demo.java
  src/java_binding/gen-demo-insert-data.py
  src/java_binding/run_demo.sh
Labels: type/feature

#8347 feat(storage): use Bytes for key specified in get and iter
  src/batch/src/executor/insert.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#8370 fix: docker-compose.yml: expose ports
  docker/docker-compose.yml
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
Labels: type/fix

#8399 fix: fix query hang when CN get killed
  e2e_test/batch/basic/lookup_join.slt.part
  src/batch/src/task/task_execution.rs
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix

#8402 fix(executor, frontend): Lookup join should not have unaligned eq keys
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
Labels: type/fix

#8409 fix: Increase scale test timeout
  ci/workflows/main.yml
Labels: type/fix

#8387 fix: caching meta clients with a more tolerant policy to fix some issues in meta service discovery
  Cargo.lock
  src/rpc_client/Cargo.toml
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/tests/simulation/src/cluster.rs
Labels: type/fix

#8411 fix: Increase timeout of determined scaling test
  ci/workflows/main-cron.yml
Labels: type/fix

#8401 fix(watermark): test watermark's derivation in optimizer & fix some bugs.
  src/common/src/types/interval.rs
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/watermark.yaml
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/generic/union.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
Labels: type/fix

#8400 test(doc): Add test cases for examples in user docs
  e2e_test/user_doc/user_doc.slt
Labels: component/test

#8397 test(regress): enable timestamp
  src/common/src/session_config/mod.rs
  src/tests/regress/data/expected/timestamp.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/timestamp.sql
  src/tests/regress/src/schedule.rs
Labels: component/test

#8403 fix(executor, frontend): `BatchHopWindow` executor should derive window expr in frontend
  dashboard/proto/gen/batch_plan.ts
  e2e_test/batch/basic/time_window_utc.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/hop_window.rs
  src/expr/src/expr/test_utils.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
Labels: type/fix

#8325 feat(config): warn unrecognized field instead of panicking
  src/common/src/config.rs
Labels: type/feature, component/common

#8404 fix(streaming): use correct dist key in pk in state table for hash join
  dashboard/proto/gen/catalog.ts
  e2e_test/streaming/bug_fixes/issue_7698.slt
  proto/catalog.proto
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/fix

#8356 test: s3 source E2E
  ci/scripts/s3-source-test.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/run.py
Labels: component/test

#8422 refactor: Use async function in trait rather GAT to simplify code
  src/batch/src/lib.rs
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/consistent_hash_shuffle_channel.rs
  src/batch/src/task/fifo_channel.rs
  src/batch/src/task/hash_shuffle_channel.rs
Labels: type/refactor

#8425 chore: report error when using APPEND ONLY with debug assertions off
  src/sqlparser/src/parser.rs
Labels: type/chore

#8424 feat(now executor): now executor will send watermark
  src/stream/src/executor/now.rs
Labels: type/feature

#8426 refactor(proto): auto derive a Pb-prefixed alias for proto message types
  src/common/src/catalog/column.rs
  src/prost/helpers/src/lib.rs
Labels: type/refactor

#8414 feat(connector-node): docker build connector node using local source code
  ci/connector-node-version
  ci/scripts/docker.sh
  ci/scripts/release.sh
  docker/Dockerfile
  java/connector-node/Dockerfile
  src/java_binding/run_demo.sh
Labels: type/feature

#8416 refactor(proto): unify order-related types in proto
  dashboard/components/Relations.tsx
  dashboard/proto/gen/batch_plan.ts
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/common.ts
  dashboard/proto/gen/expr.ts
  dashboard/proto/gen/order.ts
  dashboard/proto/gen/plan_common.ts
  dashboard/proto/gen/stream_plan.ts
  proto/batch_plan.proto
  proto/catalog.proto
  proto/common.proto
  proto/expr.proto
  proto/plan_common.proto
  proto/stream_plan.proto
  src/batch/benches/hash_agg.rs
  src/batch/src/executor/group_top_n.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/top_n.rs
  src/common/src/catalog/physical_table.rs
  src/common/src/util/sort_util.rs
  src/connector/src/sink/catalog/mod.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/build.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_utils.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/from_proto/agg_common.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/chain.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/group_top_n_appendonly.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/from_proto/mview.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/src/from_proto/top_n_appendonly.rs
Labels: type/refactor

#8415 fix(executor, frontend): `StreamHopWindow` executor should derive window expr in frontend
  dashboard/proto/gen/stream_plan.ts
  e2e_test/streaming/time_window.slt
  proto/stream_plan.proto
  src/batch/src/executor/hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/from_proto/hop_window.rs
Labels: type/fix, breaking-change

#8429 fix(connector-node): promethus listen port
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/ConnectorNodeMetrics.java
Labels: type/fix

#8431 ci: reuse nextest archive for scale test
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/deterministic-scale-test.sh
Labels: component/ci

#8433 test(regress): re-generate expected/interval.out using default IntervalStyle
  src/tests/regress/data/expected/interval.out
  src/tests/regress/data/sql/interval.sql
Labels: component/test

#5335 feat(compaction): cut file by table
  dashboard/proto/gen/hummock.ts
  proto/hummock.proto
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: component/meta, component/storage

#8438 test(regress): enable interval
  src/frontend/src/binder/select.rs
  src/tests/regress/data/expected/interval.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/interval.sql
Labels: component/test

#8437 fix(batch): Report data error in distributed mode correctly.
  e2e_test/batch/basic/query.slt.part
  src/batch/src/error.rs
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/consistent_hash_shuffle_channel.rs
  src/batch/src/task/fifo_channel.rs
  src/batch/src/task/hash_shuffle_channel.rs
  src/batch/src/task/task_execution.rs
Labels: type/fix

#8442 fix(stream): WatermarkFilter shouldn't asumed all vnodes have records
  src/stream/src/executor/watermark_filter.rs
Labels: type/fix

#8445 fix: Remove temporary workaround.
  e2e_test/batch/issue_7324.slt
Labels: type/fix

#8421 feat(common): support from_binary and from_text in ScalarImpl
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/decimal.rs
  src/common/src/types/mod.rs
Labels: type/feature

#8297 feat(storage): monitor avg_key_size and avg_epoch_count
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/monitor/compactor_metrics.rs
Labels: type/feature

#8456 refactor(common): cleanup unused methods on `IntervalUnit`
  src/common/src/array/interval_array.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
Labels: type/refactor

#8412 feat(temporal-join): Temporal join executor
  src/stream/src/executor/mod.rs
  src/stream/src/executor/temporal_join.rs
Labels: type/feature

#8406 chore: change storage log level to WARN for playground
  src/cmd_all/src/bin/risingwave.rs
Labels: type/chore

#8464 refactor(common): make certain `IntervalUnit` constructors test-only
  src/batch/src/executor/hop_window.rs
  src/common/src/array/arrow.rs
  src/common/src/array/interval_array.rs
  src/common/src/types/interval.rs
  src/expr/benches/expr.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/expr_literal.rs
  src/expr/src/table_function/generate_series.rs
  src/expr/src/vector_op/tests.rs
  src/frontend/src/binder/expr/value.rs
  src/stream/src/executor/hop_window.rs
Labels: type/refactor

#8461 fix(sink): fix connector node sink json payload serialization
  Makefile.toml
  ci/scripts/e2e-iceberg-sink-test.sh
  e2e_test/sink/iceberg_sink.slt
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/TableSchema.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JsonDeserializer.java
  src/risedevtool/connector.toml
Labels: type/fix

#8427 chore: update and add connector-node to docker-compose.yml
  docker/docker-compose.yml
  docker/prometheus.yaml
Labels: type/chore

#8420 feat(test): optimize set stmts in simulation to avoid duplicate replay
  Cargo.lock
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/client.rs
Labels: type/feature

#8455 refactor(optimizer): move some methods into core struct && refactor the join's predicate push down
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
Labels: type/refactor

#8334 test(connector): add test cases for debezium json test
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/converters/DatetimeTypeConverter.java
  java/connector-node/risingwave-source-test/pom.xml
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/MySQLSourceTest.java
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/PostgresSourceTest.java
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/SourceTestClient.java
  java/connector-node/risingwave-source-test/src/test/resources/my.cnf
  java/connector-node/risingwave-source-test/src/test/resources/orders.tbl
  java/connector-node/risingwave-source-test/src/test/resources/stored_queries.properties
  java/pom.xml
  src/common/src/types/chrono_wrapper.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/macros.rs
Labels: component/test

#8462 fix: revert extension of scaling test timeout
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
Labels: type/fix

#8477 refactor: Remove state reporter for local mode
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
Labels: type/refactor

#8468 fix(recovery): wait_epoch should be called in recovery (close #8467)
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix

#7623 test(recovery): add recovery test for nexmark stream
  Makefile.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/it/main.rs
  src/tests/simulation/tests/it/nexmark_recovery.rs
Labels: component/test

#8463 feat(connector): unified csv parser
  Cargo.lock
  ci/scripts/s3-source-test.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/run_csv.py
  src/connector/Cargo.toml
  src/connector/src/macros.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
Labels: type/feature, component/connector

#8466 feat(streaming): Temporal join part2
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/temporal_join.rs
Labels: type/feature

#8484 fix(compaction group): trivial adjust should also increase divide ver…
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#8487 fix(connector): fix logging after bump to log4j2
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/resources/log4j.properties
  java/connector-node/risingwave-connector-service/src/main/resources/log4j2.properties
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/pom.xml
Labels: type/fix, user-facing-changes

#8486 chore(sqlparser): add do-apply-parser-test
  Cargo.lock
  Makefile.toml
  src/cmd_all/Cargo.toml
  src/sqlparser/test_runner/Cargo.toml
  src/sqlparser/test_runner/sqlparser_test.toml
  src/sqlparser/test_runner/src/bin/apply.rs
  src/sqlparser/test_runner/src/lib.rs
  src/sqlparser/tests/testdata/.gitignore
  src/sqlparser/tests/testdata/alter.yaml
  src/sqlparser/tests/testdata/array.yaml
  src/sqlparser/tests/testdata/create.yaml
  src/sqlparser/tests/testdata/drop.yaml
  src/sqlparser/tests/testdata/drop_index.yaml
  src/sqlparser/tests/testdata/insert.yaml
  src/sqlparser/tests/testdata/precedence.yaml
  src/sqlparser/tests/testdata/privilege.yaml
  src/sqlparser/tests/testdata/select.yaml
  src/sqlparser/tests/testdata/show.yaml
  src/sqlparser/tests/testdata/struct.yaml
Labels: type/chore

#8465 feat(parser): report nearby tokens when parse failed
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/array.yaml
  src/sqlparser/tests/testdata/create.yaml
  src/sqlparser/tests/testdata/insert.yaml
  src/sqlparser/tests/testdata/select.yaml
Labels: type/feature

#8383 feat(storage): limit hummock write based on LSM tree stats
  dashboard/proto/gen/hummock.ts
  dashboard/proto/gen/meta.ts
  proto/hummock.proto
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/rpc/service/notification_service.rs
  src/storage/hummock_test/src/mock_notification_client.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/write_limiter.rs
Labels: type/feature

#8450 fix: improve CDC connector param check
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.validate.postgres.slt
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/source/ConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/SourceRequestHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/core/SourceHandlerFactory.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/mysql/MySqlSourceConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/postgres/PostgresSourceConfig.java
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
Labels: type/fix, user-facing-changes

#8479 refactor: use a macro for logical vs physical type matching
  src/common/src/types/mod.rs
  src/common/src/util/schema_check.rs
Labels: type/refactor

#8475 feat: user configurable memory control policy
  risedev.yml
  src/compute/src/lib.rs
  src/compute/src/memory_management/policy.rs
  src/compute/src/server.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
Labels: type/feature

#8476 feat(sink): set parallelism of iceberg sink to 1
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/feature

#8419 refactor(storage): sstable and block level interfaces use fullkey struct
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/storage/benches/bench_block_iter.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/block_iterator.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/refactor

#8498 fix(streaming): hop executor handle watermark
  src/stream/src/executor/hop_window.rs
Labels: type/fix

#8494 fix(common): only warn on dropping non-empty builder
  src/common/src/util/chunk_coalesce.rs
  src/stream/src/common/builder.rs
Labels: type/fix

#8497 feat(frontend): support SET SESSION CHARACTERISTICS AS TRANSACTION
  src/frontend/src/handler/mod.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes

#8480 feat(streaming): support temporal join part 3
  e2e_test/streaming/temporal_join.slt
  src/frontend/planner_test/tests/testdata/temporal_join.yaml
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/plan_visitor/temporal_join_validator.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/test_utils.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/utils.rs
Labels: type/feature, user-facing-changes

#8478 refactor: ExchangeWriter should report error throught status
  src/batch/src/error.rs
  src/batch/src/rpc/service/exchange.rs
  src/batch/src/task/task_execution.rs
Labels: type/refactor

#8501 fix(common): interval should have microsecond precision
  dashboard/proto/gen/data.ts
  e2e_test/batch/types/interval.slt.part
  e2e_test/batch/types/temporal_arithmetic.slt.part
  proto/data.proto
  src/batch/src/executor/order_by.rs
  src/common/src/array/arrow.rs
  src/common/src/array/column_proto_readers.rs
  src/common/src/hash/key.rs
  src/common/src/row/owned_row.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/tumble.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/stream/src/executor/watermark_filter.rs
Labels: type/fix, user-facing-changes, breaking-change

#8506 fix(streaming): map watermark in dispatcher with output indices
  src/stream/src/executor/backfill.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/rearranged_chain.rs
Labels: type/fix

#8505 feat(backup): support mutating backup config
  src/common/src/system_param/mod.rs
  src/compute/src/server.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/rpc/server.rs
  src/storage/backup/integration_tests/run_all.sh
  src/storage/backup/integration_tests/test_set_config.sh
  src/storage/backup/src/storage.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#8519 fix(optimizer): ban scalar subquery for project set
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/src/optimizer/plan_visitor/max_one_row_visitor.rs
Labels: type/fix

#8385 refactor: use u16 representation for virtual node
  src/common/src/hash/consistent_hash/vnode.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
Labels: type/refactor, breaking-change

#8417 feat(meta): introduce sink validation in meta
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkValidationHandler.java
  src/common/src/util/addr.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/service/meta_member_service.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/sink.rs
  src/rpc_client/src/connector_client.rs
Labels: type/feature

#8527 fix(ci): exclude `go.mod` and `go.sum` files for typos
  .typos.toml
Labels: type/fix

#8520 fix(streaming): ignore null stream key from full outer join to workaround
  e2e_test/streaming/bug_fixes/issue_8084.slt
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix

#8515 feat(batch): Support index selection for sort aggregation with a descending ordering
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Labels: type/feature

#8504 refactor: refine conditional compilation for mem control on different OSs
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/memory_management/policy.rs
  src/compute/src/server.rs
Labels: type/refactor

#8526 fix(ci): increase scaling test timeout for nexmark recovery test
  ci/workflows/main.yml
Labels: type/fix

#8513 refactor: move row_id to common
  src/common/src/util/mod.rs
  src/common/src/util/row_id.rs
  src/source/src/lib.rs
  src/stream/src/executor/row_id_gen.rs
Labels: type/refactor

#8523 fix(ci): run entire snapshot in `main`, `pr` and `main-cron` workflows
  ci/scripts/deterministic-e2e-test.sh
  ci/workflows/pull-request.yml
  src/tests/sqlsmith/scripts/gen_queries.sh
  src/tests/sqlsmith/src/sql_gen/scalar.rs
Labels: type/fix

#8531 chore(batch): reuse common logical for index selection
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
Labels: type/chore

#8508 feat(connector): unify and simplify path config of minio and s3
  .gitignore
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink/create_sink.sql
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkFactory.java
  java/connector-node/risingwave-sink-iceberg/src/test/java/com/risingwave/connector/IcebergSinkFactoryTest.java
Labels: type/feature

#8535 fix(pgwire): process empty query correctly
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/tests/js/test/pgwire.test.ts
Labels: type/fix

#8533 refactor(streaming): only scan necessary columns in backfill
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/common/src/catalog/column.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/executor/backfill.rs
  src/stream/src/from_proto/chain.rs
Labels: type/refactor

#8453 feat(frontend): support infer param in binder
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/expr/expr_mutator.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/expr_visitor.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/parameter.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
Labels: type/feature

#8540 refactor(optimizer): move fd derive into core
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/expand.rs
  src/frontend/src/optimizer/plan_node/generic/filter.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/generic/project_set.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/generic/share.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/generic/union.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_share.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_derive.rs
Labels: type/refactor

#8524 fix: move sst meta offset to the end of the object
  src/storage/src/hummock/sstable/mod.rs
Labels: type/fix, breaking-change

#8379 feat(storage): flexible KeyPrefix encoding for Block
  src/storage/benches/bench_block_iter.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/block_iterator.rs
  src/storage/src/lib.rs
Labels: type/feature

#8514 refactor(compactor): remove useless code
  src/storage/src/hummock/compactor/iterator.rs
Labels: type/refactor

#8542 feat(sst id): avoid SST ID gap when generating
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/feature

#8546 test(stream): add state cleaning test
  Cargo.lock
  Cargo.toml
  src/stream/src/error.rs
  src/tests/state_cleaning_test/Cargo.toml
  src/tests/state_cleaning_test/README.md
  src/tests/state_cleaning_test/data/agg.toml
  src/tests/state_cleaning_test/src/bin/main.rs
  src/workspace-hack/Cargo.toml
Labels: component/test

#8507 feat(sqlsmith): add statement-level reducer
  Cargo.lock
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/scripts/gen_queries.sh
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/utils.rs
Labels: type/feature

#8536 refactor(fragmenter): remove `is_singleton` workarounds on `Chain`
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/common/src/hash/consistent_hash/mapping.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor

#8392 feat(common): Add support for DataType::Serial
  dashboard/proto/gen/data.ts
  proto/data.proto
  src/common/src/hash/dispatcher.rs
  src/common/src/types/mod.rs
  src/common/src/types/postgres_type.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/common.rs
  src/expr/src/expr/expr_binary_nullable.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
  src/utils/pgwire/src/pg_extended.rs
Labels: type/feature
