Repository risingwavelabs/risingwave, pull requests merged in 2023-04, with the labels that each got.

#8765 fix(move table): apply version correctly (close #8764)
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#8930 refactor(plan_node): simplify agg-related nodes
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
Labels: type/refactor

#8931 fix(ci): quick fix for main cron ci
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
Labels: type/fix

#8921 test(regress): enable `case` (also covers `coalesce` `nullif`)
  src/tests/regress/data/expected/case.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/case.sql
Labels: component/test

#8914 feat(e2esinktest): switch to stream_chunk
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/mysql_expected_result.tsv
Labels: type/feature

#8799 fix(connector): dbz source handler avoid oom more elegantly
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/core/DbzSourceHandler.java
Labels: type/fix

#8945 fix(shared buffer): shared buffer consistency issue (close #8944)
  src/storage/src/hummock/event_handler/uploader.rs
Labels: type/fix

#8929 fix(delete range): maintain unused iters in `seek` (close #8928)
  src/storage/src/hummock/iterator/delete_range_iterator.rs
Labels: type/fix

#8874 feat(streaming): introduce dedup cache and append-only dedup executor
  src/stream/src/executor/dedup/append_only_dedup.rs
  src/stream/src/executor/dedup/cache.rs
  src/stream/src/executor/dedup/mod.rs
  src/stream/src/executor/mod.rs
Labels: type/feature

#8947 fix: unstable test by checking cardinality instead of actual values
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix

#8865 feat: encode JSON in the same way as debezium
  Cargo.lock
  src/common/src/types/interval.rs
  src/connector/Cargo.toml
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
Labels: type/feature

#8952 test(regress): enable `strings`
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/strings.sql
Labels: component/test

#8757 feat(sink): reject invalid options when creating sink
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/create_sink_as.slt
  e2e_test/sink/remote/jdbc.load.slt
  integration_tests/mysql-sink/create_mv.sql
  integration_tests/postgres-sink/create_mv.sql
  integration_tests/tidb-cdc-sink/create_mv.sql
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/CommonSinkConfig.java
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSink.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSinkConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSinkFactory.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkValidationHandler.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/FileSinkTest.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkConfig.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkFactory.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkConfig.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkFactory.java
  java/connector-node/risingwave-sink-iceberg/src/test/java/com/risingwave/connector/IcebergSinkFactoryTest.java
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkConfig.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  java/connector-node/risingwave-sink-jdbc/src/test/java/com/risingwave/connector/JDBCSinkTest.java
  src/connector/src/sink/console.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/meta/src/stream/sink.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#8890 chore(metrics): add and correct some description of metrics shown on Grafana
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/meta/src/rpc/metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/chore, user-facing-changes

#8913 chore(release): update release version and fix ci release script
  Cargo.lock
  Cargo.toml
  README.md
  ci/scripts/release.sh
  src/sqlparser/Cargo.toml
Labels: type/chore

#8960 refactor: Add backtrace for risedev
  Makefile.toml
  src/risedevtool/Cargo.toml
Labels: type/refactor

#8955 refactor(risedev): replace std::fs with fs_err
  Cargo.lock
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-config.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/bin/risedev-docslt.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/compose_deploy.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/config_gen/grafana_gen.rs
  src/risedevtool/src/task/etcd_service.rs
  src/risedevtool/src/task/grafana_service.rs
  src/risedevtool/src/task/kafka_service.rs
  src/risedevtool/src/task/minio_service.rs
  src/risedevtool/src/task/prometheus_service.rs
  src/risedevtool/src/task/zookeeper_service.rs
  src/risedevtool/src/wait.rs
Labels: type/refactor

#8932 refactor(plan_node): simplify `Expand` and `Filter`
  src/frontend/src/optimizer/plan_node/batch_expand.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/generic/expand.rs
  src/frontend/src/optimizer/plan_node/generic/filter.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/scheduler/distributed/query.rs
Labels: type/refactor

#8956 fix: use original lru crate in meta client and simulation
  Cargo.lock
  src/rpc_client/Cargo.toml
  src/rpc_client/src/meta_client.rs
  src/tests/simulation/Cargo.toml
Labels: type/fix

#8972 fix(test): clean-up temporary config file
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
  src/tests/simulation/src/risingwave-scale.toml
Labels: type/fix

#8970 fix(expr): fix `lpad` and `rpad` on empty fill string
  src/expr/src/vector_op/string.rs
  src/tests/regress/data/sql/strings.sql
Labels: type/fix, user-facing-changes

#8974 refactor: Remove unused code
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/session.rs
Labels: type/refactor

#8977 fix(ci): fix docker release scripts
  ci/scripts/release.sh
Labels: type/fix

#8980 feat(metric): add metric for object size and count
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  proto/hummock.proto
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/feature

#8830 feat: support `date_part` function and more fields for `extract`
  e2e_test/batch/duckdb/join/iejoin/test_iejoin.test.slt.part
  proto/expr.proto
  src/common/src/array/arrow.rs
  src/common/src/array/interval_array.rs
  src/common/src/types/chrono_wrapper.rs
  src/common/src/types/interval.rs
  src/common/src/util/value_encoding/mod.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/extract.rs
  src/expr/src/vector_op/tumble.rs
  src/frontend/src/binder/expr/function.rs
  src/tests/regress/data/expected/interval.out
  src/tests/regress/data/sql/date.sql
  src/tests/regress/data/sql/interval.sql
  src/tests/regress/data/sql/time.sql
Labels: type/feature, user-facing-changes

#8959 fix: fix cargo audit issues and add audit to ci
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/check.sh
  ci/workflows/pull-request.yml
  src/common/Cargo.toml
  src/common/src/monitor/process_linux.rs
  src/connector/Cargo.toml
  src/rpc_client/Cargo.toml
  src/storage/Cargo.toml
Labels: type/fix

#8983 chore: notify function separately rather than inside the relation group
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/chore

#8987 feat(frontend): support update column to default value
  e2e_test/batch/basic/dml.slt.part
  src/frontend/planner_test/tests/testdata/update.yaml
  src/frontend/src/binder/update.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/feature

#8958 fix(udf): fix decimal and list types for UDF
  Cargo.lock
  e2e_test/udf/python.slt
  e2e_test/udf/test.py
  src/common/Cargo.toml
  src/common/src/array/arrow.rs
  src/expr/Cargo.toml
  src/frontend/Cargo.toml
  src/udf/Cargo.toml
  src/udf/python/example.py
  src/udf/python/risingwave/udf.py
  src/udf/python/setup.py
  src/udf/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/fix, user-facing-changes

#8990 fix: drop table with watermark panic
  e2e_test/ddl/table/watermark.slt.part
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix

#8967 ci: reduce java-binding log
  ci/workflows/pull-request.yml
  src/java_binding/make-java-binding.toml
Labels: component/ci

#8984 feat(common): introduce Int256/Uint256 as Scalar and ScalarRef
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/types/mod.rs
  src/common/src/types/num256.rs
  src/common/src/types/to_binary.rs
  src/common/src/util/value_encoding/mod.rs
Labels: type/feature

#8948 test: add e2e tests for natural join and cross join
  e2e_test/batch/join/natural_and_cross_join.slt
  e2e_test/streaming/natural_and_cross_join.slt
Labels: component/test

#8993 chore(common): add more benchmark cases for hash key
  src/common/benches/bench_hash_key_encoding.rs
Labels: type/chore

#8997 chore: add metrics for native chunk
  src/connector/src/macros.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
Labels: type/chore

#8994 feat(grafana): introduce a new dashboard to dsiplay user facing metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  docker/docker-compose.yml
  docker/grafana-risedev-dashboard.yml
  docker/risingwave-dashboard.json
  grafana/README.md
  grafana/common.py
  grafana/generate.sh
  grafana/risingwave-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  grafana/update.sh
  src/risedevtool/src/config_gen/grafana_gen.rs
Labels: type/feature

#8992 refactor(frontend): refine extended handle
  src/frontend/src/handler/extended_handle.rs
  src/tests/e2e_extended_mode/src/test.rs
Labels: type/refactor

#8998 feat(binder): support some alternate names for existing exprs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/tests/regress/data/sql/float4.sql
  src/tests/regress/data/sql/float8.sql
  src/tests/regress/data/sql/strings.sql
Labels: type/feature, user-facing-changes

#8954 feat(frontend):support pull_up_hop rule
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/join_project_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/pull_up_hop_rule.rs
Labels: type/feature

#9003 fix(udf): fix wrong number of rows
  src/expr/src/expr/expr_udf.rs
  src/udf/src/lib.rs
Labels: type/fix

#9006 fix(risedev): auto build connector node
  Makefile.toml
Labels: type/fix

#9007 fix(binder): multiple unions should retain the same cte_to_relation context
  e2e_test/batch/basic/cte.slt.part
  src/frontend/src/binder/set_expr.rs
Labels: type/fix

#9010 perf(hash join): do not store null rows (close #9009)
  src/stream/src/executor/hash_join.rs
Labels: type/perf

#9018 bench(common): add more benchmark cases for unaligned number of keys
  src/common/benches/bench_hash_key_encoding.rs
Labels: Invalid PR Title

#9011 refactor(plan_node): `TopN` simplification
  src/frontend/src/optimizer/plan_node/batch_group_topn.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
Labels: type/refactor

#8907 feat(source): introduce create/show connection statement
  proto/catalog.proto
  proto/ddl_service.proto
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/connector/src/source/kafka/mod.rs
  src/ctl/src/cmd_impl/meta/connection.rs
  src/ctl/src/lib.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/connection_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/drop_connection.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/cloud_provider.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/storage/backup/src/meta_snapshot.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes

#9000 fix(expr): align `position` syntax and `strpos` semantic with SQL standard
  proto/expr.proto
  src/expr/src/vector_op/position.rs
  src/expr/src/vector_op/string.rs
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/meta/src/manager/catalog/utils.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/tests/regress/data/sql/strings.sql
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: type/fix, user-facing-changes, breaking-change

#8891 refactor(stream sort): use new `SortBuffer` in `SortExecutor`
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/sort_buffer.rs
  src/stream/src/executor/sort_v0.rs
  src/stream/src/from_proto/sort.rs
Labels: type/refactor

#8981 fix: fix some check and clean for drop database and schema
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix

#9008 fix: ban types when creating sink
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/remote/types.slt
  src/connector/src/sink/remote.rs
Labels: type/fix

#7640 test: simulate for worker node heartbeat timeout
  Cargo.lock
  ci/workflows/pull-request.yml
  src/compute/src/server.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/session.rs
  src/meta/src/rpc/server.rs
  src/prost/Cargo.toml
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/risingwave-scale.toml
  src/tests/simulation/src/slt.rs
Labels: component/test

#9022 feat(metric): add recovery metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/meta/src/barrier/recovery.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature

#9025 fix(udf): fix missing chunks
  Cargo.lock
  src/common/src/array/arrow.rs
  src/udf/Cargo.toml
  src/udf/src/lib.rs
Labels: type/fix

#8989 feat(common): introduce ArrayBuilder and Array for Int256/Uint256
  proto/data.proto
  src/common/src/array/arrow.rs
  src/common/src/array/mod.rs
  src/common/src/array/num256_array.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/num256.rs
Labels: type/feature

#9032 ci: increase timeout for e2e java-binding test
  ci/workflows/pull-request.yml
Labels: component/ci

#8395 feat(sqlsmith): Generate more join expressions
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/insert.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/feature

#9031 feat(metric): introduce an alert panel in grafana user dashboard
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
Labels: type/feature

#9035 perf(encoding): add benchmark for data chunk encoding
  src/common/Cargo.toml
  src/common/benches/bench_data_chunk_encoding.rs
  src/common/benches/bench_hash_key_encoding.rs
  src/common/src/test_utils/mod.rs
  src/common/src/test_utils/rand_chunk.rs
Labels: type/perf

#8985 fix(sqlparser): support more PostgreSQL `trim` syntax
  e2e_test/batch/functions/trim.slt.part
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/tests/regress/data/sql/strings.sql
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: type/fix, user-facing-changes

#9023 refactor(frontend): refactor query to reduce redundent code in extended mode
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/session.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/refactor

#8950 chore: deprecate console sink
  .github/workflows/connector-node-integration.yml
  e2e_test/ddl/invalid_operation.slt
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/PrintSink.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/PrintSinkFactory.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/PrintSinkTest.java
  src/connector/src/sink/console.rs
  src/connector/src/sink/mod.rs
Labels: type/chore

#8968 refactor: do not leak the nested runtime
  Cargo.lock
  Cargo.toml
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/common/src/util/mod.rs
  src/common/src/util/runtime.rs
  src/storage/src/hummock/compactor/compaction_executor.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/Cargo.toml
  src/utils/pgwire/src/pg_server.rs
Labels: type/refactor

#8995 feat: Implement GetSize for array
  src/common/src/array/bool_array.rs
  src/common/src/array/bytes_array.rs
  src/common/src/array/jsonb_array.rs
  src/common/src/array/list_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/num256_array.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/array/utf8_array.rs
  src/common/src/buffer/bitmap.rs
Labels: type/feature

#9043 chore: `rust_decimal` feature -db-tokio-postgres +maths
  Cargo.lock
  src/common/Cargo.toml
  src/tests/e2e_extended_mode/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore

#9039 refactor(metrics): fix cache metrics to be table id + actor id
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/refactor

#9044 refactor(plan_node): create `BatchPlanRef`, simplify `HopWindow` nodes
  src/frontend/src/optimizer/plan_node/batch.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
Labels: type/refactor

#9053 refactor(common): do not leak types on row
  src/common/src/row/owned_row.rs
  src/java_binding/src/lib.rs
Labels: type/refactor

#9057 fix(sink): allow parsing `bool` and `u32` for kafka sink config
  src/connector/src/lib.rs
  src/connector/src/sink/kafka.rs
Labels: type/fix

#8558 feat(sink): introduce log trait and adopt log reader and write in sink executor
  src/stream/src/common/log_store/mod.rs
  src/stream/src/common/mod.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#8976 feat(frontend): support functional indexes creation
  e2e_test/batch/catalog/pg_attribute.slt.part
  e2e_test/batch/catalog/pg_index.slt.part
  e2e_test/ddl/alter_table_column.slt
  e2e_test/ddl/index.slt
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/utils.rs
Labels: type/feature

#9050 feat: Estimate size for data chunk
  src/common/src/array/column.rs
  src/common/src/array/data_chunk.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/array/vis.rs
Labels: type/feature

#8946 feat(streaming): monitor materialize cache miss rate when handling pk conflict
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/from_proto/mview.rs
Labels: type/feature

#9071 fix(stream): fix inner interval join
  src/frontend/planner_test/tests/testdata/watermark.yaml
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
Labels: type/fix

#8926 ci: reuse some code across scripts
  ci/scripts/build-other.sh
  ci/scripts/build-simulation.sh
  ci/scripts/build.sh
  ci/scripts/check.sh
  ci/scripts/common.env.sh
  ci/scripts/common.sh
  ci/scripts/cron-e2e-test.sh
  ci/scripts/cron-fuzz-test.sh
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/deterministic-scale-test.sh
  ci/scripts/deterministic-unit-test.sh
  ci/scripts/docslt.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test.sh
  ci/scripts/java-binding-test.sh
  ci/scripts/misc-check.sh
  ci/scripts/pr-fuzz-test.sh
  ci/scripts/pr-unit-test.sh
  ci/scripts/regress-test.sh
  ci/scripts/release.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-fuzz-test.sh
  ci/scripts/s3-source-test-for-opendal-fs-engine.sh
  ci/scripts/s3-source-test.sh
  ci/scripts/unit-test.sh
Labels: component/ci

#9073 chore: remove Uint256 functionality and related code
  proto/data.proto
  src/common/src/array/arrow.rs
  src/common/src/array/mod.rs
  src/common/src/array/num256_array.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/num256.rs
  src/common/src/types/to_binary.rs
  src/common/src/util/value_encoding/mod.rs
Labels: type/chore

#9067 feat(optimizer): support functional index selection
  e2e_test/batch/basic/index.slt.part
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
Labels: type/feature

#9080 fix: reject ddl rather than panic when no available parallel units to schedule
  src/meta/src/stream/stream_graph/schedule.rs
Labels: type/fix

#9079 fix(expr): correctly handle unicode for substr
  e2e_test/batch/functions/substr.slt.part
  src/expr/src/vector_op/substr.rs
  src/tests/sqlsmith/src/validation.rs
Labels: type/fix

#9081 fix(planner): `stddev`/`var` rewriter panic due to mix use of pre/post project index
  e2e_test/batch/aggregate/stddev_and_variance.slt.part
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/fix

#9076 feat(stream): stream window join naming
  src/frontend/planner_test/tests/testdata/watermark.yaml
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
Labels: type/feature

#9078 feat(meta cache): stats meta cache unhit in prometheus
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/feature

#7368 perf(storage): Merge multiple imms in the staging version to a large one
  src/common/src/config.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/opts.rs
Labels: user-facing-changes, type/perf

#9087 refactor(common): remove `unwrap` from `memcmp_encoding` and improve `encode_row`
  src/batch/src/executor/group_top_n.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/top_n.rs
  src/common/src/util/memcmp_encoding.rs
  src/expr/src/vector_op/agg/array_agg.rs
  src/expr/src/vector_op/agg/string_agg.rs
Labels: type/refactor

#9089 chore: improve error msg
  src/connector/src/sink/mod.rs
Labels: type/chore

#9090 fix: timestamptz type mismatch
  src/connector/src/sink/mod.rs
Labels: type/fix

#9086 fix(parser): fetch json keys regardless of cases
  Cargo.lock
  e2e_test/source/basic/kafka.slt
  scripts/source/test_data/json_c.1
  src/connector/Cargo.toml
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
Labels: type/fix

#8634 feat: support gcs support with env credentials
  src/object_store/src/object/opendal_engine/gcs.rs
Labels: type/feature

#9085 fix(agg): `stddev` uses `sqrt` for decimal support
  e2e_test/batch/aggregate/stddev_and_variance.slt.part
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/fix

#9033 fix: specify isolation.level in kafka source
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
Labels: type/fix, user-facing-changes

#9095 fix(streaming): only disable sanity check for schema changable table
  src/stream/src/executor/mview/materialize.rs
Labels: type/fix

#9069 feat(test):add cancel query test
  Cargo.lock
  ci/scripts/deterministic-e2e-test.sh
  src/tests/e2e_extended_mode/Cargo.toml
  src/tests/e2e_extended_mode/README.md
  src/tests/e2e_extended_mode/src/lib.rs
  src/tests/e2e_extended_mode/src/main.rs
  src/tests/e2e_extended_mode/src/test.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/main.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/feature

#9100 refactor(optimizer): merge `limit` and `with_ties` info in top-n plan node
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/src/optimizer/plan_node/batch_group_topn.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_visitor/max_one_row_visitor.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Labels: type/refactor

#9102 feat: Add tests for estimated_heap_size of data chunk
  src/common/src/array/data_chunk.rs
Labels: type/feature

#8686 test: add create and drop sink test for nexmark
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  e2e_test/source/nexmark_endless_mvs/nexmark_endless_part1.slt
  e2e_test/source/nexmark_endless_mvs/nexmark_endless_part2.slt
  e2e_test/source/nexmark_endless_mvs/nexmark_endless_part3.slt
  e2e_test/source/nexmark_endless_mvs/nexmark_endless_part4.slt
  e2e_test/source/nexmark_endless_sinks/nexmark_endless_part1.slt
  e2e_test/source/nexmark_endless_sinks/nexmark_endless_part2.slt
  e2e_test/source/nexmark_endless_sinks/nexmark_endless_part3.slt
  e2e_test/source/nexmark_endless_sinks/nexmark_endless_part4.slt
  e2e_test/source/nexmark_endless_sinks/nexmark_endless_part5.slt
  e2e_test/source/nexmark_endless_sinks/nexmark_endless_part6.slt
  e2e_test/streaming/nexmark/sinks/q0.slt.part
  e2e_test/streaming/nexmark/sinks/q1.slt.part
  e2e_test/streaming/nexmark/sinks/q10.slt.part
  e2e_test/streaming/nexmark/sinks/q101.slt.part
  e2e_test/streaming/nexmark/sinks/q102.slt.part
  e2e_test/streaming/nexmark/sinks/q103.slt.part
  e2e_test/streaming/nexmark/sinks/q104.slt.part
  e2e_test/streaming/nexmark/sinks/q105.slt.part
  e2e_test/streaming/nexmark/sinks/q106.slt.part
  e2e_test/streaming/nexmark/sinks/q14.slt.part
  e2e_test/streaming/nexmark/sinks/q15.slt.part
  e2e_test/streaming/nexmark/sinks/q16.slt.part
  e2e_test/streaming/nexmark/sinks/q17.slt.part
  e2e_test/streaming/nexmark/sinks/q18.slt.part
  e2e_test/streaming/nexmark/sinks/q2.slt.part
  e2e_test/streaming/nexmark/sinks/q20.slt.part
  e2e_test/streaming/nexmark/sinks/q21.slt.part
  e2e_test/streaming/nexmark/sinks/q22.slt.part
  e2e_test/streaming/nexmark/sinks/q3.slt.part
  e2e_test/streaming/nexmark/sinks/q4.slt.part
  e2e_test/streaming/nexmark/sinks/q5.slt.part
  e2e_test/streaming/nexmark/sinks/q7.slt.part
  e2e_test/streaming/nexmark/sinks/q8.slt.part
  e2e_test/streaming/nexmark/sinks/q9.slt.part
Labels: component/test

#9051 chore: bump toolchain to nightly-2023-04-07
  Cargo.lock
  ci/build-ci-image.sh
  ci/docker-compose.yml
  docs/developer-guide.md
  rust-toolchain
  src/batch/src/executor/mod.rs
  src/cmd_all/src/lib.rs
  src/common/src/lib.rs
  src/connector/Cargo.toml
  src/connector/src/lib.rs
  src/expr/macro/src/gen.rs
  src/expr/macro/src/lib.rs
  src/expr/src/lib.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/java_binding/src/lib.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/lib.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/meta/src/stream/stream_manager.rs
  src/object_store/src/lib.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/storage/backup/src/lib.rs
  src/storage/benches/bench_block_iter.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/lib.rs
  src/storage/src/memory.rs
  src/stream/src/lib.rs
  src/tests/simulation/src/lib.rs
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/src/lib.rs
  src/utils/pgwire/src/lib.rs
  src/utils/task_stats_alloc/src/lib.rs
Labels: type/chore

#9105 fix(batch): correctly schedule stage containing dml
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/fix

#9082 feat(optimizer): use group key as stream key for max-one-row `GroupTopN`
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/project_set.yaml
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/group_top_n_appendonly.rs
Labels: type/feature

#9084 feat(expr): support nullary `#[function]`
  src/expr/macro/src/gen.rs
  src/expr/src/expr/template.rs
  src/expr/src/expr/template_fast.rs
Labels: type/feature

#9028 feat(common): implement logical type for int256
  e2e_test/batch/catalog/pg_cast.slt.part
  e2e_test/batch/types/int256.slt.part
  proto/data.proto
  src/common/src/array/mod.rs
  src/common/src/hash/dispatcher.rs
  src/common/src/test_utils/rand_chunk.rs
  src/common/src/types/mod.rs
  src/common/src/types/num256.rs
  src/common/src/types/postgres_type.rs
  src/common/src/types/to_text.rs
  src/common/src/util/memcmp_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/common.rs
  src/connector/src/sink/kafka.rs
  src/expr/macro/src/types.rs
  src/expr/src/expr/data_types.rs
  src/expr/src/sig/cast.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/cmp.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/feature, user-facing-changes

#9088 feat: introduce PROCTIME()
  proto/expr.proto
  src/expr/src/error.rs
  src/expr/src/expr/build.rs
  src/expr/src/expr/expr_proctime.rs
  src/expr/src/expr/mod.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/generated_columns.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/show.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/project.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature

#9058 feat(common): implement arrow type for Int256
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/array/arrow.rs
  src/common/src/array/num256_array.rs
  src/common/src/types/num256.rs
Labels: type/feature

#9115 fix(storage): fix issues in the merged imms
  src/storage/src/hummock/event_handler/uploader.rs
Labels: type/fix

#9127 fix(common): set struct oid -1
  src/common/src/types/postgres_type.rs
  src/frontend/src/handler/extended_handle.rs
Labels: type/fix

#9125 fix: Increase reserved memory temporarily
  src/compute/src/memory_management/mod.rs
Labels: type/fix

#9131 bench(hash_agg): setup benchmark to mirror q17
  src/stream/benches/hash_agg.rs
  src/stream/src/executor/test_utils.rs
Labels: Invalid PR Title

#9126 fix(proc_time): use correct Timestamptz time
  e2e_test/ddl/table/generated_columns.slt.part
  src/expr/src/expr/expr_proctime.rs
  src/expr/src/expr/mod.rs
  src/stream/src/executor/now.rs
Labels: type/fix

#9140 chore(ci): temporarily disable recovery test
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
Labels: type/chore

#9116 feat(expr): support array_remove
  proto/expr.proto
  src/expr/src/expr/build.rs
  src/expr/src/expr/expr_array_remove.rs
  src/expr/src/expr/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/type_inference/func.rs
  src/tests/regress/data/sql/arrays.sql
Labels: type/feature

#8896 feat(metrics): show actor/table id info in grafana dashboard
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/visit.rs
Labels: type/feature

#9146 feat: impl hex_to_int256
  e2e_test/batch/types/int256.slt.part
  proto/expr.proto
  src/common/src/types/num256.rs
  src/expr/src/vector_op/int256.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
Labels: type/feature, user-facing-changes

#9155 fix(compaction): handle generate_splits error instead of panic
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: type/fix

#9144 feat(parser): use PROCTIME() instead of NOW() for the process time temporal join
  e2e_test/streaming/temporal_join.slt
  src/frontend/planner_test/tests/testdata/temporal_join.yaml
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_visitor/temporal_join_validator.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/planner/relation.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/test_utils.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/utils.rs
Labels: type/feature, user-facing-changes

#9165 feat(expr): support max, min, count for timestamptz
  e2e_test/batch/types/timestamptz_utc.slt.part
  src/expr/src/vector_op/agg/aggregator.rs
Labels: type/feature, user-facing-changes

#9168 fix(test): fix memory leak in simulation
  Cargo.lock
  src/prost/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/slt.rs
  src/tests/simulation/src/utils/timed_future.rs
Labels: type/fix

#9143 chore(config): do not log out [system] config section
  src/common/src/config.rs
Labels: type/chore

#9169 feat(common): impl division of `Int256` and `double precision`
  e2e_test/batch/types/int256.slt.part
  e2e_test/batch/types/number_arithmetic.slt.part
  src/common/src/types/num256.rs
  src/expr/macro/src/types.rs
  src/expr/src/vector_op/arithmetic_op.rs
Labels: type/feature

#9176 refactor(plan_node): simplify batch agg-nodes
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
Labels: type/refactor

#9182 fix: check function duplicated in meta
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix

#9180 refactor(common): memcomparable encoding of i256
  src/common/src/types/num256.rs
  src/common/src/util/memcmp_encoding.rs
Labels: type/refactor

#9183 feat(optimizer): reorder window join condition by placing the watermark column at the beginning
  src/frontend/planner_test/tests/testdata/window_join.yaml
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
Labels: type/feature

#9106 refactor(parser): remove unused name_in_lower_case
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/source/manager.rs
Labels: type/refactor

#9163 fix(streaming): use xxhash64 for hash key in cache
  src/batch/src/executor/hash_agg.rs
  src/batch/src/task/hash_shuffle_channel.rs
  src/common/Cargo.toml
  src/common/src/array/data_chunk.rs
  src/common/src/hash/consistent_hash/vnode.rs
  src/common/src/hash/key.rs
  src/common/src/row/mod.rs
  src/common/src/row/owned_row.rs
  src/common/src/util/hash_util.rs
Labels: type/fix

#9056 feat(frontend): Sind function
  e2e_test/batch/functions/trigonometric_funcs.slt.part
  proto/expr.proto
  src/expr/src/vector_op/trigonometric.rs
  src/frontend/src/binder/expr/function.rs
  src/tests/regress/data/sql/float8.sql
Labels: type/feature, mergify/can-merge

#9186 feat(common): add count/min/max/first aggregation functions for `Int256`
  e2e_test/batch/types/int256.slt.part
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/functions.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/expr/src/vector_op/agg/general_distinct_agg.rs
Labels: type/feature, user-facing-changes

#9119 feat(source): Use a private link connection to create Kafka source
  proto/catalog.proto
  proto/ddl_service.proto
  src/connector/src/common.rs
  src/ctl/src/cmd_impl/meta/connection.rs
  src/ctl/src/lib.rs
  src/frontend/src/handler/create_connection.rs
  src/meta/src/rpc/cloud_provider.rs
  src/meta/src/rpc/service/ddl_service.rs
Labels: type/feature, user-facing-changes

#9192 fix(test): fix panic on scaling test
  Cargo.lock
  src/prost/Cargo.toml
  src/tests/simulation/Cargo.toml
Labels: type/fix

#9191 feat: separate handling for `sum` aggregation function of `Int256`.
  e2e_test/batch/types/int256.slt.part
  src/expr/src/sig/agg.rs
  src/expr/src/vector_op/agg/aggregator.rs
  src/expr/src/vector_op/agg/mod.rs
  src/expr/src/vector_op/agg/non_primitive_sum.rs
Labels: type/feature, user-facing-changes

#9064 feat(frontend): Cosd function
  e2e_test/batch/functions/trigonometric_funcs.slt.part
  proto/expr.proto
  src/expr/src/vector_op/trigonometric.rs
  src/frontend/src/binder/expr/function.rs
  src/tests/regress/data/sql/float8.sql
Labels: type/feature, user-facing-changes

#9198 fix(storage): fix merge imms assert
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
Labels: type/fix

#9205 fix(udf): fix bad data sent to UDF server
  src/udf/src/lib.rs
Labels: type/fix

#9189 refactor: removed unused num-traits in hummock_sdk
  Cargo.lock
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/lib.rs
Labels: type/refactor

#9207 chore: disable kafka sink txn by design
  src/connector/src/sink/kafka.rs
Labels: type/chore

#9194 feat(hummock sdk): print trace logs (close #9193)
  src/utils/runtime/src/lib.rs
Labels: type/feature

#9211 fix(meta): correctly specify mv_table for compaction group manager
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix

#9196 chore(common): constrain the trait of bitmap in hashkeys
  src/common/src/hash/key.rs
Labels: type/chore

#9135 feat(streaming): utilize multiple vnodes for generating row id
  src/common/src/hash/consistent_hash/vnode.rs
  src/common/src/util/row_id.rs
  src/stream/src/executor/row_id_gen.rs
Labels: type/feature

#9213 perf(hash join): remove join keys in pk of join cache entry (close #9212)
  src/stream/src/executor/hash_join.rs
Labels: type/perf

#9217 feat: implement `avg` and `stddev` for `Int256` by `float64`
  e2e_test/batch/catalog/pg_cast.slt.part
  e2e_test/batch/types/int256.slt.part
  src/expr/src/sig/agg.rs
  src/expr/src/sig/cast.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature, user-facing-changes

#9197 test(sink): add e2e test for kafka sink
  ci/scripts/e2e-kafka-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/kafka/append_only1.result
  e2e_test/sink/kafka/append_only2.result
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/sink/kafka/debezium.py
  e2e_test/sink/kafka/debezium1.result
  e2e_test/sink/kafka/debezium2.result
  e2e_test/sink/kafka/drop_sink.slt
  e2e_test/sink/kafka/upsert1.result
  e2e_test/sink/kafka/upsert2.result
  src/connector/src/sink/kafka.rs
Labels: component/test

#9209 refactor(plan_node): reorganize and simplify source-related nodes
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_visitor/relation_collector_visitor.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#9128 feat(source): create source with connection/drop connection
  e2e_test/ddl/connection.slt
  e2e_test/ddl/show.slt
  e2e_test/source/basic/ddl.slt
  proto/catalog.proto
  proto/ddl_service.proto
  src/ctl/src/cmd_impl/meta/connection.rs
  src/ctl/src/lib.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_connection.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/src/manager/catalog/connection.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/model/catalog.rs
  src/meta/src/model/connection.rs
  src/meta/src/model/mod.rs
  src/meta/src/rpc/cloud_provider.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing-changes

#9226 fix(optimizer): fix lookup join conversion
  src/frontend/planner_test/tests/testdata/batch_index_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix

#8988 feat(connector): support ingest Citus distributed table
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/source/SourceTypeE.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/SourceRequestHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/sourcenode/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  proto/connector_service.proto
  src/connector/src/parser/common.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/cdc/split.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature, user-facing-changes

#9224 refactor(common): replace `*number` in with `*int` `*numeric` and `*float`
  e2e_test/batch/types/int256.slt.part
  e2e_test/batch/types/number_arithmetic.slt.part
  src/batch/src/executor/join/local_lookup_join.rs
  src/expr/macro/src/types.rs
  src/expr/src/expr/expr_case.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/cmp.rs
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/column_pruning.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/index_selection.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/range_scan.yaml
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/planner_test/tests/testdata/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
Labels: type/refactor

#9218 fix(optimizer): do not rewrite `Project` to `Values` for DML with `RETURNING`
  src/frontend/planner_test/tests/testdata/delete.yaml
  src/frontend/planner_test/tests/testdata/insert.yaml
  src/frontend/planner_test/tests/testdata/update.yaml
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/plan_visitor/side_effect_visitor.rs
  src/frontend/src/optimizer/rule/trivial_project_to_values_rule.rs
Labels: type/fix

#9220 test: add two e2e tests for pulsar source
  ci/scripts/pulsar-source-test.sh
  ci/workflows/main-cron.yml
  e2e_test/source/pulsar/astra-streaming.py
  e2e_test/source/pulsar/pulsar.slt
  e2e_test/source/pulsar/streamnative-cloud.py
Labels: component/test

#9179 refactor(compact task): add new task status `InputOutdatedCanceled`
  proto/hummock.proto
  src/meta/src/hummock/manager/mod.rs
Labels: type/refactor

#9236 fix(meta): fix corner case during initialization
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/rpc/server.rs
Labels: type/fix

#9240 fix(udf): eval_row panic due to misuse of input row as arg row
  e2e_test/udf/python.slt
  src/expr/src/expr/expr_udf.rs
Labels: type/fix

#9223 chore(deps): update madsim-patched dependencies
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/frontend/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tests/state_cleaning_test/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore
