Repository risingwavelabs/risingwave, pull requests merged in 2023-09, with the labels that each got.

#11926 chore(doc): update doc site and cloud site links in README
  README.md
Labels: type/chore

#11875 feat(compaction): dynamically determine the type filter_key_extractor_manager
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/filter_key_extractor.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#11975 feat(expr): add `regexp_count`
  e2e_test/batch/basic/func.slt.part
  proto/expr.proto
  src/expr/src/expr/build.rs
  src/expr/src/expr/expr_regexp.rs
  src/expr/src/expr/expr_regexp_count.rs
  src/expr/src/expr/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature

#12017 test: Remove busy loop tests
  src/batch/src/task/task_manager.rs
Labels: component/test

#11936 feat(meta): add system parameter `pause_on_next_bootstrap`
  proto/meta.proto
  proto/stream_plan.proto
  src/common/src/config.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/config/example.toml
  src/meta/src/backup_restore/restore.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/model/barrier.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/values.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/recovery/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
Labels: type/feature

#12027 fix(cdc-backfill): fix bug when handle upstream chunk
  src/common/src/row/project.rs
  src/stream/src/executor/backfill/utils.rs
Labels: type/fix, need-cherry-pick-v1.2

#12031 fix(storage): fix opendal object store error handle
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Labels: type/fix, need-cherry-pick-v1.2

#12019 chore(ci): optimize trailing space check
  scripts/check/check-trailing-spaces.sh
Labels: type/chore

#12018 fix: fill `source` and `name` fields correctly for Debezium
  e2e_test/sink/kafka/debezium1.result
  e2e_test/sink/kafka/debezium2.result
  e2e_test/sink/kafka/debezium3.result
  proto/catalog.proto
  proto/connector_service.proto
  proto/stream_plan.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/utils.rs
  src/connector/src/source/external.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/fix

#12014 refactor(common): Use safe interfaces for `DataChunkBuilder`
  src/common/src/util/chunk_coalesce.rs
  src/storage/src/table/mod.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/upstream_table/snapshot.rs
  src/stream/src/executor/backfill/utils.rs
Labels: type/refactor

#11576 perf(over window): locality-based range cache for general over window executor
  Cargo.lock
  proto/stream_plan.proto
  src/common/src/row/mod.rs
  src/common/src/session_config/mod.rs
  src/common/src/session_config/over_window.rs
  src/expr/src/window_function/call.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/stream/Cargo.toml
  src/stream/src/executor/over_window/delta_btree_map.rs
  src/stream/src/executor/over_window/estimated_btree_map.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/mod.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/stream/src/executor/over_window/sentinel.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/perf, need-cherry-pick-v1.2

#12041 fix: clickhouse https url
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/common.rs
Labels: type/fix, need-cherry-pick-v1.2

#12015 feat(stream): first version of nats source
  src/connector/src/common.rs
  src/connector/src/sink/nats.rs
  src/connector/src/source/base.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/message.rs
  src/connector/src/source/nats/source/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nats/split.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature

#12048 fix: reject kinesis source if the start up mode is not sequence number but sequence number is provided
  e2e_test/source/basic/kinesis.slt
  src/connector/src/source/kinesis/enumerator/client.rs
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, need-cherry-pick-v1.2

#11892 feat: support for migration by new parallel units
  src/meta/src/barrier/recovery.rs
Labels: type/feature

#12053 feat(meta): add system parameter `pause_on_next_bootstrap` (cherry-pick #11936)
  proto/meta.proto
  proto/stream_plan.proto
  src/common/src/config.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/config/example.toml
  src/meta/src/backup_restore/restore.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/model/barrier.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/values.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/recovery/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
Labels: type/feature

#12055 chore: refine error message on unhandled error in kinesis
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/chore

#11950 feat(hummock): refill cache before apply version delta
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/hummock/event_handler/cache_refill_policy.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/monitor/compactor_metrics.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#12050 feat(storage): refactor `LocalStateStore::init` and `StateTable::init`
  src/java_binding/src/hummock_iterator.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/local_state_store_test_utils.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/mem_table.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store/in_mem.rs
  src/stream/src/common/log_store/kv_log_store/mod.rs
  src/stream/src/common/log_store/kv_log_store/reader.rs
  src/stream/src/common/log_store/kv_log_store/writer.rs
  src/stream/src/common/log_store/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/sort_buffer.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#12076 chore: update version to 1.1.4
  Cargo.lock
  Cargo.toml
Labels: type/chore, user-facing-changes

#12001 feat(grafana): report local barrier manager progress
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/feature

#12024 refactor(streaming): better traces for development
  docs/developer-guide.md
  src/common/Cargo.toml
  src/common/src/array/data_chunk.rs
  src/common/src/array/stream_chunk.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/wrapper/trace.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/tests/integration_tests/snapshot.rs
  src/utils/runtime/src/logger.rs
Labels: type/refactor, component/dev

#12078 fix(jdbc-sink): quote identifier to handle case-sensitive case
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/pg_create_table.sql
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialect.java
Labels: type/fix

#11982 feat: HA for schema registry
  e2e_test/schema_registry/pb.slt
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/schema_registry/client.rs
  src/connector/src/parser/schema_registry/util.rs
Labels: type/feature

#12059 refactor(source): implement the common split reader as a generic function
  src/connector/src/macros.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
Labels: type/refactor

#12092 chore: add over window executor cache metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/chore, need-cherry-pick-v1.2

#12093 perf(over window): fix over window performance degradation after #11576
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/perf, need-cherry-pick-v1.2

#11994 refactor(metrics): support streaming metrics level
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config.rs
  src/common/src/metrics.rs
  src/common/src/metrics/relabeled_metric.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/mod.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#12082 chore(rpc): set message size to max for stream client
  src/rpc_client/src/stream_client.rs
Labels: type/chore, need-cherry-pick-v1.2

#12020 refactor(compaction): remove meta client from compactor context
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/mod.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/refactor

#12110 fix(streaming): handle missing `cache_policy` field in `OverWindow`
  src/stream/src/from_proto/over_window.rs
Labels: type/fix

#12108 refactor(java_binding): extract java_binding to jni_core
  Cargo.lock
  Cargo.toml
  java/com_risingwave_java_binding_Binding.h
  src/compute/src/lib.rs
  src/java_binding/Cargo.toml
  src/java_binding/src/lib.rs
  src/jni_core/Cargo.toml
  src/jni_core/src/hummock_iterator.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/stream_chunk_iterator.rs
  src/meta/src/lib.rs
Labels: type/refactor

#12005 chore(storage): remove compactor workload
  Cargo.lock
  proto/hummock.proto
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/mod.rs
Labels: type/chore

#12116 chore(cherry-pick): handle missing cache_policy field in OverWindow
  src/stream/src/from_proto/over_window.rs
Labels: type/chore

#12115 chore(cherry-pick): add over window executor cache metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/chore

#12107 fix(stream): remove useless stream in nats sink
  src/connector/src/sink/nats.rs
Labels: type/fix

#11959 feat(log-store): refine log store trait and add update vnode bitmap in reader
  src/connector/src/sink/boxed.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/iceberg.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/stream/src/common/log_store/in_mem.rs
  src/stream/src/common/log_store/kv_log_store/mod.rs
  src/stream/src/common/log_store/kv_log_store/reader.rs
  src/stream/src/common/log_store/kv_log_store/serde.rs
  src/stream/src/common/log_store/kv_log_store/writer.rs
  src/stream/src/common/log_store/mod.rs
  src/stream/src/executor/sink.rs
  src/stream/src/lib.rs
  src/tests/simulation/tests/integration_tests/sink/basic.rs
Labels: type/feature

#12121 refactor: refactor file cache metrics build, bump foyer
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/storage/Cargo.toml
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/store_impl.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor

#12073 feat(stream): Add recovery feature for nats source
  src/connector/src/common.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/src/source/nats/source/message.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nats/split.rs
Labels: type/feature

#10413 test: Add nexmark test, kafka test for backwards compatibility testing
  Makefile.toml
  backwards-compat-tests/README.md
  backwards-compat-tests/scripts/run_local.sh
  backwards-compat-tests/scripts/utils.sh
  backwards-compat-tests/slt/basic/seed.slt
  backwards-compat-tests/slt/basic/validate_original.slt
  backwards-compat-tests/slt/basic/validate_restart.slt
  backwards-compat-tests/slt/kafka/seed.slt
  backwards-compat-tests/slt/kafka/validate_original.slt
  backwards-compat-tests/slt/kafka/validate_restart.slt
  backwards-compat-tests/slt/nexmark-backwards-compat/delete.slt
  backwards-compat-tests/slt/nexmark-backwards-compat/insert.slt
  backwards-compat-tests/slt/nexmark-backwards-compat/seed.slt
  backwards-compat-tests/slt/nexmark-backwards-compat/validate_original.slt
  backwards-compat-tests/slt/nexmark-backwards-compat/validate_restart.slt
  backwards-compat-tests/slt/tpch-backwards-compat/delete.slt
  backwards-compat-tests/slt/tpch-backwards-compat/insert.slt
  backwards-compat-tests/slt/tpch-backwards-compat/seed.slt
  backwards-compat-tests/slt/tpch-backwards-compat/validate_original.slt
  backwards-compat-tests/slt/tpch-backwards-compat/validate_restart.slt
  ci/scripts/backwards-compat-test.sh
  ci/workflows/pull-request.yml
  docs/developer-guide.md
Labels: component/test, ci/run-backwards-compat-tests

#12071 feat(expr): add `array_min`
  e2e_test/batch/functions/array_min.slt.part
  proto/expr.proto
  src/common/src/types/mod.rs
  src/expr/src/sig/func.rs
  src/expr/src/vector_op/array_access.rs
  src/expr/src/vector_op/array_distinct.rs
  src/expr/src/vector_op/array_length.rs
  src/expr/src/vector_op/array_min.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, user-facing-changes

#12139 fix(ci): fix backwards compat with `ci-release` profile
  ci/scripts/backwards-compat-test.sh
Labels: type/fix, ci/run-main-cron

#12084 fix(expr): parse `timestamptz` without seconds but with offset
  clippy.toml
  e2e_test/batch/functions/array_concat.slt.part
  e2e_test/batch/types/timestamptz_utc.slt.part
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/mysql_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  src/common/src/cast/mod.rs
  src/common/src/types/timestamptz.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/expr/src/vector_op/timestamptz.rs
Labels: type/fix

#12079 refactor(meta): refine `pause`/`resume` response
  proto/meta.proto
  src/ctl/src/cmd_impl/meta/pause_resume.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/model/barrier.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/prost/build.rs
  src/rpc_client/src/meta_client.rs
Labels: type/refactor

#12129 fix(parser): more error reporting with locations
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/create.yaml
  src/sqlparser/tests/testdata/select.yaml
Labels: type/fix, need-cherry-pick-v1.2

#12144 fix(expr): parse `timestamptz` without seconds but with offset (#12084)
  clippy.toml
  e2e_test/batch/functions/array_concat.slt.part
  e2e_test/batch/types/timestamptz_utc.slt.part
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/mysql_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  src/common/src/cast/mod.rs
  src/common/src/types/timestamptz.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/expr/src/vector_op/timestamptz.rs
Labels: type/fix

#12100 feat(expr): add `array_max`
  e2e_test/batch/functions/array_max.slt.part
  proto/expr.proto
  src/expr/src/sig/func.rs
  src/expr/src/vector_op/array_min_max.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, user-facing-changes

#12146 fix(eowc): fix SortBuffer when there are multiple records having same timestamp
  e2e_test/streaming/watermark.slt
  src/stream/src/executor/sort_buffer.rs
Labels: type/fix, need-cherry-pick-v1.2

#12147 feat(storage): sepearte intra picker
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/feature

#12099 refactor(metrics): unify storage_metric_level & streaming_metric_level to 'metrics_level'
  ci/scripts/standalone-utils.sh
  docker/dashboards/risingwave-dev-dashboard.json
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose.yml
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  risedev.yml
  src/cmd_all/scripts/standalone-demo-dev.sh
  src/cmd_all/scripts/standalone-demo-full.sh
  src/common/src/config.rs
  src/common/src/metrics/relabeled_metric.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/config/ci-backfill.toml
  src/config/ci-sim.toml
  src/config/example.toml
  src/config/full-iceberg-bench.toml
  src/frontend/src/lib.rs
  src/frontend/src/session.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/src/backfill.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/risingwave-scale.toml
  src/tests/simulation/tests/integration_tests/batch/mod.rs
Labels: type/refactor

#12085 feat(storage): reduce group deltas for l0 task
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/feature

#12128 feat(watermark): handle watermark in project_set
  e2e_test/streaming/watermark.slt
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/input/watermark.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/from_proto/project_set.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: type/feature, need-cherry-pick-v1.2

#12138 feat(stream): add multiple server url feature into nats, delete useless field
  src/connector/src/common.rs
  src/connector/src/source/nats/mod.rs
Labels: type/feature

#12150 chore(object store): change streaming write buffer size to 16MB for gcs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/oss.rs
Labels: type/chore

#12161 fix: mysql-sink integration test
  integration_tests/mysql-sink/create_mv.sql
Labels: type/fix

#12163 fix(risedev): typo fixing
  src/risedevtool/src/bin/risedev-dev.rs
Labels: type/fix

#12170 fix: temporarily remove the assert checking for split migration
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix

#12171 chore: trigger cherry-pick when the label is added
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#12175 feat: support information_schema.views (#12045)
  src/frontend/src/catalog/system_catalog/information_schema/mod.rs
  src/frontend/src/catalog/system_catalog/information_schema/views.rs
  src/frontend/src/catalog/system_catalog/mod.rs
Labels: type/feature

#12174 feat: HA for schema registry (#11982)
  e2e_test/schema_registry/pb.slt
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/schema_registry/client.rs
  src/connector/src/parser/schema_registry/util.rs
Labels: type/feature

#12177 fix(batch): fallback for node mask
  src/frontend/src/scheduler/worker_node_manager.rs
Labels: type/fix

#12148 chore(metric): fix table id filter and some panel reorgs
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/monitor/compactor_metrics.rs
Labels: type/chore

#11695 feat(demo): Add Feature Store demo
  integration_tests/feature-store/Dockerfile
  integration_tests/feature-store/README.md
  integration_tests/feature-store/docker-compose.yml
  integration_tests/feature-store/generator/__init__.py
  integration_tests/feature-store/generator/__main__.py
  integration_tests/feature-store/generator/preference.py
  integration_tests/feature-store/generator/requirements.txt
  integration_tests/feature-store/generator/user.py
  integration_tests/feature-store/mfa-mock.sql
  integration_tests/feature-store/mfa-start.sql
  integration_tests/feature-store/run-local.sh
  integration_tests/feature-store/run-mfa.sh
  integration_tests/feature-store/run.sh
  integration_tests/feature-store/server/Cargo.lock
  integration_tests/feature-store/server/Cargo.toml
  integration_tests/feature-store/server/actor.proto
  integration_tests/feature-store/server/build.rs
  integration_tests/feature-store/server/model/__init__.py
  integration_tests/feature-store/server/model/__main__.py
  integration_tests/feature-store/server/model/model.proto
  integration_tests/feature-store/server/model/model.py
  integration_tests/feature-store/server/model/model_pb2.py
  integration_tests/feature-store/server/model/model_pb2_grpc.py
  integration_tests/feature-store/server/model/requirements.txt
  integration_tests/feature-store/server/model/sql.py
  integration_tests/feature-store/server/src/feature_store.rs
  integration_tests/feature-store/server/src/kafka.rs
  integration_tests/feature-store/server/src/main.rs
  integration_tests/feature-store/server/src/model.rs
  integration_tests/feature-store/server/src/server_pb.rs
  integration_tests/feature-store/server/src/serving.rs
  integration_tests/feature-store/server/udf.py
  integration_tests/feature-store/simulator/Cargo.lock
  integration_tests/feature-store/simulator/Cargo.toml
  integration_tests/feature-store/simulator/__init__.py
  integration_tests/feature-store/simulator/rust-toolchain
  integration_tests/feature-store/simulator/src/entities.rs
  integration_tests/feature-store/simulator/src/entities_taxi.rs
  integration_tests/feature-store/simulator/src/main.rs
  integration_tests/feature-store/simulator/src/server_pb.rs
  integration_tests/feature-store/simulator/src/simulation.rs
  integration_tests/feature-store/taxi-start.sql
Labels: type/feature

#11974 ci: hide nextest progress bar
  ci/scripts/common.sh
  ci/scripts/run-fuzz-test.sh
  ci/scripts/run-unit-test.sh
Labels: component/ci

#12156 refactor(config): remove system.telemetry_enabled
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/common/src/telemetry/manager.rs
  src/compute/src/server.rs
  src/config/ci-delete-range-test.toml
  src/config/ci-sim.toml
  src/config/example.toml
  src/config/full-iceberg-bench.toml
  src/frontend/src/session.rs
  src/meta/src/rpc/server.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/bin/replay/main.rs
Labels: type/refactor

#12179 fix(risedev): Reset risedev.yml
  risedev.yml
Labels: type/fix

#12194 chore: update version to 1.2.0
  Cargo.lock
  Cargo.toml
Labels: type/chore

#12192 ci: fix disk out of space for GHA
  .github/workflows/nightly-rust.yml
Labels: component/ci

#12186 feat: auto heap dump by default if `MALLOC_CONF=prof:true`
  Cargo.lock
  src/batch/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/memory_management/policy.rs
  src/config/example.toml
  src/tests/simulation/Cargo.toml
Labels: type/feature

#12190 chore(deps): regular cargo update after v1.2.0
  Cargo.lock
  src/bench/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/storage/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore

#12208 chore(test): disable prometheus in some tests
  src/config/ci-compaction-test-meta.toml
  src/config/ci-compaction-test.toml
  src/config/ci-meta-backup-test.toml
Labels: type/chore

#12206 fix(udf): check udf schema fields num and total records
  src/udf/src/error.rs
  src/udf/src/external.rs
Labels: type/fix

#12211 feat(common): impl `Row` for `Either`
  src/common/src/row/mod.rs
Labels: type/feature

#12219 build: downgrade to openssl@1 temporarily
  Cargo.lock
  src/utils/workspace-config/Cargo.toml
Labels: type/build

#12189 feat(expr): add `array_sort`
  e2e_test/batch/functions/array_sort.slt.part
  proto/expr.proto
  src/expr/src/vector_op/array_sort.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, user-facing-changes

#12133 chore: bump foyer
  Cargo.lock
  src/storage/Cargo.toml
Labels: type/chore

#12223 feat: make `enable.auto.commit` configurable
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
Labels: type/feature

#12200 refactor(docker/doc): apply docker file with new release version
  docker/README.md
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose.yml
Labels: type/refactor

#12202 fix(udf): check the data type returned from UDF server
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/expr/src/expr/expr_udf.rs
  src/expr/src/table_function/user_defined.rs
Labels: type/fix

#11981 chore(udf): prepare for publishing java udf to maven
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
  ci/workflows/pull-request.yml
  java/common-utils/pom.xml
  java/connector-node/assembly/pom.xml
  java/connector-node/connector-api/pom.xml
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-sink-cassandra/pom.xml
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-source-cdc/pom.xml
  java/connector-node/s3-common/pom.xml
  java/dev.md
  java/java-binding-benchmark/pom.xml
  java/java-binding-integration-test/pom.xml
  java/java-binding/pom.xml
  java/pom.xml
  java/proto/pom.xml
  java/udf-example/pom.xml
  java/udf/README.md
  java/udf/pom.xml
  java/udf/src/main/java/com/risingwave/functions/UdfServer.java
Labels: type/chore

#12185 feat: disable some two phase agg
  src/frontend/planner_test/tests/testdata/input/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/rule/agg_project_merge_rule.rs
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/frontend/src/optimizer/rule/grouping_sets_to_expand_rule.rs
  src/frontend/src/optimizer/rule/union_to_distinct_rule.rs
Labels: type/feature

#12213 fix(test): set correct row per second
  src/tests/state_cleaning_test/data/agg.toml
  src/tests/state_cleaning_test/data/join.toml
  src/tests/state_cleaning_test/data/temporal_filter.toml
Labels: type/fix

#12122 feat(connector): init embedded connector node
  Cargo.lock
  ci/scripts/e2e-source-test.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  java/com_risingwave_java_binding_Binding.h
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/connector/Cargo.toml
  src/connector/src/source/cdc/source/reader.rs
  src/java_binding/src/lib.rs
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/lib.rs
  src/risedevtool/config/src/main.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#12225 refactor: use usize range instead of BlockLocation to read obj
  src/common/src/lib.rs
  src/common/src/range.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/mod.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/s3.rs
  src/storage/backup/src/storage.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/refactor

#12153 feat(binder): support implicit table function lateral subquery
  e2e_test/batch/subquery/implict_lateral_table_function.slt.part
  src/frontend/planner_test/tests/testdata/input/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_function.rs
Labels: type/feature

#12229 refactor: ignore unrecogized/deprecated system params
  proto/meta.proto
  src/common/src/system_param/mod.rs
  src/meta/src/manager/system_param/mod.rs
Labels: type/refactor, ci/run-backwards-compat-tests

#12233 chore(ci): prune tests which should run occasionally
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/chore, ci/run-main-cron, ci/run-opendal-tests, ci/run-e2e-parallel-in-memory-tests, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-clickhouse-sink-tests, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests

#12248 chore(ci): bump timeouts for bulid-release and unit test and e2e-sink-test
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#12235 feat(risedev): core dump on panics for development
  .cargo/config.toml
  .vscode/launch.json.example
  Makefile.toml
  scripts/coredump/coredump.entitlements
  scripts/coredump/sign-and-run
  src/risedevtool/config/src/main.rs
Labels: type/feature

#12184 refactor(source): bind prop, split, reader, enumerator via trait
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/mod.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/dummy_connector.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/google_pubsub/mod.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nexmark/mod.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/mod.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/meta/src/rpc/service/cloud_service.rs
  src/meta/src/stream/source_manager.rs
  src/source/src/connector_source.rs
  src/source/src/fs_connector_source.rs
  src/stream/src/executor/source/fs_source_executor.rs
Labels: type/refactor

#12013 refactor(kafka-sink): change sequential await to group await when committing
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/kafka.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor, need-cherry-pick-v1.2

#12257 fix: cherry-pick #12013 to branch v1.2-rc
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/kafka.rs
  src/workspace-hack/Cargo.toml
Labels: type/fix

#11070 feat(stream): compact stream chunk by dropping useless rows in sink
  Cargo.lock
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/debezium2.result
  e2e_test/sink/kafka/debezium3.result
  src/common/Cargo.toml
  src/common/src/array/compact_chunk.rs
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/mod.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/lib.rs
  src/common/src/row/project.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/source/external.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#12236 test: add an slt test for select with eowc
  e2e_test/streaming/eowc/eowc_select.slt
Labels: component/test

#12241 feat: allow kinesis source start with timestamp
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/feature, user-facing-changes

#12271 refactor: replace more GAT-based async trait with RPITIT
  src/batch/src/exchange_source.rs
  src/batch/src/execution/grpc_exchange.rs
  src/batch/src/execution/local_exchange.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/lib.rs
  src/connector/src/source/external.rs
  src/connector/src/source/mock_external_table.rs
  src/stream/src/executor/backfill/upstream_table/snapshot.rs
  src/stream/src/executor/dispatch.rs
Labels: type/refactor

#12267 chore: bump `jsonschema-transpiler` version
  Cargo.lock
  src/connector/Cargo.toml
Labels: type/chore

#12272 feat(catalog): add pg_type.typinput and support dummy casting to regproc
  e2e_test/batch/catalog/pg_type.slt.part
  src/common/src/types/postgres_type.rs
  src/frontend/planner_test/tests/testdata/input/pg_catalog.yaml
  src/frontend/planner_test/tests/testdata/output/pg_catalog.yaml
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_types.rs
  src/meta/src/manager/env.rs
  src/sqlparser/src/ast/data_type.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/feature

#12285 feat(meta): expose hummock pinned versions and snapshots via rw_catalog
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_pinned_snapshots.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_pinned_versions.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
Labels: type/feature, user-facing-changes

#12239 fix(integration_tests): datagen timestamp and timestamptz accordingly
  integration_tests/datagen/ad_click/ad_click.go
  integration_tests/datagen/ad_ctr/ad_ctr.go
  integration_tests/datagen/cdn_metrics/nics.go
  integration_tests/datagen/cdn_metrics/tcp.go
  integration_tests/datagen/clickstream/clickstream.go
  integration_tests/datagen/delivery/delivery.go
  integration_tests/datagen/ecommerce/ecommerce.go
  integration_tests/datagen/gen/generator.go
  integration_tests/datagen/twitter/twitter.go
  integration_tests/twitter-pulsar/pb/create_mv.sql
  integration_tests/twitter/pb/create_mv.sql
Labels: type/fix

#12176 feat(stream): support set nats consumer deliver policy as latest, earliest, by sequence, by timestamp
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/common.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/message.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nats/split.rs
Labels: type/feature

#12296 fix(ci): fix regress test download of `locales`
  ci/scripts/regress-test.sh
Labels: type/fix

#12264 refactor(sink): impl RowEncoder for JsonEncoder
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/utils.rs
Labels: type/refactor

#12273 feat(frontend): implement `WITH ORDINALITY` clause
  e2e_test/batch/basic/unnest.slt.part
  e2e_test/streaming/project_set.slt
  src/frontend/planner_test/tests/testdata/input/with_ordinality.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_function.rs
  src/frontend/src/optimizer/plan_node/logical_table_function.rs
  src/frontend/src/optimizer/rule/table_function_to_project_set_rule.rs
  src/frontend/src/planner/relation.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Labels: type/feature

#12269 feat(sink): support elasticsearch 8 sink
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  integration_tests/elasticsearch-sink/README.md
  integration_tests/elasticsearch-sink/create_es7_sink.sql
  integration_tests/elasticsearch-sink/create_es8_sink.sql
  integration_tests/elasticsearch-sink/create_mv.sql
  integration_tests/elasticsearch-sink/create_source.sql
  integration_tests/elasticsearch-sink/docker-compose.yml
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSinkConfig.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSinkFactory.java
  src/connector/src/sink/remote.rs
Labels: type/feature, user-facing-changes, breaking-change

#12280 fix(storage): remove directly convert of tier compaction picker
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/fix

#12276 fix: panic when dumping memory profile
  Cargo.lock
  Cargo.toml
  src/batch/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/compute/Cargo.toml
  src/compute/src/memory_management/policy.rs
  src/tests/simulation/Cargo.toml
Labels: type/fix

#12295 feat(stream): support source throttling
  e2e_test/streaming/rate_limit.slt
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/stream/src/executor/flow_control.rs
  src/stream/src/from_proto/source.rs
Labels: type/feature

#12294 feat(expr): add `pg_sleep` function
  proto/expr.proto
  src/expr/macro/src/gen.rs
  src/expr/macro/src/lib.rs
  src/expr/macro/src/parse.rs
  src/expr/macro/src/types.rs
  src/expr/src/vector_op/delay.rs
  src/expr/src/vector_op/mod.rs
  src/expr/src/vector_op/proctime.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
Labels: type/feature

#12307 chore: use cfg! to instead of #cfg[] for jemalloc control policy
  Cargo.lock
  src/compute/Cargo.toml
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/workspace-hack/Cargo.toml
Labels: type/chore

#12265 feat(refill): fetch whole sst file when refilling
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config.rs
  src/config/example.toml
  src/storage/Cargo.toml
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/feature

#12279 refactor(risedev): split the steps for building and running playground
  .cargo/config.toml
  Cargo.lock
  Makefile.toml
  scripts/coredump/sign-and-run
  src/risedevtool/common.toml
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/panic_hook.rs
Labels: type/refactor

#12302 feat(stream): handling watermark in temporal join
  e2e_test/streaming/temporal_join/temporal_join_watermark.slt
  src/stream/src/executor/temporal_join.rs
Labels: type/feature

#12308 fix(optimizer): relax scan predicate pull up mapping inverse restriction
  src/frontend/planner_test/tests/testdata/input/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/src/optimizer/plan_node/logical_scan.rs
Labels: type/fix

#12283 refactor(connector): migrate cdc source metric from connector to compute
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/monitor/metrics.rs
Labels: type/refactor

#12250 refactor(jdbc-sink): execute statements in batch and set isolation level to RC
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/refactor, ci/run-java-connector-node-integration-tests

#12311 chore(ci): install locales in prebuilt image
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/regress-test.sh
Labels: type/chore

#12318 refactor(storage): cherry-pick v1.2rc seperate validator logic from picker (#11984)
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
Labels: type/refactor

#12320 fix(ci): exclude tikv-jemalloc-sys in hakari check
  .config/hakari.toml
  Cargo.lock
  src/workspace-hack/Cargo.toml
Labels: type/fix

#12319 fix(storage): cherry-pick-c7fb909 remove directly convert of tier compaction picker
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/fix

#12162 feat(expr): add `array_sum`
  e2e_test/batch/functions/array_sum.slt.part
  proto/expr.proto
  src/expr/src/sig/func.rs
  src/expr/src/vector_op/array_sum.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/feature, user-facing-changes

#12325 fix(regexp): substraction overflow when incorrectly speicifying `start`
  src/expr/src/vector_op/regexp.rs
Labels: type/fix

#12331 chore: fix comment and metrics
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/sstable/mod.rs
Labels: type/chore

#12304 fix(stream): fix pk indices of GroupTopN executors
  e2e_test/streaming/group_top_n/group_top_1.slt
  e2e_test/streaming/group_top_n/main1.slt
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/from_proto/group_top_n.rs
Labels: type/fix, need-cherry-pick-v1.2

#12255 chore: split full debug info for release build
  Cargo.lock
  Cargo.toml
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
Labels: type/chore

#12333 chore: add platforms to hakari
  .config/hakari.toml
  Cargo.lock
  Makefile.toml
  src/compute/Cargo.toml
  src/test_runner/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore

#12337 feat(meta): add hummock config relevant tables to rw_catalog
  proto/hummock.proto
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_compaction_group_configs.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_meta_configs.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature

#12340 chore: lift decoding message size limit for ddl client
  src/rpc_client/src/meta_client.rs
Labels: type/chore

#12330 feat(meta): Add `creating_status` field for stream jobs
  proto/catalog.proto
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/storage/src/filter_key_extractor.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#12341 feat(optimizer): support correlated column in order by
  src/frontend/planner_test/tests/testdata/input/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/src/binder/query.rs
Labels: type/feature

#12314 fix: stream backfill executor use correct schema
  e2e_test/streaming/bug_fixes/issue_12299.slt
  src/stream/src/from_proto/chain.rs
Labels: type/fix, ci/run-backfill-tests

#12178 refactor(expr): support variadic function in `#[function]` macro
  e2e_test/batch/functions/format.slt.part
  src/common/src/array/data_chunk.rs
  src/common/src/lib.rs
  src/expr/macro/src/gen.rs
  src/expr/macro/src/lib.rs
  src/expr/macro/src/types.rs
  src/expr/src/error.rs
  src/expr/src/expr/build.rs
  src/expr/src/expr/expr_concat_ws.rs
  src/expr/src/expr/expr_nested_construct.rs
  src/expr/src/expr/mod.rs
  src/expr/src/sig/func.rs
  src/expr/src/vector_op/array.rs
  src/expr/src/vector_op/concat_ws.rs
  src/expr/src/vector_op/format.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/planner_test/tests/testdata/input/format.yaml
  src/frontend/planner_test/tests/testdata/output/format.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/refactor

#12329 feat(expr): switch to `fancy-regex` crate & update the original version
  Cargo.lock
  e2e_test/batch/basic/func.slt.part
  src/expr/Cargo.toml
  src/expr/src/table_function/regexp_matches.rs
  src/expr/src/vector_op/regexp.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#12357 fix(udf): handle visibility of input chunks in UDTF
  e2e_test/udf/udf.slt
  src/common/src/array/arrow.rs
  src/common/src/array/data_chunk.rs
  src/expr/src/table_function/mod.rs
  src/expr/src/table_function/user_defined.rs
Labels: type/fix

#12350 fix: handle kafka sink message timeout error
  src/connector/src/sink/kafka.rs
Labels: type/fix

#12363 revert: Revert "chore: add platforms to hakari (#12333)"
  .config/hakari.toml
  Cargo.lock
  src/workspace-hack/Cargo.toml
Labels: type/revert

#12321 refactor(sink): impl SinkFormatter for AppendOnly and Upsert
  src/connector/src/lib.rs
  src/connector/src/sink/formatter/append_only.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/formatter/upsert.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/utils.rs
Labels: type/refactor

#12251 feat(state_table): add iterator sub range under a certain pk prefix
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
Labels: type/feature

#12371 fix(backup): ensure correct delta log order
  src/meta/src/backup_restore/meta_snapshot_builder.rs
Labels: type/fix, need-cherry-pick-v1.2

#12342 feat(meta): update StreamJob status on finish
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/service/notification_service.rs
Labels: type/feature, ci/run-backfill-tests

#12349 feat(optimizer): support agg group by simplify rule
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/batch_index_join.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/agg_group_by_simplify_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature

#12287 refactor(expr): allow defining functions in frontend
  proto/expr.proto
  src/batch/src/executor/sort_over_window.rs
  src/expr/macro/src/gen.rs
  src/expr/src/lib.rs
  src/expr/src/window_function/state/aggregate.rs
  src/expr/src/window_function/state/buffer.rs
  src/expr/src/window_function/state/mod.rs
  src/expr/src/window_function/state/row_number.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/function_impl/col_description.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/window_function.rs
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_to_agg_and_join_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/stream/src/from_proto/eowc_over_window.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/tests/integration_tests/eowc_over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/refactor

#12052 feat(dashboard): add memory profiling
  Cargo.lock
  dashboard/components/Layout.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/heap_profiling.tsx
  proto/monitor_service.proto
  src/common/Cargo.toml
  src/common/src/config.rs
  src/common/src/heap_profiling/jeprof.rs
  src/common/src/heap_profiling/mod.rs
  src/common/src/lib.rs
  src/compute/src/lib.rs
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/memory_management/policy.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/profile.rs
  src/ctl/src/lib.rs
  src/meta/Cargo.toml
  src/meta/src/dashboard/mod.rs
  src/meta/src/rpc/server.rs
  src/rpc_client/src/compute_client.rs
  src/storage/compactor/src/rpc.rs
Labels: type/feature

#12339 chore(ci): move release jobs to main-cron pipeline
  ci/workflows/docker.yml
  ci/workflows/main-cron.yml
Labels: type/chore

#12353 feat(metrics): improve backpressure metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#12375 fix: fix source schema display
  src/sqlparser/src/ast/statement.rs
Labels: type/fix, need-cherry-pick-v1.2

#12373 chore: add compatible notice for old row format syntax
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/statement.rs
Labels: type/chore, need-cherry-pick-v1.2

#12372 refactor(sink): impl SinkFormatter for DebeziumJsonFormatter
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/utils.rs
Labels: type/refactor

#12183 feat(storage): emergency picker for write_limit
  proto/hummock.proto
  src/common/src/config.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/emergency_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/feature

#12227 feat(stream): add nkey and jwt auth methods for nats connector
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/common.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/message.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nats/split.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature
