Repository risingwavelabs/risingwave, pull requests merged in 2023-06, with the labels that each got.

#10100 refactor(explain): introduce `formatter_debug_plan_node` for convenient display of plan node properties
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/planner_test/tests/testdata/output/window_join.yaml
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
  src/frontend/src/optimizer/plan_node/stream_values.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor

#10111 refactor(explain): merge two branch of `formatter_debug_plan_node`
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor

#10106 perf(over window): split `WindowState::output` to `curr_output` and `slide_forward` to avoid computation on recovery
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/state/aggregate.rs
  src/stream/src/executor/over_window/state/lag.rs
  src/stream/src/executor/over_window/state/lead.rs
  src/stream/src/executor/over_window/state/mod.rs
Labels: type/perf

#10079 doc(java-binding): add docs for running java-binding unit test
  java/connector-node/README.md
Labels: component/doc

#10121 fix(sqlsmith): ignore neg exponential
  src/tests/sqlsmith/develop.md
  src/tests/sqlsmith/src/validation.rs
Labels: type/fix

#10118 feat(ci): add tidb-cdc-sink integration test to ci
  ci/workflows/integration-tests.yml
Labels: type/feature

#10113 refactor(test): move hash agg executor tests to `integration_tests`
  Makefile.toml
  src/stream/src/executor/hash_agg.rs
  src/stream/tests/integration_tests/eowc.rs
  src/stream/tests/integration_tests/hash_agg.rs
  src/stream/tests/integration_tests/integration_test.toml
  src/stream/tests/integration_tests/main.rs
  src/stream/tests/integration_tests/project_set.rs
  src/stream/tests/integration_tests/snapshot.rs
Labels: type/refactor

#9977 feat(expr): add jsonb table functions
  e2e_test/batch/types/jsonb.slt.part
  proto/expr.proto
  src/common/src/array/arrow.rs
  src/common/src/array/data_chunk.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/jsonb.rs
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/expr/macro/src/gen.rs
  src/expr/macro/src/lib.rs
  src/expr/macro/src/parse.rs
  src/expr/macro/src/types.rs
  src/expr/src/table_function/generate_series.rs
  src/expr/src/table_function/jsonb.rs
  src/expr/src/table_function/mod.rs
  src/expr/src/table_function/unnest.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/expr/table_function.rs
  src/prost/src/lib.rs
Labels: type/feature, user-facing-changes

#10076 fix: Add graceful shutdown functionality to `GrpcMetaClient`
  src/rpc_client/src/meta_client.rs
Labels: type/fix

#10126 fix: fix healthcheck scripts for all components in docker compose file
  docker/docker-compose.yml
  src/risedevtool/src/compose.rs
Labels: type/fix

#10128 feat(frontend): support create [materialized] view if not exists
  e2e_test/streaming/basic.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
Labels: type/feature, user-facing-changes

#10098 feat(sink): support `timestamptz` for remote pg/mysql sinks
  Cargo.lock
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/mysql_create_table.sql
  e2e_test/sink/remote/mysql_expected_result_1.tsv
  e2e_test/sink/remote/pg_create_table.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/deserializer/StreamChunkDeserializer.java
  src/connector/src/sink/remote.rs
  src/java_binding/Cargo.toml
  src/java_binding/src/lib.rs
Labels: type/feature

#10141 chore: main-cron longer s3 test timeout
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-main-cron

#10142 fix(connector/datagen): don't panic on unknown type generation
  src/common/src/field_generator/mod.rs
Labels: type/fix

#10136 fix(batch): ensure removal of cancelled task from task manager
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/batch/Cargo.toml
  src/batch/src/lib.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix

#10140 fix(binder): distinguish `'a'::varchar` from untyped `'a'`
  e2e_test/batch/basic/func.slt.part
  e2e_test/batch/functions/array_concat.slt.part
  src/expr/src/vector_op/cast.rs
  src/frontend/planner_test/tests/testdata/input/concat_op_dispatch.yaml
  src/frontend/planner_test/tests/testdata/output/concat_op_dispatch.yaml
  src/frontend/src/binder/bind_param.rs
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/fix

#10145 test: enable nexmark q21 in planner test
  src/frontend/planner_test/tests/testdata/input/nexmark.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
Labels: component/test

#10132 refactor(plan_node_fmt): initial rewrite of `fmt_with_name` based on `pretty_xmlish`
  src/frontend/src/optimizer/plan_node/generic/dedup.rs
  src/frontend/src/optimizer/plan_node/generic/delete.rs
  src/frontend/src/optimizer/plan_node/generic/except.rs
  src/frontend/src/optimizer/plan_node/generic/expand.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/generic/project_set.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/generic/update.rs
  src/frontend/src/optimizer/plan_node/logical_except.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
Labels: type/refactor

#10144 feat: enable verbose await-tree by default in production
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/server.rs
  src/config/example.toml
  src/expr/Cargo.toml
  src/expr/src/expr/expr_udf.rs
  src/object_store/Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/monitor/monitored_store.rs
  src/stream/Cargo.toml
  src/utils/runtime/Cargo.toml
Labels: type/feature

#10155 refactor(plan_node_fmt): further prepare generic code where they use `fmt_with_builder`
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/generic/filter.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/generic/intersect.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/generic/union.rs
Labels: type/refactor

#10157 refactor(plan_node_fmt): further prepare generic code where they use `fmt_with_name`
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_exchange.rs
  src/frontend/src/optimizer/plan_node/batch_expand.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/batch_group_topn.rs
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_project_set.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/batch_topn.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_dedup.rs
  src/frontend/src/optimizer/plan_node/logical_delete.rs
  src/frontend/src/optimizer/plan_node/logical_except.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_intersect.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/logical_update.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor

#10158 fix(batch): ensure removal of cancelled task from task manager
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/batch/Cargo.toml
  src/batch/src/lib.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix

#10137 fix: fix healthcheck scripts in docker compose yaml
  ci/docker-compose.yml
  docker/docker-compose-s3-compatible.yml
  docker/docker-compose.yml
  integration_tests/prometheus/docker-compose.yml
Labels: type/fix

#10153 chore: speedup some GHA
  .github/workflows/doc.yml
  .github/workflows/license_check.yml
  .github/workflows/typo.yml
Labels: type/chore

#10165 fix(batch): fix left join with equi-conditions
  e2e_test/batch/join/left_join_with_non_equi_cond.slt
  src/batch/src/executor/join/hash_join.rs
Labels: type/fix

#10163 fix(storage): support timeout for compactor notify
  src/meta/src/hummock/compaction_scheduler.rs
Labels: type/fix

#10160 feat(frontend): introduce system catalog pg_tables
  e2e_test/batch/catalog/pg_tables.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_tables.rs
Labels: type/feature, user-facing-changes

#10156 refactor(backfill): check `current_pos` outside of loop
  src/stream/src/executor/backfill.rs
Labels: type/refactor

#10146 feat(sqlparser): support WITHIN GROUP
  proto/expr.proto
  src/expr/src/agg/def.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
  src/sqlparser/tests/testdata/show.yaml
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/functions.rs
Labels: type/feature

#10179 fix(backfill): handle backwards compatibility case
  src/stream/src/executor/backfill.rs
Labels: type/fix

#10186 feat(config): support for setting default visibility_mode via config
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/common/src/session_config/visibility_mode.rs
  src/config/example.toml
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/frontend/src/session.rs
  src/meta/src/manager/cluster.rs
Labels: type/feature

#10182 feat: extract debezium payload correctly when schema field is missing
  e2e_test/source/basic/kafka.slt
  scripts/source/test_data/debezium_log_no_schema_field.1
  scripts/source/test_data/debezium_mongo_json_customers_no_schema_field.1
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
Labels: type/feature

#9944 fix(connector): support kafka log compaction for debezium avro
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/mod.rs
Labels: type/fix

#10183 feat(storage): task progress track num_progress_key
  proto/hummock.proto
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/compactor/task_progress.rs
Labels: type/feature

#10166 feat(expr): support `array_position` and `array_replace` for 1d scenario
  proto/expr.proto
  src/expr/src/vector_op/array_positions.rs
  src/expr/src/vector_op/array_replace.rs
  src/expr/src/vector_op/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/tests/regress/data/sql/arrays.sql
Labels: type/feature, user-facing-changes

#10194 feat(storage): cherry pick #10183
  proto/hummock.proto
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/compactor/task_progress.rs
Labels: type/feature

#10120 refactor(connector): avoid using macro in parser
  Cargo.lock
  src/batch/src/lib.rs
  src/connector/Cargo.toml
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/nd_streaming.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/stream/src/lib.rs
Labels: type/refactor

#10032 feat(sink): sink one-dimensional array data type to postgres and mysql
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/mysql_create_table.sql
  e2e_test/sink/remote/mysql_expected_result_2.tsv
  e2e_test/sink/remote/pg_create_table.sql
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/ColumnDesc.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/TableSchema.java
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JsonDeserializer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkStreamObserver.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/deserializer/StreamChunkDeserializer.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/TestUtils.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/DeserializerTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/FileSinkTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/SinkStreamObserverTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeLocalSinkTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeSinkFactoryTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkFactoryTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkLocalTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkPartitionTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/UpsertIcebergSinkLocalTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/UpsertIcebergSinkPartitionTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/MySQLSourceTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
  java/java-binding/src/main/java/com/risingwave/java/binding/BaseRow.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  proto/connector_service.proto
  src/connector/src/sink/remote.rs
  src/java_binding/src/lib.rs
  src/meta/src/stream/source_manager.rs
Labels: type/feature, user-facing-changes

#10204 chore(connector-node): assign id to cdc engine runner thread
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
Labels: type/chore

#10170 fix(connector): validator: allow extra columns in source table
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Labels: type/fix, user-facing-changes

#10124 fix(metrics): uploading memory
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/fix

#10192 refactor(binder): refactor the logic to valid constraints
  src/frontend/src/handler/create_table.rs
Labels: type/refactor

#10066 feat(runtime): conditionally abort execution on panic
  Cargo.lock
  clippy.toml
  src/batch/src/task/task_execution.rs
  src/common/Cargo.toml
  src/common/src/types/interval.rs
  src/common/src/util/mod.rs
  src/common/src/util/panic.rs
  src/java_binding/src/lib.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#10219 fix: source e2e test failure
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
Labels: type/fix

#10223 ci: make some slow steps cancel_on_build_failing
  ci/workflows/pull-request.yml
Labels: component/ci

#10216 feat: introduce system catalog pg_proc
  e2e_test/batch/catalog/issue_10177.slt.part
  e2e_test/batch/catalog/pg_type.slt.part
  src/frontend/planner_test/tests/testdata/output/pg_catalog.yaml
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_proc.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
Labels: type/feature, user-facing-changes

#10205 feat(storage): enable setting the flush threshold in storage
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/opts.rs
Labels: type/feature

#10207 refactor(connector-node): return byte array instead of byte stream on getBytea
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JsonDeserializer.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/java-binding/src/main/java/com/risingwave/java/binding/BaseRow.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/java_binding/src/lib.rs
Labels: type/refactor

#10230 fix: update version 0.19.1
  Cargo.lock
  Cargo.toml
Labels: type/fix

#10092 feat(ci): automate snapshot generation for sqlsmith
  ci/scripts/gen-sqlsmith-snapshots.sh
  ci/workflows/sqlsmith-snapshots.yml
  src/tests/sqlsmith/develop.md
  src/tests/sqlsmith/scripts/gen_queries.sh
Labels: type/feature

#10171 feat(metrics): executor level memory usage
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/estimate_size/collections/lru.rs
  src/common/src/estimate_size/collections/mod.rs
  src/common/src/estimate_size/mod.rs
  src/stream/src/cache/managed_lru.rs
  src/stream/src/common/cache/state_cache/ordered.rs
  src/stream/src/common/cache/top_n_cache.rs
  src/stream/src/executor/lookup/cache.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/over_window/state/aggregate.rs
  src/stream/src/executor/over_window/state/mod.rs
  src/stream/src/executor/top_n/topn_cache_state.rs
Labels: type/feature

#10091 refactor(aws): bump aws sdk version
  Cargo.lock
  Cargo.toml
  src/bench/Cargo.toml
  src/bench/s3_bench/main.rs
  src/connector/Cargo.toml
  src/connector/src/aws_utils.rs
  src/connector/src/common.rs
  src/connector/src/source/kinesis/config.rs
  src/connector/src/source/kinesis/enumerator/client.rs
  src/connector/src/source/kinesis/source/message.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/meta/src/error.rs
  src/meta/src/rpc/cloud_provider.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/error.rs
  src/object_store/src/object/s3.rs
  src/tests/simulation/Cargo.toml
  src/utils/runtime/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor, ci/run-main-cron

#10198 refactor(plan_node): simplify union nodes
  src/frontend/src/optimizer/plan_node/batch_union.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_union.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
Labels: type/refactor

#10232 refactor(plan_node): simplify insert nodes (probably the last crusade)
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/generic/delete.rs
  src/frontend/src/optimizer/plan_node/generic/insert.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_insert.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#10222 ci: optimize log dump
  Makefile.toml
Labels: component/ci

#10220 chore: Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: type/chore

#10208 feat(ci): upload microbench results daily to dashboard
  ci/scripts/remove-micro-bench-results.sh
  ci/scripts/upload-micro-bench-results.sh
  ci/workflows/main-cron.yml
Labels: type/feature

#10233 fix(cdc): unique `database.server.name` for dbz mysql connector
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/SourceHandlerFactory.java
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
Labels: type/fix

#10227 refactor(binder): in-place `cast_mut` or `ExprImpl::take`
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/refactor

#10237 fix: returning text type in pg_type as a workaround
  e2e_test/batch/catalog/issue_10177.slt.part
  e2e_test/batch/catalog/pg_cast.slt.part
  e2e_test/batch/catalog/pg_type.slt.part
  src/common/src/types/postgres_type.rs
  src/expr/src/sig/cast.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
Labels: type/fix

#10193 feat(binder): Support bind args in Ordered-Set Agg
  proto/expr.proto
  src/batch/benches/hash_agg.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/sort_agg.rs
  src/expr/benches/expr.rs
  src/expr/src/agg/array_agg.rs
  src/expr/src/agg/def.rs
  src/expr/src/agg/general.rs
  src/expr/src/agg/string_agg.rs
  src/expr/src/expr/expr_literal.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/order_by_expr.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_agg_and_join_rule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/sqlparser/tests/testdata/select.yaml
  src/stream/benches/stream_hash_agg.rs
  src/stream/src/executor/aggregation/distinct.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/aggregation/value.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/over_window/state/aggregate.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/stateless_simple_agg.rs
  src/stream/tests/integration_tests/hash_agg.rs
Labels: type/feature

#10228 feat: provide git sha for cmd_all
  Cargo.lock
  ci/scripts/release.sh
  src/cmd_all/Cargo.toml
  src/cmd_all/build.rs
  src/cmd_all/src/bin/risingwave.rs
Labels: type/feature

#10201 feat(demo): add demo to query risingwave from presto or trino pg connector
  integration_tests/presto-trino/README.md
  integration_tests/presto-trino/docker-compose.yml
  integration_tests/presto-trino/etc/risingwave.properties
Labels: type/feature

#9721 feat: hummock tracing pkg
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_trace/Cargo.toml
  src/storage/hummock_trace/README.md
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/error.rs
  src/storage/hummock_trace/src/lib.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/hummock_trace/src/read.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/write.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/store.rs
Labels: type/feature, user-facing-changes

#10197 feat(expr): `array_{ndims,lower,upper,length,dims}`
  e2e_test/batch/functions/array_dims.slt.part
  proto/expr.proto
  src/common/src/types/mod.rs
  src/expr/src/vector_op/array_length.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/tests/regress/data/sql/arrays.sql
Labels: type/feature, user-facing-changes

#10253 refactor(plan_node_fmt): slightly generalize the fmt of `join`-related nodes
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_nested_loop_join.rs
  src/frontend/src/optimizer/plan_node/generic/insert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor

#10191 test: add e2e test for kafka compact - debezium avro
  e2e_test/source/basic/nosim_kafka.slt
  scripts/source/test_data/debezium_compact_avro_json.1
  scripts/source/test_data/debezium_non_compact_avro_json.1
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/schema_registry/client.rs
Labels: component/test

#10255 fix(build): do not fail if there's no `git` context
  src/cmd_all/build.rs
  src/cmd_all/src/bin/risingwave.rs
  src/common/src/lib.rs
Labels: type/fix

#10184 feat(metrics): add alert for storage memory usage
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/feature

#10257 refactor(binder): unify array function type checking
  src/expr/src/vector_op/array_length.rs
  src/expr/src/vector_op/cardinality.rs
  src/frontend/planner_test/tests/testdata/output/concat_op_dispatch.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/refactor

#10245 fix(cdc): remove schema field for debezium json converter
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEventConsumer.java
Labels: type/fix

#10270 chore(typo): refine the error message
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/chore

#10274 chore: improve PR template checklist
  .github/labeler.yml
  .github/pull_request_template.md
Labels: type/chore

#10278 fix: build without git but GIT_SHA is provided & fix nightly binary doesn't have SHA
  ci/scripts/release.sh
  ci/workflows/docker.yml
  src/cmd_all/src/bin/risingwave.rs
Labels: type/fix

#10280 refactor(plan_node_fmt): improve join-related nodes fmt, impl more nodes
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_nested_loop_join.rs
  src/frontend/src/optimizer/plan_node/batch_project.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor, user-facing-changes

#10259 refactor(over window): rewrite `lag` `lead` to `first_value` to simplify implementation
  e2e_test/streaming/eowc/eowc_over_window.slt
  proto/expr.proto
  src/expr/src/function/window/kind.rs
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/stream/src/executor/over_window/state/lag.rs
  src/stream/src/executor/over_window/state/lead.rs
  src/stream/src/executor/over_window/state/mod.rs
  src/stream/tests/integration_tests/eowc.rs
Labels: type/refactor

#10284 chore(sqlsmith): disable deterministic tests being run per PR
  ci/scripts/run-fuzz-test.sh
  ci/workflows/pull-request.yml
Labels: type/chore

#10267 fix(expr): `array_length` and `cardinality` returns int32 as in PostgreSQL
  Cargo.lock
  src/expr/Cargo.toml
  src/expr/src/sig/func.rs
  src/expr/src/vector_op/array_length.rs
  src/expr/src/vector_op/cardinality.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/fix, user-facing-changes

#10281 refactor(plan_node_fmt): 7 more impls for `Distill`
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/batch_table_function.rs
  src/frontend/src/optimizer/plan_node/batch_union.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/batch_values.rs
  src/frontend/src/optimizer/plan_node/logical_table_function.rs
  src/frontend/src/optimizer/plan_node/logical_values.rs
Labels: type/refactor

#10196 chore(storage): handle metrics update when the value is zero or cg be removed
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/metrics_utils.rs
Labels: type/chore

#10138 refactor(object store): unify s3 compatible storage and s3 backend
  docker/aws.env
  docker/docker-compose-s3.yml
  docker/docker-compose-with-gcs.yml
  docker/multiple_object_storage.env
  docker/object_storage.env
  docs/multi-object-store.md
  risedev.yml
  src/bench/s3_bench/main.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/utils.rs
Labels: type/refactor, user-facing-changes

#10287 fix(ci): maven bump in release script
  ci/scripts/release.sh
Labels: type/fix

#10269 feat: add missing columns in information_schema.columns and add current_setting func
  e2e_test/batch/functions/current_setting.slt.part
  src/common/src/session_config/mod.rs
  src/common/src/types/postgres_type.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/information_schema/mod.rs
Labels: type/feature, user-facing-changes

#10279 chore: make risedev tasks more readable
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/common.sh
  ci/scripts/pulsar-source-test.sh
  risedev
  src/frontend/planner_test/planner_test.toml
  src/java_binding/make-java-binding.toml
  src/risedevtool/common.toml
  src/risedevtool/connector.toml
  src/risedevtool/etcd.toml
  src/risedevtool/gcloud-pubsub.toml
  src/risedevtool/grafana.toml
  src/risedevtool/jaeger.toml
  src/risedevtool/kafka.toml
  src/risedevtool/minio.toml
  src/risedevtool/prometheus.toml
  src/risedevtool/redis.toml
  src/risedevtool/risedev-components.toml
  src/sqlparser/test_runner/sqlparser_test.toml
  src/stream/tests/integration_tests/integration_test.toml
Labels: type/chore

#10288 fix: clean dropped executor cache metrics
  src/stream/src/cache/managed_lru.rs
  src/stream/src/executor/aggregation/distinct.rs
Labels: type/fix

#10291 refactor(plan_node_fmt): 4 more impls for Distill
  src/frontend/src/optimizer/plan_node/logical_apply.rs
  src/frontend/src/optimizer/plan_node/logical_insert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
Labels: type/refactor, user-facing-changes

#10292 fix(storage): force_path_style for minio
  src/object_store/src/object/s3.rs
Labels: type/fix, user-facing-changes

#10256 refactor(storage): refactor read_filter_for_batch to avoid continuous locking
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/version.rs
Labels: type/refactor

#10244 chore(ci): disable commit SST sanity check in CI
  src/config/ci-iceberg-test.toml
  src/config/ci-recovery.toml
  src/config/ci.toml
  src/storage/src/hummock/validator.rs
Labels: type/chore

#10301 fix(storage): fix panic caused by non-exist compaction group
  src/meta/src/hummock/metrics_utils.rs
Labels: type/fix

#10298 fix(test): adapt to cargo make private
  src/storage/backup/integration_tests/common.sh
Labels: type/fix, ci/run-main-cron

#10199 feat: Add revision for rescheduling process
  proto/meta.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/ctl/src/cmd_impl/meta/reschedule.rs
  src/ctl/src/lib.rs
  src/meta/src/barrier/command.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
  src/tests/simulation/src/ctl_ext.rs
Labels: type/feature

#10300 fix(metrics): incorrect FP rate
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  docs/cpu-profiling.md
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/fix

#10095 feat(udf): Java UDF SDK
  ci/scripts/build-other.sh
  ci/scripts/run-e2e-test.sh
  e2e_test/udf/test.py
  e2e_test/udf/udf.slt
  java/pom.xml
  java/udf/README.md
  java/udf/pom.xml
  java/udf/src/main/java/com/risingwave/functions/DataTypeHint.java
  java/udf/src/main/java/com/risingwave/functions/ScalarFunction.java
  java/udf/src/main/java/com/risingwave/functions/ScalarFunctionBatch.java
  java/udf/src/main/java/com/risingwave/functions/TableFunction.java
  java/udf/src/main/java/com/risingwave/functions/TableFunctionBatch.java
  java/udf/src/main/java/com/risingwave/functions/TypeUtils.java
  java/udf/src/main/java/com/risingwave/functions/UdfServer.java
  java/udf/src/main/java/com/risingwave/functions/UserDefinedFunction.java
  java/udf/src/main/java/com/risingwave/functions/UserDefinedFunctionBatch.java
  java/udf/src/main/java/com/risingwave/functions/example/UdfExample.java
  java/udf/src/test/java/com/risingwave/functions/TestUdfServer.java
  java/udf/src/test/java/com/risingwave/functions/UdfClient.java
  src/batch/src/executor/table_function.rs
  src/common/src/array/struct_array.rs
  src/expr/macro/src/gen.rs
  src/expr/src/expr/expr_nested_construct.rs
  src/expr/src/table_function/mod.rs
  src/expr/src/table_function/repeat.rs
  src/frontend/src/handler/create_function.rs
  src/udf/python/risingwave/udf.py
  src/udf/python/setup.py
Labels: type/feature, user-facing-changes, breaking-change, experimental

#10004 refactor(batch): maintain serving vnode mapping in meta node
  Cargo.lock
  proto/meta.proto
  risedev.yml
  src/common/Cargo.toml
  src/common/common_service/src/observer_manager.rs
  src/common/src/lib.rs
  src/common/src/vnode_mapping/mod.rs
  src/common/src/vnode_mapping/vnode_placement.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/batch/mod.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/manager/worker.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/storage/hummock_test/src/sync_point_tests.rs
Labels: type/refactor, ci/run-main-cron

#9782 ci: download dependencies from s3
  ci/scripts/common.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  src/risedevtool/gcloud-pubsub.toml
  src/risedevtool/minio.toml
Labels: component/ci

#10311 fix: use alias as table function's column name
  e2e_test/batch/basic/range.slt.part
  src/frontend/src/binder/relation/mod.rs
Labels: type/fix

#10308 fix: Increase timeout for end-to-end test (parallel) (dev mode)
  ci/workflows/main.yml
Labels: type/fix

#10325 fix(ci): fix release script
  ci/scripts/release.sh
Labels: type/fix

#10305 feat(binder): support `group by` output alias or index
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/select.rs
Labels: type/feature, user-facing-changes

#10320 doc(udf): document Java UDF
  ci/scripts/build-other.sh
  e2e_test/udf/udf.slt
  java/pom.xml
  java/udf-example/README.md
  java/udf-example/pom.xml
  java/udf-example/src/main/java/com/example/UdfExample.java
  java/udf/README.md
  java/udf/pom.xml
  java/udf/src/main/java/com/risingwave/functions/TableFunction.java
  java/udf/src/test/java/com/risingwave/functions/TestUdfServer.java
  java/udf/src/test/java/com/risingwave/functions/UdfClient.java
  src/frontend/src/handler/create_function.rs
Labels: component/doc, user-facing-changes

#10318 fix(macro): support `derive(EstimateSize)` on tuple struct
  src/common/proc_macro/src/lib.rs
Labels: type/fix

#10164 refactor(storage): refactor hummock timer loop
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/rpc/server.rs
Labels: type/refactor

#10319 refactor(common): add `MemcmpEncoded` struct to represent memcmp encoded data
  src/batch/src/executor/top_n.rs
  src/common/benches/bench_encoding.rs
  src/common/src/util/memcmp_encoding.rs
  src/stream/src/executor/aggregation/agg_state_cache.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/mod.rs
  src/stream/src/executor/over_window/state/mod.rs
  src/stream/src/executor/sort_buffer.rs
Labels: type/refactor

#10226 feat(storage): support replicated `LocalHummockStorage`
  Cargo.lock
  src/storage/hummock_test/Cargo.toml
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/store.rs
  src/stream/src/common/table/state_table.rs
Labels: type/feature

#10307 refactor(binder): bind create table
  src/common/src/catalog/column.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
Labels: type/refactor

#10333 refactor(log): change `aws_credential_types::cache::lazy_caching` log level to WARN
  src/utils/runtime/src/lib.rs
Labels: type/refactor

#10252 feat(expr, agg): support `PERCENTILE_CONT`, `PERCENTILE_DISC` and `MODE` aggregation
  e2e_test/batch/aggregate/ordered_set_agg.slt.part
  src/expr/src/agg/mod.rs
  src/expr/src/agg/mode.rs
  src/expr/src/agg/percentile_cont.rs
  src/expr/src/agg/percentile_disc.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/feature, user-facing-changes

#10316 fix: replace ouroboros with self_cell
  Cargo.lock
  src/expr/Cargo.toml
  src/expr/src/expr/expr_to_char_const_tmpl.rs
  src/expr/src/vector_op/to_char.rs
  src/expr/src/vector_op/to_timestamp.rs
Labels: type/fix

#10296 refactor(plan_node_fmt): 4 more impls for Distill
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/logical_now.rs
  src/frontend/src/optimizer/plan_node/logical_project_set.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
Labels: type/refactor, user-facing-changes

#10342 chore: bump typos version and fix typos
  .github/workflows/typo.yml
  .typos.toml
  Makefile.toml
  integration_tests/datagen/sink/sink.go
  integration_tests/tidb-cdc-sink/docker-compose.yml
  risedev.yml
  src/expr/src/table_function/mod.rs
  src/expr/src/vector_op/array_length.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/relation/watermark.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
  src/frontend/src/scheduler/distributed/stats.rs
  src/meta/src/rpc/metrics.rs
  src/storage/src/filter_key_extractor.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/tests/sqlsmith/src/validation.rs
Labels: type/chore

#10202 test(integration-test): jdbc sink data type tests
  integration_tests/mysql-sink/create_mv.sql
  integration_tests/mysql-sink/create_source.sql
  integration_tests/mysql-sink/data_check
  integration_tests/mysql-sink/mysql_prepare.sql
  integration_tests/mysql-sink/query.sql
  integration_tests/postgres-sink/create_mv.sql
  integration_tests/postgres-sink/create_source.sql
  integration_tests/postgres-sink/data_check
  integration_tests/postgres-sink/postgres_prepare.sql
Labels: component/test

#10264 chore(metric): add metric for hummock full GC
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/vacuum.rs
  src/meta/src/rpc/metrics.rs
Labels: type/chore

#10345 build: use debug=1 back for release
  Cargo.toml
Labels: type/build

#10344 refactor(plan_node_fmt): 6 more impls for Distill, refactor all `columns_name` functions
  src/common/src/catalog/schema.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/logical_now.rs
  src/frontend/src/optimizer/plan_node/logical_share.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor, user-facing-changes

#10276 refactor(sink): prune out hidden columns within sink executor
  proto/stream_plan.proto
  src/connector/src/sink/catalog/desc.rs
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/refactor

#10351 feat(metrics): add memory usage metrics for more executor
  src/stream/src/cache/managed_lru.rs
  src/stream/src/executor/aggregation/distinct.rs
  src/stream/src/executor/dedup/append_only_dedup.rs
  src/stream/src/executor/dedup/cache.rs
  src/stream/src/executor/lookup/cache.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/from_proto/append_only_dedup.rs
Labels: type/feature

#10229 feat(java-binding): bundle jni library to jar
  .github/workflows/connector-node-integration.yml
  ci/scripts/build.sh
  ci/scripts/common.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/java-binding-test.sh
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  java/connector-node/README.md
  java/connector-node/assembly/scripts/start-service.sh
  java/java-binding/pom.xml
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/compute/src/server.rs
  src/java_binding/Cargo.toml
  src/java_binding/make-java-binding.toml
  src/java_binding/run_demo.sh
Labels: type/feature

#10096 refactor(source): unified message parser
  Cargo.lock
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/nosim_kafka.slt
  src/connector/Cargo.toml
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/macros.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/maxwell.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/upsert.rs
  src/connector/src/parser/unified/util.rs
Labels: type/refactor, component/connector, user-facing-changes

#10313 feat(cordon): Use `is_schedulable` flag instead of `State::CORDONED`
  proto/common.proto
  proto/meta.proto
  src/common/src/vnode_mapping/vnode_placement.rs
  src/compute/src/server.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/frontend/src/session.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/service/cluster_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/scale_service.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/scale/cordon.rs
Labels: type/feature

#10363 chore: fix kafka download path in risedev
  src/risedevtool/kafka.toml
Labels: type/chore

#10328 feat(frontend): support mask failed serving worker temporarily
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/frontend/src/session.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/batch/mod.rs
  src/tests/simulation/tests/integration_tests/main.rs
Labels: type/feature

#10239 chore: return a warning message when creating sink with order by
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/explain.rs
Labels: type/chore, user-facing-changes

#10331 feat(ctl): list serving fragment mappings
  proto/meta.proto
  src/ctl/src/cmd_impl/meta.rs
  src/ctl/src/cmd_impl/meta/serving.rs
  src/ctl/src/lib.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/mod.rs
  src/meta/src/rpc/service/notification_service.rs
  src/meta/src/rpc/service/serving_service.rs
  src/meta/src/serving/mod.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature

#10365 fix(docker): install sasl library in docker
  ci/scripts/gen-flamegraph.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
Labels: type/fix

#10374 feat(sink): enable delta lake sink
  src/connector/src/sink/remote.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/feature, component/connector, user-facing-changes

#10379 feat(metrics): add metrics for the evicted watermark for each executors
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/cache/managed_lru.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature

#10371 fix(metrics): uploading memory (#10124)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/compaction_schedule_policy.rs
  src/meta/src/hummock/compaction_scheduler.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/fix

#10380 feat: add debug profile tools in docker image
  docker/Dockerfile
Labels: type/feature

#10357 feat(connector): sink support for elasticsearch
  java/.gitignore
  java/connector-node/README.md
  java/connector-node/assembly/assembly.xml
  java/connector-node/assembly/pom.xml
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es/pom.xml
  java/connector-node/risingwave-sink-es/src/main/java/com/risingwave/connector/BulkRequestConsumerFactory.java
  java/connector-node/risingwave-sink-es/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-es/src/main/java/com/risingwave/connector/EsSinkConfig.java
  java/connector-node/risingwave-sink-es/src/main/java/com/risingwave/connector/EsSinkFactory.java
  java/pom.xml
Labels: type/feature

#10381 feat(trace): enable await tree trace for compactor
  Cargo.lock
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/trace.rs
  src/rpc_client/src/compactor_client.rs
  src/rpc_client/src/lib.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/rpc.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/mod.rs
  src/stream/src/task/stream_manager.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#10368 fix: support variable scale decimal in avro
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/unified/avro.rs
Labels: type/fix

#10370 fix(connector): validator: allow extra columns in source table (#10170)
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Labels: type/fix

#10383 chore: use github action to auto cherry pick pr to release branch
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#10090 feat(log-store): implement a merge stream of kv-log-store
  src/stream/src/common/log_store/kv_log_store/serde.rs
Labels: type/feature, user-facing-changes

#10369 fix(connector): support kafka log compaction for debezium avro (#9944)
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/mod.rs
Labels: type/fix

#10391 fix(ci): disable kafka for backwards compat test + fix kafka download source
  ci/scripts/backwards-compat-test.sh
  src/risedevtool/kafka.toml
Labels: type/fix, need-cherry-pick-v0.19

#9881 feat(batch): add shutdown check in agg
  src/batch/benches/hash_agg.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/sort_agg.rs
Labels: type/feature, user-facing-changes

#10290 feat(docker): add docker compose for azblob
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-minio.yml
  docker/docker-compose-with-s3.yml
  docker/multiple_object_storage.env
Labels: type/feature

#10366 feat: add system function user, current_user and current_role
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-v0.19

#10326 fix(jdbc-sink): use upsert SQL to handle potential duplicate event
  java/connector-node/assembly/scripts/start-service.sh
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkConfig.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/JdbcDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/JdbcDialectFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/MySqlDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/MySqlDialectFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialectFactory.java
  java/pom.xml
Labels: type/fix, need-cherry-pick-v0.19

#10315 feat: introduce distributed epoch-level tracing
  Cargo.lock
  Cargo.toml
  ci/workflows/pull-request.yml
  proto/stream_plan.proto
  proto/stream_service.proto
  risedev.yml
  src/cmd/src/lib.rs
  src/cmd_all/src/bin/risingwave.rs
  src/common/Cargo.toml
  src/common/src/config.rs
  src/common/src/util/epoch.rs
  src/common/src/util/mod.rs
  src/common/src/util/tracing.rs
  src/compute/src/lib.rs
  src/compute/src/rpc/service/stream_service.rs
  src/config/example.toml
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/trace.rs
  src/meta/src/model/barrier.rs
  src/risedevtool/jaeger.toml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service.rs
  src/risedevtool/src/task/jaeger_service.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/utils.rs
  src/storage/Cargo.toml
  src/storage/backup/cmd/src/bin/backup_restore.rs
  src/storage/src/monitor/monitored_store.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/no_op.rs
  src/stream/src/executor/wrapper/trace.rs
  src/stream/src/task/stream_manager.rs
  src/tests/compaction_test/src/bin/compaction.rs
  src/tests/compaction_test/src/bin/delete_range.rs
  src/tests/state_cleaning_test/src/bin/main.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#10337 feat(storage): improve observability for compaction group split
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature

#10408 fix: minor fix for azblob docker-compose
  docker/docker-compose-with-azblob.yml
Labels: type/fix

#10407 fix(macro): support `derive(EstimateSize)` on tuple struct (#10318)
  src/common/proc_macro/src/lib.rs
Labels: type/fix

#10414 fix(risedevtool): try download kafka from archive.apache if downloads.apache does not work
  src/risedevtool/kafka.toml
Labels: type/fix, user-facing-changes

#10348 fix(sqlsmith): don't compute columns and table schema separately
  ci/scripts/run-fuzz-test.sh
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Labels: type/fix, ci/run-sqlsmith-snapshot-gen

#10412 fix(risedevtool): try download kafka from archive.apache if downloads.apache does not work
  src/risedevtool/kafka.toml
Labels: type/fix, user-facing-changes

#10343 refactor(sqlsmith): refactor FROM generation
  ci/scripts/run-fuzz-test.sh
  src/tests/sqlsmith/README.md
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Labels: type/refactor

#10405 fix: use alias as table function's column name (#10311)
  e2e_test/batch/basic/range.slt.part
  src/frontend/src/binder/relation/mod.rs
Labels: type/fix
