Repository risingwavelabs/risingwave, pull requests merged in 2023-01, with the labels that each got.

#7156 fix(ci): provide input parameters for main-cron's deterministic tests
  ci/workflows/main-cron.yml
Labels: type/fix

#5850 feat(batch): support query data without checkpoint
  e2e_test/batch/visibility_all.slt
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/session_config/mod.rs
  src/common/src/session_config/visibility_mode.rs
  src/frontend/src/handler/flush.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/local.rs
  src/tests/simulation/src/slt.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7155 feat(frontend): `explain (logical)`
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/explain.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/test_utils.rs
Labels: type/feature, mergify/can-merge

#7163 fix: decrease test num of recovery test in main-cron
  ci/workflows/main-cron.yml
Labels: type/fix, mergify/can-merge

#7150 feat: Initial support for kafka timestamp pushdown.
  e2e_test/source/basic/kafka_batch.slt
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/frontend/planner_test/tests/testdata/batch_source.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: component/batch, user-facing-changes, mergify/can-merge

#7160 feat(sqlsmith): add round trip property test for parsing
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature, mergify/can-merge

#7100 feat: collect batch task mem
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/task/context.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/frontend/src/scheduler/task_context.rs
Labels: type/feature, mergify/can-merge

#7164 chore(optimizer): move plan visitor and rewriter to their own directory
  src/frontend/src/optimizer/heuristic_optimizer.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/col_pruning.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/predicate_pushdown.rs
  src/frontend/src/optimizer/plan_rewriter/mod.rs
  src/frontend/src/optimizer/plan_rewriter/share_source_rewriter.rs
  src/frontend/src/optimizer/plan_visitor/max_one_row_visitor.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/plan_visitor/plan_correlated_id_finder.rs
  src/frontend/src/optimizer/plan_visitor/share_parent_counter.rs
  src/frontend/src/optimizer/rule/apply_join_transpose_rule.rs
  src/frontend/src/optimizer/rule/max_one_row_eliminate_rule.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate_rule.rs
Labels: type/chore, mergify/can-merge

#7167 feat(frontend): forbid `now` outside of `WHERE` and `HAVING` for stream
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_mv.rs
Labels: type/feature, mergify/can-merge

#7152 feat(frontend): show create table
  e2e_test/ddl/show.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/catalog/view_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/session.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
  src/utils/pgwire/src/pg_response.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7171 fix(storage): update seal_epoch synchronously
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/state_store.rs
Labels: type/fix, mergify/can-merge

#6926 feat(array): conversion to and from Apache Arrow format
  Cargo.lock
  src/batch/src/executor/order_by.rs
  src/common/Cargo.toml
  src/common/src/array/arrow.rs
  src/common/src/array/bool_array.rs
  src/common/src/array/bytes_array.rs
  src/common/src/array/list_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/array/utf8_array.rs
  src/common/src/buffer/bitmap.rs
  src/common/src/types/struct_type.rs
  src/connector/src/sink/console.rs
  src/expr/src/expr/expr_nested_construct.rs
  src/expr/src/vector_op/agg/general_agg.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#7168 fix(ci): fix error message for dashboard ci
  .github/workflows/dashboard_pr.yml
Labels: type/fix, mergify/can-merge

#7170 chore(ci): increase timeout for deterministic scaling test
  ci/workflows/main.yml
Labels: type/chore

#7182 chore(log): enable log for compute node and compactor node
  src/utils/runtime/src/lib.rs
Labels: type/chore, mergify/can-merge

#7172 feat(binder): derive expr's output column names
  e2e_test/ddl/table.slt
  src/frontend/planner_test/tests/testdata/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/types.yaml
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/handler/create_mv.rs
  src/sqlparser/examples/parse.rs
  src/sqlparser/src/ast/data_type.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/utils.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7031 perf(storage): Parallel Read for SST Meta
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/monitor/local_metrics.rs
  src/storage/src/monitor/state_store_metrics.rs
Labels: type/perf, mergify/can-merge

#7190 chore: remove deprecated expr in proto
  dashboard/proto/gen/expr.ts
  proto/expr.proto
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
Labels: type/chore, mergify/can-merge

#5951 feat(sqlsmith): test `struct` and `list`
  src/expr/src/sig/cast.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
  src/tests/sqlsmith/src/sql_gen/utils.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
  src/tests/sqlsmith/tests/testdata/alltypes.sql
  src/tests/sqlsmith/tests/testdata/drop_alltypes.sql
Labels: type/feature, mergify/can-merge

#7191 fix: fix InputRef's type mismatch in predicate move-around
  e2e_test/batch/join/issue_7158.slt
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix, mergify/can-merge

#7195 chore(docs): update versions in README.md
  README.md
Labels: type/chore

#7110 feat(frontend): support create table with connector syntax
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7174 refactor(ctl): unregister risectl node after use
  Cargo.lock
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/bench.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/cmd_impl/hummock/disable_commit_epoch.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/hummock/list_version.rs
  src/ctl/src/cmd_impl/hummock/list_version_deltas.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/cmd_impl/hummock/trigger_full_gc.rs
  src/ctl/src/cmd_impl/hummock/trigger_manual_compaction.rs
  src/ctl/src/cmd_impl/meta/backup_meta.rs
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/ctl/src/cmd_impl/meta/pause_resume.rs
  src/ctl/src/cmd_impl/meta/reschedule.rs
  src/ctl/src/cmd_impl/profile.rs
  src/ctl/src/cmd_impl/table/list.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/ctl/src/cmd_impl/trace.rs
  src/ctl/src/common.rs
  src/ctl/src/common/context.rs
  src/ctl/src/common/hummock_service.rs
  src/ctl/src/common/meta_service.rs
  src/ctl/src/lib.rs
  src/tests/simulation/src/ctl_ext.rs
Labels: type/refactor, mergify/can-merge

#7194 feat(metrics): add match duration for each side in join executor
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature, mergify/can-merge

#7161 feat(now): implement `now()` in batch
  e2e_test/batch/functions/now.slt.part
  src/common/src/array/data_chunk.rs
  src/common/src/array/stream_chunk.rs
  src/expr/src/expr/mod.rs
  src/expr/src/vector_op/cast.rs
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/stream/src/executor/now.rs
Labels: type/feature, mergify/can-merge

#7181 refactor(state table): remove disable_sanity_check method from state table
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/watermark_filter.rs
Labels: type/refactor, mergify/can-merge

#7202 fix(expr): fix casting rules for struct
  e2e_test/batch/types/struct/struct_cast_2.slt.part
  src/frontend/planner_test/tests/testdata/struct_query.yaml
  src/frontend/src/expr/type_inference/cast.rs
Labels: type/fix, mergify/can-merge

#7138 perf(hash agg): parallelize `get_outputs`
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/global_simple_agg.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/test_utils.rs
Labels: type/perf, mergify/can-merge

#7166 fix(storage): increase default block-cache size
  src/common/src/config.rs
Labels: mergify/can-merge

#7198 fix: support pgAdmin query (#7197)
  e2e_test/batch/catalog/pg_database.slt.part
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_database.rs
Labels: mergify/can-merge

#7210 refactor(hash_agg): rename some variables in `hash_agg` to make it clearer
  src/stream/src/executor/hash_agg.rs
Labels: type/refactor, mergify/can-merge

#7185 feat:support c-style escape string
  e2e_test/batch/basic/escape_string.slt.part
  src/frontend/src/binder/expr/value.rs
  src/sqlparser/src/ast/value.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/tokenizer.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/escape_string.yml
Labels: type/feature, mergify/can-merge

#7215 refactor: dynamic filter plannode
  src/frontend/src/optimizer/plan_node/generic/dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
Labels: type/refactor, mergify/can-merge

#7206 fix(planner test): now planner test should also use timestamptz
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
Labels: type/fix, mergify/can-merge

#7212 feat(binder): support hierarchical context for cte
  e2e_test/batch/basic/cte.slt.part
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/set_expr.rs
Labels: type/feature, mergify/can-merge

#7193 feat: validate input references are consistent with the input schema
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_project.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_visitor/input_ref_validator.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
Labels: type/feature, mergify/can-merge

#7222 doc: profiling guides
  docs/cpu-profiling.md
  docs/developer-guide.md
  docs/memory-profiling.md
Labels: component/doc, mergify/can-merge

#7223 fix: remove the hazardous default.toml
  Makefile.toml
  risedev.yml
  src/config/default.toml
Labels: type/fix, mergify/can-merge

#7227 fix: avoid zero parallelism in initialization of compute node
  src/compute/src/lib.rs
Labels: type/fix, mergify/can-merge

#7230 test: Add duckdb range join tests
  e2e_test/batch/duckdb/join/test_complex_range_join.slt.part
Labels: component/test, mergify/can-merge

#7229 feat(watermark): hot fix by ban emitting watermark temporarily
  src/frontend/src/utils/stream_graph_formatter.rs
  src/meta/src/stream/stream_graph.rs
  src/stream/src/executor/now.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, mergify/can-merge

#7216 feat(frontend): session timezone
  Cargo.lock
  e2e_test/database/timezone.slt
  src/common/Cargo.toml
  src/common/src/session_config/mod.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/session.rs
Labels: type/feature, mergify/can-merge

#7231 feat(optimizer): introduce watermark in optimzier
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_index_scan.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
  src/frontend/src/optimizer/rule/apply_join_transpose_rule.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/feature, mergify/can-merge

#7184 chore(test): only compress ch benchmark's test data
  scripts/source/prepare_ci_kafka.sh
  scripts/source/test_data.zip
  scripts/source/test_data/avro_bin.1
  scripts/source/test_data/avro_c_bin.1
  scripts/source/test_data/bug_bash.1
  scripts/source/test_data/canal_json_double_field.1
  scripts/source/test_data/cannal_json.1
  scripts/source/test_data/debezium_log.1
  scripts/source/test_data/json_c.1
  scripts/source/test_data/kafka_1_partition_mv_topic.1
  scripts/source/test_data/kafka_1_partition_topic.1
  scripts/source/test_data/kafka_2_partition_topic.1
  scripts/source/test_data/kafka_3_partition_topic.3
  scripts/source/test_data/kafka_4_partition_topic.4
  scripts/source/test_data/kafka_4_partition_topic_with_100_message.4
  scripts/source/test_data/maxwell_json.1
  scripts/source/test_data/proto_c_bin.1
  scripts/source/test_data/pubsub_1_test_topic.1
  scripts/source/test_data/sink_debezium.1
  scripts/source/test_data/sink_target.1
  scripts/source/test_data/weiling.1
Labels: type/chore, mergify/can-merge

#7233 refactor: abstract some watermark components
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/watermark/mod.rs
Labels: type/refactor, mergify/can-merge

#7242 fix: advance epoch to meet now requirement
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/tests/simulation/src/slt.rs
Labels: type/fix, mergify/can-merge

#7245 refactor(frontend): extract duplicated logic in drop handlers
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/sink_catalog.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/catalog/view_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/drop_view.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/session.rs
  src/frontend/src/user/user_service.rs
Labels: type/refactor, mergify/can-merge

#7207 feat(parser): update `CREATE / DROP FUNCTION` from upstream
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
Labels: type/feature, mergify/can-merge

#7237 fix: fix comments in table catalog
  src/frontend/src/catalog/table_catalog.rs
Labels: type/fix, mergify/can-merge

#7252 fix(compaction-test): prevent meta bump hummock version during version replay
  dashboard/proto/gen/hummock.ts
  proto/hummock.proto
  src/common/src/config.rs
  src/config/ci-compaction-test-meta.toml
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/rpc/service/hummock_service.rs
  src/rpc_client/src/meta_client.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/compaction_test/src/lib.rs
Labels: type/fix, mergify/can-merge

#7254 fix(risectl): fix hummock list-kv and improve print message
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/hummock/list_version.rs
  src/meta/src/model/cluster.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/mod.rs
Labels: type/fix, mergify/can-merge

#7224 fix(storage): the metrics does not show correct count of meta-file miss
  src/storage/src/monitor/local_metrics.rs
Labels: mergify/can-merge

#7258 fix: grafana panels: use `mean` as the default metrics in legends
  grafana/README.md
  grafana/requirements.txt
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
Labels: type/fix, mergify/can-merge

#7261 fix(frontend): improve the "stream nested-loop join not implemented" error message
  src/common/src/error.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix, mergify/can-merge

#7083 feat(frontend): introduce the skeleton of schema change
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/ddl_service.ts
  e2e_test/ddl/alter_table_column.slt
  proto/catalog.proto
  proto/ddl_service.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/frontend/src/catalog/column_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/source_manager.rs
  src/storage/hummock_sdk/src/filter_key_extractor.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, mergify/can-merge

#7259 chore: remove serde-json based parser
  Cargo.lock
  Makefile.toml
  src/source/Cargo.toml
  src/source/src/parser/canal/json_parser.rs
  src/source/src/parser/canal/mod.rs
  src/source/src/parser/common.rs
  src/source/src/parser/debezium/json_parser.rs
  src/source/src/parser/debezium/mod.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/maxwell/json_parser.rs
  src/source/src/parser/maxwell/mod.rs
Labels: type/chore, user-facing-changes, mergify/can-merge

#7262 fix(dashboard): fix "data sources" page
  dashboard/components/Relations.tsx
  dashboard/pages/api/streaming.ts
  dashboard/pages/data_sources.tsx
  dashboard/pages/streaming_graph.tsx
  dashboard/pages/streaming_plan.tsx
Labels: type/fix, mergify/can-merge

#7265 feat(frontend): support basic `CREATE / DROP FUNCTION`
  e2e_test/ddl/function.slt
  proto/catalog.proto
  proto/ddl_service.proto
  proto/expr.proto
  proto/meta.proto
  proto/user.proto
  src/common/common_service/src/observer_manager.rs
  src/common/src/catalog/mod.rs
  src/common/src/types/mod.rs
  src/expr/src/expr/expr_udf.rs
  src/expr/src/expr/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/expr/expr_mutator.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/expr_visitor.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/drop_function.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_privilege.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/id.rs
  src/meta/src/model/catalog.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/notification_service.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, mergify/can-merge

#7081 refactor(storage): store Bytes in memtable and return OwnedRow in state table iter
  src/common/src/array/data_chunk.rs
  src/common/src/row/compacted_row.rs
  src/common/src/row/mod.rs
  src/common/src/row/owned_row.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/value.rs
  src/storage/src/lib.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/storage/src/row_serde/row_serde_util.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/mod.rs
  src/storage/src/table/streaming_table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/aggregation/agg_impl/approx_distinct_append.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/managed_state/top_n/top_n_state.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/sort.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/refactor, mergify/can-merge

#6717 feat: add `ANY/ALL/SOME(array)` operator to support `get_indexes` in sqlalchemy
  dashboard/proto/gen/expr.ts
  e2e_test/batch/basic/all_any_some.slt.part
  e2e_test/batch/catalog/pg_attribute.slt.part
  proto/expr.proto
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_some_all.rs
  src/expr/src/expr/mod.rs
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/type_inference/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
Labels: type/feature, mergify/can-merge

#7270 fix(stream agg): fix row count of global phase
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/append_only.yaml
  src/frontend/planner_test/tests/testdata/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/share.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/aggregation/state_cache/mod.rs
Labels: type/fix, mergify/can-merge

#7256 feat(parser): make json parser case insensitive
  Cargo.lock
  src/source/Cargo.toml
  src/source/src/parser/canal/mod.rs
  src/source/src/parser/canal/simd_json_parser.rs
  src/source/src/parser/common.rs
  src/source/src/parser/debezium/simd_json_parser.rs
  src/source/src/parser/json_parser.rs
  src/source/src/parser/maxwell/mod.rs
  src/source/src/parser/maxwell/simd_json_parser.rs
Labels: type/feature, mergify/can-merge

#7204 feat(frontend): support share cte
  src/frontend/planner_test/tests/testdata/common_table_expressions.yaml
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/share.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/planner/mod.rs
  src/frontend/src/planner/relation.rs
Labels: type/feature, mergify/can-merge

#7274 feat(frontend): support pg_stat_activity and an workaround of pg_cancel_backend/pg_terminate_backend
  dashboard/proto/gen/catalog.ts
  dashboard/proto/gen/ddl_service.ts
  dashboard/proto/gen/expr.ts
  dashboard/proto/gen/meta.ts
  dashboard/proto/gen/user.ts
  e2e_test/batch/catalog/pg_stat_activity.slt.part
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_stat_activity.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7249 fix: decouple playground with risedev
  Cargo.lock
  ci/scripts/docker.sh
  ci/scripts/multi-arch-docker.sh
  docker/Dockerfile
  docker/README.md
  docker/build.sh
  docker/docker-compose.yml
  risedev.yml
  src/cmd_all/Cargo.toml
  src/cmd_all/src/lib.rs
  src/cmd_all/src/playground.rs
  src/compute/src/lib.rs
  src/config/playground.toml
Labels: type/fix, user-facing-changes, mergify/can-merge

#7263 fix: join actor when dropping
  Cargo.lock
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/Cargo.toml
Labels: type/fix, mergify/can-merge

#7266 refactor(meta): unify `create_table` with `create_stream_job`
  src/meta/src/lib.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_graph.rs
Labels: type/refactor, mergify/can-merge

#7268 feat(metrics): add chunk-level cache operation metrics in AGG
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature, mergify/can-merge

#7286 fix(playground): fix playground-3cn socketaddr parsing
  src/cmd_all/src/playground.rs
Labels: type/fix, mergify/can-merge

#7287 chore(test): rewrite tpch q15 with cte for e2e test
  e2e_test/batch/tpch/q15.slt.part
  e2e_test/streaming/tpch/views/q15.slt.part
Labels: type/chore, mergify/can-merge

#7279 feat(stream): watermark derivation of project
  Cargo.lock
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/Cargo.toml
  src/stream/src/executor/filter.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/simple.rs
  src/stream/src/from_proto/project.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#7177 feat(stream): introduce SortBuffer(Part I)
  Cargo.lock
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/common/src/catalog/schema.rs
  src/common/src/row/owned_row.rs
  src/common/src/types/chrono_wrapper.rs
  src/frontend/src/expr/mod.rs
  src/stream/Cargo.toml
  src/stream/src/executor/backfill.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sort_buffer.rs
Labels: type/feature, mergify/can-merge

#7240 fix(batch): ensure `BatchSeqScan` runs on compute node
  e2e_test/batch/join/issue_7115.slt.part
  src/frontend/planner_test/tests/testdata/batch_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/batch_seq_scan.yaml
  src/frontend/planner_test/tests/testdata/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/singleton.yaml
  src/frontend/planner_test/tests/testdata/subquery.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
Labels: type/fix, mergify/can-merge

#7294 fix(storage): fix reading unregistered table id
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/state_store.rs
Labels: type/fix, mergify/can-merge

#7201 perf(concat iterator): reduce meta cache lookup during concat executi…
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/store/version.rs
Labels: type/perf, mergify/can-merge

#7292 fix(playground): setup state-store and parallelism for playground-3cn
  src/cmd_all/src/playground.rs
  src/compute/src/lib.rs
Labels: type/fix, mergify/can-merge

#7225 feat(storage): storage metrics with table_id label
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  risedev.yml
  src/batch/src/task/env.rs
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/object_store/src/object/object_metrics.rs
  src/storage/benches/bench_compactor.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_version_manager_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/monitor/compactor_metrics.rs
  src/storage/src/monitor/hummock_metrics.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/local_metrics.rs
  src/storage/src/monitor/mod.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/state_store_metrics.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/task/env.rs
  src/stream/src/task/stream_manager.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature, mergify/can-merge

#7296 fix: revert the changes to risedev.yml
  risedev.yml
Labels: type/fix, mergify/can-merge

#7298 feat(frontend): show views
  e2e_test/ddl/show.slt
  src/frontend/src/handler/show.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/show.yaml
Labels: type/feature, mergify/can-merge

#7302 fix(frontend): add more details to cdc source error message
  src/frontend/src/handler/create_source.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Labels: type/fix, user-facing-changes, mergify/can-merge

#7306 chore(global_stats_alloc): remove deprecated module
  Cargo.lock
  docs/index.md
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/stream/Cargo.toml
  src/utils/global_stats_alloc/Cargo.toml
  src/utils/global_stats_alloc/src/lib.rs
Labels: type/chore, mergify/can-merge

#7307 chore(config): remove invalid parameters from example config file
  src/config/example.toml
Labels: type/chore, mergify/can-merge

#7309 fix: decouple playground with risedev (#7249)
  Cargo.lock
  ci/scripts/docker.sh
  ci/scripts/multi-arch-docker.sh
  docker/Dockerfile
  docker/README.md
  docker/build.sh
  docker/docker-compose.yml
  risedev.yml
  src/cmd_all/Cargo.toml
  src/cmd_all/src/lib.rs
  src/cmd_all/src/playground.rs
  src/compute/src/lib.rs
  src/config/playground.toml
Labels: type/fix

#7264 feat(kafka): option of setting max number of messages
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
Labels: type/feature, mergify/can-merge

#7305 feat(build): use tikv-jemalloc only on Linux
  Cargo.lock
  docs/memory-profiling.md
  src/batch/Cargo.toml
  src/batch/benches/expand.rs
  src/batch/benches/filter.rs
  src/batch/benches/hash_agg.rs
  src/batch/benches/hash_join.rs
  src/batch/benches/limit.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/benches/sort.rs
  src/batch/benches/sort_merge_join.rs
  src/batch/benches/top_n.rs
  src/cmd/Cargo.toml
  src/cmd/src/bin/compactor.rs
  src/cmd/src/bin/compute_node.rs
  src/cmd/src/bin/ctl.rs
  src/cmd/src/bin/frontend_node.rs
  src/cmd/src/bin/meta_node.rs
  src/cmd_all/src/bin/risingwave.rs
  src/common/src/jemalloc.rs
  src/common/src/lib.rs
  src/compute/Cargo.toml
  src/compute/src/memory_management/memory_manager.rs
  src/stream/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#7323 fix(frontend): fix source check on protobuf and avro based on `_rw_kafka_timestamp` column
  e2e_test/source/basic/kafka.slt
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Labels: type/fix, user-facing-changes, mergify/can-merge

#7342 fix: empty `docker/risingwave.toml`
  docker/Dockerfile
  docker/risingwave.toml
Labels: type/fix, mergify/can-merge

#7330 chore: recommend fuzzing tests for new SQL features
  .github/pull_request_template.md
Labels: type/chore, mergify/can-merge

#7326 fix: stream group topn used wrong types for hash key
  e2e_test/streaming/group_top_n.slt
  src/stream/src/from_proto/group_top_n.rs
Labels: type/fix, mergify/can-merge

#7235 refactor(storage): remove useless code `CompactorSstablestore`
  src/common/src/cache.rs
  src/compute/src/server.rs
  src/storage/benches/bench_compactor.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/sstable_store.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: mergify/can-merge

#7340 fix: upgrade nexmark to 0.2 to fix its bug
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/source/nexmark/mod.rs
  src/tests/simulation/tests/nexmark_q4.rs
Labels: type/fix, mergify/can-merge

#7318 fix(CI): delete range test runn to long
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: mergify/can-merge

#7288 refactor(storage): make version apply delta easy to read
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/metrics_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/local_version/local_version_impl.rs
  src/storage/src/hummock/local_version/local_version_manager.rs
  src/storage/src/hummock/local_version/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Labels: mergify/can-merge

#7243 feat(frontend): cast/cmp with session timezone
  dashboard/proto/gen/expr.ts
  e2e_test/batch/functions/session_timezone.slt
  e2e_test/streaming/dynamic_filter.slt
  proto/expr.proto
  src/expr/src/expr/build_expr_from_prost.rs
  src/expr/src/expr/expr_binary_nonnull.rs
  src/expr/src/expr/mod.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/timestamptz.rs
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/session_timezone.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_nested_loop_join.rs
  src/frontend/src/optimizer/plan_node/batch_project.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/batch_values.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_local_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/source/src/parser/canal/simd_json_parser.rs
  src/source/src/parser/common.rs
  src/source/src/parser/csv_parser.rs
  src/stream/src/executor/dynamic_filter.rs
  src/tests/simulation/src/slt.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, mergify/can-merge

#7348 feat(frontend): support show internal tables
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/show.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/show.yaml
Labels: type/feature, user-facing-changes, mergify/can-merge

#7325 fix(frontend): ensure implicit cast to boolean in required expressions
  src/frontend/planner_test/tests/testdata/agg.yaml
  src/frontend/planner_test/tests/testdata/cast.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/expr/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
  src/tests/sqlsmith/src/validation.rs
Labels: type/fix, mergify/can-merge

#7349 fix(ci): fix ci docker release pipeline
  ci/scripts/docker.sh
  ci/scripts/multi-arch-docker.sh
  ci/scripts/release.sh
  ci/workflows/docker.yml
  ci/workflows/main-cron.yml
Labels: type/fix, mergify/can-merge

#7361 chore(kafka): update rdkafka to v0.29.0
  Cargo.lock
  Makefile.toml
  src/connector/Cargo.toml
  src/connector/src/sink/kafka.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/kafka.rs
  src/utils/workspace-config/Cargo.toml
Labels: type/chore, mergify/can-merge

#7364 feat: add deterministic tests for scaling of sink
  Cargo.lock
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/kafka.rs
  src/tests/simulation/src/lib.rs
  src/tests/simulation/tests/sink.rs
Labels: type/feature, mergify/can-merge

#7354 fix(frontend): handle pk conflict when creating table
  src/frontend/src/handler/create_table.rs
Labels: type/fix, mergify/can-merge

#7352 feat(sqlsmith): increase generation domain of interval scalar
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Labels: type/feature, mergify/can-merge

#7295 fix(storage): fix create index with incorrect properties
  src/batch/src/executor/insert.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/fix, mergify/can-merge

#7357 feat(frontend): Add `StreamEnvironment` to `StreamFragmentGraph`/`TableFragments`, display `timezone` in `pg_matviews`
  dashboard/proto/gen/meta.ts
  dashboard/proto/gen/stream_plan.ts
  e2e_test/ddl/show.slt
  proto/meta.proto
  proto/stream_plan.proto
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_matviews.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/rpc/service/stream_service.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/feature, mergify/can-merge

#7356 feat(frontend): Make PgResponse session-timezone aware for batch and stream
  e2e_test/batch/functions/session_timezone.slt
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/util.rs
Labels: type/feature, mergify/can-merge

#7275 feat(source):support _rw_timestamp
  src/batch/src/executor/source.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/datagen/source/generator.rs
  src/connector/src/source/datagen/source/mod.rs
  src/connector/src/source/google_pubsub/source/message.rs
  src/connector/src/source/kafka/source/message.rs
  src/connector/src/source/kafka/source/mod.rs
  src/connector/src/source/kinesis/source/message.rs
  src/connector/src/source/nexmark/source/message.rs
  src/connector/src/source/pulsar/source/message.rs
  src/source/benches/json_parser.rs
  src/source/src/connector_source.rs
  src/source/src/manager.rs
  src/source/src/parser/avro/parser.rs
  src/source/src/parser/debezium/mod.rs
  src/source/src/parser/mod.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7383 chore(*): fix clippy warning
  src/compute/src/memory_management/memory_manager.rs
Labels: type/chore, mergify/can-merge

#7339 fix(storage): fix bloom filter's bits_per_key
  src/common/src/config.rs
  src/config/ci-compaction-test-meta.toml
  src/config/ci-compaction-test.toml
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/sstable/bloom.rs
  src/storage/src/hummock/sstable/builder.rs
Labels: type/fix, mergify/can-merge

#7391 chore(metrics): add risingwave_name fitler in grafana dashboard
  grafana/README.md
  grafana/risingwave-dashboard.dashboard.py
Labels: type/chore, mergify/can-merge

#7395 fix(batch): fix the wrong range when scan with ranges
  e2e_test/batch/basic/range_scan.slt.part
  src/batch/src/executor/row_seq_scan.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/fix, mergify/can-merge

#7396 refactor(*): remove Row::cmp && remove dead code SortMergeJoin
  dashboard/proto/gen/batch_plan.ts
  proto/batch_plan.proto
  src/batch/Cargo.toml
  src/batch/benches/sort_merge_join.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/join/sort_merge_join.rs
  src/batch/src/executor/mod.rs
  src/common/src/row/mod.rs
  src/common/src/row/owned_row.rs
Labels: type/refactor, mergify/can-merge

#7378 refactor(expr): parse unknown typed literal in frontend
  src/expr/src/vector_op/cast.rs
  src/frontend/planner_test/tests/testdata/basic_query.yaml
  src/frontend/planner_test/tests/testdata/cast.yaml
  src/frontend/planner_test/tests/testdata/expr.yaml
  src/frontend/planner_test/tests/testdata/insert.yaml
  src/frontend/planner_test/tests/testdata/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/project_set.yaml
  src/frontend/planner_test/tests/testdata/time_window.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/planner_test/tests/testdata/types.yaml
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/literal.rs
Labels: type/refactor, mergify/can-merge

#7397 chore(*): fix warnings on non-linux platforms
  src/compute/src/lib.rs
  src/compute/src/memory_management/memory_manager.rs
Labels: type/chore, mergify/can-merge

#7379 feat: handle watermark in hash join
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/watermark/mod.rs
Labels: type/feature, mergify/can-merge

#7398 fix(frontend): Allow join key alignment on `IS NOT DISTINCT FROM`, check that eq key types are aligned in frontend
  e2e_test/streaming/null_safe_equal_join.slt
  src/frontend/planner_test/tests/testdata/join.yaml
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/push_calculation_of_join_rule.rs
Labels: type/fix, mergify/can-merge

#7403 refactor(row): remove Ord for OwnedRow and introduce AscentRow
  src/common/src/row/mod.rs
  src/common/src/row/owned_row.rs
  src/compute/src/memory_management/memory_manager.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/lookup/cache.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/sort_buffer.rs
Labels: type/refactor, mergify/can-merge

#7404 fix(stream): fix backfill comparison with pk order
  src/stream/src/executor/backfill.rs
  src/stream/src/lib.rs
Labels: type/fix, mergify/can-merge

#7178 feat(udf): python external function
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow.rs
  src/common/src/array/vis.rs
  src/expr/Cargo.toml
  src/expr/src/error.rs
  src/expr/src/expr/expr_udf.rs
  src/udf/Cargo.toml
  src/udf/README.md
  src/udf/arrow_flight.py
  src/udf/examples/client.rs
  src/udf/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#7186 feat(storage): add java binding
  Cargo.lock
  Cargo.toml
  Makefile.toml
  proto/backup_service.proto
  proto/batch_plan.proto
  proto/catalog.proto
  proto/common.proto
  proto/compactor.proto
  proto/compute.proto
  proto/data.proto
  proto/ddl_service.proto
  proto/expr.proto
  proto/health.proto
  proto/hummock.proto
  proto/meta.proto
  proto/monitor_service.proto
  proto/plan_common.proto
  proto/source.proto
  proto/stream_plan.proto
  proto/stream_service.proto
  proto/task_service.proto
  proto/user.proto
  src/java_binding/Cargo.toml
  src/java_binding/java/.gitignore
  src/java_binding/java/com_risingwave_java_binding_Binding.h
  src/java_binding/java/java-binding/pom.xml
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/Demo.java
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/binding/Iterator.java
  src/java_binding/java/java-binding/src/main/java/com/risingwave/java/binding/KeyedRow.java
  src/java_binding/java/pom.xml
  src/java_binding/java/proto/pom.xml
  src/java_binding/java/tools/maven/checkstyle.xml
  src/java_binding/java/tools/maven/suppressions.xml
  src/java_binding/make-java-binding.toml
  src/java_binding/src/iterator.rs
  src/java_binding/src/lib.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, mergify/can-merge

#7367 fix: broken channel reciever
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/consistent_hash_shuffle_channel.rs
  src/batch/src/task/fifo_channel.rs
  src/batch/src/task/hash_shuffle_channel.rs
  src/batch/src/task/task_execution.rs
  src/tests/regress/src/schedule.rs
Labels: type/fix, mergify/can-merge

#7423 fix(risedev): disallow starting compactor without shared storage when using `d`
  src/risedevtool/src/compose.rs
  src/risedevtool/src/task/compactor_service.rs
Labels: type/fix, mergify/can-merge

#7382 chore(storage): add some metrics to simulate bloom filter false positive rate
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/local_metrics.rs
Labels: type/chore, mergify/can-merge

#7427 fix(ci): fix install protoc
  ci/scripts/release.sh
Labels: type/fix

#7416 fix: Fix potential block in frontent.
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/scheduler/local.rs
Labels: type/fix, mergify/can-merge

#7370 feat(frontend): support streaming_parallelism session variable.
  ci/scripts/run-e2e-test.sh
  dashboard/proto/gen/stream_plan.ts
  proto/stream_plan.proto
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/frontend/src/handler/alter_table.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/test_fragmenter.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/streaming_parallelism.rs
Labels: type/feature, mergify/can-merge

#7386 chore: some minor fixes
  docs/relational_table/relational-table-schema.md
  src/storage/src/mem_table.rs
  src/stream/src/common/table/state_table.rs
Labels: type/chore, mergify/can-merge

#7430 test(streaming): make epoch.inc works in tests
  src/common/src/util/epoch.rs
  src/compute/tests/integration_tests.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_batch_table.rs
  src/stream/src/common/table/test_streaming_table.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/top_n_plain.rs
Labels: component/test, mergify/can-merge

#7393 feat(streaming): use refill cache on write policy for streaming hash_…
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature, mergify/can-merge

#7433 fix(test): workaround #7367
  src/storage/backup/integration_tests/common.sh
Labels: type/fix, mergify/can-merge

#7429 feat(build): apple intel chip simd
  .cargo/config.toml
Labels: mergify/can-merge

#7435 chore(ci): reduce log size
  ci/scripts/e2e-test-parallel.sh
  src/frontend/src/optimizer/plan_node/logical_scan.rs
Labels: type/chore, mergify/can-merge

#7411 fix(stream agg): fix cache filling to avoid relying on `row_count`
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/aggregation/state_cache/cache.rs
  src/stream/src/executor/aggregation/state_cache/mod.rs
Labels: type/fix, mergify/can-merge

#7434 refactor(source): refine some code of source executor
  src/stream/src/executor/source/source_executor_v2.rs
Labels: type/refactor, mergify/can-merge

#7436 fix(connector): allow latest as the start up mode
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, mergify/can-merge

#7447 fix(source): fix json parser
  Cargo.lock
  src/source/src/parser/canal/simd_json_parser.rs
Labels: type/fix, mergify/can-merge

#7448 chore: new metric source row count per barrier
  grafana/risingwave-dashboard.dashboard.py
  grafana/risingwave-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/source/source_executor_v2.rs
Labels: type/chore, mergify/can-merge

#7449 chore: refine build comments
  .cargo/config.toml
Labels: type/chore, mergify/can-merge

#7179 feat: introduce ElectionClient trait for meta
  Cargo.lock
  dashboard/proto/gen/leader.ts
  proto/leader.proto
  risedev.yml
  src/meta/Cargo.toml
  src/meta/src/error.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/election_client.rs
  src/meta/src/rpc/elections.rs
  src/meta/src/rpc/follower_svc.rs
  src/meta/src/rpc/leader_svc.rs
  src/meta/src/rpc/mod.rs
  src/meta/src/rpc/server.rs
  src/meta/src/rpc/service/leader_service.rs
  src/tests/simulation/Cargo.toml
Labels: type/feature, mergify/can-merge

#7094 feat: support `RETURNING` in DML statements
  Cargo.lock
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  dashboard/proto/gen/batch_plan.ts
  e2e_test/batch/basic/dml_returning.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/compute/tests/integration_tests.rs
  src/frontend/planner_test/tests/testdata/delete.yaml
  src/frontend/planner_test/tests/testdata/insert.yaml
  src/frontend/planner_test/tests/testdata/update.yaml
  src/frontend/src/binder/delete.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/statement.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/logical_delete.rs
  src/frontend/src/optimizer/plan_node/logical_insert.rs
  src/frontend/src/optimizer/plan_node/logical_update.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/planner/delete.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/planner/update.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/insert.yaml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/client.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes, mergify/can-merge

#7431 fix: avoid allocation too much in start up packets
  src/utils/pgwire/src/pg_message.rs
Labels: type/fix, mergify/can-merge

#6705 fix: handle kinesis provisioned throughput exceeded exception and dispatch failure
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, mergify/can-merge

#7188 refactor(batch): set VISIBILITY_MODE to all by default
  e2e_test/batch/visibility_checkpoint.slt
  src/common/src/session_config/visibility_mode.rs
  src/frontend/src/handler/flush.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/state_store_v1.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/tests/simulation/src/client.rs
  src/tests/simulation/src/slt.rs
Labels: type/refactor, component/batch, component/storage, user-facing-changes, mergify/can-merge

#7455 fix: Revert "fix: broken channel reciever (#7367)"
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/channel.rs
  src/batch/src/task/consistent_hash_shuffle_channel.rs
  src/batch/src/task/fifo_channel.rs
  src/batch/src/task/hash_shuffle_channel.rs
  src/batch/src/task/task_execution.rs
  src/tests/regress/src/schedule.rs
Labels: type/fix, mergify/can-merge

#7457 feat(frontend): better column name for internal table
  src/frontend/planner_test/tests/testdata/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/nexmark.yaml
  src/frontend/planner_test/tests/testdata/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/tpch.yaml
  src/frontend/planner_test/tests/testdata/union.yaml
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/feature, mergify/can-merge

#7459 chore(sqlsmith): ignore broken hash_shuffle_channel error
  src/tests/sqlsmith/src/validation.rs
Labels: type/chore, mergify/can-merge

#7281 feat(frontend): deprecate CREATE MATERIALIZED SOURCE syntax
  e2e_test/ch_benchmark/create_sources.slt.part
  e2e_test/ch_benchmark/drop_sources.slt.part
  e2e_test/ddl/invalid_operation.slt
  e2e_test/ddl/show.slt
  e2e_test/source/basic/datagen.slt
  e2e_test/source/basic/ddl.slt
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/kafka_batch.slt
  e2e_test/source/basic/pubsub.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.validate.mysql.slt
  e2e_test/source/cdc/cdc.validate.postgres.slt
  src/connector/src/source/datagen/source/reader.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/batch_source.yaml
  src/frontend/planner_test/tests/testdata/struct_query.yaml
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/optimizer/mod.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
  src/sqlparser/tests/testdata/drop.yaml
  src/sqlparser/tests/testdata/show.yaml
Labels: type/feature, user-facing-changes, mergify/can-merge

#7444 fix: Cancel query in local mode.
  src/common/src/util/mod.rs
  src/common/src/util/stream_cancel.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
Labels: type/fix, user-facing-changes, mergify/can-merge

#7462 feat(streaming): hash join fill cache when insert if pk is contained in join key
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/feature, mergify/can-merge

#7461 fix(test): temporarily disable `RETURNING` e2e test
  e2e_test/batch/basic/dml_returning.slt.part.disabled
  src/tests/simulation/src/slt.rs
Labels: type/fix, mergify/can-merge

#7426 doc: profiling remote compute nodes
  docs/cpu-profiling.md
  docs/developer-guide.md
Labels: component/doc, mergify/can-merge

#7419 refactor(meta): decouple steps of stream job preparation (part 1)
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/service/ddl_service.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, mergify/can-merge
