Repository risingwavelabs/risingwave, pull requests merged in 2023-11, with the labels that each got.

#13129 chore(storage): issue a warning when key value is too large
  src/storage/src/hummock/sstable/builder.rs
Labels: type/chore

#13178 fix(ci): fix deterministic integration sink test regression
  ci/scripts/deterministic-it-test.sh
  src/tests/simulation/tests/integration_tests/sink/basic.rs
  src/tests/simulation/tests/integration_tests/sink/recovery.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
Labels: type/fix, ci/run-main-cron, ci/run-build-simulation, ci/run-integration-test-deterministic-simulation, ci/main-cron/skip-ci

#13175 fix(metrics): guard label of local metrics
  src/common/src/metrics/guarded_metrics.rs
  src/common/src/metrics/relabeled_metric.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/local_metrics.rs
Labels: type/fix

#12873 feat(sink): Support big query sink
  Cargo.lock
  integration_tests/big-query-sink/README.md
  integration_tests/big-query-sink/append-only-sql/create_mv.sql
  integration_tests/big-query-sink/append-only-sql/create_sink.sql
  integration_tests/big-query-sink/append-only-sql/create_source.sql
  integration_tests/big-query-sink/docker-compose.yml
  src/connector/Cargo.toml
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/mod.rs
Labels: type/feature, user-facing-changes

#13179 fix(test): use rate limit instead in background ddl test
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/flow_control.rs
  src/tests/simulation/src/background_ddl.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/fix, ci/run-main-cron, ci/run-build-simulation, ci/run-integration-test-deterministic-simulation, ci/main-cron/skip-ci

#13123 fix: cherry-pick #13078 and #13046
  Cargo.lock
  src/batch/src/executor/source.rs
  src/common/src/util/chunk_coalesce.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/s3.rs
Labels: type/fix

#13109 fix(sink): json `timestamptz` should contain UTC suffix `Z`
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/remote.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/fix

#13191 fix(sqlsmith): use `encoded` string as input to `decode`
  src/tests/sqlsmith/src/sql_gen/functions.rs
Labels: type/fix, ci/run-sqlsmith-fuzzing-tests

#13193 fix: `hash_agg` bench
  src/stream/benches/stream_hash_agg.rs
Labels: type/fix

#13194 fix(sink): spawn blocking in remote validation
  src/connector/src/sink/remote.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, ci/run-java-connector-node-integration-tests

#13199 chore: bump rustix 0.38.11->0.38.21
  Cargo.lock
Labels: type/chore

#13183 feat(over window): support general `rank` and `dense_rank` window functions
  e2e_test/over_window/generated/batch/rank_func/mod.slt.part
  e2e_test/over_window/generated/streaming/rank_func/mod.slt.part
  e2e_test/over_window/templates/rank_func/mod.slt.part
  e2e_test/over_window/templates/rank_func/row_number_old.part
  proto/batch_plan.proto
  src/batch/src/executor/sort_over_window.rs
  src/expr/core/src/window_function/state/mod.rs
  src/expr/core/src/window_function/state/rank.rs
  src/expr/core/src/window_function/state/row_number.rs
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/batch_over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
Labels: type/feature

#13182 feat(optimizer): support value extract project rule
  src/frontend/planner_test/tests/testdata/input/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_visitor/plan_correlated_id_finder.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/values_extract_project_rule.rs
Labels: type/feature

#13189 feat: introduce user and privilege functions based on sql meta store
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/connection.rs
  src/meta/model_v2/src/database.rs
  src/meta/model_v2/src/function.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/schema.rs
  src/meta/model_v2/src/user.rs
  src/meta/model_v2/src/user_privilege.rs
  src/meta/model_v2/src/view.rs
  src/meta/model_v2/src/worker.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/system_param.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
Labels: type/feature

#13201 fix(expr): `date_trunc` and `+/-` on `timestamptz` during DST jump-back
  e2e_test/batch/functions/issue_12072.slt.part
  src/expr/impl/src/scalar/date_trunc.rs
  src/expr/impl/src/scalar/timestamptz.rs
Labels: type/fix

#13196 feat(metrics): fragment level streaming metrics (part 2)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
Labels: type/feature

#13200 refactor: introduce `thiserror-ext` for boxed error wrapper definition
  Cargo.lock
  Cargo.toml
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/udf/Cargo.toml
  src/udf/src/error.rs
  src/udf/src/external.rs
  src/udf/src/lib.rs
Labels: type/refactor

#13217 fix(optimizer): impl ExprRewritable for StreamValues
  e2e_test/streaming/values.slt
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/planner_test/tests/testdata/output/basic_query.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/optimizer/plan_node/stream_values.rs
Labels: type/fix

#13209 feat: support k8s labels for dashboards
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
Labels: type/feature

#13221 chore: suppress storage log on back-pressure
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/src/hummock/write_limiter.rs
Labels: type/chore

#13218 chore: update cherry pick action
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#13211 refactor(jni): refactor and add doc and expect_test for jni macro
  Cargo.lock
  src/jni_core/Cargo.toml
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/macros.rs
Labels: type/refactor

#13161 feat(expr): add to_jsonb
  Cargo.lock
  e2e_test/batch/aggregate/jsonb_agg.slt.part
  e2e_test/batch/basic/to_jsonb.slt.part
  proto/expr.proto
  src/common/Cargo.toml
  src/common/src/types/jsonb.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/benches/expr.rs
  src/expr/impl/src/aggregate/jsonb_agg.rs
  src/expr/impl/src/scalar/mod.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/tests/regress/data/sql/jsonb.sql
Labels: type/feature

#13232 fix: update icelake upsert query
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/iceberg.rs
Labels: type/fix

#13233 chore: add a docker compose file for standalone mode
  docker/docker-compose-standalone.yml
Labels: type/chore

#13230 feat: notify user privilege change for drop ddl and add `create_source` function
  src/meta/model_v2/src/source.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
Labels: type/feature

#13237 fix(grafana): fix the executor cache memory by MV panel
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Labels: type/fix, component/dashboard

#13236 chore(standalone): pass `prometheus_listener_addr` to meta
  src/cmd_all/src/standalone.rs
  src/meta/node/src/lib.rs
Labels: type/chore, ci/run-e2e-standalone-tests

#13238 chore: remove CODEOWNERS in the release branch
  CODEOWNERS
Labels: type/chore

#13059 feat(storage): adapt to foyer new write model
  Cargo.lock
  src/common/src/config.rs
  src/compute/src/memory_management/mod.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/storage/Cargo.toml
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#13226 feat: ignore `collate` in `select` and `create table`
  e2e_test/batch/basic/collation.slt.part
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/handler/create_table.rs
Labels: type/feature

#13234 feat(test): add `nexmark-q15-two-phase` for flamegraph generation
  ci/scripts/sql/nexmark/q15-two-phase.drop.sql
  ci/scripts/sql/nexmark/q15-two-phase.sql
Labels: type/feature, ci/run-cpu-flamegraph, nexmark-q15-two-phase

#13137 refactor(sink): reimplement remote sink without writer
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkCoordinatorResponseObserver.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkWriterResponseObserver.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkWriterStreamObserver.java
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/remote.rs
  src/rpc_client/src/connector_client.rs
Labels: type/refactor, ci/run-e2e-iceberg-sink-tests, ci/run-java-connector-node-integration-tests

#13249 build(tools): bump cargo-udeps
  Makefile.toml
Labels: type/build

#13247 chore(ci): use release branch rather than release candidate branch for backwards compat tests
  backwards-compat-tests/scripts/run_local.sh
  backwards-compat-tests/scripts/utils.sh
  ci/scripts/backwards-compat-test.sh
Labels: type/chore, ci/run-backwards-compat-tests

#13130 fix(cdc): ensure connector is inited after the CREATE TABLE is finished
  ci/scripts/e2e-source-test.sh
  e2e_test/source/cdc_inline/postgres_create_drop.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  proto/connector_service.proto
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/cdc/split.rs
  src/jni_core/src/jvm_runtime.rs
  src/source/src/connector_source.rs
Labels: type/fix, ci/run-e2e-source-tests, need-cherry-pick-v1.4

#13219 refactor: migrate backfill tests to deterministic integration tests
  ci/scripts/deterministic-it-test.sh
  ci/scripts/run-backfill-tests.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/rpc/ddl_controller.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/flow_control.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/refactor, ci/run-main-cron, ci/run-backfill-tests, ci/run-build, ci/run-build-simulation, ci/run-integration-test-deterministic-simulation, ci/main-cron/skip-ci

#13243 fix: fix type infer of i32 in meta sql backend model
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/compaction_task.rs
  src/meta/model_v2/src/database.rs
  src/meta/model_v2/src/fragment.rs
  src/meta/model_v2/src/hummock_pinned_snapshot.rs
  src/meta/model_v2/src/hummock_pinned_version.rs
  src/meta/model_v2/src/hummock_version_delta.rs
  src/meta/model_v2/src/hummock_version_stats.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/schema.rs
  src/meta/model_v2/src/source.rs
  src/meta/model_v2/src/table.rs
  src/meta/model_v2/src/user.rs
  src/meta/model_v2/src/worker.rs
  src/meta/src/backup_restore/meta_snapshot_builder_v2.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/meta/src/error.rs
  src/meta/src/hummock/model/ext/hummock.rs
Labels: type/fix

#13256 fix(standalone): should not specify dashboard ui path
  docker/docker-compose-standalone.yml
Labels: type/fix

#13257 chore: miss a double quote in the command of docker-compose-standalone.yml
  docker/docker-compose-standalone.yml
Labels: type/chore

#13250 chore(standalone): pass prometheus_listener_addr to meta (#13236)
  src/cmd_all/src/standalone.rs
  src/meta/node/src/lib.rs
Labels: type/chore

#13261 chore(ci): specify rw image tag for integration test
  ci/scripts/integration-tests.sh
Labels: type/chore

#13262 chore: add session variable to enable / disable arrangement backfill
  src/common/src/session_config/mod.rs
Labels: type/chore

#13252 doc: Update README.md
  README.md
Labels: component/doc

#13198 feat(expr): add `jsonb_build_array/object` function
  e2e_test/batch/aggregate/jsonb_agg.slt.part
  e2e_test/batch/basic/to_jsonb.slt.part
  proto/expr.proto
  src/expr/impl/src/aggregate/jsonb_agg.rs
  src/expr/impl/src/scalar/jsonb_build.rs
  src/expr/impl/src/scalar/mod.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/tests/regress/data/expected/jsonb.out
  src/tests/regress/data/sql/jsonb.sql
Labels: type/feature

#13268 fix(expr): fix `overlay` function with large range input
  src/expr/impl/src/scalar/overlay.rs
Labels: type/fix

#13272 feat: add rw_internal_tables
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_internal_tables.rs
Labels: type/feature

#13273 refactor(stream): remove `async_trait` macro for traits
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/utils.rs
  src/stream/src/from_proto/append_only_dedup.rs
  src/stream/src/from_proto/barrier_recv.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/chain.rs
  src/stream/src/from_proto/dml.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/eowc_over_window.rs
  src/stream/src/from_proto/expand.rs
  src/stream/src/from_proto/filter.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/hash_join.rs
  src/stream/src/from_proto/hop_window.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/from_proto/lookup_union.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/mview.rs
  src/stream/src/from_proto/no_op.rs
  src/stream/src/from_proto/now.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/src/from_proto/project.rs
  src/stream/src/from_proto/project_set.rs
  src/stream/src/from_proto/row_id_gen.rs
  src/stream/src/from_proto/simple_agg.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/sort.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/stateless_simple_agg.rs
  src/stream/src/from_proto/temporal_join.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/src/from_proto/union.rs
  src/stream/src/from_proto/values.rs
  src/stream/src/from_proto/watermark_filter.rs
  src/stream/tests/integration_tests/snapshot.rs
Labels: type/refactor

#13269 feat(jni): implement macro to type safe call java method
  src/connector/src/sink/remote.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests

#13248 refactor: correctly maintain the source chain of error types
  src/batch/src/error.rs
  src/batch/src/lib.rs
  src/common/src/array/error.rs
  src/common/src/error.rs
  src/common/src/util/value_encoding/error.rs
  src/connector/src/error.rs
  src/connector/src/lib.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/sink/mod.rs
  src/expr/core/src/error.rs
  src/expr/core/src/lib.rs
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/basic_query.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/error.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/error.rs
  src/meta/src/hummock/error.rs
  src/meta/src/model/error.rs
  src/meta/src/storage/meta_store.rs
  src/object_store/src/object/error.rs
  src/rpc_client/src/error.rs
  src/rpc_client/src/lib.rs
  src/storage/backup/src/error.rs
  src/storage/hummock_trace/src/error.rs
  src/storage/src/error.rs
  src/storage/src/hummock/error.rs
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/refactor

#13281 feat(optimizer): merge chaining `OverWindow`s with same partition by and order by
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/over_window_merge_rule.rs
Labels: type/feature

#13284 chore: report stream chunk size as `partition_input_bytes` for workload generator
  src/connector/src/source/monitor/metrics.rs
  src/connector/src/source/nexmark/source/reader.rs
Labels: type/chore

#13187 chore: rename `streaming/group_top_n/main1.slt` to `main.slt`
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  e2e_test/streaming/group_top_n/main.slt
  src/connector/Cargo.toml
  src/tests/simulation/Cargo.toml
Labels: type/chore

#13289 fix(stream agg): use executor schema derived by optimizer instead of generating again in agg executors
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/stateless_simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/simple_agg.rs
  src/stream/src/from_proto/stateless_simple_agg.rs
Labels: type/fix

#13300 fix(ci): fix specify risingwave image tag env
  ci/scripts/integration-tests.sh
Labels: type/fix

#13216 feat: support `ALTER DATABASE/SCHEMA/TABLE/... xxx OWNER TO xxx` syntax
  e2e_test/ddl/alter_owner.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_databases.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_schemas.rs
  src/frontend/src/handler/alter_owner.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes

#13299 feat(expr): support list and struct in `jsonb_agg`/`jsonb_object_agg`
  e2e_test/streaming/aggregate/jsonb_agg.slt
  src/expr/impl/src/aggregate/jsonb_agg.rs
  src/expr/macro/src/gen.rs
Labels: type/feature

#13305 chore(test): skip test with vendor because of invalid auth
  ci/scripts/pulsar-source-test.sh
Labels: type/chore, ci/run-main-cron, ci/run-build, ci/run-build-other, ci/main-cron/skip-ci, ci/run-pulsar-source-tests

#12681 feat(sink): support starrocks sink
  integration_tests/starrocks-sink/README.md
  integration_tests/starrocks-sink/append-only-sql/create_mv.sql
  integration_tests/starrocks-sink/append-only-sql/create_sink.sql
  integration_tests/starrocks-sink/append-only-sql/create_source.sql
  integration_tests/starrocks-sink/docker-compose.yml
  integration_tests/starrocks-sink/upsert/create_mv.sql
  integration_tests/starrocks-sink/upsert/create_sink.sql
  integration_tests/starrocks-sink/upsert/create_table.sql
  integration_tests/starrocks-sink/upsert/insert_update_delete.sql
  src/connector/src/common.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_connector.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/starrocks.rs
Labels: type/feature

#13190 feat(sink): support jdbc sink async truncate
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkWriter.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkWriterV1.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkWriterStreamObserver.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/AppendOnlyIcebergSinkWriter.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/UpsertIcebergSinkWriter.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  proto/connector_service.proto
  src/connector/src/sink/remote.rs
Labels: type/feature

#13291 feat(pgwire): listen on unix socket
  Cargo.lock
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/net.rs
  src/utils/pgwire/src/pg_server.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#13279 fix(jdbc-sink): Handle JDBC connection error by recreating the connection
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
Labels: type/fix, need-cherry-pick-v1.4

#13242 refactor: rename "chain" node
  dashboard/lib/streamPlan/parser.js
  proto/stream_plan.proto
  proto/stream_service.proto
  src/common/src/catalog/external_table.rs
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/utils/stream_graph_formatter.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/tests/integration_tests/recovery/backfill.rs
  src/tests/simulation/tests/integration_tests/scale/cascade_materialized_view.rs
  src/tests/simulation/tests/integration_tests/scale/no_shuffle.rs
  src/tests/simulation/tests/integration_tests/scale/plan.rs
Labels: type/refactor, ci/run-backwards-compat-tests

#13311 refactor(optimizer): add lookup table to batch lookup join explain
  src/frontend/planner_test/tests/testdata/output/batch_index_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/distributed_lookup_join.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/time_window.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
Labels: type/refactor

#13320 fix: ignore unknow field in config
  src/connector/src/sink/iceberg.rs
  src/connector/with_options.yaml
Labels: ci/run-e2e-iceberg-sink-tests

#13321 feat: add `properties.fetch.queue.backoff.ms` for kafka source
  src/connector/src/source/kafka/mod.rs
  src/connector/with_options.yaml
Labels: type/feature

#13287 feat(frontend): support show processlist
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/infer_stmt_row_desc.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
  src/utils/pgwire/src/net.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: user-facing-changes

#13285 fix(udf): add graceful shutdown for python UDF server
  ci/scripts/run-e2e-test.sh
  e2e_test/udf/graceful_shutdown_python.slt
  e2e_test/udf/test.py
  java/udf-example/src/main/java/com/example/UdfExample.java
  src/udf/python/CHANGELOG.md
  src/udf/python/pyproject.toml
  src/udf/python/risingwave/udf.py
Labels: type/fix

#13315 fix(storage): Handle heartbeat cancel in fast compactor runner
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: type/fix

#13335 docs: add quick reference for ci labels
  docs/developer-guide.md
Labels: component/doc, Invalid PR Title

#13333 refactor: use `expect-test` to generate default config file
  Cargo.lock
  Makefile.toml
  src/common/Cargo.toml
  src/common/src/bin/default_config.rs
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/lib.rs
Labels: type/refactor

#13336 chore(proto): standardize name of enums
  java/common-utils/src/main/java/com/risingwave/java/utils/MetaClient.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkFactoryTest.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraFactory.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkFactory.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  java/udf-example/pom.xml
  proto/catalog.proto
  proto/common.proto
  proto/ddl_service.proto
  proto/hummock.proto
  proto/plan_common.proto
  proto/stream_plan.proto
  src/common/src/catalog/mod.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/schema/schema_registry/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/stream/src/from_proto/stream_scan.rs
Labels: type/chore, ci/run-backfill-tests

#13339 chore: update version to 1.4.0
  Cargo.lock
  Cargo.toml
  docker/docker-compose.yml
Labels: type/chore

#13310 fix: return notice when create source/sink if not exist
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/session.rs
Labels: type/fix

#13264 feat(error): report the error's source chain through psql
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/run-e2e-test.sh
  e2e_test/batch/aggregate/sum.slt.part
  e2e_test/batch/basic/dml.slt.part
  e2e_test/batch/functions/pow.slt.part
  e2e_test/ddl/invalid_operation.slt
  e2e_test/ddl/table/generated_columns.slt.part
  e2e_test/error_ui/README.md
  e2e_test/error_ui/main.slt
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/source/basic/datagen.slt
  e2e_test/source/basic/ddl.slt
  e2e_test/source/basic/old_row_format_syntax/datagen.slt
  e2e_test/source/basic/old_row_format_syntax/ddl.slt
  e2e_test/streaming/watermark.slt
  src/tests/simulation/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_message.rs
Labels: type/feature

#13342 refactor(stream): use `ExecutorInfo` constructed by stream manager in `Project` and `ProjectSet`
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/project.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/from_proto/project.rs
  src/stream/src/from_proto/project_set.rs
  src/stream/src/task/stream_manager.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: type/refactor

#13338 fix(meta): collect meta node count as worker node
  src/meta/src/manager/cluster.rs
Labels: type/fix

#13343 chore: add memory limit & restarts in docker-compose.yml
  docker/docker-compose-standalone.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose.yml
Labels: type/chore

#13344 fix: remove connector-node from docker
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
  docker/prometheus.yaml
Labels: type/fix

#13282 feat(error): preserve error's source chain across gRPC boundary
  Cargo.lock
  Cargo.toml
  e2e_test/error_ui/main.slt
  src/batch/src/error.rs
  src/common/Cargo.toml
  src/common/src/error.rs
  src/error/Cargo.toml
  src/error/src/lib.rs
  src/error/src/tonic.rs
  src/frontend/src/scheduler/error.rs
  src/meta/src/error.rs
  src/meta/src/hummock/error.rs
  src/meta/src/model/error.rs
  src/prost/Cargo.toml
  src/prost/src/lib.rs
  src/rpc_client/Cargo.toml
  src/rpc_client/src/error.rs
  src/storage/Cargo.toml
  src/storage/src/filter_key_extractor.rs
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
Labels: type/feature

#13348 refactor(error): show pretty error in planner test
  Cargo.lock
  Cargo.toml
  e2e_test/batch/duckdb/cte/test_cte.test.slt.part
  e2e_test/ddl/table/generated_columns.slt.part
  e2e_test/error_ui/main.slt
  src/common/src/error.rs
  src/frontend/planner_test/Cargo.toml
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/planner_test/tests/testdata/output/basic_query.yaml
  src/frontend/planner_test/tests/testdata/output/concat_op_dispatch.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/format.yaml
  src/frontend/planner_test/tests/testdata/output/generated_columns.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/order_by.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/project_set.yaml
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
  src/frontend/planner_test/tests/testdata/output/select_except.yaml
  src/frontend/planner_test/tests/testdata/output/struct_field_access.yaml
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/sysinfo_funcs.yaml
  src/frontend/planner_test/tests/testdata/output/table_primary_key.yaml
  src/frontend/planner_test/tests/testdata/output/types.yaml
  src/frontend/src/binder/expr/mod.rs
  src/utils/pgwire/src/pg_message.rs
Labels: type/refactor

#13360 fix(ci): rebuild dashboard artifacts on proto changes
  .github/workflows/dashboard_main.yml
Labels: type/fix

#13347 refactor: use `ExecutorParams::info` in stream scan executors
  src/compute/tests/cdc_tests.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/flow_control.rs
  src/stream/src/executor/rearranged_chain.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/stream_scan.rs
Labels: type/refactor

#13361 fix(meta): singleton requirement should be propagated through no-shuffle edges in scheduler
  e2e_test/streaming/bug_fixes/issue_13094.slt
  src/meta/src/stream/stream_graph/schedule.rs
Labels: type/fix

#13359 fix: compaction test open enable_test_epoch flag
  ci/workflows/main-cron.yml
  src/tests/compaction_test/Cargo.toml
Labels: type/fix, ci/run-main-cron, ci/run-docslt, ci/run-build, ci/run-build-other, ci/run-e2e-test, ci/main-cron/skip-ci

#13364 fix(source): informative error on protobuf `build_file_descriptor_set` failure
  src/connector/src/parser/protobuf/schema_resolver.rs
Labels: type/fix, need-cherry-pick-v1.4

#13356 feat(meta): report background_ddl progress immediately
  e2e_test/background_ddl/basic.slt
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
Labels: type/feature, ci/run-main-cron, ci/run-build-simulation, ci/main-cron/skip-ci, ci/run-e2e-test-deterministic-simulation

#13372 chore(deps): bump self_cell for RUSTSEC-2023-0070
  Cargo.lock
Labels: type/chore

#13316 feat(storage): add metrics for mem table spill
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/feature

#13370 feat(source): embed protobuf well known types when using schema registry
  Cargo.lock
  ci/scripts/e2e-source-test.sh
  e2e_test/schema_registry/pb.py
  e2e_test/schema_registry/pb.slt
  e2e_test/schema_registry/protobuf/user.proto
  e2e_test/schema_registry/protobuf/user_pb2.py
  src/connector/Cargo.toml
  src/connector/build.rs
  src/connector/src/parser/protobuf/schema_resolver.rs
Labels: type/feature

#13371 fix(s3): more accurate expiration judgment when starting the cluster
  src/meta/src/hummock/manager/mod.rs
  src/object_store/src/object/s3.rs
Labels: type/fix

#12792 fix(storage): avoid preload all range-tombstone before compaction job start
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/iterator/concat_delete_range_iterator.rs
  src/storage/src/hummock/iterator/delete_range_iterator.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/fix

#13383 refactor(stream): use `ExecutorParams::info` in over window related executors
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/utils.rs
  src/stream/src/from_proto/eowc_over_window.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/tests/integration_tests/eowc_over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/refactor

#13390 fix(conn): fix throw error msg of connector when encode Json or Csv
  src/connector/src/parser/plain_parser.rs
  src/frontend/planner_test/tests/testdata/output/create_source.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/planner_test/tests/testdata/output/generated_columns.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/src/handler/create_source.rs
Labels: type/fix

#13357 chore: update image version in docker
  docker/docker-compose-standalone.yml
  docker/docker-compose.yml
Labels: type/chore

#13309 refactor(storage): avoid decode and compression when refill
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/refactor

#13382 fix(docker): fix memory limit suffix in docker compose
  docker/docker-compose-standalone.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose.yml
Labels: type/fix

#13239 chore: add a configuraiton toml for serving-only CN
  src/config/serving-only.toml
Labels: type/chore

#13384 fix(connector): warn on undefined nested field in struct when parsing JSON
  e2e_test/udf/udf.slt
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/unified/json.rs
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
Labels: type/fix

#13380 refactor(stream): use `ExecutorParams::info` in source-related executors
  src/compute/tests/integration_tests.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/row_id_gen.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/list_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/dml.rs
  src/stream/src/from_proto/row_id_gen.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/refactor

#13395 fix(scale): fix serving fragment bitmap for scale
  src/meta/src/serving/mod.rs
  src/meta/src/stream/scale.rs
Labels: type/fix

#13340 feat(storage): support max version pinning duration
  src/common/src/config.rs
  src/config/example.toml
  src/meta/src/hummock/manager/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/opts.rs
Labels: type/feature

#13405 fix(streaming): avoid shadowing identity when flow controlled
  src/stream/src/executor/flow_control.rs
Labels: type/fix

#13397 fix(cdc): fix some cdc backfill issues
  src/connector/src/source/external.rs
  src/frontend/planner_test/tests/testdata/output/create_source.yaml
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/sqlparser/README.md
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/tests/testdata/create.yaml
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/stream_scan.rs
Labels: type/fix

#13376 refactor(streaming): pass order_col_indices and order_types in minput
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/agg_common.rs
Labels: type/refactor

#13389 refactor: use `ExecutorParams::info` in join related executors
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/lookup.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/lookup_union.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/hash_join.rs
  src/stream/src/from_proto/lookup.rs
Labels: type/refactor

#13286 refactor: bump aws sdk, use rustls in s3 client
  Cargo.lock
  Cargo.toml
  src/bench/Cargo.toml
  src/bench/s3_bench/main.rs
  src/connector/Cargo.toml
  src/connector/src/aws_auth.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/kinesis/enumerator/client.rs
  src/connector/src/source/kinesis/source/message.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/meta/src/rpc/cloud_provider.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/error.rs
  src/object_store/src/object/s3.rs
  src/tests/simulation/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/refactor

#13276 feat(cdc): persist the backfill state for table-on-source
  ci/scripts/e2e-source-test.sh
  e2e_test/source/cdc/cdc.check_new_rows.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  proto/plan_common.proto
  src/common/src/catalog/external_table.rs
  src/compute/tests/cdc_tests.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/external.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/catalog/mod.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/mod.rs
  src/stream/src/executor/backfill/cdc/state.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/stream_scan.rs
Labels: type/feature

#13240 feat: support foyer zstd compression
  src/storage/src/store_impl.rs
Labels: type/feature

#13417 fix: panic if spawn when task drop with madsim
  src/storage/src/hummock/sstable_store.rs
Labels: type/bug, type/fix

#13415 fix(meta): fix ctrl c cancels streaming job
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix

#13381 feat: introduce fragment level functions in sql catalog controller
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/actor.rs
  src/meta/model_v2/src/fragment.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/prelude.rs
  src/meta/model_v2/src/streaming_job.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
Labels: type/feature

#13413 fix(frontend): refine error message on missing `force_append_only`
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/fix

#13132 feat(storage): prefetch large data for backfill
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/cache.rs
  src/common/src/config.rs
  src/compute/src/memory_management/mod.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/bench.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/s3.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/iterator/backward_concat.rs
  src/storage/src/hummock/iterator/backward_merge.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/forward_concat.rs
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/validator.rs
  src/storage/src/opts.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/storage_failpoints/test_sstable.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/managed_state/join/mod.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#13419 fix: alter owner automatically for internal table, index and associated source
  e2e_test/ddl/alter_owner.slt
  src/frontend/src/handler/alter_owner.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix

#13431 doc: clarify skip-ci use
  .github/pull_request_template.md
  docs/developer-guide.md
Labels: component/doc

#13407 fix(test): pulsar test timeout in main-cron
  ci/scripts/e2e-pulsar-sink-test.sh
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/writer.rs
Labels: type/fix, ci/run-e2e-pulsar-sink-tests

#13425 fix(cdc): fix drop source for cdc source job
  ci/scripts/e2e-source-test.sh
  e2e_test/source/cdc/cdc_share_stream_drop.slt
  src/frontend/src/handler/create_table.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix

#13406 refactor(frontend): refactor explain for `CREATE TABLE`
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
Labels: type/refactor

#13436 fix(object store): make lifecycle expiration rule more reasonable
  src/object_store/src/object/s3.rs
Labels: type/fix

#13410 chore(main-cron): add test owners, notify on test failure
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
Labels: type/chore

#13434 feat(frontend): support kill command
  src/common/src/error.rs
  src/frontend/src/handler/kill_process.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/session.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature, user-facing-changes

#13435 refactor(stream): use `ExecutorParams::info` in remaining executors
  src/stream/src/executor/barrier_recv.rs
  src/stream/src/executor/dedup/append_only_dedup.rs
  src/stream/src/executor/expand.rs
  src/stream/src/executor/filter.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/lookup_union.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/no_op.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/stateless_simple_agg.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/executor/union.rs
  src/stream/src/executor/utils.rs
  src/stream/src/executor/values.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/append_only_dedup.rs
  src/stream/src/from_proto/barrier_recv.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/expand.rs
  src/stream/src/from_proto/filter.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/hop_window.rs
  src/stream/src/from_proto/lookup_union.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/from_proto/mview.rs
  src/stream/src/from_proto/no_op.rs
  src/stream/src/from_proto/now.rs
  src/stream/src/from_proto/simple_agg.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/sort.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/stateless_simple_agg.rs
  src/stream/src/from_proto/temporal_join.rs
  src/stream/src/from_proto/union.rs
  src/stream/src/from_proto/values.rs
  src/stream/src/from_proto/watermark_filter.rs
  src/stream/src/task/stream_manager.rs
  src/stream/tests/integration_tests/hop_window.rs
Labels: type/refactor, Invalid PR Title

#13229 fix(type): fix parsing array literal and printing struct value
  e2e_test/batch/basic/array.slt.part
  e2e_test/batch/duckdb/select/test_multi_column_reference.slt.part
  e2e_test/batch/order/test_order_struct.slt.part
  e2e_test/batch/types/jsonb.slt.part
  e2e_test/batch/types/struct/nested_structs.slt.part
  e2e_test/batch/types/struct/struct.slt.part
  e2e_test/batch/types/struct/struct_case.slt.part
  e2e_test/batch/types/struct/struct_cast.slt.part
  e2e_test/batch/types/struct/struct_cross_product.slt.part
  e2e_test/ddl/alter_rename_relation.slt
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/kafka_batch.slt
  e2e_test/source/basic/old_row_format_syntax/kafka.slt
  e2e_test/source/basic/old_row_format_syntax/kafka_batch.slt
  e2e_test/streaming/struct_table.slt
  e2e_test/udf/udf.slt
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/expr/impl/benches/expr.rs
  src/expr/impl/src/scalar/cast.rs
  src/frontend/planner_test/tests/testdata/input/array.yaml
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/tests/regress/data/expected/arrays.out
  src/tests/regress/data/sql/arrays.sql
Labels: type/fix

#13438 chore: add some unit test for alter relation rename in catalog controller
  src/meta/src/controller/catalog.rs
Labels: type/chore

#13439 refactor(datagen): generalize `TimestampField` to `ChronoField`
  src/common/src/field_generator/mod.rs
  src/common/src/field_generator/timestamp.rs
  src/connector/src/source/datagen/source/reader.rs
Labels: type/refactor

#13303 chore(dependabot): add opentelemetry group
  .github/dependabot.yml
Labels: type/chore

#13288 fix: add assertion to check stream executor schema consistency
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#13453 fix(test): missing rowsort in udf.slt
  e2e_test/udf/udf.slt
Labels: type/fix

#13455 refactor(risedev): refine error reporting
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/task_etcd_ready_check.rs
  src/risedevtool/src/task/task_kafka_ready_check.rs
  src/risedevtool/src/wait.rs
Labels: type/refactor

#13460 fix(optimizer): skip subquery optimization if no apply
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/src/optimizer/logical_optimization.rs
Labels: type/fix

#13449 fix(ci): remove sink json payload and jdbc sink from connector integration test
  ci/scripts/connector-node-integration-test.sh
  java/connector-node/python-client/integration_tests.py
Labels: type/fix, ci/run-main-cron, ci/run-build, ci/run-build-simulation, ci/skip-ci, ci/run-build-other, ci/main-cron/skip-ci, ci/run-connector-node-integration-tests

#13451 feat(datagen): support `timestamptz`
  e2e_test/source/basic/datagen.slt
  src/common/src/array/data_chunk.rs
  src/common/src/field_generator/mod.rs
  src/common/src/field_generator/timestamp.rs
  src/connector/src/source/datagen/source/reader.rs
Labels: type/feature

#13468 chore: Update README.md
  README.md
Labels: type/chore

#13473 fix(test): fix non deterministic group topn test
  e2e_test/streaming/group_top_n/main.slt
Labels: type/fix

#13009 feat: allow overwrite stream_rate_control in with clause
  e2e_test/ddl/throttle.slt
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/source/basic/kafka.slt
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/utils/mod.rs
  src/frontend/src/utils/overwrite_options.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/stream_scan.rs
Labels: type/feature

#13470 feat(optimizer): avoid predicate pushdown for batch queries if unnecessary
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/optimizer_context.rs
Labels: type/feature

#13494 refactor: separate `CdcScan` from `Scan` in `logical` and `core`
  src/frontend/planner_test/tests/testdata/input/create_source.yaml
  src/frontend/planner_test/tests/testdata/output/create_source.yaml
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/generic/cdc_scan.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/generic/scan.rs
  src/frontend/src/optimizer/plan_node/logical_cdc_scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/scheduler/distributed/query.rs
Labels: type/refactor

#13488 fix: reject duplicate entries in with clause
  e2e_test/ddl/throttle.slt
  e2e_test/schema_registry/pb.slt
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/old_row_format_syntax/kafka.slt
  src/frontend/src/utils/with_options.rs
Labels: type/fix

#13456 feat(expr): add local make_timestamptz()
  Cargo.lock
  e2e_test/batch/basic/local/make_timestamptz.slt.part
  e2e_test/batch/types/timestamptz_utc.slt.part
  proto/expr.proto
  src/frontend/Cargo.toml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/function_impl/context.rs
  src/frontend/src/expr/function_impl/make_timestamptz.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/local.rs
Labels: type/feature

#13498 fix(meta): use only `StreamTableScan` actors on recovery to track progress
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/catalog/fragment.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/fix, cherry-pick

#13495 fix: incorrect auto dump threshold
  src/common/heap_profiling/src/profiler.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
Labels: type/fix

#13485 chore: version update and typo fixes in readme
  README.md
Labels: type/chore

#13482 fix(telemetry): fix memory stats
  src/common/src/telemetry/mod.rs
Labels: type/fix

#13304 feat(storage): implement hummock iterator for btreemap
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/mem_table.rs
  src/storage/src/store.rs
Labels: type/feature

#13507 refactor(storage): use easy_ext for HummockVersionExt
  Cargo.lock
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/refactor

#13464 ci: opt-in steps with build.env rather than pr labels
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: component/ci

#13487 refactor(rw_catalog): make rw_worker_nodes list all nodes and resource
  proto/common.proto
  proto/meta.proto
  src/ctl/src/cmd_impl/await_tree.rs
  src/ctl/src/cmd_impl/meta/serving.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_nodes.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/lib.rs
  src/meta/service/src/cluster_service.rs
  src/meta/service/src/notification_service.rs
  src/meta/service/src/scale_service.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/env.rs
  src/meta/src/model/cluster.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/refactor, user-facing-changes

#13054 fix(storage): avoid select unexpected sub level count
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
Labels: type/fix

#13520 test: add `kafka-cdc-sink` integration test to the integration test workflow
  ci/workflows/integration-tests.yml
  integration_tests/kafka-cdc-sink/Makefile.toml
  integration_tests/kafka-cdc-sink/create_mv.sql
  integration_tests/kafka-cdc-sink/create_sink.sql
  integration_tests/kafka-cdc-sink/create_source.sql
  integration_tests/kafka-cdc-sink/debezium-jdbc/Dockerfile
  integration_tests/kafka-cdc-sink/docker-compose.yml
  integration_tests/kafka-cdc-sink/jsons/mysql-sink.json
  integration_tests/kafka-cdc-sink/jsons/pg-sink.json
  integration_tests/kafka-cdc-sink/pg_check
  integration_tests/kafka-cdc-sink/postgres_prepare.sql
  integration_tests/kafka-cdc-sink/prepare.sh
  integration_tests/scripts/check_data.py
  integration_tests/scripts/run_demos.py
Labels: component/test
