Repository risingwavelabs/risingwave, pull requests merged in 2023-07, with the labels that each got.

#10679 refactor(plan_node_fmt): use new fmt for `identity`
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/column_pruning.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/time_window.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Labels: type/refactor, user-facing-changes

#10671 fix: demo with new ddl syntax
  integration_tests/debezium-sqlserver/create_source.sql
Labels: type/fix

#10681 fix: integration test unbounded variable
  ci/scripts/integration-tests.sh
Labels: type/fix

#10587 chore(sqlsmith): adjust window function weight + size
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Labels: type/chore, ci/run-sqlsmith-snapshot-gen

#10415 feat(sink): add elasticsearch-7 sink and related e2e test
  ci/docker-compose.yml
  ci/scripts/e2e-elasticsearch-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/elasticsearch/elasticsearch.py
  e2e_test/sink/elasticsearch/elasticsearch_sink.result
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  java/connector-node/assembly/assembly.xml
  java/connector-node/assembly/pom.xml
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSink7Test.java
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/BulkRequestConsumerFactory.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink7.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink7Config.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink7Factory.java
  java/pom.xml
  src/connector/src/sink/remote.rs
Labels: type/feature

#10659 refactor(stream): dml just wait for the end message to be received
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/source/src/table.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/stream_reader.rs
Labels: type/refactor

#10678 chore: add in-memory label to slt tests
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/e2e-test-parallel-in-memory.sh
Labels: type/chore

#9060 feat(log-store): support kv-based log store
  Cargo.lock
  src/stream/Cargo.toml
  src/stream/src/common/log_store/in_mem.rs
  src/stream/src/common/log_store/kv_log_store/buffer.rs
  src/stream/src/common/log_store/kv_log_store/mod.rs
  src/stream/src/common/log_store/kv_log_store/reader.rs
  src/stream/src/common/log_store/kv_log_store/serde.rs
  src/stream/src/common/log_store/kv_log_store/test_utils.rs
  src/stream/src/common/log_store/kv_log_store/writer.rs
  src/stream/src/common/log_store/mod.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature, user-facing-changes

#10674 fix(cdc): only use source id to identify different connector
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.validate.mysql.slt
  e2e_test/source/cdc/mysql_cdc.sql
  e2e_test/source/cdc/mysql_cdc_insert.sql
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
Labels: type/fix, need-cherry-pick-v0.19

#10692 chore: update barrier number metrics regularly
  src/meta/src/barrier/mod.rs
Labels: type/chore, user-facing-changes, need-cherry-pick-v0.19

#10462 feat(expr): add missing basic exprs for `timestamptz` and `bytea`
  e2e_test/batch/functions/session_timezone.slt
  e2e_test/batch/types/bytea.slt.part
  e2e_test/batch/types/timestamptz_utc.slt.part
  src/common/src/types/interval.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/cmp.rs
  src/expr/src/vector_op/length.rs
  src/expr/src/vector_op/timestamptz.rs
Labels: type/feature, user-facing-changes

#10469 fix(expr): `array_to_string` should handle multidimensional array recursively
  src/expr/src/expr/expr_array_to_string.rs
  src/tests/regress/data/sql/arrays.sql
Labels: type/fix, breaking-change

#10675 refactor(stream): refactor delta join align_barrier method
  src/stream/src/executor/lookup/sides.rs
Labels: type/refactor

#10676 feat(watermark): union executor handle watermark
  src/stream/src/executor/union.rs
Labels: type/feature

#10684 fix(pg-cdc): validate whether we can create new replication slot
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/ValidatorUtils.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
Labels: type/fix, need-cherry-pick-v0.19

#10700 chore(deps): update `madsim-aws-s3-sdk`
  Cargo.lock
  src/tests/simulation/Cargo.toml
Labels: type/chore

#10702 feat(pgwire): catch panic from frontend
  Cargo.lock
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/feature, user-facing-changes

#9013 feat(frontend): Size of Object Functions (`pg_table_size`, `pg_relation_size`, `pg_indexes_size`) [Draft]
  e2e_test/batch/catalog/pg_size.slt.part
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_table_stats.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/notification.rs
Labels: type/feature, user-facing-changes

#10703 fix(sqlsmith): constrain overlay arguments
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
Labels: type/fix

#10715 fix: binding the correct owner to internal tables
  src/meta/src/manager/streaming_job.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/fix, user-facing-changes

#10717 refactor: print join side in stack when panic
  src/stream/src/executor/hash_join.rs
Labels: type/refactor

#10710 refactor(object_store): use in-memory buffer for storage that does not support unsized write
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Labels: type/refactor

#10525 feat(over window): general streaming over window frontend part
  e2e_test/streaming/over_window/main.slt
  e2e_test/streaming/over_window/over_window/create.slt.part
  e2e_test/streaming/over_window/over_window/cross_check.slt.part
  e2e_test/streaming/over_window/over_window/drop.slt.part
  e2e_test/streaming/over_window/over_window/mod.slt.part
  e2e_test/streaming/over_window/special_cases/mod.slt.part
  e2e_test/streaming/over_window/special_cases/to_agg_then_join.slt.part
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/input/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/feature, user-facing-changes

#10722 fix: unbounded variables in integration test
  ci/scripts/integration-tests.sh
Labels: type/fix

#10713 chore(expr): refine parsing error report
  src/expr/src/vector_op/cast.rs
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
Labels: type/chore

#10655 feat(iceberg): Add iceberg compaction demo.
  integration_tests/iceberg-sink/Dockerfile
  integration_tests/iceberg-sink/README.md
  integration_tests/iceberg-sink/airflow_dags/remove_iceberg_orphan_files.py
  integration_tests/iceberg-sink/airflow_dags/rewrite_iceberg_small_files.py
  integration_tests/iceberg-sink/docker-compose.yml
  integration_tests/iceberg-sink/iceberg-compaction-sql/remove_orphan_files.py
  integration_tests/iceberg-sink/iceberg-compaction-sql/rewrite_small_files.py
  integration_tests/iceberg-sink/spark-script/run-sql-file.sh
Labels: type/feature, user-facing-changes

#10584 refactor(storage): enable tcp keepalive and timeout for s3 client
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/compute/src/lib.rs
  src/config/example.toml
  src/meta/src/lib.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/refactor

#10707 feat(optimizer): allow temporal filter in on clause
  src/frontend/planner_test/tests/testdata/input/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/feature

#10728 feat(optimizer): add force split distinct agg flag
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/expand.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
Labels: type/feature

#10727 fix(batch): fix distributed lookup join's shuffle
  e2e_test/streaming/over_window/main.slt
  src/frontend/planner_test/tests/testdata/input/distributed_lookup_join.yaml
  src/frontend/planner_test/tests/testdata/output/distributed_lookup_join.yaml
  src/frontend/planner_test/tests/testdata/output/singleton.yaml
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix

#10716 fix(optimizer): separate the project from joins before pushing the apply operator down joins
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/apply_join_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/project_join_separate_rule.rs
Labels: type/fix

#10694 feat(meta): add tracing for barrier commands & recovery
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature

#10597 fix(compactor): limit max score for l0 compaction
  src/meta/src/hummock/compaction/level_selector.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/manager/mod.rs
Labels: need-cherry-pick-v0.19

#10295 refactor(sink): introduce SinkWriter and SinkCoordinator trait and refactor Sink trait
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/meta/src/error.rs
  src/meta/src/stream/sink.rs
  src/stream/src/executor/sink.rs
Labels: type/refactor, breaking-change

#10712 feat: introduce system tables about table fragment info
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actors.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_table_fragments.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/service/stream_service.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, user-facing-changes

#10734 chore(trace): add more trace for object store
  src/object_store/src/object/mod.rs
Labels: type/chore

#10726 fix(streaming): reorganize output of hop window
  e2e_test/streaming/bug_fixes/hop_window_update_10495.slt
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/stream_chunk.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/from_proto/hop_window.rs
Labels: type/fix

#10739 perf(stream): concurrently create_iter and fetch in dynamic filter
  src/stream/src/executor/dynamic_filter.rs
Labels: type/perf

#10725 chore(test): disable flaky unit tests
  src/storage/hummock_trace/src/collector.rs
Labels: type/chore

#10747 chore: add cherry-pick action for v1.0
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#10477 feat(types): introduce `Timestamptz` type
  proto/data.proto
  src/common/src/array/arrow.rs
  src/common/src/array/chrono_array.rs
  src/common/src/array/data_chunk.rs
  src/common/src/array/mod.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/proto_reader.rs
  src/common/src/array/stream_chunk.rs
  src/common/src/cast/mod.rs
  src/common/src/hash/dispatcher.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/test_utils/rand_chunk.rs
  src/common/src/types/datetime.rs
  src/common/src/types/mod.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/types/timestamptz.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_text.rs
  src/common/src/util/epoch.rs
  src/common/src/util/memcmp_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/sink/mod.rs
  src/expr/benches/expr.rs
  src/expr/macro/src/lib.rs
  src/expr/macro/src/types.rs
  src/expr/src/expr/expr_proctime.rs
  src/expr/src/vector_op/cast.rs
  src/expr/src/vector_op/date_trunc.rs
  src/expr/src/vector_op/extract.rs
  src/expr/src/vector_op/timestamptz.rs
  src/expr/src/vector_op/tumble.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/java_binding/src/lib.rs
  src/stream/src/executor/aggregation/agg_impl/foldable.rs
  src/stream/src/executor/aggregation/agg_impl/mod.rs
  src/stream/src/executor/now.rs
Labels: type/feature

#10742 fix: add timeout in force tick
  src/meta/src/stream/source_manager.rs
Labels: type/fix, need-cherry-pick-v1.0

#10745 refactor: set checkpoint frequency to 1
  src/common/src/system_param/mod.rs
  src/config/example.toml
Labels: type/refactor, need-cherry-pick-v1.0

#9762 feat: correctly support adding column with default value when altering table
  Cargo.lock
  e2e_test/batch/basic/table_with_default_columns.slt.part
  src/common/Cargo.toml
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/frontend/planner_test/tests/testdata/input/insert.yaml
  src/frontend/planner_test/tests/testdata/output/insert.yaml
  src/frontend/src/handler/create_table.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_row.rs
  src/storage/src/mem_table.rs
  src/storage/src/row_serde/mod.rs
  src/storage/src/row_serde/value_serde.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/Cargo.toml
  src/stream/src/common/log_store/kv_log_store/serde.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/mview/materialize.rs
Labels: user-facing-changes

#10752 fix(agg): fix count timestamptz
  src/stream/src/executor/aggregation/agg_impl/mod.rs
Labels: type/fix, need-cherry-pick-v1.0

#10746 fix(binder): ignore hidden column for natural join
  src/frontend/planner_test/tests/testdata/input/join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/src/binder/relation/join.rs
Labels: type/fix, need-cherry-pick-v1.0

#10650 refactor(source): extract parameters required by each parser
  src/connector/src/aws_utils.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/schema_resolver.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/protobuf/schema_resolver.rs
  src/connector/src/parser/schema_registry/client.rs
  src/connector/src/source/pulsar/mod.rs
  src/frontend/src/handler/create_source.rs
Labels: type/refactor

#10740 feat(agg,over_window): support `first_value`, `last_value` and refactor LogicalAgg
  e2e_test/batch/aggregate/first_last_value.slt.part
  e2e_test/streaming/basic_agg.slt
  proto/expr.proto
  src/common/src/util/sort_util.rs
  src/common/src/util/stream_graph_visitor.rs
  src/expr/src/agg/def.rs
  src/expr/src/agg/general.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/stream/src/executor/aggregation/minput.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
Labels: type/feature, user-facing-changes

#10763 fix: fix docker compose on s3
  docker/aws.env
  docker/docker-compose-with-s3.yml
Labels: type/fix

#10771 fix(integration_tests): fix docker build error
  integration_tests/iceberg-sink/docker-compose.yml
Labels: type/fix

#10751 fix(connector): decrease the wait time before forcefully stop the debezium engine
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/ConnectorService.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Labels: type/fix, need-cherry-pick-v1.0

#10480 feat(expr): `date_trunc`, `extract`, `date_part` with implicit timezone
  e2e_test/batch/functions/date_trunc.slt.part
  e2e_test/batch/functions/session_timezone.slt
  src/common/src/types/timestamptz.rs
  src/expr/src/vector_op/date_trunc.rs
  src/expr/src/vector_op/extract.rs
  src/expr/src/vector_op/timestamptz.rs
  src/frontend/src/expr/session_timezone.rs
Labels: type/feature, user-facing-changes, breaking-change

#10756 refactor(storage): simplify associated type in state store trait
  src/storage/src/hummock/state_store.rs
  src/storage/src/hummock/store/state_store.rs
  src/storage/src/lib.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
Labels: type/refactor

#10780 refactor(expr): simplify octet_length
  src/expr/src/vector_op/length.rs
Labels: type/refactor

#10773 fix(batch): change agg group key is_empty() to is_clear()
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
Labels: type/fix, need-cherry-pick-v1.0

#10759 feat(sink): update sink writer trait to provide richer runtime context
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/meta/src/stream/sink.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#10791 chore: refine memory config log print
  src/compute/src/server.rs
Labels: type/chore, need-cherry-pick-v1.0

#10799 fix(watermark): fix hop window watermark derivation
  src/stream/src/executor/hop_window.rs
  src/stream/tests/integration_tests/hash_agg.rs
  src/stream/tests/integration_tests/hop_window.rs
  src/stream/tests/integration_tests/main.rs
  src/stream/tests/integration_tests/snapshot.rs
Labels: type/fix, need-cherry-pick-v1.0

#10797 fix(optimizer): cherry pick 10790 to_v1.0-rc
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
Labels: type/fix

#10805 fix(docslt): panic on malformed slt block
  src/expr/src/vector_op/string.rs
  src/risedevtool/src/bin/risedev-docslt.rs
Labels: type/fix

#10446 feat(udf): support array types for Java UDF
  e2e_test/udf/test.py
  e2e_test/udf/udf.slt
  java/udf-example/src/main/java/com/example/UdfExample.java
  java/udf/README.md
  java/udf/src/main/java/com/risingwave/functions/TypeUtils.java
  src/udf/python/risingwave/udf.py
Labels: type/feature, user-facing-changes

#10735 feat(frontend): initial support for read-only transaction
  e2e_test/batch/basic/basic.slt.part
  e2e_test/batch/transaction/read_only.slt
  e2e_test/batch/transaction/tolerance.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/alter_relation_rename.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/drop_connection.rs
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_function.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/drop_user.rs
  src/frontend/src/handler/drop_view.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/transaction.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/frontend/src/session/transaction.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/tests/simulation/src/slt.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes, experimental

#10796 fix(optimizer): avoid equi-join predicate substitution when types mismatch
  e2e_test/batch/join/issue_10037.slt
  src/frontend/planner_test/tests/testdata/input/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/fix, need-cherry-pick-v1.0

#10761 chore: increase timeout for unit tests in main and main-cron
  ci/workflows/main-cron.yml
  ci/workflows/main.yml
Labels: type/chore

#10811 refactor(*): use retain as far as possible
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/test_scale.rs
  src/source/src/dml_manager.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/filter_key_extractor.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/topn_cache_state.rs
Labels: type/refactor

#10818 refactor(optimizer): introduce `IndexSet` to represent deduplicated column indices
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/optimizer/rule/agg_project_merge_rule.rs
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/frontend/src/optimizer/rule/except_to_anti_join_rule.rs
  src/frontend/src/optimizer/rule/intersect_to_semi_join_rule.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/utils/index_set.rs
  src/frontend/src/utils/mod.rs
Labels: type/refactor

#10815 fix(batch): workaround serving fragment mapping absence due to asynchronism
  src/frontend/src/scheduler/worker_node_manager.rs
Labels: type/fix

#10810 refactor(optimizer): remove unnecessary match when rewriting distribution
  src/frontend/src/optimizer/plan_node/batch_hash_agg.rs
  src/frontend/src/optimizer/plan_node/batch_sort_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
Labels: type/refactor

#10825 test: add test for nexmark q6 group topn
  ci/scripts/sql/nexmark/q6-group-top1.drop.sql
  ci/scripts/sql/nexmark/q6-group-top1.sql
  e2e_test/streaming/nexmark/create_views.slt.part
  e2e_test/streaming/nexmark/drop_views.slt.part
  e2e_test/streaming/nexmark/q6_group_top1.slt.part
  e2e_test/streaming/nexmark/sinks/q6_group_top1.slt.part
  e2e_test/streaming/nexmark/test_mv_result.slt.part
  e2e_test/streaming/nexmark/views/q6_group_top1.slt.part
  src/frontend/planner_test/tests/testdata/input/nexmark.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/tests/simulation/src/nexmark/q6_group_top1.sql
Labels: component/test

#10754 feat(sqlsmith): support differential tests in `madsim`
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/scripts/extract_queries.sh
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/runner.rs
Labels: type/feature, ci/run-sqlsmith-differential-tests

#10802 refactor: refactor telemetry error handling
  src/common/src/telemetry/mod.rs
  src/common/src/telemetry/report.rs
  src/common/src/util/env_var.rs
  src/compute/src/telemetry.rs
  src/frontend/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/telemetry.rs
Labels: type/refactor

#10794 refactor(optimizer): refactor require dist shard_by_key when key size is zero
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/refactor

#10800 chore(storage): ctl support update more compaction config
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Labels: type/chore

#10833 fix(storage): revert xor8 filter builder because of bad performance
  src/storage/src/hummock/compactor/mod.rs
Labels: need-cherry-pick-v1.0

#10781 chore: add pkg-config and libssl-dev as the dependencies
  docs/developer-guide.md
Labels: type/chore

#10785 feat(test): test updates and deletes for backwards compatibility
  ci/scripts/backwards-compat-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/feature, ci/run-backwards-compat-tests

#10824 doc(sqlsmith): make it clear how to test changes
  src/tests/sqlsmith/README.md
Labels: component/doc

#10720 refactor(storage): judge whether using streaming uploader when create sst writer
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: type/refactor

#10839 chore(ci): fix timeouts
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/chore, ci/run-main-cron, need-cherry-pick-v1.0

#10842 chore(ci): Increase timeouts
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#10829 fix: fix some corner case of actor failure report in recovery
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/fix, need-cherry-pick-v1.0

#10832 fix(streaming): enable tracing for executors under release profile
  risedev.yml
  src/stream/src/executor/wrapper.rs
  src/stream/src/executor/wrapper/trace.rs
Labels: type/fix, need-cherry-pick-v1.0

#10804 feat(pg-cdc): fix publication and support user-provided publication
  ci/docker-compose.yml
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/postgres_cdc.sql
  e2e_test/source/cdc/postgres_cdc_insert.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/ValidatorUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/SourceHandlerFactory.java
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/SourceTestClient.java
  src/connector/src/source/cdc/source/reader.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-v1.0

#10819 feat(expr): support `sign` and distinguish `is_positive` vs `is_sign_positive`
  clippy.toml
  e2e_test/batch/functions/abs.slt.part
  proto/expr.proto
  src/common/src/types/decimal.rs
  src/common/src/types/interval.rs
  src/common/src/types/num256.rs
  src/common/src/types/ops.rs
  src/common/src/types/ordered_float.rs
  src/expr/src/vector_op/arithmetic_op.rs
  src/expr/src/vector_op/round.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/tests/regress/data/sql/float8.sql
Labels: type/feature, user-facing-changes

#10792 fix: parse variable scale decimal in debezium json
  src/connector/src/parser/unified/json.rs
Labels: type/fix, need-cherry-pick-v1.0

#10719 feat: Added transactional_id to WorkerNode
  proto/common.proto
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/model/cluster.rs
Labels: type/feature, user-facing-changes

#10823 fix(batch): pass the cancel token into batch executors
  src/batch/benches/hash_agg.rs
  src/batch/benches/hash_join.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/join/lookup_join_base.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/managed.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/utils.rs
  src/batch/src/task/task_execution.rs
  src/common/src/util/mod.rs
  src/common/src/util/stream_cancel.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
Labels: type/fix, need-cherry-pick-v1.0

#10860 feat: introduce pg_shadow to support pg_bouncer
  e2e_test/batch/catalog/pg_shadow.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_shadow.rs
  src/frontend/src/user/user_authentication.rs
Labels: type/feature, user-facing-changes

#10848 fix(streaming): fail the sender of permit channel on receiver closed
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/lib.rs
Labels: type/fix

#10814 chore(ci): add storage microbench
  ci/scripts/run-micro-benchmarks.sh
  ci/workflows/main-cron.yml
  src/storage/benches/bench_block_iter.rs
Labels: type/chore

#10870 chore(ci): add connector node logs for integration test
  ci/plugins/docker-compose-logs/hooks/post-command
Labels: type/chore

#10873 fix(batch): pass the cancel token into batch executors (#10823)
  src/batch/benches/hash_agg.rs
  src/batch/benches/hash_join.rs
  src/batch/benches/nested_loop_join.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/join/lookup_join_base.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/managed.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/utils.rs
  src/batch/src/task/task_execution.rs
  src/common/src/util/mod.rs
  src/common/src/util/stream_cancel.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/error.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
Labels: type/fix, cherry-pick

#10862 chore: remove some previous compatibility code
  src/object_store/src/object/s3.rs
Labels: type/chore

#10869 feat(over window): support general streaming `row_number` window function
  e2e_test/streaming/eowc/eowc_over_window.slt
  e2e_test/streaming/over_window/over_window/create.slt.part
  e2e_test/streaming/over_window/over_window/drop.slt.part
  e2e_test/streaming/over_window/over_window/mod.slt.part
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/stream/src/executor/over_window/state/mod.rs
  src/stream/src/executor/over_window/state/row_number.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-v1.0

#10872 fix(integration-test): Fix iceber_sink test error
  integration_tests/iceberg-sink/Dockerfile
  integration_tests/iceberg-sink/spark-script/run-sql-file.sh
Labels: type/fix

#10867 fix(storage): deny small size base level compaction to reduce write-amp
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
Labels: type/fix, need-cherry-pick-v1.0

#10654 fix(compactor): fix metrics report error
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Labels: need-cherry-pick-v1.0

#10878 fix(stream): agg `count` missing for some types
  e2e_test/streaming/basic_agg.slt
  src/frontend/src/expr/agg_call.rs
  src/stream/src/executor/aggregation/agg_impl/foldable.rs
  src/stream/src/executor/aggregation/agg_impl/mod.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
Labels: type/fix, need-cherry-pick-v1.0

#10864 feat(distinct agg): allow distinct agg with order by and distinct and ordered agg calls in same query
  e2e_test/batch/aggregate/string_agg.slt.part
  e2e_test/streaming/string_agg.slt
  src/expr/src/agg/def.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/expr_mutator.rs
  src/frontend/src/expr/expr_visitor.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
Labels: type/feature, user-facing-changes

#10807 feat(frontend): support grouping sets
  Cargo.lock
  e2e_test/batch/aggregate/grouping_sets.slt.part
  e2e_test/streaming/grouping_sets.slt
  src/frontend/Cargo.toml
  src/frontend/planner_test/tests/testdata/input/grouping_sets.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/grouping_sets.yaml
  src/frontend/src/binder/select.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/rule/agg_project_merge_rule.rs
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/frontend/src/optimizer/rule/grouping_sets_to_expand_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/over_window_to_agg_and_join_rule.rs
  src/frontend/src/utils/group_by.rs
  src/frontend/src/utils/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing-changes

#10880 chore(ctl): log into stderr
  Cargo.lock
  src/cmd/src/lib.rs
  src/cmd_all/src/bin/risingwave.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
Labels: type/chore

#10897 chore: update version 1.0.0
  Cargo.lock
  Cargo.toml
Labels: type/chore

#10891 chore(sink): add format check for integration test script
  ci/scripts/connector-node-integration-test.sh
  java/connector-node/README.md
  java/connector-node/python-client/.gitignore
  java/connector-node/python-client/build-venv.sh
  java/connector-node/python-client/format-python.sh
  java/connector-node/python-client/gen-stub.sh
  java/connector-node/python-client/integration_tests.py
  java/connector-node/python-client/proto/.gitignore
  java/connector-node/python-client/proto/__init__.py
  java/connector-node/python-client/pyspark-util.py
Labels: type/chore

#10901 fix(ci): install cyrus-sasl in release build
  ci/scripts/release.sh
Labels: type/fix

#10881 fix(meta): refine ddl progress based on consumed row
  src/meta/src/barrier/progress.rs
Labels: type/fix

#10904 chore(ci): disable integtarion test debezium mongo && install cyrus-sasl-devel in release build
  ci/scripts/release.sh
  ci/workflows/integration-tests.yml
Labels: type/chore

#10627 feat(stream): temporal join support pk prefix join condition
  e2e_test/streaming/temporal_join/temporal_join.slt
  e2e_test/streaming/temporal_join/temporal_join_with_index.slt
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/from_proto/temporal_join.rs
Labels: type/feature

#10900 feat(test): support grouping set for sql-smith
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: type/feature

#10896 fix(integration-test): create pg publication in advance to avoid race condition
  integration_tests/postgres-cdc/postgres_prepare.sql
Labels: type/fix

#10902 test: add e2e tests for read-only transaction in multiple sessions
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  e2e_test/batch/transaction/read_only_multi_conn.slt
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/client.rs
  src/tests/simulation/src/slt.rs
  src/workspace-hack/Cargo.toml
Labels: component/test

#10906 chore: fix typos reported by the latest typo check
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/state_cleaning_test/data/agg.toml
Labels: type/chore

#10894 fix: return early in UserIterator::next() if key is already out of range
  src/storage/src/hummock/iterator/forward_user.rs
Labels: type/fix

#10921 fix(sqlsmith): stub grouping set gen
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: type/fix

#10778 feat: Support ALTER SET SYSTEM barrier_interval_ms
  proto/meta.proto
  src/common/src/system_param/mod.rs
  src/compute/src/memory_management/memory_manager.rs
  src/compute/src/server.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/handler/alter_system.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/manager/system_param/mod.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/service/system_params_service.rs
  src/rpc_client/src/meta_client.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source.rs
Labels: type/feature

#10922 fix(docker-compose): etcd data is not persisted
  docker/docker-compose.yml
Labels: type/fix

#10927 test: add ch_benchmark query planner test
  src/frontend/planner_test/tests/testdata/input/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
Labels: component/test

#10930 fix(docker-compose): persist etcd data for all docker compose cases
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-s3.yml
Labels: type/fix

#10923 refactor(pgwire): truncate sql in tracing
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/refactor

#10929 chore: Update the README and logos
  .github/RisingWave-Database-dark.svg
  .github/RisingWave-Database-light.svg
  .github/RisingWave-logo-dark.svg
  .github/RisingWave-logo-light.svg
  README.md
Labels: type/chore, user-facing-changes

#10931 fix(sink): filter out hidden columns in log reader
  src/stream/src/executor/sink.rs
Labels: type/fix

#10874 refactor(frontend): synchronously acquire read snapshot
  Cargo.lock
  e2e_test/batch/transaction/now.slt.disabled
  src/frontend/Cargo.toml
  src/frontend/src/handler/flush.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/hummock_snapshot_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session/transaction.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/refactor

#10939 refactor(optimizer): make left deep tree join ordering deterministic
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/src/utils/condition.rs
  src/frontend/src/utils/connected_components.rs
Labels: type/refactor, Invalid PR Title

#10941 fix(test): fix failed tests due to previous ctl io redirection
  src/storage/backup/integration_tests/common.sh
Labels: type/fix

#10925 feat(optimizer): support column pruning for grouping set
  src/common/src/util/column_index_mapping.rs
  src/frontend/planner_test/tests/testdata/input/grouping_sets.yaml
  src/frontend/planner_test/tests/testdata/output/grouping_sets.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_expand.rs
  src/frontend/src/optimizer/rule/grouping_sets_to_expand_rule.rs
Labels: type/feature

#10945 feat(pgwire): report transaction status
  src/frontend/src/handler/transaction.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature

#10787 feat(metrics): add mv info panel and monitor materialized view storage size
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/rpc/server.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature

#10944 fix(workflow): no need to manually add project now
  .github/workflows/assign-issue-milestone.yml
Labels: type/fix

#10065 feat(sink): infer internal table for kv log store in sink
  proto/stream_plan.proto
  src/common/src/constants.rs
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/stream/src/common/log_store/kv_log_store/serde.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#10953 fix: display source format correctly
  src/sqlparser/src/ast/statement.rs
Labels: type/fix

#10947 chore(stream): make backfill chunk size configurable
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/from_proto/chain.rs
Labels: type/chore

#10919 fix: use match instead of PartialEq for avro schema comparison
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/unified/avro.rs
Labels: type/fix

#10957 fix(jdbc-sink): generate insert into stmt for append-only sink (cherrypick)
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/pg_create_table.sql
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/JdbcDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/MySqlDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialect.java
  src/connector/src/sink/remote.rs
Labels: type/fix

#10959 feat: show flags in `rw_fragments`
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/meta/src/rpc/service/stream_service.rs
Labels: type/feature, user-facing-changes

#10937 refactor(common): switch to try_into for data to arrow data
  src/common/src/array/arrow.rs
  src/common/src/array/error.rs
  src/expr/src/expr/expr_udf.rs
  src/expr/src/table_function/user_defined.rs
  src/frontend/src/handler/create_function.rs
  src/udf/src/external.rs
Labels: type/refactor, user-facing-changes, breaking-change

#10915 feat(over window): support batch over window
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/over_window/main.slt.part
  e2e_test/batch/over_window/over_window
  e2e_test/batch/over_window/special_cases/mod.slt.part
  e2e_test/batch/over_window/special_cases/to_agg_then_join.slt.part
  e2e_test/over_window/README
  e2e_test/over_window/gen.py
  e2e_test/over_window/generated/batch/create.slt.part
  e2e_test/over_window/generated/batch/cross_check.slt.part
  e2e_test/over_window/generated/batch/drop.slt.part
  e2e_test/over_window/generated/batch/mod.slt.part
  e2e_test/over_window/generated/streaming/create.slt.part
  e2e_test/over_window/generated/streaming/cross_check.slt.part
  e2e_test/over_window/generated/streaming/drop.slt.part
  e2e_test/over_window/generated/streaming/mod.slt.part
  e2e_test/over_window/templates/create.slt.part
  e2e_test/over_window/templates/cross_check.slt.part
  e2e_test/over_window/templates/drop.slt.part
  e2e_test/over_window/templates/mod.slt.part
  e2e_test/streaming/over_window/over_window
  e2e_test/streaming/over_window/over_window/drop.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/mod.rs
  src/batch/src/executor/sort_over_window.rs
  src/expr/src/window_function/state/mod.rs
  src/expr/src/window_function/states.rs
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/batch_over_window.rs
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/property/distribution.rs
Labels: type/feature, user-facing-changes

#10932 chore: minor changes to show cluster syntax
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/chore, user-facing-changes, need-cherry-pick-v1.0

#10961 fix(expr): `round` to left of decimal point when 2nd arg is negative
  src/common/src/types/decimal.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/unified/avro.rs
  src/expr/src/vector_op/round.rs
Labels: type/fix, user-facing-changes

#10938 fix(pgwire): handle empty statement in extended query mode correctly
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/session.rs
  src/tests/e2e_extended_mode/src/test.rs
  src/tests/libpq_test/Cargo.lock
  src/tests/libpq_test/Cargo.toml
  src/tests/libpq_test/README.md
  src/tests/libpq_test/src/main.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/fix

#10967 chore(log): don't create slow_query.log unconditionally
  src/utils/runtime/src/lib.rs
Labels: type/chore

#10970 doc(bench): How to generate Microbench flamegraph
  docs/developer-guide.md
  docs/microbenchmarks.md
Labels: component/doc

#10946 fix(frontend): accept `READ WRITE` transaction as no-op
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/transaction.rs
Labels: type/fix, user-facing-changes

#10971 perf(source): optimize op for `json_parser`
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/unified/util.rs
Labels: type/perf

#10893 refactor(sink): impl new sink writer trait for remote sink
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/TableSchema.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/Deserializer.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkBase.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkFactory.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkWriter.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkWriterBase.java
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/sink/SinkWriterV1.java
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/ConnectorServiceImpl.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSink.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSinkFactory.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JsonDeserializer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkStreamObserver.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkValidationHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/deserializer/StreamChunkDeserializer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/ConnectorNodeMetrics.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/MonitoredRowIterator.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/TestUtils.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/DeserializerTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/SinkStreamObserverTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeSinkFactoryTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/iceberg/IcebergSinkFactoryTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/MySQLSourceTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSink.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkFactory.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink7.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink7Factory.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSink.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/IcebergSinkFactory.java
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/UpsertIcebergSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  proto/connector_service.proto
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/meta/src/stream/sink.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/connector_client.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/refactor

#10981 feat(explain): add explain dist sql for over window
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/src/utils/stream_graph_formatter.rs
Labels: type/feature

#10984 feat(parser): parse `create aggregate`
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
Labels: type/feature

#10977 test(nexmark): add q19 rewritten version
  e2e_test/streaming/nexmark/create_views.slt.part
  e2e_test/streaming/nexmark/drop_views.slt.part
  e2e_test/streaming/nexmark/q19_rewrite.slt.part
  e2e_test/streaming/nexmark/sinks/q19_rewrite.slt.part
  e2e_test/streaming/nexmark/sinks/q6_group_top1.slt.part
  e2e_test/streaming/nexmark/test_mv_result.slt.part
  e2e_test/streaming/nexmark/views/q19_rewrite.slt.part
  src/frontend/planner_test/tests/testdata/input/nexmark.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/input/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
Labels: component/test

#10976 fix(ci): fix flamegraph generation for rewritten queries
  ci/scripts/gen-flamegraph.sh
  ci/scripts/sql/nexmark/q12.drop.sql
  ci/scripts/sql/nexmark/q12.sql
  ci/scripts/sql/nexmark/q16.sql
  ci/scripts/sql/nexmark/q17.sql
  ci/scripts/sql/nexmark/q19-rewrite.drop.sql
  ci/scripts/sql/nexmark/q19-rewrite.sql
  ci/scripts/sql/nexmark/q19.drop.sql
  ci/scripts/sql/nexmark/q19.sql
  ci/scripts/sql/nexmark/q3-no-condition.drop.sql
  ci/scripts/sql/nexmark/q3-no-condition.sql
  ci/scripts/sql/nexmark/q5-many-windows.drop.sql
  ci/scripts/sql/nexmark/q5-many-windows.sql
  ci/scripts/sql/nexmark/q6-group-top1.sql
  ci/workflows/gen-flamegraph-cron.yml
  ci/workflows/gen-flamegraph.yml
  ci/workflows/pull-request.yml
Labels: type/fix, cpu_flamegraph, ci/run-cpu-flamegraph-cron, nexmark-q5-many-windows

#10956 feat(over_window): support expression in over window function
  e2e_test/over_window/generated/batch/create.slt.part
  e2e_test/over_window/generated/batch/drop.slt.part
  e2e_test/over_window/generated/batch/mod.slt.part
  e2e_test/over_window/generated/streaming/create.slt.part
  e2e_test/over_window/generated/streaming/drop.slt.part
  e2e_test/over_window/generated/streaming/mod.slt.part
  e2e_test/over_window/templates/create.slt.part
  e2e_test/over_window/templates/drop.slt.part
  e2e_test/over_window/templates/mod.slt.part
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
Labels: type/feature

#10987 chore: use original tpch
  src/frontend/planner_test/tests/testdata/input/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
Labels: type/chore

#10998 fix(metrics): fix incorrect metrics for Move State Table Count
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Labels: type/fix
