Repository risingwavelabs/risingwave, pull requests merged in 2024-01, with the labels that each got.

#14281 refactor(source): consolidate duplicate schema loading logic for avro/protobuf/json-schema
  e2e_test/sink/kafka/protobuf.slt
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/protobuf/schema_resolver.rs
  src/connector/src/parser/util.rs
Labels: type/refactor

#14289 test: disable streaming over window range cache e2e temporarily
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/run_all.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/run_all.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/run_all.slt.part
  e2e_test/streaming/over_window/main.slt
Labels: component/test

#14292 fix(pgwire): `TruncatedFmt` should respect utf8 char boundary
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix

#13331 fix: fix checkpoint_frequency check
  src/meta/src/barrier/schedule.rs
Labels: type/fix

#14191 feat(sql-backend): [PART 2] introduce metadata manager and adapt it in all RPC services, dashboard, metric etc
  java/common-utils/src/main/java/com/risingwave/java/utils/MetaClient.java
  proto/ddl_service.proto
  proto/meta.proto
  src/frontend/src/catalog/catalog_service.rs
  src/meta/node/src/server.rs
  src/meta/service/src/cloud_service.rs
  src/meta/service/src/cluster_service.rs
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/heartbeat_service.rs
  src/meta/service/src/hummock_service.rs
  src/meta/service/src/notification_service.rs
  src/meta/service/src/scale_service.rs
  src/meta/service/src/serving_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/service/src/user_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/mod.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/mod.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/serving/mod.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/meta/src/telemetry.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
Labels: type/feature

#14277 chore(sink): exclude java iceberg and deltalake sink from connector node
  ci/scripts/connector-node-integration-test.sh
  e2e_test/sink/deltalake_rust_sink.slt
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink/create_sink.sql
  java/connector-node/assembly/assembly.xml
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/pom.xml
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/chore, user-facing-changes, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests, ci/run-connector-node-integration-tests, ci/run- e2e-deltalake-sink-rust-tests

#14225 chore: make some source log debug instead of info
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/chore

#14299 fix: dummy table fragments are not persist when drop sink with table replacement
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix

#14300 feat(udf): add `body` field for udf body definition
  proto/catalog.proto
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/function.rs
  src/meta/src/controller/mod.rs
Labels: type/feature, breaking-change

#14260 refactor(sink): unify log write path and distinguish table sink from external sink
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/sink_into_table.slt
  proto/connector_service.proto
  src/connector/src/sink/blackhole.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/trivial.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/refactor

#14295 fix(connector-node): only log events if enabled
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jAdapter.java
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jImpl.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/jni_core/src/macros.rs
  src/jni_core/src/tracing_slf4j.rs
Labels: type/fix

#14303 fix(optimizer): internal tables return no stream key
  src/frontend/src/optimizer/plan_node/generic/scan.rs
Labels: type/fix

#14306 chore: fix typos linted by cSpell
  src/batch/src/executor/mod.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/executor/update.rs
  src/common/proc_macro/src/lib.rs
  src/connector/src/sink/doris.rs
  src/meta/src/stream/scale.rs
  src/storage/src/hummock/sstable/block.rs
Labels: type/chore

#14311 fix(over window): fix over window range cache shortcut return
  e2e_test/streaming/over_window/main.slt
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/fix, need-cherry-pick-release-1.5

#14237 fix(stream): rowIdGen executor handle invisible delete record
  src/stream/src/executor/row_id_gen.rs
Labels: type/fix

#13812 feat(storage): Improve task measurement on the compactor side with parallelism
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/hummock.proto
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/meta/src/hummock/manager/mod.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/monitor/compactor_metrics.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#14261 feat: introduce rw_streaming_parallelism system view
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_streaming_parallelism.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-release-1.6

#14302 refactor(error): add more context for jvm error
  e2e_test/source/basic/ddl.slt
  src/connector/src/sink/remote.rs
  src/connector/src/source/cdc/source/reader.rs
  src/jni_core/src/jvm_runtime.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/sink.rs
  src/meta/src/stream/source_manager.rs
Labels: type/refactor

#14166 test(streaming): add fuzz test for materialize handle conflict
  src/stream/src/executor/mview/materialize.rs
Labels: component/test

#14346 fix: revert to random source split assignment when there are too many actors
  src/meta/src/stream/source_manager.rs
Labels: type/fix, need-cherry-pick-release-1.6

#14259 refactor(meta): simplify Hummock metadata initialization
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/refactor

#14340 feat(dml): recognize no op updates
  src/batch/src/executor/update.rs
Labels: type/feature

#14268 refactor(meta): seq generator for Hummock model v2
  src/meta/Cargo.toml
  src/meta/model_v2/migration/src/m20231008_020431_hummock.rs
  src/meta/model_v2/src/hummock_sequence.rs
  src/meta/model_v2/src/lib.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/sequence.rs
Labels: type/refactor

#14337 refactor(source): bump OpenDAL version
  Cargo.lock
  src/connector/Cargo.toml
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/workspace-hack/Cargo.toml
Labels: type/refactor, ci/run-main-cron, ci/run-s3-source-tests

#14342 refactor: implement local barrier manager as event handler
  src/compute/src/rpc/service/stream_service.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/values.rs
  src/stream/src/from_proto/barrier_recv.rs
  src/stream/src/from_proto/now.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/values.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#14343 fix: actor split assignment is not persist when replace command is collected
  src/meta/src/barrier/command.rs
  src/meta/src/manager/catalog/fragment.rs
Labels: type/fix

#14211 feat(sql-backend): [PART 3] support clean, background mv recover, migration in recovery
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/stream/source_manager.rs
Labels: type/feature

#14356 fix(dashboard): minor style tweaks
  dashboard/components/BackPressureTable.tsx
  dashboard/components/FragmentGraph.tsx
  dashboard/components/Layout.tsx
  dashboard/components/Relations.tsx
  dashboard/components/utils/icons.tsx
  dashboard/hook/useErrorToast.ts
  dashboard/hook/useWindowSize.js
  dashboard/pages/_app.tsx
  dashboard/pages/api/api.ts
  dashboard/pages/api/fetch.ts
  dashboard/pages/await_tree.tsx
  dashboard/pages/cluster.tsx
  dashboard/pages/dependency_graph.tsx
  dashboard/pages/fragment_graph.tsx
Labels: type/fix

#14308 fix: ignore dependent table_fragment not exist
  src/meta/src/manager/catalog/fragment.rs
Labels: type/fix, need-cherry-pick-release-1.6

#14345 fix(stream/materialize): incorrect implementation in ignore-conflict behavior
  src/stream/src/executor/mview/materialize.rs
Labels: type/fix

#14335 refactor(frontend): simplify bind_columns_from_source
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Labels: type/refactor

#14360 fix: pubsub auth
  src/connector/src/source/google_pubsub/enumerator/client.rs
  src/connector/src/source/google_pubsub/source/reader.rs
Labels: type/fix

#14231 feat(sink): support es sink struct and refactor es sink
  e2e_test/sink/elasticsearch/elasticsearch_sink.result
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  e2e_test/sink/elasticsearch/elasticsearch_with_pk_sink.result
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkWriterStreamObserver.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  proto/connector_service.proto
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/elasticsearch.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/remote.rs
  src/rpc_client/src/connector_client.rs
  src/stream/src/task/env.rs
Labels: type/feature

#14336 feat(catalog): add pg_get_viewdef
  e2e_test/batch/catalog/sysinfo.slt.part
  proto/expr.proto
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/function_impl/pg_get_viewdef.rs
  src/frontend/src/expr/pure.rs
Labels: type/feature

#14329 fix(stream): rowIdGen executor handle invisible delete record (#14237)
  src/stream/src/executor/row_id_gen.rs
Labels: type/fix, cherry-pick

#14364 fix(stream/materialize): enforce update_cache when modify fixed_changes
  src/stream/src/executor/mview/materialize.rs
Labels: type/fix

#14158 test: reorganize the sink to table e2e test
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/sink_into_table/basic.slt
  e2e_test/sink/sink_into_table/dml_on_source.slt
  e2e_test/sink/sink_into_table/dml_on_target.slt
  e2e_test/sink/sink_into_table/rename.slt
  e2e_test/sink/sink_into_table/syntax.slt
Labels: component/test

#14372 test: fix flaky sink_into_table test
  e2e_test/sink/sink_into_table/rename.slt
Labels: component/test

#14354 test: bump sqllogictest & fix backwards-compat-test/e2e-tests
  Makefile.toml
  backwards-compat-tests/slt/nexmark-backwards-compat/delete.slt.part
  backwards-compat-tests/slt/nexmark-backwards-compat/validate_restart.slt
  backwards-compat-tests/slt/tpch-backwards-compat/delete.slt.part
  backwards-compat-tests/slt/tpch-backwards-compat/insert.slt.part
  backwards-compat-tests/slt/tpch-backwards-compat/validate_restart.slt
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  e2e_test/batch/duckdb/all.slt.part
  e2e_test/batch/local_mode.slt
  e2e_test/extended_mode/type.slt
  e2e_test/over_window/generated/batch/rank_func/row_number_old.slt.part
  e2e_test/over_window/generated/streaming/rank_func/row_number_old.slt.part
  e2e_test/over_window/templates/rank_func/row_number_old.slt.part
Labels: component/test, ci/run-backwards-compat-tests

#14367 fix: Do not recover background streaming jobs whose table fragments have been marked as created
  ci/scripts/cron-e2e-test.sh
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/catalog/fragment.rs
Labels: type/fix, need-cherry-pick-release-1.6

#14325 chore(storage): ctl support cancel specific task
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/rpc_client/src/meta_client.rs
Labels: type/chore

#14312 feat(connector): support local fs source
  ci/scripts/e2e-source-test.sh
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
  e2e_test/s3/posix_fs_source.py
  e2e_test/s3/run_csv.py
  e2e_test/source/opendal/data/data1.csv
  e2e_test/source/opendal/data/data2.csv
  e2e_test/source/opendal/posix_fs.slt
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/posix_fs_source.rs
  src/connector/src/source/mod.rs
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_source.rs
  src/source/src/connector_source.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/from_proto/source/fs_fetch.rs
Labels: type/feature

#14358 feat(stream): recognize no op update for table
  src/stream/src/executor/mview/materialize.rs
Labels: type/feature

#14378 fix: Do not recover background streaming jobs whose table fragments have been marked as created (#14367)
  ci/scripts/cron-e2e-test.sh
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/catalog/fragment.rs
Labels: type/fix

#14379 fix(docker): s3 docker compose use correct env file
  docker/docker-compose-with-s3.yml
Labels: type/fix

#14361 feat(dashboard): allow specifying API endpoint for development
  dashboard/mock-server.js
  dashboard/next.config.js
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/api/api.ts
  dashboard/pages/api/cluster.ts
  dashboard/pages/api/metric.ts
  dashboard/pages/api/streaming.ts
  dashboard/pages/await_tree.tsx
  dashboard/pages/heap_profiling.tsx
  dashboard/pages/settings.tsx
Labels: type/feature

#14160 feat(storage): reduce size of compaction task
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/feature

#14386 chore(dashboard): cleanup dead code for old dashboard
  dashboard/components/StatusLamp.js
  dashboard/lib/color.js
  dashboard/lib/graaphEngine/canvasEngine.js
  dashboard/lib/graaphEngine/svgEngine.js
  dashboard/lib/str.js
  dashboard/lib/streamPlan/parser.js
  dashboard/lib/streamPlan/streamChartHelper.js
  dashboard/test/algo.test.js
Labels: type/chore

#14382 feat: support multiple temporal filter with or
  src/frontend/planner_test/tests/testdata/input/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/stream/filter_with_now_to_join_rule.rs
  src/frontend/src/optimizer/rule/stream/mod.rs
  src/frontend/src/optimizer/rule/stream/split_now_and_rule.rs
Labels: type/feature, need-cherry-pick-release-1.6

#14371 chore: Update README.md
  README.md
Labels: type/chore

#14399 chore: Update README.md
  README.md
Labels: type/chore

#14400 feat(catalog): add relpersistence in pg_class
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
Labels: type/feature, need-cherry-pick-release-1.6

#14375 feat(cdc): support transaction for shared cdc source
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngine.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEventConsumer.java
  proto/connector_service.proto
  src/batch/src/executor/source.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/test_source.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-release-1.6

#14373 fix(connector): fix gcs source connector
  ci/scripts/notify.py
  ci/scripts/s3-source-test-for-opendal-fs-engine.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/gcs_source.py
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/opendal_source/gcs_source.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/with_options_source.yaml
Labels: type/fix, need-cherry-pick-release-1.6

#14383 refactor(dashboard): refine type annotation and renames for layout
  dashboard/components/FragmentDependencyGraph.tsx
  dashboard/components/FragmentGraph.tsx
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/lib/layout.ts
  dashboard/pages/dependency_graph.tsx
  dashboard/pages/fragment_graph.tsx
Labels: type/refactor

#14220 feat: embed trace collector & jaeger ui to dev dashboard
  Cargo.lock
  Cargo.toml
  dashboard/components/Layout.tsx
  src/cmd/src/lib.rs
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/playground.rs
  src/cmd_all/src/standalone.rs
  src/common/src/config.rs
  src/common/src/lib.rs
  src/common/src/opts.rs
  src/common/src/util/meta_addr.rs
  src/compute/src/lib.rs
  src/config/example.toml
  src/frontend/src/lib.rs
  src/meta/Cargo.toml
  src/meta/node/Cargo.toml
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/env.rs
  src/storage/compactor/src/lib.rs
  src/utils/runtime/src/logger.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#14388 feat(meta): remove stream job progress for sink
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
Labels: type/feature, ci/run-main-cron, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci

#14380 feat(dml): sent dml data from the same session to a fixed worker node/channel
  e2e_test/batch/transaction/same_session.slt
  proto/batch_plan.proto
  src/batch/src/executor/delete.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/update.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/source/src/dml_manager.rs
  src/source/src/table.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/stream_reader.rs
Labels: type/feature

#14405 feat(sqlsmith): refactor test runners
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/runner.rs
  src/tests/sqlsmith/src/test_runners/README.md
  src/tests/sqlsmith/src/test_runners/diff.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
  src/tests/sqlsmith/src/test_runners/mod.rs
  src/tests/sqlsmith/src/test_runners/utils.rs
Labels: type/feature, ci/run-main-cron, ci/run-sqlsmith-differential-tests, ci/run-build, ci/main-cron/skip-ci

#14338 feat(udf): support implicit cast for UDF arguments
  e2e_test/udf/udf.slt
  src/expr/core/src/sig/mod.rs
  src/expr/impl/tests/sig.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/type_inference/mod.rs
Labels: type/feature

#14398 fix: column index mapping bug of stream_delta_join
  e2e_test/streaming/delta_join/delta_join_upstream_with_index_different_types.slt
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/stream/src/from_proto/lookup.rs
Labels: type/fix

#14411 chore(ci): enable differential tests
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
Labels: type/chore

#14412 chore: update rw version with hdfs
  docker/docker-compose-with-hdfs.yml
Labels: type/chore

#14410 refactor: own global barrier manager in worker loop
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor

#14425 fix(connector): fix gcs source connector(#14373)
  ci/scripts/notify.py
  ci/scripts/s3-source-test-for-opendal-fs-engine.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/gcs_source.py
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/opendal_source/gcs_source.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/with_options_source.yaml
Labels: type/fix

#14381 fix: missing update of upstream fragment and actor ids for table replacement
  src/meta/src/manager/catalog/fragment.rs
  src/tests/simulation/tests/integration_tests/scale/table.rs
Labels: type/fix

#14427 chore: remove some periodical logs
  src/connector/src/parser/plain_parser.rs
  src/frontend/src/scheduler/snapshot.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/chore

#14393 test: update `similar-to-escape` to test explicitly disable escape
  e2e_test/batch/functions/similar_to_escape.slt.part
  src/expr/impl/src/scalar/similar_to_escape.rs
Labels: component/test

#14274 fix(compactor): check compaction result for fast compact
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/opts.rs
Labels: type/fix

#14431 chore: remove some periodical logs (#14427)
  src/frontend/src/scheduler/snapshot.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/chore

#14433 fix: fix dyn filter's always relax workaround
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
Labels: type/fix, need-cherry-pick-release-1.6

#14437 feat(udf): support implicit cast for UDF arguments (#14338)
  e2e_test/udf/udf.slt
  src/expr/core/src/sig/mod.rs
  src/expr/impl/tests/sig.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/type_inference/mod.rs
Labels: Invalid PR Title

#14439 chore: bump `thiserror-ext` to 0.0.11
  Cargo.lock
  Cargo.toml
Labels: type/chore

#14435 chore: improve error message for function argument mismatch
  src/common/src/error.rs
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/chore

#14419 feat: poll barrier complete rpc in barrier manager worker loop
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
Labels: type/feature

#14434 fix(connector): avoid long-lived tracing span
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/util/tracing.rs
  src/connector/Cargo.toml
  src/connector/src/parser/mod.rs
  src/frontend/Cargo.toml
  src/frontend/src/scheduler/local.rs
  src/meta/node/src/server.rs
  src/storage/Cargo.toml
  src/storage/src/monitor/monitored_store.rs
Labels: type/fix

#14443 chore(meta): change default parallelism for already existed streaming job to Custom
  src/meta/src/model/stream.rs
Labels: type/chore, need-cherry-pick-release-1.6

#13947 feat(sink): Support without backfill sink with 'create sink from mv'.
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/sink/kafka/drop_sink.slt
  e2e_test/sink/kafka/without_snapshot.result
  src/connector/src/sink/mod.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
Labels: need-cherry-pick-release-1.6

#14453 feat: use stream graph visitor as the explain(distsql)
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/input/sink.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/src/utils/stream_graph_formatter.rs
Labels: type/feature, need-cherry-pick-release-1.6

#14441 fix: increase data generator qps to produce more data in MV
  integration_tests/kinesis-s3-source/docker-compose.yml
Labels: type/fix

#14458 chore(sql-udf): update test cases for implicit type cast support
  e2e_test/udf/sql_udf.slt
Labels: type/chore

#14467 fix(test): fix the wrong suffix in cron test
  ci/workflows/main-cron.yml
Labels: type/fix

#14432 chore: pack telnet kcat in release image
  docker/Dockerfile
Labels: type/chore, need-cherry-pick-release-1.6

#14355 feat(sql-backend): integrate HummockManager with model V2
  src/meta/model_v2/migration/src/m20231008_020431_hummock.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/sequence.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/meta/src/manager/env.rs
  src/meta/src/model/mod.rs
Labels: type/feature

#14460 chore: add `test_decode_row` for memcomparable encoding
  src/common/src/util/memcmp_encoding.rs
Labels: type/chore

#14449 fix: missing apply of source split discovery info after replacing table
  src/meta/src/barrier/command.rs
Labels: type/fix

#14451 fix(planner): preserve order in array-construction subquery
  e2e_test/batch/subquery/array_construct.slt.part
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/set_expr.rs
Labels: type/fix, breaking-change, need-cherry-pick-release-1.6

#14472 chore(ci): fix `backfill-tests`
  ci/scripts/run-backfill-tests.sh
Labels: type/chore, ci/run-backfill-tests

#14446 feat(dashboard): display back-pressure on fragment graph
  dashboard/components/BackPressureTable.tsx
  dashboard/components/FragmentGraph.tsx
  dashboard/hook/useErrorToast.ts
  dashboard/lib/layout.ts
  dashboard/pages/api/api.ts
  dashboard/pages/api/fetch.ts
  dashboard/pages/api/metric.ts
  dashboard/pages/fragment_graph.tsx
  src/meta/src/dashboard/mod.rs
Labels: type/feature

#14436 refactor: local barrier manager use prev epoch to track barrier state
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#14475 feat(frontend): return `NotSupportedError` for `EXPLAIN CREATE VIEW`
  e2e_test/batch/explain.slt
  src/frontend/src/handler/explain.rs
Labels: type/feature, need-cherry-pick-release-1.6

#14447 feat(common): expose `OrderType::direction()`
  src/common/src/util/sort_util.rs
Labels: type/feature

#14474 refactor(over window): extract `range_utils` which handles `Range` operations
  src/expr/core/src/window_function/state/buffer.rs
  src/expr/core/src/window_function/state/mod.rs
  src/expr/core/src/window_function/state/range_utils.rs
Labels: type/refactor

#12534 fix(meta): do not split by vnode for low write throughput
  proto/hummock.proto
  src/common/src/config.rs
  src/config/example.toml
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/metrics_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/fix

#14442 feat(frontend): ban jsonb in aggregation stream key
  e2e_test/batch/types/jsonb_ord.slt.part
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/jsonb_in_stream_key.yaml
  src/frontend/planner_test/tests/testdata/output/jsonb_in_stream_key.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_visitor/jsonb_stream_key_checker.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
Labels: type/feature

#14486 chore: update version to 1.6.0
  Cargo.lock
  Cargo.toml
  README.md
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#14215 feat: allow configure other additional columns for connectors
  Cargo.lock
  Cargo.toml
  e2e_test/s3/json_file.py
  e2e_test/source/basic/inlcude_key_as.slt
  e2e_test/source/basic/kafka_batch.slt
  scripts/source/prepare_ci_kafka.sh
  src/connector/Cargo.toml
  src/connector/src/parser/additional_columns.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/util.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/source/message.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/message.rs
  src/connector/src/source/kinesis/source/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/frontend/src/handler/create_source.rs
  src/sqlparser/src/ast/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-s3-source-tests

#14489 fix(compaction): fix compatible for vnode partition
  proto/hummock.proto
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#14496 fix(test): fix the wrong suffix in cron test
  ci/workflows/main-cron.yml
Labels: type/fix

#14497 chore(type): merge `ScalarImpl::from_text` and `from_literal`
  src/common/src/array/data_chunk.rs
  src/common/src/array/list_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/expr/core/src/expr/build.rs
  src/frontend/src/binder/bind_param.rs
  src/frontend/src/expr/function_call.rs
Labels: type/chore

#14495 fix(ci): build from source when not released on github
  backwards-compat-tests/scripts/utils.sh
  ci/scripts/backwards-compat-test.sh
Labels: type/fix, ci/run-main-cron, ci/run-backwards-compat-tests, ci/run-build, ci/main-cron/skip-ci, need-cherry-pick-release-1.6

#14430 fix(optimizer): fix subquery with multiple parentheses
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/expr/subquery.rs
Labels: type/fix, Invalid PR Title

#14499 fix: increase build timeout and add all notify owners for main-cron
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
Labels: type/fix

#14212 feat(sql-backend): [PART 4] support create streaming job in sql backend
  src/meta/model_v2/src/lib.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/id.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/ddl_controller_v2.rs
  src/meta/src/rpc/mod.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/id.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/feature

#14305 feat(sql-backend): support throttle rate limit for sql-backend
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/metadata.rs
Labels: type/feature

#14516 fix: fix fill table id for cdc backfill source
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Labels: type/fix, need-cherry-pick-release-1.6

#14514 chore(storage): make max_prefetch_block_number configurable
  src/common/src/config.rs
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/chore

#14148 feat(stream): enable replication and independent parallelism for arrangement backfill
  ci/scripts/deterministic-recovery-test.sh
  e2e_test/sink/kafka/create_sink.slt
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/tests/simulation/src/arrangement_backfill.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/tests/simulation/tests/integration_tests/batch/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/event_log.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Labels: type/feature, nexmark-q0, nexmark-q7, ci/run-main-cron, nexmark-q19, nexmark-q5, ci/run-backfill-tests, ci/run-cpu-flamegraph, ci/run-build, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci

#14508 fix(ci): fix microbenchmark upload step
  ci/scripts/upload-micro-bench-results.sh
Labels: type/fix, ci/run-main-cron

#14512 refactor(storage): create storage table from desc
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/from_proto/temporal_join.rs
Labels: type/refactor

#14525 fix: fix fill table id for cdc backfill source (#14516) (cherry pick)
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, cherry-pick

#14511 chore(storage): disable merge imm
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
Labels: type/chore, need-cherry-pick-release-1.6

#14271 feat(udf): add initial support for WASM-based Rust UDF
  Cargo.lock
  Cargo.toml
  ci/scripts/build-other.sh
  ci/scripts/run-e2e-test.sh
  e2e_test/udf/wasm/.cargo/config.toml
  e2e_test/udf/wasm/.gitignore
  e2e_test/udf/wasm/Cargo.toml
  e2e_test/udf/wasm/src/lib.rs
  e2e_test/udf/wasm_udf.slt
  proto/expr.proto
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/config/example.toml
  src/expr/core/Cargo.toml
  src/expr/core/src/expr/build.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/expr/mod.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/udf/README.md
  src/frontend/Cargo.toml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/handler/create_function.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/manager/catalog/mod.rs
  src/object_store/src/object/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/storage/hummock_trace/Cargo.toml
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/runtime/src/logger.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#14522 test(connector): add es-sink compatible test
  integration_tests/elasticsearch-sink/create_sink.sql
  integration_tests/elasticsearch-sink/create_source.sql
  integration_tests/elasticsearch-sink/sink_check.py
Labels: component/test

#14519 refactor(frontend): Move some pg wire value into common and make them const
  src/common/src/lib.rs
  src/common/src/session_config/mod.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/refactor

#14515 refactor(streaming): improve hash join error message
  src/storage/src/table/mod.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/refactor

#14510 refactor(meta): refactor how upstream fragment is handled when creating stream job
  proto/ddl_service.proto
  proto/stream_plan.proto
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/refactor

#14529 chore: upgrade localstack in integration tests to `3.0`
  integration_tests/kinesis-s3-source/docker-compose.yml
Labels: type/chore

#14385 refactor(over window): add some short-circuit logic in `find_affected_ranges` and some other refactoring
  src/expr/core/src/window_function/call.rs
  src/expr/core/src/window_function/state/buffer.rs
  src/frontend/src/binder/expr/function.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/refactor

#14452 refactor(over window): use `parse_display` to impl `Display` for window frame types
  src/expr/core/src/window_function/call.rs
Labels: type/refactor

#14532 chore: increase log size limit in ci
  Makefile.toml
Labels: type/chore

#14535 chore: upgrade docker image version
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#14392 feat(sql-udf): deep calling stack (recursion) prevention for sql udf
  e2e_test/udf/sql_udf.slt
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_sql_function.rs
Labels: type/feature

#14546 fix(connector): add additional check in nats list_splits
  src/connector/src/source/nats/enumerator/mod.rs
Labels: type/fix

#14555 feat(cdc-backfill): support pause_on_startup
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/feature

#14528 feat: enable or disable tracing with system params
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/system_param/common.rs
  src/common/src/system_param/local_manager.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/common/src/util/tracing.rs
  src/common/src/util/tracing/layer.rs
  src/config/example.toml
  src/meta/src/controller/system_param.rs
  src/meta/src/manager/system_param/mod.rs
  src/utils/runtime/src/logger.rs
Labels: type/feature, user-facing-changes, experimental

#14505 feat(dashboard): improvements on the relation dep graph
  dashboard/components/CatalogModal.tsx
  dashboard/components/FragmentDependencyGraph.tsx
  dashboard/components/FragmentGraph.tsx
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/components/Relations.tsx
  dashboard/lib/layout.ts
  dashboard/pages/api/streaming.ts
  dashboard/pages/dependency_graph.tsx
  dashboard/pages/fragment_graph.tsx
Labels: type/feature

#14413 fix(sink): switch remote sink chrono types to java.time.*
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/mysql_create_table.sql
  e2e_test/sink/remote/mysql_expected_result_0.tsv
  e2e_test/sink/remote/mysql_expected_result_1.tsv
  java/com_risingwave_java_binding_Binding.h
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JsonDeserializer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/deserializer/StreamChunkDeserializer.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/flink/FlinkMockTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraUtil.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/RowDataImpl.java
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/converters/DatetimeTypeConverter.java
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/Utils.java
  java/java-binding/src/main/java/com/risingwave/java/binding/BaseRow.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/tools/maven/checkstyle.xml
  java/tools/maven/suppressions.xml
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
Labels: type/fix, breaking-change, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests, ci/run-connector-node-integration-tests, ci/run-e2e-cassandra-sink-tests

#14564 fix: estimate size for topn cache extract_if
  src/stream/src/executor/top_n/topn_cache_state.rs
Labels: type/fix

#14558 feat(stream): make Project expr evaluation concurrent
  src/common/src/util/future_utils/buffered_with_fence.rs
  src/common/src/util/future_utils/mod.rs
  src/common/src/util/mod.rs
  src/stream/src/executor/project.rs
Labels: type/feature

#14571 fix(dashboard): show error in web frontend when heap dump not enabled
  dashboard/pages/heap_profiling.tsx
Labels: type/fix

#14573 fix: specify distribution key for fs source
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
Labels: type/fix

#14570 feat(batch): storage table supports read vnode column as vnode
  proto/plan_common.proto
  src/common/src/catalog/physical_table.rs
  src/frontend/src/catalog/table_catalog.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/feature

#14351 chore: fix expr macro doc
  src/expr/macro/src/lib.rs
Labels: type/chore

#14454 fix(frontend): avoid panic when querying log store internal table
  src/common/src/catalog/physical_table.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/to_prost.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/stream_fragmenter/mod.rs
Labels: type/fix

#14470 feat: support expression to compute iceberg sink partition value
  Cargo.lock
  Cargo.toml
  proto/expr.proto
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/external/iceberg.rs
  src/expr/impl/src/scalar/external/mod.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/expr/pure.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#14588 fix: update icelake
  Cargo.lock
  Cargo.toml
Labels: type/fix

#14531 feat: pre-release pubsub
  e2e_test/source/basic/pubsub.slt
  src/connector/src/source/google_pubsub/enumerator/client.rs
  src/connector/src/source/google_pubsub/mod.rs
  src/connector/with_options_source.yaml
Labels: type/feature

#14587 test: add `upsert` test for `doris/starrocks-sink` integration test
  integration_tests/doris-sink/README.md
  integration_tests/doris-sink/create_mv.sql
  integration_tests/doris-sink/create_sink.sql
  integration_tests/doris-sink/create_source.sql
  integration_tests/doris-sink/docker-compose.yml
  integration_tests/doris-sink/doris_prepare.sql
  integration_tests/doris-sink/sink_check.py
  integration_tests/doris-sink/update_delete.sql
  integration_tests/doris-sink/upsert/create_mv.sql
  integration_tests/doris-sink/upsert/create_sink.sql
  integration_tests/doris-sink/upsert/create_table.sql
  integration_tests/doris-sink/upsert/insert_update_delete.sql
  integration_tests/starrocks-sink/README.md
  integration_tests/starrocks-sink/create_mv.sql
  integration_tests/starrocks-sink/create_sink.sql
  integration_tests/starrocks-sink/create_source.sql
  integration_tests/starrocks-sink/docker-compose.yml
  integration_tests/starrocks-sink/sink_check.py
  integration_tests/starrocks-sink/starrocks_prepare.sql
  integration_tests/starrocks-sink/update_delete.sql
  integration_tests/starrocks-sink/upsert/create_mv.sql
  integration_tests/starrocks-sink/upsert/create_sink.sql
  integration_tests/starrocks-sink/upsert/create_table.sql
  integration_tests/starrocks-sink/upsert/insert_update_delete.sql
Labels: component/test

#14594 chore: rename system catalog field total_memory_bytes total_cpu_cores
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_nodes.rs
Labels: type/chore

#14415 feat(sql-backend): support table replace for sql-backend
  Cargo.lock
  src/common/src/catalog/mod.rs
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/model_v2/Cargo.toml
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/table.rs
  src/meta/src/barrier/command.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Labels: type/feature

#14494 refactor: fix incorrect skip multi-version key metric and save unneccessary key comparison
  src/storage/src/hummock/iterator/forward_user.rs
Labels: type/refactor, ci/run-micro-benchmarks

#14578 feat(common): add `cmp_by` to `Sentinelled`
  src/common/src/types/sentinel.rs
Labels: type/feature

#14377 feat: handle state store sync in local barrier manager
  src/compute/src/rpc/service/stream_service.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#14517 refactor(meta): maintain snapshot of running actors instead of resolving it every time for barrier
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/state.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/mod.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor

#14064 feat(bench): Add sink bench tool
  Cargo.lock
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  src/bench/Cargo.toml
  src/bench/sink_bench/main.rs
  src/bench/sink_bench/schema.yml
  src/bench/sink_bench/sink_option.yml
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/mock_coordination_client.rs
  src/connector/src/sink/mod.rs
  src/connector/src/source/datagen/mod.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#14548 fix(sql-udf): correctly binding arguments for inner calling sql udfs
  e2e_test/udf/sql_udf.slt
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
Labels: type/fix

#14607 fix(storage): should use epoch with the maximum offset when get
  src/storage/src/hummock/store/version.rs
Labels: type/fix

#14593 test(stream): Test `no_shuffle_backfill` vs `arrangement_backfill` performance
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/runtime/create_arrangement_backfill_mv.slt
  e2e_test/backfill/runtime/create_no_shuffle_mv.slt
  e2e_test/backfill/runtime/create_table.slt
  e2e_test/backfill/runtime/insert.slt
  e2e_test/backfill/runtime/validate_rows.slt
Labels: component/test, ci/run-backfill-tests

#14562 feat(s3): retry unhandled 503 error
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/s3.rs
Labels: type/feature
