Repository risingwavelabs/risingwave, pull requests merged in 2024-06, with the labels that each got.

#17055 fix: cherry-pick rebuild log store iter when exists for a timeout (#17009)
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Labels: type/fix

#17044 test(source): refactor upsert avro tests
  .gitignore
  ci/scripts/e2e-source-test.sh
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/nosim_kafka.slt
  e2e_test/source/basic/old_row_format_syntax/kafka.slt
  e2e_test/source/basic/schema_registry.slt
  e2e_test/source_inline/kafka/avro/name_strategy.slt
  e2e_test/source_inline/kafka/avro/upsert_avro_json
  risedev.yml
  scripts/source/README.md
  scripts/source/prepare_ci_kafka.sh
  scripts/source/test_data/avro_complex_schema_bin.1
  scripts/source/test_data/avro_simple_schema_bin.1
  src/connector/src/parser/avro/parser.rs
Labels: component/test

#17026 feat(ctl): support mutable compression_algorithm
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16869 refactor(storage): upgrade foyer to v0.9
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config.rs
  src/config/example.toml
  src/storage/Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/utils/runtime/src/logger.rs
Labels: type/refactor

#17048 feat: eliminate adjacent no-op updates for agg with empty agg call
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/output/project_set.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/rule/stream/stream_project_merge_rule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/project.rs
  src/stream/src/from_proto/project.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17063 fix(meta): fix panic on unregistering tables moved to new group
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/tests.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17064 feat: support secret in migration script from etcd to sql
  e2e_test/sql_migration/check.slt
  e2e_test/sql_migration/prepare.slt
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/feature, ci/run-e2e-sql-migration-tests

#17032 refactor(source): refactor Access trait and Upsert related code
  src/connector/benches/json_vs_plain_parser.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/bytes.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/unified/maxwell.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
  src/connector/src/parser/unified/util.rs
  src/connector/src/parser/upsert_parser.rs
Labels: type/refactor

#17066 refactor(over window): rename `buffer_ref` to `window` to better reflect the semantic
  src/expr/impl/src/window_function/buffer.rs
Labels: type/refactor

#17052 feat: support avro reference type
  Makefile.toml
  e2e_test/source_inline/kafka/avro/name_strategy.slt
  e2e_test/source_inline/kafka/avro/upsert_avro_json
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/unified/avro.rs
Labels: type/feature

#17068 feat(metrics): add block cache efficienfy metrics to grafana
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#17069 feat(source): support avro uuid type
  e2e_test/source_inline/kafka/avro/name_strategy.slt
  e2e_test/source_inline/kafka/avro/upsert_avro_json
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/unified/avro.rs
Labels: type/feature

#16922 feat(udf): add metric of UDF memory usage
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/metrics/src/guarded_metrics.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/sig/udf.rs
  src/expr/impl/src/udf/quickjs.rs
Labels: type/feature

#17057 refactor: add ref secret in WithOption and use hashmap for WithOption inner
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/schema/loader.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/redis.rs
  src/connector/src/source/kafka/private_link.rs
  src/frontend/src/catalog/connection_catalog.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/subscription_catalog.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_subscription.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/utils/with_options.rs
  src/meta/service/src/cloud_service.rs
  src/prost/build.rs
  src/sqlparser/src/ast/value.rs
  src/sqlparser/src/parser.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17046 feat(telemetry): impl report to scarf
  Makefile.toml
  ci/risedev-components.ci.benchmark.env
  ci/risedev-components.ci.env
  ci/risedev-components.ci.source.env
  ci/scripts/common.sh
  src/common/src/telemetry/mod.rs
  src/meta/node/src/server.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16670 feat(connector): add DynamoDB sink
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, user-facing-changes

#17071 chore(over window): improve error message for empty partition by
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
Labels: type/chore

#17079 fix(connector): don't log config/props that may contain sensitive information
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/remote.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/reader/reader.rs
Labels: type/fix

#17072 feat(catalog): remove `pg_keywords` system catalog
  e2e_test/batch/catalog/pg_class.slt.part
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_keywords.rs
Labels: type/feature

#17080 fix(parser): fix parsing timestamp number
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/mod.rs
  src/sqlparser/tests/testdata/as_of.yaml
Labels: type/fix

#17086 fix(connector): don't log config/props that may contain sensitive info
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/remote.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/reader/reader.rs
Labels: type/fix

#17084 fix(expr): evaluate scalar expr non-strictly in streaming
  e2e_test/error_ui/simple/recovery.slt
  e2e_test/streaming/bug_fixes/issue_12474.slt
  src/batch/src/executor/project_set.rs
  src/expr/core/src/table_function/mod.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/from_proto/project_set.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: type/fix

#17091 feat(sink): batch add data to kinesis and async wait for delivery
  src/connector/src/sink/kinesis.rs
Labels: type/feature

#17087 fix: upgrade foyer-storage to fix direct io on arm
  Cargo.lock
Labels: type/fix

#17082 chore(batch): remove crate level expect(dead_code)
  src/batch/src/executor/delete.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/hop_window.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/join/chunked_data.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/table_function.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/executor/top_n.rs
  src/batch/src/executor/values.rs
  src/batch/src/lib.rs
Labels: type/chore

#17092 fix: support co-exist for sql backend with cdc and support mysql sql backend in risedev
  risedev.yml
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/fix

#17089 chore(connector): remove crate level allow(dead_code)
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/mod.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/operators.rs
  src/connector/src/parser/maxwell/mod.rs
  src/connector/src/parser/maxwell/operators.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/schema/loader.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/iceberg/prometheus/monitored_partition_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_write_writer.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/snowflake.rs
  src/connector/src/sink/snowflake_connector.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/kafka/private_link.rs
  src/connector/src/source/kinesis/source/message.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/mqtt/enumerator/mod.rs
  src/connector/src/source/mqtt/source/reader.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
Labels: type/chore

#17100 feat(build): add rustup to the release image
  docker/Dockerfile
Labels: type/feature

#17099 chore(metric): display actor count per CN in grafana
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
Labels: type/chore

#17114 cherry-pick feat(source): parse avro map into jsonb (#16948)
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/mod.rs
  src/frontend/src/handler/create_source.rs
Labels: cherry-pick

#17120 feat(telemetry): impl report to scarf (#17046)
  Makefile.toml
  ci/risedev-components.ci.benchmark.env
  ci/risedev-components.ci.env
  ci/risedev-components.ci.source.env
  ci/scripts/common.sh
  src/common/src/telemetry/mod.rs
  src/meta/node/src/server.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17104 refactor(storage): add metrics for uploader memory and no instance id in imm
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/storage/benches/bench_imm_compact.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/refactor

#17106 ci: add dynamodb integration test
  ci/scripts/gen-integration-test-yaml.py
  integration_tests/dynamodb/create_sink.sql
  integration_tests/dynamodb/create_source.sql
  integration_tests/dynamodb/create_table_request.json
  integration_tests/dynamodb/data_check
  integration_tests/dynamodb/docker-compose.yml
  integration_tests/dynamodb/prepare.sh
  integration_tests/dynamodb/query.sql
  integration_tests/dynamodb/sink_check.py
Labels: component/ci

#17083 feat(expr): show function name and arguments when evaluation fails
  e2e_test/batch/functions/to_char.slt.part
  e2e_test/error_ui/extended/main.slt
  e2e_test/error_ui/simple/expr.slt
  e2e_test/error_ui/simple/main.slt
  e2e_test/error_ui/simple/recovery.slt
  src/expr/core/src/error.rs
  src/expr/macro/src/gen.rs
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/format.yaml
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
Labels: type/feature

#17112 fix: pulsar error during recovery
  src/connector/src/source/pulsar/source/reader.rs
Labels: need-cherry-pick-release-1.9

#16958 perf(over window): optimize range cache with state table reverse iterator
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/perf

#17051 feat(cdc): support more metadata columns for MySQL, PG and MongoDB
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/mongodb/mongodb_basic.slt
  proto/plan_common.proto
  src/compute/tests/cdc_tests.rs
  src/connector/src/parser/additional_columns.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/util.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/source/message.rs
  src/prost/build.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/feature, user-facing-changes

#17129 cherry-pick fix: pulsar error during recovery (#17112)
  src/connector/src/source/pulsar/source/reader.rs
Labels: cherry-pick

#15896 feat(storage): support different snapshot for streaming jobs
  proto/hummock.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/model/stream.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/version.rs
Labels: type/feature, breaking-change, ci/run-e2e-single-node-tests

#17133 fix(build): install rustup on ubuntu 22.04
  docker/Dockerfile
Labels: type/fix

#17134 chore(deps): upgrade madsim
  Cargo.lock
  src/batch/src/executor/mod.rs
  src/batch/src/task/task_manager.rs
Labels: type/chore

#17130 fix(batch): fix lookup join memory count
  src/batch/src/executor/join/lookup_join_base.rs
Labels: type/fix

#17113 refactor(storage): trigger uploader sync on SyncEpoch event
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/refactor

#17151 ci: add signoff in auto-pr
  .github/workflows/auto-update-helm-and-operator-version-by-release.yml
Labels: component/ci

#17152 test: fix pulsar test - expired credential
  e2e_test/source/pulsar/astra-streaming.py
  e2e_test/source/pulsar/pulsar.slt
Labels: component/test, ci/run-pulsar-source-tests, need-cherry-pick-release-1.9

#17097 fix: reject concurrent altering table column
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17144 fix: start new cluster with target commit version in backwards compat test
  ci/scripts/backwards-compat-test.sh
Labels: type/fix, ci/run-backwards-compat-tests, need-cherry-pick-release-1.9

#17155 feat(batch): clean spill directory at the start
  src/batch/src/lib.rs
  src/batch/src/spill/spill_op.rs
  src/compute/src/server.rs
  src/frontend/src/session.rs
Labels: type/feature

#17147 fix(test): fix meta backup test
  src/storage/backup/integration_tests/common.sh
Labels: type/fix

#17062 test: remove duplicated avro pk test
  e2e_test/source_inline/kafka/avro/name_strategy.slt
Labels: component/test, ci/run-e2e-test

#17158 chore: revert "perf(over window): optimize range cache with state table reverse iterator"
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/chore

#17166 chore(storage): rename field with _v2
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/chore

#17156 fix(expr): don't panic on table function errors
  e2e_test/streaming/bug_fixes/issue_11915.slt
  src/batch/src/executor/project_set.rs
  src/batch/src/executor/table_function.rs
  src/common/src/array/bytes_array.rs
  src/common/src/array/utf8_array.rs
  src/common/src/buffer/bitmap.rs
  src/expr/core/src/codegen.rs
  src/expr/core/src/table_function/mod.rs
  src/expr/impl/src/scalar/format.rs
  src/expr/impl/src/table_function/generate_series.rs
  src/expr/macro/src/gen.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/from_proto/project_set.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: type/fix

#17176 feat(pg_compatible): add field `numeric_precision_radix` in information_schema.columns
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
Labels: type/feature

#17145 ci: bump slt to hide NOTICE logs
  Cargo.lock
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/run-e2e-test.sh
Labels: component/ci

#17178 style: fix nightly clippy
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/test_utils.rs
  src/common/metrics/src/relabeled_metric.rs
  src/common/src/array/data_chunk.rs
  src/common/src/cache.rs
  src/common/src/session_config/search_path.rs
  src/common/src/util/chunk_coalesce.rs
  src/common/src/util/memcmp_encoding.rs
  src/connector/src/schema/schema_registry/util.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/source/pulsar/topic.rs
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
  src/frontend/src/optimizer/plan_node/predicate_pushdown.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/logical_filter_expression_simplify_rule.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/meta/src/controller/rename.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/storage/transaction.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_manager.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/store.rs
  src/stream/src/common/compact_chunk.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/task/mod.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/style, ci/run-e2e-single-node-tests

#17153 perf(connector): support zero-copy `access` during parsing
  src/common/src/types/cow.rs
  src/common/src/types/mod.rs
  src/connector/benches/json_vs_plain_parser.rs
  src/connector/benches/nexmark_integration.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/unified/mod.rs
Labels: type/perf

#17165 refactor(connector): migrate to zero-copy access implementation
  Cargo.lock
  src/common/src/types/cow.rs
  src/connector/benches/json_vs_plain_parser.rs
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/bytes_parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/bytes.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/unified/maxwell.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
  src/connector/src/parser/upsert_parser.rs
Labels: type/refactor

#16986 feat(cdc): map upstream table schema automatically for cdc table
  Cargo.lock
  Cargo.toml
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
  e2e_test/source/cdc_inline/auto_schema_map_pg.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  src/compute/tests/cdc_tests.rs
  src/connector/Cargo.toml
  src/connector/src/error.rs
  src/connector/src/macros.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/frontend/src/handler/create_table.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
Labels: type/feature, user-facing-changes

#17170 perf(source): reserve capacity when building struct fields
  src/connector/src/parser/unified/json.rs
Labels: type/perf

#17124 feat(expr): add `jsonb_set` function
  proto/expr.proto
  src/expr/impl/src/scalar/jsonb_set.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/tests/regress/Cargo.toml
  src/tests/regress/data/sql/jsonb.sql
Labels: type/feature

#17169 perf(connector): avoid allocation for metadata column when parsing
  src/connector/src/parser/mod.rs
  src/connector/src/parser/util.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/kafka/source/message.rs
Labels: type/perf

#17189 test(connector): add benchmark for parsing combined (struct type) nexmark events
  src/connector/benches/nexmark_integration.rs
Labels: component/test

#17190 refactor(test): move backwards compat test and slow tests into e2e_test folder
  Makefile.toml
  ci/scripts/backwards-compat-test.sh
  ci/scripts/slow-e2e-test.sh
  e2e_test/backwards-compat-tests/README.md
  e2e_test/backwards-compat-tests/scripts/run_local.sh
  e2e_test/backwards-compat-tests/scripts/utils.sh
  e2e_test/backwards-compat-tests/slt/basic/seed.slt
  e2e_test/backwards-compat-tests/slt/basic/validate_original.slt
  e2e_test/backwards-compat-tests/slt/basic/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/kafka/invalid_options/seed.slt
  e2e_test/backwards-compat-tests/slt/kafka/invalid_options/validate_original.slt
  e2e_test/backwards-compat-tests/slt/kafka/invalid_options/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/kafka/seed.slt
  e2e_test/backwards-compat-tests/slt/kafka/upsert/deprecate_upsert.slt
  e2e_test/backwards-compat-tests/slt/kafka/upsert/include_key_as.slt
  e2e_test/backwards-compat-tests/slt/kafka/validate_original.slt
  e2e_test/backwards-compat-tests/slt/kafka/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/delete.slt.part
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/insert.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/seed.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/validate_original.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/delete.slt.part
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/insert.slt.part
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/seed.slt
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/validate_original.slt
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/validate_restart.slt
  e2e_test/slow_tests/backfill/rate_limit/slow-udf.slt
  e2e_test/slow_tests/udf/always_retry_python.slt
Labels: type/refactor, ci/run-backwards-compat-tests, ci/run-slow-e2e-tests

#17171 refactor(connector): adopt zero-copy access for protobuf & avro parsing
  src/common/src/types/cow.rs
  src/common/src/types/jsonb.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/protobuf.rs
Labels: type/refactor

#17174 fix(sink): do compaction in chunk for upsert sink
  src/stream/src/executor/sink.rs
Labels: type/fix

#17175 chore(storage): remove unused config
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/opts.rs
Labels: type/chore

#17150 chore: expose associated source in rw_sources
  e2e_test/ddl/alter_set_schema.slt
  e2e_test/source/basic/ddl.slt
  e2e_test/source/basic/old_row_format_syntax/ddl.slt
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
  src/frontend/src/handler/show.rs
Labels: type/chore

#17027 doc(stream): add docs on initializing the replicated state table
  docs/backfill.md
Labels: component/doc

#16992 feat: calculate reserved memory based on a gradient proportion
  src/compute/src/memory/config.rs
Labels: type/feature, user-facing-changes

#17183 fix(ci): increase sleep duration before restarting cluster in backfill sink test
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/sink/create_sink.slt
Labels: type/fix, ci/run-backfill-tests, ci/main-cron/run-all

#17181 test(backfill): adjust the measured progress bounds for backfill test
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
Labels: component/test, ci/run-build-simulation, ci/run-integration-test-deterministic-simulation

#17212 chore: fix README trailing space ci failure
  README.md
Labels: type/chore

#17213 chore(sink): improve force append only warning
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/chore

#17210 refactor(cdc): refine error report when fail to derive table schema
  src/frontend/src/handler/create_table.rs
Labels: type/refactor

#17197 chore(ci): rework ci labels used to trigger workflows
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  docs/developer-guide.md
Labels: type/chore, ci/run-backfill-tests, ci/run-e2e-source-tests, ci/main-cron/run-selected

#17193 refactor(jni): remove jni_core's dependency on storage
  Cargo.lock
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/java-binding/src/main/java/com/risingwave/java/binding/HummockIterator.java
  src/java_binding/Cargo.toml
  src/java_binding/src/hummock_iterator.rs
  src/java_binding/src/lib.rs
  src/jni_core/Cargo.toml
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
Labels: type/refactor, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests

#17211 fix(batch): fix memory limit for batch sort executor
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/order_by.rs
Labels: type/fix

#17161 refactor(storage): limit use of hummock version safe epoch
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/backup/src/lib.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/utils.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17215 chore(ci): disable e2e visibility mode tests in single node mode
  ci/scripts/run-e2e-test.sh
Labels: type/chore, ci/run-e2e-single-node-tests, ci/main-cron/run-selected

#17220 chore: close inactive PRs and allow manual trigger
  .github/workflows/stale.yml
Labels: type/chore

#17222 fix(metrics): reduce overhead of `merge_barrier_alignment_duration`
  src/stream/src/executor/merge.rs
Labels: type/fix

#16985 feat(storage): avoid uploader depending on seal_epoch
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/feature

#17154 feat(connector): add SQL Server sink
  Cargo.lock
  ci/docker-compose.yml
  ci/scripts/e2e-sqlserver-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/sqlserver_sink.slt
  src/connector/Cargo.toml
  src/connector/src/sink/mod.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/with_options.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, user-facing-changes, ci/run-e2e-sqlserver-sink-tests

#17225 fix(meta): include secrets in metadata backup
  ci/workflows/pull-request.yml
  proto/backup_service.proto
  src/meta/model_v2/src/secret.rs
  src/meta/src/backup_restore/meta_snapshot_builder_v2.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/lib.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17219 feat(storage): remove magic number MAX_COMPACT_LEVEL_COUNT
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16802 fix(compactor): Compactor potential oom risk of builder
  proto/hummock.proto
  src/common/src/config.rs
  src/config/docs.md
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/opts.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17110 feat(source): support JSON schema addtionalProperties (map)
  e2e_test/source/basic/nosim_kafka.slt
  scripts/source/test_data/kafka_json_schema.1
  src/connector/src/parser/json_parser.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature

#17229 feat(catalog): add `rw_catalog.actor_id_to_ddl`, `rw_catalog.fragment_id_to_ddl`
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_id_to_ddl.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_id_to_ddl.rs
Labels: type/feature, user-facing-changes

#17234 chore: bump mysql java library
  java/pom.xml
Labels: type/chore

#17227 fix(meta): use per table mce and safe epoch in metadata backup
  proto/backup_service.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_meta_snapshot.rs
  src/meta/src/backup_restore/meta_snapshot_builder_v2.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_query_backup.sh
  src/storage/backup/src/lib.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test

#17239 fix(stream): fix temporal join append only property
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/stream/src/executor/temporal_join.rs
Labels: type/fix, need-cherry-pick-release-1.9

#17067 feat(over window): WindowBuffer support for session window
  proto/expr.proto
  src/expr/core/src/window_function/call.rs
  src/expr/core/src/window_function/mod.rs
  src/expr/core/src/window_function/session.rs
  src/expr/impl/src/window_function/aggregate.rs
  src/expr/impl/src/window_function/buffer.rs
Labels: type/feature

#17242 refactor(streaming): refine sink await-tree
  src/connector/src/lib.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/trivial.rs
  src/connector/src/sink/writer.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/executor/sink.rs
Labels: type/refactor

#17125 feat(storage): store compaction group id in per table info
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/emergency_selector.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/manual_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/compaction/selector/space_reclaim_selector.rs
  src/meta/src/hummock/compaction/selector/tombstone_compaction_selector.rs
  src/meta/src/hummock/compaction/selector/ttl_selector.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/table_stats.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Labels: type/feature, breaking-change, ci/run-e2e-single-node-tests

#17230 ci: make stale bot more kind
  .github/workflows/stale.yml
Labels: component/ci

#17246 fix: cherry pick 17239
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/stream/src/executor/temporal_join.rs
Labels: type/fix

#17221 feat(sink): enable sink_decouple by default for kafka, pulsar, kinesis, google pubsub, nats, mqtt clickhouse
  e2e_test/sink/clickhouse_sink.slt
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/sink/mqtt_sink.slt
  e2e_test/sink/pulsar_sink.slt
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/pulsar.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-clickhouse-sink-tests

#17248 chore: update Cargo workspace package version to 1.10.0-alpha
  Cargo.lock
  Cargo.toml
Labels: type/chore

#17251 fix(metrocs): fix hybrid cache hit ratio by upgrading foyer
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/fix

#17253 ci: add a github action to ensure no package version regression
  .github/workflows/package_version_check.yml
Labels: component/ci

#17249 fix(test): fix regex
  src/storage/backup/integration_tests/common.sh
Labels: type/fix, ci/run-e2e-meta-backup-test

#17257 chore: update docker image version to v1.9.1
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore

#17254 feat(diagnosis): Dump JVM stack trace in await-tree-dump
  dashboard/pages/await_tree.tsx
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/Monitor.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  proto/monitor_service.proto
  src/common/src/util/prost.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/jni_core/src/jvm_runtime.rs
Labels: type/feature

#17258 fix(compactor): fix unschedule groups
  src/meta/src/hummock/manager/compaction.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.9

#17216 feat(sink): support `format plain encode avro` for kafka
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/kafka/avro.slt
  src/connector/src/sink/formatter/mod.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/feature

#17268 chore: update package version to 1.11.0-alpha
  Cargo.lock
  Cargo.toml
Labels: type/chore

#17259 feat(metrics): add metrics for batch spilling
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/batch/benches/hash_agg.rs
  src/batch/benches/hash_join.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/spill/spill_op.rs
  src/batch/src/task/context.rs
  src/batch/src/task/env.rs
  src/compute/src/server.rs
  src/frontend/src/scheduler/task_context.rs
  src/frontend/src/session.rs
Labels: type/feature

#17205 feat(storage): support data chunk iter in storage table
  src/batch/src/executor/row_seq_scan.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/test_storage_table.rs
Labels: type/feature

#17262 feat: expose PK info in index system catalog
  e2e_test/batch/catalog/pg_indexes.slt.part
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_indexes.rs
Labels: type/feature

#17274 fix(meta): purge hummock state table after pre apply drop command
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10

#17276 chore: update migration doc, add DATABASE_URL env example
  src/meta/model_v2/migration/README.md
Labels: type/chore

#17275 feat(expr): add function `pg_index_column_has_property`
  proto/catalog.proto
  proto/expr.proto
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/function_impl/pg_index_column_has_property.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240617_070131_index_column_properties.rs
  src/meta/model_v2/src/index.rs
  src/meta/model_v2/src/lib.rs
  src/meta/src/controller/mod.rs
  src/prost/build.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16542 feat(object store): introduce object prefix for opendal object store
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/java_binding.proto
  proto/meta.proto
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/compute/src/server.rs
  src/config/docs.md
  src/ctl/src/cmd_impl/bench.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/cmd_impl/hummock/validate_version.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/ctl/src/common/hummock_service.rs
  src/ctl/src/lib.rs
  src/java_binding/src/hummock_iterator.rs
  src/meta/model_v2/migration/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/manager/env.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/prefix.rs
  src/object_store/src/object/s3.rs
  src/object_store/src/object/sim/mod.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests

#17148 fix(test): fix cassandra sink error
  ci/scripts/e2e-cassandra-sink-test.sh
Labels: type/fix, ci/run-e2e-cassandra-sink-tests

#17280 test(connector): add integration test for sql server sink
  integration_tests/sqlserver-sink/README.md
  integration_tests/sqlserver-sink/docker-compose.yml
Labels: component/test

#17192 refactor(meta): maintain fragment actor and table info in barrier manager
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller_v2.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17279 chore: upgrade chrono to 0.4.38
  Cargo.lock
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/hash/key.rs
  src/common/src/types/datetime.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/source/iceberg/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/expr/impl/src/scalar/extract.rs
  src/expr/impl/src/scalar/to_char.rs
  src/expr/impl/src/scalar/tumble.rs
  src/meta/src/controller/mod.rs
Labels: type/chore, ci/run-e2e-single-node-tests

#17282 fix(migration): use correct type I32Array instead of Vec<i32>
  src/meta/src/controller/fragment.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-sql-migration-tests

#17269 fix(secret): add a secret ref column to source
  proto/catalog.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/migration/src/m20240525_090457_secret.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/sink.rs
  src/meta/model_v2/src/source.rs
  src/meta/src/controller/mod.rs
  src/prost/build.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-sql-migration-tests, need-cherry-pick-release-1.10

#17167 perf(sink): don't compact chunk for blackhole sink
  src/connector/src/sink/mod.rs
  src/stream/src/executor/sink.rs
Labels: type/perf

#17281 chore: add e2e test for iceberg source scan
  e2e_test/iceberg/main.py
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table_verify.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table_verify.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table_verify.slt
  e2e_test/iceberg/test_case/no_partition_append_only.toml
  e2e_test/iceberg/test_case/partition_append_only.toml
  e2e_test/iceberg/test_case/range_partition_append_only.toml
Labels: type/chore, ci/run-e2e-iceberg-sink-tests

#17224 feat(optimizer): grow stack for complicated plan in more places
  src/frontend/src/binder/bind_param.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/expr_visitor.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
  src/frontend/src/optimizer/plan_expr_visitor/expr_counter.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_rewriter/mod.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
Labels: type/feature

#17290 chore: remove the object_store prefix in the object store config naming
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/s3.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: type/chore

#17260 refactor(storage): deserialize output columns only
  src/storage/src/row_serde/value_serde.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/refactor

#17289 fix(jdbc-sink): relax the check for UPDATE_DELETE op
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  src/stream/src/executor/sink.rs
Labels: type/fix, need-cherry-pick-release-1.9, need-cherry-pick-release-1.10

#17301 chore: install cherry pick action for v1.10
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#17302 fix(ctl): fix sst_dump
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17303 fix(jdbc-sink): relax the check for UPDATE_DELETE op (#17289) (cherry-pick)
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  src/stream/src/executor/sink.rs
Labels: type/fix

#17237 fix(sink): add bigquery append_rows retry times
  src/connector/src/sink/big_query.rs
  src/connector/with_options_sink.yaml
Labels: type/fix, user-facing-changes

#16821 feat(sink): support columns subset for cassandra and doris sink
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraUtil.java
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, user-facing-changes

#17309 feat(connector): support avro default nan/inf/-inf
  Cargo.lock
  e2e_test/source_inline/kafka/avro/name_strategy.slt
  e2e_test/source_inline/kafka/avro/upsert_avro_json
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
Labels: type/feature, user-facing-changes, need-cherry-pick-release-1.10

#17306 refactor(batch): support merge sort executor
  src/batch/src/exchange_source.rs
  src/batch/src/executor/merge_sort.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/mod.rs
Labels: type/refactor

#16330 feat(sink): refator es sink to support opensearch
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/BulkListener.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/BulkProcessorAdapter.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/ElasticBulkProcessorAdapter.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/ElasticRestHighLevelClientAdapter.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSinkFactory.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/OpensearchBulkProcessorAdapter.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/OpensearchRestHighLevelClientAdapter.java
  java/pom.xml
  src/connector/src/sink/elasticsearch.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-release-1.10

#17310 fix(mysql-cdc): validate column names in case-insensitive way
  e2e_test/source/cdc/mysql_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/ValidatorUtils.java
Labels: type/fix, need-cherry-pick-release-1.10

#17198 feat: upgrade to opendal 0.47 in object store
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/sink/snowflake_connector.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Labels: type/feature, need-cherry-pick-release-1.10

#17199 feat(storage): remove unused code `calculate_table_align_rule`
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/manager/env.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17328 fix: make cherry-pick pr title checker more tolerant
  .github/pr-title-checker-config.json
Labels: type/fix

#17325 cherry-pick chore: upgrade chrono to 0.4.38 (#17279)
  Cargo.lock
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/hash/key.rs
  src/common/src/types/datetime.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/source/iceberg/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/expr/impl/src/scalar/extract.rs
  src/expr/impl/src/scalar/to_char.rs
  src/expr/impl/src/scalar/tumble.rs
  src/meta/src/controller/mod.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests

#17330 refactor: move SecretRef to secret.proto
  proto/catalog.proto
  proto/secret.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/src/lib.rs
  src/prost/build.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17102 feat(sink): Support Mongodb sink
  Cargo.lock
  Cargo.toml
  ci/docker-compose.yml
  ci/scripts/e2e-mongodb-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/mongodb_sink.slt
  src/connector/Cargo.toml
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/error.rs
  src/connector/src/sink/encoder/bson.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mongodb.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: user-facing-changes, ci/run-e2e-mongodb-sink-tests

#17312 fix: fix type mismatch of compressed_binary column in function table
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240618_072634_function_compressed_binary.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-sql-migration-tests, need-cherry-pick-release-1.9, need-cherry-pick-release-1.10

#17335 cherry-pick refactor: secret ref columns in protobuf
  proto/catalog.proto
  proto/secret.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/migration/src/m20240525_090457_secret.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/sink.rs
  src/meta/model_v2/src/source.rs
  src/meta/src/controller/mod.rs
  src/prost/build.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests

#17326 cherry-pick chore: remove the object_store prefix in the object store config naming (#17290)
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/s3.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: cherry-pick

#17300 chore(ci): fix sqlserver labels
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-e2e-sqlserver-sink-tests, ci/main-cron/run-selected

#17341 fix(cherry-pick): fix type mismatch of compressed_binary column in function table (#17312)
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240618_072634_function_compressed_binary.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17327 cherry-pick feat: upgrade to opendal 0.47 in object store (#17198)
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/sink/snowflake_connector.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Labels: cherry-pick

#17344 doc(common): fix `enable_arrangement_backfill` docs
  src/common/src/config.rs
Labels: component/doc

#17315 feat(meta): compress the encoded model if it's too large in kv meta store
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/hummock/model/compact_task_assignment.rs
  src/meta/src/hummock/model/pinned_snapshot.rs
  src/meta/src/hummock/model/pinned_version.rs
  src/meta/src/hummock/model/version_delta.rs
  src/meta/src/hummock/model/version_stats.rs
  src/meta/src/model/mod.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests

#17352 fix(jdbc-sink): relax the check for UPDATE_DELETE op (#17289) (cherry-pick)
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  src/stream/src/executor/sink.rs
Labels: type/fix
