Repository risingwavelabs/risingwave, pull requests merged in 2024-03, with the labels that each got.

#15374 fix: use avg instead of sum for join actor metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/fix

#15083 feat(binder): convert to constant lookup when case when expression is in simple form
  src/frontend/planner_test/tests/testdata/input/case_when_optimization.yaml
  src/frontend/planner_test/tests/testdata/output/case_when_optimization.yaml
  src/frontend/src/binder/expr/mod.rs
Labels: type/feature

#15375 refactor(hash): remove Result in HashKey::build
  src/batch/src/executor/group_top_n.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/lookup_join_base.rs
  src/common/benches/bench_hash_key_encoding.rs
  src/common/src/hash/key.rs
  src/common/src/hash/key_v2.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
Labels: type/refactor

#15373 feat(optimizer): support strong util
  src/frontend/src/optimizer/plan_expr_visitor/mod.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#15178 chore(scripts): update risingwave install script `version`
  scripts/install/install-risingwave.sh
Labels: type/chore

#15304 feat: add new option `ignore_option` for debeizum format
  e2e_test/source/basic/kafka.slt
  scripts/source/test_data/debezium_mess_key.1
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/frontend/src/handler/create_source.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/feature

#15380 fix(dashboard): only show real-time back-pressure rate from Prometheus data source
  dashboard/pages/fragment_graph.tsx
  src/meta/src/dashboard/prometheus.rs
Labels: type/fix

#15385 feat(catalog): add system catalog `rw_depend`
  e2e_test/batch/catalog/rw_depend.slt.part
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_depend.rs
Labels: type/feature

#15379 build: use patched version of aws-sdk-ec2
  Cargo.lock
  Cargo.toml
Labels: type/build

#15331 ci: Fix iceberg integration tests
  ci/scripts/integration-tests.sh
  integration_tests/iceberg-cdc/python/script/init.py
  integration_tests/iceberg-sink2/docker/hive/docker-compose.yml
  integration_tests/iceberg-sink2/docker/jdbc/docker-compose.yml
  integration_tests/iceberg-sink2/docker/rest/docker-compose.yml
  integration_tests/iceberg-sink2/docker/storage/docker-compose.yml
  integration_tests/iceberg-sink2/python/check.py
  integration_tests/iceberg-sink2/python/config.ini
  integration_tests/iceberg-sink2/python/init.py
  integration_tests/iceberg-sink2/python/poetry.lock
  integration_tests/iceberg-sink2/python/pyproject.toml
  integration_tests/iceberg-sink2/run.sh
  integration_tests/scripts/check_data.py
  integration_tests/scripts/clean_demos.py
Labels: component/ci

#15405 chore(deps): bump arrow-udf-js and rquickjs
  Cargo.lock
Labels: type/chore

#15300 feat(storage): separate key and values in imm to reduce allocation
  src/storage/Cargo.toml
  src/storage/benches/bench_imm_compact.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
Labels: type/feature

#15371 feat(meta): support create subscription
  proto/catalog.proto
  proto/ddl_service.proto
  proto/meta.proto
  proto/stream_plan.proto
  proto/user.proto
  src/frontend/src/observer/observer_manager.rs
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240304_074901_subscription.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/object.rs
  src/meta/model_v2/src/prelude.rs
  src/meta/model_v2/src/subscription.rs
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore_impl/v1.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/model/catalog.rs
  src/meta/src/model/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/storage/backup/src/meta_snapshot_v1.rs
  src/stream/src/executor/subscription.rs
  src/stream/src/from_proto/subscription.rs
Labels: type/feature

#15415 feat(frontend): derive columns from iceberg source automatically
  src/common/src/array/arrow/arrow_impl.rs
  src/frontend/src/handler/create_source.rs
  src/sqlparser/src/ast/statement.rs
Labels: type/feature

#15411 fix(cdc-connector): allow empty passwords
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
Labels: type/fix

#15412 fix: fix compile err in release build of risectl
  ci/scripts/check.sh
  ci/scripts/release.sh
  src/connector/src/lib.rs
Labels: type/fix

#15414 fix(metric): fix backfill snapshot read metric
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/utils.rs
Labels: type/fix

#13151 feat(frontend): implement OAuth authentication
  Cargo.lock
  proto/user.proto
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/session.rs
  src/frontend/src/user/user_authentication.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/storage/src/hummock/sstable_store.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature, need-cherry-pick-release-1.7

#15439 (ignore) dummy change to test cherry-pick script
  src/connector/src/lib.rs
Labels: Invalid PR Title

#15438 chore(doc): Update README.md
  README.md
Labels: type/chore

#15389 fix(dashboard): fix back-pressure dashboard & some refactorings
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
  src/meta/src/dashboard/prometheus.rs
Labels: type/fix

#15109 feat(meta): make complete barrier non-async in worker loop
  ci/workflows/pull-request.yml
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
Labels: type/feature

#15325 fix(risectl): exit with non-zero code when there's an error
  src/cmd/src/lib.rs
  src/ctl/src/lib.rs
  src/tests/simulation/src/ctl_ext.rs
Labels: type/fix

#15437 fix: handle negative int cast to `timestamptz`
  src/common/src/cast/mod.rs
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.6, need-cherry-pick-release-1.7-standalone

#15448 chore(ci): fix backwards compat tests
  ci/scripts/backwards-compat-test.sh
Labels: type/chore, ci/run-main-cron, ci/run-backwards-compat-tests, ci/run-build, ci/main-cron/skip-ci

#15449 fix(optmizer): add some missing node for CardinalityVistor
  src/frontend/planner_test/tests/testdata/input/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.7-standalone

#15468 fix(dynfilter): cherrypick left table with singleton dist panic bug (#15406) to branch release-1.6
  e2e_test/streaming/bug_fixes/issue_15302.slt
  src/stream/src/from_proto/dynamic_filter.rs
Labels: type/fix, cherry-pick

#15467 fix(dynfilter): cherrypick left table with singleton dist panic bug (#15406) to branch release-1.7.0-standalone
  e2e_test/streaming/bug_fixes/issue_15302.slt
  src/stream/src/from_proto/dynamic_filter.rs
Labels: type/fix, cherry-pick

#15471 fix(sink): fix starrocks sink array check
  integration_tests/starrocks-sink/README.md
  src/connector/src/sink/starrocks.rs
Labels: type/fix

#15457 feat(lints): lint on formatting `Report` in anyhow construction
  lints/Cargo.lock
  lints/Cargo.toml
  lints/src/format_error.rs
  lints/ui/format_error.rs
  lints/ui/format_error.stderr
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/planner_test_runner.rs
  src/meta/src/barrier/mod.rs
  src/stream/src/lib.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/feature

#15444 fix: parsing the header of confluent protobuf message incorrectly
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/schema/schema_registry/util.rs
Labels: type/fix

#14320 feat(storage): filter data by watermark in fast compact algorithm
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/iterator/skip_watermark.rs
Labels: type/feature

#15383 feat(optimizer): improve pull_up_correlated_predicate_agg_rule to optimize TPCH Q17
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_expr_visitor/mod.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate_agg_rule.rs
Labels: type/feature

#15450 chore(ci): bump main-cron timeout
  ci/scripts/deterministic-e2e-test.sh
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-main-cron, ci/run-backfill-tests, ci/run-e2e-iceberg-sink-tests, ci/run-build, ci/run-build-simulation, ci/run-build-other, ci/main-cron/skip-ci

#15472 fix(frontend): cherry-pick OAuth authentication
  Cargo.lock
  proto/user.proto
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/session.rs
  src/frontend/src/user/user_authentication.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/storage/src/hummock/sstable_store.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/fix

#15479 fix: change kafka download url
  ci/scripts/gen-flamegraph.sh
Labels: type/fix, nexmark-q0, ci/run-cpu-flamegraph, ci/run-heap-flamegraph

#15417 refactor(storage): store direct value entry index in imm iter
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
Labels: type/refactor

#15484 fix(metrics): remove Source Throughput(rows) per barrier
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix

#15458 fix(udf): ensure `always_retry_on_network_error` does so for all tonic errors
  src/expr/udf/src/error.rs
  src/expr/udf/src/external.rs
Labels: type/fix, ci/run-main-cron, ci/run-e2e-standalone-tests, ci/run-docslt, ci/run-build, ci/run-build-other, ci/main-cron/skip-ci, need-cherry-pick-release-1.7, need-cherry-pick-release-1.7-standalone

#15487 chore(ci): skip flaky test for `single-node`, increase `e2e-test` timeout
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
Labels: ci/run-main-cron, ci/run-docslt, ci/run-build, ci/run-build-other, ci/run-e2e-test, ci/main-cron/skip-ci

#15289 feat: ensure each storage read only involves one vnode
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_state_store_test_utils.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/mem_table.rs
  src/storage/src/store.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/common/log_store_impl/subscription_log_store.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/from_proto/subscription.rs
Labels: type/feature

#15481 feat(batch): auto decide distributed dml for iceberg ingestion
  src/frontend/src/optimizer/plan_node/batch_delete.rs
  src/frontend/src/optimizer/plan_node/batch_insert.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_visitor/distributed_dml_visitor.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
Labels: type/feature

#15355 fix(meta): unregister tables from hummock manager during recovery
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/worker.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/notification.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15401 feat(meta): optimize table stats report performance
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/storage/hummock_sdk/src/table_stats.rs
Labels: type/feature

#15501 fix(test): suppress expected error message
  src/storage/backup/integration_tests/common.sh
Labels: type/fix

#15460 feat: add new option `ignore_option` for debeizum format (#15304)
  e2e_test/source/basic/kafka.slt
  scripts/source/test_data/debezium_mess_key.1
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/frontend/src/handler/create_source.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/feature

#15466 fix(dynfilter): cherrypick left table with singleton dist panic bug (#15406) to branch release-1.7
  ci/workflows/pull-request.yml
  e2e_test/streaming/bug_fixes/issue_15302.slt
  src/stream/src/from_proto/dynamic_filter.rs
Labels: type/fix, cherry-pick

#15506 feat(udf): add udf metrics to embeded udf, refactor external udf metrics.
  src/expr/core/src/expr/expr_udf.rs
  src/expr/udf/examples/client.rs
  src/expr/udf/src/external.rs
  src/expr/udf/src/lib.rs
  src/expr/udf/src/metrics.rs
Labels: type/feature

#15514 fix(risedev): always download latest Kafka
  ci/scripts/common.sh
  ci/scripts/gen-flamegraph.sh
  src/risedevtool/kafka.toml
Labels: type/fix, ci/run-main-cron

#15519 fix: allow the object owner to grant and revoke privileges
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_service.rs
  src/meta/node/src/server.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/rpc_client/src/meta_client.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15527 fix: allow the object owner to grant and revoke privileges (#15519)
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_service.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/rpc_client/src/meta_client.rs
Labels: type/fix

#15413 fix(docker): fix java env in Dockerfile.hdfs
  docker/Dockerfile.hdfs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/mod.rs
Labels: type/fix

#15534 fix: cherry-pick to v1.7: chore: enable mem table spill (#15240)
  src/common/src/config.rs
  src/config/example.toml
Labels: type/fix

#15531 chore(sink): fix typo
  src/connector/src/sink/doris_starrocks_connector.rs
Labels: type/chore

#13952 feat(storage): clear up dropped column
  proto/hummock.proto
  src/common/src/config.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/env.rs
  src/prost/build.rs
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/skip_watermark.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/row_serde/value_serde.rs
Labels: type/feature, no-pr-activity

#15516 fix(sink): add cassandra batch size and fix bigquery array null
  integration_tests/big-query-sink/create_sink.sql
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraConfig.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraSink.java
  src/connector/src/common.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Labels: type/fix, user-facing-changes, need-cherry-pick-release-1.7

#15503 fix(meta): cherry pick 15355
  e2e_test/batch/transaction/now.slt
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/worker.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/notification.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix

#15530 fix(source): don't replace all '/' in s3 path to empty str
  src/connector/src/aws_utils.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15535 feat(batch): support rest catalog for iceberg source
  integration_tests/iceberg-source/docker/rest/config.ini
  integration_tests/iceberg-source/docker/rest/docker-compose.yml
  integration_tests/iceberg-source/docker/rest/spark-script/spark-connect-server.sh
  integration_tests/iceberg-source/python/main.py
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_source.yaml
Labels: type/feature

#14642 refactor(connector): share schema registry loader between avro and protobuf
  src/connector/src/parser/protobuf/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/protobuf/schema_resolver.rs
  src/connector/src/schema/avro.rs
  src/connector/src/schema/loader.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/protobuf.rs
Labels: type/refactor

#15536 fix(cdc): fix debezium engine config
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/ConnectorService.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  src/jni_core/src/jvm_runtime.rs
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.7-standalone

#15063 feat: telemetry report in pb
  Cargo.lock
  src/common/src/telemetry/mod.rs
  src/common/src/telemetry/pb_compatible.rs
  src/common/src/telemetry/report.rs
  src/compute/Cargo.toml
  src/compute/src/telemetry.rs
  src/frontend/Cargo.toml
  src/frontend/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/telemetry.rs
Labels: type/feature

#15559 fix(sink): add cassandra batch size and fix bigquery array null (#15516)
  integration_tests/big-query-sink/create_sink.sql
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraConfig.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraSink.java
  src/connector/src/common.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Labels: type/fix

#15550 test(batch): support hive catalog for iceberg source
  integration_tests/iceberg-source/docker/hive/config.ini
  integration_tests/iceberg-source/docker/hive/docker-compose.yml
  integration_tests/iceberg-source/docker/hive/spark-script/spark-connect-server.sh
  integration_tests/iceberg-source/python/main.py
Labels: component/test

#15574 feat(frontend): add `max_batch_queries_per_frontend_node` config
  risedev.yml
  src/common/src/config.rs
  src/config/docs.md
  src/config/full-with-batch-query-limit.toml
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/session.rs
Labels: type/feature, need-cherry-pick-release-1.7

#15580 feat(frontend): add max_batch_queries_per_frontend_node config (#15574)
  risedev.yml
  src/common/src/config.rs
  src/config/full-with-batch-query-limit.toml
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/session.rs
Labels: type/feature

#15395 fix(cdc): fix privilege check for shared mysql source
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/mysql_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceRequestHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DatabaseValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MongoDbValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/SourceHandlerFactory.java
  proto/connector_service.proto
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/rpc_client/src/connector_client.rs
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.7-standalone

#15557 feat: add error variant name to error metrics
  Cargo.lock
  src/common/Cargo.toml
  src/connector/Cargo.toml
  src/connector/src/parser/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/error/src/anyhow.rs
  src/stream/Cargo.toml
  src/stream/src/executor/error.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature

#15524 feat: support rw_depend in sql backend and add sink into dependency info
  e2e_test/batch/catalog/pg_class.slt.part
  e2e_test/batch/catalog/rw_depend.slt.part
  proto/meta.proto
  src/common/src/catalog/mod.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_depend.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/hummock_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/id.rs
  src/rpc_client/src/meta_client.rs
  src/tests/simulation/tests/integration_tests/throttle.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#15563 fix: minor refactor: remove `SourceInfo`
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
Labels: type/fix

#15558 feat(dashboard): enable compression for API & minor refactors
  Cargo.lock
  dashboard/lib/api/metric.ts
  dashboard/lib/api/streaming.ts
  src/meta/Cargo.toml
  src/meta/src/dashboard/mod.rs
Labels: type/feature

#14172 feat(stream): add kafka backfill executor
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  proto/stream_plan.proto
  src/common/src/types/mod.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/frontend/src/handler/create_source.rs
  src/meta/src/stream/source_manager.rs
  src/stream/Cargo.toml
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_backfill_state_table.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/source/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/source_backfill.rs
Labels: type/feature

#15593 fix(planner): array-construction subquery shall return `{}` rather than `null`
  e2e_test/batch/subquery/array_construct.slt.part
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/mod.rs
Labels: type/fix, breaking-change, need-cherry-pick-release-1.7

#15595 fix: ci e2e test
  e2e_test/iceberg/test_case/iceberg_sink_upsert.slt
Labels: ci/run-e2e-iceberg-sink-tests, ci/run-e2e-test

#15354 feat(risedev): add some configs for monitoring
  risedev.yml
  src/risedevtool/src/config_gen/grafana_gen.rs
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/config_gen/tempo_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/tempo.toml
Labels: type/feature

#15607 fix(binder): pick 15597
  src/frontend/planner_test/tests/testdata/input/insert.yaml
  src/frontend/planner_test/tests/testdata/output/insert.yaml
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/insert.rs
Labels: type/fix

#15610 fix(risedev): always download latest Kafka (#15514)
  ci/scripts/common.sh
  ci/scripts/gen-flamegraph.sh
  src/risedevtool/kafka.toml
Labels: type/fix

#15601 fix(planner): array-construction subquery shall return `{}` rather than `null` (#15593)
  e2e_test/batch/subquery/array_construct.slt.part
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/mod.rs
Labels: type/fix

#15616 fix(optimizer): decorrelate SimpleAgg with `array_agg`/`jsonb_agg`/`jsonb_object_agg` (#15590)
  e2e_test/batch/subquery/subquery.slt.part
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
Labels: type/fix

#15529 fix(metrics): separate high watermark and consumer lag
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Labels: type/fix

#15388 feat(connector): Add mqtt connector
  .typos.toml
  Cargo.lock
  ci/scripts/gen-integration-test-yaml.py
  integration_tests/mqtt/create_sink.sql
  integration_tests/mqtt/create_source.sql
  integration_tests/mqtt/data_check
  integration_tests/mqtt/docker-compose.yml
  integration_tests/mqtt/query.sql
  integration_tests/mqtt/sink_check.py
  src/connector/Cargo.toml
  src/connector/src/common.rs
  src/connector/src/error.rs
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/mqtt_common.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/mqtt/enumerator/mod.rs
  src/connector/src/source/mqtt/mod.rs
  src/connector/src/source/mqtt/source/message.rs
  src/connector/src/source/mqtt/source/mod.rs
  src/connector/src/source/mqtt/source/reader.rs
  src/connector/src/source/mqtt/split.rs
  src/connector/src/with_options.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/workspace-hack/Cargo.toml
Labels: user-facing-changes, ci/run-connector-node-integration-tests

#15625 chore: update version to 1.7.1
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#15624 fix(integration-test): fix citus-cdc case
  integration_tests/citus-cdc/create_source.sql
Labels: type/fix

#15488 feat(storage): reduce cost of metrics and stack trace
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
Labels: type/feature

#14887 feat(meta): inject and collect barrier in bidi stream
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
  src/storage/src/memory.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/src/slt.rs
Labels: type/feature

#15632 refactor: introduce Get and WithPropertiesExt
  src/connector/src/lib.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/private_link.rs
  src/connector/src/with_options.rs
  src/frontend/src/catalog/connection_catalog.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/utils/with_options.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/refactor

#15600 chore(ci): split meta backup tests from e2e tests
  ci/scripts/cron-e2e-test.sh
  ci/scripts/pr.env.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-meta-backup-test.sh
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-main-cron, ci/run-docslt, ci/run-build, ci/run-build-other, ci/run-e2e-test, ci/main-cron/skip-ci, ci/run-e2e-meta-backup-test

#15565 feat(storage): iter with key and value ref
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/jni_core/src/hummock_iterator.rs
  src/jni_core/src/lib.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/lib.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#15641 chore(ci): revert always run `single-node` tests per PR
  ci/workflows/pull-request.yml
Labels: type/chore

#15645 chore: update docker image to 1.7.1
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#15642 feat(expr): implement dummy `pg_stat_get_numscans` function
  src/frontend/src/binder/expr/function.rs
Labels: type/feature

#15638 fix(batch): make batch range scan sequentially to avoid OOM
  src/batch/src/executor/row_seq_scan.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15652 revert: "feat(meta): inject and collect barrier in bidi stream (#14887)"
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
  src/storage/src/memory.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/src/slt.rs
Labels: type/revert

#15546 feat(sink): support `encode protobuf` with confluent schema registry
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/sink/kafka/register_schema.py
  src/connector/src/lib.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/test_data/test-index-array.proto
Labels: type/feature, user-facing-changes

#15655 refactor(risedev): deprecate steps for building dashboard
  Makefile.toml
  ci/scripts/standalone-utils.sh
  dashboard/README.md
  src/cmd_all/scripts/standalone-demo-full.sh
  src/risedevtool/common.toml
  src/risedevtool/config/src/main.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/refactor

#15548 feat(telemetry): mark a test message
  proto/telemetry.proto
  src/common/src/telemetry/mod.rs
  src/common/src/telemetry/pb_compatible.rs
  src/compute/src/telemetry.rs
  src/frontend/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/src/telemetry.rs
Labels: type/feature

#15653 feat: re-merge #14887 (inject and collect barrier in bidi stream)
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
  src/storage/src/memory.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/src/slt.rs
Labels: type/feature

#15665 feat(fix): Avoid exit 1 in risectl if ignore not found (CLOUD-2493)
  src/ctl/src/cmd_impl/meta/reschedule.rs
Labels: type/feature

#15382 feat(storage): replace risingwave lru cache with foyer lru cache for lsm cache
  Cargo.lock
  Cargo.toml
  src/batch/Cargo.toml
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/insert.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/Cargo.toml
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/Cargo.toml
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/Cargo.toml
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/Cargo.toml
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#15629 fix: correctly handle on conflict for inserting user privilege
  src/meta/src/controller/user.rs
Labels: type/fix

#15656 feat(dashboard): embedded assets into binary for release builds
  .github/workflows/dashboard_main.yml
  .github/workflows/dashboard_pr.yml
  Cargo.lock
  Cargo.toml
  dashboard/next.config.js
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/fragment_graph.tsx
  docker/Dockerfile
  docker/Dockerfile.hdfs
  src/meta/Cargo.toml
  src/meta/dashboard/Cargo.toml
  src/meta/dashboard/build.rs
  src/meta/dashboard/examples/serve.rs
  src/meta/dashboard/src/embed.rs
  src/meta/dashboard/src/lib.rs
  src/meta/dashboard/src/proxy.rs
  src/meta/src/dashboard/mod.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#15654 fix(sink): fix redis sink parse error
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/redis.rs
  src/risedevtool/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/fix

#15592 refactor(object store): only the object store used by meta needs to set `atomic_write_dir`
  src/common/src/config.rs
  src/config/example.toml
  src/meta/src/hummock/manager/mod.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
Labels: type/refactor

#15683 fix(batch): avoid setting max_parallelism for batch scan that is no singleton
  src/common/src/vnode_mapping/vnode_placement.rs
  src/frontend/src/scheduler/worker_node_manager.rs
  src/meta/src/serving/mod.rs
Labels: type/fix

#15372 feat(udf): introduce `#[derive(StructType)]` for struct types in Rust UDF
  Cargo.lock
  Cargo.toml
  ci/scripts/run-e2e-test.sh
  e2e_test/udf/rust_udf.slt
  e2e_test/udf/wasm/Cargo.toml
  e2e_test/udf/wasm/src/lib.rs
  e2e_test/udf/wasm_udf.slt
  src/frontend/src/handler/create_function.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, block-release-v1.8

#15689 fix: fix pulsar e2e network failure
  ci/scripts/e2e-pulsar-sink-test.sh
  e2e_test/sink/pulsar_sink.slt
Labels: type/fix, ci/run-e2e-pulsar-sink-tests

#15611 feat: flatten single-node args
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/single_node.rs
  src/cmd_all/src/standalone.rs
  src/compute/src/lib.rs
  src/frontend/src/lib.rs
  src/meta/node/src/lib.rs
  src/storage/compactor/src/lib.rs
Labels: type/feature, breaking-change, ci/run-e2e-single-node-tests

#15710 refactor(memory): make args of memory controller configurable
  src/common/src/config.rs
  src/compute/src/memory/controller.rs
  src/compute/src/memory/manager.rs
  src/compute/src/server.rs
  src/config/example.toml
Labels: type/refactor

#15635 fix: deny create MV on shared CDC source
  e2e_test/source/cdc/cdc.share_stream.slt
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/with_options.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/planner/relation.rs
Labels: type/fix

#15708 feat(storage): add more metrics for hummock event handler
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature

#15508 refactor(error): reorganize utilites to `error` crate and re-export to `common`
  src/common/src/error.rs
  src/common/src/lib.rs
  src/common/src/util/match_util.rs
  src/common/src/util/mod.rs
  src/compute/src/rpc/service/config_service.rs
  src/connector/src/error.rs
  src/error/src/anyhow.rs
  src/error/src/common.rs
  src/error/src/lib.rs
  src/error/src/macros.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/refactor

#15687 feat: use embedded dashboard in docker release
  ci/scripts/release.sh
  docker/Dockerfile
  src/cmd_all/src/standalone.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/src/lib.rs
  src/meta/src/dashboard/mod.rs
Labels: type/feature

#15715 test(sink): add cockraoch-sink compatible test
  integration_tests/cockroach-sink/cockroach_prepare.sql
  integration_tests/cockroach-sink/create_sink.sql
  integration_tests/cockroach-sink/create_source.sql
  integration_tests/cockroach-sink/sink_check.py
Labels: component/test

#15647 refactor: move metrics, resource_util out of common
  .gitignore
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/metrics/src/error_metrics.rs
  src/common/metrics/src/guarded_metrics.rs
  src/common/metrics/src/lib.rs
  src/common/metrics/src/monitor/connection.rs
  src/common/metrics/src/monitor/mod.rs
  src/common/metrics/src/monitor/my_stats.rs
  src/common/metrics/src/monitor/process.rs
  src/common/metrics/src/monitor/rwlock.rs
  src/common/metrics/src/relabeled_metric.rs
  src/common/src/config.rs
  src/common/src/lib.rs
  src/common/src/util/mod.rs
  src/utils/iter_util/Cargo.toml
  src/utils/iter_util/src/lib.rs
  src/utils/resource_util/Cargo.toml
  src/utils/resource_util/src/lib.rs
Labels: type/refactor

#15419 feat(config): support configure storage LRU-cache shard by default
  src/common/src/cache.rs
  src/common/src/config.rs
  src/compute/src/memory/config.rs
  src/config/docs.md
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#15694 feat(storage): instrument shared buffer compaction
  dashboard/pages/await_tree.tsx
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
  src/ctl/src/common/hummock_service.rs
  src/storage/compactor/src/rpc.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature

#15608 feat: instrument inflight barrier in local barrier worker loop
  dashboard/pages/await_tree.tsx
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/ctl/src/cmd_impl/await_tree.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/diagnose.rs
  src/storage/compactor/src/rpc.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#15613 refactor(storage): remove reading range tombstone in read path and compaction
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/iterator/concat_delete_range_iterator.rs
  src/storage/src/hummock/iterator/delete_range_iterator.rs
  src/storage/src/hummock/iterator/forward_concat.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/refactor, breaking-change

#15663 feat(telemetry): report connector name and table_id along with meta
  proto/telemetry.proto
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/telemetry.rs
Labels: type/feature

#15684 fix(cdc-backfill): limit the number of rows for each table snapshot
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.7-standalone

#15696 feat: skip invisible row for chunk::get_hash_values
  src/common/src/array/data_chunk.rs
  src/common/src/array/mod.rs
  src/common/src/hash/key_v2.rs
Labels: type/feature

#15729 chore(ci): notify single node mode test failure
  ci/scripts/notify.py
Labels: type/chore

#15734 chore: add 1.8 cherry pick label
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#15692 feat(backfill): add cluster config to enable `arrangement_backfill`
  ci/scripts/sql/backfill/replication_with_column_pruning/create_base_table.sql
  e2e_test/backfill/runtime/create_arrangement_backfill_mv.slt
  e2e_test/backfill/runtime/create_no_shuffle_mv.slt
  e2e_test/batch/catalog/pg_settings.slt.part
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/config/example.toml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/basic_query.yaml
  src/frontend/planner_test/tests/testdata/output/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/column_pruning.yaml
  src/frontend/planner_test/tests/testdata/output/common_table_expressions.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/delta_join.yaml
  src/frontend/planner_test/tests/testdata/output/distinct_on.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/grouping_sets.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/join_ordering.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/output/mv_on_mv.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/order_by.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/project_set.yaml
  src/frontend/planner_test/tests/testdata/output/select_except.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/shared_views.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/time_window.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/session.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/disable_arrangement_backfill.toml
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/tests/simulation/tests/integration_tests/scale/auto_parallelism.rs
Labels: type/feature

#15735 fix(batch): always use pure epoch in query
  src/frontend/src/session/transaction.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_query_backup.sh
  src/storage/hummock_sdk/src/lib.rs
Labels: type/fix

#15732 chore(risedev): remove `--all-targets` from `risedev c`
  Makefile.toml
Labels: type/chore

#15644 feat: avoid decode barrier when passing between different compute nodes
  src/compute/src/rpc/service/exchange_service.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
Labels: type/feature, need-cherry-pick-release-1.8

#15716 doc(backfill): add docs for arrangement backfill and no shuffle backfill
  docs/README.md
  docs/backfill.md
  docs/images/backfill/backfill-sides.png
  docs/images/backfill/handle-poll.png
  docs/images/backfill/polling.png
  docs/images/backfill/replication-example.png
  docs/images/backfill/replication-replicated.png
  docs/images/backfill/replication-simple.png
  docs/images/backfill/schema.png
Labels: component/doc

#15742 chore: wait longer to make sure single-node is ready
  ci/scripts/run-e2e-test.sh
Labels: type/chore, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.8

#15541 feat: refresh the schema of sources with schema registry
  e2e_test/schema_registry/alter_sr.slt
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing-changes

#15738 fix(storage): fix race between deregister read version and clear shared buffer
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
Labels: type/fix

#15709 feat(storage): define iter_log method and in-mem trivial implementation
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
Labels: type/feature

#15682 feat(storage): support w-tinylfu as block cache eviction algorithm
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/config.rs
  src/compute/Cargo.toml
  src/compute/src/memory/config.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature, block-release-v1.8

#15745 chore: update maven version in download script
  src/risedevtool/connector.toml
Labels: type/chore

#15747 test(sink): add nats-sink compatible test
  ci/scripts/gen-integration-test-yaml.py
  integration_tests/nats/create_mv.sql
  integration_tests/nats/create_sink.sql
  integration_tests/nats/create_source.sql
  integration_tests/nats/docker-compose.yml
  integration_tests/nats/sink_check.py
Labels: component/test

#15697 fix(backfill): fix arrangement backfill's target size for i2o_mapping of replicated rows
  src/common/src/util/column_index_mapping.rs
  src/stream/src/common/table/state_table.rs
Labels: type/fix

#15753 chore(ci): migrate ci to new aws account
  .github/aws-config/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/common.sh
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/release.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#15744 chore: bump opendal to v0.45.1
  Cargo.lock
  src/object_store/Cargo.toml
Labels: type/chore

#15756 chore(ci): migrate ci to new aws account (#15753)
  .github/aws-config/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/common.sh
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/release.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#15740 fix(batch): notify frontend on execution panic
  src/batch/src/task/task_execution.rs
Labels: type/fix

#15748 fix(meta): add worker to cluster after able to resolve worker dns
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/util/addr.rs
  src/meta/service/src/cluster_service.rs
Labels: type/fix

#15759 fix(ci): remove doris sink ci (#15332)
  ci/docker-compose.yml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/fix

#15764 chore: update risingwave version
  Cargo.lock
  Cargo.toml
Labels: type/chore

#15659 fix(meta): trivial move bug
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compact.rs
Labels: need-cherry-pick-release-1.8

#15765 chore: update docker compose image version to v1.7.2
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#15758 feat(expr): add short circuit checker in `is_const`
  src/frontend/planner_test/tests/testdata/input/short_circuit.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/short_circuit.yaml
  src/frontend/src/expr/mod.rs
Labels: type/feature, need-cherry-pick-release-1.7, need-cherry-pick-release-1.7-standalone, need-cherry-pick-release-1.8

#15275 feat(optimizer): support logical filter expression simplify rule
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_expr_visitor/mod.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/optimizer/plan_node/expr_rewritable.rs
  src/frontend/src/optimizer/rule/logical_filter_expression_simplify_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature

#15714 refactor(stream): use `params.eval_error_report` instead of creating a new one
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/watermark_filter.rs
Labels: type/refactor

#15773 chore: increase the default scrape_interval for docker-compose
  docker/prometheus.yaml
  integration_tests/prometheus/prometheus.yaml
Labels: type/chore

#15717 fix(sql-backend): fix several issues when using mysql as sql backend in meta
  e2e_test/streaming/bug_fixes/issue_15302.slt
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/src/controller/id.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/fix, need-cherry-pick-release-1.8
