Repository risingwavelabs/risingwave, pull requests merged in 2024-04, with the labels that each got.

#15461 fix(connector): unblock `fetch_watermarks` in rdkafka
  Cargo.lock
  Cargo.toml
Labels: type/fix

#15465 fix(connector): unblock `fetch_watermarks` in rdkafka
  Cargo.lock
  Cargo.toml
Labels: type/fix

#15867 feat(parser): Make `LIKE/ILIKE` as a kind of Expr in ast, and parse ESCAPE
  Cargo.lock
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/mod.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/Cargo.toml
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/operator.rs
  src/sqlparser/src/bin/sqlparser.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/lambda.yaml
  src/sqlparser/tests/testdata/select.yaml
  src/tests/regress/data/sql/strings.sql
  src/tests/sqlsmith/src/sql_gen/functions.rs
Labels: type/feature

#16019 feat: add docker compose config to enable sqlite sql backend
  docker/docker-compose-with-sqlite.yml
Labels: type/feature, user-facing-changes, need-cherry-pick-release-1.8

#16033 feat(meta): add Custom to StreamingParallelism
  risedev.yml
  src/meta/model_v2/src/lib.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/scale.rs
Labels: type/feature, need-cherry-pick-release-1.8

#16026 feat(frontend): allow type conversion to bigint in limit and offset
  e2e_test/batch/order/test_limit.slt.part
  src/sqlparser/src/parser.rs
Labels: type/feature, need-cherry-pick-release-1.8

#16047 fix(test): refine iceberg e2e test
  e2e_test/iceberg/start_spark_connect_server.sh
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/iceberg/test_case/no_partition_append_only.toml
  e2e_test/iceberg/test_case/no_partition_upsert.toml
  e2e_test/iceberg/test_case/partition_append_only.toml
  e2e_test/iceberg/test_case/partition_upsert.toml
  e2e_test/iceberg/test_case/range_partition_append_only.toml
  e2e_test/iceberg/test_case/range_partition_upsert.toml
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#16000 feat: add sql migration script and related ci tests
  Cargo.lock
  ci/scripts/e2e-sql-migration.sh
  ci/workflows/pull-request.yml
  e2e_test/sql_migration/check.slt
  e2e_test/sql_migration/prepare.slt
  risedev.yml
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/meta.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/ctl/src/lib.rs
  src/meta/model_v2/src/hummock_sequence.rs
  src/meta/model_v2/src/worker.rs
  src/meta/src/controller/utils.rs
  src/meta/src/hummock/manager/sequence.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.8, ci/run-e2e-sql-migration-tests

#16053 fix(on conflict): ignore conflict should not check old value and delete value are consistent
  src/stream/src/executor/mview/materialize.rs
Labels: type/fix

#16048 feat(meta): add Custom to StreamingParallelism (#16033)
  risedev.yml
  src/meta/model_v2/src/lib.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/scale.rs
Labels: type/feature, cherry-pick

#16051 fix(frontend): deduplicate error logs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/runtime/src/logger.rs
Labels: type/fix

#16066 fix: allow cherry pick as PR title
  .github/labeler.yml
  .github/pr-title-checker-config.json
Labels: type/fix, need-cherry-pick-release-1.8

#16067 fix(object_store): apply identity_resolution_timeout_s
  src/object_store/src/object/s3.rs
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.8

#16040 fix(meta): fix trivial loop bug
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix

#16073 fix(source): fix kafka `scan.startup.timestamp.millis` timestamp offset bug
  src/connector/src/source/kafka/enumerator/client.rs
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.6, need-cherry-pick-release-1.8

#16057 feat(expr): support a single ascii char as escape in LIKE
  Cargo.lock
  src/expr/core/Cargo.toml
  src/expr/core/src/lib.rs
  src/expr/core/src/scalar/like.rs
  src/frontend/src/binder/expr/mod.rs
  src/tests/regress/data/sql/strings.sql
Labels: type/feature

#16078 fix: pass correct param
  src/stream/src/task/stream_manager.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16081 chore(common): move `compact_chunk` from `common` to `stream`
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/array/mod.rs
  src/stream/Cargo.toml
  src/stream/src/common/compact_chunk.rs
  src/stream/src/common/mod.rs
  src/stream/src/executor/sink.rs
Labels: type/chore

#16080 fix: correctly implement default subcommand for `single-node`
  src/cmd_all/src/bin/risingwave.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.8

#15941 fix(meta): do not panic on specified parallelism greater than vnode count
  src/meta/src/controller/streaming_job.rs
  src/meta/src/lib.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/ddl_controller_v2.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/fix

#15968 feat(batch): initial cursor implementation
  e2e_test/batch/transaction/cursor.slt
  e2e_test/batch/transaction/cursor_multi_conn.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/close_cursor.rs
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/fetch_cursor.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/transaction.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/tests/simulation/src/slt.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, block-release-v1.8, need-cherry-pick-release-1.8

#16089 fix: image tag when using api trigger the pipeline
  ci/scripts/multi-arch-docker.sh
Labels: need-cherry-pick-release-1.8

#15523 feat(storage): batch get_compact_task/apply_compact_task in once transaction
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: type/feature

#16063 cherrypick feat(object store): support azblob workload identity (#15940) to branch release-1.8
  Cargo.lock
  Cargo.toml
  risedev.yml
  src/object_store/src/object/opendal_engine/azblob.rs
Labels: Invalid PR Title, cherry-pick

#16082 feat(stream): use `LogSuppresser` for consistency error log
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/lib.rs
Labels: type/feature

#16104 fix: allow cherry pick as PR title
  .github/pr-title-checker-config.json
Labels: type/fix, need-cherry-pick-release-1.7, need-cherry-pick-release-1.8

#16069 fix(meta): fix pick one sub-level cause dead-loop
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/tests.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16085 feat(metric): monitor frontend batch query memory usage
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/batch/src/monitor/stats.rs
  src/batch/src/task/context.rs
  src/common/src/memory/mem_context.rs
  src/frontend/src/monitor/stats.rs
  src/frontend/src/scheduler/task_context.rs
  src/frontend/src/session.rs
Labels: type/feature

#16108 chore: update version to 1.7.4
  Cargo.lock
  Cargo.toml
Labels: type/chore

#16018 fix(doris-sink): fix json type and use the FE host instead when the BE host is set to localhost
  ci/docker-compose.yml
  ci/scripts/e2e-doris-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/doris_sink.slt
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/starrocks.rs
Labels: type/fix, ci/run-e2e-starrocks-sink-tests, ci/run-e2e-doris-sink-tests

#16115 fix(frontend): `explain` should output actual storage `pk` rather than `stream_key`
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/basic_query.yaml
  src/frontend/planner_test/tests/testdata/output/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/column_pruning.yaml
  src/frontend/planner_test/tests/testdata/output/common_table_expressions.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/delta_join.yaml
  src/frontend/planner_test/tests/testdata/output/distinct_on.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/except.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/grouping_sets.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/intersect.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/join_ordering.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/output/mv_on_mv.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/order_by.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/pk_derive.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/project_set.yaml
  src/frontend/planner_test/tests/testdata/output/select_except.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/shared_views.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/time_window.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
Labels: type/fix

#16096 fix(udf): make field name case-insensitive in Rust UDF
  e2e_test/udf/rust_udf.slt
  src/frontend/src/handler/create_function.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16084 feat(object store): config http client for OpenDAL s3 backend
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
Labels: type/feature

#16118 chore: update version to 1.8.0
  Cargo.lock
  Cargo.toml
Labels: type/chore

#16109 chore: Update README.md
  README.md
Labels: type/chore

#16128 feat(risedev): support starting cluster with sqlite meta backend (#15693)
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/feature, ci/run-main-cron, ci/run-backwards-compat-tests, ci/run-build, ci/main-cron/skip-ci

#16116 chore(dependabot): try to ignore some directories
  .github/dependabot.yml
Labels: type/chore

#16129 chore: bump http, hyper, tower-http, reqwest, and axum for meta dashboard
  Cargo.lock
  Cargo.toml
  src/meta/Cargo.toml
  src/meta/dashboard/Cargo.toml
  src/meta/dashboard/examples/serve.rs
  src/meta/dashboard/src/proxy.rs
  src/meta/src/dashboard/mod.rs
  src/workspace-hack/Cargo.toml
Labels: type/chore

#16023 feat(binder): correctly bind rcte in `bind_with` & `bind_relation_by_name`
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/recursive_union.rs
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/planner/set_expr.rs
Labels: type/feature

#16138 chore(readme): Update README.md
  README.md
Labels: type/chore

#16131 refactor(meta): use `axum-embed` to embed dashboard assets
  Cargo.lock
  src/meta/dashboard/Cargo.toml
  src/meta/dashboard/src/embed.rs
Labels: type/refactor

#16035 refactor: bump `await-tree` to 0.2
  Cargo.lock
  Cargo.toml
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/rpc/service/stream_service.rs
  src/compute/src/server.rs
  src/storage/compactor/src/rpc.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#16143 chore: bump reqwest and hyper as much as possible
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/metrics_manager.rs
  src/common/metrics/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/chore

#16142 build: disable hakari
  .github/dependabot.yml
  .github/workflows/hakari_fix.yml
  Cargo.lock
  Makefile.toml
  ci/scripts/build.sh
  src/jni_core/Cargo.toml
  src/meta/src/barrier/rpc.rs
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/workspace-hack/Cargo.toml
Labels: type/build

#16153 chore: update image version to 1.8.0
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#16151 chore(ci): bump deterministic recovery test timeout
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-main-cron, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci

#16160 chore(sqlsmith): skip timeout queries
  src/tests/sqlsmith/src/test_runners/diff.rs
  src/tests/sqlsmith/src/test_runners/utils.rs
Labels: ci/run-sqlsmith-fuzzing-tests

#16172 perf: avoid sstable info copy in event handler (cherry-pick #15811)
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/store/version.rs
Labels: type/perf

#16173 perf(storage): simplify table watermark index (cherry-pick #15931)
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/version.rs
Labels: type/perf

#16177 test(sink): add tidb-sink compatible test
  integration_tests/tidb-cdc-sink/create_sink.sql
  integration_tests/tidb-cdc-sink/create_source.sql
  integration_tests/tidb-cdc-sink/docker-compose.yml
  integration_tests/tidb-cdc-sink/sink_check.py
  integration_tests/tidb-cdc-sink/tidb_create_tables.sql
Labels: component/test

#16170 fix(storage): disable stalled stream protection for aws-sdk-s3
  src/object_store/src/object/s3.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16133 fix(meta): fix column binding for fragment ids
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/user.rs
  src/meta/src/manager/metadata.rs
Labels: type/fix

#15673 feat(mqtt): Allow using field as topic name
  ci/docker-compose.yml
  ci/scripts/e2e-mqtt-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/mqtt_sink.slt
  src/connector/src/connector_common/mqtt_common.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/source/mqtt/enumerator/mod.rs
  src/connector/src/source/mqtt/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_sink.rs
Labels: ci/run-e2e-mqtt-sink-tests

#16163 fix(sql-backend): fix missing update for internal table fragment id when alter cdc table column
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16186 feat(sink): include more info in coordinator err response
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
Labels: type/feature

#15634 feat: decouple iceberg commit from risingwave commit
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/main.py
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.toml
  src/connector/src/lib.rs
  src/connector/src/sink/iceberg/log_sink.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#16187 chore(ci): add labeller for single node tests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: type/chore

#16161 ci: install risedev to ci image
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/backwards-compat-test.sh
  ci/scripts/build-simulation.sh
  ci/scripts/common.sh
  ci/scripts/deterministic-unit-test.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  ci/scripts/e2e-clickhouse-sink-test.sh
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  ci/scripts/e2e-doris-sink-test.sh
  ci/scripts/e2e-iceberg-cdc.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  ci/scripts/e2e-pulsar-sink-test.sh
  ci/scripts/e2e-redis-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-sql-migration.sh
  ci/scripts/e2e-starrocks-sink-test.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/gen-flamegraph.sh
  ci/scripts/java-binding-test.sh
  ci/scripts/pulsar-source-test.sh
  ci/scripts/regress-test.sh
  ci/scripts/run-backfill-tests.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-fuzz-test.sh
  ci/scripts/run-meta-backup-test.sh
  ci/scripts/s3-source-test-for-opendal-fs-engine.sh
  ci/scripts/s3-source-test.sh
  ci/scripts/single-node-utils.sh
  ci/scripts/sqlsmith-differential-test.sh
  ci/scripts/standalone-utils.sh
  risedev
Labels: component/ci

#16123 doc: add shared buffer doc
  docs/shared-buffer.md
Labels: component/doc

#16192 fix(storage): add seal epoch when no data
  src/storage/src/hummock/event_handler/uploader.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16182 feat(sink): support delta sink with gcs
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/deltalake.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, user-facing-changes

#16199 fix(object_store): apply config in meta node
  src/meta/node/src/lib.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/env.rs
  src/object_store/src/object/mod.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/fix, need-cherry-pick-release-1.7, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.8

#16196 chore(storage): remove Sync requirement on HummockIterator
  src/object_store/src/object/mod.rs
  src/storage/src/hummock/iterator/mod.rs
Labels: type/chore

#16202 fix(avro): parse decimals with shorter bytes correctly
  Cargo.lock
  e2e_test/source/basic/nosim_kafka.slt
  scripts/source/schema_registry_producer.py
  scripts/source/test_data/debezium_compact_avro_json.1
  scripts/source/test_data/debezium_non_compact_avro_json.1
  scripts/source/test_data/upsert_avro_json.1
  scripts/source/test_data/upsert_student_avro_json.1
  scripts/source/test_data/upsert_student_key_not_subset_of_value_avro_json.1
  src/connector/Cargo.toml
Labels: type/fix, need-cherry-pick-release-1.8

#16183 feat(udf): show panic message in Rust UDF
  Cargo.lock
  Cargo.toml
  e2e_test/udf/rust_udf.slt
  src/frontend/src/handler/create_function.rs
Labels: type/feature

#16208 feat(storage): support s3fifo for block cache
  Cargo.lock
  src/common/src/config.rs
  src/compute/src/memory/config.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/feature

#16206 test(source): add tidb-cdc compatible test
  integration_tests/tidb-cdc-sink/create_source.sql
  integration_tests/tidb-cdc-sink/data_check
  integration_tests/tidb-cdc-sink/tidb_create_tables.sql
  integration_tests/tidb-cdc-sink/tidb_prepare.sql
Labels: component/test

#16210 refactor(source): remove `into_fs` and `as_fs` methods from `SplitImpl`
  src/connector/src/source/base.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/refactor

#16175 feat(batch,meta): support iceberg snapshots sys table
  Cargo.lock
  e2e_test/sink/iceberg_sink.slt
  src/connector/src/source/iceberg/mod.rs
  src/frontend/Cargo.toml
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_snapshots.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-sink-tests

#16184 refactor: unify kv and sql based fields as enum in meta env
  src/meta/node/src/server.rs
  src/meta/service/src/system_params_service.rs
  src/meta/service/src/telemetry_service.rs
  src/meta/service/src/user_service.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/system_param.rs
  src/meta/src/controller/user.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/sequence.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/notification.rs
  src/meta/src/manager/notification_version.rs
  src/meta/src/model/catalog.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#16215 feat(frontend): meta notifies frontend after recovery
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/meta/src/barrier/recovery.rs
  src/rpc_client/src/lib.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16145 refactor(metrics): replace hyper server implementation with axum
  Cargo.lock
  Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/metrics_manager.rs
  src/meta/Cargo.toml
  src/meta/dashboard/Cargo.toml
  src/meta/dashboard/src/proxy.rs
Labels: type/refactor

#16156 feat(frontend): update `SinkCatalog` to support background ddl
  proto/catalog.proto
  src/common/src/catalog/mod.rs
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/src/controller/mod.rs
Labels: type/feature

#16212 refactor(config): remove no more used config
  src/common/src/config.rs
  src/compute/src/memory/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/refactor

#16034 feat(sink): support redis cluster url
  Cargo.lock
  ci/redis-conf/redis-7000.conf
  ci/redis-conf/redis-7001.conf
  ci/redis-conf/redis-7002.conf
  ci/scripts/e2e-redis-sink-test.sh
  e2e_test/sink/redis_cluster_sink.slt
  src/connector/Cargo.toml
  src/connector/src/sink/redis.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-redis-sink-tests

#16220 fix(binder): fix binder panic on function arg wildcard
  src/frontend/src/binder/expr/function.rs
Labels: type/fix

#16213 chore(deps): extract some common deps to workspace
  Cargo.toml
  integration_tests/feature-store/simulator/Cargo.toml
  lints/Cargo.toml
  src/batch/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/heap_profiling/Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/proc_macro/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/ctl/Cargo.toml
  src/dml/Cargo.toml
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/expr/macro/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/planner_test/Cargo.toml
  src/jni_core/Cargo.toml
  src/meta/Cargo.toml
  src/meta/node/Cargo.toml
  src/meta/service/Cargo.toml
  src/object_store/Cargo.toml
  src/risedevtool/Cargo.toml
  src/risedevtool/config/Cargo.toml
  src/rpc_client/Cargo.toml
  src/sqlparser/Cargo.toml
  src/storage/Cargo.toml
  src/storage/backup/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/storage/hummock_trace/Cargo.toml
  src/stream/Cargo.toml
  src/tests/compaction_test/Cargo.toml
  src/tests/e2e_extended_mode/Cargo.toml
  src/tests/libpq_test/Cargo.toml
  src/tests/regress/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tests/state_cleaning_test/Cargo.toml
  src/utils/iter_util/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/runtime/Cargo.toml
Labels: type/chore

#16221 fix(sink): fix array<bool> error
  src/connector/src/sink/starrocks.rs
Labels: type/fix

#16054 fix(storage): fix lock time metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/manager/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16124 fix: reduce compactor task logs
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_sdk/src/compact.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16222 fix: fix s3fifo panics by bump foyer-memory
  Cargo.lock
Labels: type/fix

#16027 refactor(storage): extract logic of key bounded iterator
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/storage_failpoints/test_iterator.rs
Labels: type/refactor

#16211 fix(test): remove auto setting implicit flush from recovery test
  ci/workflows/pull-request.yml
  e2e_test/ddl/index.slt
  e2e_test/streaming/basic.slt
  e2e_test/streaming/bug_fixes/mv_on_singleton_mv_4153.slt
  e2e_test/streaming/demo/ecommerce.slt
  e2e_test/streaming/demo/metric_analysis.slt
  e2e_test/streaming/natural_and_cross_join.slt
  e2e_test/streaming/non_strict_mode.slt
  e2e_test/streaming/rate_limit/basic.slt
  e2e_test/streaming/time_window.slt
  e2e_test/streaming/time_window_join.slt
  src/tests/simulation/src/client.rs
  src/tests/simulation/src/slt.rs
Labels: type/fix, ci/run-main-cron, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci

#16229 fix(binder): fix user keyword
  e2e_test/batch/keyword/user.slt
  src/frontend/src/binder/expr/mod.rs
  src/sqlparser/src/ast/mod.rs
Labels: type/fix

#16230 fix(sink): fix decimal jdbc sink
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/mysql_expected_result_2.tsv
  src/jni_core/src/lib.rs
Labels: type/fix, ci/run-e2e-sink-tests

#16091 feat(on conflict): add with version column clause and behavior
  e2e_test/streaming/with_version_column.slt
  proto/catalog.proto
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240410_082733_with_version_column_migration.rs
  src/meta/model_v2/src/table.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
  src/storage/src/filter_key_extractor.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/from_proto/mview.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/sqlsmith/src/lib.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16216 fix: decimal convert in deltalake
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  e2e_test/sink/deltalake_rust_sink.slt
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/arrow_impl.rs
Labels: ci/run- e2e-deltalake-sink-rust-tests

#16227 feat(sink): support redis cluster url (#16034)
  Cargo.lock
  ci/redis-conf/redis-7000.conf
  ci/redis-conf/redis-7001.conf
  ci/redis-conf/redis-7002.conf
  ci/scripts/e2e-redis-sink-test.sh
  e2e_test/sink/redis_cluster_sink.slt
  src/connector/Cargo.toml
  src/connector/src/sink/redis.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#15429 feat(sink): implement snowflake sink
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/mod.rs
  src/connector/src/sink/snowflake.rs
  src/connector/src/sink/snowflake_connector.rs
  src/connector/with_options_sink.yaml
Labels: type/feature

#16204 feat(frontend): prune order key using functional dependencies
  src/frontend/planner_test/tests/testdata/input/functional_dependency.yaml
  src/frontend/planner_test/tests/testdata/input/limit.yaml
  src/frontend/planner_test/tests/testdata/output/functional_dependency.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/topn.yaml
  src/frontend/src/handler/create_index.rs
  src/frontend/src/optimizer/plan_node/derive.rs
  src/frontend/src/optimizer/property/func_dep.rs
  src/frontend/src/planner/query.rs
Labels: type/feature

#16245 fix(test): fix recovery test case
  e2e_test/streaming/nexmark_snapshot.slt
Labels: type/fix, ci/run-main-cron, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/main-cron/skip-ci

#16241 feat(snowflake-sink): add example use case & detailed spec; fix a subtle problem regarding `file_suffix`
  integration_tests/snowflake-sink/README.md
  integration_tests/snowflake-sink/create_mv.sql
  integration_tests/snowflake-sink/create_sink.sql
  integration_tests/snowflake-sink/create_source.sql
  integration_tests/snowflake-sink/snowflake_prep.sql
  src/connector/src/sink/snowflake.rs
Labels: type/feature

#16248 revert: "feat(udf): Add deno as UDF language (#15719)"
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/scripts/build.sh
  ci/scripts/run-e2e-test.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  e2e_test/udf/deno_udf.slt
  e2e_test/udf/mock_server.py
  e2e_test/udf/requirements.txt
  e2e_test/udf/sse/bundled.table.js
  proto/catalog.proto
  proto/expr.proto
  src/cmd_all/Cargo.toml
  src/connector/src/parser/avro/parser.rs
  src/connector/src/with_options_test.rs
  src/expr/core/Cargo.toml
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/meta/dashboard/Cargo.toml
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240410_142249_function_runtime.rs
  src/meta/model_v2/src/function.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/workspace-hack/Cargo.toml
Labels: type/revert

#16247 fix: Revert "refactor(storage): extract logic of key bounded iterator"
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/storage_failpoints/test_iterator.rs
Labels: type/fix

#16251 feat: suppress sink pk compaction warn && not warn for force append only sink
  src/stream/src/common/compact_chunk.rs
  src/stream/src/executor/sink.rs
Labels: type/feature

#15664 fix(sink): fix starrocks doris and clickhouse decimal
  ci/scripts/e2e-clickhouse-sink-test.sh
  ci/scripts/e2e-starrocks-sink-test.sh
  e2e_test/sink/clickhouse_sink.slt
  e2e_test/sink/starrocks_sink.slt
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/starrocks.rs
Labels: type/fix, user-facing-changes, ci/run-e2e-clickhouse-sink-tests, ci/run-e2e-starrocks-sink-tests

#16146 refactor(connector): replace hyper client implementation with reqwest
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/snowflake_connector.rs
Labels: type/refactor, ci/run-e2e-clickhouse-sink-tests, ci/run-e2e-starrocks-sink-tests, ci/run-e2e-doris-sink-tests

#16258 feat(rise-ctl): add fix dirty upstream fragment ids for streaming job
  src/ctl/src/cmd_impl/debug.rs
  src/ctl/src/cmd_impl/debug/fix_table_fragments.rs
  src/ctl/src/lib.rs
Labels: type/feature

#16256 refactor(source): rename `update_with_offset(start_offset)` to `update_offset(last_read_offset)`
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/datagen/split.rs
  src/connector/src/source/filesystem/file_common.rs
  src/connector/src/source/google_pubsub/split.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/kafka/split.rs
  src/connector/src/source/kinesis/split.rs
  src/connector/src/source/mqtt/split.rs
  src/connector/src/source/nats/split.rs
  src/connector/src/source/nexmark/split.rs
  src/connector/src/source/pulsar/split.rs
  src/connector/src/source/test_source.rs
  src/meta/src/stream/source_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#16261 fix(sql-backend): specify the initialized self-increment id to avoid the effect of having set the self-increment step
  src/ctl/src/cmd_impl/meta/migration.rs
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.8, ci/run-e2e-sql-migration-tests

#16270 chore(dependabot): don't update arrow in dependabot
  .github/dependabot.yml
Labels: type/chore

#16090 feat(sql-backend): change json column type to blob to allow proto field rename
  src/ctl/src/cmd_impl/meta/migration.rs
  src/meta/model_v2/migration/README.md
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/migration/src/m20231008_020431_hummock.rs
  src/meta/model_v2/migration/src/m20240304_074901_subscription.rs
  src/meta/model_v2/src/actor_dispatcher.rs
  src/meta/model_v2/src/compaction_config.rs
  src/meta/model_v2/src/compaction_status.rs
  src/meta/model_v2/src/compaction_task.rs
  src/meta/model_v2/src/connection.rs
  src/meta/model_v2/src/fragment.rs
  src/meta/model_v2/src/function.rs
  src/meta/model_v2/src/hummock_version_delta.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/sink.rs
  src/meta/model_v2/src/source.rs
  src/meta/model_v2/src/table.rs
  src/meta/model_v2/src/user.rs
  src/meta/model_v2/src/view.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/meta/src/rpc/ddl_controller_v2.rs
  src/meta/src/stream/source_manager.rs
Labels: type/feature, breaking-change, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.8, ci/run-e2e-sql-migration-tests

#16271 fix(test): fix e2e iceberg test
  ci/scripts/e2e-iceberg-sink-test.sh
  e2e_test/sink/iceberg_sink.slt
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#16254 feat(error): provide service name on the client side of gRPC
  Cargo.lock
  src/batch/src/error.rs
  src/batch/src/execution/grpc_exchange.rs
  src/common/common_service/src/observer_manager.rs
  src/error/src/tonic.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/error.rs
  src/rpc_client/Cargo.toml
  src/rpc_client/src/compactor_client.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/connector_client.rs
  src/rpc_client/src/error.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/sink_coordinate_client.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/executor/exchange/input.rs
Labels: type/feature

#16265 feat(source): `encode json` option `timestamptz.handling.mode`
  e2e_test/source/basic/handling_mode.slt
  scripts/source/test_data/json_timestamptz_handling_mode.1
  src/connector/benches/parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/schema/mod.rs
  src/connector/src/source/datagen/source/generator.rs
  src/frontend/src/handler/create_source.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/feature, need-cherry-pick-release-1.8

#16119 fix(direct cdc): use `time.precision.mode=connect`
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
Labels: type/fix, component/connector, ci/run-java-connector-node-integration-tests, ci/run-connector-node-integration-tests

#16274 style: apply shellcheck autofix to sh scripts
  ci/scripts/backwards-compat-test.sh
  ci/scripts/build.sh
  ci/scripts/common.sh
  ci/scripts/connector-node-integration-test.sh
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-it-test.sh
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/e2e-pulsar-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/gen-flamegraph.sh
  ci/scripts/integration-tests.sh
  ci/scripts/java-binding-test.sh
  ci/scripts/multi-arch-docker.sh
  ci/scripts/regress-test.sh
  ci/scripts/release.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-micro-benchmarks.sh
  ci/scripts/run-unit-test.sh
  ci/scripts/s3-source-test-for-opendal-fs-engine.sh
  ci/scripts/s3-source-test.sh
Labels: type/style

#16282 fix(binder): RCTE context shall not leak to main query
  src/frontend/planner_test/tests/testdata/input/recursive_cte.yaml
  src/frontend/planner_test/tests/testdata/output/recursive_cte.yaml
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/query.rs
Labels: type/fix

#16058 fix(cdc): commit offset to upstream after checkpoint has commit
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngine.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceRegistry.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/embedded/EmbeddedEngineChangeEventProxy.java
  src/connector/src/lib.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/jni_source.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/reader/reader.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/fix

#16276 chore(deps): Bump h2 from 0.4.3 to 0.4.4
  Cargo.lock
Labels: type/chore

#16300 fix: ignore unregister state table ids of dummy table fragments that are used to replace table
  src/ctl/src/cmd_impl/debug.rs
  src/ctl/src/cmd_impl/debug/fix_table_fragments.rs
  src/ctl/src/lib.rs
  src/meta/src/manager/catalog/fragment.rs
Labels: type/fix

#16299 fix(postgres-cdc): set default ssl.mode to disable
  src/connector/src/source/cdc/external/mod.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16298 fix(cdc): commit offset to upstream after checkpoint has commit (cherry-pick)
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngine.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceRegistry.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/embedded/EmbeddedEngineChangeEventProxy.java
  src/connector/src/lib.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/jni_source.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/reader/reader.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/fix, cherry-pick

#15954 fix(storage): refactor emergency picker
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16302 fix: cherry-pick ignore unregister state table ids for dummy table fragments (#16300)
  src/meta/src/manager/catalog/fragment.rs
Labels: type/fix

#16306 fix(sql-backend): fix setval function call for postgreSQL backend in migration
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16307 fix: image tag when using api trigger the pipeline (#16089)
  ci/scripts/multi-arch-docker.sh
Labels: cherry-pick

#16295 fix(sqlsmith): ban failing functions and aggregations
  ci/scripts/pr-fuzz-test.sh
  ci/scripts/run-deterministic-fuzz-test.sh
  ci/scripts/run-fuzz-test.sh
  ci/workflows/pull-request.yml
  src/tests/sqlsmith/scripts/extract_queries.sh
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/fix, ci/run-sqlsmith-fuzzing-tests

#16289 style: minor improvements for source test and risedev
  Makefile.toml
  ci/scripts/e2e-source-test.sh
  src/cmd_all/scripts/e2e-full-standalone-demo.sh
  src/risedevtool/src/risedev_env.rs
Labels: type/style

#16310 fix(compatibility): backwards compatibility of session params
  src/meta/src/manager/session_params.rs
Labels: type/fix, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests

#16259 feat(frontend, meta): support `RECOVER` command to trigger recovery
  proto/meta.proto
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/recover.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/error.rs
  src/meta/src/manager/notification.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#15948 refactor: move rate limit inside executor
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/fragment.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/flow_control.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
  src/stream/src/from_proto/stream_scan.rs
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
Labels: type/refactor, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#16317 test(sink): add compatibility starrocks sink test
  integration_tests/starrocks-sink/create_sink.sql
  integration_tests/starrocks-sink/create_source.sql
  integration_tests/starrocks-sink/sink_check.py
  integration_tests/starrocks-sink/starrocks_prepare.sql
Labels: component/test

#16260 fix(meta): fix potentially removing sst objects between min pinned and checkpoint version
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/manager/env.rs
  src/storage/backup/src/lib.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16321 fix(release-1.8): Revert "fix(cdc): commit offset to upstream after checkpoint has commit (#16298)"
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngine.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEventConsumer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceRegistry.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/embedded/EmbeddedEngineChangeEventProxy.java
  src/connector/src/lib.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/jni_source.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/reader/reader.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/fix

#16283 fix: make max_heartbeat_interval_secs default to 60s
  src/common/src/config.rs
  src/config/ci-compaction-test-meta.toml
  src/config/ci-compaction-test.toml
  src/config/ci-iceberg-test.toml
  src/config/ci-mem.toml
  src/config/ci-recovery.toml
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/config/full-iceberg-bench.toml
  src/tests/simulation/tests/integration_tests/batch/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, ci/run-recovery-test-deterministic-simulation, ci/run-integration-test-deterministic-simulation, ci/run-e2e-test-deterministic-simulation, ci/run-unit-test-deterministic-simulation

#16319 fix(postgres-cdc): disable certificate verification for `prefer` and `require`
  src/connector/src/source/cdc/external/postgres.rs
Labels: type/fix, need-cherry-pick-release-1.8

#16325 feat(streaming): support alter rate limit for arrangement backfill
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Labels: type/feature, ci/run-backfill-tests

#16334 fix: stale metrics of meta leader election
  src/meta/src/rpc/metrics.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16338 chore: update version to 1.8.1
  Cargo.lock
  Cargo.toml
Labels: type/chore

#16252 fix: use interval parse instead of from_iso_8601
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/unified/json.rs
Labels: type/fix

#16342 fix(sql-backend): reset worker auto increment id offset for worker table
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/fix, ci/run-e2e-sql-migration-tests

#16315 ci: fix s3 source test
  ci/scripts/notify.py
  ci/scripts/s3-source-test.sh
  ci/workflows/main-cron.yml
Labels: component/ci, ci/run-main-cron, ci/run-build, ci/main-cron/skip-ci, ci/run-s3-source-tests

#16339 feat(catalog): support column `indnkeyatts` in `pg_index`
  e2e_test/batch/catalog/pg_attribute.slt.part
  e2e_test/batch/catalog/pg_index.slt.part
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_indexes.rs
Labels: type/feature

#13421 feat(expr): add `jsonb_populate_record(set)` function
  proto/expr.proto
  src/common/src/types/jsonb.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/jsonb_record.rs
  src/expr/impl/src/scalar/mod.rs
  src/expr/macro/src/gen.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#16279 feat(frontend): fearless recursion on deep plans
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/util/mod.rs
  src/common/src/util/recursive.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/stream_fragmenter/mod.rs
Labels: type/feature

#16249 feat(meta): make blocking sink default + support background sink
  e2e_test/backfill/sink/create_sink.slt
  e2e_test/streaming/rate_limit/snapshot_amplification.slt
  e2e_test/streaming/rate_limit/upstream_amplification.slt
  src/connector/src/sink/catalog/desc.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature, user-facing-changes, ci/run-backfill-tests, ci/run-build, ci/run-e2e-single-node-tests

#16290 ci: bump ci image to ubuntu 24.04
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/connector-node-integration-test.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  ci/scripts/e2e-iceberg-cdc.sh
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  ci/scripts/e2e-kafka-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/pulsar-source-test.sh
  ci/scripts/s3-source-test-for-opendal-fs-engine.sh
  ci/scripts/s3-source-test.sh
  e2e_test/iceberg/pyproject.toml
  integration_tests/iceberg-sink2/run.sh
  integration_tests/iceberg-source/run.sh
  scripts/source/prepare_ci_kafka.sh
  scripts/source/prepare_data_after_alter.sh
Labels: component/ci, ci/run-main-cron

#16320 fix(object store): azure storage should check token expire
  Cargo.lock
  Cargo.toml
Labels: type/fix

#16350 chore: use v1.8.1 for sqlite docker compose file by default
  docker/docker-compose-with-sqlite.yml
Labels: type/chore

#15208 feat(storage): allow minio to use aws sdk or opendal
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/s3.rs
Labels: type/feature

#16355 chore(scripts): update install script
  scripts/install/install-risingwave.sh
Labels: type/chore

#16358 feat: support `INET_ATON` and `INET_NTOA`
  clippy.toml
  proto/expr.proto
  src/expr/impl/src/scalar/inet.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#16340 chore: update docker image version to 1.8.1
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#16333 feat(frontend): change `streaming_rate_limit=0` to pause stream instead of disable rate limit
  e2e_test/udf/always_retry_python.slt
  src/common/src/session_config/mod.rs
  src/frontend/src/utils/overwrite_options.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature, user-facing-changes

#16367 fix(meta): only return for background sink once initial barrier collected
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/ddl_controller_v2.rs
  src/tests/simulation/src/slt.rs
Labels: type/fix, ci/run-main-cron, ci/run-docslt, ci/run-build, ci/run-build-simulation, ci/run-recovery-test-deterministic-simulation, ci/run-build-other, ci/main-cron/skip-ci, ci/run-e2e-single-node-tests

#16309 feat(meta): use version object ids view to clean stale objects and deprecate gc_object_ids
  proto/hummock.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version_deltas.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/vacuum.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/feature

#16244 test: add Kafka consumer-group, add-partition tests (inline style)
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
  e2e_test/source/README.md
  e2e_test/source_inline/README.md
  e2e_test/source_inline/commands.toml
  e2e_test/source_inline/kafka/add_partition.slt
  e2e_test/source_inline/kafka/consumer_group.mjs
  e2e_test/source_inline/kafka/consumer_group.slt
  risedev.yml
  scripts/source/prepare_ci_kafka.sh
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/ensure_stop_service.rs
  src/risedevtool/src/task/kafka_service.rs
  src/risedevtool/src/task/task_kafka_ready_check.rs
Labels: component/test

#16373 chore: bump `thiserror-ext` to v0.1
  Cargo.lock
  Cargo.toml
  src/frontend/src/error.rs
  src/meta/src/error.rs
  src/object_store/src/object/error.rs
  src/storage/src/error.rs
  src/storage/src/hummock/error.rs
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
Labels: type/chore, ci/run-e2e-single-node-tests

#16284 refactor(frontend): don't use OptimizerContext in async context
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/utils/overwrite_options.rs
  src/frontend/src/utils/with_options.rs
Labels: type/refactor
