Repository risingwavelabs/risingwave, pull requests merged in 2024-08, with the labels that each got.

#17888 fix(ci): fix single node test
  .github/labeler.yml
  ci/scripts/single-node-utils.sh
Labels: type/fix, ci/run-e2e-single-node-tests

#17892 refactor(estimate_size, topn): merge `TopNCacheState` with `EstimatedBTreeMap`
  src/common/estimate_size/src/collections/btreemap.rs
  src/common/estimate_size/src/lib.rs
  src/stream/src/executor/top_n/mod.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/stream/src/executor/top_n/topn_cache_state.rs
  src/stream/src/executor/top_n/utils.rs
Labels: type/refactor

#17894 fix(sink_bench): Fix cargo build warn
  Cargo.lock
  src/bench/Cargo.toml
  src/bench/sink_bench/main.rs
Labels: type/fix

#17895 refactor(state_cache): simplify `StateCache`s by reusing `EstimatedBTreeMap`
  src/common/estimate_size/src/collections/btreemap.rs
  src/stream/src/common/cache/mod.rs
  src/stream/src/common/cache/top_n_cache.rs
  src/stream/src/common/mod.rs
  src/stream/src/common/state_cache/mod.rs
  src/stream/src/common/state_cache/ordered.rs
  src/stream/src/common/state_cache/top_n.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/state_table_cache.rs
  src/stream/src/executor/aggregation/agg_state_cache.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/sort_buffer.rs
Labels: type/refactor

#17816 fix(dyn-filter): filter left changes according to watermark before writing state table
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/storage/src/store.rs
  src/stream/src/common/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/common/table/watermark.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/sort_buffer.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/stream/src/from_proto/dynamic_filter.rs
Labels: type/fix

#17901 fix(ctl): support the configuration of read timeout for restoring meta backup
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/restore_impl/v1.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/meta/src/backup_restore/utils.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17896 fix: fix panic when creating sink into table under pause
  src/stream/src/executor/mod.rs
Labels: type/fix

#17749 feat(storage): support commit multi epoch for new compaction group
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/model/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test

#17902 feat: cherry pick sink dynamic json type
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/snowflake.rs
Labels: type/feature

#17900 fix(frontend): add exchange for two-phase `approx_percentile` agg
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/fix

#17766 chore: Improve wording of error message
  Makefile.toml
  e2e_test/source/basic/ddl.slt
  e2e_test/source/basic/old_row_format_syntax/ddl.slt
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraUtil.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkDynamicUtil.java
  src/connector/src/connector_common/common.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/elasticsearch.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/pulsar/enumerator/client.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/risedevtool/src/config/id_expander.rs
  src/risedevtool/src/config_gen/grafana_gen.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/executor/watermark_filter.rs
  src/tests/regress/src/schedule.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/chore, ci/run-e2e-single-node-tests

#17707 feat(cdc): parse debezium schema event for mysql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngine.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  proto/connector_service.proto
  proto/ddl_service.proto
  src/common/src/types/jsonb.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/debezium/mod.rs
  src/connector/src/parser/debezium/schema_change.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/source/message.rs
Labels: type/feature

#17179 build: bump toolchain to 2024-06-12
  Cargo.lock
  Cargo.toml
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/rust-toolchain
  ci/scripts/build-other.sh
  clippy.toml
  e2e_test/source_inline/pubsub/prepare-data.rs
  lints/Cargo.lock
  lints/Cargo.toml
  lints/README.md
  lints/rust-toolchain
  lints/src/format_error.rs
  lints/src/lib.rs
  lints/src/utils/format_args_collector.rs
  src/batch/src/executor/log_row_seq_scan.rs
  src/batch/src/lib.rs
  src/cmd_all/src/lib.rs
  src/common/metrics/src/lib.rs
  src/common/secret/src/lib.rs
  src/common/src/lib.rs
  src/compute/src/lib.rs
  src/connector/benches/nexmark_integration.rs
  src/connector/codec/src/lib.rs
  src/connector/src/lib.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/sink/formatter/append_only.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/formatter/upsert.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/pulsar.rs
  src/expr/core/src/lib.rs
  src/expr/impl/src/lib.rs
  src/expr/impl/src/window_function/buffer.rs
  src/frontend/src/lib.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
  src/license/src/lib.rs
  src/meta/service/src/lib.rs
  src/meta/src/lib.rs
  src/object_store/src/lib.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/backup/src/lib.rs
  src/storage/benches/bench_block_iter.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_trace/src/lib.rs
  src/storage/src/lib.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/lib.rs
  src/tests/simulation/src/lib.rs
  src/tests/simulation/src/main.rs
  src/tests/simulation/tests/integration_tests/main.rs
  src/tests/simulation/tests/integration_tests/scale/no_shuffle.rs
  src/tests/sqlsmith/src/lib.rs
  src/utils/pgwire/src/lib.rs
Labels: type/build, ci/run-e2e-single-node-tests, ci/main-cron/run-all

#17908 fix(meta): include secret in meta backup for etcd meta store
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore_impl/v1.rs
  src/meta/src/model/mod.rs
  src/storage/backup/src/meta_snapshot_v1.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17910 fix(sink): license SQL Server sink
  src/connector/src/sink/sqlserver.rs
  src/license/src/feature.rs
Labels: type/fix, ci/run-e2e-sqlserver-sink-tests

#17903 feat(cdc): add license check to auto schema map
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
  src/frontend/src/handler/create_table.rs
  src/license/src/feature.rs
Labels: type/feature

#17897 refactor: add subscription via add mutation
  proto/stream_plan.proto
  src/compute/tests/cdc_tests.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/values.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17899 feat(sink): add Clickhouse Null engine
  integration_tests/clickhouse-sink/clickhouse_prepare.sql
  integration_tests/clickhouse-sink/create_sink.sql
  integration_tests/clickhouse-sink/sink_check.py
  src/connector/src/sink/clickhouse.rs
Labels: ci/run-e2e-clickhouse-sink-tests, need-cherry-pick-release-1.10

#17928 fix(meta): fix meta backup backward compatibility
  src/storage/backup/src/lib.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17909 chore: Update README.md
  README.md
Labels: type/chore

#17911 feat(streaming): support alter mv backfill rate limit
  e2e_test/streaming/rate_limit/alter_rate_limit.slt
  e2e_test/streaming/rate_limit/alter_rate_limit.slt.ignore
  src/frontend/src/handler/alter_streaming_rate_limit.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#17919 feat(sink): support shared tree for clickhouse
  src/connector/src/sink/clickhouse.rs
  src/license/src/feature.rs
Labels: type/feature, need-cherry-pick-release-1.10

#17941 fix(migration): include missing `sea-orm` dependency
  Cargo.lock
  src/meta/model_v2/migration/Cargo.toml
  src/meta/model_v2/migration/README.md
Labels: type/fix

#17948 chore: add col name when type mismatch in sink
  src/frontend/src/handler/create_sink.rs
Labels: type/chore

#17940 feat(iceberg): reuse http client for iceberg
  Cargo.lock
  Cargo.toml
Labels: type/feature

#17939 feat(iceberg): reduce iceberg catalog fetch rpc number for iceberg scan
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/executor/source.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature

#17950 refactor(common): use macro to impl tosql and fromsql for date, time, da…
  src/common/src/types/datetime.rs
Labels: type/chore, type/refactor

#17949 fix(pg-cdc): add validation for slot name of pg cdc source
  src/frontend/src/handler/create_source.rs
Labels: type/chore, type/fix

#17429 feat(cdc): support sql server cdc
  Cargo.lock
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_insert.sql
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/source/SourceTypeE.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzSourceUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/ValidatorUtils.java
  java/connector-node/risingwave-connector-service/src/main/resources/sql_server.properties
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  java/connector-node/risingwave-source-cdc/pom.xml
  java/pom.xml
  proto/catalog.proto
  proto/connector_service.proto
  src/compute/tests/cdc_tests.rs
  src/connector/Cargo.toml
  src/connector/src/error.rs
  src/connector/src/macros.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/sql_server.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/sql_server.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/reader/reader.rs
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/license/src/feature.rs
Labels: type/feature

#17955 fix: clear in progress creation tracker when recovery to avoid recovering failed foreground ddl in some corner cases
  src/meta/src/manager/catalog/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17891 feat: support `CORRESPONDING` specification in set operations
  e2e_test/batch/basic/union.slt.part
  e2e_test/streaming/union.slt
  src/common/src/catalog/schema.rs
  src/frontend/planner_test/tests/testdata/input/union.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/planner/set_expr.rs
  src/frontend/src/planner/set_operation.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/subquery.yaml
  src/sqlparser/tests/testdata/union.yaml
Labels: type/feature, user-facing-changes

#17961 fix: fix incorrect notification info when sink into table fails
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17934 feat(sink): support ck shared tree
  src/connector/src/sink/clickhouse.rs
Labels: type/feature

#17873 feat(stream): add two-phase stateless simple approx percentile
  e2e_test/streaming/aggregate/shuffle_approx_percentile.slt
  e2e_test/streaming/aggregate/two_phase_approx_percentile.slt
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/expr/impl/src/aggregate/approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_global_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_local_approx_percentile.rs
  src/storage/src/mem_table.rs
  src/stream/src/executor/approx_percentile/global.rs
  src/stream/src/executor/approx_percentile/local.rs
  src/stream/src/executor/approx_percentile/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/approx_percentile/global.rs
  src/stream/src/from_proto/approx_percentile/local.rs
  src/stream/src/from_proto/approx_percentile/mod.rs
  src/stream/src/from_proto/mod.rs
Labels: type/feature, user-facing-changes

#17947 refactor(topn): audit and refactor `TopNCache` and fix a potential bug
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
Labels: type/refactor

#17957 fix: early terminate when reach the end of inactive shard
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, need-cherry-pick-release-1.10

#16472 fix(source): persist `rate_limit` to source catalog
  e2e_test/source/basic/alter/rate_limit_source_kafka.slt
  e2e_test/source/basic/alter/rate_limit_table_kafka.slt
  proto/catalog.proto
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/meta/model_v2/migration/README.md
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240806_143329_add_rate_limit_to_source_catalog.rs
  src/meta/model_v2/src/source.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
Labels: type/fix, ci/run-e2e-source-tests, ci/run-e2e-single-node-tests

#17953 cherry-pick feat(sink): add Clickhouse Null engine (#17899)
  integration_tests/clickhouse-sink/clickhouse_prepare.sql
  integration_tests/clickhouse-sink/create_sink.sql
  integration_tests/clickhouse-sink/sink_check.py
  src/connector/src/sink/clickhouse.rs
Labels: cherry-pick

#17969 fix(error): add sink_id in sinkerror
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/fix

#17945 feat(stream): output chunks on every barrier for simple agg
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/simple_agg.rs
Labels: type/feature

#17930 feat(stream): support row merge (a.k.a keyed merge)
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge.slt
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_row_merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/row_merge.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/row_merge.rs
Labels: type/feature

#17975 fix(iceberg): Load the latest table to avoid concurrent modification with the best effort
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#17966 test(mssql-cdc): enrich test cases
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
Labels: component/test

#17951 feat(risedev): introduce sql server to risedev
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/sql_server_service.rs
Labels: type/feature

#17956 refactor(meta): simplify InflightActorInfo and extract InflightGraphInfo
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/state.rs
  src/meta/src/manager/metadata.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17914 fix(storage): suppress some hummock false panic and warn log
  src/meta/src/hummock/manager/commit_epoch.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17971 refactor(storage): use strong type for HummockVersionId
  src/ctl/src/cmd_impl/hummock/list_version_deltas.rs
  src/ctl/src/cmd_impl/hummock/validate_version.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/ctl/src/lib.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version_deltas.rs
  src/frontend/src/meta_client.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/meta/src/hummock/model/version_delta.rs
  src/meta/src/hummock/model/version_stats.rs
  src/rpc_client/src/meta_client.rs
  src/storage/backup/src/lib.rs
  src/storage/backup/src/meta_snapshot_v1.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17978 fix(stream): let `Row Merge` executor handle extra row count column in input
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_normal_agg.slt
  src/stream/src/executor/row_merge.rs
Labels: type/fix

#17943 refactor: use a dummy `Debug` impl for `SystemParams` message
  Cargo.lock
  Cargo.toml
  src/batch/Cargo.toml
  src/connector/Cargo.toml
  src/prost/Cargo.toml
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/refactor

#17936 feat: redact license key when displaying to users
  Cargo.lock
  e2e_test/error_ui/simple/license.slt
  src/common/src/config.rs
  src/common/src/system_param/common.rs
  src/common/src/system_param/diff.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/license/src/key.rs
  src/license/src/lib.rs
  src/license/src/manager.rs
  src/meta/Cargo.toml
  src/meta/src/barrier/mod.rs
  src/meta/src/controller/system_param.rs
  src/meta/src/manager/system_param/mod.rs
  src/risedevtool/src/task/task_pubsub_emu_ready_check.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17906 feat: support initializing license key from env var
  src/cmd_all/src/standalone.rs
  src/meta/node/src/lib.rs
  src/meta/src/controller/system_param.rs
  src/meta/src/manager/system_param/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17998 fix(docs): display of math equations in dev docs
  docs/dev/book.toml
  docs/dev/src/design/consistent-hash.md
Labels: type/fix

#17933 feat(source): use the default_provider for AWS-related connectors
  src/connector/src/connector_common/common.rs
Labels: type/feature

#17690 feat: add map type to scalar/array/expr
  proto/data.proto
  proto/expr.proto
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/list_array.rs
  src/common/src/array/map_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/proto_reader.rs
  src/common/src/array/struct_array.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/test_utils/rand_chunk.rs
  src/common/src/types/macros.rs
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/types/postgres_type.rs
  src/common/src/types/struct_type.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_sql.rs
  src/common/src/util/memcmp_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
  src/expr/core/src/error.rs
  src/expr/core/src/sig/mod.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/udf/wasm.rs
  src/expr/macro/src/gen.rs
  src/expr/macro/src/lib.rs
  src/expr/macro/src/types.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/feature

#18002 fix(stream): let approx percentile output its results every epoch
  ci/scripts/common.sh
  src/stream/src/executor/approx_percentile/global.rs
Labels: type/fix, ci/run-recovery-test-deterministic-simulation, ci/main-cron/run-selected

#17996 chore: test data shall not use non-existent option `kafka.servers`
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/show.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/chore

#18010 fix(ci): wait for the standalone/single-node process to be killed before starting again
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
Labels: type/fix, ci/run-e2e-standalone-tests

#18013 fix(mssql-cdc): remove vendored-openssl of tiberus
  Cargo.lock
  src/connector/Cargo.toml
Labels: type/fix

#17983 fix(sink): handle Kinesis PutRecords partial success and throttle
  src/connector/src/sink/kinesis.rs
Labels: type/fix, user-facing-changes

#17860 feat: support parsing map type: `map(k,v)`
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/types/list.slt.part
  e2e_test/batch/types/map.slt.part
  e2e_test/batch/types/struct.slt.part
  src/expr/impl/src/scalar/cast.rs
  src/frontend/planner_test/tests/testdata/output/insert.yaml
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/utils/mod.rs
  src/sqlparser/src/ast/data_type.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/data_type.rs
Labels: type/feature

#18014 fix: add license key env for integration test
  ci/scripts/gen-integration-test-yaml.py
  docker/docker-compose.yml
Labels: type/fix

#17972 feat: call clear shared buffer with latest version id
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/run-e2e-test.sh
  proto/stream_service.proto
  src/meta/service/src/hummock_service.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/manager/diagnose.rs
  src/rpc_client/src/stream_client.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/src/slt.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18020 fix(iceberg): fix iceberg manifest data corruption
  Cargo.lock
  Cargo.toml
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, need-cherry-pick-release-1.10

#18024 feat(sink): allow upsert protobuf with text key
  e2e_test/sink/kafka/protobuf.slt
  src/connector/src/sink/formatter/mod.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/feature

#18018 fix(connector): fix batch file source when there are no files
  e2e_test/s3/fs_source_batch.py
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/fix

#17536 feat: upgrade tokio version to 1.38.0
  Cargo.lock
  src/utils/runtime/Cargo.toml
Labels: type/feature

#17981 fix(catalog): add mv indexes to pg_indexes
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_indexes.rs
Labels: type/fix

#17989 feat(cdc): rate limit for cdc backfill
  e2e_test/source/cdc_inline/alter/cdc_backfill_rate_limit.slt
  proto/meta.proto
  src/connector/src/source/cdc/source/reader.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/mod.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/fragment.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#18032 fix(mssql-cdc): support case sensitve db, schema, table name
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
Labels: type/fix

#17980 feat(source): support ingesting Avro map type to RisingWave map type
  src/common/src/array/map_array.rs
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/utils.rs
Labels: type/feature

#18023 fix(meta): fix query rename visitor for complex func calls
  src/meta/src/controller/rename.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17986 feat: support `map_access`
  e2e_test/batch/types/map.slt.part
  proto/expr.proto
  src/common/src/array/list_array.rs
  src/common/src/array/map_array.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/array_positions.rs
  src/expr/impl/src/scalar/case.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/coalesce.rs
  src/expr/impl/src/scalar/external/iceberg.rs
  src/expr/impl/src/scalar/field.rs
  src/expr/impl/src/scalar/jsonb_record.rs
  src/expr/macro/src/gen.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/type_inference/mod.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature, component/test

#18029 refactor(parser): introduce `ast::FunctionArgList` to contain all info in `()` of function call
  src/frontend/src/binder/expr/function/aggregate.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_function.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/lambda.yaml
  src/sqlparser/tests/testdata/qualified_operator.yaml
  src/sqlparser/tests/testdata/select.yaml
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/functions.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18037 feat: support current_catalog sys function
  e2e_test/batch/basic/func.slt.part
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/binder/expr/function/mod.rs
Labels: type/feature

#17889 chore: bump `tonic` to v0.12
  Cargo.lock
  Cargo.toml
  ci/docker-compose.yml
  e2e_test/sink/kafka/protobuf.slt
  src/batch/Cargo.toml
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/spill/spill_op.rs
  src/batch/src/task/broadcast_channel.rs
  src/batch/src/task/task_execution.rs
  src/bench/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/tracing.rs
  src/common/metrics/Cargo.toml
  src/common/metrics/src/monitor/connection.rs
  src/common/src/vnode_mapping/vnode_placement.rs
  src/compute/Cargo.toml
  src/compute/src/rpc/service/monitor_service.rs
  src/connector/Cargo.toml
  src/error/src/tonic.rs
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/snapshot.rs
  src/meta/Cargo.toml
  src/meta/node/src/server.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/model/pinned_snapshot.rs
  src/meta/src/hummock/model/pinned_version.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/rpc/intercept.rs
  src/object_store/Cargo.toml
  src/prost/build.rs
  src/prost/src/lib.rs
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/tracing.rs
  src/storage/backup/src/lib.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/stream/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/state_cleaning_test/Cargo.toml
  src/utils/runtime/Cargo.toml
Labels: type/chore, ci/run-e2e-single-node-tests

#18040 fix: not bail! on kinesis's state if scan.startup.mode set to timestamp (#18038)
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix

#18038 fix: not `bail!` on kinesis's state if `scan.startup.mode` set to `timestamp`
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17265 perf(memory): raise memory eviction threshold
  src/common/src/config.rs
  src/config/example.toml
Labels: type/perf

#18007 feat(frontend): support two phase vnode based simple agg with approx_percentile
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateful_agg.slt
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature

#18044 fix(sink): handle Kinesis PutRecords partial success and throttle (cherry-pick #17983)
  src/connector/src/sink/kinesis.rs
Labels: type/fix

#17912 feat(sink): add check license for snowflake, dynamodb opensearch sink
  e2e_test/sink/license.slt
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/elasticsearch.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/snowflake.rs
  src/license/src/feature.rs
Labels: type/feature

#18043 fix: show progress for background ddls that are in initial status
  ci/scripts/run-e2e-test.sh
  e2e_test/streaming/union.slt
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18050 feat(meta): compress the encoded model if it's too large in kv meta store (#17315)
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/hummock/model/compact_task_assignment.rs
  src/meta/src/hummock/model/pinned_snapshot.rs
  src/meta/src/hummock/model/pinned_version.rs
  src/meta/src/hummock/model/version_delta.rs
  src/meta/src/hummock/model/version_stats.rs
  src/meta/src/model/mod.rs
Labels: ci/run-e2e-single-node-tests

#18028 feat(parser): parse `IGNORE NULLS` in (window) function calls
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/binder/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/lambda.yaml
  src/sqlparser/tests/testdata/qualified_operator.yaml
  src/sqlparser/tests/testdata/select.yaml
Labels: type/feature, ci/run-e2e-single-node-tests

#18036 feat(storage): support file cache recover mode
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#17997 feat(meta): support commit epoch on subset of tables
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/lib.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests

#17963 refactor: deprecate old s3 and use use s3_v2 as default
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_parquet_source.py
  e2e_test/s3/fs_source_batch.py
  e2e_test/s3/fs_source_v2.py
  integration_tests/kinesis-s3-source/create_source.sql
  src/frontend/src/handler/create_source.rs
Labels: type/refactor, ci/run-s3-source-tests, ci/main-cron/run-selected

#18026 feat(stream): add approx percentile cache for global approx percentile
  src/common/estimate_size/src/collections/btreemap.rs
  src/expr/impl/src/aggregate/approx_percentile.rs
  src/stream/src/executor/approx_percentile/global.rs
  src/stream/src/executor/approx_percentile/global_state.rs
  src/stream/src/executor/approx_percentile/mod.rs
  stest-73cc5911-e5e7-4de0-aff9-30c82b2d40c6.sqlite
Labels: type/feature, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-test, ci/main-cron/run-selected

#18068 fix(common): fix hyper-014 compile
  src/common/metrics/Cargo.toml
Labels: type/fix

#18063 feat: enable shuffle for snapshot backfill
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#18074 ci: add cherry-pick 2.0
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: component/ci

#18072 fix(stream): fix functional dependencies for row merge
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/stream_global_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_local_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_row_merge.rs
Labels: type/fix

#18075 chore: update Cargo package version to 2.1.0-alpha
  Cargo.lock
  Cargo.toml
Labels: type/chore

#18066 feat: support constructor `MAP {..}` and index operator `m[k]` for map
  e2e_test/batch/types/map.slt.part
  src/common/src/array/map_array.rs
  src/expr/impl/src/scalar/array.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/binder/select.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18077 chore: fix RustRover macro expansion
  src/common/src/array/iterator.rs
  src/common/src/array/mod.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/macros.rs
  src/common/src/types/mod.rs
  src/common/src/util/schema_check.rs
  src/expr/core/src/expr/value.rs
Labels: type/chore

#18084 chore: remind labeling new features or improvements as experiemental if needed
  .github/workflows/auto-create-doc-issue-by-pr.yml
Labels: type/chore

#18082 feat(frontend): bind default value for `approx_percentile` relative_error
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/expr/function/aggregate.rs
Labels: type/feature

#18080 refactor: reduce periodical logs
  ci/scripts/e2e-source-test.sh
  src/meta/src/barrier/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18085 test(frontend): test two phase approx percentile with group key is banned
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: component/test

#18061 refactor(meta): only retry on connection error when registering worker node
  proto/meta.proto
  src/compute/src/server.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/session.rs
  src/meta/service/src/cluster_service.rs
  src/rpc_client/src/error.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18083 feat(frontend): support single phase approx percentile in batch
  e2e_test/streaming/aggregate/shuffle_approx_percentile.slt
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
Labels: type/feature

#18022 feat(license): add limit for total cpu cores in the cluster
  src/license/src/cpu.rs
  src/license/src/lib.rs
  src/license/src/manager.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/manager/cluster.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18098 fix(parser): fix unparse of include columns
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#18093 fix(meta): adapt time travel for partial checkpoint
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, ci/run-e2e-time-travel-tests, need-cherry-pick-release-2.0

#18073 feat: support more map functions
  e2e_test/batch/types/map.slt.part
  proto/expr.proto
  src/common/src/array/list_array.rs
  src/common/src/array/map_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/cast.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature, need-cherry-pick-release-2.0

#18088 feat(iceberg): bump iceberg-rust to v0.3.0
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#15612 feat(test): switch meta to sql backend in simluate test
  .gitignore
  Cargo.lock
  Cargo.toml
  ci/scripts/deterministic-recovery-test.sh
  ci/workflows/main-cron.yml
  src/object_store/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
Labels: type/feature, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-sql-recovery-test-deterministic-simulation

#17747 feat(connector): add support for path-style access in Iceberg sink connector
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
Labels: need-cherry-pick-release-2.0

#18118 fix: udf error ui
  e2e_test/error_ui/simple/main.slt
Labels: type/fix, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#17935 fix(connector): file source do not panic when credential is wrong
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/stream/src/executor/source/list_executor.rs
Labels: type/chore, type/fix

#17493 fix(sink): fix sink in to Cassandra failed when using column name containing upper case letter
  ci/scripts/common.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  ci/workflows/main-cron.yml
  e2e_test/sink/cassandra_sink.slt
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraConfig.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraSink.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraUtil.java
Labels: type/fix, ci/run-e2e-cassandra-sink-tests, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#18131 fix: remove overly strict assertion during stream pause/resume
  src/stream/src/executor/stream_reader.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18122 fix(meta): fix cpu core limit check query
  src/meta/src/controller/cluster.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18128 fix: overwrite splite assignment for config change
  src/meta/src/controller/fragment.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18004 refactor(grafana): provide finer grain filter for object store op
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Labels: type/refactor

#18124 feat(ci): add `fast-docker-build-arm` workflow
  Cargo.toml
  ci/scripts/docker.sh
  ci/scripts/multi-arch-docker.sh
  ci/workflows/docker-arm-fast.yml
  docker/Dockerfile
Labels: type/feature

#18132 fix: flaky udf e2e error ui test
  e2e_test/error_ui/simple/main.slt
Labels: type/fix, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#18117 ci: fix log size limit failure by increasing limit
  Makefile.toml
Labels: component/ci, need-cherry-pick-release-2.0

#18078 refactor(expr): show candicates when function not found
  src/expr/core/src/aggregate/mod.rs
  src/expr/core/src/expr/build.rs
  src/expr/core/src/sig/mod.rs
  src/expr/core/src/table_function/mod.rs
Labels: type/refactor

#18065 perf(stream): set `noop_update_hint` when jsonb access exists
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
Labels: type/perf

#18139 chore: patch cargo `patch-production` profile
  Cargo.toml
Labels: type/chore, need-cherry-pick-release-2.0

#18150 fix(ci): fix bad indent of `cassandra sink test`
  ci/workflows/main-cron.yml
Labels: type/fix, ci/main-cron/run-all

#18115 feat: support custom kafka group id prefix
  e2e_test/source_inline/kafka/consumer_group.slt
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature, need-cherry-pick-release-2.0

#18127 refactor(meta): only bail out on server-side error when registering worker node
  src/error/src/tonic.rs
  src/rpc_client/src/meta_client.rs
Labels: type/refactor

#18134 fix: check split assignment before pushing mutation
  src/meta/src/barrier/command.rs
  src/meta/src/stream/source_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#18156 feat(frontend): support single phase approx percentile in batch (#18083)
  e2e_test/streaming/aggregate/shuffle_approx_percentile.slt
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
Labels: type/feature

#18160 fix(meta): fix time travel metadata for partial checkpoint
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests, need-cherry-pick-release-2.0

#18163 fix(meta): correctly persist license key system param in SQL backend
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/meta/src/manager/system_param/model.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18031 feat(compactor): compaction iterator support filter key with key_range
  src/storage/src/hummock/compactor/iterator.rs
Labels: type/feature

#18165 fix: fix log store truncate offset incorrect check
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Labels: type/fix

#18081 test(mssql-cdc): enrich tests and small refactor
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_insert.sql
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
  src/connector/src/parser/sql_server.rs
  src/connector/src/source/cdc/external/sql_server.rs
Labels: component/test, need-cherry-pick-release-2.0

#17311 feat(sink): introduce file sink in PARQUET format
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_parquet_source_and_sink.py
  src/bench/sink_bench/main.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/file_sink/fs.rs
  src/connector/src/sink/file_sink/gcs.rs
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/sqlparser/src/ast/statement.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#18136 fix(pgwire): allow configuring tcp keepalive idle time
  Cargo.lock
  src/cmd_all/src/standalone.rs
  src/frontend/src/lib.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/net.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18175 doc: add docs on profiling on osx
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
Labels: component/doc

#18178 chore: remove whitespace from `ci-profiling.md`
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
Labels: type/chore

#17979 feat(storage): adjust base compaction limitation
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18060 feat(cdc): add event log and fill table catalog for auto schema change
  proto/catalog.proto
  proto/ddl_service.proto
  proto/meta.proto
  src/connector/src/parser/debezium/schema_change.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/source/cdc/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_event_logs.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/meta/model_v2/src/object_dependency.rs
  src/meta/model_v2/src/table.rs
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/event_log_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/event_log.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
  src/utils/runtime/src/logger.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18130 fix(sqlparser): fix subclause order when parsing function calls
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/project_set.yaml
  src/frontend/src/binder/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/lambda.yaml
  src/sqlparser/tests/testdata/qualified_operator.yaml
  src/sqlparser/tests/testdata/select.yaml
Labels: type/fix

#18184 feat: allow config the interval of list files
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_source.yaml
Labels: type/feature

#18187 feat(iceberg): add license for iceberg sink with glue
  src/connector/src/sink/iceberg/mod.rs
  src/license/src/feature.rs
Labels: type/feature, need-cherry-pick-release-2.0

#18192 refactor: make telemetry event a separate crate
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/telemetry/mod.rs
  src/common/src/telemetry/report.rs
  src/common/telemetry_event/Cargo.toml
  src/common/telemetry_event/src/lib.rs
  src/common/telemetry_event/src/util.rs
  src/frontend/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/src/telemetry.rs
  src/stream/src/telemetry.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18196 refactor(iceberg): use load table v2 to extract iceberg columns
  src/frontend/src/handler/create_source.rs
Labels: type/refactor

#18193 refactor(test): kafka sink with protobuf/avro as inline style
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/protobuf.slt
Labels: type/refactor

#18011 feat: use opendal as the s3 sdk by default
  src/common/src/config.rs
  src/common/src/util/env_var.rs
  src/config/example.toml
  src/object_store/src/object/error.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
  src/object_store/src/object/s3.rs
Labels: type/feature, user-facing-changes, ci/run-opendal-tests, need-cherry-pick-release-2.0

#18177 fix(binder): fix function call binding
  src/expr/core/src/aggregate/def.rs
  src/expr/core/src/window_function/kind.rs
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/binder/expr/function/aggregate.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/binder/expr/function/window.rs
  src/sqlparser/src/ast/mod.rs
Labels: type/fix

#18181 fix(udf): allow udaf as window function
  e2e_test/udf/bug_fixes/17560_udaf_as_win_func.slt
  src/frontend/src/expr/window_function.rs
Labels: type/fix

#18206 chore(doc): Update README.md
  README.md
Labels: type/chore

#18174 feat(source): support temporary source
  e2e_test/source/basic/temporary_kafka_batch.slt
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/session.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature

#18111 refactor(prost): optimize some Debug representation
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/refactor

#18110 refactor: add some comments for MV progress tracking
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/refactor, ci/run-e2e-single-node-tests
