Repository risingwavelabs/risingwave, pull requests merged in 2024-12, with the labels that each got.

#19628 doc(streaming): Add docs for degree table in hash join
  src/stream/src/executor/join/hash_join.rs
Labels: component/doc

#19621 cherry-pick feat(connector): support more parquet data types (#19561) to branch release-2.1
  e2e_test/s3/fs_sink.py
  src/batch/src/executor/s3_file_scan.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
  src/frontend/src/expr/table_function.rs
Labels: cherry-pick, ci/run-s3-source-tests, ci/main-cron/run-selected

#19593 feat(ctl): migrate legacy object with new prefix strategy
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
  src/ctl/src/lib.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/prefix.rs
Labels: type/feature

#19606 fix(hummock): fix hummock_trace panic with log store
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#19622 refactor(meta): extract common method to inject initial barrier
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19597 feat(meta): support reload runtime info of single database
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19642 feat: add rw_internal_table_info to identity which streaming job the internal table belongs
  proto/catalog.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_id_to_ddl.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_internal_table_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_internal_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_streaming_parallelism.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/model/src/table.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/storage/src/compaction_catalog_manager.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19638 feat: telemetry for connection create and ref
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/telemetry.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/controller/catalog.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19630 refactor(meta): unify DdlType and StreamingJobType
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19529 feat: make Nats jetstream Source work in parallel
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/nats/operation.py
  e2e_test/source_inline/nats/test.slt.serial
  src/connector/src/source/base.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/util.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19639 feat(metrics): add internal latency of actors, MVs and sinks
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/common/metrics/src/relabeled_metric.rs
  src/risedevtool/connector.toml
  src/stream/src/executor/actor.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/mview/materialize.rs
Labels: type/feature

#19651 chore: set recursion_limit for sink bench crate
  src/bench/sink_bench/main.rs
Labels: type/chore

#19648 chore(dep): switch foyer to v0.13.0 release version
  Cargo.lock
  Cargo.toml
  src/storage/src/store_impl.rs
Labels: type/chore

#19625 fix(storage): fix the atomicity problem after split/merge operation
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/metrics_utils.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
Labels: type/fix, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#19653 feat: remove flink mock sink from Java connector codebase
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-sink-mock-flink/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkDynamicAdapterConfig.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkDynamicUtil.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkMockSinkFactory.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/main/java/com/risingwave/mock/flink/http/HttpFlinkMockSinkFactory.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/test/java/com/risingwave/connector/sink/http/HttpTest.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/FlinkDynamicAdapterFactory.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/RowDataImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/DynamicTableSinkContextImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/MailBoxExecImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/SinkWriterContext.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/SinkWriterContextV2.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/context/SinkWriterMetircGroupImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/AsyncSinkWriterImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/CommitRequestImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/SinkWriterImpl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/main/java/com/risingwave/mock/flink/runtime/sinkwriter/SinkWriterV2Impl.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/test/java/com/risingwave/connector/sink/flink/FlinkMockTest.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/test/resources/log4j2.properties
  java/pom.xml
Labels: type/feature

#18935 refactor(meta): generalize replace table to replace job
  proto/stream_plan.proto
  src/meta/model/src/prelude.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Labels: type/refactor, type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19582 feat(storage): Provide table id filter for sstable_iterator
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/iterator/backward_merge.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/hummock/validator.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/storage_failpoints/test_sstable.rs
Labels: type/feature

#19467 feat(stream): create cdc table reader and source data stream with retry
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/feature, need-cherry-pick-release-2.1

#19667 refactor(meta): insert time travel metadata in batch
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#19657 refactor(meta): insert time travel metadata in batch
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests, ci/run-e2e-test-other-backends

#19665 fix(snapshot-backfill): do mapping_chunk with output indices to all chunks
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/merge.rs
Labels: type/fix, ci/run-backfill-tests

#19655 fix(iceberg): bypass iceberg partition table optimization
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/handler/create_sink.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19672 fix: add missing objects for schema empty check
  src/meta/src/manager/catalog/database.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#19676 feat(stream): create cdc table reader and source data stream with retry (#19467)
  e2e_test/source_inline/kafka/issue_19563.slt.serial
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/feature, cherry-pick

#19686 revert:feat(stream): create cdc table reader and source data stream …
  e2e_test/source_inline/kafka/issue_19563.slt.serial
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/revert

#19654 refactor(file source): emit source messages line by line directly from opendal reader
  src/connector/src/source/common.rs
  src/connector/src/source/filesystem/nd_streaming.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/filesystem/s3/source/split_stream.rs
Labels: type/refactor

#19669 fix(storage): fix backward compact
  src/meta/src/hummock/manager/commit_epoch.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
Labels: type/fix, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#19685 feat: connection for schema registry
  e2e_test/source_inline/connection/schema_registry.slt
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/macros.rs
  src/connector/src/schema/schema_registry/client.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/utils/with_options.rs
Labels: type/feature

#19577 feat(iceberg): support iceberg engine table (in local env)
  Cargo.lock
  ci/docker-compose.yml
  ci/scripts/e2e-iceberg-engine-test.sh
  ci/workflows/pull-request.yml
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/iceberg/test_case/iceberg_engine.slt
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  proto/catalog.proto
  risedev.yml
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/catalog/mod.rs
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/Cargo.toml
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/test_utils.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241121_101830_table_engine.rs
  src/meta/model/src/table.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/array.yaml
  src/storage/src/compaction_catalog_manager.rs
  src/tests/sqlsmith/src/lib.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-engine-tests

#19425 feat(frontend): Add struct scan and simply optimise struct filter.
  proto/batch_plan.proto
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/util/scan_range.rs
  src/frontend/planner_test/tests/testdata/input/row_filter.yaml
  src/frontend/planner_test/tests/testdata/output/row_filter.yaml
  src/frontend/src/expr/literal.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_sys_seq_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/utils/condition.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/feature

#19697 refactor(connector): re-arrange the `connector::parser` module for better readibility
  src/connector/src/parser/access_builder.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/sql_server.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/utils.rs
Labels: type/refactor

#19700 fix: select channel for clear barrier worker with higher priority
  src/stream/src/task/barrier_manager.rs
Labels: type/fix

#19671 refactor(cdc source): merge cdc heartbeat chunk builder & data chunk builder
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/source/base.rs
Labels: type/refactor

#19699 feat: add support for dml_rate_limit (#19679)
  Cargo.lock
  ci/scripts/run-e2e-test.sh
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/dml/inserts.slt.part
  e2e_test/dml/rate_limit_no_limit.slt
  e2e_test/dml/rate_limit_pause_resume.slt
  e2e_test/dml/rate_limit_set.slt
  proto/meta.proto
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/utils/overwrite_options.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/metadata.rs
  src/prost/src/lib.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/Cargo.toml
  src/stream/src/executor/dml.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/utils.rs
  src/stream/src/from_proto/dml.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#19701 refactor(source): extract avro inner schema precisely
  e2e_test/source_inline/kafka/avro/ref.slt
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/src/parser/debezium/avro_parser.rs
Labels: type/refactor

#19677 feat(storage): support online cache resize via risectl
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/compute.proto
  src/compute/src/rpc/service/config_service.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/resize_cache.rs
  src/ctl/src/lib.rs
  src/rpc_client/src/compute_client.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/utils.rs
Labels: type/feature

#19711 cherry-pick refactor(connector): re-arrange the connector::parser module for better readibility
  src/common/src/config.rs
  src/config/docs.md
  src/connector/src/parser/access_builder.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/sql_server.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/utils.rs
Labels: cherry-pick

#19603 refactor(meta): extract code for connecting sql meta store
  src/meta/node/src/server.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/controller/mod.rs
  src/meta/src/lib.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19713 feat(storage): avoid using box dyn for storage table merge sort
  src/storage/src/table/merge_sort.rs
  src/storage/src/table/mod.rs
Labels: type/feature

#19721 fix(file source): fix message offset of opendal source
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/stream/src/executor/source/fetch_executor.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected

#19716 fix: missing dependency info of sql UDFs for streaming job ddl
  e2e_test/udf/drop_function.slt
  src/frontend/src/binder/expr/function/mod.rs
Labels: type/fix

#19712 perf(stream): add hash join memory benchmarking for cache refill
  .gitignore
  Cargo.lock
  src/common/src/catalog/schema.rs
  src/stream/Cargo.toml
  src/stream/benches/stream_hash_join_mem.rs
  src/stream/benches/stream_hash_join_rt.rs
  src/stream/src/executor/test_utils.rs
Labels: type/refactor, type/perf

#19695 fix: double RUST_MIN_STACK to resolve stack overflow
  Makefile.toml
  ci/scripts/pr-unit-test.sh
Labels: type/fix

#19690 feat(iceberg): refine iceberg table column datatype and name.
  e2e_test/batch/catalog/pg_cast.slt.part
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/catalog/mod.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/tests/sig.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/planner/mod.rs
  src/frontend/src/planner/relation.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature

#19730 chore(deps): Bump url from 2.5.0 to 2.5.4 (idna from 0.5.0 to 1.0.3)
  Cargo.lock
Labels: type/chore

#19650 feat(meta): support replace source
  proto/ddl_service.proto
  proto/frontend_service.proto
  proto/stream_plan.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19737 feat(meta): ensure recovery is finished after recover command returns
  src/meta/node/src/server.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/manager/notification.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19731 refactor(batch): simplify batch executor builder
  Cargo.toml
  src/batch/src/execution/local_exchange.rs
  src/batch/src/executor/delete.rs
  src/batch/src/executor/expand.rs
  src/batch/src/executor/filter.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/group_top_n.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/hop_window.rs
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/limit.rs
  src/batch/src/executor/log_row_seq_scan.rs
  src/batch/src/executor/max_one_row.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/mysql_query.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/postgres_query.rs
  src/batch/src/executor/project.rs
  src/batch/src/executor/project_set.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/s3_file_scan.rs
  src/batch/src/executor/sort_agg.rs
  src/batch/src/executor/sort_over_window.rs
  src/batch/src/executor/source.rs
  src/batch/src/executor/sys_row_seq_scan.rs
  src/batch/src/executor/table_function.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/executor/top_n.rs
  src/batch/src/executor/union.rs
  src/batch/src/executor/update.rs
  src/batch/src/executor/values.rs
  src/batch/src/lib.rs
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/context.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/task_context.rs
  src/prost/build.rs
Labels: type/refactor

#19744 chore: add fix create definition cmd in rise ctl
  src/ctl/src/cmd_impl/debug.rs
  src/ctl/src/cmd_impl/debug/fix_create_definition.rs
  src/ctl/src/lib.rs
Labels: type/chore

#19587 feat(sink): add sink throughput( mb/s) metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sink.rs
Labels: type/feature

#19733 fix(iceberg): fix iceberg config load
  src/connector/src/connector_common/iceberg/mod.rs
Labels: type/fix

#19689 feat: add connector props and format options in rw_catalog
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sinks.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
Labels: type/feature

#19729 test: workaround a flaky source test
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Labels: component/test

#19605 fix(meta): do not release connection to in-memory SQLite for meta store
  src/meta/src/controller/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19752 chore: bump `h2` to address hanging on long headers
  Cargo.lock
  src/rpc_client/Cargo.toml
Labels: type/chore

#19649 feat(frontend): support alter add column for shared source
  e2e_test/source_inline/kafka/alter/add_column_shared.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/test_utils.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19747 fix(iceberg): fix iceberg engine table time travel
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/planner/relation.rs
Labels: type/fix

#19664 feat(barrier): support database failure isolation (part 1, meta)
  proto/stream_service.proto
  src/error/src/tonic/extra.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19740 feat(frontend): support alter source refresh schema for shared source
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  e2e_test/source_inline/kafka/protobuf/alter_source_shared.slt
  src/frontend/src/handler/alter_source_with_sr.rs
Labels: type/feature

#19759 chore: fix typo in comment
  .typos.toml
  src/common/src/catalog/column.rs
  src/connector/codec/src/decoder/mod.rs
  src/stream/src/executor/backfill/cdc/mod.rs
Labels: type/chore

#19762 chore: update PR template
  .github/contributor-license-agreement.txt
  .github/pull_request_template.md
Labels: type/chore

#19763 fix(meta): ensure order when restoring metadata
  src/meta/src/backup_restore/restore_impl/v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19756 fix(snapshot-backfill): fix incorrect recv barrier and add test for recover
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/snapshot_backfill/drop_mv.slt
  e2e_test/backfill/snapshot_backfill/run_test.slt.part
  src/stream/src/executor/backfill/snapshot_backfill.rs
Labels: ci/run-backfill-tests, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19741 refactor(batch): register-style executor builder
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/executor/mod.rs
Labels: type/refactor

#19760 fix(streaming): fix compatibility upgrading from v2.1.0 for singleton vnode count
  src/common/src/hash/consistent_hash/vnode_count.rs
  src/frontend/src/catalog/table_catalog.rs
Labels: type/fix, ci/run-backwards-compat-tests, ci/main-cron/run-selected

#19746 fix(source): resolve avro `Ref` during `access` without hack
  e2e_test/source_inline/kafka/avro/ref.slt
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
Labels: type/fix

#19774 ci: add dependabot for GHA & bump buildkite plugin versions
  .github/dependabot.yml
  ci/scripts/gen-integration-test-yaml.py
  ci/workflows/docker-arm-fast.yml
  ci/workflows/docker.yml
  ci/workflows/gen-flamegraph-cron.yml
  ci/workflows/gen-flamegraph.yml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  ci/workflows/sqlsmith-snapshots.yml
Labels: component/ci

#19754 fix(source): revert create source reader with retry
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix

#19703 feat(common): support switching from pg jdbc to pg native sinks
  Cargo.lock
  ci/scripts/e2e-sink-test.sh
  risedev.yml
  src/common/src/config.rs
  src/config/ci-jdbc-to-native.toml
  src/config/example.toml
  src/stream/Cargo.toml
  src/stream/src/from_proto/sink.rs
Labels: type/feature

#19782 refactor(source): DRY decimal parsing
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/utils.rs
  src/connector/src/parser/unified/json.rs
Labels: type/refactor

#19787 feat: add actor info to diagnose & dump diagnose on CI failure
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/common.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  e2e_test/source_inline/README.md
  e2e_test/source_inline/kafka/protobuf/alter_source_shared.slt
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/diagnose.rs
  src/risedevtool/src/risedev_env.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19750 feat(catalog): add pg_my_temp_schema and pg_get_viewdef(int4, bool…
  e2e_test/batch/catalog/sysinfo.slt.part
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_proc.rs
  src/frontend/src/expr/function_impl/pg_get_viewdef.rs
Labels: type/feature, 📖✓

#19579 feat(barrier): support database failure isolation (part 2, local)
  e2e_test/error_ui/simple/recovery.slt
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#19112 feat: allow generated column in cdc table
  e2e_test/source_legacy/cdc_inline/postgres_create_drop.slt
  src/common/src/catalog/column.rs
  src/frontend/src/handler/create_table.rs
  src/meta/service/src/ddl_service.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19802 fix: alter shared source fresh schema will make it non-shared
  e2e_test/source_inline/kafka/alter/add_column_shared.slt
  e2e_test/source_inline/kafka/protobuf/alter_source_shared.slt
  src/connector/src/with_options.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Labels: type/fix

#19595 feat(ci): more meta backend agnostic e2e tests in `main-cron`
  ci/docker-compose.yml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  risedev.yml
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/feature, ci/main-cron/run-all

#19791 fix(meta): fix order when restoring metadata
  src/meta/src/backup_restore/restore_impl/v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19803 refactor(frontend): split create_source into smaller mods
  src/connector/src/parser/debezium/debezium_parser.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/additional_column.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/create_source/external_schema/avro.rs
  src/frontend/src/handler/create_source/external_schema/debezium.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
  src/frontend/src/handler/create_source/external_schema/json.rs
  src/frontend/src/handler/create_source/external_schema/nexmark.rs
  src/frontend/src/handler/create_source/external_schema/protobuf.rs
  src/frontend/src/handler/create_source/validate.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
Labels: type/refactor

#18625 feat: replace icelake Transform with iceberg
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/iceberg/mock_catalog.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/external/iceberg.rs
  src/frontend/Cargo.toml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#19807 fix: session variable should not affect shared source
  e2e_test/source_inline/kafka/protobuf/alter_source_shared.slt
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
Labels: type/fix

#19814 fix(log): print java exception stack trace in logger
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jAdapter.java
Labels: type/fix, need-cherry-pick-release-2.1

#19809 feat(error): include gRPC call path in error report
  e2e_test/error_ui/simple/main.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/sink/license.slt
  e2e_test/source_legacy/basic/ddl.slt
  e2e_test/time_travel/syntax.slt
  src/error/src/tonic.rs
  src/rpc_client/src/channel.rs
  src/rpc_client/src/frontend_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/stream_client.rs
Labels: type/feature

#19793 fix(connector): file scan use correct path
  src/batch/executors/src/executor/s3_file_scan.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/frontend/src/expr/table_function.rs
Labels: type/fix, need-cherry-pick-release-2.1

#19821 fix(meta): fix order when restoring metadata (#19791)
  src/meta/src/backup_restore/restore_impl/v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test

#19833 cherry-pick fix(connector): file scan use correct path (#19793) to branch release-2.1
  src/batch/src/executor/s3_file_scan.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/frontend/src/expr/table_function.rs
Labels: cherry-pick

#19839 fix(ci): use correct image version for `ci-standard-env`
  ci/docker-compose.yml
Labels: type/fix, need-cherry-pick-release-2.2

#19840 fix(ci): fix source test dependency issue
  ci/scripts/e2e-source-test.sh
  e2e_test/requirements.txt
  e2e_test/source_inline/requirements.txt
  e2e_test/source_legacy/requirements.txt
Labels: type/fix, need-cherry-pick-release-2.2

#19822 feat: jdbc sink user password
  e2e_test/sink/remote/jdbc.load.slt
  integration_tests/mysql-sink/create_sink.sql
  integration_tests/postgres-sink/create_sink.sql
  integration_tests/tidb-cdc-sink/create_sink.sql
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkConfig.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkFactory.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
Labels: type/feature, component/connector, user-facing-changes, ci/run-java-connector-node-integration-tests, ci/run-connector-node-integration-tests, user-experience

#19694 refactor(meta): filter out SSTs for time travel metadata
  src/common/src/system_param/mod.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/system_param.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#19805 feat(source): create source stream with retry during recovery
  e2e_test/source_inline/kafka/issue_19563.slt.serial
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzSourceUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, need-cherry-pick-release-2.2

#19855 fix(ci): fix source test dependency issue (#19840)
  ci/scripts/e2e-kafka-sink-test.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/requirements.txt
  e2e_test/source/requirements.txt
  e2e_test/source_inline/pubsub/prepare-data.rs
  e2e_test/source_inline/pubsub/pubsub.slt
  e2e_test/source_inline/requirements.txt
Labels: type/fix

#19813 fix: fix missing rewrite of table fragments during migration to sql backend
  e2e_test/sql_migration/prepare.slt
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/fix, ci/run-e2e-sql-migration-tests

#19838 cherry-pick fix(connector): file scan use correct path (#19793) to branch release-2.2
  src/batch/executors/src/executor/s3_file_scan.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/frontend/src/expr/table_function.rs
Labels: cherry-pick

#19850 fix: rewrite force reset db in sql migration
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/fix

#19863 refactor(source): rename some source parser related types and methods
  src/connector/benches/json_parser_case_insensitive.rs
  src/connector/benches/nexmark_integration.rs
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/filesystem/s3/source/split_stream.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/mqtt/source/reader.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/connector/src/source/reader/fs_reader.rs
  src/connector/src/source/reader/reader.rs
  src/connector/src/source/test_source.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/refactor

#19836 cherry-pick feat(error): include gRPC call path in error report (#19809) to 2.2
  e2e_test/error_ui/simple/main.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/sink/license.slt
  e2e_test/source_legacy/basic/ddl.slt
  e2e_test/time_travel/syntax.slt
  src/error/src/tonic.rs
  src/rpc_client/src/channel.rs
  src/rpc_client/src/frontend_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/stream_client.rs
Labels: cherry-pick

#19557 feat(sink): support deafult aws credentials for deltalake
  src/connector/src/connector_common/common.rs
  src/connector/src/sink/deltalake.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature, ci/run- e2e-deltalake-sink-rust-tests

#19870 refactor: split catalog to smaller files
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/catalog/util.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19798 feat(sink): add bigquery sink json string credentials
  src/connector/src/sink/big_query.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, user-facing-changes, ci/run- e2e-deltalake-sink-rust-tests

#19874 fix: use ring as default provider
  src/utils/runtime/src/lib.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#19788 fix(iceberg): fix commit_checkpoint_interval for iceberg table with connector
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/frontend/src/handler/create_table.rs
Labels: type/fix, ci/run-e2e-iceberg-engine-tests

#19883 refactor(optimizer): use `Cell` instead of `RefCell` for interior mutability
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Labels: type/refactor

#19846 fix(meta): fix & enable e2e tests with MySQL meta backend
  ci/docker-compose.yml
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/meta/model/migration/clippy.toml
  src/meta/model/migration/src/m20241125_043732_connection_params.rs
  src/meta/model/migration/src/utils.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#19828 fix(frontend): check data type in column id generator
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/common/src/catalog/schema.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/session.rs
Labels: type/fix

#19890 fix: disable telemetry report with madsim
  src/meta/node/src/server.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19660 feat(sink): support sink rate limit for external sink
  Cargo.lock
  ci/scripts/deterministic-recovery-test.sh
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/sink/rate_limit.slt
  proto/meta.proto
  proto/stream_plan.proto
  src/common/src/array/stream_chunk.rs
  src/common/src/session_config/mod.rs
  src/connector/Cargo.toml
  src/connector/src/sink/log_store.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/utils/overwrite_options.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/prost/src/lib.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/utils.rs
  src/stream/src/from_proto/sink.rs
  src/tests/simulation/tests/integration_tests/sink/mod.rs
  src/tests/simulation/tests/integration_tests/sink/rate_limit.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19829 feat(dashboard): show current epoch and color for fragments & relations
  dashboard/components/FragmentGraph.tsx
  dashboard/components/RelationGraph.tsx
  dashboard/components/utils/backPressure.tsx
  dashboard/lib/api/api.ts
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/meta/src/dashboard/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#19888 chore: update docker image to v2.1.0
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore

#19896 refactor(metrics): introduce UintGauge to keep consistency
  src/common/metrics/src/gauge_ext.rs
  src/common/metrics/src/guarded_metrics.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/frontend/src/monitor/stats.rs
  src/frontend/src/scheduler/distributed/stats.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/refactor

#19758 fix: change JNI sink normal logs to debug level
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkWriterHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkWriterResponseObserver.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkWriterStreamObserver.java
  src/connector/src/sink/remote.rs
Labels: type/fix, need-cherry-pick-release-2.2

#19797 fix(frontend): fix row filter with pk diff order type
  e2e_test/batch/basic/row_filter.slt.part
  src/batch/executors/src/executor/row_seq_scan.rs
  src/frontend/planner_test/tests/testdata/input/row_filter.yaml
  src/frontend/planner_test/tests/testdata/output/row_filter.yaml
  src/frontend/src/utils/condition.rs
Labels: type/fix

#19878 fix(meta): skip unnecessary delta persistence
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#19869 fix(sink): fix mogodb write error handling
  src/connector/src/sink/mongodb.rs
Labels: type/fix

#19920 fix(metric): include table change log when calculating Hummock version size
  src/storage/hummock_sdk/src/version.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#19812 feat(frontend): Supports cut OR condition and push down to storage
  src/common/src/util/scan_range.rs
  src/frontend/planner_test/tests/testdata/input/range_scan.yaml
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
  src/frontend/src/utils/condition.rs
Labels: type/feature

#19909 fix(chore): fix uint gauge vec macro
  src/common/metrics/src/guarded_metrics.rs
  src/connector/src/source/kafka/stats.rs
Labels: type/fix

#19688 perf(stream): optimize native pg sink
  Makefile.toml
  e2e_test/sink/pg_native_vs_jdbc.slt
  src/connector/src/sink/postgres.rs
Labels: type/perf, need-cherry-pick-release-2.2

#19911 feat(pb): box stream NodeBody to reduce stack memory usage
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/scripts/common.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/pr-unit-test.sh
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_changelog.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/frontend/src/optimizer/plan_node/stream_global_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_local_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_row_merge.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_source_scan.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_values.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/Cargo.toml
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19751 feat(snapshot): persist snapshot backfill epoch in fragment stream node
  proto/stream_plan.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19934 feat(optimizer): cherry-pick support better predicate pushdown for table scan
  e2e_test/batch/basic/row_filter.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/util/scan_range.rs
  src/frontend/planner_test/tests/testdata/input/range_scan.yaml
  src/frontend/planner_test/tests/testdata/input/row_filter.yaml
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
  src/frontend/planner_test/tests/testdata/output/row_filter.yaml
  src/frontend/src/expr/literal.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_sys_seq_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/utils/condition.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/feature

#19931 feat(storage): lazily remove instance data in uploader to avoid data loss
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/task_manager.rs
Labels: type/feature

#19901 fix(iceberg): fix hidden row id for iceberg engine table
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
Labels: type/fix, ci/run-e2e-iceberg-engine-tests

#19847 feat(expr): support `IGNORE NULLS` for `first_value`/`last_value`
  e2e_test/over_window/generated/batch/ignore_nulls/mod.slt.part
  e2e_test/over_window/generated/streaming/ignore_nulls/mod.slt.part
  e2e_test/over_window/templates/ignore_nulls/mod.slt.part
  proto/expr.proto
  src/expr/core/src/window_function/call.rs
  src/expr/impl/src/window_function/aggregate.rs
  src/expr/impl/src/window_function/buffer.rs
  src/expr/impl/src/window_function/rank.rs
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/binder/expr/function/window.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/window_function.rs
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/stream/tests/integration_tests/eowc_over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/feature, user-facing-changes

#19927 chore: remove `file_cache_bench` and `s3_bench`
  Cargo.lock
  src/bench/Cargo.toml
  src/bench/file_cache_bench/bpf.rs
  src/bench/file_cache_bench/main.rs
  src/bench/s3_bench/cases.toml
  src/bench/s3_bench/main.rs
Labels: type/chore

#19929 cherry-pick feat(pb): box stream NodeBody to reduce stack memory usage to 2.2
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/scripts/common.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/pr-unit-test.sh
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_changelog.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/frontend/src/optimizer/plan_node/stream_global_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_local_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_row_merge.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_source_scan.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_values.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/Cargo.toml
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19872 feat(dashboard): improve relation & fragment graph
  dashboard/components/FragmentGraph.tsx
  dashboard/components/RelationGraph.tsx
  dashboard/lib/layout.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
Labels: type/feature

#19916 refactor(frontend): merge steps for resolving on-conflict behavior in create table handler
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/optimizer/mod.rs
Labels: type/refactor

#19926 build: further prune unused dependencies and check in CI
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/check.sh
  e2e_test/udf/wasm/Cargo.toml
  integration_tests/feature-store/server/Cargo.lock
  integration_tests/feature-store/simulator/Cargo.lock
  integration_tests/feature-store/simulator/Cargo.toml
  src/bench/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/connector/src/source/iceberg/mod.rs
  src/object_store/Cargo.toml
  src/storage/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/workspace-config/Cargo.toml
Labels: type/build

#19938 feat(catalog): introduce clean_watermark_index_in_pk for state cleaning
  proto/catalog.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241226_074013_clean_watermark_index_in_pk.rs
  src/meta/model/src/table.rs
  src/meta/src/controller/mod.rs
  src/storage/src/compaction_catalog_manager.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19940 test: add a complex nested type test
  e2e_test/iceberg/test_case/iceberg_engine.slt
Labels: component/test, ci/run-e2e-iceberg-engine-tests

#19937 fix: support string to number type in JSONB_POPULATE_RECORD
  e2e_test/batch/types/jsonb.slt.part
  e2e_test/batch/types/map.slt.part
  src/common/src/types/jsonb.rs
Labels: type/fix

#19946 refactor(iceberg): refactor jni catalog
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/mod.rs
Labels: type/refactor, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-engine-tests

#19942 ci: rename e2e-test to e2e-test-serial
  ci/scripts/cron-e2e-test.sh
  ci/scripts/e2e-test-serial.sh
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: component/ci

#19939 fix(barrier): broadcast actor info to newly added node
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#19834 feat: support expression in limit clause
  ci/workflows/pull-request.yml
  e2e_test/batch/order/test_limit.slt.part
  src/frontend/src/binder/query.rs
  src/frontend/src/planner/query.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: type/feature

#19948 refactor(frontend): extract code for parsing table def sql into single stmt
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/expr/function_impl/pg_get_viewdef.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/refactor

#19959 fix(metric): update committed epoch metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#19786 feat: support set database of the current session
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/alter_owner.rs
  src/frontend/src/handler/alter_parallelism.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/handler/alter_set_schema.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/alter_swap_rename.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/close_cursor.rs
  src/frontend/src/handler/comment.rs
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/create_secret.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_sql_function.rs
  src/frontend/src/handler/create_subscription.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/drop_connection.rs
  src/frontend/src/handler/drop_function.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/drop_secret.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_subscription.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/drop_view.rs
  src/frontend/src/handler/fetch_cursor.rs
  src/frontend/src/handler/flush.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/use_db.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/with_options.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature

#19827 feat(types): support ns timestamp
  Cargo.lock
  e2e_test/batch/types/timestamp_ns.slt.part
  src/common/Cargo.toml
  src/common/src/types/datetime.rs
  src/expr/impl/src/scalar/extract.rs
  src/expr/impl/src/scalar/make_time.rs
  src/expr/impl/src/scalar/to_char.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/tests/regress/data/expected/time.out
  src/tests/regress/data/sql/time.sql
Labels: type/feature, need-cherry-pick-release-2.1

#19936 refactor(snapshot-backfill): extract common logic of consuming snapshot and log store
  src/common/src/util/chunk_coalesce.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Labels: type/refactor, ci/run-backfill-tests

#19900 refactor(source): prefer `options_with_secret` over `with_properties` in `SpecificParserConfig::new`
  src/connector/src/parser/config.rs
Labels: type/refactor

#19970 ci: remove e2e test RUN_COMPACTION
  ci/scripts/common.sh
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/e2e-test-serial.sh
  ci/scripts/pr-unit-test.sh
  ci/scripts/pr.env.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-unit-test.sh
  ci/scripts/unit-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/README.md
Labels: component/ci, ci/main-cron/run-all

#19935 feat: `message_as_jsonb` to handle circle dep in protobuf
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
  e2e_test/source_inline/kafka/protobuf/recursive_overflow.slt
  src/connector/codec/src/decoder/protobuf/mod.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/test_data/opentelemetry_common.proto
  src/connector/src/parser/config.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/mod.rs
  src/frontend/src/handler/create_source/external_schema/protobuf.rs
Labels: type/feature
