Repository risingwavelabs/risingwave, pull requests merged in 2024-10, with the labels that each got.

#18770 fix: telemetry event at paywall not reporting
  src/license/src/lib.rs
Labels: type/fix

#18783 fix(meta): fix test
  src/config/ci-meta-backup-test.toml
  src/config/ci-time-travel.toml
  src/storage/backup/integration_tests/test_pin_sst.sh
Labels: type/fix, ci/run-e2e-meta-backup-test, ci/run-e2e-time-travel-tests

#18678 feat: switch madsim integration and recovery tests to sql backend
  Cargo.lock
  ci/scripts/common.sh
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-it-test.sh
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/run-deterministic-fuzz-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/config/ci-sim.toml
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/e2e_extended_mode/src/test.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
  src/tests/simulation/src/slt.rs
  src/tests/simulation/tests/integration_tests/batch/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
  src/tests/simulation/tests/integration_tests/throttle.rs
  src/tests/simulation/tests/integration_tests/utils.rs
  src/tests/sqlsmith/scripts/gen_queries.sh
Labels: type/feature, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-all

#18767 fix(meta): avoid removing control stream node when failed to send request
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18779 refactor(storage): add SST retention time sanity check for compaction
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/hummock.proto
  proto/meta.proto
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/ci-meta-backup-test.toml
  src/config/docs.md
  src/config/example.toml
  src/config/full-iceberg-bench.toml
  src/ctl/src/common/hummock_service.rs
  src/frontend/src/session.rs
  src/meta/node/src/lib.rs
  src/meta/service/src/heartbeat_service.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/env.rs
  src/meta/src/model/cluster.rs
  src/meta/src/rpc/metrics.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/sstable_object_id_manager.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18744 feat(sink): add json encode for file sink
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_sink.py
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected

#18759 fix(meta): persist correct vnode count for table catalogs in sql backend
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18731 feat(nimtable): support iceberg sql catalog for create and read
  Cargo.lock
  Cargo.toml
  risedev.yml
  src/connector/Cargo.toml
  src/connector/src/connector_common/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-sql-recovery-test-deterministic-simulation

#18809 feat(nimtable): use pg default deploy
  Cargo.lock
  Cargo.toml
  risedev.yml
Labels: type/feature

#18405 feat(expr): support any children in `rw_vnode`
  e2e_test/batch/functions/internal.slt.part
  src/expr/impl/src/scalar/vnode.rs
Labels: type/feature

#18769 refactor: remove prefix "rw_" in session variables
  e2e_test/batch/aggregate/two_phase_agg.slt.part
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/ddl/alter_session_params.slt
  e2e_test/error_ui/simple/main.slt
  e2e_test/source_inline/kafka/shared_source.slt
  e2e_test/streaming/aggregate/two_phase_agg.slt
  risedev.yml
  src/common/proc_macro/src/session_config.rs
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/input/join_ordering.yaml
  src/frontend/planner_test/tests/testdata/input/share.yaml
  src/frontend/planner_test/tests/testdata/input/shared_source.yml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/join_ordering.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/shared_source.yml
  src/frontend/src/handler/create_source.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/meta/src/controller/session_params.rs
  src/risedevtool/src/config.rs
  src/tests/simulation/src/cluster.rs
  src/tests/sqlsmith/src/lib.rs
  src/utils/runtime/src/logger.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18675 feat(subscription): support blocking cursor
  e2e_test/subscription/main.py
  proto/hummock.proto
  src/frontend/src/catalog/subscription_catalog.rs
  src/frontend/src/handler/fetch_cursor.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/versioning.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/statement.rs
  src/storage/hummock_sdk/src/frontend_version.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#18812 fix(batch): fix distributed batch query not properly throwing errors to PG client
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix

#18804 build(mac): brew install llvm -> lld
  .cargo/config.toml
  docs/dev/src/build-and-run/intro.md
Labels: type/build

#18768 feat(meta): watch and reload license key from file
  Cargo.lock
  src/cmd_all/src/standalone.rs
  src/license/src/key.rs
  src/license/src/manager.rs
  src/meta/Cargo.toml
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/license.rs
  src/meta/src/manager/mod.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#18786 fix(expr): cast untyped `start` and `step` when inferring type for `generate_series`
  e2e_test/batch/basic/generate_series.slt.part
  src/frontend/planner_test/tests/testdata/input/generate_series_with_now.yaml
  src/frontend/planner_test/tests/testdata/output/generate_series_with_now.yaml
  src/frontend/src/expr/type_inference/func.rs
Labels: type/fix

#18750 feat: ban ALTER SOURCE for shared source, and refine all ALTER clauses
  src/frontend/src/handler/alter_parallelism.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/meta/model_v2/src/source.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18810 refactor(meta): limit max inflight time travel query
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18813 fix(sqlparser): `Display` multiple source `INCLUDE` columns correctly
  src/sqlparser/src/ast/legacy_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix, need-cherry-pick-release-2.0

#18815 refactor(expr): separate user-facing `rw_vnode` from the internal one
  e2e_test/batch/functions/internal.slt.part
  e2e_test/batch/functions/vnode.slt.part
  proto/expr.proto
  src/expr/core/src/expr_context.rs
  src/expr/impl/src/scalar/vnode.rs
  src/frontend/planner_test/tests/testdata/input/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/refactor

#18832 feat(nimtable): change checkpoint frequency to 60s
  src/common/src/system_param/mod.rs
  src/config/docs.md
  src/config/example.toml
Labels: type/feature

#18835 fix(metric): correctly update storage object metric
  proto/hummock.proto
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/vacuum.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17746 refactor(sink): refactor es and opensearch to support async
  Cargo.lock
  e2e_test/sink/elasticsearch/elasticsearch_with_pk_sink.result
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSinkFactory.java
  src/common/src/row/mod.rs
  src/connector/Cargo.toml
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_converter.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_client.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_formatter.rs
  src/connector/src/sink/elasticsearch_opensearch/mod.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/with_options_sink.yaml
Labels: type/refactor

#18837 fix: fix base64 decode on +
  e2e_test/batch/functions/encdec.slt.part
  src/expr/impl/src/scalar/encdec.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18846 refactor(over window): move `build_changes` to `OverPartition` for better modularity
  src/expr/core/src/window_function/states.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/refactor

#18847 feat(over window): add compute count metric for general over window executor
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/feature

#18829 chore(cdc): enhance cdc primary key error message
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
Labels: type/chore, need-cherry-pick-release-2.0

#18831 fix(sqlparser): `Display` multiple source `INCLUDE` columns correctly (#18813)
  src/sqlparser/src/ast/legacy_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#18843 fix(jdbc-sink): fix incorrect data type mapping of Timestamptz
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/fix, need-cherry-pick-release-2.0

#18822 refactor(cache): upgrade foyer to 0.12 and related deps
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/connector/src/sink/catalog/desc.rs
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/benches/bench_block_cache.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/refactor

#18823 refactor(meta): reject directly setting license key when it's managed by watching a file
  src/meta/node/src/server.rs
  src/meta/service/src/system_params_service.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18852 fix(ci): fix there is no reactor running in meta recovery tests, when kill-meta enabled
  Cargo.lock
  Cargo.toml
  ci/scripts/deterministic-recovery-test.sh
Labels: type/fix, ci/run-recovery-test-deterministic-simulation, ci/main-cron/run-selected

#18838 fix(meta): rename `--license-key-file` to `--license-key-path`
  src/cmd_all/src/standalone.rs
  src/meta/node/src/lib.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18591 fix(udf): unlimit external udf message size
  src/expr/impl/src/udf/external.rs
Labels: type/fix

#18866 fix: fix subscription clean during recovery
  src/meta/src/controller/catalog.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10

#18854 refactor: enable time travel by default
  src/common/src/config.rs
  src/common/src/system_param/mod.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/src/controller/system_param.rs
  src/meta/src/manager/system_param/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/time_travel_version_cache.rs
  src/storage/src/opts.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18862 fix(udf): upgrade arrow-udf to 0.5 which fixes rust udf compilation
  ci/scripts/build-other.sh
  e2e_test/udf/rust_udf.slt
  e2e_test/udf/wasm/Cargo.toml
  src/expr/impl/src/udf/wasm.rs
Labels: type/fix

#18867 test: move kafka alter source test to source_inline
  ci/scripts/e2e-source-test.sh
  e2e_test/source/basic/alter/kafka.slt
  e2e_test/source/basic/alter/kafka_after_new_data.slt
  e2e_test/source/basic/alter/kafka_after_new_data_2.slt
  e2e_test/source_inline/kafka/alter/add_column.slt
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka.slt
  e2e_test/source_inline/kafka/alter/rate_limit_table_kafka.slt
  scripts/source/alter_data/kafka_alter.2
  scripts/source/alter_data/kafka_alter.3
  scripts/source/prepare_data_after_alter.sh
  scripts/source/test_data/kafka_alter.1
Labels: component/test

#18874 fix: filter out creating associated source catalog in notification snapshot
  src/meta/src/controller/catalog.rs
Labels: ci/run-recovery-test-deterministic-simulation, ci/main-cron/run-selected, need-cherry-pick-release-2.0

#18848 fix(mssql-cdc): fix sqlserver-cdc backfill command
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  src/connector/src/source/cdc/external/sql_server.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18840 chore(sink): dump delta-rs to 0.20.1
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_48.rs
  src/common/src/array/arrow/arrow_52.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/sink/deltalake.rs
Labels: type/chore, ci/run- e2e-deltalake-sink-rust-tests

#18841 feat(iceberg): introduce read/write bytes metrics for iceberg and all files sys_catalog
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/task/context.rs
  src/batch/src/task/env.rs
  src/compute/src/server.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_all_files.rs
Labels: type/feature

#18886 fix(storage): fix sub level id for time travel
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18885 feat: create connector source worker before the txn write of catalog
  src/meta/src/controller/catalog.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18883 fix: use larger max_cached_recent_versions_number for CI
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/storage/src/opts.rs
Labels: type/fix

#18099 test(ci): switch all tests to sql backend
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-meta-backup-test.sh
  ci/scripts/standalone-utils.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  docs/dev/src/connector/intro.md
  e2e_test/ddl/secret.slt
  risedev.yml
  src/cmd_all/scripts/standalone-demo-full.sh
  src/meta/node/src/server.rs
Labels: component/test, ci/run-e2e-parallel-in-memory-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-all

#18892 fix(sink): fix bq sink
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/storage/src/hummock/sstable/block.rs
Labels: type/fix

#18899 feat(nimtabe): change nimtable iceberg bucket and data directory
  risedev.yml
  src/common/src/session_config/mod.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Labels: type/feature

#18902 fix: misused source row count metric
  src/connector/src/source/common.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18904 feat(nimtable): fix drop table with schema
  src/frontend/src/handler/drop_table.rs
Labels: type/feature

#18895 refactor: migrate Nats JetStream consumer to durable one
  src/connector/src/connector_common/common.rs
  src/connector/src/error.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nats/split.rs
  src/connector/with_options_source.yaml
Labels: type/refactor

#18897 feat: allow nats additional column offset and payload
  integration_tests/nats/create_source.sql
  src/connector/src/parser/additional_columns.rs
Labels: type/feature, ci/run-integration-test-deterministic-simulation

#18913 feat(log): change opendal and reqsign log level to INFO
  src/utils/runtime/src/logger.rs
Labels: type/feature

#18917 doc: Create SECURITY.md
  SECURITY.md
Labels: component/doc

#18898 fix: Fix the issue with ReplaceTable caused by incomplete actor broadcast
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18914 fix(storage): purge dropped columns for sql backend
  src/meta/src/controller/catalog.rs
  src/meta/src/hummock/manager/compaction/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18894 refactor(test): move some tests from source_legacy to source_inline
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/sink/nexmark_endless_mvs/nexmark_endless_part1.slt
  e2e_test/sink/nexmark_endless_mvs/nexmark_endless_part2.slt
  e2e_test/sink/nexmark_endless_mvs/nexmark_endless_part3.slt
  e2e_test/sink/nexmark_endless_mvs/nexmark_endless_part4.slt
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part1.slt
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part2.slt
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part3.slt
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part4.slt
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part5.slt
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part6.slt
  e2e_test/source_inline/fs/data/data1.csv
  e2e_test/source_inline/fs/data/data2.csv
  e2e_test/source_inline/fs/posix_fs.slt
  e2e_test/source_inline/kafka/datagen.slt
  e2e_test/source_inline/kafka/handling_mode.slt
  e2e_test/source_inline/kafka/kinesis.slt
  e2e_test/source_inline/kafka/temporary_kafka_batch.slt
  e2e_test/source_inline/kafka/ttl_table_with_con.slt
  e2e_test/source_legacy/basic/nexmark/nexmark_endless_part1.slt.part
  e2e_test/source_legacy/basic/scripts/test_data/json_timestamptz_handling_mode.1
  e2e_test/source_legacy/basic/scripts/test_data/weiling.1
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/refactor

#18577 test: add recovery in nexmark q4 sim test
  src/tests/simulation/tests/integration_tests/scale/nexmark_q4.rs
Labels: component/test

#18900 feat(stream agg): add agg state cache miss ratio metric
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/simple_agg.rs
Labels: type/feature

#18873 refactor: impl ack and migrate to durable consumer for Nats
  src/connector/src/connector_common/common.rs
  src/connector/src/error.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/message.rs
  src/connector/src/source/nats/source/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nats/split.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_source.yaml
  src/stream/src/executor/source/source_executor.rs
Labels: type/refactor, type/fix

#18868 fix(cdc): fix the filter expression of CdcFilter executor
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18819 feat(meta): support commit epoch on multiple graphs at once
  proto/hummock.proto
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/lib.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/validator.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#18821 refactor(source): handle `INCLUDE header` data type properly
  src/connector/src/parser/additional_columns.rs
  src/frontend/src/handler/create_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/refactor

#18937 fix(java-binding): use table committed epoch in demo query
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/HummockReadDemo.java
Labels: type/fix, ci/run-java-binding-tests

#18939 chore: fix overwrite to append new migration when using generate cli
  src/meta/model_v2/migration/src/lib.rs
Labels: type/chore, ci/run-e2e-single-node-tests

#18921 fix(sqlparser): keyword after `char` shall not be consumed on error
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#18882 refactor(storage): proactively prevent uncommitted SSTs from GC
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/rpc_client/src/stream_client.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18945 fix(meta): fix contention
  src/meta/src/hummock/manager/gc.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18951 fix: use a fixed snapshot for fuzzy testing
  ci/scripts/deterministic-e2e-test.sh
Labels: type/fix

#18912 feat(mssql-cdc): add ssl support for sqlserver-cdc
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/ValidatorUtils.java
  java/connector-node/risingwave-connector-service/src/main/resources/sql_server.properties
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/external/sql_server.rs
Labels: type/feature, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#18947 fix(cdc): fix the filter expression of CdcFilter executor (#18868)
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
Labels: type/fix, cherry-pick

#18961 fix: prevent mqtt enumerator in dead loop if disconnected
  src/connector/src/error.rs
  src/connector/src/source/mqtt/enumerator/mod.rs
  src/connector/src/source/mqtt/mod.rs
Labels: type/fix

#18919 feat: support background DDL for MV on shared source
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#18760 feat(postgres-cdc): support replicating Postgres schema change
  .typos.toml
  e2e_test/source_legacy/cdc_inline/auto_schema_change_pg.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/PostgresConnectorConfig.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/PostgresSchema.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/PostgresStreamingChangeEventSource.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/connection/ReplicationStream.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/connection/pgoutput/PgOutputMessageDecoder.java
  java/pom.xml
  java/tools/maven/suppressions.xml
  src/common/src/types/jsonb.rs
  src/connector/src/parser/unified/debezium.rs
  src/jni_core/src/jvm_runtime.rs
Labels: type/feature, need-cherry-pick-release-2.1

#18884 refactor(compaction): Simplify task checking in group scheduling
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18472 feat(sink): introduce batching strategy for file sink
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_sink_batch.py
  e2e_test/sink/append_only_sink.slt
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/file_sink/azblob.rs
  src/connector/src/sink/file_sink/batching_log_sink.rs
  src/connector/src/sink/file_sink/fs.rs
  src/connector/src/sink/file_sink/gcs.rs
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/file_sink/webhdfs.rs
  src/connector/src/with_options.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected, need-cherry-pick-release-2.1

#18965 chore(ci): eliminate the progress output of wget
  ci/scripts/backwards-compat-test.sh
  ci/scripts/connector-node-integration-test.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-mongodb-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/release.sh
Labels: type/chore

#18960 chore(test): longer streaming_upload_attempt_timeout_ms for backfill test only
  src/config/ci-backfill.toml
  src/config/ci-longer-streaming-upload-timeout.toml
Labels: type/chore

#18980 fix(ci): use explicit permissions
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: need-cherry-pick-release-2.1

#18973 revert: we allow single quotation in title again
  .github/pr-title-checker-config.json
Labels: type/revert

#18981 fix(ci): add contents write permission
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#18986 doc(dev-guide): minor improve testing guide
  docs/dev/src/tests/intro.md
Labels: component/doc

#18988 fix(meta): read correct id field
  src/storage/hummock_sdk/src/version.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#18994 fix(ci): change backfill test config
  ci/scripts/run-backfill-tests.sh
  risedev.yml
  src/config/ci-backfill.toml
  src/config/ci-longer-streaming-upload-timeout.toml
Labels: type/fix

#18798 feat(snapshot-backfill): control log store back pressure in backfill executor
  proto/stream_service.proto
  src/meta/src/barrier/creating_job/barrier_control.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/state.rs
  src/meta/src/rpc/metrics.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/task/barrier_manager/progress.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#18958 feat: report sink failure event to event log
  proto/meta.proto
  src/connector/src/sink/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_event_logs.rs
  src/meta/service/src/event_log_service.rs
  src/meta/src/manager/event_log.rs
  src/rpc_client/src/meta_client.rs
  src/stream/src/executor/sink.rs
  src/tests/simulation/tests/integration_tests/README.md
  src/tests/simulation/tests/integration_tests/sink/err_isolation.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#18893 feat(meta): commit epoch in separate group delta
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/validate_version.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/prost/build.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#19000 feat: cherry pick #18798, #18819 and #18893 to release-2.1
  proto/hummock.proto
  proto/stream_service.proto
  src/ctl/src/cmd_impl/hummock/validate_version.rs
  src/meta/src/barrier/creating_job/barrier_control.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/state.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/lib.rs
  src/meta/src/rpc/metrics.rs
  src/prost/build.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/validator.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/task/barrier_manager/progress.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#19003 fix(frontend): allow `INCLUDE payload` without other columns
  e2e_test/source_legacy/basic/kafka.slt
  src/frontend/src/handler/create_source.rs
Labels: type/fix

#18946 feat(meta): record Hummock GC history
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241016_065621_hummock_gc_history.rs
  src/meta/model/src/hummock_gc_history.rs
  src/meta/model/src/lib.rs
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/manager/env.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#18989 fix(test): fix some flaky e2e source tests
  e2e_test/source_inline/kafka/avro/glue.slt
  e2e_test/source_inline/kafka/temporary_kafka_batch.slt
Labels: type/fix, need-cherry-pick-release-2.1

#18982 feat(batch): ensure user-facing context is always present for external system errors
  src/batch/src/error.rs
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/executor/s3_file_scan.rs
  src/error/src/anyhow.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-s3-source-tests, ci/main-cron/run-selected

#19005 feat(frontend): support create database with owner
  e2e_test/ddl/database.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature, user-facing-changes

#19014 feat: cherry-pick 18882 and 18946
  proto/stream_service.proto
  src/common/src/config.rs
  src/compute/src/rpc/service/stream_service.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20241016_065621_hummock_gc_history.rs
  src/meta/model_v2/src/hummock_gc_history.rs
  src/meta/model_v2/src/lib.rs
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/stream_client.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18962 fix(ci): ensure timeout steps also notify
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
Labels: type/fix

#18971 ci: parallelize e2e_test/source_inline
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/README.md
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/kafka/consumer_group.slt.serial
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  e2e_test/source_inline/kafka/protobuf/recover.slt.serial
  e2e_test/source_inline/kafka/shared_source.slt.serial
  e2e_test/source_inline/pubsub/pubsub.slt.serial
Labels: component/ci, need-cherry-pick-release-2.1

#19007 fix(common): fix conversion between Decimal to arrow Decimal128
  src/common/src/array/arrow/arrow_iceberg.rs
Labels: type/fix

#18970 test: use tempfile for rw metadata storage in deterministic tests
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-it-test.sh
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/run-deterministic-fuzz-test.sh
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
Labels: component/test, ci/run-recovery-test-deterministic-simulation, ci/run-integration-test-deterministic-simulation, ci/run-e2e-test-deterministic-simulation, ci/run-deterministic-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#19013 chore(deps): unpatch madsim
  Cargo.lock
  Cargo.toml
  src/object_store/Cargo.toml
  src/tests/simulation/Cargo.toml
Labels: type/chore, ci/run-recovery-test-deterministic-simulation, ci/main-cron/run-selected

#18749 feat: enable shared source in session variable by default, and add cluster-level config to disable
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/source_inline/kafka/alter/add_column.slt
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka.slt
  e2e_test/source_inline/kafka/avro/alter_source.slt
  e2e_test/source_inline/kafka/avro/glue.slt
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  e2e_test/source_inline/kafka/shared_source.slt.serial
  e2e_test/source_legacy/basic/kafka.slt
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/config/example.toml
  src/frontend/planner_test/tests/testdata/input/shared_source.yml
  src/frontend/planner_test/tests/testdata/output/shared_source.yml
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/test_utils.rs
  src/tests/simulation/src/cluster.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#18932 fix(iceberg): fix iceberg source position and all delete
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#19012 fix(metric): better agg state cache miss ratio metric
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
Labels: type/fix

#19011 chore: add missing system columns in pg_class and pg_attribute
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
Labels: type/chore

#18943 feat(over window): add `over_window_accessed_entry_count` to metric for better observability
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/chore, type/feature

#19027 feat: add `is_shared` column to `rw_sources`
  e2e_test/source_inline/kafka/shared_source.slt.serial
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
Labels: type/feature, need-cherry-pick-release-2.1

#19029 fix(sqlparser): `Display` changelog with quoted identifiers
  src/sqlparser/src/ast/query.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
Labels: type/fix

#18979 refactor(meta): validate time_travel_retention_ms
  e2e_test/time_travel/basic.slt
  src/common/src/system_param/mod.rs
  src/config/ci-time-travel.toml
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/vacuum.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests, need-cherry-pick-release-2.1

#18944 refactor(meta): clarify the completeness of internal table catalogs
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, type/fix, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, need-cherry-pick-release-2.1

#19030 fix(meta): rename changelog shall check `self.from`
  e2e_test/ddl/alter_rename.slt
  src/meta/src/controller/rename.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18983 feat: persist processed rows for SourceBackfill for SHOW JOBS
  .gitignore
  e2e_test/source_inline/kafka/shared_source.slt.serial
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_backfill_state_table.rs
Labels: type/feature, need-cherry-pick-release-2.1

#18976 refactor: distinguish between placeholder and compat for vnode count
  proto/catalog.proto
  src/common/src/catalog/physical_table.rs
  src/common/src/hash/consistent_hash/compat.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/test_utils.rs
  src/meta/model/src/table.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/mod.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#19026 fix(common): fix conversion between Decimal to arrow Decimal128
  src/common/src/array/arrow/arrow_iceberg.rs
Labels: type/fix

#18925 feat: improve progress msg in SHOW JOBS for source backfill
  proto/stream_service.proto
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/model/stream.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/tests/simulation/tests/integration_tests/README.md
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#19004 test: refactor pg tvf tests into inline tests
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
  ci/workflows/pull-request.yml
  e2e_test/source_inline/tvf/postgres_query.slt
  risedev.yml
  src/risedevtool/src/risedev_env.rs
Labels: component/test

#19046 cherry-pick feat: improve progress msg in SHOW JOBS for source backfill (#18925) to branch release-2.1
  proto/stream_service.proto
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/model/stream.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/tests/simulation/tests/integration_tests/README.md
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests

#19048 test: add planner test case for distinct on
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
Labels: component/test

#19051 test: snapshot with option for sink into table
  e2e_test/sink/sink_into_table/snapshot.slt
Labels: component/test

#19018 feat: Add dashboard Backfill Snapshot Read Throughput(rows) by MV
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Labels: type/feature

#19041 feat(frontend): support `explain format json`
  e2e_test/batch/explain.slt
  src/frontend/planner_test/tests/testdata/input/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/utils/mod.rs
  src/frontend/src/utils/pretty_serde.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/feature

#19064 fix(batch): use streaming api for `postgres_query` when fetching rows from upstream
  src/batch/src/executor/postgres_query.rs
Labels: type/fix, need-cherry-pick-release-2.1

#19060 fix(optimizer): apply join transpose rule
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/apply_join_transpose_rule.rs
  src/frontend/src/optimizer/rule/project_join_separate_rule.rs
Labels: type/fix, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19066 fix(dashboard): show creating job edges in bp graph
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/dashboard/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#19090 fix: remove redundant `consumer_durable_name`
  src/connector/src/source/nats/mod.rs
  src/connector/with_options_source.yaml
Labels: type/fix, need-cherry-pick-release-2.1

#19098 cherry-pick fix: changelog #18785 + #19029 + #19030 to branch release-2.1
  e2e_test/ddl/alter_rename.slt
  e2e_test/streaming/changelog.slt
  src/frontend/src/binder/query.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
Labels: cherry-pick, ci/run-e2e-single-node-tests

#19096 cherry-pick fix: changelog #18785 + #19029 + #19030 to branch release-2.0
  e2e_test/ddl/alter_rename.slt
  e2e_test/streaming/changelog.slt
  src/frontend/src/binder/query.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/select.yaml
Labels: cherry-pick, ci/run-e2e-single-node-tests

#19081 fix(over window): fix table iter pk prefix to use deduped partition key
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/fix, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19092 test(secret): use correct RW_SECRET_STORE_PRIVATE_KEY_HEX length in test
  Cargo.lock
  Makefile.toml
  ci/scripts/common.sh
  docker/docker-compose.yml
  src/common/secret/Cargo.toml
  src/common/secret/src/encryption.rs
  src/meta/src/manager/env.rs
Labels: component/test, ci/run-e2e-single-node-tests

#19078 feat(nimtable): support iceberg tables with privilege check
  risedev.yml
  src/frontend/src/catalog/system_catalog/rw_catalog/iceberg_namespace_properties.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/iceberg_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
Labels: type/feature

#19099 feat(stream): enable background ddl for `StreamNow`, `StreamSource`
  e2e_test/background_ddl/basic.slt
  e2e_test/source_inline/kafka/background_ddl/basic.slt.serial
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/feature, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19085 feat(frontend): allow users to confirm if background_ddl is enabled for a materialized view
  e2e_test/ddl/drop/drop_creating_mv.slt
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
Labels: type/feature

#19052 fix(meta): align job's max parallelism while replacing table
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#19111 feat(iceberg): support s3 path style for iceberg source
  e2e_test/iceberg/test_case/iceberg_select_empty_table.slt
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_source.yaml
Labels: type/feature, user-facing-changes, need-cherry-pick-release-2.1

#18967 feat(source): column pruning for parquet file source
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
Labels: type/feature

#19038 feat(mysql-cdc): support mysql source capture multiple databases
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  src/frontend/src/handler/create_table.rs
Labels: type/feature, need-cherry-pick-release-2.1

#18801 feat(subscription): support cusor order
  e2e_test/subscription/create_table_and_subscription.slt
  e2e_test/subscription/drop_table_and_subscription.slt
  e2e_test/subscription/main.py
  proto/batch_plan.proto
  src/batch/src/executor/log_row_seq_scan.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/batch_log_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/log_scan.rs
  src/frontend/src/session/cursor_manager.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/merge_sort.rs
  src/storage/src/table/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
Labels: type/feature

#18753 refactor: use 1 for vnode count of singletons
  proto/catalog.proto
  proto/meta.proto
  proto/plan_common.proto
  src/common/src/hash/consistent_hash/bitmap.rs
  src/common/src/hash/consistent_hash/compat.rs
  src/common/src/hash/consistent_hash/mapping.rs
  src/common/src/hash/consistent_hash/mod.rs
  src/common/src/hash/consistent_hash/vnode_count.rs
  src/common/src/hash/mod.rs
  src/common/src/hash/table_distribution.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241025_062548_singleton_vnode_count.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/actor.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/main-cron/run-all

#19103 fix(pg-cdc): handle citext data type and other string compatible data types
  src/common/src/types/from_sql.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19128 feat(ci): add docker scout to check vulnerabilities in docker pipeline
  ci/scripts/docker-scout-notify.sh
  ci/scripts/docker-scout.sh
  ci/scripts/docker.sh
  ci/workflows/docker.yml
Labels: type/feature

#19107 refactor(test): unify `sr_register` usage for avro and protobuf
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/commands/sr_register
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/sink/kafka/register_schema.py
  e2e_test/source_inline/kafka/avro/alter_source.slt
  e2e_test/source_inline/kafka/avro/alter_table.slt
  e2e_test/source_inline/kafka/avro/union.slt
  e2e_test/source_inline/kafka/protobuf/recover.slt.serial
Labels: type/refactor

#19067 fix(ci): fix standalone tests startup
  ci/scripts/run-e2e-test.sh
Labels: type/fix, ci/run-e2e-standalone-tests, ci/main-cron/run-selected

#19136 fix(runtime): set default crypto provider
  Cargo.lock
  src/object_store/Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/lib.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#18920 refactor(meta): reorganize global barrier manager field
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/state.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/refactor, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#17968 feat(stream): merge stream chunks at MergeExecutor
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/project.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/from_proto/project.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#19143 fix(ci): fix docker scount notification
  ci/scripts/docker-scout-notify.sh
Labels: need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19130 chore(madsim,deps): use patched `sqlx` managed by the `madsim-rs` organization instead of a personal repository
  Cargo.lock
  Cargo.toml
Labels: type/chore, ci/run-recovery-test-deterministic-simulation, ci/run-integration-test-deterministic-simulation, ci/run-e2e-test-deterministic-simulation, ci/run-unit-test-deterministic-simulation, ci/run-deterministic-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#19151 fix(meta): fix migration query under postgres meta store for #18753
  src/meta/model/migration/src/m20241025_062548_singleton_vnode_count.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#19036 perf(over window): avoid recompute information about window frames
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/perf

#18806 feat(compaction): introduce auto split and merge policy and config
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/model/compaction_group_config.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/compactor_tests.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#19155 fix(meta): fix vnode count data type when querying system table `rw_fragments`
  src/meta/src/controller/utils.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1

#19056 perf(over window): pass through `Update`s not affecting window function outputs
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/no_effect_updates/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/no_effect_updates/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/no_effect_updates/mod.slt.part
  src/common/src/array/stream_record.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/perf
