Repository risingwavelabs/risingwave, pull requests merged in 2024-11, with the labels that each got.

#19209 chore(ci): move fmt and sort checks from `build` step to `check` step
  ci/scripts/build.sh
  ci/scripts/check.sh
Labels: type/chore

#19002 fix: unexpected warning on undefined-field-padding-null error
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/upsert_parser.rs
Labels: type/fix, need-cherry-pick-release-2.1

#19214 perf(over window): O(1) impl for `delta_btree_map::CursorWithDelta::move_next `
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/utils/delta_btree_map/src/lib.rs
Labels: type/perf

#19199 fix(watermark): stop generating watermark messages when stream is paused
  src/stream/src/executor/project.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19169 refactor: move server.id for MySQL CDC from meta to fe
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19231 chore: fix nextest warning
  .config/nextest.toml
Labels: type/chore

#19206 feat(iceberg): bump iceberg-rust
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#19233 perf(over window): shortcut implementation for `first_value` and `last_value` in over window
  src/expr/impl/src/window_function/aggregate.rs
  src/expr/impl/src/window_function/buffer.rs
Labels: type/perf

#19201 feat(frontend): plan nested loop temporal join
  e2e_test/streaming/temporal_join/append_only/nested_loop.slt
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/input/nested_loop_temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/nested_loop_temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/nested_loop_temporal_join.rs
  src/stream/src/from_proto/temporal_join.rs
Labels: type/feature, user-facing-changes

#19192 fix(mysql-cdc): fix mysql enum type default value
  e2e_test/source_legacy/cdc_inline/auto_schema_map_mysql.slt
  src/connector/src/source/cdc/external/mysql.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19058 feat: share kafka client on meta
  Cargo.lock
  Cargo.toml
  e2e_test/source_legacy/basic/ddl.slt
  src/connector/Cargo.toml
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/error.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/meta/Cargo.toml
  src/meta/src/stream/source_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19217 fix(sink): Fix excessive number of starrocks txn
  src/connector/src/sink/starrocks.rs
Labels: type/fix

#19182 fix(nimtable): fix database path
  src/connector/src/connector_common/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Labels: type/fix

#19207 chore(meta): bump sea-orm to 1.0
  Cargo.lock
  Cargo.toml
  src/meta/model/migration/Cargo.toml
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20230908_072257_init.rs
  src/meta/model/migration/src/m20231008_020431_hummock.rs
  src/meta/model/migration/src/m20240304_074901_subscription.rs
  src/meta/model/migration/src/m20240506_112555_subscription_partial_ckpt.rs
  src/meta/model/migration/src/m20240525_090457_secret.rs
  src/meta/model/migration/src/m20240617_070131_index_column_properties.rs
  src/meta/model/migration/src/m20240617_071625_sink_into_table_column.rs
  src/meta/model/migration/src/m20240618_072634_function_compressed_binary.rs
  src/meta/model/migration/src/m20240630_131430_remove_parallel_unit.rs
  src/meta/model/migration/src/m20240701_060504_hummock_time_travel.rs
  src/meta/model/migration/src/utils.rs
  src/meta/model/src/actor.rs
  src/meta/model/src/actor_dispatcher.rs
  src/meta/model/src/catalog_version.rs
  src/meta/model/src/fragment.rs
  src/meta/model/src/function.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/object.rs
  src/meta/model/src/secret.rs
  src/meta/model/src/sink.rs
  src/meta/model/src/table.rs
  src/meta/model/src/user_privilege.rs
  src/meta/model/src/worker.rs
Labels: type/chore, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19241 cherry-pick fix(watermark): stop generating watermark messages when stream is paused (#19199) to branch release-2.1
  src/stream/src/executor/project.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: cherry-pick

#19242 cherry pick fix(watermark): stop generating watermark messages when stream is paused (#19199) to branch release-2.0
  src/stream/src/executor/project.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: cherry-pick

#19239 fix(pg-cdc): fix ssl.mode value to debezium
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19172 feat: support swap rename syntax for table/mview/view/source/sink and subscription
  e2e_test/ddl/alter_swap_rename.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/alter_swap_rename.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19230 refactor(test): reorganize file connector CI tests
  ci/workflows/main-cron.yml
  e2e_test/s3/file_sink.py
  e2e_test/s3/file_source.py
  e2e_test/s3/fs_sink_batch.py
  e2e_test/s3/fs_source_batch.py
  e2e_test/s3/fs_source_v2_new_file.py
  e2e_test/s3/posix_fs_source.py
Labels: type/refactor, ci/run-s3-source-tests, ci/main-cron/run-selected

#19156 fix(meta): address bugs for mysql backend & enable e2e tests
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/meta/model/migration/README.md
  src/meta/model/migration/src/m20230908_072257_init.rs
  src/meta/model/migration/src/m20240304_074901_subscription.rs
  src/meta/model/migration/src/m20240506_112555_subscription_partial_ckpt.rs
  src/meta/model/migration/src/m20241025_062548_singleton_vnode_count.rs
  src/meta/model/migration/src/utils.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19248 cherry pick perf(over window): series of performance improvements to release-2.1
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/no_effect_updates/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/no_effect_updates/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/no_effect_updates/mod.slt.part
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/array/stream_record.rs
  src/expr/core/src/window_function/kind.rs
  src/expr/impl/src/window_function/aggregate.rs
  src/expr/impl/src/window_function/buffer.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_split_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/utils/delta_btree_map/src/lib.rs
Labels: cherry-pick

#19145 chore(deps): update sqlx to 0.8.2, sea-orm to 1.1, sea-orm-migration to 1.1
  Cargo.lock
  Cargo.toml
  src/connector/Cargo.toml
Labels: type/chore, ci/run-recovery-test-deterministic-simulation, ci/run-integration-test-deterministic-simulation, ci/run-e2e-test-deterministic-simulation, ci/run-unit-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#19171 refactor(meta): simplify stream job table/source id assignment
  .git-blame-ignore-revs
  proto/catalog.proto
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19252 fix: fix index create privilege check and ensure consistency between the owner and its associated table
  src/frontend/src/handler/create_index.rs
Labels: type/fix

#19251 fix(connector): handle backwards compat parsing for `boolean` datatype
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  src/connector/src/parser/mysql.rs
Labels: type/fix

#19254 refactor(common): simplify chunk iteration with `filter_by_bitmap`
  src/batch/src/executor/group_top_n.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/lookup_join_base.rs
  src/common/src/bitmap.rs
Labels: type/refactor

#19253 fix(meta): record delta for new compaction group
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/versioning.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19211 fix: support Kinesis with include timestamp
  integration_tests/kinesis-s3-source/create_mv.sql
  integration_tests/kinesis-s3-source/create_source.sql
  integration_tests/kinesis-s3-source/data_check
  src/connector/src/parser/mod.rs
  src/connector/src/parser/util.rs
  src/connector/src/source/kafka/source/message.rs
  src/connector/src/source/kinesis/source/message.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19263 fix: none-shared source to secret dependence
  ci/scripts/e2e-test-parallel.sh
  e2e_test/source_inline/kafka/secret_dep.slt
  src/meta/src/controller/catalog.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19080 feat(compaction): default new compaction group for new table
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19249 fix: fix grant and revoke privileges for internal table
  src/common/src/acl/mod.rs
  src/frontend/src/handler/handle_privilege.rs
  src/meta/model/src/user_privilege.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/sqlparser/src/parser.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19282 chore(test): bump spark from 3.4.3 to 3.4.4
  e2e_test/iceberg/start_spark_connect_server.sh
Labels: type/chore

#19291 fix: don't panic and trigger recovery when applying cancel command for created job
  src/meta/src/barrier/command.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#19243 feat: support `key encode bytes` for sink
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/create_sink.slt
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/encoder/bytes.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/mod.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/feature, need-cherry-pick-release-2.1

#19292 test: fix flaky test `two_phase_approx_percentile_merge_stateless_agg.slt` due to rounding
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
Labels: component/test

#19300 fix(pg-cdc): fix real/float data type mapping
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19255 refactor: some CDC table's code
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/rpc/mod.rs
Labels: type/refactor

#19307 cherry pick perf(over window): series of performance improvements to release-2.0
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/no_effect_updates/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/no_effect_updates/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/no_effect_updates/mod.slt.part
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/common/src/array/stream_record.rs
  src/expr/core/src/window_function/kind.rs
  src/expr/core/src/window_function/states.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_split_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/utils/delta_btree_map/src/lib.rs
Labels: cherry-pick

#19299 fix(metric): include table_change_log when calculating object size #18452
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#19317 cherry-pick: feat(mysql-cdc): support mysql source capture multiple databases #19038 to 2.0
  e2e_test/source/cdc/cdc.share_stream.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  src/frontend/src/handler/create_table.rs
Labels: cherry-pick

#19269 cherry-pick: feat: improve observability for subscription/cursor SHOW commands (#18896)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/frontend/src/handler/show.rs
  src/frontend/src/session/cursor_manager.rs
Labels: cherry-pick

#19295 cherry-pick feat(subscription): support cusor order (#18801)
  e2e_test/subscription/create_table_and_subscription.slt
  e2e_test/subscription/drop_table_and_subscription.slt
  e2e_test/subscription/main.py
  proto/batch_plan.proto
  src/batch/src/executor/log_row_seq_scan.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/batch_log_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/log_scan.rs
  src/frontend/src/session/cursor_manager.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/merge_sort.rs
  src/storage/src/table/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
Labels: cherry-pick

#19318 chore(ci): serial-run `source_inline/kafka/avro/glue.slt`
  e2e_test/source_inline/kafka/avro/glue.slt.serial
Labels: type/chore

#19173 feat(meta): support database checkpoint isolation
  ci/workflows/pull-request.yml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  proto/stream_service.proto
  src/meta/model/src/subscription.rs
  src/meta/service/src/scale_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/state.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/mod.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/mod.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#19329 refactor(meta): list and delete SST objects in meta node
  proto/hummock.proto
  src/meta/node/src/server.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/vacuum.rs
  src/rpc_client/src/compactor_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/vacuum.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19334 refactor(meta): reorganize code of global barrier manager (part 1)
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/checkpoint/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/barrier/worker.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19336 refactor(meta): list and delete SST objects in meta node (#19329)
  proto/hummock.proto
  src/meta/node/src/server.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/vacuum.rs
  src/rpc_client/src/compactor_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/vacuum.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#19221 refactor(source): enhance parquet file source
  e2e_test/s3/file_sink.py
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/types/timestamptz.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
Labels: type/refactor

#19331 chore: enable parallel frontend for rustc
  Cargo.toml
Labels: type/chore

#19338 fix: table with fs connector cannot work with rate limit
  e2e_test/source_inline/fs/posix_fs.slt
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19350 fix: table with fs connector cannot work with rate limit (#19338)
  e2e_test/source_inline/fs/posix_fs.slt
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#19351 refactor(meta): reorganize code of global barrier manager (part 2)
  proto/meta.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/barrier/worker.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19347 refactor(stream): add more assertion on update op handling in hash dispatcher
  src/stream/src/executor/dispatch.rs
Labels: type/refactor

#19355 fix: background mview without backfilling should not tracked in barrier runtime info
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19356 fix: finish background mview without backfill during recovery
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#19357 fix(iceberg): change iceberg rest catalog default implementation to java
  src/connector/src/connector_common/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#19218 feat(compaction): Introducing configuration for compactor preload SstableMeta
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/opts.rs
Labels: type/feature, need-cherry-pick-release-2.1

#19363 fix(cherry-pick): background mview without backfilling should not tracked in barrier runtime info (#19355)
  src/meta/src/barrier/recovery.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#19367 refactor(barrier): not cache actor failure in local barrier worker
  src/stream/src/task/barrier_manager.rs
Labels: type/refactor

#19293 feat(storage): support clear the shared buffer of a subset of tables
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
  src/storage/src/hummock/event_handler/uploader/task_manager.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/feature

#19375 feat(compaction): cherry-pick #19218
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/opts.rs
Labels: type/feature

#19386 fix(ci): delete unused python install before embedded UDF tests
  ci/scripts/run-e2e-test.sh
Labels: type/fix

#19228 feat(frontend): support iceberg predicate pushdown
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/iceberg/start_spark_connect_server.sh
  e2e_test/iceberg/test_case/iceberg_predicate_pushdown.slt
  e2e_test/iceberg/test_case/iceberg_predicate_pushdown.toml
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_scan.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
  src/frontend/src/optimizer/rule/batch/mod.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/main-cron/run-selected

#19385 fix(pg-cdc): write transactional WAL message as heartbeat action
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19379 fix: fix system acl column type to support `\l` command
  e2e_test/batch/catalog/slash_l_database.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_database.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_namespace.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_tablespace.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_connections.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_databases.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_functions.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_indexes.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_internal_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relations.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_schemas.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_secrets.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sinks.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_subscriptions.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_system_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_views.rs
Labels: type/fix, user-facing-changes

#19380 feat(iceberg): make wrehouse.path optional for iceberg rest catalog
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature

#19383 refactor(barrier): add control request to explicitly create partial graph
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19388 feat(dashboard): show cluster version
  dashboard/lib/api/cluster.ts
  dashboard/pages/cluster.tsx
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/diagnose.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19382 chore: split java connector tests
  java/connector-node/assembly/assembly.xml
  java/connector-node/assembly/pom.xml
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/TestUtils.java
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSink.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/sink/FileSinkTest.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/sink/SinkStreamObserverTest.java
  java/connector-node/risingwave-connector-service/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-deltalake-test/pom.xml
  java/connector-node/risingwave-sink-deltalake-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeLocalSinkTest.java
  java/connector-node/risingwave-sink-deltalake-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeSinkFactoryTest.java
  java/connector-node/risingwave-sink-deltalake-test/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-es-7/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es-7/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-sink-jdbc/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-sink-jdbc/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/test/java/com/risingwave/connector/sink/http/HttpTest.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/test/java/com/risingwave/connector/sink/flink/FlinkMockTest.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/test/resources/log4j2.properties
  java/connector-node/risingwave-source-cdc-test/pom.xml
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/MongoDbSourceTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/MongoDbValidatorTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/MySQLSourceTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/SourceTestClient.java
  java/connector-node/risingwave-source-cdc-test/src/test/resources/log4j2.properties
  java/connector-node/risingwave-source-cdc-test/src/test/resources/my.cnf
  java/connector-node/risingwave-source-cdc-test/src/test/resources/orders.tbl
  java/connector-node/risingwave-source-cdc-test/src/test/resources/stored_queries.properties
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jAdapter.java
  java/pom.xml
  java/proto/pom.xml
Labels: type/chore

#19378 feat(iceberg): cherry-pick 19206
  Cargo.lock
  Cargo.toml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#19353 fix(streaming): correctly skip problematic table-function input
  e2e_test/streaming/bug_fixes/issue_19352.slt
  src/stream/src/executor/project_set.rs
Labels: type/fix

#19401 cherry-pick refactor(source): enhance parquet file source (#19221) to branch release-2.1
  e2e_test/s3/fs_sink.py
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/types/timestamptz.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
Labels: cherry-pick

#19372 feat(memory): Separate total memory configurations for FE and Compactor
  src/cmd_all/src/standalone.rs
  src/frontend/src/lib.rs
  src/frontend/src/session.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/feature

#19400 feat(frontend): support xml, yaml format in explain output
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/planner_test/tests/testdata/input/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/input/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: user-facing-changes

#19208 chore: bump java dependencies
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-sink-cassandra/pom.xml
  java/connector-node/risingwave-sink-deltalake-test/pom.xml
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-mock-flink/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/pom.xml
  java/connector-node/risingwave-source-cdc-test/pom.xml
  java/connector-node/risingwave-source-cdc/pom.xml
  java/connector-node/s3-common/pom.xml
  java/java-binding-benchmark/pom.xml
  java/java-binding/pom.xml
  java/pom.xml
  java/proto/pom.xml
Labels: type/chore, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests, ci/run-connector-node-integration-tests, ci/main-cron/run-all

#19404 refactor(udf): remove `function_type` field previously used by Deno UDF
  proto/catalog.proto
  proto/expr.proto
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/sig/udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241115_085007_remove_function_type.rs
  src/meta/model/src/function.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19409 fix(direct-cdc): improve type match for pg-cdc
  e2e_test/source_legacy/cdc_inline/postgres_create_drop.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19250 test: vnode count chaos test in e2e madsim
  ci/workflows/main-cron.yml
  src/tests/simulation/src/main.rs
  src/tests/simulation/src/slt.rs
Labels: type/feature, component/test, ci/run-e2e-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#19212 chore: enable dependabot for java
  .github/dependabot.yml
Labels: type/chore

#19415 feat(batch): use get_keyed_row to implement point get for _rw_timestamp
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/feature

#19412 fix(starrocks): fix starrocks coordinator incorrect try_join_all on join handle
  src/connector/src/sink/starrocks.rs
Labels: type/fix, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19419 fix(test): incorrect flaky madsim initial sink parallelism
  ci/workflows/main-cron.yml
  src/tests/simulation/tests/integration_tests/sink/basic.rs
  src/tests/simulation/tests/integration_tests/sink/err_isolation.rs
  src/tests/simulation/tests/integration_tests/sink/recovery.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Labels: type/fix, ci/run-recovery-test-deterministic-simulation, ci/run-integration-test-deterministic-simulation, ci/run-e2e-test-deterministic-simulation, ci/run-unit-test-deterministic-simulation, ci/run-deterministic-sqlsmith-fuzzing-tests, ci/main-cron/run-selected, ci/run-sql-recovery-test-deterministic-simulation

#19429 fix(batch): unpin snapshot until the end of distributed batch query
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/fix, need-cherry-pick-release-1.10

#19431 feat(storage): support sync on multiple partial graph
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/runner.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/feature

#19432 feat(pgwire): support 1-dimension array in extended mode
  e2e_test/extended_mode/1dim_list.slt.part
  e2e_test/extended_mode/README.md
  e2e_test/extended_mode/type.slt
  src/common/src/types/jsonb.rs
  src/common/src/types/mod.rs
  src/common/src/types/num256.rs
  src/common/src/types/to_binary.rs
  src/tests/e2e_extended_mode/README.md
Labels: type/feature

#19421 fix: request for topic spec metadata to narrow privilege required
  src/connector/src/source/kafka/enumerator/client.rs
Labels: type/fix

#19424 refactor: allow modification of the query mode
  e2e_test/ddl/alter_session_params.slt
  src/common/src/session_config/mod.rs
Labels: type/refactor, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19381 feat(optimizer): allow returning error if a rule fails unrecoverably
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/heuristic_optimizer.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/rule/always_false_filter_rule.rs
  src/frontend/src/optimizer/rule/batch/batch_project_merge_rule.rs
  src/frontend/src/optimizer/rule/join_project_transpose_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/over_window_merge_rule.rs
  src/frontend/src/optimizer/rule/over_window_split_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_agg_and_join_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/frontend/src/optimizer/rule/stream/stream_project_merge_rule.rs
Labels: type/feature

#19438 fix: alter FS source rate_limit is not handled correctly
  e2e_test/source_inline/fs/posix_fs.slt
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19398 refactor(connector): extract the common logic of file_scan tvf and parquet source
  src/batch/src/executor/s3_file_scan.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
  src/frontend/src/expr/table_function.rs
Labels: type/refactor

#19397 fix(iceberg): Bump Icelake version to fix null metadata_log
  Cargo.lock
  Cargo.toml
Labels: ci/run-e2e-iceberg-sink-tests

#19463 fix(meta): remove custom serde
  src/storage/backup/src/lib.rs
  src/storage/hummock_sdk/src/state_table_info.rs
  src/storage/src/hummock/backup_reader.rs
Labels: type/fix, ci/run-e2e-meta-backup-test, need-cherry-pick-release-2.1

#19452 fix(optimizer): enforce input of `BatchMaxOneRow` to be singleton
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/subquery/scalar_subquery.slt.part
  src/frontend/planner_test/tests/testdata/input/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/src/optimizer/plan_node/batch_max_one_row.rs
Labels: type/fix

#19481 chore(cherry-pick): change log level for lease keeper fail (2ff588b)
  src/meta/src/rpc/election/etcd.rs
Labels: type/chore, cherry-pick, ci/run-e2e-single-node-tests

#19468 fix: approximately update table stats for vnode watermark reclaim
  src/meta/src/hummock/manager/compaction/mod.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests

#19393 refactor(barrier): decouple barrier collect and sync in local barrier manager
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#19441 test: fix test cases of `batch/types`
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/types/list/list_case.slt.part
  e2e_test/batch/types/list/list_cast.slt.part
  e2e_test/batch/types/list/list_storage.slt.part
  e2e_test/batch/types/list/multi-dimentional_list_cast.slt.part
Labels: component/test

#19479 chore: change log level for lease keeper fail
  src/meta/src/rpc/election/etcd.rs
Labels: type/chore, ci/run-e2e-single-node-tests

#19453 fix: ignore migration for streaming catalogs that table fragments are missing
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/fix, ci/run-e2e-sql-migration-tests

#19402 refactor(frontend): rework `UPDATE` to support subqueries
  e2e_test/batch/basic/dml_basic.slt.part
  e2e_test/batch/basic/dml_update.slt.part
  proto/batch_plan.proto
  src/batch/src/executor/update.rs
  src/frontend/planner_test/tests/testdata/input/update.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/update.yaml
  src/frontend/src/binder/expr/subquery.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/error.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/optimizer/plan_node/batch_update.rs
  src/frontend/src/optimizer/plan_node/generic/update.rs
  src/frontend/src/optimizer/plan_node/logical_update.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/update.rs
Labels: type/refactor

#19384 fix(source): `REFRESH SCHEMA` shall keep `INCLUDE` pk for `UPSERT`
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
Labels: type/fix

#19450 feat(pgwire): support struct type in extended mode
  ci/scripts/run-e2e-test.sh
  e2e_test/python_client/main.py
  src/common/src/types/postgres_type.rs
  src/common/src/types/to_binary.rs
Labels: type/feature, ci/run-e2e-test

#19443 fix: fix potential data loss for shared source
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/kafka/shared_source.slt.serial
  src/batch/src/executor/source.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kafka/split.rs
  src/connector/src/source/reader/reader.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/task/barrier_manager/progress.rs
Labels: type/fix

#19471 fix(iceberg): fix iceberg parquet file size in bytes statistics
  Cargo.lock
  Cargo.toml
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19445 feat: support backfill_rate_limit for source backfill
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt
  proto/stream_plan.proto
  src/connector/src/sink/encoder/json.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19482 cherry-pick: shared source data loss (#19443) and rate limit (#19445, #19466)
  e2e_test/ddl/drop/drop_creating_mv.slt
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/fs/posix_fs.slt
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka.slt.serial
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  e2e_test/source_inline/kafka/alter/rate_limit_table_kafka.slt.serial
  e2e_test/source_inline/kafka/shared_source.slt.serial
  proto/meta.proto
  proto/stream_plan.proto
  src/batch/src/executor/source.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kafka/split.rs
  src/connector/src/source/reader/reader.rs
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_rate_limit.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/prost/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/task/barrier_manager/progress.rs
Labels: Invalid PR Title, cherry-pick, ci/run-e2e-single-node-tests

#19466 feat: add rw_rate_limit system catalog
  e2e_test/source_inline/fs/posix_fs.slt
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka.slt.serial
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  e2e_test/source_inline/kafka/alter/rate_limit_table_kafka.slt.serial
  proto/meta.proto
  proto/stream_plan.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_rate_limit.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/prost/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19474 refactor(meta): proactively GC more stale objects.
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20240701_060504_hummock_time_travel.rs
  src/meta/model/migration/src/m20241120_182555_hummock_add_time_travel_sst_index.rs
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/mod.rs
  src/storage/hummock_sdk/src/time_travel.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19492 fix(iceberg): pick 19471 to v2.1
  Cargo.lock
  Cargo.toml
Labels: type/fix

#19494 feat(streaming): decouple memory manager tick interval with barrier
  src/common/src/config.rs
  src/compute/src/memory/manager.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/frontend/src/expr/type_inference/func.rs
Labels: type/refactor, type/feature, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19500 refactor(meta): use correct type for the pb counterpart
  src/meta/src/hummock/manager/time_travel.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, priority/low, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests, ci/run-e2e-test-other-backends

#19359 chore: add telemetry reminder if meeting `type/feature`
  .github/label-commenter-config.yml
  .github/workflows/label-triggered.yml
Labels: type/chore, type/feature, user-facing-changes

#19501 refactor: update configuration
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
Labels: type/refactor, need-cherry-pick-release-2.1

#19476 chore: don't treat subscription as streaming job in system catalog
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/meta/src/controller/catalog.rs
Labels: type/chore, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19505 fix(compactor): Fix an unexpected termination of shared compactor
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19509 refactor: rename dummy table id to tmp table id
  src/meta/src/barrier/command.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19516 refactor: update configuration (#19501)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
Labels: type/refactor

#19406 feat(iceberg): support rest authentication
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-sink-tests

#19521 test: re-enable backwards compat tests
  Makefile.toml
  ci/scripts/backwards-compat-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: component/test, ci/run-backwards-compat-tests

#19483 fix(sqlparser): array of struct of struct
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/tests/testdata/array.yaml
Labels: type/fix, breaking-change, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19507 fix(source): `REFRESH SCHEMA` shall keep `INCLUDE` pk for `UPSERT` (#19384)
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
Labels: type/fix

#19506 fix(source): `REFRESH SCHEMA` shall keep `INCLUDE` pk for `UPSERT` (#19384)
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
Labels: type/fix

#19510 refactor: clarify the meaning of table in TableCatalog and TableFragments
  proto/catalog.proto
  proto/ddl_service.proto
  proto/meta.proto
  src/frontend/src/catalog/table_catalog.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19515 fix: when target is table, the sink downstream pk is not set
  e2e_test/sink/sink_into_table/parallelism.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/sink_into_table.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink_into_table.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1

#19277 feat(compaction): Limit the size of the new overlapping level
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends

#19546 fix: when target is table, the sink downstream pk is not set (#19515)
  e2e_test/sink/sink_into_table/parallelism.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/sink_into_table.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink_into_table.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/fix, ci/main-cron/run-all

#19540 fix: upgrade setuptools because of vulnerablility
  e2e_test/iceberg/pyproject.toml
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#19543 doc(dev-guide): note good first issue
  CONTRIBUTING.md
  docs/dev/src/contributing.md
Labels: component/doc

#19449 refactor(optimizer): record error contexts when casting composite types
  Cargo.lock
  Cargo.toml
  e2e_test/batch/basic/dml_update.slt.part
  src/frontend/planner_test/tests/testdata/input/cast.yaml
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/planner_test/tests/testdata/output/cast.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/planner_test/tests/testdata/output/update.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/error.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/mod.rs
Labels: type/refactor

#19520 test(pgwire): complete the test cases to cover all data types
  e2e_test/python_client/main.py
Labels: component/test

#19553 cherry-pick fix: when target is table, the sink downstream pk is not set (#19515) to branch release-2.0
  e2e_test/sink/sink_into_table/parallelism.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/sink_into_table.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink_into_table.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: cherry-pick

#19135 feat(storage): reclaim table throughput statistics
  src/common/src/config.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/table_write_throughput_statistic.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19559 refactor: make object ref outside `ast::Value`
  src/frontend/src/utils/with_options.rs
  src/meta/src/manager/diagnose.rs
  src/sqlparser/src/ast/legacy_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/ast/value.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19554 cherry-pick fix: when target is table, the sink downstream pk is not set (#19515) to branch release-2.1
  e2e_test/sink/sink_into_table/parallelism.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/sink_into_table.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink_into_table.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: cherry-pick

#19551 refactor(meta): provide better message for meta store migration failure
  src/meta/src/controller/mod.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19555 refactor(frontend): better cast error message for `UPDATE` setting to subquery
  e2e_test/batch/basic/dml_update.slt.part
  src/frontend/planner_test/tests/testdata/output/update.yaml
  src/frontend/src/binder/update.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/expr/type_inference/cast.rs
Labels: type/refactor

#19423 chore: bump iceberg version (java)
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/pom.xml
Labels: type/chore, ci/run-e2e-iceberg-sink-tests

#19537 refactor(meta): rename replace_table to replace_stream_job where appropriate
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/error.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19566 chore(sqlsmith): ignore sqrt with negative input error
  src/tests/sqlsmith/src/validation.rs
Labels: type/chore

#19569 refactor(common): consolidate `StructType` constructors (Part 1/2: trivial ones)
  src/batch/src/executor/insert.rs
  src/batch/src/executor/order_by.rs
  src/batch/src/executor/values.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/common/src/util/sort_util.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/stream/src/executor/values.rs
Labels: type/refactor

#19436 perf(cache): reduce exclusive lock usage while dropping in-memory cache entry
  Cargo.lock
  Cargo.toml
  src/batch/src/executor/insert.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/perf

#19523 feat(sink): use mysql dialect for jdbc url start with mariadb
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
Labels: type/feature

#19495 feat(secret): alter secret in catalog
  ci/workflows/pull-request.yml
  e2e_test/ddl/secret.slt
  e2e_test/sink/iceberg_sink.slt
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  proto/ddl_service.proto
  src/common/secret/src/secret_manager.rs
  src/compute/src/observer/observer_manager.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/secret_catalog.rs
  src/frontend/src/handler/alter_secret.rs
  src/frontend/src/handler/create_secret.rs
  src/frontend/src/handler/drop_secret.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19560 feat(risedev): support configuring meta store by url from env var
  Cargo.lock
  Makefile.toml
  src/common/src/config.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/feature

#19323 fix: add RW_HEAP_PROFILING_DIR for frontend
  src/frontend/src/lib.rs
Labels: type/fix

#19561 feat(connector): support more parquet data types
  e2e_test/s3/file_sink.py
  src/common/src/array/arrow/arrow_impl.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
Labels: type/feature

#19562 feat(batch): add `batch_expr_strict_mode` to ignore expression error in batch query
  e2e_test/batch/basic/strict_mode.slt.part
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/plan_common.proto
  src/batch/src/executor/filter.rs
  src/batch/src/executor/project.rs
  src/batch/src/task/task_manager.rs
  src/common/src/session_config/mod.rs
  src/expr/core/src/expr/build.rs
  src/expr/core/src/expr_context.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/integration_tests.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19570 refactor(common): consolidate `StructType` constructors (Part 2/2)
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/catalog/column.rs
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
Labels: type/refactor

#19493 fix(iceberg): pick 19471 to v2.0
  Cargo.lock
  Cargo.toml
Labels: type/fix

#19592 feat(barrier): maintain per database scheduled command queue
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends
