Repository risingwavelabs/risingwave, pull requests merged in 2024-07, with the labels that each got.

#17509 refactor(config): add config to force enable actor tokio metrics
  src/common/src/config.rs
  src/config/example.toml
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#17512 test(batch): add unit test for spill hash agg
  src/batch/benches/hash_agg.rs
  src/batch/src/executor/hash_agg.rs
Labels: component/test

#17498 test: bump sqllogictest to 0.21
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  e2e_test/source_inline/kafka/add_partition.slt
  e2e_test/source_inline/kafka/avro/alter_source.slt
  e2e_test/source_inline/kafka/b.sh
  e2e_test/source_inline/kafka/consumer_group.slt
  e2e_test/source_inline/kafka/include_key_as.slt
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  e2e_test/source_inline/kafka/protobuf/basic.slt
  e2e_test/source_inline/kafka/shared_source.slt
  src/tests/simulation/Cargo.toml
Labels: component/test

#17506 fix(cdc): quote postgres primary key and make mysql column name case-insensitive
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17511 fix(sink): avoid sinking empty stream chunk
  src/stream/src/executor/sink.rs
Labels: type/fix

#17462 chore: support nix shell dev environment
  .gitignore
  develop/nix/devshell.nix
  develop/nix/flake.lock
  develop/nix/flake.nix
  develop/nix/overlays.nix
  docs/developer-guide.md
Labels: type/chore

#17518 fix: fix the query in get_table_by_name
  src/meta/model_v2/src/object.rs
  src/meta/src/controller/catalog.rs
Labels: need-cherry-pick-release-1.10

#17516 chore: update image version from `v1.9.1` to `v1.10.0-rc.1`
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore

#17474 feat(secret): secret management (part 1) add secret ref protos and referent count in meta catalog
  ci/scripts/deterministic-e2e-test.sh
  proto/batch_plan.proto
  proto/catalog.proto
  proto/plan_common.proto
  proto/stream_plan.proto
  src/common/src/catalog/external_table.rs
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_scan.rs
  src/frontend/src/optimizer/plan_node/batch_kafka_scan.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_source_scan.rs
  src/meta/model_v2/src/sink.rs
  src/meta/model_v2/src/source.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/utils.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17526 build: use shallow clone for git dependencies
  .cargo/config.toml
Labels: type/build

#17421 chore: upgrade hdfs builder
  src/object_store/src/object/opendal_engine/hdfs.rs
Labels: type/chore

#17515 fix(frontend): fix changelog out_col_change error and add snowflake upsert sink demo
  e2e_test/streaming/changelog.slt
  integration_tests/snowflake-sink/README.md
  integration_tests/snowflake-sink/upsert/create_mv.sql
  integration_tests/snowflake-sink/upsert/create_sink.sql
  integration_tests/snowflake-sink/upsert/create_source.sql
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/generic/changelog.rs
  src/frontend/src/optimizer/plan_node/logical_changelog.rs
Labels: type/fix, user-facing-changes

#17527 refactor(e2e): use `__NOW__` substitution in e2e test for `generate_series` ends with `now()`
  ci/scripts/run-e2e-test.sh
  e2e_test/streaming/now.slt
  e2e_test/streaming_now/README
Labels: type/refactor

#17521 doc: make developer guide great again (by making it a book)
  .github/workflows/doc.yml
  .gitignore
  CONTRIBUTING.md
  docs/README.md
  docs/dev/README.md
  docs/dev/book.toml
  docs/dev/src/SUMMARY.md
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
  docs/dev/src/benchmark-and-profile/memory-profiling.md
  docs/dev/src/benchmark-and-profile/microbenchmarks.md
  docs/dev/src/build-and-run/intro.md
  docs/dev/src/ci.md
  docs/dev/src/contributing.md
  docs/dev/src/debugging.md
  docs/dev/src/intro.md
  docs/dev/src/observability.md
  docs/dev/src/tests/intro.md
  docs/developer-guide.md
  docs/rustdoc/index.md
Labels: component/doc

#17519 fix: fix a corner case about sink in creating process
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17534 chore: rename `XxxPb` to `PbXxx`
  src/batch/src/executor/join/mod.rs
  src/common/src/util/scan_range.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/chore

#17513 fix(storage): fix abnormal file cache miss on fetch
  Cargo.lock
  Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17540 fix(storage): refill all version delta
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17542 fix(storage): fix abnormal file cache miss on fetch (#17513)
  Cargo.lock
  Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/fix

#17530 feat: support config sql metastore using username and password by env
  src/cmd_all/src/single_node.rs
  src/cmd_all/src/standalone.rs
  src/common/src/config.rs
  src/ctl/src/lib.rs
  src/meta/node/src/lib.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/telemetry.rs
  src/risedevtool/src/task/meta_node_service.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#17535 fix(sql-backend): fix system_parameter value column type and remove unnecessary FKs in mysql metastore
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240702_080451_system_param_value.rs
  src/meta/model_v2/migration/src/m20240702_084927_unnecessary_fk.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10

#17545 feat(batch): use iceberg rust in iceberg scan
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/error.rs
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature

#17547 fix(cherry-pick): fix system_parameter value column type and remove unnecessary FKs in mysql metastore (#17535)
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240702_080451_system_param_value.rs
  src/meta/model_v2/migration/src/m20240702_084927_unnecessary_fk.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17549 ci: fix stale bot scheduled run
  .github/workflows/stale.yml
Labels: component/ci

#17550 feat(batch): bump opendal for batch spill out
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/spill/spill_op.rs
Labels: type/feature

#17553 feat(telemetry): add object store media type in mete telemetry report
  proto/telemetry.proto
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/telemetry.rs
  src/object_store/src/object/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17563 fix: update opendal to 0.47.2 for gcs fix
  Cargo.lock
Labels: type/fix, need-cherry-pick-release-1.10

#17552 fix(object store): try get_or_init jvm before creating hdfs builder
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/hdfs.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17533 refactor: demonstrate graceful shutdown on compute node
  Cargo.lock
  src/cmd/src/lib.rs
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/standalone.rs
  src/common/Cargo.toml
  src/common/src/util/mod.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/connector/Cargo.toml
  src/tests/compaction_test/src/bin/compaction.rs
  src/tests/compaction_test/src/bin/delete_range.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/batch/mod.rs
  src/utils/runtime/src/lib.rs
Labels: type/refactor

#17562 fix(compactor): make sure compaction worker num is strictly larger than 0
  src/storage/src/hummock/compactor/compaction_executor.rs
Labels: type/fix

#17569 fix: fix inappropriate assertion in migration
  src/meta/src/barrier/recovery.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10

#17571 cherry-pick fix: update opendal to 0.47.2 for gcs fix (#17563)
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/sink/snowflake_connector.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Labels: cherry-pick

#17555 doc: add connector dev guide
  docs/dev/src/SUMMARY.md
  docs/dev/src/connector/intro.md
  docs/dev/src/tests/intro.md
  e2e_test/README.md
  e2e_test/commands/README.md
  e2e_test/source/README.md
  e2e_test/source_inline/README.md
Labels: component/doc

#17484 feat(meta): support drop creating materialized views for v1 backend
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/expr/function_impl/pg_get_viewdef.rs
  src/frontend/src/handler/alter_owner.rs
  src/frontend/src/handler/alter_parallelism.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/handler/alter_set_schema.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-backfill-tests, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-test, ci/run-e2e-single-node-tests, ci/main-cron/run-selected

#17570 perf(storage): allow dynamic enable/disable minitrace for tiered cache
  Cargo.lock
  Cargo.toml
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/tiered_cache_tracing.rs
  src/ctl/src/lib.rs
  src/storage/compactor/src/rpc.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/logger.rs
Labels: type/perf

#17478 fix(iceberg): fix jni context class loader
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkCoordinatorHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkValidationHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JniSinkWriterHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/JniSourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  src/connector/src/sink/remote.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/jni_core/src/jvm_runtime.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, ci/run-java-binding-tests, ci/run-java-connector-node-integration-tests, ci/run-e2e-source-tests, ci/run-pulsar-source-tests, ci/run-connector-node-integration-tests, ci/run-e2e-sink-tests

#16538 feat(connector): support gzip compression for file source
  Cargo.lock
  e2e_test/s3/fs_source_v2.py
  src/connector/Cargo.toml
  src/connector/src/source/filesystem/file_common.rs
  src/connector/src/source/filesystem/opendal_source/gcs_source.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/opendal_source/posix_fs_source.rs
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
  src/connector/src/source/filesystem/s3/enumerator.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/with_options.rs
  src/connector/with_options_source.yaml
Labels: type/feature, user-facing-changes, ci/main-cron/run-all

#17463 fix(sink_bench): fix sink bench calculation error
  Cargo.lock
  src/bench/Cargo.toml
  src/bench/sink_bench/main.rs
Labels: type/fix

#17567 refactor: graceful shutdown on frontend node
  src/cmd/src/lib.rs
  src/cmd_all/src/standalone.rs
  src/compute/src/server.rs
  src/ctl/src/common/context.rs
  src/frontend/src/lib.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/cluster_service.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/manager/cluster.rs
  src/rpc_client/src/meta_client.rs
  src/tests/simulation/src/cluster.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17583 fix(frontend): fix changelog append_only
  integration_tests/snowflake-sink/upsert/create_sink.sql
  src/frontend/src/optimizer/plan_node/stream_changelog.rs
Labels: type/fix

#17232 fix(subscription): fix drop subscription not clear cursor
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/test_utils.rs
Labels: type/fix

#17578 fix(meta): make drop streaming job catalog and notify frontend transactional
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected

#17558 refactor(frontend): use iceberg-rust instead of icelake to enumerate iceberg files and snapshots.
  Cargo.lock
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/cdc/load.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table_verify.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table_verify.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table_verify.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink2/docker/hive/config.ini
  integration_tests/iceberg-sink2/docker/storage/config.ini
  integration_tests/iceberg-source/docker/hive/config.ini
  integration_tests/iceberg-source/docker/storage/config.ini
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/Cargo.toml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_files.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_snapshots.rs
Labels: type/refactor, ci/run-e2e-iceberg-sink-tests

#17434 test: add data-driven Avro decode integration tests
  Cargo.lock
  docs/dev/src/tests/intro.md
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/codec/src/lib.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/main.rs
  src/connector/codec/tests/integration_tests/utils.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/schema/schema_registry/util.rs
  src/connector/src/test_data/union-schema.avsc
  src/stream/tests/README.md
Labels: component/test

#17334 feat(cdc): support alter cdc table schema
  e2e_test/source/cdc/postgres_cdc.sql
  e2e_test/source/cdc_inline/alter/cdc_table_alter.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/rpc_client/src/meta_client.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/feature, ci/run-e2e-single-node-tests, mysql-cdc

#17574 refactor: graceful shutdown on risectl
  src/cmd/src/lib.rs
  src/ctl/src/common/context.rs
  src/ctl/src/lib.rs
  src/tests/simulation/src/ctl_ext.rs
Labels: type/refactor

#17598 chore: expose append only info in rw_tables and rw_materialized_views
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_tables.rs
Labels: type/chore, user-facing-changes

#17593 refactor(connector): make source connector's metrics guarded
  src/connector/src/parser/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/monitor/metrics.rs
  src/connector/src/source/nexmark/source/reader.rs
Labels: type/refactor

#17594 refactor(metrics): use counter instead of histogram for barrier align duration
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/union.rs
Labels: type/refactor, need-cherry-pick-release-1.10

#17597 chore: update to openjdk17 for packaging with hdfs
  ci/scripts/docker-hdfs.sh
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/hdfs.rs
Labels: type/chore

#17609 refactor(storage): remove may_exist interface and metrics
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/mem_table.rs
  src/storage/src/monitor/local_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
Labels: type/refactor

#17595 fix(storage): add disk cache buffer threshold to mitigate OOM
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/compute/src/memory/config.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17610 feat(metrics): enable http compression for prometheus metrics service
  src/common/common_service/Cargo.toml
  src/common/common_service/src/metrics_manager.rs
Labels: type/feature, need-cherry-pick-release-1.10

#17620 fix(storage): add disk cache buffer threshold to mitigate OOM (#17595)
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/compute/src/memory/config.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/fix

#17606 feat(batch): support batch s3 parquet file executor
  Cargo.lock
  Cargo.toml
  src/batch/Cargo.toml
  src/batch/src/error.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/s3_file_scan.rs
  src/connector/Cargo.toml
  src/connector/src/source/filesystem/opendal_source/mod.rs
Labels: type/feature

#17568 feat: compact_noop_update_after_outer_join
  src/common/src/array/stream_chunk.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/builder.rs
Labels: type/feature

#17614 cherry-pick refactor(metrics): use counter instead of histogram for barrier align duration
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/union.rs
Labels: cherry-pick

#17500 refactor(storage): remove global epoch in uploader
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
Labels: type/refactor

#17575 refactor: graceful shutdown on compactor node
  src/cmd/src/lib.rs
  src/cmd_all/src/standalone.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/simulation/src/cluster.rs
Labels: type/refactor

#17460 feat(storage): decouple upload task finish order from epoch
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/task_manager.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/feature

#17485 feat(source): support Avro Union type
  e2e_test/commands/sr_register
  e2e_test/source_inline/kafka/avro/alter_source.slt
  e2e_test/source_inline/kafka/avro/union.slt
  src/common/src/types/mod.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/unified/json.rs
Labels: type/feature

#17627 refactor(sink): remove snowflake sink http client
  integration_tests/snowflake-sink/README.md
  integration_tests/snowflake-sink/create_sink.sql
  integration_tests/snowflake-sink/snowflake_prep.sql
  integration_tests/snowflake-sink/upsert/create_sink.sql
  src/connector/src/sink/mod.rs
  src/connector/src/sink/snowflake.rs
  src/connector/src/sink/snowflake_connector.rs
  src/connector/with_options_sink.yaml
  src/object_store/src/object/opendal_engine/opendal_s3.rs
Labels: type/refactor, user-facing-changes

#17638 doc(dev-guide): update link in README to the site
  README.md
  docs/dev/src/intro.md
Labels: component/doc

#17639 chore(storage): unify opendal version
  Cargo.toml
  src/batch/Cargo.toml
  src/connector/Cargo.toml
  src/object_store/Cargo.toml
Labels: type/chore

#17554 refactor(optimizer): unify watermark derivation and monotonicity derivation
  src/frontend/planner_test/tests/testdata/input/generated_columns.yaml
  src/frontend/planner_test/tests/testdata/output/generated_columns.yaml
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/property/mod.rs
  src/frontend/src/optimizer/property/monotonicity.rs
  src/frontend/src/optimizer/rule/stream/filter_with_now_to_join_rule.rs
Labels: type/refactor

#17612 feat: remote input subscribe on barrier mutation
  src/stream/src/executor/exchange/input.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
Labels: type/feature

#17608 refactor: graceful shutdown on meta node & unify election path
  src/cmd/src/lib.rs
  src/cmd_all/src/standalone.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/src/meta_member_service.rs
  src/meta/src/manager/idle.rs
  src/meta/src/rpc/election/dummy.rs
  src/meta/src/rpc/election/etcd.rs
  src/meta/src/rpc/election/mod.rs
  src/meta/src/rpc/election/sql.rs
  src/meta/src/rpc/metrics.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/simulation/src/cluster.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17649 doc(dev-guide): reorg design docs
  docs/dev/src/SUMMARY.md
  docs/dev/src/connector/intro.md
  docs/dev/src/connector/source.md
  docs/dev/src/design/data-model-and-encoding.md
  docs/dev/src/design/meta-service.md
  docs/dev/src/design/multi-object-store.md
  docs/dev/src/design/mv-on-mv.md
  docs/dev/src/design/shared-buffer.md
  docs/dev/src/design/state-store-overview.md
  docs/dev/src/design/streaming-overview.md
Labels: component/doc

#17623 feat(storage): skip refill of trival_move version delta
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/feature, need-cherry-pick-release-1.10

#17656 fix(storage): always clean table watermark below table safe epoch
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version_deltas.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10

#17653 fix(risedev): correct docker schema registry configurations
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/kafka_service.rs
  src/risedevtool/src/task/schema_registry_service.rs
Labels: type/fix

#17641 feat(frontend): support async function for captured context and impl pg_is_in_recovery(), rw_recovery_status()
  proto/expr.proto
  proto/meta.proto
  src/expr/macro/src/context.rs
  src/expr/macro/src/lib.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/function_impl/context.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/function_impl/rw_recovery_status.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/server.rs
  src/meta/service/src/cluster_service.rs
  src/meta/src/barrier/mod.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#17235 feat(storage): refactor commit_epoch code
  proto/stream_service.proto
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/builder.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17642 fix(iceberg): add hive-exec jar
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/pom.xml
Labels: type/fix

#17648 refactor(meta): use upstream version of `etcd-client`
  Cargo.lock
  Cargo.toml
  src/meta/src/storage/wrapped_etcd_client.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17621 feat(storage): support hummock time travel
  proto/batch_plan.proto
  proto/common.proto
  proto/hummock.proto
  proto/plan_common.proto
  src/batch/src/error.rs
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/config.rs
  src/compute/tests/cdc_tests.rs
  src/compute/tests/integration_tests.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/scheduler/snapshot.rs
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240701_060504_hummock_time_travel.rs
  src/meta/model_v2/src/hummock_epoch_to_version.rs
  src/meta/model_v2/src/hummock_sstable_info.rs
  src/meta/model_v2/src/hummock_time_travel_delta.rs
  src/meta/model_v2/src/hummock_time_travel_version.rs
  src/meta/model_v2/src/lib.rs
  src/meta/node/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests

#17666 fix(connector): revert adding hive-exec jar (#17642)
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/pom.xml
Labels: type/fix

#17664 fix(meta): Fix sink_into_table causes mv's depended_subscription_ids to be empty.
  e2e_test/subscription/create_table_and_subscription.slt
  e2e_test/subscription/drop_table_and_subscription.slt
  e2e_test/subscription/main.py
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.9, need-cherry-pick-release-1.10

#17667 feat(ctl): support prefix in hummock full gc
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/cmd_impl/hummock/trigger_full_gc.rs
  src/ctl/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/vacuum.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17660 feat(storage): support block_size metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/monitor/compactor_metrics.rs
Labels: type/feature

#17669 cherry-pick fix(meta): Fix sink_into_table causes mv's depended_subscription_ids to be empty. (#17664) to branch release-1.9
  e2e_test/subscription/create_table_and_subscription.slt
  e2e_test/subscription/drop_table_and_subscription.slt
  e2e_test/subscription/main.py
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/stream_manager.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests

#17625 feat(batch): support batch s3 parquet frontend part
  Cargo.lock
  proto/expr.proto
  src/batch/src/executor/s3_file_scan.rs
  src/connector/Cargo.toml
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/batch_file_scan.rs
  src/frontend/src/optimizer/plan_node/generic/file_scan.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_file_scan.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/table_function_to_file_scan_rule.rs
Labels: type/feature

#17665 feat(batch): support as of now() - interval for time travel
  Cargo.lock
  ci/scripts/e2e-sqlserver-sink-test.sh
  ci/scripts/e2e-time-travel-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/time_travel/basic.slt
  e2e_test/time_travel/index.slt
  e2e_test/time_travel/join.slt
  e2e_test/time_travel/lookup_join.slt
  risedev.yml
  src/config/ci-time-travel.toml
  src/frontend/Cargo.toml
  src/frontend/src/binder/expr/value.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/as_of.yaml
  src/storage/Cargo.toml
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/time_travel_version_cache.rs
Labels: type/feature, ci/run-e2e-time-travel-tests

#17668 cherry-pick fix(meta): Fix sink_into_table causes mv's depended_subscription_ids to be empty. (#17664) to branch release-1.10.0
  e2e_test/subscription/create_table_and_subscription.slt
  e2e_test/subscription/drop_table_and_subscription.slt
  e2e_test/subscription/main.py
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/stream_manager.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests

#17605 feat(source): Avro with AWS Glue Schema Registry
  Cargo.lock
  Cargo.toml
  e2e_test/source_inline/kafka/avro/glue.slt
  proto/catalog.proto
  src/connector/Cargo.toml
  src/connector/src/parser/avro/confluent_resolver.rs
  src/connector/src/parser/avro/glue_resolver.rs
  src/connector/src/parser/avro/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/schema/mod.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature

#17635 feat(storage): pass epoch and table id before barrier
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17539 feat(storage): decouple spill task from epoch
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/common/table/test_storage_table.rs
Labels: type/feature

#17682 fix(test): adapt to ctl change
  src/storage/backup/integration_tests/common.sh
Labels: type/fix

#17684 fix(iceberg): fix iceerg source with rest catalog
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix

#17686 fix(batch): fix time travel issue
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/util/epoch.rs
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17674 refactor(meta): commit finish streaming job in barrier manager
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected

#17624 fix: enable upsert protobuf combination
  e2e_test/source_inline/kafka/protobuf/basic.slt
  e2e_test/source_inline/kafka/protobuf/pb.py
  src/frontend/src/handler/create_source.rs
Labels: type/fix

#17652 feat(ddl): allow alter table with generated columns
  e2e_test/ddl/table/generated_columns.slt.part
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_table.rs
Labels: type/feature, user-facing-changes

#17633 refactor: graceful shutdown in standalone mode
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/standalone.rs
Labels: type/refactor, ci/run-e2e-standalone-tests, ci/main-cron/run-selected

#17672 fix(streaming): find and return root actor failure when injection failed
  src/meta/src/rpc/ddl_controller_v2.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17677 feat(source): Avro with AWS Glue Schema Registry (#17605)
  Cargo.lock
  Cargo.toml
  e2e_test/source_inline/kafka/avro/glue.slt
  proto/catalog.proto
  src/connector/Cargo.toml
  src/connector/src/parser/avro/confluent_resolver.rs
  src/connector/src/parser/avro/glue_resolver.rs
  src/connector/src/parser/avro/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/schema/mod.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature

#17683 fix(storage): license time travel feature
  e2e_test/time_travel/license.slt
  e2e_test/time_travel/syntax.slt
  src/batch/src/executor/row_seq_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/license/src/feature.rs
Labels: type/fix, ci/run-e2e-time-travel-tests

#17692 chore: update version to 1.10.0-rc.2
  Cargo.lock
  Cargo.toml
Labels: type/chore

#17691 refactor(types): remove dead code and minor
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/proto_reader.rs
  src/common/src/types/macros.rs
  src/common/src/types/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
Labels: type/refactor

#17696 refactor(optimizer): some clean up for stream nodes' constructors
  src/frontend/src/optimizer/plan_node/stream_changelog.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/refactor

#17428 refactor(meta): commit finish catalog in barrier manager
  ci/scripts/deterministic-recovery-test.sh
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/ddl_controller_v2.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected

#17701 chore(ci): bump backfill test timeout
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-backfill-tests, ci/main-cron/run-selected, need-cherry-pick-release-1.10

#17702 fix: s3_v2 connector cannot read incremental files
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_source_v2.py
  e2e_test/s3/fs_source_v2_new_file.py
  src/stream/src/executor/source/list_executor.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected, need-cherry-pick-release-1.10

#16445 feat(streaming): introduce nested loop temporal join executor
  src/stream/src/executor/mod.rs
  src/stream/src/executor/nested_loop_temporal_join.rs
  src/stream/src/executor/temporal_join.rs
Labels: type/feature

#17697 refactor(types): doc & refine ToBinary/Text
  src/common/src/types/datetime.rs
  src/common/src/types/decimal.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/types/serial.rs
  src/common/src/types/timestamptz.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_text.rs
  src/connector/src/parser/mysql.rs
  src/expr/impl/src/scalar/cast.rs
  src/utils/pgwire/src/types.rs
Labels: type/refactor

#17699 refactor(dyn-filter): refactor dynamic filter for better readability
  src/frontend/src/optimizer/plan_node/generic/dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/stream/src/executor/dynamic_filter.rs
Labels: type/refactor

#17710 chore: bump typos
  .github/workflows/typo.yml
  .typos.toml
  Makefile.toml
  src/connector/src/sink/clickhouse.rs
  src/storage/src/hummock/sstable/block.rs
Labels: type/chore

#17712 fix(secret): avoid trying to get the secret_store_private_key when there is no secret
  src/meta/service/src/notification_service.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#17706 refactor(sink): use `JsonEncoderConfig` for json encoder
  src/connector/src/sink/encoder/json.rs
Labels: type/refactor

#17687 fix: Kinesis: NextToken and StreamName cannot be provided together
  src/connector/src/source/kinesis/enumerator/client.rs
Labels: type/fix

#17596 feat(ci): introduce main-cron bisect
  ci/scripts/find-regression.py
  ci/workflows/main-cron-bisect.yml
  ci/workflows/main-cron.yml
  docs/dev/src/ci.md
Labels: type/feature

#17719 fix(sink): add es sink max task num
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/BulkProcessorAdapter.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/ElasticBulkProcessorAdapter.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSinkConfig.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/OpensearchBulkProcessorAdapter.java
Labels: type/fix

#17713 fix: s3_v2 connector cannot read incremental files (#17702)
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_source_v2.py
  e2e_test/s3/fs_source_v2_new_file.py
  src/stream/src/executor/source/list_executor.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected

#17693 feat(sink): support encode jsonb data as dynamic json type in sink
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/snowflake.rs
Labels: type/feature, user-facing-changes

#17721 fix(storage): fix the trivial-move loop caused by config and pick_whole_level
  proto/hummock.proto
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10

#17720 doc: fix `main-cron-bisect` docs
  docs/dev/src/ci.md
Labels: component/doc

#17600 feat(optimizer): add `columns_monotonicity` field for PlanNode
  src/frontend/src/optimizer/plan_node/generic/cdc_scan.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_base.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_changelog.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_fs_fetch.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/stream_row_id_gen.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/plan_node/stream_source_scan.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
  src/frontend/src/optimizer/plan_node/stream_values.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/property/monotonicity.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/feature

#17704 feat(dyn-filter): derive `condition_always_relax` from column monotonicity
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Labels: type/feature

#17730 fix(storage): fix multi builder data loss
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/fix, need-cherry-pick-release-1.10

#17731 fix(storage): fix multi builder data loss (cherry pick #17730)
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/fix

#17733 chore: update version to 1.10.0-rc.3
  Cargo.lock
  Cargo.toml
Labels: type/chore

#17728 fix(mysql-cdc): validate mysql version less then 8.4
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
Labels: type/fix, mysql-cdc

#17673 feat(batch): support batch read s3 parquet file
  proto/batch_plan.proto
  src/batch/src/executor/mod.rs
  src/batch/src/executor/s3_file_scan.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/batch_file_scan.rs
  src/frontend/src/optimizer/plan_node/generic/file_scan.rs
  src/frontend/src/optimizer/plan_node/logical_file_scan.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature, user-facing-changes

#17750 chore: update docker image from `v1.10.0-rc.1` to `v1.10.0-rc.3`
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore

#17756 fix(risedev): always use dev profile for `risedev-dev` in `ci-start`
  Makefile.toml
Labels: type/fix

#17745 feat(temporal-filter): support more now expressions in temporal filter pattern
  src/frontend/planner_test/tests/testdata/input/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
Labels: type/feature

#17613 refactor: actor wait barrier manager inject barrier
  src/batch/src/task/env.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/env.rs
  src/stream/src/task/mod.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17742 refactor(meta): only store CreateStreamingJob command in tracker
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#17685 feat(meta): pass streaming error score to meta to locate cluster-level root error
  e2e_test/error_ui/simple/recovery.slt
  src/error/src/tonic.rs
  src/error/src/tonic/extra.rs
  src/meta/src/barrier/rpc.rs
  src/rpc_client/src/error.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17724 fix: watermark filter use commited epoch to read global watermark
  e2e_test/streaming/watermark.slt
  src/stream/src/executor/watermark_filter.rs
Labels: type/fix, ci/run-recovery-test-deterministic-simulation, need-cherry-pick-release-1.9, need-cherry-pick-release-1.10

#17738 fix(ci): fix trigger condition for `s3-v2-source-check` step
  ci/workflows/main-cron.yml
Labels: type/fix

#17763 refactor(types): simplify ArrayImpl::from_protobuf
  src/common/src/array/mod.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/proto_reader.rs
  src/common/src/array/value_reader.rs
  src/common/src/types/datetime.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/types/timestamptz.rs
Labels: type/refactor

#17760 chore: add `production` profile for version release & add developer docs
  Cargo.toml
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docker/aws/aws-build.sh
  docs/dev/src/SUMMARY.md
  docs/dev/src/build-and-run/profiles.md
Labels: type/chore

#17759 fix(source): cleanup unused key schema logic & requirements for `format upsert encode avro`
  e2e_test/source_inline/kafka/avro/name_strategy.slt
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/maxwell/maxwell_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/upsert_parser.rs
Labels: type/fix

#17754 fix(pgcdc): fix uppercase-identifier of pgcdc
  ci/docker-compose.yml
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/postgres_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Labels: type/fix

#17755 feat(streaming): follow `server.connection_pool_size` config for exchange service
  src/batch/src/task/env.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/await_tree.rs
  src/ctl/src/cmd_impl/profile.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/lib.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/env.rs
  src/stream/src/task/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17772 fix(test): skip creating secret file dir in simulation test
  src/common/secret/src/secret_manager.rs
Labels: type/fix, ci/main-cron/run-all

#17767 feat(storage): support get_table_watermark for LocalStateStore
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/mem_table.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#17744 fix(storage): use per-table committed epoch in read version update
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/version.rs
Labels: type/fix, ci/run-e2e-meta-backup-test

#17770 refactor(storage-table): ensure UpdataInsert emit next to UpdateDelete when reading change log
  src/batch/src/executor/log_row_seq_scan.rs
  src/batch/src/lib.rs
  src/storage/src/lib.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/batch_query.rs
Labels: type/refactor

#17769 feat: support prepared statements for `create MV`
  src/frontend/src/binder/create_view.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/statement.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/planner/query.rs
  src/frontend/src/planner/statement.rs
  src/tests/e2e_extended_mode/src/test.rs
Labels: type/feature

#17768 refactor: use separate configuration for exchange connection pool for batch and streaming
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/session.rs
  src/rpc_client/src/compute_client.rs
Labels: type/refactor, user-facing-changes

#17372 feat(compaction): add vnode watermark picker
  proto/hummock.proto
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/compaction/selector/emergency_selector.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/manual_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/compaction/selector/space_reclaim_selector.rs
  src/meta/src/hummock/compaction/selector/tombstone_compaction_selector.rs
  src/meta/src/hummock/compaction/selector/ttl_selector.rs
  src/meta/src/hummock/compaction/selector/vnode_watermark_selector.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/iterator/skip_watermark.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
  src/tests/simulation/tests/integration_tests/main.rs
Labels: type/feature, ci/run-e2e-single-node-tests, compaction-test

#17622 feat(expr): support using scalar functions as aggregates in batch query
  e2e_test/batch/aggregate/scalar_as_agg.slt.part
  e2e_test/udf/python_udf.slt
  proto/expr.proto
  src/batch/benches/hash_agg.rs
  src/batch/src/executor/hash_agg.rs
  src/expr/core/src/aggregate/def.rs
  src/expr/core/src/aggregate/mod.rs
  src/expr/core/src/aggregate/scalar_wrapper.rs
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/sig/mod.rs
  src/expr/core/src/window_function/kind.rs
  src/expr/impl/benches/expr.rs
  src/expr/impl/src/window_function/aggregate.rs
  src/expr/impl/src/window_function/mod.rs
  src/expr/macro/src/gen.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/relation/table_function.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/expr_rewriter.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/expr/window_function.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/over_window.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/optimizer/rule/agg_group_by_simplify_rule.rs
  src/frontend/src/optimizer/rule/apply_agg_transpose_rule.rs
  src/frontend/src/optimizer/rule/distinct_agg_rule.rs
  src/frontend/src/optimizer/rule/grouping_sets_to_expand_rule.rs
  src/frontend/src/optimizer/rule/min_max_on_index_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_agg_and_join_rule.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate_agg_rule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/lambda.yaml
  src/sqlparser/tests/testdata/qualified_operator.yaml
  src/sqlparser/tests/testdata/select.yaml
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/aggregation/mod.rs
  src/stream/src/executor/test_utils.rs
  src/stream/tests/integration_tests/eowc_over_window.rs
  src/stream/tests/integration_tests/over_window.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#17689 feat(ddl): allow drop generated column in table with schema registry
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/frontend/src/handler/alter_table_column.rs
Labels: type/feature, user-facing-changes

#17791 doc: fix space in README.md
  README.md
Labels: component/doc

#17792 chore: optimize retry interval for meta client to speed up cluster init
  src/rpc_client/src/meta_client.rs
Labels: type/chore

#17793 feat(storage): Supports configurable upload part size
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
Labels: type/feature, need-cherry-pick-release-1.10

#17795 feat(source): license check for AWS Glue Schema Registry
  e2e_test/source_inline/kafka/avro/glue.slt
  src/connector/src/parser/mod.rs
  src/license/src/feature.rs
Labels: type/feature

#17797 fix(batch): fix batch left outer join with equal condition
  src/batch/src/executor/join/hash_join.rs
Labels: type/fix, need-cherry-pick-release-1.9, need-cherry-pick-release-1.10
