Repository risingwavelabs/risingwave, pull requests merged in 2024-05, with the labels that each got.

#16518 fix(risedev): don't kill tmux session unnecessarily
  Makefile.toml
  backwards-compat-tests/scripts/utils.sh
Labels: type/fix, ci/run-backwards-compat-tests

#16565 fix(test): make kafka/shared_source.slt less flaky
  e2e_test/source_inline/kafka/shared_source.slt
Labels: type/fix

#16558 fix(error): do not directly format `BoxedError`
  lints/ui/format_error.rs
  src/frontend/src/error.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session/cursor_manager.rs
Labels: type/fix

#16569 fix: name mis-align for `kinesis-s3-source` in main cron
  integration_tests/kinesis-s3-source/create_mv.sql
  integration_tests/kinesis-s3-source/data_check
Labels: type/fix, ci/run-main-cron

#16579 feat(mysql-cdc): support `ssl.mode` to allow configure the ssl behavior
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-source-cdc/pom.xml
  java/pom.xml
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
Labels: type/feature, user-facing-changes

#16380 feat(cdc-backfill): support uuid type as pk for cdc backfill
  e2e_test/source/cdc/cdc.validate.postgres.slt
  src/compute/tests/cdc_tests.rs
  src/connector/src/error.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/mod.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/feature

#16510 refactor(optimizer): add plan phase to plan root
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_subscription.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/planner/delete.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/planner/query.rs
  src/frontend/src/planner/update.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/refactor

#16561 fix(storage): include change log sst in object size map
  src/meta/src/hummock/manager/checkpoint.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16460 feat(meta): support inject barrier to enable and disable writing old value for subscription
  proto/stream_plan.proto
  proto/stream_service.proto
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/state.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16575 refactor(sink): DRY `SinkFormatterImpl::new`
  src/connector/src/schema/avro.rs
  src/connector/src/sink/formatter/mod.rs
Labels: type/refactor

#16586 chore(risedev): provide option to disable backtrace
  src/risedevtool/config/src/main.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/util.rs
Labels: type/chore

#16590 fix(metric): filter out NaN due to divide by zero in Grafana
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
Labels: type/fix

#16562 feat: support inspecting local barrier worker state
  dashboard/pages/await_tree.tsx
  proto/monitor_service.proto
  src/common/src/util/prost.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/ctl/src/cmd_impl/await_tree.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/diagnose.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
  src/utils/futures_util/src/misc.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16563 feat(meta): refactor subscription and cursor with Partial ckpt
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/ddl/alter_parallelism.slt
  e2e_test/subscription/create_table_and_subscription.slt
  e2e_test/subscription/main.py
  proto/catalog.proto
  proto/ddl_service.proto
  proto/hummock.proto
  proto/stream_plan.proto
  src/common/src/catalog/internal_table.rs
  src/common/src/util/stream_graph_visitor.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/subscription_catalog.rs
  src/frontend/src/handler/alter_parallelism.rs
  src/frontend/src/handler/create_subscription.rs
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_subscription.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240506_112555_subscription_partial_ckpt.rs
  src/meta/model_v2/src/subscription.rs
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/notification.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/stream/src/common/log_store_impl/mod.rs
  src/stream/src/common/log_store_impl/subscription_log_store.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/subscription.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/subscription.rs
Labels: type/feature, ci/run-e2e-single-node-tests, block-release-v1.9

#16596 chore: update cherry pick bot to release-1.9
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#16541 feat(risedev): deprecate zookeeper & use kraft mode for kafka service
  Makefile.toml
  docs/developer-guide.md
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/config_gen.rs
  src/risedevtool/src/config_gen/kafka_gen.rs
  src/risedevtool/src/config_gen/zookeeper_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/kafka_service.rs
  src/risedevtool/src/task/zookeeper_service.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-backfill-tests

#16599 fix(meta): Delete first and then rebuild for subscription modle v2 table
  src/meta/model_v2/migration/src/m20240506_112555_subscription_partial_ckpt.rs
Labels: type/fix, ci/run-e2e-single-node-tests, block-release-v1.9

#16593 feat(sink): add metrics to monitor sink back pressure
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/bench/sink_bench/main.rs
  src/connector/src/sink/iceberg/log_sink.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/trivial.rs
  src/connector/src/sink/writer.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature, block-release-v1.9, need-cherry-pick-release-1.9

#16604 fix(test): install sqlite in ci script
  ci/scripts/run-meta-backup-test.sh
Labels: type/fix

#16521 fix(source): make s3 source compatible with minio
  Cargo.lock
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
Labels: type/fix

#16613 fix(storage): fix unexpected dropping change log on compaction version delta
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#16609 chore: unify show cluster result with system catalog
  src/frontend/src/handler/show.rs
Labels: type/chore, user-facing-changes

#16600 feat(risedev): deprecate zookeeper & use kraft mode for kafka service
  Makefile.toml
  docs/developer-guide.md
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/config_gen.rs
  src/risedevtool/src/config_gen/kafka_gen.rs
  src/risedevtool/src/config_gen/zookeeper_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/kafka_service.rs
  src/risedevtool/src/task/zookeeper_service.rs
Labels: type/feature

#16598 feat(cdc): add a parameter to control timeout of cdc source waiting time
  e2e_test/batch/catalog/pg_settings.slt.part
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzSourceUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  src/common/src/session_config/mod.rs
  src/connector/src/source/cdc/mod.rs
  src/frontend/src/handler/create_source.rs
  src/jni_core/src/jvm_runtime.rs
Labels: type/feature, need-cherry-pick-release-1.9

#16363 feat(sink): add Google Pub/Sub support
  src/connector/Cargo.toml
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
Labels: type/feature, user-facing-changes

#16627 fix(test): set missing env var for ci test script
  ci/scripts/run-meta-backup-test.sh
Labels: type/fix

#16567 refactor(arrow): improve the arrow conversion trait
  src/batch/src/executor/iceberg_scan.rs
  src/common/src/array/arrow/arrow_default.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/arrow/mod.rs
  src/common/src/array/bytes_array.rs
  src/common/src/array/list_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/utf8_array.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/table_function/mod.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/src/scalar/external/iceberg.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
Labels: type/refactor

#16610 feat: add database and schema in dashboard
  dashboard/components/Relations.tsx
  dashboard/lib/api/api.ts
  dashboard/lib/api/fetch.ts
  dashboard/lib/api/streaming.ts
  src/meta/src/controller/catalog.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16632 fix: fix user manager refcount on startup
  src/meta/src/manager/catalog/user.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.8, need-cherry-pick-release-1.9

#16616 feat: support memory limit for batch queries
  src/batch/src/error.rs
  src/batch/src/executor/group_top_n.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/lookup_join_base.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/task/env.rs
  src/batch/src/task/task_manager.rs
  src/common/src/memory/alloc.rs
  src/common/src/memory/mem_context.rs
  src/common/src/memory/monitored_heap.rs
  src/compute/src/memory/config.rs
  src/compute/src/server.rs
  src/frontend/src/session.rs
Labels: type/feature

#16231 refactor(object_store): refactor timeout and retry of object store interface
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/sink/snowflake_connector.rs
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/meta/node/src/lib.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/hummock/manager/mod.rs
  src/object_store/src/object/error.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/object_metrics.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
  src/object_store/src/object/s3.rs
  src/storage/backup/src/storage.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/refactor, user-facing-changes, ci/run-e2e-single-node-tests, block-release-v1.9, need-cherry-pick-release-1.9

#16377 feat: impl `key encode` clause for sink
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/sink/kafka/drop_sink.slt
  proto/catalog.proto
  proto/plan_common.proto
  src/bench/sink_bench/main.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/encoder/text.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/redis.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/sqlparser/src/ast/legacy_source.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature, user-facing-changes

#16650 chore: refactor bind connector props for create source and create table with conn
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Labels: type/chore

#16587 feat: specify column when sink into table
  e2e_test/sink/sink_into_table/specify_column.slt
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/sqlparser/src/ast/statement.rs
Labels: type/feature, block-release-v1.9

#16642 feat: add pipeline auto-update Helm Charts and Operator on New Release
  .github/workflows/auto-update-helm-and-operator-version-by-release.yml
Labels: type/feature

#16660 fix: fix dependent table id column type in the model
  src/meta/model_v2/src/subscription.rs
  src/meta/src/controller/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.9

#16639 refactor(parser): simplify ARRAY expression parsing
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/array.yaml
Labels: type/refactor

#16663 chore: a typo
  src/frontend/src/handler/create_sink.rs
Labels: type/chore

#16652 feat(object_store): cherry-pick refactor timeout and retry of object store (2929fb8)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/sink/snowflake_connector.rs
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/meta/node/src/lib.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/hummock/manager/mod.rs
  src/object_store/src/object/error.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/object_metrics.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
  src/object_store/src/object/s3.rs
  src/storage/backup/src/storage.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16625 feat(connector): MSK connection by AWS IAM
  Cargo.lock
  Cargo.toml
  src/connector/Cargo.toml
  src/connector/src/connector_common/common.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/client_context.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/private_link.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/utils/with_options.rs
Labels: type/feature, user-facing-changes

#16661 fix(object_store): fix delete objects timeout config
  src/object_store/src/object/mod.rs
Labels: type/fix

#16594 chore(standalone): add monitoring configuration files
  standalone/grafana.ini
  standalone/prometheus.yml
Labels: type/chore

#16636 fix(parser): cdc source cannot define columns and constraints
  src/sqlparser/src/ast/statement.rs
Labels: type/fix, need-cherry-pick-release-1.9

#16589 refactor(cdc): refactor parsing of non-builtin Postgres data types
  src/connector/src/parser/mod.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/scalar_adapter.rs
  src/connector/src/source/cdc/external/postgres.rs
Labels: type/refactor, need-cherry-pick-release-1.9

#16684 fix(streaming): assign lower score to `BarrierSend` error in root cause discovery
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/fix, need-cherry-pick-release-1.9

#16682 chore: replace the rfc link in nested-loop errors with the user doc link
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/with_ordinality.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/chore

#16619 refactor(udf): switch to the latest arrow-udf versions
  Cargo.lock
  Cargo.toml
  ci/scripts/build-other.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/run-unit-test.sh
  e2e_test/error_ui/simple/main.slt
  e2e_test/udf/external_udf.slt
  e2e_test/udf/java/README.md
  e2e_test/udf/java/pom.xml
  e2e_test/udf/java/src/main/java/com/example/UdfExample.java
  e2e_test/udf/requirements.txt
  e2e_test/udf/test.py
  e2e_test/udf/wasm/Cargo.toml
  java/dev.md
  java/pom.xml
  java/udf/CHANGELOG.md
  java/udf/README.md
  java/udf/pom.xml
  java/udf/src/main/java/com/risingwave/functions/DataTypeHint.java
  java/udf/src/main/java/com/risingwave/functions/PeriodDuration.java
  java/udf/src/main/java/com/risingwave/functions/ScalarFunction.java
  java/udf/src/main/java/com/risingwave/functions/ScalarFunctionBatch.java
  java/udf/src/main/java/com/risingwave/functions/TableFunction.java
  java/udf/src/main/java/com/risingwave/functions/TableFunctionBatch.java
  java/udf/src/main/java/com/risingwave/functions/TypeUtils.java
  java/udf/src/main/java/com/risingwave/functions/UdfProducer.java
  java/udf/src/main/java/com/risingwave/functions/UdfServer.java
  java/udf/src/main/java/com/risingwave/functions/UserDefinedFunction.java
  java/udf/src/main/java/com/risingwave/functions/UserDefinedFunctionBatch.java
  java/udf/src/test/java/com/risingwave/functions/TestUdfServer.java
  java/udf/src/test/java/com/risingwave/functions/UdfClient.java
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/data_chunk.rs
  src/expr/core/Cargo.toml
  src/expr/core/src/error.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/expr/mod.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/udf/Cargo.toml
  src/expr/udf/README-js.md
  src/expr/udf/README.md
  src/expr/udf/examples/client.rs
  src/expr/udf/python/.gitignore
  src/expr/udf/python/CHANGELOG.md
  src/expr/udf/python/README.md
  src/expr/udf/python/publish.md
  src/expr/udf/python/pyproject.toml
  src/expr/udf/python/risingwave/__init__.py
  src/expr/udf/python/risingwave/test_udf.py
  src/expr/udf/python/risingwave/udf.py
  src/expr/udf/python/risingwave/udf/health_check.py
  src/expr/udf/src/error.rs
  src/expr/udf/src/external.rs
  src/expr/udf/src/lib.rs
  src/expr/udf/src/metrics.rs
  src/frontend/Cargo.toml
  src/frontend/src/handler/create_function.rs
Labels: type/refactor

#16669 chore: remove stream lru dead code
  src/common/estimate_size/src/collections/lru.rs
  src/common/estimate_size/src/collections/mod.rs
Labels: type/chore

#16703 chore(docs): Update banner img in README.md
  README.md
Labels: type/chore

#16495 feat(storage): avoid split sst by vnode partition for high level
  src/meta/src/hummock/manager/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16416 fix(cdc): align special values of numeric type in postgres-cdc
  e2e_test/source/cdc/cdc.check_new_rows.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/postgres_cdc.sql
  e2e_test/source/cdc/postgres_cdc_insert.sql
  src/common/src/types/decimal.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/scalar_adapter.rs
  src/connector/src/parser/unified/json.rs
Labels: type/fix, breaking-change, ci/run-backwards-compat-tests, block-release-v1.9, need-cherry-pick-release-1.9

#16690 refactor(optimizer, agg): reuse agg call rewriting logic between agg and over window
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
Labels: type/refactor

#16705 cherry-pick feat: specify column when sink into table (#16587)
  e2e_test/sink/sink_into_table/specify_column.slt
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/sqlparser/src/ast/statement.rs
Labels: cherry-pick

#16683 refactor: move pubsub test to inline style
  Cargo.lock
  Cargo.toml
  ci/scripts/common.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/pubsub/prepare-data.rs
  e2e_test/source_inline/pubsub/pubsub.slt
  risedev.yml
  scripts/source/prepare_ci_pubsub/Cargo.toml
  scripts/source/test_data/pubsub_1_test_topic.1
  src/risedevtool/gcloud-pubsub.toml
  src/risedevtool/src/risedev_env.rs
Labels: type/refactor

#16712 chore(docs): update banner img in README.md
  README.md
Labels: type/chore

#16721 fix: change token and refactor auto-update pipeline
  .github/workflows/auto-update-helm-and-operator-version-by-release.yml
Labels: type/fix

#16727 fix(storage): fix compactor oom by count the memory for cache in compactor
  src/storage/src/hummock/sstable_store.rs
Labels: type/fix

#16674 feat(catalog): add has_table_privilege, has_schema_privilege, has_any…
  e2e_test/batch/catalog/has_privilege.slt.part
  proto/expr.proto
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/expr/function_impl/has_privilege.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/user/user_catalog.rs
Labels: type/feature

#16699 fix(catalog): grant view when grant table
  e2e_test/batch/catalog/has_privilege.slt.part
  proto/user.proto
  src/common/src/acl/mod.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/user/user_catalog.rs
  src/frontend/src/user/user_privilege.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16665 refactor: bind create source
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
Labels: type/refactor

#16626 feat(source): let shared SourceExecutor start from latest instead of specified offset
  e2e_test/source_inline/kafka/shared_source.slt
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kafka/split.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature

#16723 fix: deprecate `SinkPayloadFormat`
  .github/workflows/connector-node-integration.yml
  ci/scripts/connector-node-integration-test.sh
  java/connector-node/python-client/.gitignore
  java/connector-node/python-client/integration_tests.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/JsonDeserializer.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkWriterStreamObserver.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/DeserializerTest.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/SinkStreamObserverTest.java
  proto/connector_service.proto
  src/bench/sink_bench/main.rs
  src/cmd_all/src/standalone.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/connector/src/lib.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/source/reader/desc.rs
  src/rpc_client/src/connector_client.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/task/env.rs
Labels: type/fix

#16743 fix(object_store): fix sdk error downcast
  src/object_store/src/object/s3.rs
Labels: type/fix, need-cherry-pick-release-1.9

#16662 feat: support pg service & pg meta backend in risedev using docker
  risedev.yml
  src/cmd_all/src/single_node.rs
  src/meta/node/src/lib.rs
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/postgres_service.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16750 fix: avoid panic when auto scaling hit the maximum number of bind parameters in sql backend
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.9

#16752 chore: upgrade Ubuntu from 22.04 to 24.04
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docker/aws/Dockerfile
Labels: type/chore

#16732 fix: mysql cdc read timezone and correct mysql test image
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  risedev.yml
Labels: type/fix

#16671 refactor(connector): add proper prefix for aws related properties for connector
  src/connector/src/connector_common/common.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/refactor

#16720 fix(kafka): wrap some rdkafka functions in `spawn_blocking`
  Cargo.lock
Labels: type/fix

#16755 feat(ci): upload timings
  ci/scripts/build-simulation.sh
  ci/scripts/build.sh
Labels: type/feature

#16387 fix(storage): fix compactor task parallelism race
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/context.rs
  src/storage/src/hummock/compactor/mod.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/fix

#15921 feat(storage): wake up memory acquire request in order
  src/storage/src/hummock/utils.rs
Labels: type/feature

#16744 feat(backfill): do not require at least 1 record to be read per epoch, if rate limit enabled
  ci/scripts/run-e2e-test.sh
  e2e_test/backfill/rate_limit/slow-udf.slt
  src/stream/src/executor/backfill/arrangement_backfill.rs
Labels: type/feature, need-cherry-pick-release-1.9

#16768 chore(build): update python3.12 installation in dockerfile
  docker/Dockerfile
  docker/Dockerfile.hdfs
Labels: type/chore

#16770 fix(jdbc-sink): fix primary key bindings for the DELETE statement
  e2e_test/sink/remote/jdbc.check.pg.slt
  e2e_test/sink/remote/jdbc.load.slt
  e2e_test/sink/remote/pg_create_table.sql
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/JdbcDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/MySqlDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialect.java
Labels: type/fix, need-cherry-pick-release-1.9

#16774 fix: make pg metastore by default for integration test
  integration_tests/ad-click/docker-compose.yml
  integration_tests/ad-ctr/docker-compose.yml
  integration_tests/big-query-sink/docker-compose.yml
  integration_tests/cassandra-and-scylladb-sink/docker-compose.yml
  integration_tests/cdn-metrics/docker-compose.yml
  integration_tests/citus-cdc/docker-compose.yml
  integration_tests/clickhouse-sink/docker-compose.yml
  integration_tests/clickstream/docker-compose.yml
  integration_tests/client-library/docker-compose.yml
  integration_tests/cockroach-sink/docker-compose.yml
  integration_tests/debezium-mongo/docker-compose.yaml
  integration_tests/debezium-mysql/docker-compose.yml
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-sqlserver/docker-compose.yml
  integration_tests/deltalake-sink/docker-compose.yml
  integration_tests/doris-sink/docker-compose.yml
  integration_tests/elasticsearch-sink/docker-compose.yml
  integration_tests/feature-store/docker-compose.yml
  integration_tests/http-sink/docker-compose.yml
  integration_tests/iceberg-cdc/docker-compose.yml
  integration_tests/iceberg-sink/docker-compose.yml
  integration_tests/iceberg-sink2/docker/hive/docker-compose.yml
  integration_tests/iceberg-sink2/docker/jdbc/docker-compose.yml
  integration_tests/iceberg-sink2/docker/rest/docker-compose.yml
  integration_tests/iceberg-sink2/docker/storage/docker-compose.yml
  integration_tests/iceberg-source/docker/hive/docker-compose.yml
  integration_tests/iceberg-source/docker/jdbc/docker-compose.yml
  integration_tests/iceberg-source/docker/rest/docker-compose.yml
  integration_tests/iceberg-source/docker/storage/docker-compose.yml
  integration_tests/kafka-cdc-sink/docker-compose.yml
  integration_tests/kafka-cdc/docker-compose.yml
  integration_tests/kinesis-s3-source/docker-compose.yml
  integration_tests/livestream/docker-compose.yml
  integration_tests/mindsdb/docker-compose.yml
  integration_tests/mongodb-cdc/docker-compose.yaml
  integration_tests/mqtt/docker-compose.yml
  integration_tests/mysql-cdc/docker-compose.yml
  integration_tests/mysql-sink/docker-compose.yml
  integration_tests/nats/docker-compose.yml
  integration_tests/pinot-sink/docker-compose.yml
  integration_tests/postgres-cdc/docker-compose.yml
  integration_tests/postgres-sink/docker-compose.yml
  integration_tests/presto-trino/docker-compose.yml
  integration_tests/prometheus/docker-compose.yml
  integration_tests/prometheus/prometheus.yaml
  integration_tests/redis-sink/docker-compose.yml
  integration_tests/schema-registry/docker-compose.yml
  integration_tests/starrocks-sink/docker-compose.yml
  integration_tests/superset/docker-compose.yml
  integration_tests/tidb-cdc-sink/docker-compose.yml
  integration_tests/twitter-pulsar/docker-compose.yml
  integration_tests/twitter/docker-compose.yml
  integration_tests/upsert-avro/docker-compose.yml
  integration_tests/vector/docker-compose.yml
Labels: type/fix

#16698 refactor(meta): deprecate branched sst
  proto/hummock.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_branched_objects.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#16776 fix: bind source do not need pk bug introduced in 16665
  src/frontend/src/handler/create_source.rs
Labels: type/fix

#16780 chore: update version to 1.9.0
  Cargo.lock
  Cargo.toml
Labels: type/chore

#16778 fix: list subscription without filtering in streaming job
  src/meta/src/controller/catalog.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16784 fix: fix name kinesis-s3-source in integration test
  integration_tests/kinesis-s3-source/create_mv.sql
Labels: type/fix

#16710 refactor(meta): break hummock manager Versioning into smaller structs
  src/common/metrics/src/monitor/rwlock.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/vacuum.rs
  src/meta/src/rpc/metrics.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#16783 fix(compactor): fix unneccessary compactor meta grpc stream re-creation
  src/storage/src/hummock/compactor/mod.rs
Labels: type/fix

#16725 feat(storage): only update related read version on flush finish
  src/common/src/config.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/opts.rs
Labels: type/feature

#16719 chore(storage): bump `object_store_read_attempt_timeout_ms` from `8s` to `16s`
  ci/workflows/pull-request.yml
  src/common/src/config.rs
  src/config/example.toml
Labels: type/chore, ci/run-main-cron, ci/run-backfill-tests, ci/run-build, ci/run-build-other, ci/main-cron/skip-ci, need-cherry-pick-release-1.9

#16787 fix(test): fix test script
  ci/scripts/run-meta-backup-test.sh
Labels: type/fix

#16789 chore(storage): revert bump `object_store_read_attempt_timeout_ms` from `8s` to `16s`"
  ci/workflows/pull-request.yml
  src/common/src/config.rs
  src/config/example.toml
Labels: type/chore

#16791 fix(catalog): cherry-pick privilege fixes #16674 and #16699
  e2e_test/batch/catalog/has_privilege.slt.part
  proto/expr.proto
  proto/user.proto
  src/common/src/acl/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/expr/function_impl/has_privilege.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/user/user_catalog.rs
  src/frontend/src/user/user_privilege.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16793 fix(postgres-cdc): fix validation of PK with uppercase
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/postgres_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Labels: type/fix, need-cherry-pick-release-1.9

#16799 feat(stream): add debug logs for join key with high amplification
  ci/workflows/pull-request.yml
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/hash_join.rs
Labels: type/feature, need-cherry-pick-release-1.9

#16797 fix: missing specified meta backend for backwards compat test config
  backwards-compat-tests/scripts/run_local.sh
  ci/scripts/backwards-compat-test.sh
Labels: type/fix, ci/run-backwards-compat-tests

#16804 feat: support pg service & pg meta backend in risedev using docker (#16662)
  risedev.yml
  src/cmd_all/src/single_node.rs
  src/meta/node/src/lib.rs
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/postgres_service.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#16781 chore: update docker image version to v1.9.0
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore

#16822 chore(jdbc-sink): adjust log level
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/chore, need-cherry-pick-release-1.9

#16812 feat(risedev): include --timings when compiling
  Makefile.toml
Labels: type/feature

#16759 refactor(udf): move UDF implementations to `expr_impl`
  Cargo.lock
  Makefile.toml
  ci/scripts/build.sh
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  e2e_test/error_ui/simple/main.slt
  src/cmd_all/Cargo.toml
  src/expr/core/Cargo.toml
  src/expr/core/src/error.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/expr/mod.rs
  src/expr/core/src/sig/mod.rs
  src/expr/core/src/sig/udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/lib.rs
  src/expr/impl/src/udf/deno.rs
  src/expr/impl/src/udf/external.rs
  src/expr/impl/src/udf/mod.rs
  src/expr/impl/src/udf/python.rs
  src/expr/impl/src/udf/quickjs.rs
  src/expr/impl/src/udf/wasm.rs
  src/frontend/Cargo.toml
  src/frontend/src/handler/create_function.rs
  src/risedevtool/config/src/main.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/tests/simulation/Cargo.toml
Labels: type/refactor

#16806 feat: support authorization syntax for CREATE SCHEMA and omitted schema name
  e2e_test/ddl/schema.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature, user-facing-changes

#16820 fix(ci): backwards compat test for 1.9 should use etcd
  ci/scripts/backwards-compat-test.sh
Labels: type/fix, ci/run-backwards-compat-tests

#16762 feat(expr): allow any Error returned by functions
  Cargo.lock
  src/expr/core/Cargo.toml
  src/expr/core/src/error.rs
  src/expr/core/src/lib.rs
  src/expr/impl/src/scalar/encrypt.rs
  src/expr/macro/src/gen.rs
Labels: type/feature

#16800 refactor(object-store): remove async_trait macro on StreamingUploader and refine object store macro
  src/connector/src/sink/snowflake.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/s3.rs
  src/object_store/src/object/sim/mod.rs
Labels: type/refactor

#16827 refactor(frontend): derive `create_type` when generating the table catalog
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#16658 feat(storage): add metrics for iter_log
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/common/metrics/src/relabeled_metric.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/store.rs
Labels: type/feature

#16840 feat(stream): always log hash join large amplification records
  src/stream/src/executor/hash_join.rs
Labels: type/feature, need-cherry-pick-release-1.9

#16847 fix(connector): idle transaction `SHOW TRANSACTION ISOLATION LEVEL` when no sinked data
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/fix

#16845 feat: disable s3's virtual_host_style on release-1.9
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
Labels: type/feature

#16851 fix: switch back from 1.9.0 to 1.8.2
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/fix

#16849 chore(ci): remove background-ddl test
  ci/workflows/main-cron.yml
Labels: type/chore

#16842 fix(cdc): Revert "fix(direct cdc): use `time.precision.mode=connect` (#16119)"
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
Labels: need-cherry-pick-release-1.9

#16826 fix: barrier align metrics for union and dynamic filter
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/union.rs
  src/stream/src/from_proto/union.rs
Labels: type/fix, need-cherry-pick-release-1.9

#16733 feat: rework pubsub source to support parallel read and at-least-once
  e2e_test/source_inline/pubsub/prepare-data.rs
  e2e_test/source_inline/pubsub/pubsub.slt
  risedev.yml
  src/batch/src/executor/source.rs
  src/config/ci-recovery.toml
  src/connector/src/source/google_pubsub/enumerator/client.rs
  src/connector/src/source/google_pubsub/mod.rs
  src/connector/src/source/google_pubsub/source/message.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/connector/src/source/google_pubsub/split.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_source.yaml
  src/risedevtool/src/risedev_env.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature

#16854 fix(test): fix min_overlap panic
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#16777 feat(sink): support delta lake checkpoint decouple
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run- e2e-deltalake-sink-rust-tests

#16838 fix(frontend): use dedicated runtime to accept connection
  src/utils/pgwire/src/pg_server.rs
Labels: type/fix, need-cherry-pick-release-1.9

#16856 fix(risedev): use correct arch when downloading Grafana
  src/risedevtool/common.toml
  src/risedevtool/grafana.toml
Labels: type/fix

#16863 fix: barrier align metrics for union and dynamic filter (#16826)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/barrier_align.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/union.rs
  src/stream/src/from_proto/union.rs
Labels: type/fix

#16861 refactor(optimizer): simplify short circuit optimization
  src/frontend/planner_test/tests/testdata/input/short_circuit.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/short_circuit.yaml
  src/frontend/src/expr/mod.rs
Labels: type/refactor, need-cherry-pick-release-1.9

#16753 fix(storage): do not acquire quota for shared buffer in serving mode
  src/compute/src/memory/config.rs
  src/compute/src/server.rs
Labels: need-cherry-pick-release-1.9

#16860 refactor(stream): improve arrangement backfill logs
  src/stream/src/executor/backfill/arrangement_backfill.rs
Labels: type/refactor, need-cherry-pick-release-1.9

#16867 chore: remove join dead code
  src/stream/src/executor/managed_state/join/join_entry_state.rs
  src/stream/src/executor/managed_state/join/join_row_set.rs
  src/stream/src/executor/managed_state/join/mod.rs
Labels: type/chore

#16872 chore: update version to 1.9.1-rc.1
  Cargo.lock
  Cargo.toml
Labels: type/chore

#12570 feat(storage): support reverse scan
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#16785 fix: remove unused `r#type` field in GooglePubSubConfig
  src/connector/src/sink/google_pubsub.rs
  src/connector/with_options_sink.yaml
Labels: type/fix, user-facing-changes, breaking-change

#16887 fix(build): disable python udf and deno udf on release
  ci/scripts/release.sh
Labels: type/fix

#16885 fix(compactor): fix the calculation of pending_pull_task_count
  src/storage/src/hummock/compactor/mod.rs
Labels: type/fix

#16883 fix(storage): do not acquire quota for shared buffer in serving mode …
  src/compute/src/memory/config.rs
  src/compute/src/server.rs
Labels: type/fix

#16807 feat(func): impl quote_literal & quote_nullable
  proto/expr.proto
  src/common/src/types/to_text.rs
  src/expr/impl/src/scalar/string.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/tests/regress/data/sql/text.sql
Labels: type/feature, user-facing-changes

#16896 chore(ci): reduce sleep time for `always_retry_python.slt`
  e2e_test/udf/always_retry_python.slt
Labels: type/chore

#16761 feat(build): disable vendored openssl
  Cargo.lock
  ci/scripts/build.sh
  ci/scripts/check.sh
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docs/developer-guide.md
  src/connector/Cargo.toml
  src/expr/impl/Cargo.toml
  src/utils/workspace-config/Cargo.toml
Labels: type/feature, ci/run-main-cron

#16898 feat: add barrier align metrics for merge executor
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/merge.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature, need-cherry-pick-release-1.9

#16899 fix(dashboard): materialized view throughput by partition (actor)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Labels: type/fix

#16900 fix(risedev): make it more robust for mysql service
  e2e_test/commands/mysql
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/mysql_service.rs
  src/risedevtool/src/task/postgres_service.rs
  src/risedevtool/src/task/task_log_ready_check.rs
  src/risedevtool/src/task/task_tcp_ready_check.rs
  src/risedevtool/src/wait.rs
Labels: type/fix

#16862 refactor(meta): unify to modify hummock version via transaction
  src/ctl/src/cmd_impl/hummock/pause_resume.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/model/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#16907 fix(build): add openssl and pkg-config to dockerfile
  docker/Dockerfile
  docker/Dockerfile.hdfs
Labels: type/fix

#16908 feat: add barrier align metrics for merge executor (#16898)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/merge.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/feature

#16892 refactor(connector): improve common split reader to chunk stream logic
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/mqtt/source/reader.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
Labels: type/refactor

#16915 chore(catalog): avoid rw_catalog in pg_tables
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_tables.rs
Labels: type/chore

#16909 ci: add back cargo cache
  ci/workflows/pull-request.yml
Labels: component/ci

#16901 fix: clean dirty state and notify for expired worker nodes in cluster controller
  src/meta/service/src/cluster_service.rs
  src/meta/src/controller/cluster.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.9

#16888 fix(cdc): add heartbeat action query to solve WAL accumulation on AWS
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
Labels: type/fix, need-cherry-pick-release-1.9

#16921 feat: cherry-pick only update related read version on flush finish (#16725) to release-1.9
  src/common/src/config.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/opts.rs
Labels: type/feature

#16923 fix: Mixing arrangement backfill and no shuffle backfill can lead to scale failure.
  src/meta/src/stream/scale.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.9

#16147 fix(consistency): enable state table sanity check only in strict consitency mode
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/mem_table.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/lib.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix

#16876 feat(parser): the 1st version of a new combinator style parser
  Cargo.lock
  src/sqlparser/Cargo.toml
  src/sqlparser/src/lib.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/src/parser_v2/impl_.rs
  src/sqlparser/src/parser_v2/mod.rs
  src/sqlparser/src/parser_v2/number.rs
  src/sqlparser/tests/testdata/array.yaml
  src/sqlparser/tests/testdata/select.yaml
  src/sqlparser/tests/testdata/struct.yaml
Labels: type/feature

#16536 feat(risedev): use docker for kafka service
  Makefile.toml
  ci/risedev-components.ci.benchmark.env
  ci/risedev-components.ci.source.env
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/debezium.py
  e2e_test/sink/kafka/debezium3.result
  e2e_test/sink/kafka/upsert3.result
  e2e_test/sink/kafka/upsert_schema3.result
  e2e_test/source_inline/commands.toml
  risedev.yml
  scripts/source/prepare_ci_kafka.sh
  src/cmd_all/scripts/e2e-full-standalone-demo.sh
  src/risedevtool/config/src/main.rs
  src/risedevtool/kafka.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config_gen.rs
  src/risedevtool/src/config_gen/kafka_gen.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/kafka_service.rs
Labels: type/feature, ci/run-backwards-compat-tests

#16859 feat(consistency): tolerate bad join degree
  src/stream/src/executor/join/hash_join.rs
Labels: type/feature

#16937 chore(scripts): Patch regex for install scripts, to allow installing release candidates
  scripts/install/install-risingwave.sh
Labels: type/chore

#16929 fix: fix s3 streaming upload metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
Labels: type/fix

#16891 fix: use the search path when show tables
  e2e_test/ddl/show.slt
  src/frontend/src/handler/show.rs
Labels: type/fix

#16936 fix(storage): fix get_created_table_ids
  src/meta/src/controller/catalog.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.9

#16944 doc(stream): update `streaming_use_arrangement_backfill` session variable docs
  src/common/src/session_config/mod.rs
Labels: component/doc, need-cherry-pick-release-1.9
