Repository risingwavelabs/risingwave, pull requests merged in 2024-02, with the labels that each got.

#14902 feat(sql-backend): disable etcd meta store initialization when sql backend is enabled
  src/common/src/config.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/src/system_params_service.rs
  src/meta/service/src/telemetry_service.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/lib.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/catalog/user.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/notification.rs
  src/meta/src/manager/notification_version.rs
  src/meta/src/model/catalog.rs
Labels: type/feature

#14842 feat(stream): read exactly 1 row if no snapshot read per barrier for arrangement backfill
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/utils.rs
Labels: type/feature, ci/run-main-cron, ci/run-backfill-tests, ci/run-docslt, ci/run-build, ci/run-build-other, ci/run-e2e-test, ci/main-cron/skip-ci

#14889 fix(tests): remove delete range runner test
  ci/scripts/cron-e2e-test.sh
  ci/scripts/pr.env.sh
  ci/scripts/run-e2e-test.sh
  risedev.yml
  src/config/ci-delete-range-test.toml
  src/tests/compaction_test/Makefile.toml
  src/tests/compaction_test/src/bin/delete_range.rs
Labels: type/fix, ci/run-main-cron, ci/run-docslt, ci/run-build, ci/run-build-other, ci/run-e2e-test, ci/main-cron/skip-ci

#14896 test(regress): pgcrypto `encrypt`/`decrypt` for AES (aka Rijndael)
  ci/scripts/regress-test.sh
  src/tests/regress/data/expected/contrib-pgcrypto-rijndael.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/contrib-pgcrypto-rijndael.sql
Labels: component/test

#14560 refactor: minor refactor on fragment graph building
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Labels: type/refactor

#14718 feat(cdc): support disable cdc backfill and only consumes from latest changelog
  e2e_test/source/cdc/cdc.check_new_rows.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/mysql_init_data.sql
  proto/stream_plan.proto
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/generic/cdc_scan.rs
  src/frontend/src/optimizer/plan_node/logical_cdc_scan.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-release-1.6

#14899 chore: enable transactional cdc for mysql and postgres by default
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
Labels: type/chore, user-facing-changes

#14827 feat(expr): add support for make_date/time/timestamp
  e2e_test/batch/basic/make_time.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/make_time.rs
  src/expr/impl/src/scalar/make_timestamptz.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
Labels: type/feature

#14814 refactor: replace ctor by linkme
  Cargo.lock
  src/expr/core/Cargo.toml
  src/expr/core/src/codegen.rs
  src/expr/core/src/lib.rs
  src/expr/core/src/sig/mod.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/lib.rs
  src/expr/macro/src/gen.rs
  src/frontend/Cargo.toml
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/lib.rs
Labels: type/refactor

#14912 chore: update cherry pick version to release-1.7
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#14870 feat(grafana): improve actor info & source throughput panels
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/batch/src/executor/source.rs
  src/common/src/metrics/guarded_metrics.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/monitor/metrics.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/meta/src/rpc/metrics.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature

#14580 refactor(over window): simplify `find_affected_ranges` and correct some corner cases
  src/expr/core/src/window_function/call.rs
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/mod.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/refactor

#14913 chore(dashboard): bump versions: Node.js to v20, Next.js to 14, typescript to 5.3.3
  dashboard/.node-version
  dashboard/next.config.js
  dashboard/package-lock.json
  dashboard/package.json
Labels: type/chore, component/dashboard

#14717 feat: support sql func encrypt/decrypt
  Cargo.lock
  ci/scripts/regress-test.sh
  proto/expr.proto
  src/expr/core/Cargo.toml
  src/expr/core/src/error.rs
  src/expr/core/src/lib.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/encrypt.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/tests/regress/data/expected/contrib-pgcrypto-rijndael.out
  src/tests/regress/data/schedule
  src/tests/regress/data/sql/contrib-pgcrypto-rijndael.sql
  src/workspace-hack/Cargo.toml
Labels: type/feature, user-facing-changes

#14916 chore: fix clippy
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
Labels: type/chore

#14599 feat(log-store): add a vnode col in log store pk
  src/common/src/constants.rs
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/subscription.rs
  src/tests/simulation/tests/integration_tests/sink/basic.rs
Labels: type/feature

#14876 fix(storage): assert no read version in storage reset
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
Labels: type/fix

#14897 chore(deps): bump rquickjs
  Cargo.lock
  Cargo.toml
Labels: type/chore

#14874 refactor(connector): avoid anyhow in `AccessError` and avoid using `RwError` if possible
  src/common/src/error.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
Labels: type/refactor

#14922 fix: using `alter source add column` on a table with conn will panic
  e2e_test/source/basic/alter/kafka.slt
  src/frontend/src/handler/alter_source_column.rs
Labels: type/fix

#14924 fix(batch): fix sequential exchange
  proto/batch_plan.proto
  src/frontend/src/optimizer/plan_node/batch_exchange.rs
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/fix, need-cherry-pick-release-1.7

#14859 test: add ruby client test
  integration_tests/client-library/client_test.py
  integration_tests/client-library/docker-compose.yml
  integration_tests/client-library/ruby/Dockerfile
  integration_tests/client-library/ruby/rw_conn.rb
  integration_tests/client-library/ruby/test/crud_test.rb
  integration_tests/client-library/ruby/test/util.rb
Labels: component/test

#14921 fix: initialize backup system parameter for in memory mode
  src/common/src/config.rs
Labels: type/fix, ci/run-main-cron, ci/run-e2e-parallel-in-memory-tests, ci/run-docslt, ci/run-build, ci/run-build-other, ci/main-cron/skip-ci, need-cherry-pick-release-1.7

#14862 test(connector): add debezium-pg compatible test
  integration_tests/debezium-postgres/create_source.sql
  integration_tests/debezium-postgres/data_check
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-postgres/dockerfile
  integration_tests/debezium-postgres/postgres/postgres_dbz.sh
  integration_tests/debezium-postgres/postgres_prepare.sql
  integration_tests/debezium-postgres/prepare.sh
Labels: component/test

#14891 test(connector): add debezium-mysql compatible test
  integration_tests/debezium-mysql/create_source.sql
  integration_tests/debezium-mysql/data_check
  integration_tests/debezium-mysql/docker-compose.yml
  integration_tests/debezium-mysql/dockerfile
  integration_tests/debezium-mysql/mysql/mysql_dbz.sh
  integration_tests/debezium-mysql/mysql_prepare.sql
  integration_tests/debezium-mysql/prepare.sh
Labels: component/test

#14844 refactor(meta): handle all stream client request in stream rpc manager
  src/meta/node/src/server.rs
  src/meta/service/src/scale_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor

#14935 fix: fix todo & corner case for scaling in sql backend
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/stream/scale.rs
Labels: type/fix, need-cherry-pick-release-1.7

#14884 refactor(expr): refactor constant lookup optimization for case-when expression
  src/expr/impl/src/scalar/case.rs
Labels: type/refactor

#14939 feat(catalog): add source columns to rw_columns
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
Labels: type/feature, need-cherry-pick-release-1.7

#14706 refactor(stream): SourceExecutor minor refactor
  Cargo.lock
  src/stream/Cargo.toml
  src/stream/src/executor/source/executor_core.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/refactor

#14631 refactor(storage): refactor compaction event loop
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/refactor

#14907 fix: remove `privatelink.targets` from with_options in frontend
  src/connector/src/common.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/private_link.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/fix, need-cherry-pick-release-1.7

#14948 fix(dashboard): fix file format to pass linting
  dashboard/next.config.js
Labels: type/fix

#14958 feat(sql-backend): add worker id in actor table to support auto scale in and down in sql backend
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/actor.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Labels: type/feature

#14945 chore(test): separate deterministic integration tests others
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-main-cron, ci/run-build-simulation, ci/run-integration-test-deterministic-simulation, ci/main-cron/skip-ci

#14915 feat(batch): support iceberg scan executor
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/error.rs
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/executor/mod.rs
  src/connector/src/sink/iceberg/jni_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/frontend/src/handler/create_sink.rs
Labels: type/feature

#14880 refactor(storage): refactor on merge imm code
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/iterator/merge_inner.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/version.rs
Labels: type/refactor

#14964 chore(typo): fix license typo
  src/frontend/src/optimizer/plan_expr_rewriter/cse_rewriter.rs
Labels: type/chore

#14962 fix(sql-backend): force sqlite connection singleton to avoid database lock error
  src/meta/node/src/server.rs
Labels: type/fix

#14970 feat: cherry-pick some feature and fix to release 1.7 (#14958, #14962)
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/actor.rs
  src/meta/node/src/server.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Labels: type/feature, cherry-pick

#14903 feat(udf): support inlined Rust UDF
  Cargo.lock
  Cargo.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/build-other.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  e2e_test/udf/wasm_udf.slt
  src/expr/core/src/expr/expr_udf.rs
  src/frontend/src/handler/create_function.rs
  src/sqlparser/src/ast/mod.rs
Labels: type/feature

#14482 feat(compaction): compact tier level at first when overlapping level too many
  src/meta/src/hummock/compaction/picker/emergency_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
Labels: type/feature

#14648 feat(over window): window function `RANGE` frame support in frontend
  proto/expr.proto
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/expr/core/src/window_function/call.rs
  src/expr/core/src/window_function/state/aggregate.rs
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_to_agg_and_join_rule.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature

#14969 ci(chore): build arm binary in release and docker
  ci/docker-compose.yml
  ci/scripts/release.sh
  ci/workflows/docker.yml
  ci/workflows/main-cron.yml
Labels: component/ci, need-cherry-pick-release-1.7

#14952 chore: define the telemetry protocol in protobuf
  proto/telemetry.proto
  src/common/src/telemetry/mod.rs
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/chore

#14982 fix(sql-backend): fix some corner cases in alter rename and schema in sql backend
  e2e_test/batch/basic/logical_view.slt.part
  e2e_test/ddl/alter_rename.slt
  e2e_test/ddl/dependency_check.slt
  e2e_test/source/basic/ddl.slt
  e2e_test/source/basic/old_row_format_syntax/ddl.slt
  src/meta/model_v2/src/table.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, need-cherry-pick-release-1.7

#14416 feat(over window): window function `RANGE` frame support - backend part
  e2e_test/over_window/generated/batch/basic/cross_check.slt.part
  e2e_test/over_window/generated/batch/basic/mod.slt.part
  e2e_test/over_window/generated/batch/basic/setup.slt.part
  e2e_test/over_window/generated/batch/basic/teardown.slt.part
  e2e_test/over_window/generated/streaming/basic/cross_check.slt.part
  e2e_test/over_window/generated/streaming/basic/mod.slt.part
  e2e_test/over_window/generated/streaming/basic/setup.slt.part
  e2e_test/over_window/generated/streaming/basic/teardown.slt.part
  e2e_test/over_window/templates/basic/cross_check.slt.part
  e2e_test/over_window/templates/basic/mod.slt.part
  e2e_test/over_window/templates/basic/setup.slt.part
  e2e_test/over_window/templates/basic/teardown.slt.part
  src/common/src/types/mod.rs
  src/common/src/types/sentinel.rs
  src/expr/core/src/window_function/call.rs
  src/expr/core/src/window_function/state/aggregate.rs
  src/expr/core/src/window_function/state/buffer.rs
  src/expr/core/src/window_function/state/mod.rs
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Labels: type/feature, user-facing-changes

#14941 refactor(test): refactor sql udf test
  e2e_test/udf/sql_udf.slt
  src/frontend/src/handler/create_sql_function.rs
Labels: type/refactor

#14983 chore: re-enable cherry-pick by label even after the PR is closed
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore

#14906 fix(sql-udf): correctly handle `udf_binding_flag` & `udf_global_count`
  e2e_test/udf/sql_udf.slt
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_sql_function.rs
Labels: type/fix

#14988 refactor: additional_columns -> additional_column
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/upsert.rs
  src/connector/src/parser/upsert_parser.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/manager.rs
  src/connector/src/source/reader/desc.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/storage/src/row_serde/mod.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/refactor

#14995 chore(storage): cherry-pick 9e90eeb
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/chore

#14957 feat(lints): improve help message when formatting error in `anyhow` macro
  lints/Cargo.lock
  lints/Cargo.toml
  lints/src/format_error.rs
  lints/ui/format_error.rs
  lints/ui/format_error.stderr
Labels: type/feature

#14950 refactor(connector): replace all `RwError` usage with `anyhow` temporarily
  src/common/src/error.rs
  src/connector/src/aws_utils.rs
  src/connector/src/common.rs
  src/connector/src/error.rs
  src/connector/src/parser/additional_columns.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/schema_resolver.rs
  src/connector/src/parser/bytes_parser.rs
  src/connector/src/parser/canal/simd_json_parser.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/maxwell_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/protobuf/schema_resolver.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/util.rs
  src/connector/src/parser/upsert_parser.rs
  src/connector/src/parser/util.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/schema_registry/client.rs
  src/connector/src/schema/schema_registry/util.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/remote.rs
  src/connector/src/source/base.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/generator.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/connector/src/source/reader/desc.rs
  src/connector/src/source/reader/fs_reader.rs
  src/connector/src/source/reader/reader.rs
Labels: type/refactor

#14996 chore: add go pkg in telemetry proto
  proto/telemetry.proto
Labels: type/chore

#14999 fix(sql-backend): avoid non deterministic initialization of fragments for new create streaming job
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/user.rs
Labels: type/fix, need-cherry-pick-release-1.7

#14951 feat(cmd_all): support `single_node` mode
  Cargo.lock
  src/cmd_all/Cargo.toml
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/lib.rs
  src/cmd_all/src/playground.rs
  src/cmd_all/src/single_node.rs
  src/cmd_all/src/standalone.rs
  src/common/src/lib.rs
  src/compute/src/lib.rs
  src/meta/node/src/lib.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-release-1.7

#14901 feat(scripts): add script to install risingwave
  scripts/install/install-risingwave.sh
Labels: type/feature, need-cherry-pick-release-1.7

#14994 feat(compaction): compact partitioned level for EmergencyCompactionPicker
  src/meta/src/hummock/compaction/picker/emergency_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
Labels: type/feature

#14934 feat(type): improve the `Fields` derive macro
  src/common/fields-derive/src/gen/test_output.rs
  src/common/fields-derive/src/lib.rs
  src/common/src/types/fields.rs
  src/common/src/types/mod.rs
Labels: type/feature

#14794 chore: remove table properties in proto
  proto/catalog.proto
  proto/hummock.proto
  proto/plan_common.proto
  src/common/src/catalog/mod.rs
  src/common/src/catalog/physical_table.rs
  src/common/src/constants.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/generic/dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/generic/top_n.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_now.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sort.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/table.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/mod.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/filter_key_extractor.rs
  src/storage/src/hummock/compactor/compaction_filter.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Labels: type/chore, ci/run-backwards-compat-tests, need-cherry-pick-release-1.7

#15017 fix: remove `privatelink.targets` from with_options in frontend (#14907)
  src/connector/src/common.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/private_link.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/fix

#15019 chore: update workspace version
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#15021 chore: update docker image version from v1.6.0 to v1.6.1
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose.yml
Labels: type/chore

#15014 chore(test): add more planner tests for case-when optimization expression
  src/frontend/planner_test/tests/testdata/input/case_when_optimization.yaml
  src/frontend/planner_test/tests/testdata/output/case_when_optimization.yaml
Labels: type/chore

#15032 fix(test): fix case_when_optimization test
  src/frontend/planner_test/tests/testdata/output/case_when_optimization.yaml
Labels: type/fix

#15023 fix(storage): fix compactor oom 0206
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/builder.rs
Labels: type/fix

#14956 refactor(error): clean-up direct error formatting (part 5, done)
  src/connector/src/lib.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/google_pubsub/enumerator/client.rs
  src/connector/src/source/google_pubsub/source/reader.rs
  src/connector/src/source/kafka/source/reader.rs
Labels: type/refactor

#15026 feat(optimizer): support PullUpCorrelatedPredicateAggRule
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate_agg_rule.rs
Labels: type/feature

#15011 fix(integration_tests): separate test for arrangement backfill cancel with high barrier latency
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/fix

#15002 chore(bench): increase key count
  src/storage/benches/bench_compactor.rs
Labels: type/chore, ci/run-main-cron, ci/run-micro-benchmarks, ci/main-cron/skip-ci

#13490 feat(open telemetry): report rw version in telemetry
  src/meta/src/telemetry.rs
Labels: type/feature

#14363 feat(Sink): Enhanced integration with StarRocks
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, user-facing-changes

#15040 fix(sql-backend): change stream node type from json to binary to fix stack overflow
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/model_v2/Cargo.toml
  src/meta/model_v2/migration/Cargo.toml
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/model_v2/src/fragment.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/prelude.rs
  src/meta/node/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/system_param.rs
  src/meta/src/controller/utils.rs
  src/meta/src/hummock/manager/sequence.rs
  src/meta/src/manager/notification_version.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15028 fix(scripts): update the install script to be POSIX compliant, support linux-aarch64, pin brew install version
  scripts/install/install-risingwave.sh
Labels: type/fix

#15039 refactor(test): assemble unimplemented tests together & add future roadmap for sql udf
  e2e_test/udf/sql_udf.slt
Labels: type/refactor

#15045 fix(optimizer): fix batch two phase topn
  src/frontend/planner_test/tests/testdata/input/topn.yaml
  src/frontend/planner_test/tests/testdata/output/topn.yaml
  src/frontend/src/optimizer/plan_node/batch_topn.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15059 fix: fix pg_database e2e to make it compatible with sql-backend
  e2e_test/batch/catalog/pg_database.slt.part
Labels: type/fix, need-cherry-pick-release-1.7

#15066 feat: configure WARN default log level for sqlx
  src/utils/runtime/src/logger.rs
Labels: type/feature, need-cherry-pick-release-1.7

#15079 fix(cdc-backfill): ensure snapshot read once for each epoch
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/source/cdc/external/postgres.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/udf/src/external.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/fix

#15072 chore(scripts): support brew install via script
  scripts/install/install-risingwave.sh
Labels: type/chore

#15031 refactor(connector): simplify and clean-up unused variants of `ConnectorError`
  src/connector/src/error.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/pulsar/source/reader.rs
Labels: type/refactor

#15088 chore: fix nightly clippy
  src/common/src/session_config/sink_decouple.rs
  src/connector/src/source/pulsar/topic.rs
  src/connector/src/source/reader/fs_reader.rs
  src/expr/core/src/expr/build.rs
  src/expr/macro/src/parse.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/storage/benches/bench_fs_operation.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/hummock_trace/src/write.rs
  src/storage/src/hummock/block_cache.rs
  src/stream/src/common/table/state_table_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/chore

#15089 refactor: reduce indent level for source_executor
  src/stream/src/executor/source/source_executor.rs
Labels: type/refactor

#15090 chore: longer timeout for e2e test
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#15073 feat: add kafka props enable.ssl.certificate.verification
  src/connector/src/common.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature

#15086 refactor(connector): make `ConnectorError` a wrapper of `anyhow::Error`
  Cargo.lock
  src/connector/src/error.rs
  src/error/Cargo.toml
  src/error/src/anyhow.rs
  src/error/src/lib.rs
Labels: type/refactor

#15100 chore: temporarily bypass FullKeyTracker for #15099
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/iterator/forward_user.rs
Labels: type/chore, need-cherry-pick-release-1.7

#15102 chore: temporarily bypass FullKeyTracker for #15099
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/iterator/forward_user.rs
Labels: type/chore

#15110 fix(sql-backend): clean up dirty source catalogs for failed table with connectors and recovery
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15108 feat(catalog): implement `pg_settings`
  e2e_test/batch/catalog/issue_8791.slt.part
  e2e_test/batch/catalog/pg_settings.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_settings.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/task_context.rs
Labels: type/feature

#14977 refactor(meta): merge periodic and scheduled barrier and non-async handle barrier
  src/meta/service/src/scale_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor

#13639 chore(deps): Bump the opentelemetry group
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  src/bench/Cargo.toml
  src/common/Cargo.toml
  src/common/src/util/tracing.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/logger.rs
  src/workspace-hack/Cargo.toml
Labels: type/chore

#15076 fix(udf): fix "udf returned no data" error
  src/expr/core/src/expr/expr_udf.rs
  src/expr/udf/src/external.rs
Labels: type/fix

#15113 feat(frontend): add description column for `SHOW PARAMETERS`
  src/common/src/system_param/reader.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/utils/infer_stmt_row_desc.rs
Labels: type/feature

#15123 feat(frontend): support tab-completion for `[ALTER SYSTEM] SET`
  e2e_test/batch/catalog/pg_settings.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_settings.rs
  src/frontend/src/scheduler/task_context.rs
  src/frontend/src/session.rs
Labels: type/feature, user-facing-changes

#15114 fix(pg-cdc): support inject UUID column to VARCHAR for shared pg source
  Cargo.lock
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/postgres_cdc.sql
  src/connector/Cargo.toml
  src/connector/src/parser/postgres.rs
  src/workspace-hack/Cargo.toml
Labels: type/fix, need-cherry-pick-release-1.7

#15128 chore: fix incorrect metric relabel
  src/storage/src/monitor/hummock_state_store_metrics.rs
Labels: type/chore

#15104 refactor: refactor source executor (part 2)
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/refactor

#15133 fix(storage): remove unnecessary metadata io during list
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15143 refactor: rename `TO_TIMESTAMP{,1}` in expr.proto for clarity
  proto/expr.proto
  src/expr/impl/benches/expr.rs
  src/expr/impl/src/scalar/timestamptz.rs
  src/expr/impl/src/scalar/to_timestamp.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/session_timezone.rs
  src/frontend/src/expr/utils.rs
Labels: type/refactor

#14946 fix(cdc): enable cdc transaction for shared source only
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  src/connector/src/source/cdc/mod.rs
  src/frontend/src/handler/create_source.rs
Labels: type/fix, need-cherry-pick-release-1.7

#14409 feat(object store): introduce new s3 object store via OpenDAL
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
Labels: type/feature

#15184 feat(expr): allow explicit cast serial to bigint
  e2e_test/batch/catalog/pg_cast.slt.part
  src/common/src/types/serial.rs
  src/expr/impl/src/scalar/cast.rs
  src/frontend/src/expr/type_inference/cast.rs
Labels: type/feature

#15145 fix: broken link in README
  README.md
Labels: type/fix

#15177 chore: upgrade declared pg version to 13.14.0
  e2e_test/batch/catalog/version.slt.part
  e2e_test/batch/functions/setting.slt.part
  src/common/src/lib.rs
Labels: type/chore

#15194 fix(storage): fix expired timeout sec
  src/meta/node/src/lib.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15024 feat(storage): improve block memory usage
  src/storage/src/hummock/file_cache/store.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/builder.rs
Labels: type/feature

#15155 fix(object_store): fs and hdfs object store should set atomic_write_dir
  risedev.yml
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/mod.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Labels: type/fix

#15182 refactor(object store): use AssumeRoleWithWebIdentity for opendal s3
  src/object_store/src/object/opendal_engine/opendal_s3.rs
Labels: type/refactor

#14142 feat(test): Add starrocks redis doris cassandra e2e test
  ci/docker-compose.yml
  ci/scripts/e2e-cassandra-sink-test.sh
  ci/scripts/e2e-clickhouse-sink-test.sh
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  ci/scripts/e2e-doris-sink-test.sh
  ci/scripts/e2e-pulsar-sink-test.sh
  ci/scripts/e2e-redis-sink-test.sh
  ci/scripts/e2e-starrocks-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/cassandra_sink.slt
  e2e_test/sink/doris_sink.slt
  e2e_test/sink/redis_sink.slt
  e2e_test/sink/starrocks_sink.slt
  risedev.yml
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, ci/run-e2e-clickhouse-sink-tests, ci/run- e2e-deltalake-sink-rust-tests, need-cherry-pick-release-1.7, ci/run-e2e-doris-sink-tests, ci/run-e2e-redis-sink-tests, ci/run-e2e-starrocks-sink-tests, ci/run-e2e-cassandra-sink-tests

#15149 feat(sink demo): Add http sink demo
  integration_tests/http-sink/README.md
  integration_tests/http-sink/create_mv.sql
  integration_tests/http-sink/create_sink.sql
  integration_tests/http-sink/create_source.sql
  integration_tests/http-sink/docker-compose.yml
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/main/java/com/risingwave/mock/flink/http/HttpFlinkMockSinkFactory.java
Labels: type/feature

#15130 refactor(frontend): use `#[derive(Fields)]` in statement handlers
  src/common/fields-derive/src/lib.rs
  src/frontend/src/handler/cancel_job.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/handler/transaction.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/session.rs
  src/frontend/src/utils/infer_stmt_row_desc.rs
  src/frontend/src/utils/mod.rs
Labels: type/refactor

#15161 fix(sql-backend): fix error message for altering unrecognized system parameter
  e2e_test/error_ui/simple/main.slt
  src/common/src/system_param/mod.rs
  src/meta/src/controller/system_param.rs
Labels: type/fix

#15151 feat: add some missing columns and views to support atlas
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_index.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_partitioned_table.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
  src/frontend/src/catalog/table_catalog.rs
Labels: type/feature, user-facing-changes

#15112 refactor(meta): track finished create mv job in tracker
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
Labels: type/refactor

#15191 chore: fix `risedev kill`
  Makefile.toml
Labels: type/chore

#15203 chore: bump version of spotless plugin
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraConfig.java
  java/pom.xml
Labels: type/chore

#14971 feat(frontend): support create iceberg source
  proto/plan_common.proto
  src/connector/src/macros.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/base.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/mod.rs
  src/connector/with_options_source.yaml
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/sqlparser/src/ast/statement.rs
Labels: type/feature

#15193 feat: try to reduce memory usage in scaling
  src/meta/src/stream/scale.rs
  src/meta/src/stream/test_scale.rs
Labels: type/feature, need-cherry-pick-release-1.7

#15147 chore: set `buf breaking` rule back to `WIRE_JSON`
  proto/buf.yaml
Labels: type/chore

#15126 fix(frontend): require primary key for system table
  e2e_test/batch/catalog/pg_settings.slt.part
  src/common/fields-derive/src/gen/test_empty_pk.rs
  src/common/fields-derive/src/gen/test_no_pk.rs
  src/common/fields-derive/src/gen/test_output.rs
  src/common/fields-derive/src/lib.rs
  src/common/src/types/fields.rs
  src/frontend/macro/src/lib.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_settings.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_branched_objects.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_pinned_snapshots.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_pinned_versions.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_meta_snapshot.rs
Labels: type/fix

#15199 fix(optimizer): visit ternary ops when offset is specified for `tumble`
  e2e_test/streaming/bug_fixes/issue_15198.slt
  src/frontend/src/expr/utils.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15115 feat(stream): concurrent fetch for temporal join (take 2)
  src/stream/src/cache/managed_lru.rs
  src/stream/src/executor/temporal_join.rs
Labels: type/feature

#15176 feat(cmd_all): create directories in `single_node` mode
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/single_node.rs
Labels: type/feature, need-cherry-pick-release-1.7

#15053 fix(expr): align timestamp(tz)'s output format with pg's
  Cargo.lock
  e2e_test/batch/basic/make_time.slt.part
  src/common/src/types/datetime.rs
  src/common/src/types/timestamptz.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/make_time.rs
  src/expr/impl/src/scalar/timestamptz.rs
  src/frontend/src/handler/util.rs
Labels: type/fix, breaking-change, ci/run-backwards-compat-tests, need-cherry-pick-release-1.7

#13800 feat(connector): partition source reader batch_size by `rate_limit`
  e2e_test/streaming/rate_limit/basic.slt
  e2e_test/streaming/rate_limit/upstream_amplification.slt
  src/batch/src/executor/source.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-docslt, ci/run-build, ci/run-build-other, ci/run-e2e-test, need-cherry-pick-release-1.6

#15216 fix(tracing): fix missing new barrier enqueued event
  src/meta/src/barrier/mod.rs
Labels: type/fix

#15158 feat(lints): lint `format_error` on `anyhow::Error`
  Cargo.lock
  lints/src/format_error.rs
  lints/src/lib.rs
  lints/ui/format_error.rs
  lints/ui/format_error.stderr
  src/cmd/src/lib.rs
  src/cmd_all/Cargo.toml
  src/cmd_all/build.rs
  src/common/src/config.rs
  src/connector/src/sink/nats.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/error/src/lib.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_source.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/preflight_check.rs
  src/tests/regress/src/lib.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature

#15229 test: fix starrocks_sink integration test
  integration_tests/starrocks-sink/docker-compose.yml
Labels: component/test

#14965 feat(binder): add const case-when evaluation optimization during binding
  src/frontend/src/binder/expr/mod.rs
Labels: type/feature

#15232 fix(storage): fix leaving put key after delete keys are dropped cause inconsistent
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15223 feat(connector): partition source reader batch_size by rate_limit (#13800)
  ci/workflows/pull-request.yml
  e2e_test/streaming/rate_limit/basic.slt
  e2e_test/streaming/rate_limit/upstream_amplification.slt
  src/batch/src/executor/source.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/feature

#15226 fix: handle upsert json in prev versions
  backwards-compat-tests/scripts/utils.sh
  backwards-compat-tests/slt/kafka/upsert/deprecate_upsert.slt
  backwards-compat-tests/slt/kafka/upsert/include_key_as.slt
  backwards-compat-tests/slt/kafka/validate_restart.slt
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/protobuf/parser.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/fix, ci/run-backwards-compat-tests, need-cherry-pick-release-1.7

#14668 feat(sink): Support Sinking Enum16 Ids to Clickhouse
  ci/scripts/e2e-clickhouse-sink-test.sh
  e2e_test/sink/clickhouse_sink.slt
  src/connector/src/sink/clickhouse.rs
Labels: ci/run-e2e-clickhouse-sink-tests

#15227 feat(catalog): support DBeaver constraints view
  e2e_test/batch/catalog/pg_class.slt.part
  e2e_test/batch/catalog/pg_constraint.slt.part
  src/frontend/planner_test/tests/planner_test_runner.rs
  src/frontend/planner_test/tests/testdata/input/dbeaver.yaml
  src/frontend/planner_test/tests/testdata/output/dbeaver.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_constraint.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_language.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_rewrite.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_trigger.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
Labels: type/feature

#15067 refactor(storage): Refactoring pick_sub_level Improve code readability
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
Labels: type/refactor

#15248 feat(connector): partition source reader batch_size by rate_limit (#13800)
  ci/workflows/pull-request.yml
  e2e_test/streaming/rate_limit/basic.slt
  e2e_test/streaming/rate_limit/upstream_amplification.slt
  src/batch/src/executor/source.rs
  src/connector/src/parser/mod.rs
  src/connector/src/source/base.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/feature

#15253 feat(sql-backend): support diagnose in sql-backend
  src/meta/model_v2/src/table.rs
  src/meta/node/src/server.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/metadata.rs
Labels: type/feature

#15249 fix(frontend): index `if not exists` check shall use table's schema
  e2e_test/ddl/search_path.slt
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/explain.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15254 fix: handle upsert json in prev versions (#15226)
  backwards-compat-tests/scripts/utils.sh
  backwards-compat-tests/slt/kafka/upsert/deprecate_upsert.slt
  backwards-compat-tests/slt/kafka/upsert/include_key_as.slt
  backwards-compat-tests/slt/kafka/validate_restart.slt
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/protobuf/parser.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/fix, ci/run-backwards-compat-tests

#15260 fix: pass correct object store config to monitored object store for all backends
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/backup/src/storage.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/iterator/test_utils.rs
Labels: type/fix, need-cherry-pick-release-1.7

#15020 fix(ci): fix ci create release
  ci/scripts/release.sh
Labels: type/fix, need-cherry-pick-release-1.7

#15210 fix(storage): fix failed micro-bench
  src/storage/Cargo.toml
  src/storage/benches/bench_compactor.rs
Labels: type/fix

#15240 chore: enable mem table spill
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
Labels: type/chore

#14863 feat(dashboard): add back_pressure_rate UI
  dashboard/components/BackPressureTable.tsx
  dashboard/components/FragmentGraph.tsx
  dashboard/pages/api/metric.ts
  dashboard/pages/fragment_graph.tsx
Labels: type/feature

#15091 feat(sql-udf): better hint display for invalid sql udf definition
  Cargo.lock
  e2e_test/udf/sql_udf.slt
  src/frontend/Cargo.toml
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/handler/create_sql_function.rs
  src/workspace-hack/Cargo.toml
Labels: type/feature

#15277 refactor(dashboard): refactor back pressure api path name
  dashboard/mock-server.js
  dashboard/mock/fetch.sh
  dashboard/pages/api/metric.ts
  src/meta/src/dashboard/mod.rs
  src/meta/src/dashboard/prometheus.rs
Labels: type/refactor

#15281 fix(frontend): index `if not exists` check shall use table's schema (#15249)
  e2e_test/ddl/search_path.slt
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/explain.rs
Labels: type/fix

#15258 feat(sql-backend): add missing failure event records in sql backend
  src/meta/src/controller/catalog.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Labels: type/feature
