Repository risingwavelabs/risingwave, pull requests merged in 2024-09, with the labels that each got.

#18340 chore(docs): Update README.md
  README.md
Labels: type/chore

#18346 fix(ci): fix flaky barrier read e2e transaction test
  e2e_test/batch/transaction/now.slt
  e2e_test/batch/transaction/read_only_multi_conn.slt
Labels: type/fix, ci/main-cron/run-all

#18318 refactor(metrics): suppress more actor-level metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/jemalloc.rs
  src/stream/src/cache/managed_lru.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: type/refactor

#18349 fix(meta): correctly update serving vnode mapping after scaling
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/scale.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#18347 fix(compaction): disable fast compact for split sst
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/storage_failpoints/test_sstable.rs
Labels: type/fix

#18211 refactor(prost): optimize some Debug representation
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/refactor

#18360 fix: fix backward data compatible for job status
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18330 cherry-pick: refactor(metrics): remove actor_id label from back-pressure metrics based on metrics level (#18213)
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  proto/monitor_service.proto
  src/common/metrics/src/gauge_ext.rs
  src/common/metrics/src/lib.rs
  src/common/metrics/src/relabeled_metric.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/meta/src/dashboard/prometheus.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests

#18358 feat(risedev): prompt user with `argv[0]` instead of hard-coded `./risedev`
  Makefile.toml
  risedev
  src/risedevtool/common.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/configure_tmux_service.rs
  src/risedevtool/src/task/etcd_service.rs
  src/risedevtool/src/task/grafana_service.rs
  src/risedevtool/src/task/minio_service.rs
  src/risedevtool/src/task/prometheus_service.rs
  src/risedevtool/src/task/pubsub_service.rs
  src/risedevtool/src/task/redis_service.rs
  src/risedevtool/src/task/tempo_service.rs
  src/risedevtool/src/util.rs
Labels: type/refactor, type/feature

#18297 refactor: add target_offsets to determinine if source backfill finished
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/refactor

#18365 feat(compute): give more batch memory for serving node
  src/compute/src/memory/config.rs
  src/compute/src/server.rs
Labels: type/feature, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#18350 feat(compaction): support recreate block stream for fast compact iter
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/storage_failpoints/test_iterator.rs
Labels: type/feature

#18322 feat(cdc): support constant default value for alter table ADD COLUMN
  e2e_test/source/cdc_inline/alter/cdc_table_alter.slt
  e2e_test/source/cdc_inline/auto_schema_change_mysql.slt
  src/common/src/catalog/column.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/source/manager.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/rpc/mod.rs
  src/meta/service/src/ddl_service.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18356 fix(streaming): correctly retrieve initial split assignments from combined mutation for sink-into-table
  e2e_test/source_inline/kafka/issue_18308.slt
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/fix

#18364 feat(iceberg): support create table for jdbc catalog
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/sink/iceberg/jni_catalog.rs
Labels: type/feature

#18362 feat(iceberg): support iceberg sink create table
  e2e_test/sink/iceberg_sink.slt
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-sink-tests

#18033 fix: `DROP DATABASE` doesn't clean up the source stream job (in v1)
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18371 feat(telemetry): add telemetry data point when checking license
  Cargo.lock
  src/license/Cargo.toml
  src/license/src/feature.rs
  src/license/src/lib.rs
Labels: type/feature, need-cherry-pick-release-2.0

#18351 fix: s3 source cannot read incremental files (#18017)
  e2e_test/s3/fs_parquet_source_and_sink.py
  e2e_test/s3/fs_source_v2.py
  e2e_test/s3/fs_source_v2_new_file.py
  src/connector/Cargo.toml
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_source.yaml
  src/stream/src/executor/source/list_executor.rs
Labels: type/fix

#17488 feat(sink): support async for bigquery sink
  src/connector/src/sink/big_query.rs
  src/connector/with_options_sink.yaml
Labels: type/feature

#18374 feat(streaming): add `must_output_per_barrier` flag for stream simple agg
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/simple_agg.rs
Labels: type/feature, need-cherry-pick-release-2.0

#18385 chore: update Cargo version
  Cargo.lock
  Cargo.toml
Labels: type/chore

#18342 refactor: use high watermark to finish backfill faster
  e2e_test/source_inline/kafka/shared_source.slt
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/reader/reader.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/refactor

#18370 feat(risedev): attempt to kill existing session when launching `risedev-dev`
  src/risedevtool/src/task/configure_tmux_service.rs
Labels: type/feature

#18393 fix(sqlparser): display create items with comma properly
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix, need-cherry-pick-release-2.0

#18378 feat(expr): support `jsonb_populate_map`
  e2e_test/batch/types/map.slt.part
  proto/expr.proto
  src/common/src/types/jsonb.rs
  src/expr/impl/src/scalar/jsonb_record.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature, need-cherry-pick-release-2.0

#18034 refactor: add some comments for source splits
  proto/meta.proto
  proto/stream_plan.proto
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
  src/meta/src/barrier/command.rs
  src/meta/src/model/stream.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18397 fix: parquet test missing comma
  e2e_test/s3/fs_parquet_source_and_sink.py
Labels: ci/run-s3-source-tests, need-cherry-pick-release-2.0

#18398 fix(sqlparser): display create items with comma properly (#18393)
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#18400 fix(test): cherry pick 18259 to 2.0
  ci/workflows/pull-request.yml
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink2/python/main.py
  src/connector/src/lib.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
Labels: type/fix

#18384 feat(iceberg): support create table with primary key
  proto/catalog.proto
  src/common/src/catalog/mod.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/model_v2/src/table.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/storage/src/filter_key_extractor.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/sqlsmith/src/lib.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18396 feat(risedev): support providing env var in yaml config
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/task/configure_tmux_service.rs
Labels: type/feature

#18404 feat(iceberg): support drop table for nimtable
  Cargo.lock
  Cargo.toml
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/sink/iceberg/jni_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/drop_table.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18406 feat(iceberg): support create table without pk for nimtable
  src/frontend/src/handler/create_table.rs
Labels: type/feature

#18408 feat(iceberg): support dql for nimtable
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/table_catalog.rs
Labels: type/feature

#18210 feat(snapshot-backfill): only receive mutation from barrier worker for snapshot backfill
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/mod.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#18412 perf(stream): set `noop_update_hint` when jsonb access exists (#18065)
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
Labels: type/perf

#18410 feat(nimtable): nimtable hide iceberg row
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Labels: type/feature

#18373 feat: variable vnode count support in table distribution
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/log_row_seq_scan.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/hash/consistent_hash/bitmap.rs
  src/common/src/hash/consistent_hash/vnode.rs
  src/common/src/hash/table_distribution.rs
  src/common/src/util/scan_range.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/iterator/change_log.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/mview.rs
  src/stream/src/from_proto/watermark_filter.rs
Labels: type/feature

#18380 fix(source): Protobuf `Any` as canonical JSON
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
Labels: type/fix

#18413 fix(storage): fix assertion
  src/storage/hummock_sdk/src/sstable_info.rs
Labels: type/fix, ci/run-e2e-time-travel-tests

#18361 feat: support more SSL related configurations in Kafka connector
  src/connector/src/connector_common/common.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature

#18381 feat: variable vnode count support in vnode structure
  src/batch/src/task/consistent_hash_shuffle_channel.rs
  src/common/src/hash/consistent_hash/mapping.rs
  src/common/src/hash/consistent_hash/vnode.rs
  src/common/src/hash/table_distribution.rs
  src/common/src/util/row_id.rs
  src/common/src/util/scan_range.rs
  src/common/src/vnode_mapping/vnode_placement.rs
  src/expr/impl/src/scalar/vnode.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_scale.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/executor/dispatch.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18425 fix(error): fix sinkError and connector error
  src/stream/src/executor/error.rs
Labels: type/fix

#18414 fix(storage): fix correct_commit_ssts with sst table_ids
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18423 fix(backup): fix restore order
  src/meta/src/backup_restore/restore_impl/v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, need-cherry-pick-release-2.0

#18409 feat(nimtable): support ban ddl for iceberg engine table
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/util.rs
Labels: type/feature

#18112 feat: track progress for SourceBackfill (blocking DDL)
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/scale.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_backfill_state_table.rs
  src/stream/src/from_proto/source_backfill.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18431 fix(storage): fix duplicated sst_id generated by split_sst function
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#18383 feat: introduce cluster limit
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/common/src/util/cluster_limit.rs
  src/common/src/util/mod.rs
  src/config/example.toml
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_actor_count.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/src/cluster_limit_service.rs
  src/meta/service/src/lib.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, user-facing-changes, breaking-change, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18354 refactor: remove drop_actors rpc and simplify barrier worker state
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/main-cron/run-all

#18432 fix(storage): cherry-pick fix duplicated sst_id generated by split_sst function
  src/meta/src/hummock/manager/commit_epoch.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18438 fix(storage): fix commit_epoch new_sst_id_number
  src/meta/src/hummock/manager/commit_epoch.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18439 fix(meta): correctly update serving parallelism mapping
  src/meta/src/serving/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18443 cherry-pick: feat: introduce cluster limit (#18383)
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/common/src/util/cluster_limit.rs
  src/common/src/util/mod.rs
  src/config/example.toml
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_actor_count.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/src/cluster_limit_service.rs
  src/meta/service/src/lib.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/meta_client.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests

#18424 feat(nimtable): fix decimal(28, 10)
  src/common/src/array/arrow/arrow_iceberg.rs
Labels: type/feature

#18422 feat(nimtable): nimtable make drop table more robust
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_table.rs
Labels: type/feature

#18449 fix(iceberg): fix select empty iceberg table
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/test_case/iceberg_select_empty_table.slt
  e2e_test/iceberg/test_case/iceberg_select_empty_table.toml
  src/connector/src/source/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#18447 fix(nimtable): cherry-pick fix select empty iceberg table
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/test_case/iceberg_select_empty_table.slt
  e2e_test/iceberg/test_case/iceberg_select_empty_table.toml
  src/connector/src/source/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests

#18455 feat(nimtable): implicit flush and no sink decouple
  src/common/src/session_config/mod.rs
  src/common/src/session_config/sink_decouple.rs
Labels: type/feature

#18418 doc(readme): update architecture image
  README.md
  docs/dev/src/images/architecture_20240908.png
Labels: component/doc

#18407 feat: variable vnode count support in batch/streaming scheduler
  src/batch/src/worker_manager/worker_node_manager.rs
  src/common/src/bitmap.rs
  src/common/src/config.rs
  src/common/src/vnode_mapping/vnode_placement.rs
  src/frontend/src/handler/alter_parallelism.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/jni_core/src/lib.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/serving/mod.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/test_scale.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/row_id_gen.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18460 chore: update image version to 2.0.0-rc.1
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore

#18468 fix(nimtable): fix sql backend with new column `Engine`
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240909_101830_nimtable_dev.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18466 refactor(frontend): extract filling fields in fragment graph
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/stream_fragmenter/mod.rs
Labels: type/refactor

#18421 fix: empty string as license key stuck docker compose
  docker/docker-compose.yml
Labels: type/fix, need-cherry-pick-release-2.0

#18462 refactor: replace `RdKafkaStats` with Guarded metrics
  src/common/metrics/src/guarded_metrics.rs
  src/common/src/lib.rs
  src/connector/src/source/kafka/stats.rs
Labels: type/refactor

#18188 feat(compaction): support merge compaction group
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/prost/build.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18452 fix(metric): include table_change_log when calculating object size
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Labels: type/fix

#18459 feat(meta): support time travel query on a per-table basis (part1)
  proto/hummock.proto
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240820_081248_add_time_travel_per_table_epoch.rs
  src/meta/model_v2/src/hummock_epoch_to_version.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-time-travel-tests

#18324 feat(source): configure whether to recursively scan file source
  e2e_test/s3/fs_parquet_source_and_sink.py
  e2e_test/source/opendal/posix_fs.slt
  src/connector/src/source/filesystem/opendal_source/azblob_source.rs
  src/connector/src/source/filesystem/opendal_source/gcs_source.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_source.yaml
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected

#18480 feat(expr): support map keys/values/entries
  src/expr/impl/src/scalar/array.rs
Labels: type/feature, need-cherry-pick-release-2.0

#18463 fix(iceberg): fix map - arrow convert & fix sink nested types to iceberg
  .gitignore
  Cargo.lock
  Cargo.toml
  e2e_test/iceberg/main.py
  e2e_test/iceberg/start_spark_connect_server.sh
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/no_partition_append_only.toml
  e2e_test/iceberg/test_case/no_partition_upsert.toml
  e2e_test/iceberg/test_case/partition_upsert.toml
  e2e_test/iceberg/test_case/range_partition_upsert.toml
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, need-cherry-pick-release-2.0

#18467 feat(sink): reimplement sink coordinator worker and support scale
  proto/connector_service.proto
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/handle.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/meta/src/manager/sink_coordination/mod.rs
  src/rpc_client/src/sink_coordinate_client.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run- e2e-deltalake-sink-rust-tests, ci/run-e2e-single-node-tests

#18465 perf: optimize memory allocation on building object path
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/sstable_store.rs
Labels: type/perf

#18419 fix(source): parse protobuf into expected struct/array
  e2e_test/source_inline/kafka/protobuf/recover.slt
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/protobuf.rs
Labels: type/fix

#18379 feat: allow customize pulsar subscription name
  integration_tests/twitter-pulsar/pb/create_source.sql
  src/connector/src/source/pulsar/mod.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/connector/with_options_source.yaml
Labels: type/feature, ci/run-connector-node-integration-tests

#18497 fix(source): parse protobuf into expected struct/array (#18419) and its pre-req #18380
  Cargo.lock
  e2e_test/source_inline/kafka/protobuf/recover.slt
  src/connector/Cargo.toml
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
Labels: type/fix

#18348 fix(sink): fix sink_decouple = false and commit_checkpoint_interval defalut = 1;
  ci/scripts/e2e-cassandra-sink-test.sh
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/cdc/load.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/clickhouse_sink.slt
  e2e_test/sink/create_sink_as.slt
  e2e_test/sink/deltalake_rust_sink.slt
  e2e_test/sink/doris_sink.slt
  e2e_test/sink/iceberg_sink.slt
  e2e_test/sink/mongodb_sink.slt
  e2e_test/sink/redis_cluster_sink.slt
  e2e_test/sink/redis_sink.slt
  e2e_test/sink/remote/types.slt
  e2e_test/sink/sqlserver_sink.slt
  e2e_test/sink/starrocks_sink.slt
  integration_tests/big-query-sink/create_sink.sql
  integration_tests/cassandra-and-scylladb-sink/create_sink.sql
  integration_tests/clickhouse-sink/create_sink.sql
  integration_tests/deltalake-sink/create_sink.sql
  integration_tests/doris-sink/create_sink.sql
  integration_tests/dynamodb/create_sink.sql
  integration_tests/elasticsearch-sink/create_sink.sql
  integration_tests/kafka-cdc-sink/create_sink.sql
  integration_tests/mqtt/create_sink.sql
  integration_tests/mysql-sink/create_sink.sql
  integration_tests/nats/create_sink.sql
  integration_tests/postgres-sink/create_sink.sql
  integration_tests/redis-sink/create_sink.sql
  integration_tests/starrocks-sink/create_sink.sql
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/trivial.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-clickhouse-sink-tests, ci/run- e2e-deltalake-sink-rust-tests, ci/run-e2e-redis-sink-tests, ci/run-e2e-starrocks-sink-tests, ci/run-e2e-sink-tests, ci/run-e2e-mqtt-sink-tests, ci/run-e2e-mongodb-sink-tests, ci/run-e2e-sqlserver-sink-tests, need-cherry-pick-release-2.0

#18477 refactor(storage): cache recent versions and unify batch query and time travel
  e2e_test/time_travel/syntax.slt
  src/common/src/config.rs
  src/config/docs.md
  src/storage/Cargo.toml
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/local_version/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/local_version/recent_versions.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
Labels: type/refactor, ci/run-e2e-meta-backup-test, ci/run-e2e-time-travel-tests

#18437 feat: schemaless ingestion for `encode json` (`INCLUDE payload`)
  e2e_test/source/basic/kafka.slt
  proto/plan_common.proto
  src/connector/src/parser/additional_columns.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/prost/build.rs
Labels: type/feature

#18478 refactor(storage): make HummockVersion a generic struct
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/level.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, ci/run-e2e-time-travel-tests

#18505 refactor(batch): schedule with streaming mapping if serving is temporarily unavailable
  src/batch/src/worker_manager/worker_node_manager.rs
Labels: type/refactor

#18498 feat(iceberg): support create iceberg table w/ one layer nested type & scan table w/ nested type
  Cargo.lock
  Cargo.toml
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/mod.rs
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#18508 chore: make file sink publicly accessible
  e2e_test/sink/license.slt
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/license/src/feature.rs
Labels: type/chore, user-facing-changes, need-cherry-pick-release-2.0

#18501 cherrypick: fix: sink_decouple = false and commit_checkpoint_interval defalut = 1 (#18348)
  ci/scripts/e2e-cassandra-sink-test.sh
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/cdc/load.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/clickhouse_sink.slt
  e2e_test/sink/create_sink_as.slt
  e2e_test/sink/deltalake_rust_sink.slt
  e2e_test/sink/doris_sink.slt
  e2e_test/sink/iceberg_sink.slt
  e2e_test/sink/mongodb_sink.slt
  e2e_test/sink/redis_cluster_sink.slt
  e2e_test/sink/redis_sink.slt
  e2e_test/sink/remote/types.slt
  e2e_test/sink/sqlserver_sink.slt
  e2e_test/sink/starrocks_sink.slt
  integration_tests/big-query-sink/create_sink.sql
  integration_tests/cassandra-and-scylladb-sink/create_sink.sql
  integration_tests/clickhouse-sink/create_sink.sql
  integration_tests/deltalake-sink/create_sink.sql
  integration_tests/doris-sink/create_sink.sql
  integration_tests/dynamodb/create_sink.sql
  integration_tests/elasticsearch-sink/create_sink.sql
  integration_tests/kafka-cdc-sink/create_sink.sql
  integration_tests/mqtt/create_sink.sql
  integration_tests/mysql-sink/create_sink.sql
  integration_tests/nats/create_sink.sql
  integration_tests/postgres-sink/create_sink.sql
  integration_tests/redis-sink/create_sink.sql
  integration_tests/starrocks-sink/create_sink.sql
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/trivial.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: cherry-pick

#18511 fix(iceberg): fix decimal overflow for iceberg arrow
  src/common/src/array/arrow/arrow_iceberg.rs
Labels: type/fix

#18015 feat(cdc): support for verify-ca and verify-full of Postgres SSL
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-release-2.0

#18242 feat(streaming): introduce streaming AsOf JOIN executor
  proto/plan_common.proto
  proto/stream_plan.proto
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/join_row_set.rs
  src/stream/src/executor/join/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/asof_join.rs
  src/stream/src/from_proto/mod.rs
Labels: type/feature

#18461 fix(udf): use a dedicated runtime to create udf flight client
  src/expr/impl/src/udf/external.rs
Labels: type/fix, need-cherry-pick-release-1.10, need-cherry-pick-release-2.0

#18448 feat(iceberg): support eq delete merge on read for iceberg
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/test_case/iceberg_source_eq_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_eq_delete.toml
  src/batch/src/executor/iceberg_scan.rs
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/jni_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/connector/src/source/iceberg/mod.rs
  src/expr/impl/Cargo.toml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_snapshots.rs
  src/rpc_client/Cargo.toml
  src/storage/Cargo.toml
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#18507 refactor(source): move protobuf to codec crate, and refactor tests
  Cargo.lock
  ci/scripts/e2e-source-test.sh
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/old_row_format_syntax/kafka.slt
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/connector/codec/build.rs
  src/connector/codec/src/common/mod.rs
  src/connector/codec/src/common/protobuf/compiler.rs
  src/connector/codec/src/common/protobuf/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/codec/src/decoder/protobuf/mod.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/src/lib.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/main.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/integration_tests/protobuf/.gitignore
  src/connector/codec/tests/integration_tests/utils.rs
  src/connector/codec/tests/test_data/all-types.pb
  src/connector/codec/tests/test_data/all-types.proto
  src/connector/codec/tests/test_data/any-schema.proto
  src/connector/codec/tests/test_data/complex-schema.proto
  src/connector/codec/tests/test_data/recursive.proto
  src/connector/codec/tests/test_data/simple-schema.proto
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/test_data/any-schema.pb
  src/connector/src/test_data/complex-schema
  src/connector/src/test_data/proto_recursive/recursive.pb
  src/connector/src/test_data/proto_recursive/recursive.proto
  src/connector/src/test_data/simple-schema
  src/tests/simulation/src/slt.rs
Labels: type/refactor

#18454 fix: make guarded label metrics correctly drop
  src/connector/src/parser/mod.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/common.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18526 feat(nimtable): enable create index on iceberg table
  src/frontend/src/handler/mod.rs
Labels: type/feature

#18476 fix: only notify creating materialized views to FE when using sql backend
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-sql-recovery-test-deterministic-simulation

#18512 feat(source): support ingesting protobuf map
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/test_data/all-types.proto
Labels: type/feature

#18528 feat(nimtable): merge main
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/test_case/iceberg_source_eq_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_eq_delete.toml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  proto/plan_common.proto
  proto/stream_plan.proto
  src/batch/src/executor/iceberg_scan.rs
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/jni_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/iceberg/mod.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/external.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_snapshots.rs
  src/rpc_client/Cargo.toml
  src/storage/Cargo.toml
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/join_row_set.rs
  src/stream/src/executor/join/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/asof_join.rs
  src/stream/src/from_proto/mod.rs
Labels: type/feature

#18536 fix(ci): fix cassandra ci
  ci/scripts/e2e-cassandra-sink-test.sh
Labels: type/fix, ci/run-e2e-cassandra-sink-tests, need-cherry-pick-release-2.0

#18517 refactor: revert "#18324 configure whether to recursively scan file source"
  e2e_test/source/opendal/posix_fs.slt
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_source.yaml
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor

#18541 fix: dup split assignment in source
  src/meta/src/barrier/command.rs
  src/meta/src/stream/source_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0, block-release-v2.0

#18496 test: s3 source with additional column payload
  e2e_test/s3/fs_source_v2.py
Labels: component/test, ci/run-s3-source-tests, ci/main-cron/run-selected

#18546 fix(stream): handle `0.0` case of approx percentile, and fix computation of `quantile_count`
  src/expr/impl/src/aggregate/approx_percentile.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/expr/function/aggregate.rs
  src/stream/src/executor/approx_percentile/global_state.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18542 chore: update package version
  Cargo.lock
  Cargo.toml
Labels: type/chore

#18553 fix(metadata v2): existing actor splits were not updated
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18554 fix: revert split assignment check
  src/meta/src/barrier/command.rs
  src/meta/src/stream/source_manager.rs
Labels: need-cherry-pick-release-2.0

#18550 fix(sink): remove some todo!() with error
  src/common/src/array/map_array.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/bson.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/encoder/text.rs
  src/expr/impl/src/scalar/array.rs
Labels: type/fix, need-cherry-pick-release-2.0

#18560 chore: use Postgres meta backend for `risedev d full`
  risedev.yml
Labels: type/chore

#18562 fix(test): fix version sort and handle case where release branch is current branch
  ci/scripts/backwards-compat-test.sh
  e2e_test/backwards-compat-tests/scripts/utils.sh
Labels: type/fix, ci/run-backwards-compat-tests, need-cherry-pick-release-2.0

#18565 fix(test): fix `current_branch` for backwards compat test
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/backwards-compat-tests/scripts/utils.sh
Labels: type/fix, ci/run-backwards-compat-tests

#18566 refactor(state table): replace `new_` series with `gen_` series
  src/compute/tests/cdc_tests.rs
  src/compute/tests/integration_tests.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/stream/benches/bench_state_table.rs
  src/stream/spill_test/src/test_mem_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/common/table/test_utils.rs
  src/stream/src/executor/aggregation/distinct.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/dedup/append_only_dedup.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/test_utils.rs
  src/stream/tests/integration_tests/eowc_over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/refactor

#18561 fix(optimizer): correctly derive cardinality for group top-n
  src/frontend/planner_test/tests/testdata/input/topn.yaml
  src/frontend/planner_test/tests/testdata/output/topn.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
Labels: type/fix

#18556 feat(metrics): support filtering metrics by name in Prometheus scrape handler
  Cargo.lock
  Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/metrics_manager.rs
Labels: type/feature

#18525 refactor(storage): deprecate code of range delete
  ci/scripts/build.sh
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/iterator/concat_delete_range_iterator.rs
  src/storage/src/hummock/iterator/delete_range_iterator.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/delete_range_aggregator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/tests/compaction_test/Cargo.toml
  src/tests/compaction_test/src/bin/delete_range.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/compaction_test/src/lib.rs
Labels: type/refactor

#18516 refactor: maintain subscriptions in local barrier worker
  proto/stream_service.proto
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/state.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/executor/actor.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#18255 refactor: unify to subscribe mutation via barrier sender
  proto/stream_service.proto
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, ci/run-backfill-tests, ci/run-e2e-single-node-tests

#18543 refactor(connector): replace `protobuf-native` with `protox` for schema compiling
  Cargo.lock
  src/connector/codec/Cargo.toml
  src/connector/codec/build.rs
  src/connector/codec/src/common/protobuf/compiler.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/src/schema/protobuf.rs
Labels: type/refactor

#18582 fix(backup): fix restore order (#18423)
  src/meta/src/backup_restore/restore_impl/v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#18575 feat(compaction): introduce new task status for serverless compaction
  proto/hummock.proto
Labels: type/feature

#18539 refactor(stream): make `degree_state` field in `JoinHashMap` an Option
  proto/stream_plan.proto
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/from_proto/asof_join.rs
Labels: type/refactor

#18563 feat: improve error of building key encoder
  risedev.yml
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/mod.rs
Labels: type/feature

#18602 fix: fix message_queue image tag in docker compose
  ci/docker-compose.yml
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
  risedev.yml
Labels: type/fix

#18596 fix(catalog): add views' dependencies in `rw_depend`
  e2e_test/batch/catalog/rw_depend.slt.part
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18576 feat(storage): introduce merge group metrics and corrects some config
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18604 fix: not bail! on kinesis if starts with timestamp (#18038)
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix

#18531 feat(nimtable): reuse existing env and add risedev nimtable
  Cargo.lock
  risedev.yml
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_table.rs
Labels: type/feature

#18551 feat(sink): support sink map to avro
  src/common/src/array/map_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/connector/src/sink/encoder/avro.rs
Labels: type/feature, Invalid PR Title

#18280 feat(dashboard): add backpressure to the relation dependency graph
  dashboard/README.md
  dashboard/components/FragmentGraph.tsx
  dashboard/components/Layout.tsx
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/components/utils/backPressure.tsx
  dashboard/lib/api/fetch.ts
  dashboard/lib/api/streaming.ts
  dashboard/lib/layout.ts
  dashboard/pages/dependency_graph.tsx
  dashboard/pages/fragment_graph.tsx
  proto/meta.proto
  src/meta/src/dashboard/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.0

#18574 chore: update image version to v2.0.0
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore

#18579 feat(iceberg): support position delete for iceberg source
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_all_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_eq_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.toml
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/source/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests

#18570 feat(storage): notify frontend with more hummock version info
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/snapshot.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18552 feat(sink): support sink map to protobuf
  src/connector/codec/tests/test_data/all-types.pb
  src/connector/src/sink/encoder/proto.rs
Labels: type/feature, need-cherry-pick-release-2.0

#18578 refactor(state table): cleanup `StateTable::seal_current_epoch`
  src/stream/src/common/table/state_table.rs
Labels: type/refactor

#18600 refactor(iceberg): extract IcebergCommon config
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/mock_catalog.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/connector_common/mqtt_common.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/with_options.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_files.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_snapshots.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
Labels: type/refactor, ci/run-e2e-iceberg-sink-tests

#18313 feat: upgrade foyer to 0.11.3
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/logger.rs
Labels: type/feature

#18608 refactor: refactor arrow conversion
  Cargo.lock
  Cargo.toml
  src/batch/Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_48.rs
  src/common/src/array/arrow/arrow_50.rs
  src/common/src/array/arrow/arrow_52.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/error.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/prometheus/monitored_base_file_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_partition_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_position_delete_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_write_writer.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/expr/core/Cargo.toml
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/sig/udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/external/iceberg.rs
  src/expr/impl/src/udf/external.rs
  src/expr/impl/src/udf/mod.rs
  src/expr/impl/src/udf/python.rs
  src/expr/impl/src/udf/quickjs.rs
  src/frontend/Cargo.toml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
Labels: type/refactor

#18614 fix: forbid the usage of single quotation in title to avoid failure of cherry-pick
  .github/pr-title-checker-config.json
Labels: type/fix

#18491 refactor(compaction): deprecate safe_epoch
  proto/backup_service.proto
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/validate_version.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_compact_task_assignment.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version_deltas.rs
  src/meta/model_v2/src/hummock_version_delta.rs
  src/meta/src/hummock/compaction/selector/vnode_watermark_selector.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_query_backup.sh
  src/storage/backup/src/lib.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/state_table_info.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/local_version/recent_versions.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/refactor, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, ci/run-e2e-time-travel-tests

#18052 feat(subscription): add metrics for cursor
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/monitor/stats.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
Labels: type/feature

#18619 refactor: minor refactor on create/alter source
  src/connector/src/source/base.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/statement.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18609 build(deps): bump arrow-udf to use arrow 52
  Cargo.lock
  Cargo.toml
  e2e_test/udf/wasm/Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_50.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/arrow/mod.rs
  src/expr/impl/Cargo.toml
Labels: type/build

#18415 feat(storage): variable vnode count support
  src/common/src/hash/consistent_hash/vnode.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/store.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18493 refactor(meta): deprecate pin/unpin snapshot
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/list_version.rs
  src/ctl/src/lib.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_pinned_snapshots.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/hummock_service.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
  src/tests/compaction_test/src/lib.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#18626 fix: fix flaky simulation integration test cancel ddl
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/fix

#18521 chore(cdc): update sea-schema version to 0.15
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/source/cdc/external/postgres.rs
Labels: type/chore

#18456 fix(pg-cdc): fix support for partitioned table
  e2e_test/source/cdc/cdc.check_new_rows.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/cdc.validate.postgres.slt
  e2e_test/source/cdc/postgres_cdc.sql
  e2e_test/source/cdc/postgres_cdc_insert.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzSourceUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  java/connector-node/risingwave-source-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
Labels: type/fix, user-facing-changes

#18558 cherry-pick: feat(source): support ingesting protobuf map
  Cargo.lock
  ci/scripts/e2e-kafka-sink-test.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/old_row_format_syntax/kafka.slt
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/connector/codec/build.rs
  src/connector/codec/src/common/mod.rs
  src/connector/codec/src/common/protobuf/compiler.rs
  src/connector/codec/src/common/protobuf/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/codec/src/decoder/protobuf/mod.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/src/lib.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/main.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/integration_tests/protobuf/.gitignore
  src/connector/codec/tests/integration_tests/utils.rs
  src/connector/codec/tests/test_data/all-types.pb
  src/connector/codec/tests/test_data/all-types.proto
  src/connector/codec/tests/test_data/any-schema.proto
  src/connector/codec/tests/test_data/complex-schema.proto
  src/connector/codec/tests/test_data/recursive.proto
  src/connector/codec/tests/test_data/simple-schema.proto
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/test_data/any-schema.pb
  src/connector/src/test_data/complex-schema
  src/connector/src/test_data/proto_recursive/recursive.pb
  src/connector/src/test_data/proto_recursive/recursive.proto
  src/connector/src/test_data/simple-schema
  src/tests/simulation/src/slt.rs
Labels: cherry-pick

#18590 refactor(object store): OpenDAL write concurrent = 256
  src/common/src/config.rs
  src/config/example.toml
Labels: type/refactor

#18613 feat(frontend): frontend wait hummock version id for ddl
  proto/ddl_service.proto
  proto/meta.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/flush.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#18616 cherrypick feat(sink): support sink map to protobuf (#18552) to branch release-2.0
  risedev.yml
  src/connector/codec/tests/test_data/all-types.pb
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/mod.rs
Labels: type/feature, cherry-pick

#18630 refactor(meta): remove BarrierInfo and reduce pause and resume log output
  proto/meta.proto
  src/ctl/src/cmd_impl/meta/pause_resume.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/schedule.rs
Labels: type/refactor, ci/run-e2e-single-node-tests
