Repository risingwavelabs/risingwave, pull requests merged in 2025-01, with the labels that each got.

#19789 feat(bench): add bench with join type and cache workload
  src/stream/benches/stream_hash_join.py
  src/stream/benches/stream_hash_join_mem.rs
  src/stream/benches/stream_hash_join_rt.rs
  src/stream/src/executor/test_utils.rs
Labels: type/feature

#19895 feat(single-node): add memory allocation
  src/cmd_all/src/single_node.rs
  src/compute/src/lib.rs
  src/compute/src/memory/config.rs
Labels: type/feature

#19977 refactor(connector): use `pk IN (...)` instead of `AND/OR` in DELETE for pg sink
  src/connector/src/sink/postgres.rs
Labels: type/refactor

#19981 fix(ci): cherry-pick fix source test dependency issue (#19840) to branch release-2.1
  ci/scripts/e2e-source-test.sh
  e2e_test/requirements.txt
  e2e_test/source_inline/requirements.txt
  e2e_test/source_legacy/requirements.txt
Labels: type/fix

#19973 feat(memory): cherry-pick #19372 and #19059 to branch release-2.1
  src/cmd_all/src/standalone.rs
  src/compute/src/server.rs
  src/frontend/src/lib.rs
  src/frontend/src/session.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/lib.rs
  src/storage/src/store_impl.rs
Labels: type/feature, ci/run-e2e-single-node-tests

#19971 feat(test): use ephemeral env for python inline scripts by `uv` if available
  e2e_test/commands/python
  e2e_test/commands/python3
  e2e_test/source_inline/README.md
Labels: type/feature, ci/run-e2e-source-tests, ci/run-e2e-sink-tests, ci/main-cron/run-selected

#19953 feat(dashboard): backpressure: remove the support for Promethues data source
  dashboard/lib/api/metric.ts
  dashboard/mock-server.js
  dashboard/mock/fetch.sh
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
Labels: type/feature

#19954 refactor(dashboard): refactor back-pressure calculation
  dashboard/components/RateBar.tsx
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/meta/src/dashboard/mod.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19963 feat: update iceberg version
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/iceberg_scan.rs
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-sink-tests, ci/run-e2e-iceberg-engine-tests

#19988 fix: support string to number type in JSONB_POPULATE_RECORD (#19937)
  e2e_test/batch/types/jsonb.slt.part
  e2e_test/batch/types/map.slt.part
  src/common/src/types/jsonb.rs
Labels: type/fix

#19992 feat: `message_as_jsonb` to handle circle dep in protobuf (#19935)
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
  e2e_test/source_inline/kafka/protobuf/recursive_overflow.slt
  src/connector/codec/src/decoder/protobuf/mod.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/test_data/opentelemetry_common.proto
  src/connector/src/parser/config.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/mod.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature

#19984 perf(storage): use VecDeque for TableChangeLog to avoid large clone on truncate
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/store/version.rs
Labels: type/perf, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#19983 fix(telemetry): retry telemetry ut 3 times to mitigate failures on CI
  Cargo.lock
  src/compute/Cargo.toml
  src/compute/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/telemetry.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20001 refactor(dashboard): refactor back-pressure calculation
  dashboard/components/RateBar.tsx
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/meta/src/dashboard/mod.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19990 refactor(meta): minor refactors
  .git-blame-ignore-revs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19991 refactor(meta): unify code for different kinds of source change
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19967 refactor(streaming): unify rate limiter and related components design
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/rate_limit/Cargo.toml
  src/common/rate_limit/src/lib.rs
  src/common/src/log.rs
  src/compute/Cargo.toml
  src/compute/tests/integration_tests.rs
  src/connector/Cargo.toml
  src/connector/src/sink/log_store.rs
  src/frontend/Cargo.toml
  src/meta/Cargo.toml
  src/storage/Cargo.toml
  src/stream/Cargo.toml
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/from_proto/dml.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/task/stream_manager.rs
  src/utils/futures_util/Cargo.toml
Labels: type/refactor

#20009 fix(meta): use unlimited timeout for sqlite backend
  src/common/src/config.rs
  src/meta/src/controller/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19775 feat(iceberg): support emr serverless compaction for iceberg table
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/compaction.rs
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature

#19995 refactor(meta): cleanup legacy code for v1
  ci/scripts/common.sh
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20013 feat: add uuid for iceberg data file name suffix
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-engine-tests

#19826 refactor(source): remove chunk splitting logic in `apply_rate_limit`
  src/common/src/array/stream_chunk.rs
  src/connector/src/sink/log_store.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/source/mod.rs
Labels: type/refactor

#20016 feat(snapshot-backfill): measure accumulated row count for each vnode stream
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Labels: type/feature, ci/run-backfill-tests

#20012 fix(optimizer): can't apply pull_up_correlated_predicate_agg_rule with non-null-propagating expr
  e2e_test/batch/aggregate/issue_19835.slt.part
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate_agg_rule.rs
Labels: type/fix

#19656 refactor(iceberg): support position delete merge on read with hash join
  proto/batch_plan.proto
  src/batch/executors/src/executor/iceberg_scan.rs
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
  src/frontend/src/optimizer/rule/source_to_iceberg_scan_rule.rs
Labels: type/refactor, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-engine-tests

#20019 test: ignore leak bucket unit test
  src/common/rate_limit/src/lib.rs
Labels: component/test

#20015 chore(dep): bump rw-tokio to `1.40.0`
  Cargo.lock
  src/utils/runtime/Cargo.toml
Labels: type/chore

#19949 feat(frontend): initially introduce table def sql purification
  e2e_test/ddl/show_purify.slt
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/common/src/catalog/column.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/purify.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_tables.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/utils/data_type.rs
  src/frontend/src/utils/mod.rs
  src/sqlparser/src/ast/mod.rs
Labels: type/feature

#19965 feat(frontend): purification for source def sql
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  src/frontend/src/catalog/purify.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/show.rs
Labels: type/feature

#20027 fix(risedev): CONNECTOR_LIBS_PATH for frontend is not set
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/utils.rs
Labels: type/fix

#20029 chore(test): extend the waiting period for the single node test
  ci/scripts/e2e-test-serial.sh
Labels: type/chore

#20011 feat(sink): Support updates rather than overrides for mongodb sink upsert
  ci/scripts/e2e-mongodb-sink-test.sh
  e2e_test/sink/mongodb_sink.slt
  src/connector/src/sink/mongodb.rs
Labels: type/feature, ci/run-e2e-mongodb-sink-tests

#19999 feat(iceberg): support iceberg on gcs
  Cargo.toml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-engine-tests

#20031 fix(frontend): use set time zone in Hummock time travel
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Labels: type/fix

#19998 feat(eowc): allow multiple watermark columns in eowc hash agg
  src/frontend/planner_test/tests/testdata/input/watermark_group.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/watermark_group.yaml
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
Labels: type/feature, user-facing-changes

#20008 fix(stream): avoid committing to in-memory state store in join benchmark
  src/stream/benches/stream_hash_join_rt.rs
  src/stream/src/executor/test_utils.rs
Labels: type/fix

#20044 chore(test): pin pip package version for e2e sink
  ci/scripts/e2e-kafka-sink-test.sh
Labels: type/chore, need-cherry-pick-release-2.2

#19720 feat(snapshot-backfill): introduce state to snapshot backfill
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/snapshot_backfill/scale.slt
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20024 chore(deps): Bump google-cloud-googleapis
  Cargo.lock
  Cargo.toml
  e2e_test/source_inline/pubsub/prepare-data.rs
  src/connector/Cargo.toml
  src/connector/src/sink/big_query.rs
  src/risedevtool/Cargo.toml
Labels: type/chore

#19629 perf(stream): concurrently fetch row from storage and refill cache
  Cargo.lock
  src/common/src/config.rs
  src/config/example.toml
  src/stream/Cargo.toml
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/builder.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/mod.rs
  src/stream/src/executor/test_utils.rs
Labels: type/refactor, type/perf, ci/main-cron/run-all

#20045 fix(iceberg): only convert iceberg table to iceberg source for batch dql
  src/frontend/src/handler/query.rs
  src/frontend/src/planner/mod.rs
  src/frontend/src/planner/relation.rs
Labels: type/fix, ci/run-e2e-iceberg-engine-tests

#20034 refactor(streaming): remove `get_compacted_row` from `StateTable`
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/mview/materialize.rs
Labels: type/refactor

#20030 ci: refine trap; remove misc check
  ci/scripts/check.sh
  ci/scripts/common.sh
  ci/scripts/misc-check.sh
  ci/workflows/pull-request.yml
  docs/dev/src/tests/intro.md
Labels: component/ci

#19950 feat(connector): add minio file scan type and enhance test
  e2e_test/s3/file_sink.py
  proto/batch_plan.proto
  src/batch/executors/src/executor/s3_file_scan.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/optimizer/plan_node/batch_file_scan.rs
  src/frontend/src/optimizer/plan_node/generic/file_scan.rs
  src/frontend/src/optimizer/plan_node/logical_file_scan.rs
  src/frontend/src/optimizer/rule/table_function_to_file_scan_rule.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected

#20062 perf(stream): optimize native pg sink (#19688)
  Makefile.toml
  e2e_test/sink/pg_native_vs_jdbc.slt
  src/connector/src/sink/postgres.rs
Labels: type/perf

#20066 build(deps): unpatch prost
  Cargo.lock
  Cargo.toml
Labels: type/build

#20069 fix(ci): increase timeout for e2e source test in main-cron
  ci/workflows/main-cron.yml
Labels: type/fix

#20047 bench(iceberg): add iceberg predicate pushdown bench
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/benches/predicate_pushdown.slt
  e2e_test/iceberg/benches/predicate_pushdown.toml
  e2e_test/iceberg/benches/predicate_pushdown/filter.slt.part
  e2e_test/iceberg/benches/predicate_pushdown/point_get.slt.part
Labels: Invalid PR Title, ci/main-cron/run-selected, ci/run-e2e-iceberg-sink-v2-tests

#20051 refactor(storage): remove StateStoreWrite and extract separate StateStoreReadLog trait
  src/storage/src/hummock/iterator/change_log.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Labels: type/refactor

#20000 feat: batching telemetry event request avoid too many requests
  proto/telemetry.proto
  src/common/src/telemetry/report.rs
  src/common/telemetry_event/src/lib.rs
Labels: type/feature

#20071 refactor(meta): splits source_manager into smaller mods
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/source_manager/worker.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20055 refactor(storage): remove option of new log
  src/meta/src/hummock/manager/checkpoint.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20073 fix(frontend): set `if_not_exists` to false when normalizing `CREATE VIEW`
  src/frontend/src/handler/mod.rs
Labels: type/fix

#20075 fix: change iceberg glue catalog default implemantation to java
  src/connector/src/connector_common/iceberg/mod.rs
Labels: type/fix

#19919 feat(sink): support force_append_only for es sink
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_converter.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_client.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_formatter.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/remote.rs
  src/connector/with_options_sink.yaml
Labels: type/feature

#20079 feat(udf): support `CREATE FUNCTION/AGGREGATE IF NOT EXISTS`
  e2e_test/udf/create_and_drop.slt
  e2e_test/udf/drop_function.slt
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/session.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
Labels: type/feature, user-facing-changes

#20085 fix(iceberg): fix iceberg time travel timezone
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/fix

#20086 refactor: log deleted objects
  src/meta/src/hummock/manager/gc.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20093 fix: synchronize the index on the mview when changing the owner or schema
  e2e_test/ddl/alter_owner.slt
  e2e_test/ddl/alter_set_schema.slt
  src/meta/src/controller/catalog/alter_op.rs
Labels: need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20101 fix(storage): Remove logic for deleting objects in truncate_time_trav…
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20099 fix(meta): work around sea-orm bug
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20110 fix(meta): work around sea-orm bug for PG
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#20107 fix(meta): fix time travel GC bug
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/versioning.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#20108 fix(meta): fix time travel GC bug
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/versioning.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20068 feat(storage): support next_epoch method for StateStoreReadLog
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20087 ci: fail fast sqllogictest
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/common.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  e2e_test/source_inline/README.md
  src/tests/simulation/Cargo.toml
Labels: component/ci

#20120 refactor(meta): use insert_many to reduce latency
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#20116 fix: cherry-pick 19870 and 20093
  e2e_test/ddl/alter_owner.slt
  e2e_test/ddl/alter_set_schema.slt
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/catalog/util.rs
Labels: cherry-pick

#20123 refactor(meta): use insert_many to reduce latency
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20122 fix(license): ignore access event when watching license key file changes
  src/meta/src/manager/license.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20127 feat(frontend): display UDF calls more concisely
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/user_defined_function.rs
Labels: type/feature

#20124 feat(risedev): specify arguments to docker command & enable logical replication for postgres service
  src/risedevtool/src/task/docker_service.rs
  src/risedevtool/src/task/postgres_service.rs
Labels: type/feature

#20126 revert:feat(frontend): support alter source pause/resume (#19636)
  e2e_test/source_inline/kafka/alter/resume_pause_source_kafka.slt.serial
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/revert, need-cherry-pick-release-2.2

#20114 refactor(meta): optimize Hummock version delta deletion
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20135 fix(connector): improve mysql error message
  src/connector/src/parser/mysql.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20141 refactor(meta): optimize Hummock version delta deletion (#20114)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#20046 feat(connector): introduce azblob file scan
  proto/batch_plan.proto
  src/batch/executors/src/executor.rs
  src/batch/executors/src/executor/azblob_file_scan.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/optimizer/plan_node/batch_file_scan.rs
  src/frontend/src/optimizer/plan_node/generic/file_scan.rs
  src/frontend/src/optimizer/plan_node/logical_file_scan.rs
  src/frontend/src/optimizer/rule/table_function_to_file_scan_rule.rs
Labels: type/feature

#20149 test: add retry to flaky test
  e2e_test/source_inline/kafka/avro/name_strategy.slt
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
Labels: component/test

#20076 feat(storage): switch to eviction time disk cache insertion
  Cargo.lock
  Cargo.toml
  src/storage/src/store_impl.rs
Labels: type/feature

#20150 ci: reuse plugin with anchor to make yaml shorter
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: component/ci, ci/main-cron/run-all

#20155 refactor(storage): switch to foyer 0.14.0 and mixtrics 0.0.2
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/store_impl.rs
Labels: type/refactor

#20098 refactor(connector): make SplitEnumerator/Reader dyn
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/mqtt/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/reader/fs_reader.rs
  src/connector/src/source/reader/reader.rs
  src/meta/service/src/cloud_service.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/worker.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20157 fix: update docker compose to use v2.1.2
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/fix

#20136 test(connector): add source test for `Date('0000-00-00')`
  e2e_test/source_inline/tvf/mysql_query.slt
Labels: component/test

#20166 test: bump slt 0.26.3
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  src/tests/simulation/Cargo.toml
Labels: component/test

#20043 feat(mysql-cdc): add retry when connecting to mysql
  src/connector/src/source/cdc/external/mysql.rs
Labels: type/feature

#19993 feat(frontend): lossy "purify" column default value
  src/frontend/src/catalog/purify.rs
  src/frontend/src/handler/create_table.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
Labels: type/feature

#19997 refactor(frontend): reuse def purification for assembling cdc table def when auto schema change
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/purify.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/rpc/mod.rs
Labels: type/refactor

#19994 fix(log): print java exception stack trace in logger (cherry-pick #19814)
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jAdapter.java
Labels: type/fix, cherry-pick

#20174 feat(frontend): allow schema change & sink into a CTAS table
  e2e_test/ddl/show_purify.slt
  e2e_test/sink/sink_into_table/ctas.slt
  src/frontend/src/catalog/table_catalog.rs
Labels: type/feature

#20153 feat(storage): refactor and support local state store flushed snapshot reader
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/lib.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Labels: type/feature

#19702 feat: support DROP SCHEMA CASCADE and some refactoring
  dashboard/scripts/generate_proto.sh
  e2e_test/ddl/drop/drop_schema_cascade.slt
  proto/ddl_service.proto
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/src/hummock/observer_manager.rs
Labels: type/feature, user-facing-changes, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20065 feat: delete Kafka consumer group on drop
  Cargo.lock
  Cargo.toml
  e2e_test/source_inline/kafka/consumer_group.mjs
  e2e_test/source_inline/kafka/consumer_group.slt.serial
  e2e_test/source_inline/kafka/consumer_group_non_shared.slt.serial
  src/common/src/lib.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator.rs
  src/connector/src/source/kafka/enumerator/mod.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/source_manager/worker.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20181 feat(sink): Avro with AWS Glue Schema Registry
  e2e_test/source_inline/kafka/avro/glue.slt.serial
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/schema/loader.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/formatter/mod.rs
Labels: type/feature

#20190 refactor(meta): use in memory struct for table fragments
  src/meta/service/src/scale_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20131 feat(frontend): use purified definition for replacing table
  e2e_test/source_inline/kafka/avro/alter_table.slt
  e2e_test/source_legacy/cdc_inline/alter/cdc_table_alter.slt
  src/frontend/src/catalog/purify.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/rpc/mod.rs
Labels: type/feature

#20176 feat: use order key as mv's dist key
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/batch_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/functional_dependency.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source_kafka.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/order_by.yaml
  src/frontend/planner_test/tests/testdata/output/project_set.yaml
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
  src/frontend/planner_test/tests/testdata/output/row_filter.yaml
  src/frontend/planner_test/tests/testdata/output/singleton.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/topn.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_kafka.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/tests/simulation/src/nexmark.rs
Labels: type/feature

#20077 feat: delete Kafka consumer group when source backfill is finished
  e2e_test/source_inline/commands.toml
  e2e_test/source_inline/kafka/consumer_group.slt.serial
  e2e_test/source_inline/kafka/consumer_group_non_shared.slt.serial
  e2e_test/source_inline/kafka/shared_source.slt.serial
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator.rs
  src/connector/src/source/kafka/source/reader.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/worker.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20199 fix: add privilege check for drop user
  src/frontend/src/handler/drop_database.rs
  src/frontend/src/handler/drop_user.rs
Labels: type/fix

#20189 feat(iceberg): support iceberg connection
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/iceberg/test_case/iceberg_connection.slt
  e2e_test/iceberg/test_case/iceberg_connection.toml
  src/connector/src/connector_common/connection.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-sink-v2-tests

#20209 chore: increase e2e parallel in-memory test timeout
  ci/workflows/main-cron.yml
Labels: type/chore

#20193 fix(meta): fix incorrect displayed worker type
  src/meta/src/controller/cluster.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20158 refactor: optimize delta log deletion
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20212 refactor(iceberg): remove unnecessary JSON serde
  src/batch/executors/src/executor/iceberg_scan.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
Labels: type/refactor, ci/run-e2e-iceberg-engine-tests, ci/run-e2e-iceberg-sink-v2-tests

#20050 feat(storage): Splitting table change log from HummockVersion on CN side
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/version.rs
Labels: type/feature, ci/run-backfill-tests

#20182 refactor(frontend): use purified definition for altering source
  e2e_test/source_inline/kafka/alter/add_column_shared.slt
  e2e_test/source_inline/kafka/avro/alter_source.slt
  e2e_test/source_inline/kafka/protobuf/alter_source_shared.slt
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
Labels: type/refactor

#20205 chore: change debezium-connect image name
  integration_tests/debezium-mysql/docker-compose.yml
  integration_tests/debezium-postgres/docker-compose.yml
  integration_tests/debezium-sqlserver/docker-compose.yml
Labels: type/chore

#20208 chore(deps): Bump aws-lc-rs from v1.6.2 to 1.12.1
  Cargo.lock
Labels: type/chore

#20201 fix: fix several issues about the public schema
  src/frontend/src/handler/show.rs
  src/frontend/src/session.rs
Labels: type/fix

#20232 cherry-pick: fix: #20076 and #20155
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/store_impl.rs
Labels: cherry-pick

#20224 fix(risedev): set `CONNECTOR_LIBS_PATH` for `risedev playground`
  Makefile.toml
  src/jni_core/src/jvm_runtime.rs
Labels: type/fix

#20234 feat: support real system func pg_table_is_visible
  proto/expr.proto
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/function_impl/pg_table_is_visible.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#20241 fix(meta): fix receiving scheduled command on blocked database
  src/meta/src/barrier/schedule.rs
Labels: type/fix, ci/run-e2e-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20242 fix: make dashboard prometheus queries work with cloud data sources
  src/meta/src/dashboard/prometheus.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20225 fix(iceberg): fix iceberg write qps
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/fix

#20238 fix(connector): handle update insert and delete + subset pk + handle delete mapping
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/postgres_sink.slt
  src/connector/src/sink/postgres.rs
  src/stream/src/common/compact_chunk.rs
Labels: type/fix, ci/run-e2e-sink-tests, ci/main-cron/run-selected, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20173 chore: capture occasional errors in main cron
  e2e_test/s3/file_sink.py
Labels: type/chore, ci/run-s3-source-tests, ci/main-cron/run-selected

#20253 refactor(connector): use dyn for connection
  src/connector/src/connector_common/connection.rs
  src/connector/src/lib.rs
  src/connector/src/macros.rs
Labels: type/refactor

#20180 fix(telemetry): not send report if cluster is in test env
  src/common/src/telemetry/mod.rs
  src/common/src/telemetry/report.rs
  src/meta/service/src/telemetry_service.rs
  src/meta/src/telemetry.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20194 refactor(storage): Reduce get_table_id_tables lock calls.
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20216 refactor: optimize delta log deletion (#20158)
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/manager/env.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#20219 refactor(frontend): use empty tcp stream for frontend health check in docker-compose
  Cargo.lock
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
  integration_tests/iceberg-sink2/docker/hive/docker-compose.yml
  integration_tests/iceberg-sink2/docker/jdbc/docker-compose.yml
  integration_tests/iceberg-sink2/docker/rest/docker-compose.yml
  integration_tests/iceberg-sink2/docker/storage/docker-compose.yml
  integration_tests/iceberg-source/docker/hive/docker-compose.yml
  integration_tests/iceberg-source/docker/jdbc/docker-compose.yml
  integration_tests/iceberg-source/docker/rest/docker-compose.yml
  integration_tests/iceberg-source/docker/storage/docker-compose.yml
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_message.rs
Labels: type/refactor

#20221 fix(frontend): cursor should not be schema-bound
  e2e_test/batch/transaction/cursor.slt
  e2e_test/subscription/check_sql_statement.slt
  src/frontend/src/binder/declare_cursor.rs
  src/frontend/src/handler/close_cursor.rs
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/fetch_cursor.rs
  src/frontend/src/session/cursor_manager.rs
  src/sqlparser/src/ast/statement.rs
Labels: type/fix

#20257 feat(prost): add deprecated attribute for helper methods of deprecated field
  src/expr/core/src/window_function/call.rs
  src/prost/helpers/src/generate.rs
Labels: type/feature

#20091 refactor(secret): use aws-lc-rs to replace aes-gcm crate
  Cargo.lock
  src/common/secret/Cargo.toml
  src/common/secret/src/encryption.rs
Labels: type/refactor, ci/run-backwards-compat-tests

#20266 fix(dashboard): randomUUID does not exist in some browser version
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/heap_profiling.tsx
Labels: type/fix

#20254 cherry-pick fix(udf): bump arrow-udf-wasm to 0.4.1 to fix rust udf compile target
  Cargo.lock
Labels: cherry-pick

#20233 feat: make privatelink.endpoint accept json array (#20154)
  src/connector/src/source/kafka/private_link.rs
Labels: type/feature

#20269 fix(meta): deduplicate pk when writing time travel metadata
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#20154 feat: make `privatelink.endpoint` accept json array
  src/connector/src/source/kafka/private_link.rs
Labels: type/feature, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20272 feat: make privatelink.endpoint accept json array (#20233)
  src/connector/src/source/kafka/private_link.rs
Labels: type/feature

#20255 cherry-pick fix(udf): bump arrow-udf-wasm to 0.4.1 to fix rust udf compile target
  Cargo.lock
Labels: cherry-pick

#20285 fix: finish source backfill immediately for scan.startup.mode=latest
  e2e_test/source_inline/kafka/shared_source.slt.serial
  src/connector/src/source/kafka/source/reader.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20292 fix: list one page in fs source executor
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/filesystem/s3/enumerator.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20286 feat(risedev): parallel service startup
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/util.rs
Labels: type/feature

#20293 fix(test): didn't drop source but deleted topic
  e2e_test/source_inline/kafka/shared_source.slt.serial
Labels: type/fix

#20297 fix(playground): listen to `127.0.0.1` instead of `0.0.0.0` for gRPC services
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/single_node.rs
Labels: type/fix

#20156 fix(parquet): handle nested data types correctly
  e2e_test/s3/file_sink.py
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected

#20313 refactor: refactor series of visit_stream_node method
  src/common/src/util/stream_graph_visitor.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/schedule.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20314 fix(compactor): fix full key can concat
  src/storage/hummock_sdk/src/lib.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20322 refactor: rename fs executor mods
  src/connector/src/source/filesystem/mod.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/mod.rs
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/validate.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/fs_list_executor.rs
  src/stream/src/executor/source/legacy_fs_source_executor.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/refactor, ci/run-s3-source-tests

#20276 feat(license): invalidate license when cpu exceeds limit instead of rejecting new compute nodes from joining
  .typos.toml
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/compute/src/observer/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/license/src/cpu.rs
  src/license/src/feature.rs
  src/license/src/lib.rs
  src/license/src/manager.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/manager/notification.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/src/hummock/observer_manager.rs
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
  src/tests/simulation/tests/integration_tests/main.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19790 feat(batch): introduce batch AsOf join
  e2e_test/batch/join/asof_join.slt
  proto/batch_plan.proto
  src/batch/executors/benches/hash_join.rs
  src/batch/executors/src/executor/join/hash_join.rs
  src/batch/executors/src/executor/join/lookup_join_base.rs
  src/batch/executors/src/executor/join/mod.rs
  src/batch/executors/src/executor/join/nested_loop_join.rs
  src/frontend/planner_test/tests/testdata/input/asof_join.yaml
  src/frontend/planner_test/tests/testdata/output/asof_join.yaml
  src/frontend/src/optimizer/plan_node/batch_hash_join.rs
  src/frontend/src/optimizer/plan_node/eq_join_predicate.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/scheduler/distributed/query.rs
Labels: type/feature, user-facing-changes

#20338 doc: upload new diagram
  docs/dev/src/images/architecture_20250127.png
Labels: component/doc

#20339 doc: Update README.md
  README.md
Labels: component/doc

#20355 doc: Update README.md
  README.md
Labels: component/doc
