Repository risingwavelabs/risingwave, pull requests merged in 2025-08, with the labels that each got.

#22770 feat(binder): support schema binding of functions
  e2e_test/udf/tests/language_specific/sql.slt
  src/frontend/src/binder/expr/function/mod.rs
Labels: type/feature, need-cherry-pick-since-release-2.4

#22620 feat: refreshable source, SourceExec part
  proto/stream_service.proto
  src/common/src/array/stream_chunk.rs
  src/common/src/array/stream_chunk_builder.rs
  src/connector/src/source/base.rs
  src/connector/src/source/batch.rs
  src/connector/src/source/mod.rs
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/node/src/server.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/executor/source/executor_core.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/wrapper/schema_check.rs
  src/stream/src/executor/wrapper/trace.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
Labels: type/feature, ci/run-s3-source-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#22609 feat(sqlsmith): integrate reducer into sqlsmith
  Cargo.lock
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/bin/reducer.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/sqlreduce/checker.rs
  src/tests/sqlsmith/src/sqlreduce/mod.rs
  src/tests/sqlsmith/src/sqlreduce/passes/mod.rs
  src/tests/sqlsmith/src/sqlreduce/passes/pullup.rs
  src/tests/sqlsmith/src/sqlreduce/passes/remove.rs
  src/tests/sqlsmith/src/sqlreduce/passes/replace.rs
  src/tests/sqlsmith/src/sqlreduce/reducer.rs
Labels: type/feature

#22760 feat(optimizer): support pull up correlated project value rule
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/atlasgo.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/update.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/correlated_expr_rewriter.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_predicate_rule.rs
  src/frontend/src/optimizer/rule/pull_up_correlated_project_value_rule.rs
Labels: type/feature

#22733 feat: batch posix fs connector (__for_testing_only_batch_posix_fs)
  src/connector/src/macros.rs
  src/connector/src/source/batch.rs
  src/connector/src/source/filesystem/opendal_source/batch_posix_fs_source.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/mod.rs
  src/connector/with_options_source.yaml
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/stream/src/executor/source/executor_core.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected

#22780 chore: update the readme
  README.md
Labels: type/chore

#22784 fix: check usage privilege for secret
  src/frontend/src/session.rs
Labels: type/fix, need-cherry-pick-since-release-2.4

#22779 refactor(frontend): make `to_expr_proto` failable instead of directly panicking
  src/frontend/src/expr/agg_call.rs
  src/frontend/src/expr/correlated_input_ref.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/function_call_with_lambda.rs
  src/frontend/src/expr/input_ref.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/now.rs
  src/frontend/src/expr/parameter.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/expr/window_function.rs
Labels: type/refactor

#22781 feat(sink): add s3 writer snowflake sink
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/redshift.rs
  src/connector/src/sink/snowflake.rs
Labels: type/feature

#22793 fix(cdc): limit cdc offset fetch concurrency globally
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/fix, ci/main-cron/run-all

#22809 chore(deps): bump madsim-rdkafka to 0.4.4 (#22343) (#22351)
  Cargo.lock
  Cargo.toml
Labels: type/chore

#22765 fix(frontend): fix explain analyze on distributed worker nodes
  src/common/src/operator.rs
  src/frontend/src/handler/explain_analyze_stream_job.rs
  src/stream/src/executor/wrapper.rs
Labels: type/fix, need-cherry-pick-since-release-2.4

#22807 refactor(pg-cdc): do not require table owner permission for pk access
  src/connector/src/connector_common/postgres.rs
Labels: type/refactor

#22778 refactor(binder): simplify error reporting for binding SQL UDF
  e2e_test/udf/tests/language_specific/sql.slt
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/error.rs
  src/frontend/src/handler/create_sql_function.rs
Labels: type/refactor

#22759 feat: support truncate table
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/validate_version.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/prost/build.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/test_utils.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22813 refactor(pg-cdc): do not require table owner permission for pk access
  src/connector/src/connector_common/postgres.rs
  src/connector/src/sink/redshift.rs
Labels: type/refactor

#22787 fix: check usage privilege for secret (#22784)
  src/frontend/src/session.rs
Labels: type/fix, ci/main-cron/run-all

#22827 feat: add a session variable to separate sink
  e2e_test/batch/catalog/pg_settings.slt.part
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/stream/mod.rs
  src/frontend/src/optimizer/rule/stream/separate_consecutive_join_rule.rs
Labels: type/feature

#22819 fix(iceberg): fix iceberg-rust parquet max stats
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Labels: type/fix, ci/run-e2e-iceberg-tests

#22627 feat: hashicorp_vault as secret backend
  .typos.toml
  Cargo.lock
  Cargo.toml
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
  ci/scripts/setup-vault.sh
  e2e_test/source_inline/vault/vault_approle_setup.py
  e2e_test/source_inline/vault/vault_secret_ddl.slt
  e2e_test/source_inline/vault/vault_secret_source.slt
  proto/secret.proto
  src/common/secret/Cargo.toml
  src/common/secret/src/lib.rs
  src/common/secret/src/secret_manager.rs
  src/common/secret/src/vault_client.rs
  src/connector/Cargo.toml
  src/expr/impl/tests/sig.rs
  src/frontend/src/handler/alter_secret.rs
  src/frontend/src/handler/create_secret.rs
Labels: type/feature

#21970 chore: sink test coverage
  ci/scripts/e2e-kafka-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/workflows/pull-request.yml
  e2e_test/sink/kafka/avro-decimal.slt
  e2e_test/sink/license.slt
  e2e_test/sink/rate_limit.slt
Labels: type/chore

#22801 feat(dashboard): add test data for dashboard rendering
  ci/scripts/e2e-test-serial.sh
  dashboard/README.md
  e2e_test/dashboard/create_graph.slt.part
  e2e_test/dashboard/drop_graph.slt.part
  e2e_test/dashboard/graph.slt
Labels: type/feature

#22860 fix(iceberg): fix iceberg s3 path style access
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.4

#22802 fix(dashboard): normalize backpressure values to 0-1 range
  dashboard/components/utils/backPressure.tsx
Labels: type/fix

#22873 fix: cherry-pick fix datafusion sql format
  Cargo.lock
  src/storage/Cargo.toml
Labels: type/fix, ci/main-cron/run-all

#22826 refactor(cdc): allow alter cdc source cdc.source.wait.streaming.start.timeout
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  src/common/src/session_config/mod.rs
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/with_options_test.rs
  src/frontend/src/handler/create_source.rs
Labels: type/refactor, type/fix

#22795 fix(cdc): limit cdc offset fetch concurrency globally
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/fix, ci/main-cron/run-all

#22878 fix(streaming): avoid `unwrap` when reading state
  src/stream/src/executor/join/hash_join.rs
Labels: type/fix, need-cherry-pick-since-release-2.4

#22880 feat: add `allow_create_stream` to avoid create nats stream by mistake (#22315)
  e2e_test/source_inline/nats/test.slt.serial
  integration_tests/nats/README.md
  integration_tests/nats/create_sink.sql
  integration_tests/nats/create_source.sql
  integration_tests/nats/pb/create_source.sql
  src/connector/src/connector_common/common.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22864 feat(expr): allow parsing timestamptz before year 1600
  src/common/src/types/timestamptz.rs
  src/expr/impl/src/scalar/timestamptz.rs
Labels: need-cherry-pick-since-release-2.4

#22855 chore: remove unused JoinStreamChunkBuilder
  src/stream/src/common/builder.rs
Labels: type/chore

#22840 refactor(optimizer): introduce `Upsert` stream kind & reject it in many cases
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_dedup.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_node/stream.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_local_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_materialized_exprs.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_row_merge.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
  src/frontend/src/optimizer/property/stream_kind.rs
  src/frontend/src/optimizer/rule/stream/separate_consecutive_join_rule.rs
Labels: type/refactor

#22898 fix(redshift): update VARCHAR to VARCHAR(MAX) for compatibility
  src/connector/src/sink/snowflake_redshift/redshift.rs
Labels: type/fix

#22903 fix(typo): slt file name typo
  e2e_test/batch/describe_fragment.slt
Labels: type/fix

#22820 feat(vector): clear remaining vector place holders
  ci/scripts/e2e-sink-test.sh
  e2e_test/batch/types/vector.slt.part
  e2e_test/sink/sink_vector_columns.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/mod.rs
  src/common/src/array/vector_array.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/test_utils/rand_chunk.rs
  src/common/src/types/mod.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_sql.rs
  src/common/src/util/memcmp_encoding.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
  src/expr/impl/src/udf/wasm.rs
  src/frontend/src/handler/create_source/validate.rs
  src/frontend/src/handler/create_table/col_id_gen.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/stream/src/executor/dispatch/output_mapping.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#22432 feat(frontend): support create vector index on frontend
  e2e_test/ddl/vector_index.slt
  proto/catalog.proto
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_indexes.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/refresh.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/generic/table_scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_vector_index_write.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model/src/table.rs
  src/meta/src/barrier/command.rs
  src/meta/src/manager/diagnose.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22926 fix(redshift): sepecify aws_iam_role in redshift COPY sql
  src/connector/src/sink/snowflake_redshift/redshift.rs
Labels: type/fix

#22890 feat(vector): implement dedicated array and serde format for vector data type
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/list_array.rs
  src/common/src/array/vector_array.rs
  src/common/src/lib.rs
  src/common/src/types/mod.rs
  src/common/src/types/ordered_float.rs
  src/common/src/types/to_binary.rs
  src/common/src/util/value_encoding/error.rs
  src/common/src/util/value_encoding/mod.rs
  src/common/src/vector/mod.rs
  src/storage/src/hummock/vector/file.rs
Labels: type/feature

#22913 test(iceberg): add lakekeeper e2e test
  ci/risedev-components.ci.iceberg.env
  ci/scripts/common.sh
  ci/scripts/e2e-iceberg-test.sh
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine_lakekeeper.slt
  risedev.yml
Labels: A-test, ci/run-e2e-iceberg-tests

#22935 fix: fix temporal join prev epoch
  src/stream/src/executor/temporal_join.rs
Labels: need-cherry-pick-since-release-2.4

#22891 feat(expr): allow parsing timestamptz before year 1600 (#22864)
  src/common/src/types/timestamptz.rs
  src/expr/impl/src/scalar/timestamptz.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22843 feat(dashboard): support querying historical backpressure
  dashboard/components/TimeControls.tsx
  dashboard/lib/api/streamingStats.ts
  dashboard/lib/utils/timeUtils.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
  src/meta/src/dashboard/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22946 fix(meta): include new model in metadata backup
  src/meta/model/src/user_default_privilege.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.5

#22939 feat: refill specific table-ids
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/recent_filter/simple.rs
  src/storage/src/opts.rs
Labels: type/feature

#22948 fix(meta): include new model in metadata backup (#22946)
  src/meta/model/src/user_default_privilege.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#22937 fix: fix temporal join prev epoch (#22935)
  src/stream/src/executor/temporal_join.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22940 feat(hummock): support skip recent filter, add sharded recent filter
  Cargo.lock
  Cargo.toml
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/recent_filter.rs
  src/storage/src/hummock/recent_filter/all.rs
  src/storage/src/hummock/recent_filter/mod.rs
  src/storage/src/hummock/recent_filter/none.rs
  src/storage/src/hummock/recent_filter/sharded.rs
  src/storage/src/hummock/recent_filter/simple.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#22954 fix(sink): remove drop pipe when recovery
  src/connector/src/sink/snowflake_redshift/snowflake.rs
Labels: type/fix

#22953 fix(ci): remove non-existent query for nexmark action
  .github/workflows/run-perf-test.yml
Labels: type/fix

#22959 chore: skip generated `allow_alter_on_fly_fields` format check
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/lib.rs
  src/connector/src/with_options_test.rs
Labels: type/chore

#22942 feat: support vacuum full iceberg table
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_vacuum.slt
  proto/ddl_service.proto
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/vacuum.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/vacuum.yaml
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22307 fix(ci): use dirname instead of hard-coded absolute path for env in `common.sh`
  ci/scripts/common.sh
Labels: type/fix

#22955 feat(streaming): only materialize expr for retract input
  e2e_test/streaming/materialized_project.slt
  src/frontend/planner_test/tests/testdata/input/project.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/src/optimizer/plan_node/logical_project.rs
Labels: type/feature

#22951 fix(log-store): fix invalid key range when reading initial persisted stream (#22941)
  src/storage/src/hummock/store/version.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22956 refactor(on conflict): optimize materialize executor by storing `OwnedRow` in `ChangeBuffer`
  src/stream/src/executor/mview/materialize.rs
Labels: type/refactor

#22947 feat: expose snapshot expiration config
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_table.rs
  src/meta/src/manager/iceberg_compaction.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22967 feat: support iceberg snapshot metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/iceberg_metrics.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22973 fix: Add pruning logic to prevent the compactor from incorrectly accessing watermarks.
  src/meta/src/hummock/manager/compaction/mod.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.5

#22977 fix: fix snapshot_expiration_timestamp_ms config semantics
  e2e_test/iceberg/test_case/pure_slt/iceberg_expire_snapshots.slt
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_table.rs
  src/meta/src/manager/iceberg_compaction.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22661 feat(sink): add mutation to add sink schema
  proto/connector_service.proto
  proto/stream_plan.proto
  src/bench/sink_bench/main.rs
  src/common/src/catalog/schema.rs
  src/connector/src/sink/boxed.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/deltalake/imp.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mock_coordination_client.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/trivial.rs
  src/connector/src/sink/utils.rs
  src/meta/src/barrier/command.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/sink_coordinate_client.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
  src/tests/simulation/tests/integration_tests/sink/exactly_once/utils.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22487 feat: decouple streaming now timestamp and epoch
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/stream/src/executor/now.rs
  src/stream/src/from_proto/now.rs
Labels: type/feature

#22960 feat(embedding): pass embedding options via jsonb const
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-test-serial.sh
  e2e_test/vector_search/embedding_func.slt
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/ai_model.rs
  src/frontend/planner_test/tests/testdata/input/project.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/utils/openai_embedding_service/Cargo.toml
  src/utils/openai_embedding_service/src/bin/mocked_service.rs
  src/utils/openai_embedding_service/src/bin/test_client.rs
  src/utils/openai_embedding_service/src/lib.rs
Labels: type/feature

#22983 feat(hummock): support skip recent filter (#22940)
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/recent_filter.rs
  src/storage/src/hummock/recent_filter/all.rs
  src/storage/src/hummock/recent_filter/mod.rs
  src/storage/src/hummock/recent_filter/none.rs
  src/storage/src/hummock/recent_filter/sharded.rs
  src/storage/src/hummock/recent_filter/simple.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature, ci/main-cron/run-all

#22996 fix(main cron): clickhouse test out of order (#22988)
  ci/scripts/e2e-clickhouse-sink-test.sh
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23000 refactor(frontend): use const size array guard_by_len in builtin scalar function
  src/frontend/src/binder/expr/function/builtin_scalar.rs
Labels: type/refactor

#22995 fix: only auto fill intermediate table name for redshift/snowflake
  src/frontend/src/handler/create_sink.rs
Labels: type/fix

#23005 fix(storage): set missing opendal metakey
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Labels: type/fix

#22979 feat(cdc): allow user config debezium.time.precision.mode to handle extreme timestamp
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  src/compute/tests/cdc_tests.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/datagen/source/generator.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#23015 chore:  use a larger runner for copilot agent
  .github/workflows/copilot-setup-steps.yml
Labels: type/chore

#22999 feat(cdc): allow user config debezium.time.precision.mode to handle extreme timestamp
  ci/workflows/main-cron.yml
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp_prepare.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp_update.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  src/compute/tests/cdc_tests.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/datagen/source/generator.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22200 fix(pg-cdc): enhance postgres cdc schema check
  e2e_test/source_inline/cdc/postgres/postgres_schema_check.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
Labels: type/fix
