Repository risingwavelabs/risingwave, pull requests merged in 2025-09, with the labels that each got.

#23013 feat(risedev): support provide moat for dev
  Makefile.toml
  risedev.yml
  src/risedevtool/config/src/main.rs
  src/risedevtool/moat.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/moat_service.rs
  src/risedevtool/src/task/mod.rs
  src/risedevtool/src/task/utils.rs
Labels: type/feature

#22467 feat(frontend): optimizer rule to convert vector top n to vector index read
  src/frontend/planner_test/tests/testdata/input/vector_search.yaml
  src/frontend/planner_test/tests/testdata/output/vector_search.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/logical_vector_search.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/project_merge_rule.rs
  src/frontend/src/optimizer/rule/top_n_to_vector_search_rule.rs
Labels: type/refactor, type/feature, block-release-v2.6

#23018 fix(streaming): also record agg state cache stats on `AggGroup::create` for `HashAgg`
  src/stream/src/executor/aggregate/agg_group.rs
  src/stream/src/executor/aggregate/hash_agg.rs
  src/stream/src/executor/aggregate/simple_agg.rs
Labels: type/fix

#23027 chore:  update package version in Cargo.toml
  Cargo.lock
  Cargo.toml
Labels: type/chore

#22965 fix(sink): avoid advance delete for force_append_only sink (#22747)
  src/stream/src/executor/sink.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23028 fix(ci): add default false for PUSH_DOCKERHUB env
  ci/scripts/multi-arch-docker.sh
Labels: need-cherry-pick-since-release-2.6

#23033 chore(risedev): replace unmaintained `yaml-rust` with `yaml-rust2`
  Cargo.lock
  src/risedevtool/Cargo.toml
Labels: type/chore

#22853 refactor(state-table): extract logic of row store in state table
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/dedup/append_only_dedup.rs
Labels: type/refactor, block-release-v2.6

#23032 chore(ci): remove extra branch configuration
  .github/workflows/build-docker-image.yml
Labels: type/chore, need-cherry-pick-since-release-2.6

#23020 chore: deprecate async-std in sql metastore migration
  Cargo.lock
  src/meta/model/migration/Cargo.toml
  src/meta/model/migration/src/main.rs
Labels: type/chore, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23037 refactor(meta): Use bitwise op to filter fragment type mask
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23038 fix(dashboard): fix fragment to relation backpressure edge mapping
  dashboard/pages/relation_graph.tsx
  e2e_test/dashboard/create_graph.slt.part
  e2e_test/dashboard/drop_graph.slt.part
  proto/meta.proto
  src/meta/src/dashboard/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.6

#23026 chore: move to bitnamilegacy (kafka, nats-cli)
  ci/docker-compose.yml
  integration_tests/iceberg-sink/Dockerfile
  integration_tests/kafka-cdc-sink/Makefile.toml
  integration_tests/nats/docker-compose.yml
Labels: type/chore, ci/run-e2e-source-tests, ci/run-e2e-iceberg-tests

#23043 fix(foyer): bump foyer version v0.19.2 for bugfixs
  Cargo.lock
  Cargo.toml
Labels: type/fix, ci/main-cron/run-all

#23051 fix(meta): fix meta store compatibility issue
  src/meta/src/barrier/cdc_progress.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, block-release-v2.6

#22992 feat(iceberg): add e2e test for iceberg copy on write mode
  e2e_test/iceberg/test_case/pure_slt/iceberg_copy_on_write.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
Labels: type/feature, ci/run-e2e-iceberg-tests

#23059 feat(cdc): add progress tracking for parallelized cdc backfill (#22943)
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  proto/meta.proto
  proto/source.proto
  proto/stream_plan.proto
  proto/stream_service.proto
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_cdc_progress.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/test_utils.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250821_081110_cdc_table_snapshot_splits_add_column.rs
  src/meta/model/src/cdc_table_snapshot_split.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/cdc_progress.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/lib.rs
  src/meta/src/manager/env.rs
  src/meta/src/stream/cdc.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/executor/backfill/cdc/state_v2.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
  src/stream/src/task/barrier_manager/cdc_progress.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
Labels: type/feature, cherry-pick, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends, block-release-v2.6

#23042 fix(foyer): bump foyer version v0.19.2 for bugfixs
  Cargo.lock
  Cargo.toml
Labels: type/fix, ci/main-cron/run-all

#23063 chore: increase single-node test timeout
  ci/workflows/main-cron.yml
Labels: type/chore, ci/run-e2e-single-node-tests

#22857 feat(state-table): support optionally preload all rows in memory
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/bench/Cargo.toml
  src/common/src/config/streaming.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/table/scan.rs
  src/license/src/feature.json
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/iterator/change_log.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/mem_table.rs
  src/storage/src/memory.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/source/source_backfill_state_table.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/from_proto/agg_common.rs
  src/stream/src/from_proto/append_only_dedup.rs
  src/stream/src/from_proto/approx_percentile/global.rs
  src/stream/src/from_proto/asof_join.rs
  src/stream/src/from_proto/dynamic_filter.rs
  src/stream/src/from_proto/eowc_over_window.rs
  src/stream/src/from_proto/group_top_n.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/hash_join.rs
  src/stream/src/from_proto/materialized_exprs.rs
  src/stream/src/from_proto/now.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/src/from_proto/simple_agg.rs
  src/stream/src/from_proto/sort.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/from_proto/temporal_join.rs
  src/stream/src/from_proto/top_n.rs
  src/stream/src/from_proto/watermark_filter.rs
  src/stream/src/task/actor_manager.rs
Labels: type/feature, ci/main-cron/run-selected, block-release-v2.6, ci/run-preload-memory-tests

#23055 fix: ALTER SOURCE CONNECTOR should work for non-shared source
  ci/docker-compose.yml
  e2e_test/source_inline/kafka/add_partition.slt
  e2e_test/source_inline/kafka/alter/alter_connector_props_non_shared_source.slt
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, A-test, ci/run-e2e-source-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.5

#23074 chore: increase single-node test timeout (#23063)
  ci/workflows/main-cron.yml
Labels: type/chore, cherry-pick

#23044 fix(foyer): bump foyer version v0.19.2 for bugfixs
  Cargo.lock
  Cargo.toml
Labels: type/fix

#23029 feat: remove license check on basic iceberg compaction
  src/connector/src/sink/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-tests, block-release-v2.6

#23045 feat(iceberg): add docker compose with lakekeeper
  docker/docker-compose-with-lakekeeper.yml
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-tests

#23085 fix: ALTER SOURCE CONNECTOR should work for non-shared source (#23055)
  ci/docker-compose.yml
  e2e_test/source_inline/kafka/add_partition.slt
  e2e_test/source_inline/kafka/alter/alter_connector_props_non_shared_source.slt
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#23069 fix(sink): Build dist_key in sink-into-table dispatcher
  e2e_test/sink/sink_into_table/alter_column.slt
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.6

#22503 fix(cdc): use `lsn_commit` and `lsn_proc` for pg cdc offset
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
Labels: type/fix, block-release-v2.6

#23087 fix: cache cancel table list for compactor notification
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23034 feat(optimizer): set `noop_update_hint` for `Project` after `Now`
  e2e_test/streaming/now_semi_join.slt
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/generate_series_with_now.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/predicate_pushdown.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature

#23047 feat: treat empty(zero-field) struct as alterable
  e2e_test/ddl/alter_table_column_type/empty_struct.slt
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Labels: type/feature

#23102 fix(vector): recreate graph builder with capacity derived from hnsw.m (#23095)
  src/storage/src/hummock/vector/writer/hnsw.rs
  src/storage/src/vector/hnsw.rs
  src/storage/src/vector/utils.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23098 fix: ban cross database stream query with upstream only
  src/frontend/src/optimizer/plan_node/generic/table_scan.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
Labels: type/fix, need-cherry-pick-since-release-2.6

#23067 fix: hnsw off-by-one in insert descent and add visitation tests
  src/storage/src/vector/hnsw.rs
Labels: block-release-v2.6, need-cherry-pick-since-release-2.6

#23105 fix: cache cancel table list for compactor notification (#23087)
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#23104 fix: ban cross database stream query with upstream only (#23098)
  src/frontend/src/optimizer/plan_node/generic/table_scan.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23060 fix: add recover to avoid flaky test
  e2e_test/ddl/alter_resource_group.slt
Labels: type/fix, need-cherry-pick-since-release-2.4

#23110 fix: add recover to avoid flaky test (#23060)
  e2e_test/ddl/alter_resource_group.slt
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23111 fix: add recover to avoid flaky test (#23060)
  e2e_test/ddl/alter_resource_group.slt
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23011 feat(sqlsmith): integrate reducer into ci
  ci/scripts/build.sh
  ci/scripts/run-deterministic-fuzz-test.sh
  ci/scripts/run-fuzz-test.sh
  ci/workflows/pull-request.yml
  src/tests/sqlsmith/src/bin/reducer.rs
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/sqlreduce/checker.rs
  src/tests/sqlsmith/src/sqlreduce/reducer.rs
Labels: type/feature, ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#23112 fix: add recover to avoid flaky test (#23060)
  e2e_test/ddl/alter_resource_group.slt
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22920 refactor(sink): Simplify sink-into-table with new dynamic operator
  e2e_test/batch/describe_fragment.slt
  e2e_test/batch/describe_fragments.slt
  e2e_test/ddl/drop/drop_schema_cascade.slt
  e2e_test/sink/sink_into_table/alter_column.slt
  e2e_test/sink/sink_into_table/cascade_drop.slt
  e2e_test/sink/sink_into_table/parallelism.slt
  proto/ddl_service.proto
  src/frontend/planner_test/tests/testdata/output/create_source.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/planner_test/tests/testdata/output/generated_columns.yaml
  src/frontend/planner_test/tests/testdata/output/shared_source.yml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_upstream_sink_union.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/edge_builder.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
  src/stream/src/task/actor_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23124 refactor(meta): match fragment type mask correctly
  src/meta/src/barrier/cdc_progress.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23134 chore: update version to v2.6.0-rc.1
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore, ci/main-cron/run-all

#23097 feat(foyer): expose blob size index configuration
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#23135 cherry-pick: feat: decouple streaming now timestamp and epoch (#22487)
  src/common/src/config.rs
  src/stream/src/executor/now.rs
  src/stream/src/from_proto/now.rs
Labels: cherry-pick, ci/main-cron/run-all

#23092 feat(optimizer): support index selection for backfilling (part 1)
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/batch/catalog/rw_depend.slt.part
  src/common/src/session_config/mod.rs
  src/common/src/util/sort_util.rs
  src/frontend/planner_test/tests/testdata/input/index_selection_for_backfilling.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection_for_backfilling.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_vector_search.rs
Labels: type/feature, user-facing-changes

#23142 fix(sink): Relax some alter table column conditions
  e2e_test/sink/sink_into_table/alter_column.slt
  src/frontend/src/handler/alter_table_column.rs
Labels: type/fix

#23122 perf: protobuf parser perf bench
  src/connector/Cargo.toml
  src/connector/benches/protobuf_bench.rs
Labels: type/perf

#23152 fix(sink): Forbid non-migrated tables from sink DDL operations
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  src/common/src/catalog/mod.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23160 fix(meta): Fix actors-to-build in snapshot-backfill
  src/meta/src/barrier/command.rs
Labels: type/fix, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#22040 feat(iceberg): support alter iceberg table connector with
  proto/meta.proto
  src/frontend/src/handler/alter_sink_props.rs
  src/frontend/src/handler/alter_table_props.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/stream/src/executor/sink.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#23146 feat(optimizer): support UnifyFirstLastValueRule
  src/frontend/planner_test/tests/testdata/input/unify_first_last_value.yaml
  src/frontend/planner_test/tests/testdata/output/unify_first_last_value.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/unify_first_last_value_rule.rs
Labels: type/feature

#23121 test(source): add an e2e test for empty protobuf message
  e2e_test/source_inline/kafka/protobuf/oneof_empty_message.slt
Labels: A-test

#23024 feat: batch source
  Cargo.lock
  e2e_test/source_inline/refresh/refresh_table.slt
  proto/catalog.proto
  proto/stream_plan.proto
  proto/stream_service.proto
  src/common/src/util/stream_graph_visitor.rs
  src/compute/src/server.rs
  src/connector/src/source/base.rs
  src/connector/src/with_options.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_source/validate.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/session.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250916_120000_add_refresh_fields.rs
  src/meta/model/src/table.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/mod.rs
  src/meta/src/stream/refresh_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/mod.rs
  src/stream/src/executor/mview/refresh_progress_table.rs
  src/stream/src/executor/stream_reader.rs
  src/stream/src/from_proto/mview.rs
  src/stream/src/task/actor_manager.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
  src/stream/src/task/env.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23217 fix(iceberg): fix iceberg compact get sink error
  src/meta/src/manager/iceberg_compaction.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.5

#23234 refactor: use state machine for `MaterializeExecutor`
  src/stream/src/executor/mview/materialize.rs
Labels: type/refactor

#23233 fix(foyer): fix OOM caused by read after refill
  Cargo.lock
  Cargo.toml
Labels: type/fix, ci/main-cron/run-all

#22084 fix: map_contains with polymorphic type
  src/expr/impl/src/scalar/array.rs
  src/frontend/src/expr/type_inference/func.rs
Labels: type/fix, need-cherry-pick-since-release-2.5

#23209 feat(streaming): introduce upsert behavior for filter executor
  src/stream/src/executor/filter.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/filter.rs
Labels: type/feature

#23223 feat(sink): support redis sink tls
  Cargo.lock
  src/connector/Cargo.toml
Labels: type/feature, need-cherry-pick-since-release-2.5

#23218 fix(meta): isolate barrier injection pause between databases (#23206)
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/worker.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#23219 fix(meta): isolate barrier injection pause between databases (#23206)
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/worker.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#23208 refactor(frontend): reduce reserved keywords in explain options
  e2e_test/batch/explain.slt
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/refactor, type/feature, user-facing-changes

#23248 refactor(types): follow-ups of using `ListType` for `DataType::List`
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/list_array.rs
  src/common/src/array/map_array.rs
  src/common/src/array/mod.rs
  src/common/src/array/vector_array.rs
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/types/to_binary.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/sink/encoder/avro.rs
  src/expr/core/src/expr/expr_some_all.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/array_concat.rs
  src/expr/impl/src/scalar/array_distinct.rs
  src/expr/impl/src/scalar/array_flatten.rs
  src/expr/impl/src/scalar/array_range_access.rs
  src/expr/impl/src/scalar/array_remove.rs
  src/expr/impl/src/scalar/array_replace.rs
  src/expr/impl/src/scalar/array_sort.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/jsonb_build.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/scalar/trim_array.rs
  src/expr/impl/src/table_function/pg_expandarray.rs
  src/expr/macro/src/gen.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
Labels: type/refactor, ci/run-e2e-iceberg-tests

#23250 fix(ci): move backfill test from `e2e-test-serial.sh` to `slow-e2e-test.sh`
  ci/scripts/e2e-test-serial.sh
  ci/scripts/slow-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/dml/rate_limit_pause_resume.slt
Labels: type/fix, ci/main-cron/run-all

#22856 feat(frontend): support creating upsert source & basic ETL usage
  Makefile.toml
  ci/.env
  ci/Dockerfile
  e2e_test/source_inline/kafka/include_key_as.slt
  e2e_test/source_inline/kafka/upsert_source.slt
  src/frontend/src/binder/relation/share.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/derive.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/property/distribution.rs
Labels: type/feature

#23253 cherry-pick: feat(sink): support redis sink tls (#23223)
  Cargo.lock
  ci/workflows/pull-request.yml
  src/connector/Cargo.toml
Labels: cherry-pick, ci/main-cron/run-all

#23264 feat: avoid populating the high part of append-only group topn cache
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_state.rs
Labels: type/feature, need-cherry-pick-since-release-2.5

#23185 feat(sink): support bigquery credentials with base64 (#23100)
  src/connector/src/sink/big_query.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#23265 feat: avoid populating the high part of append-only group topn cache (#23264)
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_state.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#23262 refactor(types): more explicit methods on `ListValue` and `ListRef`
  src/common/src/array/list_array.rs
  src/common/src/array/map_array.rs
  src/common/src/types/scalar_impl.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/cast.rs
  src/stream/src/executor/dispatch/output_mapping.rs
Labels: type/refactor

#23198 feat(pgwire): support copy query to stdout
  ci/scripts/e2e-test-serial.sh
  e2e_test/copy/expected.txt
  e2e_test/copy/gen_data.slt
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/copy.yaml
  src/utils/pgwire/src/error_or_notice.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_field_descriptor.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
  src/utils/pgwire/src/types.rs
Labels: type/feature, user-facing-changes

#23008 fix(streaming): fix sync log store fragment_id used in metrics
  src/stream/src/from_proto/sync_log_store.rs
Labels: need-cherry-pick-since-release-2.5

#23246 fix(kinesis): handle kinesis source timeout in dedicated branch (#23159)
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, cherry-pick

#23317 fix(stream): fix changlog panic
  src/common/src/util/row_id.rs
Labels: type/fix

#23306 feat(frontend): support enforce ssl connection
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/feature, user-facing-changes

#23314 fix: Add pruning logic to prevent the compactor from incorrectly accessing watermarks. (#22973)
  src/meta/src/hummock/manager/compaction/mod.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#23294 fix: bump foyer to v0.20.0 to fix #23274
  Cargo.lock
  Cargo.toml
Labels: type/fix

#23298 fix(optimizer): fix over_window_to_agg_and_join_rule (#23284)
  e2e_test/udf/tests/bug_fixes/17560_udaf_as_win_func.slt
  src/frontend/planner_test/tests/testdata/output/named_window.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/rule/over_window_to_agg_and_join_rule.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23311 fix(stream): fix _changelog_row_id out of order (#23240)
  e2e_test/streaming/changelog.slt
  proto/stream_plan.proto
  src/common/src/util/row_id.rs
  src/frontend/planner_test/tests/testdata/input/changelog.yaml
  src/frontend/planner_test/tests/testdata/output/changelog.yaml
  src/frontend/src/optimizer/plan_node/logical_changelog.rs
  src/frontend/src/optimizer/plan_node/stream_changelog.rs
  src/frontend/src/planner/changelog.rs
  src/stream/src/executor/changelog.rs
  src/stream/src/from_proto/changelog.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23318 fix(connector): fix sql server sink deadlock
  src/connector/src/sink/sqlserver.rs
Labels: type/fix, ci/run-e2e-sqlserver-sink-tests, need-cherry-pick-since-release-2.5

#23327 fix(connector): fix sql server sink deadlock (#23318)
  src/connector/src/sink/sqlserver.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#23305 fix(file_source): update state table offset and add more error log
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#23330 fix: don't notify empty info during bootstrap recovery
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/manager/notification.rs
Labels: type/fix, ci/run-integration-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#23273 refactor(executor): Decouple barrier alignment and mutation for merge type executor
  e2e_test/sink/sink_into_table/alter_column.slt
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/upstream_sink_union.rs
  src/stream/src/from_proto/upstream_sink_union.rs
Labels: type/refactor

#23352 chore: update version to v2.5.2
  Cargo.lock
  Cargo.toml
  ci/docker-compose.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
  integration_tests/iceberg-sink/Dockerfile
  integration_tests/kafka-cdc-sink/Makefile.toml
  integration_tests/nats/docker-compose.yml
Labels: type/chore, ci/main-cron/run-all, ci/run-e2e-iceberg-tests
