Repository risingwavelabs/risingwave, pull requests merged in 2025-02, with the labels that each got.

#20358 docs: Update README.md
  README.md
Labels: component/doc, Invalid PR Title

#20350 feat(stream): normalize unmatched updates
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/streaming/bug_fixes/issue_20342.slt
  e2e_test/streaming/bug_fixes/issue_20342.slt.part
  src/stream/src/executor/backfill/utils.rs
Labels: type/feature, need-cherry-pick-release-2.1

#20359 refactor(proto): add `LATEST` const value for proto message version enums
  proto/plan_common.proto
  proto/stream_plan.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/src/source/manager.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_hash_agg.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/transaction.rs
  src/prost/build.rs
  src/prost/helpers/src/lib.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/test_utils.rs
Labels: type/refactor, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20373 doc: Update README.md
  README.md
Labels: component/doc

#20304 fix(sink): fix es sink username must required
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/with_options_sink.yaml
Labels: type/fix

#20366 test(stream): add unit test for normalizing unmatched updates + fix typo
  src/stream/src/executor/backfill/utils.rs
Labels: component/test

#20360 refactor(risedev): use sqlx driver to test whether database is ready
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/task_db_ready_check.rs
Labels: type/refactor, ci/run-e2e-source-tests, ci/run-e2e-sink-tests, ci/main-cron/run-selected, ci/main-cron/run-e2e-source-tests

#20312 fix(sink): fix mongodb write error handling #19869
  src/connector/src/sink/mongodb.rs
Labels: type/fix

#20365 feat(stream): normalize unmatched updates #20350
  ci/workflows/pull-request.yml
  e2e_test/streaming/bug_fixes/issue_20342.slt
  e2e_test/streaming/bug_fixes/issue_20342.slt.part
  src/stream/src/executor/backfill/utils.rs
Labels: type/feature

#20274 refactor(storage): use Arc<SStableInfo> in HummockVersion (#19535)
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/test_utils.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#20320 fix(parquet): handle nested data types correctly
  e2e_test/s3/fs_sink.py
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
Labels: type/fix, cherry-pick

#20347 fix(pg-cdc): fix role-based permission for rds
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/SourceTestClient.java
Labels: type/fix, priority/critical, need-cherry-pick-release-2.2

#20329 feat(risedev): Add resource-group
  risedev.yml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
Labels: type/feature

#20222 refactor(meta): do not store upstream actors in merge node
  proto/stream_plan.proto
  proto/stream_service.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/actor.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#20348 fix(cdc): fix wrong default column matching
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  src/frontend/src/handler/create_table.rs
Labels: type/fix, priority/critical, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20393 chore(test): remove not cherry picked test
  e2e_test/s3/fs_sink.py
Labels: type/chore

#20382 cherry-pick feat(sink): support force_append_only for es sink (#19919) + fix(sink): fix es sink username must required (#20304)
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_converter.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_client.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_formatter.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/remote.rs
  src/connector/with_options_sink.yaml
Labels: cherry-pick

#20235 refactor: rename StorageTable to BatchTable
  src/batch/executors/src/executor/join/distributed_lookup_join.rs
  src/batch/executors/src/executor/log_row_seq_scan.rs
  src/batch/executors/src/executor/row_seq_scan.rs
  src/compute/tests/cdc_tests.rs
  src/compute/tests/integration_tests.rs
  src/ctl/src/cmd_impl/table/scan.rs
  src/storage/src/table/batch_table/mod.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/batch_query.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/lookup/impl_.rs
  src/stream/src/executor/lookup/sides.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/nested_loop_temporal_join.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/from_proto/batch_query.rs
  src/stream/src/from_proto/lookup.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/from_proto/temporal_join.rs
  src/stream/src/from_proto/watermark_filter.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#19889 feat(storage): support non_pk_prefix_watermark state cleaning
  proto/hummock.proto
  src/common/src/util/row_serde.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/compaction/selector/vnode_watermark_selector.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_merge_iter.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/skip_watermark.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/memory.rs
  src/storage/src/store.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20301 chore: add some log for meta startup
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/mod.rs
Labels: type/chore, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20390 fix(metrics): hide some actor-level metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
Labels: type/fix

#20327 fix(compaction): avoid merge a emergency group
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20204 feat(stream): add synced logstore
  Cargo.lock
  ci/workflows/pull-request.yml
  src/stream/Cargo.toml
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/feature

#20385 refactor: make actor graph builder fragment aware
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#19659 feat(storage): Provide table id filter for BackwardSstableIterator
  src/storage/src/hummock/iterator/backward_merge.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/storage_failpoints/test_iterator.rs
Labels: type/feature

#20413 fix(storage): Decoupling `WriteStop` and `Emergency` of compaction pick
  proto/hummock.proto
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#20414 feat(compaction): support trivial move multi ssts pick
  proto/hummock.proto
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/compact_task.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20422 chore: increase main-cron test timeout
  ci/workflows/main-cron.yml
Labels: type/chore

#20421 feat(source): support iceberg source with snowflake catalog
  java/connector-node/risingwave-sink-iceberg/pom.xml
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/jni_core/src/jvm_runtime.rs
Labels: type/feature, user-facing-changes

#20424 chore(test): fix test issue caused by no cherry picked pr in release 2.2
  e2e_test/s3/file_sink.py
Labels: type/chore

#20426 fix(storage): reset partition_vnode_count after merge
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
Labels: type/fix, ci/run-e2e-single-node-tests, compaction-test, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20352 feat: allow pass-by source enumerator check
  ci/scripts/e2e-source-test.sh
  e2e_test/debug_mode_only/debug_splits.slt
  src/meta/src/stream/source_manager/worker.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20324 feat(iceberg): make iceberg engine a paid feature
  src/frontend/src/handler/create_table.rs
  src/license/src/feature.rs
Labels: type/feature, ci/run-e2e-iceberg-engine-tests

#20425 chore(test): fix test issue caused by no cherry picked pr in release 2.1
  e2e_test/s3/fs_sink.py
Labels: type/chore

#20420 fix(storage): fix state store sync metrics
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/store_impl.rs
  src/stream/src/task/barrier_manager.rs
Labels: type/fix, need-cherry-pick-release-2.2

#20259 fix(telemtry): remove redundant report_event during recovery
  Cargo.lock
  e2e_test/source_inline/kafka/ttl_table_with_con.slt
  e2e_test/source_inline/nats/test.slt.serial
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/rpc/ddl_controller.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/source/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/source_backfill.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20252 fix(udf): bump `arrow-udf-wasm` to 0.4.1 to fix rust udf compile target
  Cargo.lock
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20402 feat(sink): support geospatial for redis sink
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/lib.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_formatter.rs
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/redis.rs
Labels: type/feature

#20432 refactor(log-store): extract common read write methods to log store state
  src/storage/src/store.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/refactor

#20419 feat(dal-sink): support dynamic json handle mode
  src/connector/src/sink/file_sink/opendal_sink.rs
Labels: type/feature

#20439 feat: tvf with cdc source
  e2e_test/source_inline/kafka/handling_mode.slt
  e2e_test/source_inline/tvf/mysql_query.slt
  e2e_test/source_inline/tvf/postgres_query.slt
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/expr/table_function.rs
  src/risedevtool/src/risedev_env.rs
Labels: type/feature

#20296 feat(license): set default key in production to enable paid features in clusters with a maximum of 4 CPU cores
  src/license/src/key.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20440 refactor(log-store): refine synced log store executor implementation
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/refactor

#20435 fix(hash agg): split `AggGroup` inter states and outputs change building, fixing old groups not deleted bug
  ci/scripts/e2e-test-serial.sh
  e2e_test/commands/internal_table.mjs
  e2e_test/queryable_internal_state/group_agg.slt
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/sort_buffer.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/simple_agg.rs
Labels: type/fix, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20448 chore(install script): use release page redirection instead of github api to get latest version
  scripts/install/install-risingwave.sh
Labels: type/chore

#20455 chore: fix install script...
  scripts/install/install-risingwave.sh
Labels: type/chore, type/fix

#20362 refactor(pgwire): allow sharing of pg stream
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/refactor

#20353 fix(cdc): pass ownership of source message sender to java thread
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/java-binding/src/main/java/com/risingwave/java/binding/CdcSourceChannel.java
  src/connector/src/source/cdc/source/reader.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
Labels: type/fix

#20457 feat(stream): inform rate limit update for fsfetch executor
  src/stream/src/executor/source/fs_fetch_executor.rs
Labels: type/feature, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20418 feat(dal-sink): support dynamic json handle mode
  src/connector/src/sink/file_sink/opendal_sink.rs
Labels: type/feature

#20210 feat(snapshot-backfill): support cross db snapshot backfill
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/backfill/snapshot_backfill/consume_upstream/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/task/barrier_manager/progress.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20453 fix: ack nats message properly
  e2e_test/source_inline/nats/operation.py
  e2e_test/source_inline/nats/test.slt.serial
  src/connector/src/source/mod.rs
Labels: type/fix

#20374 feat(pgwire): send notice asynchronously and promptly
  src/frontend/src/session.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature

#20469 chore(frontend): remove some dead code
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/alter_set_schema.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session.rs
Labels: type/chore

#20203 feat(frontend): allow specifying (partial) schema when creating table with derived schema
  e2e_test/source_inline/connection/ddl.slt
  e2e_test/source_inline/kafka/avro/alter_table.slt
  e2e_test/source_inline/kafka/avro/partial_schema.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/rpc/mod.rs
Labels: type/feature, user-facing-changes

#20471 cherry-pick fix(hash agg): split `AggGroup` inter states and outputs change build… to 2.0
  ci/scripts/run-e2e-test.sh
  e2e_test/commands/internal_table.mjs
  e2e_test/queryable_internal_state/group_agg.slt
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/sort_buffer.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/simple_agg.rs
Labels: cherry-pick

#20472 ci: decrease parallelism for e2e source test
  ci/scripts/e2e-source-test.sh
Labels: component/ci

#20470 refactor(frontend): release large objects early
  src/batch/executors/src/executor/generic_exchange.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/refactor

#20474 fix(storage): fix data race
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20477 refactor: display original length for truncated fmt
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/refactor

#20310 feat(meta): let stream actors in fragment share same stream node
  dashboard/pages/fragment_graph.tsx
  proto/meta.proto
  proto/stream_plan.proto
  proto/stream_service.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sinks.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20478 chore(main-cron): increase timeout for failed test
  ci/workflows/main-cron.yml
Labels: type/chore, ci/main-cron/run-all

#20481 chore: labeler backward compat tests when migration updated
  .github/labeler.yml
Labels: type/chore

#20482 fix(iceberg): fix jni catalog resource leak
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/connector_common/iceberg/jni_catalog.rs
Labels: type/fix

#20476 refactor(iceberg): remove table_meta in IcebergSplit and load_table_with_metadata
  Cargo.lock
  src/batch/executors/Cargo.toml
  src/batch/executors/src/executor/iceberg_scan.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
Labels: type/refactor

#20454 chore(ci): refactor image tags
  ci/scripts/multi-arch-docker.sh
  docker/README.md
Labels: type/chore

#20218 refactor: ensure update vnode bitmap after yield barrier
  src/compute/tests/integration_tests.rs
  src/storage/src/hummock/utils.rs
  src/stream/benches/bench_state_table.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/executor/aggregation/distinct.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/approx_percentile/global_state.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/cdc/state.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/snapshot_backfill/consume_upstream/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/dedup/append_only_dedup.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/test_utils.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/legacy_fs_source_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/stream/src/executor/top_n/utils.rs
  src/stream/src/executor/watermark_filter.rs
Labels: type/refactor, ci/main-cron/run-all

#20487 fix(logstore): fix merging of `LogStoreBufferItem::Flushed`
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/fix

#20491 refactor(log-store): update log store state vnode bitmap after yield barrier
  src/connector/src/sink/log_store.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/refactor

#20411 refactor(foyer): try foyer with the new madsim switch policy
  Cargo.lock
  Cargo.toml
Labels: type/refactor

#20486 fix(iceberg): fix creating iceberg table warning
  src/frontend/src/handler/create_table.rs
Labels: type/fix, ci/run-e2e-iceberg-engine-tests

#20502 fix(storage): fix unexpected sstable size zero
  src/meta/src/hummock/manager/commit_epoch.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/sstable_info.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20495 fix(sink): fix iceberg sink partition_by panic
  e2e_test/iceberg/benches/predicate_pushdown.slt
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix, user-facing-changes, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-sink-v2-tests

#20164 feat(webhook): webhook waiting for persistency.
  Cargo.lock
  e2e_test/webhook/check_1.slt.part
  e2e_test/webhook/check_2.slt.part
  e2e_test/webhook/check_3.slt.part
  e2e_test/webhook/create_table.slt.part
  e2e_test/webhook/drop_table.slt.part
  e2e_test/webhook/sender.py
  proto/catalog.proto
  proto/task_service.proto
  src/batch/Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/batch/src/executor/fast_insert.rs
  src/batch/src/executor/mod.rs
  src/batch/src/rpc/service/task_service.rs
  src/common/src/transaction/transaction_message.rs
  src/dml/src/table.rs
  src/dml/src/txn_channel.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/scheduler/fast_insert.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/webhook/mod.rs
  src/rpc_client/src/compute_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/dml.rs
Labels: type/feature

#20307 feat(webhook): allow webhook without secret
  e2e_test/webhook/check_1.slt.part
  e2e_test/webhook/check_2.slt.part
  e2e_test/webhook/check_3.slt.part
  e2e_test/webhook/create_table.slt.part
  e2e_test/webhook/drop_table.slt.part
  e2e_test/webhook/sender.py
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/webhook/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature

#20376 feat(frontend): support logstore plan node
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sync_log_store.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/prost/build.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/sync_log_store.rs
Labels: type/feature

#20501 feat(sink): support protobuf enum from varchar
  e2e_test/sink/kafka/protobuf.slt
  src/connector/src/sink/encoder/proto.rs
Labels: type/feature

#20386 feat(frontend): add AddLogStore rule
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/streaming/unaligned-join.slt
  src/common/src/session_config/mod.rs
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/input/delta_join.yaml
  src/frontend/planner_test/tests/testdata/input/join.yaml
  src/frontend/planner_test/tests/testdata/output/delta_join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/rule/add_logstore_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature

#20261 feat: support cross-db query in frontend and meta
  e2e_test/streaming/cross_db_mv.slt
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/from_proto/stream_scan.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20515 chore: increase parallel e2e test timeout
  ci/workflows/pull-request.yml
Labels: type/chore

#20514 chore: also release connector libs separately
  ci/scripts/release.sh
Labels: type/chore

#20456 fix(sink): fix redis sink error
  ci/scripts/e2e-redis-sink-test.sh
  e2e_test/sink/redis_sink.slt
  src/connector/src/sink/redis.rs
Labels: type/fix, ci/run-e2e-redis-sink-tests

#20460 feat(meta): expose internal table catalog during backfill phase to batch engine
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/streaming_job.rs
Labels: type/feature, ci/run-recovery-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#20023 feat: drop connector for table with connector
  e2e_test/source_inline/cdc/mysql/mysql_alter_drop_connector.serial
  e2e_test/source_inline/kafka/alter_table_drop_connector.slt
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_drop_connector.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20452 feat(SBC): Provision proto
  proto/sbc_provision.proto
Labels: type/feature

#20151 feat(iceberg): optimize iceberg source `count(*)` query
  proto/batch_plan.proto
  src/batch/executors/src/executor/iceberg_scan.rs
  src/batch/executors/src/executor/values.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_scan.rs
  src/frontend/src/optimizer/plan_node/batch_simple_agg.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_count_star.rs
  src/frontend/src/optimizer/rule/batch/mod.rs
  src/frontend/src/optimizer/rule/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-sink-v2-tests

#20517 fix(iceberg): iceberg partition by should specify field id and the partition spec id
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-engine-tests, ci/run-e2e-iceberg-sink-v2-tests

#20532 feat(frontend): redirect cast char to varchar
  e2e_test/batch/functions/cast.slt.part
  src/frontend/src/binder/expr/mod.rs
Labels: type/feature, need-cherry-pick-release-2.2

#20529 doc: Update README.md
  README.md
Labels: component/doc

#20534 test: add retry for check on drop table connector
  e2e_test/source_inline/kafka/alter_table_drop_connector.slt
Labels: component/test

#20380 feat(cdc): fix generated column for table on cdc source
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc/cdc.validate.postgres.slt
  src/frontend/src/handler/create_table.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20528 feat(frontend): support extended query mode for declare subscription cursor
  integration_tests/client-library/java/src/test/java/com/risingwave/TestCursor.java
  integration_tests/client-library/java/src/test/java/com/risingwave/TestUtils.java
  src/frontend/src/binder/declare_cursor.rs
  src/frontend/src/binder/statement.rs
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/planner/statement.rs
Labels: type/feature

#20516 chore(test): upgrade sqllogictest to 0.27.1
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test-serial.sh
  e2e_test/commands/internal_table.mjs
  e2e_test/streaming/queryable_internal_state/group_agg.slt
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/client.rs
Labels: type/chore

#20538 feat: refine check_cluster_limits error message
  src/common/src/util/cluster_limit.rs
  src/frontend/src/session.rs
Labels: type/feature, need-cherry-pick-release-2.2

#20533 fix(expr): use resolve_schema_qualified_name in cast_regclass
  e2e_test/batch/catalog/sysinfo.slt.part
  src/frontend/src/expr/function_impl/cast_regclass.rs
Labels: type/fix

#20446 feat(connector): resolve `$ref` in json schema
  Cargo.lock
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/json/mod.rs
  src/connector/codec/tests/integration_tests/json.rs
  src/connector/codec/tests/integration_tests/main.rs
  src/connector/codec/tests/test_data/id_type.json
  src/connector/src/parser/json_parser.rs
Labels: type/feature

#19932 refactor(stream): send barriers in batch when possible
  proto/stream_plan.proto
  proto/task_service.proto
  src/common/src/config.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/example.toml
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/receiver.rs
Labels: type/refactor

#20056 feat: enable privilege check for system catalogs
  e2e_test/batch/catalog/pg_class.slt.part
  src/common/src/acl/mod.rs
  src/frontend/planner_test/tests/testdata/output/dbeaver.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_indexes.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_internal_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sinks.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_subscriptions.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_views.rs
  src/frontend/src/catalog/view_catalog.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/user/mod.rs
  src/frontend/src/user/user_catalog.rs
Labels: type/feature

#20490 refactor(types): assign name `f{}` to unnamed fields of struct (`record`)
  e2e_test/batch/basic/dml_update.slt.part
  e2e_test/batch/types/map.slt.part
  e2e_test/batch/types/struct/struct.slt.part
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/sink/deltalake.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/row_filter.yaml
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/planner_test/tests/testdata/output/update.yaml
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/optimizer/rule/table_function_to_file_scan_rule.rs
  src/frontend/src/optimizer/rule/table_function_to_mysql_query_rule.rs
  src/frontend/src/optimizer/rule/table_function_to_postgres_query_rule.rs
  src/frontend/src/utils/data_type.rs
Labels: type/refactor

#20540 refactor: improve some special column handling
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/manager.rs
  src/connector/src/source/nexmark/source/combined_event.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/planner/relation.rs
Labels: type/refactor, ci/run-e2e-iceberg-engine-tests, ci/run-e2e-iceberg-sink-v2-tests

#20506 feat(source): update split state after yield barrier on split change for source executor
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/legacy_fs_source_executor.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_backfill_state_table.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/feature, ci/main-cron/run-all

#20497 refactor(types): remove `type_name` and `field_descs` from `ColumnDesc`
  e2e_test/ddl/show.slt
  e2e_test/source_legacy/basic/nosim_kafka.slt
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/integration_tests/utils.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/source/manager.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/show.rs
  src/prost/src/lib.rs
  src/storage/src/row_serde/mod.rs
Labels: type/refactor

#20287 feat: add fips option for aws-lc
  Cargo.lock
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/utils/workspace-config/Cargo.toml
Labels: type/feature

#20556 feat(rw_catalog): add schema id for rw_secrets
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_secrets.rs
Labels: type/feature

#20561 fix(udf): update arrow-udf-python to fix python embedded udf panic
  Cargo.lock
  Cargo.toml
Labels: type/fix

#20551 feat(iceberg): add support for validating nested iceberg schemas
  src/connector/src/sink/iceberg/mod.rs
Labels: ci/run-e2e-iceberg-engine-tests, ci/run-e2e-iceberg-sink-v2-tests

#20571 fix(iceberg): fix iceberg predicate pushdown
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
Labels: type/fix, ci/run-e2e-iceberg-sink-tests, ci/run-e2e-iceberg-engine-tests, ci/run-e2e-iceberg-sink-v2-tests

#20537 feat(telemetry): report connector info in meta report
  proto/telemetry.proto
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/telemetry.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20531 chore(test): change embedded udf tests to parallel, fix some failing tests
  ci/scripts/build-other.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test-serial.sh
  ci/scripts/slow-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/slow_tests/udf/always_retry_python.slt
  e2e_test/slow_tests/udf/graceful_shutdown_python.slt
  e2e_test/udf/embedded/js_udf.slt
  e2e_test/udf/embedded/python_udf.slt
  e2e_test/udf/embedded/rust/datetime.slt.part
  e2e_test/udf/embedded/rust/decimal_add.slt.part
  e2e_test/udf/embedded/rust/gcd.slt.part
  e2e_test/udf/embedded/rust/int42.slt.part
  e2e_test/udf/embedded/rust/jsonb.slt.part
  e2e_test/udf/embedded/rust/key_value.slt.part
  e2e_test/udf/embedded/rust/key_values.slt.part
  e2e_test/udf/embedded/rust/main.slt
  e2e_test/udf/embedded/rust/panic.slt.part
  e2e_test/udf/embedded/rust/series.slt.part
  e2e_test/udf/embedded/rust/sum_array.slt.part
  e2e_test/udf/embedded/sql_udf.slt
  e2e_test/udf/embedded/wasm_udf.slt
  e2e_test/udf/external/external_udf.slt.part
  e2e_test/udf/external/main.slt
  e2e_test/udf/general/alter_function.slt
  e2e_test/udf/general/bug_fixes/17560_udaf_as_win_func.slt
  e2e_test/udf/general/bug_fixes/18202_sql_udf_aggregate_prefix.slt
  e2e_test/udf/general/create_and_drop.slt
  e2e_test/udf/retry_python.slt
  e2e_test/udf/rust_udf.slt
Labels: type/chore

#20401 feat(sink): resolve avro `Ref` to corresponding `Record` definition
  e2e_test/source_inline/kafka/avro/ref.slt
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/mod.rs
Labels: type/feature

#20559 refactor(source): simplify Avro field to SQL column mapping
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/json.rs
  src/connector/src/parser/debezium/avro_parser.rs
Labels: type/refactor

#20570 feat(iceberg): add nested bytea byte to `full_type_t` table
  e2e_test/iceberg/test_case/iceberg_engine.slt
Labels: ci/run-e2e-iceberg-engine-tests, ci/run-e2e-iceberg-tests

#20579 feat(grafana): change default layout from 1/2 width to 1/3
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Labels: type/feature

#20566 refactor: remove unnessary check_iceberg_source
  .git-blame-ignore-revs
  src/common/src/array/data_chunk.rs
  src/common/src/catalog/column.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
Labels: type/refactor, ci/run-e2e-iceberg-tests

#20492 feat(storage): wait committed epoch when update vnode bitmap
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/tests/integration_tests/eowc_over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Labels: type/feature

#20586 doc: Update README.md
  README.md
Labels: component/doc

#20582 fix: wrong err msg for kafka & debezium format
  e2e_test/source_inline/kafka/include_key_as.slt
  src/frontend/src/handler/create_source.rs
Labels: type/fix

#20594 refactor(batch): release PlanNode early
  src/frontend/src/scheduler/local.rs
Labels: type/refactor

#20584 refactor(source): simplify Protobuf field to SQL column mapping
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
Labels: type/refactor

#20595 refactor: make handler more organized
  src/frontend/src/handler/mod.rs
Labels: type/refactor

#20564 feat(expr): `generate_series` on `timestamptz`
  e2e_test/batch/basic/generate_series.slt.part
  src/expr/impl/src/scalar/mod.rs
  src/expr/impl/src/scalar/timestamptz.rs
  src/expr/impl/src/table_function/generate_series.rs
  src/frontend/planner_test/tests/testdata/input/generate_series_with_now.yaml
  src/frontend/planner_test/tests/testdata/output/generate_series_with_now.yaml
Labels: type/feature

#20587 feat(frontend): improve index selection to pushdown limit
  src/frontend/planner_test/tests/testdata/input/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
  src/frontend/src/utils/condition.rs
Labels: type/feature, need-cherry-pick-release-2.2

#20597 fix(connector): rollback transaction before closing connection for jdbc sink
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkConfig.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
Labels: type/fix, user-facing-changes, ci/run-e2e-sink-tests

#20585 test: fix flaky license test
  e2e_test/source_inline/kafka/avro/glue.slt.serial
Labels: component/test

#20607 ci: auto label for s3 source
  .github/labeler.yml
Labels: component/ci

#20526 refactor: move source retry inside reader stream
  src/connector/src/source/base.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/refactor

#20598 fix(sink): align init epoch for coordinated sinks
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sink.rs
Labels: type/fix, ci/run- e2e-deltalake-sink-rust-tests, ci/run-e2e-starrocks-sink-tests, ci/run-e2e-iceberg-tests

#20609 refactor(common): consolidate `ColumnDesc` constructors
  src/common/src/catalog/column.rs
  src/connector/benches/nexmark_integration.rs
  src/connector/src/parser/json_parser.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/storage/src/compaction_catalog_manager.rs
  src/stream/src/executor/lookup/tests.rs
Labels: type/refactor

#20603 refactor(source): column derivation shall return `Field` rather than `PbColumnDesc`
  src/common/src/catalog/column.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/json/mod.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/json.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/integration_tests/utils.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/frontend/src/handler/create_source/external_schema/avro.rs
  src/frontend/src/handler/create_source/external_schema/json.rs
  src/frontend/src/handler/create_source/external_schema/protobuf.rs
Labels: type/refactor

#20623 fix(udf): fix wasm e2e test compile and update build target
  Cargo.lock
  ci/Dockerfile
  ci/scripts/build-other.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/slow-e2e-test.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  e2e_test/udf/embedded/wasm_udf.slt
  e2e_test/udf/wasm/.cargo/config.toml
  e2e_test/udf/wasm/Cargo.toml
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/wasm.rs
Labels: type/fix

#20615 fix(log-store): rebuild decoupled sink on scale to fix data loss
  src/bench/sink_bench/main.rs
  src/connector/src/sink/log_store.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/fix

#20610 feat: add aws.msk.signer_timeout_sec to config the timeout of signer
  src/connector/src/connector_common/common.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/kafka/client_context.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature, user-facing-changes, ci/run-s3-source-tests, ci/main-cron/run-selected

#20617 feat: add some logs for recovery
  src/meta/src/barrier/worker.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20627 fix(barrier): ensure causal order in local barrier manager event
  src/stream/src/task/barrier_manager/managed_state.rs
Labels: type/fix

#20638 cherry-pick fix(udf): fix wasm e2e test compile and update build target (#20623) to branch release-2.1
  Cargo.lock
  ci/Dockerfile
  ci/scripts/build-other.sh
  ci/scripts/slow-e2e-test.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  e2e_test/udf/wasm/.cargo/config.toml
  e2e_test/udf/wasm/Cargo.toml
  e2e_test/udf/wasm_udf.slt
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/wasm.rs
Labels: cherry-pick

#20621 fix(streaming): asof join can panic in some cases
  e2e_test/streaming/asof_join.slt
  src/stream/src/executor/asof_join.rs
Labels: type/fix, breaking-change, need-cherry-pick-release-2.2

#20541 refactor(meta): deprecate dispatcher table and compose dispatcher by fragment relation
  src/meta/model/src/actor.rs
  src/meta/model/src/actor_dispatcher.rs
  src/meta/model/src/fragment.rs
  src/meta/model/src/prelude.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#20630 fix(ci): sqllogictest command not found
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test-serial.sh
  ci/scripts/slow-e2e-test.sh
Labels: type/fix

#20622 fix(file source): clear counter `splits_on_fetch` when updating rate limit
  src/stream/src/executor/source/fs_fetch_executor.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20588 fix(meta): delete large time travel metadata in smaller batch
  src/meta/src/hummock/manager/time_travel.rs
Labels: type/fix, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2

#20629 feat(expr): add expression to reveal license status & content
  proto/expr.proto
  src/expr/impl/src/scalar/test_license.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/license/src/manager.rs
Labels: type/feature, user-facing-changes

#20631 refactor(struct): cleanup remaining special treatment of `struct`
  src/common/src/catalog/column.rs
  src/common/src/catalog/schema.rs
  src/common/src/catalog/test_utils.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/frontend/src/catalog/table_catalog.rs
Labels: type/refactor

#20511 feat(logstore): handle paused stream
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/feature

#20523 refactor(stream): shortcircuit flushing chunks on barrier
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/refactor

#20641 fix(sink): reduce jdbc query timeout to 60s
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSinkConfig.java
Labels: type/fix, user-facing-changes, ci/run-e2e-sink-tests, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20642 cherry-pick fix(udf): fix wasm e2e test compile and update build target (#20623) to branch release-2.2
  Cargo.lock
  ci/Dockerfile
  ci/scripts/build-other.sh
  ci/scripts/run-e2e-test.sh
  ci/scripts/slow-e2e-test.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  e2e_test/udf/wasm/.cargo/config.toml
  e2e_test/udf/wasm/Cargo.toml
  e2e_test/udf/wasm_udf.slt
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/wasm.rs
Labels: cherry-pick

#20656 fix(sqlparser): `Display` of `ConnectionRef` shall be valid SQL
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix, need-cherry-pick-release-2.2

#20562 feat(frontend): alter column type for debugging purposes
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/mod.rs
Labels: type/feature

#20548 refactor(meta): deprecate persisted fragment upstream ids
  src/common/src/hash/consistent_hash/vnode_count.rs
  src/meta/model/src/fragment.rs
  src/meta/service/src/scale_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/src/lib.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/scale/dynamic_filter.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_q4.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20666 fix: should not use static for source backfill state table
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/fix
