Repository risingwavelabs/risingwave, pull requests merged in 2025-05, with the labels that each got.

#21658 fix(test): typo in glue schema registry license test
  e2e_test/source_inline/kafka/avro/glue.slt.serial
Labels: type/fix, need-cherry-pick-since-release-2.1

#21672 chore(ci): skip batch e2e also for standalone mode
  ci/scripts/e2e-test-serial.sh
Labels: type/chore

#21673 fix(ci): only run `report_status` if there's a cherry-pick tag
  .github/workflows/cherry-pick-since-release-branch.yml
Labels: type/fix

#21691 fix: handle missing 'connector' field in WITH clause with CONNECTION
  e2e_test/source_inline/connection/ddl.slt
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
Labels: type/fix, need-cherry-pick-since-release-2.2

#21687 Revert "feat: use order key as mv's dist key (#20176)"
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/batch_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/functional_dependency.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source_kafka.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/order_by.yaml
  src/frontend/planner_test/tests/testdata/output/project_set.yaml
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
  src/frontend/planner_test/tests/testdata/output/row_filter.yaml
  src/frontend/planner_test/tests/testdata/output/singleton.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/topn.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_kafka.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_variant.yaml
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/tests/simulation/src/nexmark.rs
Labels: Invalid PR Title, need-cherry-pick-since-release-2.1

#21711 test(source): pulsar with docker in addition to public cloud
  ci/docker-compose.yml
  e2e_test/commands/pulsar_produce.py
  e2e_test/requirements.txt
  e2e_test/source_inline/pulsar/basic.slt
Labels: component/test

#21634 fix: cherry-pick release-2.2: reset client pool for compute node (#21603, #21611)
  src/compute/src/observer/observer_manager.rs
  src/compute/src/server.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#21680 feat(dashboard): display metadata for index itself besides index table
  dashboard/lib/api/streaming.ts
  dashboard/pages/indexes.tsx
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/dashboard/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21631 refactor(storage): break down log epoch list into non-checkpoint and checkpoint
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/store/version.rs
Labels: type/refactor, ci/run-backfill-tests, ci/run-integration-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21726 fix(meta): cherry-pick release-2.4 try reconnect to worker node on create new streaming job (#21591)
  src/meta/src/barrier/worker.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#21678 feat(frontend): add a session config to allow disabling sql purification (#21656)
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/ddl/show_purify.slt
  src/common/src/session_config/mod.rs
  src/frontend/src/catalog/purify.rs
  src/frontend/src/session/current.rs
Labels: type/feature, ci/main-cron/run-all

#21713 refactor(arrow): cleanup stale arrow-48 compatible work
  src/common/src/array/arrow/arrow_52.rs
  src/common/src/array/arrow/arrow_54.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/mod.rs
Labels: type/refactor

#21640 feat(expr): implement `array_flatten`
  proto/expr.proto
  src/common/src/types/mod.rs
  src/expr/impl/src/scalar/array_flatten.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature, user-facing-changes

#21703 test: add coverage check for slt files
  .github/workflows/slt-coverage-check.yml
  e2e_test/.coverageignore
  e2e_test/README.md
  e2e_test/check_slt_coverage.py
Labels: component/test

#21725 feat(CLOUD-3655): cherry-pick (#20672 #21591) Frontend communication with serverless backfill controller
  proto/serverless_backfill_controller.proto
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/lib.rs
  src/frontend/src/session.rs
  src/meta/src/barrier/worker.rs
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#21728 fix(test): add retry for js async udf call
  e2e_test/udf/tests/language_specific/javascript_async.slt
Labels: type/fix

#21301 feat(test): support mocked exactly once iceberg sink in simulation environment
  Cargo.lock
  src/connector/src/sink/iceberg/exactly_once_util.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/test_sink.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/tests/integration_tests/sink/exactly_once/mod.rs
  src/tests/simulation/tests/integration_tests/sink/exactly_once/utils.rs
  src/tests/simulation/tests/integration_tests/sink/mod.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#21729 refactor(risedev): deprecate `risedev-compose`
  Cargo.lock
  Makefile.toml
  docs/dev/src/benchmark-and-profile/memory-profiling.md
  risedev.yml
  src/ctl/src/common/hummock_service.rs
  src/ctl/src/common/meta_service.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/schemas/profile.json
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/compose_deploy.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/lib.rs
  src/risedevtool/src/service_config.rs
Labels: type/refactor

#21710 chore(ci): refactor backfill and background_ddl tests
  ci/scripts/e2e-test-serial.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/background_ddl/common/create_bg_mv.slt
  e2e_test/background_ddl/common/create_fg_mv.slt
  e2e_test/background_ddl/common/create_index.slt
  e2e_test/background_ddl/common/create_sink.slt
  e2e_test/background_ddl/common/create_table.slt
  e2e_test/background_ddl/common/drop_index.slt
  e2e_test/background_ddl/common/drop_mv.slt
  e2e_test/background_ddl/common/drop_sink.slt
  e2e_test/background_ddl/common/drop_table.slt
  e2e_test/background_ddl/common/validate_backfilled_mv.slt
  e2e_test/background_ddl/common/validate_no_jobs.slt
  e2e_test/background_ddl/common/validate_one_job.slt
  e2e_test/background_ddl/sim.slt
  e2e_test/background_ddl/sim/basic.slt
Labels: type/chore, ci/main-cron/run-selected, ci/run-e2e-tests

#21712 chore(deps): Bump deltalake from 0.20.1 to 0.24 to drop some ancient transitive dependencies
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_53.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
Labels: type/chore, ci/run- e2e-deltalake-sink-rust-tests, ci/run-e2e-deltalake-sink-rust-tests

#21559 feat(expr): add date_bin
  e2e_test/batch/functions/date_bin.part
  proto/expr.proto
  src/expr/impl/src/scalar/date_bin.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#21652 fix: handle telemetry None event
  src/common/src/telemetry/report.rs
Labels: type/fix

#21643 refactor(common): rename `DataType::as_list` to `as_list_element_type`
  src/common/src/array/list_array.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/array_concat.rs
  src/expr/impl/src/scalar/array_flatten.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/jsonb_build.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/table_function/pg_expandarray.rs
  src/expr/macro/src/gen.rs
Labels: type/refactor

#21743 chore(deps): Migrate from google-cloud-* to gcloud-*
  Cargo.lock
  src/connector/Cargo.toml
  src/risedevtool/Cargo.toml
Labels: type/chore

#21747 feat: support describe fragment <fragment-id> (#21587)
  e2e_test/README.md
  e2e_test/batch/decribe_fragment.slt
  proto/meta.proto
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#21727 refactor(meta): include resource group name in scheduling error message
  src/meta/src/controller/cluster.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21754 chore: update version to v2.4.0-rc.1
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: ci/main-cron/run-all

#21748 chore(deps): Bump gcloud-bigquery from 1.0.0 to 1.1.0 (depending on arrow-53 -> arrow-54)
  Cargo.lock
Labels: type/chore

#21732 feat(risedev): support starting pulsar
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/mod.rs
  src/risedevtool/src/task/pulsar_service.rs
Labels: type/feature

#21626 feat(ci): support workflow for docker image building
  .github/workflows/build-docker-image.yml
Labels: type/feature, need-cherry-pick-since-release-2.1

#21657 feat(iceberg): support iceberg compaction manager
  Cargo.lock
  src/bench/sink_bench/main.rs
  src/connector/src/connector_common/iceberg/compaction.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/test_sink.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/meta/Cargo.toml
  src/meta/node/src/server.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/meta/src/manager/mod.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/tests/simulation/tests/integration_tests/sink/exactly_once/utils.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21730 chore(ci): move more dep installation from script to image & bump sqllogictest-bin to 0.28.2
  ci/.env
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/connector-node-integration-test.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  ci/scripts/e2e-doris-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-starrocks-sink-test.sh
  ci/scripts/e2e-time-travel-test.sh
  ci/scripts/run-meta-backup-test.sh
Labels: type/chore

#21755 fix(test): include missing OverWindow slt tests
  e2e_test/over_window/generated/batch/ignore_nulls/mod.slt.part
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/odd_frames/mod.slt.part
  e2e_test/over_window/generated/streaming/ignore_nulls/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/odd_frames/mod.slt.part
  e2e_test/over_window/templates/ignore_nulls/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/odd_frames/mod.slt.part
  src/expr/impl/src/window_function/buffer.rs
Labels: type/fix

#21772 feat(risedev): skip build connector node for USE_SYSTEM_RISINGWAVE
  Makefile.toml
Labels: type/feature

#21780 chore(udf): upgrade arrow-udf-runtime to 0.8.0
  Cargo.lock
  Cargo.toml
  src/expr/impl/src/udf/python.rs
Labels: type/chore

#21778 feat(proto): introduce iceberg compaction proto
  proto/hummock.proto
  proto/iceberg_compaction.proto
  src/meta/node/src/server.rs
  src/meta/service/src/hosted_iceberg_catalog_service.rs
  src/meta/service/src/hummock_service.rs
  src/meta/service/src/lib.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/hummock_meta_client.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21773 feat(sqlsmith): support generation of jsonb_* table function
  src/tests/sqlsmith/src/sql_gen/table_functions.rs
Labels: ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#21616 fix(connector): add timeout and retry for kinesis client
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/fix

#21789 fix(iceberg): fix iceberg table engine pk retrieving
  src/frontend/src/handler/create_table.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.3

#21782 refactor(meta): cleanup more dead code of etcd meta store
  src/meta/src/backup_restore/error.rs
  src/meta/src/error.rs
  src/meta/src/hummock/error.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/meta/src/lib.rs
  src/meta/src/model/error.rs
  src/meta/src/model/mod.rs
  src/meta/src/storage/mod.rs
  src/meta/src/storage/transaction.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21431 feat(sink): Support more template format for Redis sink
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/redis.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-redis-sink-tests, need-cherry-pick-since-release-2.3

#21790 fix: print `AlterSinkOperation::SetSinkProps` correctly
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/tests/testdata/alter.yaml
Labels: type/fix

#21785 feat(compactor): introduce iceberg compactor manager
  src/meta/node/src/server.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/manager/iceberg_compaction.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21784 feat(frontend): support sink_decouple for sink into table
  e2e_test/sink/sink_into_table/decoupled.slt
  src/connector/src/sink/trivial.rs
  src/frontend/planner_test/tests/testdata/input/sink_into_table.yaml
  src/frontend/planner_test/tests/testdata/output/sink_into_table.yaml
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/feature

#21669 refactor(compaction): refactor compaction event stream
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/worker.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/manager/iceberg_compaction.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, compaction-test, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21807 chore: Update README.md
  README.md
Labels: type/chore

#21808 chore: Update README.md
  README.md
Labels: type/chore

#21812 fix(ci): increase wait time for doris to be ready in `e2e-doris-sink` test
  README.md
  ci/scripts/e2e-doris-sink-test.sh
Labels: type/fix, ci/run-e2e-doris-sink-tests, ci/main-cron/run-selected

#21809 feat(sqlsmith): support generation of regexp_match table function
  src/tests/sqlsmith/src/sql_gen/table_functions.rs
Labels: type/feature, ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#21818 feat(compactor): introduce compactor mode for iceberg
  src/common/src/config.rs
  src/storage/compactor/src/lib.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#21786 refactor(sink): add feature flag for deltalake sink
  Cargo.lock
  Cargo.toml
  Makefile.toml
  src/cmd_all/Cargo.toml
  src/connector/Cargo.toml
  src/connector/src/sink/deltalake/imp.rs
  src/connector/src/sink/deltalake/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/utils.rs
  src/risedevtool/config/src/main.rs
Labels: type/refactor

#21804 refactor(ci): move `pyarrow` from ci image to test scripts
  ci/.env
  ci/Dockerfile
  ci/scripts/s3-source-test.sh
  ci/scripts/slow-e2e-test.sh
  ci/workflows/pull-request.yml
  e2e_test/s3/requirements.txt
  e2e_test/udf/remote_python/requirements.txt
Labels: type/refactor

#21573 feat(foyer): skip disk cache write young populated entries
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/feature

#21827 fix(test): include uncovered streaming e2e tests
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part2.slt
  e2e_test/sink/nexmark_endless_sinks/nexmark_endless_part4.slt
  e2e_test/streaming/except.slt
  e2e_test/streaming/intersect.slt
Labels: type/fix

#21840 chore(foyer): switch to foyer released version v0.17.1
  Cargo.lock
  Cargo.toml
Labels: type/chore

#21679 fix(cdc):  mysql default value conversion failure should be tolerated (#21569)
  src/connector/src/source/cdc/external/mysql.rs
Labels: type/fix, ci/main-cron/run-all

#21841 feat(foyer): add config field to set file cache fifo probation ratio
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#21499 refactor(meta): avoid using frontend generated `ColumnIndexMapping` when constructing new dispatcher for replacement
  e2e_test/ddl/alter_table_column_type.slt
  e2e_test/source_legacy/cdc_inline/alter/cdc_table_alter.slt
  src/common/src/util/column_index_mapping.rs
  src/frontend/src/handler/alter_table_column.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21828 fix(test): include uncovered & remove useless misc e2e tests
  .github/workflows/slt-coverage-check.yml
  ci/scripts/e2e-test-serial.sh
  e2e_test/compaction/ingest_rows.slt
  e2e_test/database/prepare.slt
  e2e_test/database/test.slt
  e2e_test/ddl/create_nexmark_source_issue_8812.slt
  e2e_test/misc/timezone.slt
  e2e_test/misc/user_doc/user_doc.slt
Labels: type/fix

#21845 refactor(storage): no default sstable info
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21853 chore(deps): Bump fixedbitset from 0.5.0 to 0.5.7
  Cargo.lock
  src/common/src/hash/key.rs
Labels: type/chore

#21521 fix(frontend): do not purify SQL definition for CDC sources
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  src/frontend/src/catalog/source_catalog.rs
Labels: type/fix

#21839 refactor(storage): strong typed hummock sstable and object id
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/cmd_impl/hummock/validate_version.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/sequence.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/diagnose.rs
  src/rpc_client/src/stream_client.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/sstable_object_id_manager.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/test_utils.rs
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21399 feat(storage): implement in memory FLAT vector index
  src/storage/src/memory.rs
  src/storage/src/store.rs
  src/storage/src/vector/distance.rs
  src/storage/src/vector/mod.rs
  src/storage/src/vector/utils.rs
Labels: type/feature

#21848 fix(iceberg): fix delete file lost wake
  Cargo.lock
  Cargo.toml
  e2e_test/iceberg/test_utils/test_result.py
Labels: type/fix, ci/run-e2e-iceberg-tests

#21850 fix(ci): fix container name conflict
  ci/docker-compose.yml
  integration_tests/clickhouse-sink/create_sink.sql
Labels: type/fix, ci/main-cron/run-all, ci/integration-tests/run-all

#21860 chore(deps): Bump deltalake from 0.24 to 0.26
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_55.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/sink/deltalake/imp.rs
  src/connector/src/sink/encoder/json.rs
  src/jni_core/src/lib.rs
Labels: type/chore

#21867 fix(ci): CI_STEPS regex shall not require leading space 
  ci/workflows/pull-request.yml
Labels: type/fix

#21824 feat(compaction): introduce iceberg compaction pull strategy
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/prost/build.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21869 feat(frontend): support batch scan on datagen source
  e2e_test/source_inline/kafka/datagen.slt
  src/connector/src/macros.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/feature

#21813 feat(frontend): plan backfill order strategy after the planner phase, instead of binding phase
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
  src/frontend/src/optimizer/mod.rs
Labels: type/feature

#21858 fix(optimizer): fix join reorder for temporal join
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
Labels: type/fix, need-cherry-pick-since-release-2.3

#21882 chore(deps): tighten range to avoid downgrading to vulnerable versions
  Cargo.toml
  src/common/Cargo.toml
  src/common/heap_profiling/Cargo.toml
  src/common/metrics/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/ctl/Cargo.toml
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/jni_core/Cargo.toml
  src/meta/Cargo.toml
  src/meta/dashboard/Cargo.toml
  src/meta/node/Cargo.toml
  src/meta/service/Cargo.toml
  src/object_store/Cargo.toml
  src/risedevtool/Cargo.toml
  src/stream/Cargo.toml
  src/tests/e2e_extended_mode/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tests/state_cleaning_test/Cargo.toml
  src/utils/futures_util/Cargo.toml
  src/utils/variables/Cargo.toml
Labels: type/chore

#21881 refactor(storage): support GC on multiple object types and suffixs
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/versioning.rs
  src/rpc_client/src/stream_client.rs
  src/storage/backup/src/lib.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/hummock_storage.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21880 chore(deps): bump `thiserror` to `2` along with `thiserror-ext`
  Cargo.lock
  Cargo.toml
  lints/Cargo.lock
  lints/Cargo.toml
  lints/src/format_error.rs
  lints/ui/format_error.rs
  src/batch/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/heap_profiling/Cargo.toml
  src/common/secret/Cargo.toml
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/dml/Cargo.toml
  src/error/Cargo.toml
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/jni_core/Cargo.toml
  src/license/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/rpc_client/Cargo.toml
  src/sqlparser/Cargo.toml
  src/storage/Cargo.toml
  src/storage/backup/Cargo.toml
  src/storage/hummock_trace/Cargo.toml
  src/stream/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/sync-point/Cargo.toml
Labels: type/chore

#21837 feat(iceberg): introduce per sink compaction config
  src/connector/src/connector_common/iceberg/compaction.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/deltalake/imp.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/test_sink.rs
  src/connector/src/sink/utils.rs
  src/connector/with_options_sink.yaml
  src/meta/src/manager/iceberg_compaction.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21783 fix(iceberg): fix duplicated iceberg all files
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_all_files.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.4

#21829 fix(cdc): support Money type in sqlserver cdc correctly
  Cargo.lock
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  src/connector/Cargo.toml
  src/connector/src/parser/sql_server.rs
  src/connector/src/source/cdc/external/sql_server.rs
Labels: type/fix

#21814 feat(frontend): auto derive backfill order
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
Labels: type/feature

#21831 refactor(frontend,proto): remove unused `auto` variant for backfill order strategy
  proto/stream_plan.proto
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/barrier/backfill_order_control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21877 fix(stream): switch `jdbc_pg_to_native` sink (#21543)
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/postgres_sink.slt
  e2e_test/sink/remote/jdbc.check.pg.slt
  src/config/ci-jdbc-to-native.toml
  src/connector/src/sink/postgres.rs
  src/risedevtool/src/task/postgres_service.rs
  src/stream/src/from_proto/sink.rs
Labels: type/fix, ci/main-cron/run-all

#21851 feat: add some check for iceberg source to prevent unexpected behavior
  e2e_test/iceberg/test_case/iceberg_source_streaming.slt
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/planner/relation.rs
Labels: type/feature, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.3

#21775 fix(subscription): fix cursor schema error in 2.3
  e2e_test/ddl/subscription.slt
  src/frontend/src/session/cursor_manager.rs
Labels: type/fix, ci/main-cron/run-all

#21904 feat: cherry-pick(2.3) add some check for iceberg source to prevent unexpected behavior (#21851)
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/planner/relation.rs
Labels: type/feature, type/fix, cherry-pick, ci/main-cron/run-all

#21907 fix: bump iceberg/spark pkg version
  e2e_test/iceberg/start_spark_connect_server.sh
Labels: type/fix, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#21776 fix(cursor): fix cursor schema error
  e2e_test/ddl/subscription.slt
Labels: type/fix

#21901 fix(iceberg): fix CDC table with iceberg engine
  e2e_test/iceberg/test_case/cdc/load.slt
  src/frontend/src/handler/create_table.rs
Labels: type/fix, ci/run-e2e-iceberg-tests

#21920 refactor(dashboard): remove react-syntax-highlighter
  dashboard/package-lock.json
  dashboard/package.json
Labels: type/refactor

#21735 feat(dashboard): add hidden cluster variable to hint query over promxy
  grafana/dashboard/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.dashboard.py
Labels: type/feature

#21926 feat(iceberg): add await tree instrument for iceberg sink
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#21838 feat(frontend): support `explain(backfill, format dot)`
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/backfill.yaml
  src/frontend/planner_test/tests/testdata/output/backfill.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Labels: type/feature

#21873 feat(sqlsmith): support decoupling weights from generators
  Cargo.lock
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/config.yml
  src/tests/sqlsmith/develop.md
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/test_runners/diff.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
  src/tests/sqlsmith/src/test_runners/utils.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/feature, ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#21928 refactor(frontend): reuse `resolve_secret_refs_inner`
  src/frontend/src/utils/with_options.rs
Labels: type/refactor

#21919 feat: show backtrace from iceberg::Error by introducing a newtype
  Cargo.lock
  Cargo.toml
  clippy.toml
  src/batch/clippy.toml
  src/batch/src/error.rs
  src/common/src/error.rs
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/error.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/error/Cargo.toml
  src/error/src/lib.rs
  src/error/src/wrappers.rs
  src/stream/clippy.toml
Labels: type/feature, ci/run-e2e-iceberg-tests

#21886 fix: make batch scan adhere to runtime param batch_parallelism
  src/batch/src/worker_manager/worker_node_manager.rs
  src/meta/node/src/server.rs
  src/meta/src/controller/session_params.rs
  src/meta/src/manager/notification.rs
  src/meta/src/serving/mod.rs
  src/meta/src/stream/scale.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21923 refactor(meta): generate general hummock object id on meta
  proto/hummock.proto
  src/compute/src/server.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/sequence.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/rpc_client/src/compactor_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/object_id_manager.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21935 chore(deps): update iceberg-rust version
  Cargo.lock
  Cargo.toml
Labels: type/chore, ci/run-e2e-iceberg-tests

#21937 chore(deps): bump iceberg-rust version to release 2.4
  Cargo.lock
  Cargo.toml
  clippy.toml
  src/batch/clippy.toml
  src/batch/src/error.rs
  src/common/src/error.rs
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/error.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/error/Cargo.toml
  src/error/src/lib.rs
  src/error/src/wrappers.rs
  src/stream/clippy.toml
Labels: type/chore, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#21939 fix: include exactly_once_iceberg_sink metadata in metadata backup
  src/meta/model/src/exactly_once_iceberg_sink.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21802 feat(iceberg): support interval type for iceberg engine
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#21936 fix: fix validate_integrity bug
  src/meta/src/backup_restore/restore.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21916 feat(storage): filter out GC objects by listing time travel versions and deltas
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/env.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21594 feat: support partition by for iceberg table engine
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/connector/src/sink/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-tests

#21942 fix(iceberg): bump poetry setuptools to 78.1.1
  e2e_test/iceberg/pyproject.toml
Labels: type/fix, ci/run-e2e-iceberg-tests

#21957 fix(iceberg): dropping database and dropping source cascade with iceberg tables.
  src/meta/src/controller/catalog/drop_op.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.3

#21952 feat(frontend): SHOW PROCESSLIST of all frontends
  proto/frontend_service.proto
  src/batch/executors/src/executor/generic_exchange.rs
  src/batch/src/worker_manager/worker_node_manager.rs
  src/common/src/config.rs
  src/config/example.toml
  src/frontend/src/handler/show.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/cluster.rs
  src/rpc_client/src/frontend_client.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21823 feat(iceberg): add iceberg compactor in risingwave
  Cargo.lock
  Cargo.toml
  proto/iceberg_compaction.proto
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
  src/storage/src/hummock/mod.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21964 feat(foyer): cherry pick updates to release v2.3.x
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/feature, ci/main-cron/run-all

#21967 feat(foyer): cherry pick updates to release v2.4.x
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/feature

#21960 feat(iceberg): init and backup hosted iceberg system table
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250522_074525_iceberg_tables.rs
  src/meta/model/migration/src/m20250522_074947_iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_tables.rs
  src/meta/model/src/lib.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.4

#21892 fix: use new tokio thread for iam request to avoid stuck meta
  src/connector/src/source/kafka/client_context.rs
Labels: type/fix

#21980 feat(iceberg): cherry-pick init and backup hosted iceberg system table
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250522_074525_iceberg_tables.rs
  src/meta/model/migration/src/m20250522_074947_iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_tables.rs
  src/meta/model/src/lib.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21915 fix(ddl): create if not exists waits for job created
  e2e_test/slow_tests/ddl/wait_creation.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/utils.rs
  src/meta/src/error.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Labels: type/fix

#21662 feat(meta): consider types when resolve dispatcher output mapping
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250514_114514_dispatcher_type_mapping.rs
  src/meta/model/src/fragment_relation.rs
  src/meta/model/src/lib.rs
  src/meta/src/barrier/edge_builder.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21997 feat(risedev): support specifying compactor mode for risedev's compactors
  risedev.yml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compactor_service.rs
Labels: type/feature

#21865 feat: add ENV to control Kafka sdk log level
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/enumerator.rs
  src/connector/src/source/kafka/source/reader.rs
Labels: type/feature

#22011 chore(ci): replace mc config host add with mc alias set
  ci/scripts/connector-node-integration-test.sh
  integration_tests/iceberg-cdc/docker-compose.yml
Labels: ci/main-cron/run-all, need-cherry-pick-since-release-2.3

#21976 refactor(ci): enable sql server cdc test in ci
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/cdc/mysql/mysql/mysql_alter_drop_connector.serial
  e2e_test/source_inline/cdc/mysql/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
Labels: type/refactor

#22017 refactor: refine error message
  src/dml/src/error.rs
Labels: type/refactor

#22024 feat(over window): support named window
  src/frontend/planner_test/tests/testdata/input/named_window.yaml
  src/frontend/planner_test/tests/testdata/output/named_window.yaml
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/expr/function/window.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/select.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/asof_join.yaml
  src/sqlparser/tests/testdata/lambda.yaml
  src/sqlparser/tests/testdata/precedence.yaml
  src/sqlparser/tests/testdata/qualified_operator.yaml
  src/sqlparser/tests/testdata/select.yaml
  src/sqlparser/tests/testdata/subquery.yaml
  src/sqlparser/tests/testdata/union.yaml
  src/tests/sqlsmith/src/sql_gen/query.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22037 fix(ci): spark 3.5.5 URL is no longer valid; use 3.5.6
  e2e_test/iceberg/start_spark_connect_server.sh
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.3

#22043 feat(iceberg): enable iceberg compaction for iceberg table and add license check
  src/connector/src/sink/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
  src/license/src/feature.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#22039 fix(ci): fix integration test filter
  ci/scripts/deterministic-it-test.sh
  ci/workflows/main-cron.yml
Labels: type/fix, ci/run-integration-test-deterministic-simulation, ci/main-cron/run-selected

#22047 fix(sink): add snowflake sink license check
  src/connector/src/sink/file_sink/opendal_sink.rs
Labels: type/fix

#22057 refactor: change default gRPC addr
  ci/scripts/standalone-utils.sh
  src/cmd_all/scripts/standalone-demo-dev.sh
  src/cmd_all/scripts/standalone-demo-full.sh
  src/frontend/src/lib.rs
Labels: type/refactor
