Repository risingwavelabs/risingwave, pull requests merged in 2025-04, with the labels that each got.

#21194 chore: move executor test_utils.rs to a separate dir
  e2e_test/ddl/secret.slt
  src/stream/src/executor/test_utils.rs
  src/stream/src/executor/test_utils/agg_executor.rs
  src/stream/src/executor/test_utils/hash_join_executor.rs
  src/stream/src/executor/test_utils/mock_source.rs
  src/stream/src/executor/test_utils/mod.rs
  src/stream/src/executor/test_utils/top_n_executor.rs
Labels: type/chore

#21176 refactor(license): check license for disk cache and data refill
  src/license/src/feature.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/store_impl.rs
Labels: type/refactor

#21159 chore(deps): Bump mongodb from 2 to 3
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/mongodb.rs
Labels: type/chore, ci/run-e2e-mongodb-sink-tests

#21198 chore: disable exactly once for iceberg table engine
  src/frontend/src/handler/create_table.rs
Labels: type/chore

#21204 ci: fix iceberg labeller #21199
  .github/labeler.yml
Labels: component/ci, ci/run-e2e-iceberg-tests

#21205 chore: add cursor rules for basic building, running and testing
  .cursor/rules/build-run-test.mdc
  .cursor/rules/coding-style.mdc
Labels: type/chore

#21140 refactor(sink): dedicated log sink for coordinator sink
  src/bench/sink_bench/main.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mock_coordination_client.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/test_sink.rs
  src/connector/src/sink/writer.rs
  src/rpc_client/src/sink_coordinate_client.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sink.rs
Labels: type/refactor

#20907 feat(stream): add dedicated metrics for sync log store
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/sync_logstore_metrics.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Labels: type/feature

#21165 feat(stream): add executor id to `ExecutorInfo`
  src/compute/tests/cdc_tests.rs
  src/compute/tests/integration_tests.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/test_utils/agg_executor.rs
  src/stream/src/executor/test_utils/hash_join_executor.rs
  src/stream/src/executor/test_utils/mock_source.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature

#21211 fix: alter body column type in function table
  src/meta/model_v2/migration/src/m20230908_072257_init.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#20908 feat(stream): limit sync log store flushed item read size + only pause on checkpoint barrier
  e2e_test/streaming/unaligned-join.slt
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/output/delta_join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Labels: type/feature

#21166 refactor(frontend,stream): store metrics at an executor level rather than operator level
  proto/monitor_service.proto
  src/common/metrics/src/monitor/in_mem.rs
  src/common/src/operator.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/frontend/src/handler/explain_analyze_stream_job.rs
  src/stream/src/executor/monitor/profiling_stats.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/wrapper.rs
  src/stream/src/executor/wrapper/stream_node_metrics.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, ci/run-e2e-test

#21202 fix(test): ban non-decoupled exactly once sink and enhance iceberg engine test
  ci/workflows/main-cron.yml
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/connector/src/sink/catalog/desc.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Labels: type/fix, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#21206 chore(ci): deprecate `cherry-pick-to-release` in favor of `since`
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/chore, need-cherry-pick-release-2.2

#21217 chore: fix release upload connector repeatedly
  ci/scripts/release.sh
Labels: need-cherry-pick-since-release-2.1

#21222 chore: use cmake 3.31 to avoid cmake 4.0.0 compiling issue (#21180)
  ci/docker-compose.yml
Labels: need-cherry-pick-since-release-2.2

#21223 fix(frontend): fix metric keys for explain analyze
  src/frontend/src/handler/explain_analyze_stream_job.rs
Labels: type/fix

#21154 feat: Add configurable sync call timeout for sources (#20828)
  src/connector/src/with_options.rs
  src/meta/src/stream/source_manager/worker.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21219 refactor: increase default time_travel_version_cache_capacity
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
Labels: type/refactor, need-cherry-pick-since-release-2.1

#21227 feat(frontend): support dispatcher metrics for explain analyze
  proto/monitor_service.proto
  src/common/metrics/src/lib.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/frontend/src/handler/explain_analyze_stream_job.rs
Labels: type/feature

#21118 refactor(sink): remove sink coordination from starrocks sink
  src/connector/src/sink/starrocks.rs
Labels: ci/run-e2e-starrocks-sink-tests

#21246 feat(e2e, udf): add complex udf tests
  .cursor/rules/build-run-test.mdc
  e2e_test/udf/tests/scalar/gen.py
  e2e_test/udf/tests/scalar/javascript.slt
  e2e_test/udf/tests/scalar/python.slt
  e2e_test/udf/tests/scalar/rust.slt
  e2e_test/udf/tests/scalar/test_basic.slt.part
  e2e_test/udf/tests/scalar/test_complex.slt.batch
  e2e_test/udf/tests/scalar/test_complex.slt.part
  e2e_test/udf/tests/scalar/test_complex.slt.streaming
  e2e_test/udf/tests/scalar/test_complex.slt.template
  e2e_test/udf/tests/scalar/wasm.slt
Labels: type/feature

#21238 refactor(stream): add seq_id to logstore stream
  src/common/src/hash/consistent_hash/vnode.rs
  src/common/src/hash/table_distribution.rs
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/refactor

#21251 cherry-pick: feat: support alter source set parallelism (#20606) to release 2.2
  e2e_test/source_inline/kafka/alter/alter_parallelism.slt
  e2e_test/source_inline/kafka/shared_source.slt.serial
  proto/ddl_service.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_parallelism.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21239 refactor(stream): add vnode to logstore stream
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
Labels: type/refactor

#21029 feat(udf): use `StreamMaterializedExprs` for scalar UDF calls
  e2e_test/udf/tests/bug_fixes/18202_sql_udf_aggregate_prefix.slt
  e2e_test/udf/tests/scalar/javascript.slt
  e2e_test/udf/tests/scalar/test_explain.slt.part
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialized_exprs.rs
  src/frontend/src/utils/column_index_mapping.rs
Labels: type/feature

#21253 fix: fix slt of kafka source mongo strong schema
  e2e_test/source_legacy/basic/kafka.slt
Labels: type/fix

#21260 fix: `SHOW CREATE SINK` missing column spec
  src/sqlparser/src/ast/statement.rs
Labels: type/fix

#21149 feat(ctl): add API to detect bottleneck actors
  Cargo.lock
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/await_tree.rs
  src/ctl/src/lib.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/diagnose.rs
  src/rpc_client/src/compactor_client.rs
  src/rpc_client/src/compute_client.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.3, need-cherry-pick-since-release-2.2

#21220 chore: remove hard-coded release version and refer to doc
  .github/pull_request_template.md
  .github/workflows/update-pr-template-by-version.yml
Labels: type/chore

#21275 chore: delete legacy deltalake Java code
  ci/workflows/pull-request.yml
  java/connector-node/assembly/pom.xml
  java/connector-node/risingwave-sink-deltalake-test/pom.xml
  java/connector-node/risingwave-sink-deltalake-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeLocalSinkTest.java
  java/connector-node/risingwave-sink-deltalake-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeSinkFactoryTest.java
  java/connector-node/risingwave-sink-deltalake-test/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSink.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkConfig.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkFactory.java
  java/connector-node/risingwave-sink-deltalake/src/main/java/com/risingwave/connector/DeltaLakeSinkUtil.java
  java/pom.xml
  src/risedevtool/src/task/meta_node_service.rs
Labels: ci/run-connector-node-integration-tests, ci/run- e2e-deltalake-sink-rust-tests, ci/run-e2e-deltalake-sink-rust-tests

#21240 fix: throttle time based warning for kinesis
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, need-cherry-pick-since-release-2.3

#21256 refactor(stream): unify remote and local output
  src/compute/src/rpc/service/exchange_service.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/integration_tests.rs
Labels: type/refactor

#21281 test: fix integration test go.mod
  integration_tests/datagen/go.mod
  integration_tests/datagen/go.sum
Labels: component/test, ci/integration-tests/run-all

#21274 ci: support workflow dispatch for cherry-pick workflow
  .github/workflows/cherry-pick-since-release-branch.yml
Labels: component/ci

#21283 fix(ci): backoff when connecting to remote udf
  e2e_test/udf/tests/language_specific/remote/test.slt.part
Labels: type/fix, ci/run-e2e-parallel-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#21257 refactor(stream): store shared context in local barrier manager
  src/stream/src/executor/chain.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/values.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#21270 fix: missing KEY ENCODE when display `FormatEncodeOptions`
  e2e_test/sink/kafka/create_sink.slt
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix, need-cherry-pick-since-release-2.2

#21286 test: fix several integration tests
  ci/scripts/gen-integration-test-yaml.py
  ci/scripts/integration-tests.sh
  integration_tests/iceberg-cdc/python/Dockerfile
  integration_tests/kinesis-s3-source/data_check
  integration_tests/schema-registry/create_mv.sql
  integration_tests/schema-registry/create_source.sql
  integration_tests/schema-registry/data_check
  integration_tests/schema-registry/datagen.py
  integration_tests/schema-registry/docker-compose.yml
  integration_tests/schema-registry/query.sql
  integration_tests/schema-registry/readme.md
  src/common/src/util/column_index_mapping.rs
Labels: component/test, ci/run-e2e-iceberg-tests, ci/integration-tests/run-all

#20175 refactor(storage): unify state store trait get method
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/table/state_table.rs
Labels: type/refactor

#21201 feat: retry for requests in schema registry
  src/connector/src/parser/config.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/schema/schema_registry/client.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema/avro.rs
  src/frontend/src/handler/create_source/external_schema/json.rs
  src/frontend/src/handler/create_source/external_schema/protobuf.rs
Labels: type/feature

#21289 feat: allow user to force filter pushed into join in streaming query
  e2e_test/batch/catalog/pg_settings.slt.part
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/feature, user-facing-changes

#21156 refactor(compaciton): pick refactor compaction group merge validator (#21135) to branch release-2.2
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21136 chore: remove dead code for origin snowflake sink
  src/object_store/src/object/opendal_engine/opendal_s3.rs
Labels: type/chore

#21306 ci: label ci/main-cron/run-all for cherry-pick PRs
  .github/workflows/run-main-cron.yml
Labels: need-cherry-pick-since-release-2.1

#21307 fix(release): enable python udf compilation in release binary
  ci/scripts/release.sh
Labels: type/fix, need-cherry-pick-since-release-2.1

#21288 refactor(mview): simplify `Materialize` conflict handling
  src/common/src/catalog/mod.rs
  src/stream/src/executor/mview/materialize.rs
Labels: type/refactor

#21303 feat(ctl): add an IO-bound rule for await tree analyze
  Cargo.lock
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/await_tree.rs
Labels: type/feature

#21309 chore(ci): remove unused logs for ci recovery test
  ci/scripts/deterministic-recovery-test.sh
Labels: type/chore

#21328 chore: increase opendal test timeout
  ci/workflows/main-cron.yml
Labels: type/chore, ci/main-cron/run-all

#21324 feat: add premium license check for resource group (#21298)
  e2e_test/ddl/alter_resource_group.slt
  e2e_test/ddl/database.slt
  src/frontend/src/handler/alter_resource_group.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_mv.rs
  src/license/src/feature.rs
Labels: type/feature, ci/main-cron/run-all

#21258 refactor(stream): do not broadcast actor info in shared context
  proto/stream_plan.proto
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/edge_builder.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/model/stream.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21332 cherry-pick: check license for disk cache & data refill #21176
  src/license/src/feature.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/store_impl.rs
Labels: Invalid PR Title, cherry-pick, ci/main-cron/run-all

#21329 fix(distinct agg): delete row from dedup table when counts drop to 0
  src/stream/src/executor/aggregate/distinct.rs
Labels: type/fix

#20545 refactor(storage): remove unnecessary fields from ReadOptions
  src/batch/executors/src/executor/insert.rs
  src/batch/src/executor/fast_insert.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/refactor

#21322 refactor(source): refactor iceberg source split task algorithm
  src/connector/src/source/iceberg/mod.rs
Labels: type/refactor, ci/run-e2e-iceberg-tests

#21333 chore(ci): use python3.12 in release.sh to compile python udf
  ci/scripts/release.sh
Labels: need-cherry-pick-since-release-2.1

#19274 feat(subscription): Support specified pk read log store
  e2e_test/subscription/main.py
  proto/batch_plan.proto
  src/batch/executors/src/executor/log_row_seq_scan.rs
  src/batch/executors/src/executor/row_seq_scan.rs
  src/batch/executors/src/executor/utils.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/batch_log_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/log_scan.rs
  src/frontend/src/optimizer/plan_node/generic/table_scan.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/utils/condition.rs
  src/storage/src/table/batch_table/mod.rs
  src/utils/pgwire/src/types.rs
Labels: type/feature

#21341 fix(iceberg): fix iceberg count star
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_count_star.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.3

#21344 fix(iceberg): remove parquet avro lib
  java/connector-node/risingwave-sink-iceberg/pom.xml
Labels: type/fix, ci/run-e2e-iceberg-tests

#21327 chore(ci): disable arrangement backfill background_ddl test
  ci/workflows/main-cron.yml
Labels: type/chore

#21352 feat: enforce some props to be secret (connection part)
  src/common/src/system_param/mod.rs
  src/config/docs.md
  src/config/example.toml
  src/connector/src/connector_common/connection.rs
  src/connector/src/macros.rs
  src/frontend/src/handler/create_connection.rs
Labels: type/feature

#21331 refactor(storage): remove is_dirty method from state store and refine state table commit_pending_watermark
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/common/table/state_table.rs
Labels: type/refactor

#21030 perf(udf): add LRU cache for `MaterializedExprsExecutor`
  src/stream/src/executor/project/materialized_exprs.rs
  src/stream/src/from_proto/materialized_exprs.rs
  src/stream/tests/integration_tests/materialized_exprs.rs
Labels: type/perf

#21353 fix(ci): remove e2e tests with in-memory state store
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/batch/catalog/pg_size.slt.part
  e2e_test/batch/transaction/now.slt
  e2e_test/batch/transaction/read_only_multi_conn.slt
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka.slt.serial
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  e2e_test/source_inline/kafka/alter/rate_limit_table_kafka.slt.serial
  e2e_test/source_inline/kafka/background_ddl/basic.slt.serial
  e2e_test/streaming/rate_limit/snapshot_amplification.slt
  e2e_test/streaming/temporal_join/append_only/temporal_join_watermark.slt
  e2e_test/streaming/watermark.slt
  risedev.yml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/utils.rs
Labels: type/fix, ci/main-cron/run-all

#21248 feat: enforce some props to be secret on RisingWave Cloud
  Cargo.lock
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/common/src/telemetry/mod.rs
  src/common/src/util/deployment.rs
  src/config/docs.md
  src/config/example.toml
  src/connector/Cargo.toml
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/mqtt_common.rs
  src/connector/src/enforce_secret_on_cloud.rs
  src/connector/src/error.rs
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/datagen/mod.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/google_pubsub/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/mqtt/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nexmark/mod.rs
  src/connector/src/source/pulsar/mod.rs
  src/connector/src/source/test_source.rs
  src/connector/src/source/util.rs
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/utils/with_options.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#21351 feat(iceberg): support hosted SQL catalog for iceberg engine
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_table.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#21374 cherry-pick: feat(sink): support es sink partial update (#20048) to 2.2
  e2e_test/sink/elasticsearch/elasticsearch_sink.result
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  e2e_test/sink/elasticsearch/elasticsearch_with_pk_sink.result
  integration_tests/elasticsearch-sink/create_sink.sql
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_formatter.rs
Labels: cherry-pick

#21213 feat(sink): skip some epoch items to align initial coordinate epoch
  proto/connector_service.proto
  src/connector/src/sink/coordinate.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/handle.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/rpc_client/src/sink_coordinate_client.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/from_proto/sink.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21241 refactor(stream): add logstore stream with vnode progress
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
Labels: type/refactor

#21404 feat(meta): add DatabaseFailureIsolation license feature
  src/license/src/feature.rs
  src/meta/src/barrier/worker.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.3

#21334 feat(compaction): Enhance the restrictions on the merge dimension var…
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/manager/env.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#21407 feat: check SecretManagement available when enforce secret
  src/common/src/util/deployment.rs
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/mqtt_common.rs
  src/connector/src/enforce_secret.rs
  src/connector/src/error.rs
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/datagen/mod.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/google_pubsub/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/mqtt/mod.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nexmark/mod.rs
  src/connector/src/source/pulsar/mod.rs
  src/connector/src/source/test_source.rs
  src/connector/src/source/util.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#21416 fix(source): handling the case of reading empty files
  src/stream/src/executor/source/fs_fetch_executor.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected

#21419 fix: ban source access in streaming for cross-db access
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
Labels: type/fix, need-cherry-pick-since-release-2.3

#21421 fix: fix compute node ElasticDiskCache license check
  src/compute/src/server.rs
Labels: type/fix

#21426 feat(meta): cherry-pick release-2.3 add DatabaseFailureIsolation license feature (#21404)
  src/license/src/feature.rs
  src/meta/src/barrier/worker.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#21429 feat(lru): add `remove` method to LruCache and ManagedLruCache
  src/common/src/lru.rs
  src/stream/src/cache/managed_lru.rs
  src/stream/src/executor/dedup/cache.rs
  src/stream/src/executor/lookup/cache.rs
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
Labels: type/feature

#21424 test: run fe stack overflow test only in release mode
  ci/scripts/e2e-test-serial.sh
  e2e_test/release_mode_only/stack_overflow_17342.slt
Labels: component/test, ci/run-e2e-test, ci/main-cron/run-selected

#21396 refactor(ci): move slow tests out of e2e_test/streaming
  e2e_test/slow_tests/streaming/rate_limit/alter_rate_limit.slt
  e2e_test/slow_tests/streaming/rate_limit/basic.slt
  e2e_test/slow_tests/streaming/rate_limit/fragment.slt
  e2e_test/slow_tests/streaming/rate_limit/snapshot_amplification.slt
  e2e_test/slow_tests/streaming/rate_limit/upstream_amplification.slt
Labels: type/refactor

#21430 fix(distinct agg): remove from cache when removing from table
  src/stream/src/executor/aggregate/distinct.rs
Labels: type/fix, ci/run-backwards-compat-tests

#21434 fix(source): handling the case of reading empty files
  src/stream/src/executor/source/fs_fetch_executor.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/main-cron/run-all

#21390 chore(udf): control all udf languages/runtimes by a single feature/env var
  Cargo.lock
  Cargo.toml
  Makefile.toml
  ci/scripts/backwards-compat-test.sh
  ci/scripts/build.sh
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docs/dev/src/build-and-run/intro.md
  e2e_test/backwards-compat-tests/scripts/utils.sh
  src/cmd_all/Cargo.toml
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/external.rs
  src/expr/impl/src/udf/mod.rs
  src/expr/impl/src/udf/python.rs
  src/expr/impl/src/udf/quickjs.rs
  src/expr/impl/src/udf/wasm.rs
  src/risedevtool/config/src/main.rs
  src/tests/simulation/Cargo.toml
Labels: type/chore, ci/run-backwards-compat-tests, ci/run-e2e-standalone-tests, ci/run-e2e-single-node-tests

#21440 fix: rename system config `enforce_secret_on_cloud` to `enforce_secret`
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/config/docs.md
  src/config/example.toml
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
Labels: type/fix

#21438 refactor(common): remove unused private field `ListArrayBuilder::len`
  src/common/src/array/list_array.rs
Labels: type/refactor

#21436 fix(iceberg): remove iceberg parquet lib
  java/connector-node/risingwave-sink-iceberg/pom.xml
Labels: ci/run-e2e-iceberg-tests

#21435 refactor(dedup): simple refactoring for append-only dedup executor
  src/stream/src/executor/dedup/append_only_dedup.rs
  src/stream/src/executor/dedup/cache.rs
  src/stream/src/executor/dedup/mod.rs
Labels: type/refactor

#21443 ci: merge label `run-e2e-parallel-tests` into `run-e2e-tests`
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: component/ci

#21437 feat(object): Add support for configurable part size in opendal.
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Labels: type/feature, type/fix

#21400 feat(iceberg): support iceberg jdbc catalog views
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/iceberg_namespace_properties.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/iceberg_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/server.rs
  src/meta/service/src/hosted_iceberg_catalog_service_impl.rs
  src/meta/service/src/lib.rs
  src/rpc_client/src/meta_client.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21446 refactor(ci): move slow tests out of e2e_test/streaming (#21396)
  e2e_test/slow_tests/streaming/rate_limit/alter_rate_limit.slt
  e2e_test/slow_tests/streaming/rate_limit/basic.slt
  e2e_test/slow_tests/streaming/rate_limit/snapshot_amplification.slt
  e2e_test/slow_tests/streaming/rate_limit/upstream_amplification.slt
Labels: type/refactor, ci/main-cron/run-all

#21448 refactor(ci): move slow tests out of e2e_test/streaming (#21396)
  e2e_test/slow_tests/streaming/rate_limit/alter_rate_limit.slt
  e2e_test/slow_tests/streaming/rate_limit/basic.slt
  e2e_test/slow_tests/streaming/rate_limit/snapshot_amplification.slt
  e2e_test/slow_tests/streaming/rate_limit/upstream_amplification.slt
Labels: type/refactor

#21439 refactor(frontend): reduce memory usage of `LogicalJoin::to_stream`
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/refactor

#21422 feat(risedev): support restart a node
  Makefile.toml
  src/risedevtool/src/task.rs
  src/risedevtool/src/task/configure_tmux_service.rs
Labels: type/feature

#21450 chore(ci): relax minio rate limits
  risedev.yml
Labels: type/chore, ci/run-backfill-tests, ci/main-cron/run-selected, need-cherry-pick-since-release-2.1

#21460 fix(risedev): workaround ctrl-c handling for `risedev psql`
  risedev
Labels: type/fix

#21454 revert: "test: run fe stack overflow test only in release mode"
  ci/scripts/e2e-test-serial.sh
  e2e_test/streaming/bug_fixes/stack_overflow_17342.slt
Labels: type/revert

#21461 fix(connector): support for SQL server table schema
  ci/scripts/e2e-sqlserver-sink-test.sh
  e2e_test/sink/sqlserver_sink.slt
  src/connector/src/sink/sqlserver.rs
  src/connector/with_options_sink.yaml
Labels: type/fix, ci/run-e2e-sqlserver-sink-tests, need-cherry-pick-since-release-2.1

#21467 chore(ci): install python dependency for opendal test
  ci/scripts/e2e-test-parallel-for-opendal.sh
Labels: type/chore

#21269 feat: enforce some props to be secret (sink part)
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/config/docs.md
  src/config/example.toml
  src/connector/src/connector_common/common.rs
  src/connector/src/enforce_secret.rs
  src/connector/src/macros.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mongodb.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/postgres.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/test_sink.rs
  src/connector/src/sink/trivial.rs
  src/connector/src/source/base.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#20985 feat(ctl): support backup integrity validation
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/gc.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_basic.sh
  src/storage/backup/src/lib.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, ci/run-e2e-test-other-backends

#21463 feat(ci): graceful exit of `sqllogictest` on failure, cancellation, or timeout
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  risedev
Labels: type/feature, need-cherry-pick-since-release-2.3

#21360 fix: add under creation info when checking name duplicate in meta
  e2e_test/slow_tests/ddl/creation_check.slt
  src/meta/src/controller/utils.rs
  src/meta/src/error.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21470 fix(iceberg): fix iceberg decimal predicate pushdown
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/mod.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.3

#21449 chore(risedev): describe minio rate limit parameters
  risedev.yml
Labels: type/chore

#20848 feat(snapshot-backfill): support recoverable snapshot backfill (meta part)
  risedev.yml
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/checkpoint/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20691 feat(sink): support alter sink config
  Cargo.lock
  proto/meta.proto
  proto/stream_plan.proto
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/starrocks.rs
  src/frontend/src/handler/alter_sink_props.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/with_options.rs
  src/meta/Cargo.toml
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/info.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21475 chore(ci): add `exit_status: -1` as buildkite auto-retry condition
  ci/scripts/gen-integration-test-yaml.py
  ci/workflows/docker-arm-fast.yml
  ci/workflows/docker.yml
  ci/workflows/integration-tests.yml
  ci/workflows/main-cron-bisect.yml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: type/chore

#21263 feat(stream): truncate synced log store using progress map
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/feature

#21406 feat(foyer): bump foyer version for advanced io throttling
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Labels: type/feature

#21483 fix(meta): reset connection pool in recovery
  src/meta/src/barrier/recovery.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all

#21299 feat(stream): actor create exchange via channel
  src/meta/src/barrier/command.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21490 fix(cdc): transform upstream correctly
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Labels: type/fix, need-cherry-pick-since-release-2.2

#21468 feat(iceberg): support iceberg on azure blob
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.4

#21472 fix(cdc): check database name when creating tables from cdc source
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  src/frontend/src/handler/create_table.rs
Labels: type/fix, need-cherry-pick-since-release-2.2

#21494 chore(deps): Bump iana-time-zone/hostname/resolv-conf patch versions to avoid too many windows src versions
  Cargo.lock
Labels: type/chore

#21500 fix(optimizer): fix like rewrite rule
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/frontend/src/optimizer/rule/rewrite_like_expr_rule.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.4

#21508 chore(ci): increase minio rate-limit-test's rate limit
  risedev.yml
Labels: type/chore, ci/run-backfill-tests, ci/main-cron/run-selected, need-cherry-pick-since-release-2.2

#21515 chore(ci): increase minio rate-limit-test's rate limit (#21508)
  risedev.yml
Labels: type/chore

#21522 fix(cdc): fix the race case where cleanup process of stale dbz engine may accidentally remove the handler of the active one from registry during recovery
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceRegistry.java
Labels: type/fix, need-cherry-pick-since-release-2.1

#21516 fix(agg): fix the error of append-only approx_count_distinct
  src/expr/impl/src/aggregate/approx_count_distinct/append_only.rs
  src/expr/impl/src/aggregate/approx_count_distinct/mod.rs
  src/expr/impl/src/aggregate/approx_count_distinct/updatable.rs
Labels: type/fix

#21513 fix(cdc): transform upstream correctly again
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
Labels: type/fix, need-cherry-pick-since-release-2.1

#21538 fix(cdc): transform upstream correctly again
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
Labels: type/fix, ci/main-cron/run-all

#21524 fix(test): set max parallelism for integration test (madsim) to avoid possibly OOM
  ci/scripts/deterministic-it-test.sh
Labels: type/fix, ci/run-integration-test-deterministic-simulation, ci/main-cron/run-selected

#21546 fix(iceberg): remove iceberg data lib
  java/connector-node/risingwave-sink-iceberg/pom.xml
Labels: type/fix, ci/run-e2e-iceberg-tests

#21544 cherry-pick fix(meta): fix subscription notify (#21479) to 2.2
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/mod.rs
Labels: cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#21514 fix(frontend): fallback to persisted SQL if purified SQL is unparsable
  Cargo.lock
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/sqlparser/Cargo.toml
  src/sqlparser/src/ast/mod.rs
Labels: type/fix, need-cherry-pick-since-release-2.3

#21533 test: add test for duckdb
  e2e_test/batch/duckdb/all.slt.part
  e2e_test/batch/duckdb/projection/coalesce_error.slt.part
  e2e_test/batch/duckdb/projection/coalesce_rowid.slt.part
  e2e_test/batch/duckdb/projection/select_star_exclude.slt.part
  e2e_test/batch/duckdb/projection/select_star_replace.slt.part
  e2e_test/batch/duckdb/projection/select_struct_star.slt.part
  e2e_test/batch/duckdb/projection/test_complex_expressions.slt.part
  e2e_test/batch/duckdb/projection/test_row_id.slt.part
  e2e_test/batch/duckdb/projection/test_row_id_expression.slt.part
  e2e_test/batch/duckdb/projection/test_scalar_projection.slt.part
  e2e_test/batch/duckdb/projection/test_simple_projection.slt.part
  e2e_test/batch/duckdb/projection/test_table_star.slt.part
  e2e_test/batch/duckdb/projection/test_value_list.slt.part
Labels: component/test

#21520 feat(risedev): support docker image for `USE_SYSTEM_RISINGWAVE`
  Makefile.toml
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/utils.rs
Labels: type/feature

#21560 fix(test): work around generate_with_options_yaml_inner issue
  src/connector/src/sink/sqlserver.rs
Labels: type/fix, need-cherry-pick-since-release-2.1

#21517 chore(ci): increase minio rate-limit-test's rate limit (#21508)
  risedev.yml
Labels: type/chore

#21552 feat(udf): add `streaming_enable_materialized_expressions` session config
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/udf/remote_python/.gitignore
  e2e_test/udf/remote_python/test.py
  e2e_test/udf/tests/language_specific/remote/determinism.slt.part
  e2e_test/udf/tests/language_specific/remote/main.slt
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-since-release-2.4

#21397 refactor(storage): extract epoch control common methods
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Labels: type/refactor

#21571 fix(binder): check database if exists for binder
  e2e_test/batch/basic/cross_db.slt.part
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/root_catalog.rs
Labels: type/fix

#21570 refactor: use sql udf for nexmark q14 `count_char`
  ci/scripts/sql/nexmark/q14.sql
  e2e_test/streaming/nexmark/sinks/q14.slt.part
  e2e_test/streaming/nexmark/views/q14.slt.part
  src/tests/simulation/Cargo.toml
Labels: type/refactor

#21568 fix(meta): Don’t need to notify the frontend to clean up subscriptions upon recovery.
  src/meta/src/controller/catalog/mod.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.3

#21567 fix(action): Label Commenter uses deprecated ubuntu-20.04
  .github/workflows/label-triggered.yml
Labels: type/fix, need-cherry-pick-since-release-2.2

#21590 fix(iceberg): fix iceberg partition by name
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.3

#21591 fix(meta): try reconnect to worker node on create new streaming job
  src/meta/src/barrier/worker.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21597 chore: update docker image v2.3.1
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: need-cherry-pick-since-release-2.3

#21603 fix: reset client pool for compute node
  src/compute/src/observer/observer_manager.rs
  src/compute/src/server.rs
Labels: type/fix, need-cherry-pick-since-release-2.1

#21611 fix(streaming): reset stream client pool in local barrier worker
  src/compute/src/observer/observer_manager.rs
  src/compute/src/server.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.1

#20967 feat(meta,frontend,streaming): support fixed backfill order control
  ci/scripts/e2e-test-serial.sh
  e2e_test/backfill/backfill_order_control.slt
  e2e_test/backfill/backfill_order_control_recovery.slt
  proto/common.proto
  proto/stream_plan.proto
  src/compute/tests/cdc_tests.rs
  src/frontend/src/binder/backfill_order_strategy.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model/src/streaming_job.rs
  src/meta/src/barrier/backfill_order_control.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/values.rs
  src/stream/src/from_proto/stream_scan.rs
Labels: type/feature, user-facing-changes, ci/run-backfill-tests, ci/run-e2e-test, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#21569 fix(cdc): mysql default value conversion failure should be tolerated
  src/connector/src/source/cdc/external/mysql.rs
Labels: type/fix, need-cherry-pick-since-release-2.1

#21543 fix(stream): switch `jdbc_pg_to_native` sink
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/postgres_sink.slt
  e2e_test/sink/remote/jdbc.check.pg.slt
  src/config/ci-jdbc-to-native.toml
  src/connector/src/sink/postgres.rs
  src/risedevtool/src/task/postgres_service.rs
  src/stream/src/from_proto/sink.rs
Labels: type/fix, need-cherry-pick-since-release-2.1

#21632 fix(sqlsmith): ignore `ApproxCountDistinct` in sqlsmith
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/fix, ci/run-sqlsmith-snapshot-gen

#21608 chore: change the log level of exactly once normal commit to `debug`
  src/connector/src/sink/iceberg/mod.rs
Labels: type/chore, ci/run-e2e-iceberg-tests

#21545 feat(agg): ban non-append-only `APPROX_COUNT_DISTINCT`
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Labels: type/feature

#21641 chore(iceberg): remove emr compaction
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/compaction.rs
  src/connector/src/sink/iceberg/mod.rs
Labels: type/chore, ci/run-e2e-iceberg-tests

#21633 fix: cherry-pick release-2.1: reset client pool for compute node (#21603, #21611)
  src/compute/src/observer/observer_manager.rs
  src/compute/src/server.rs
  src/meta/src/barrier/recovery.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all
