Repository risingwavelabs/risingwave, pull requests merged in 2025-07, with the labels that each got.

#22419 refactor(meta): wrap fragment type mask with struct
  proto/stream_plan.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_backfill_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_rate_limit.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/barrier/backfill_order_control.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/src/lib.rs
Labels: type/refactor, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22362 refactor(sqlparser): make all non-standard operators sqlparser-agnostic
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/operator.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/src/tokenizer.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/operator.yaml
  src/sqlparser/tests/testdata/precedence.yaml
  src/tests/sqlsmith/src/sql_gen/functions.rs
Labels: type/refactor

#22414 feat(streaming): add chunk compaction post-reader, over logstore stream
  src/stream/src/executor/sink.rs
Labels: type/feature, need-cherry-pick-since-release-2.4

#22238 feat(sink): Enable compression by default in opendal parquet writer
  src/connector/src/sink/file_sink/opendal_sink.rs
Labels: ci/run-s3-source-tests, ci/main-cron/run-selected

#22444 chore(sqlsmith): ban strpos/position
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/chore, need-cherry-pick-since-release-2.4

#22175 fix(mysql-cdc): enhance mysql schema check
  e2e_test/source_inline/tvf/mysql_query.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
Labels: type/fix

#22421 refactor(frontend): static typed plan phase
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_visitor/execution_mode_decider.rs
  src/frontend/src/optimizer/plan_visitor/read_storage_table_visitor.rs
  src/frontend/src/optimizer/plan_visitor/sys_table_visitor.rs
  src/frontend/src/planner/delete.rs
  src/frontend/src/planner/insert.rs
  src/frontend/src/planner/mod.rs
  src/frontend/src/planner/query.rs
  src/frontend/src/planner/statement.rs
  src/frontend/src/planner/update.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Labels: type/refactor

#22443 fix: iceberg location generator
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/hummock/iceberg_compactor_runner.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.5

#22468 chore(iceberg): speed up iceberg e2e test
  e2e_test/iceberg/start_spark_connect_server.sh
Labels: ci/run-e2e-iceberg-tests

#22396 fix(meta): fix incorrectly marking worker node as barrier collected (#22384)
  src/meta/src/barrier/utils.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends, block-release-v2.5

#22336 fix(mysql-cdc): use connection pool to avoid data loss caused by unsafe cancellation (#22128)
  ci/scripts/e2e-source-test.sh
  e2e_test/source_legacy/cdc/mysql_cdc.sql
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22448 fix(batch): fix `binary` and `varbinary` type mapping in table function `mysql_query` (#22442)
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/expr/table_function.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22449 fix(batch): fix `binary` and `varbinary` type mapping in table function `mysql_query` (#22442)
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/expr/table_function.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22287 feat(storage): use faiss utils for vector computation
  .github/workflows/doc.yml
  .github/workflows/nightly-rust.yml
  Cargo.lock
  Cargo.toml
  ci/.env
  ci/Dockerfile
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docs/dev/src/build-and-run/intro.md
  src/storage/Cargo.toml
  src/storage/src/lib.rs
  src/storage/src/vector/distance.rs
  src/storage/src/vector/mod.rs
Labels: type/feature

#22450 fix(batch): fix `binary` and `varbinary` type mapping in table function `mysql_query` (#22442)
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/expr/table_function.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22441 feat(connector): allow schema registry with prefix path (#21138)
  e2e_test/source_inline/kafka/issue_20377.slt
  src/connector/src/schema/schema_registry/util.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22482 test(iceberg): speedup iceberg test in v2.4
  e2e_test/iceberg/start_spark_connect_server.sh
Labels: ci/main-cron/run-selected, ci/run-e2e-iceberg-tests, component/test

#22452 chore(sqlsmith): ban strpos/position (#22444)
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/chore, cherry-pick, ci/main-cron/run-all

#22366 feat(meta): minimal support for `ALTER MATERIALIZED VIEW AS`
  e2e_test/streaming/alter_mv/alter_mv_simple.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22363 feat: use proc_macro to generate allow_alter props
  Makefile.toml
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/connector_common/common.rs
  src/connector/src/lib.rs
  src/connector/src/sink/deltalake/mod.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/mod.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options/src/lib.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature

#22466 refactor: make allow alter check rely on generate code
  e2e_test/source_inline/kafka/alter/alter_connector_props.slt
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/connector_common/common.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake/imp.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/utils.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/mod.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/meta/src/controller/streaming_job.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22460 fix(mysql-cdc): enhance mysql schema check (#22175)
  e2e_test/source_inline/tvf/mysql_query.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22437 perf(connector): optimize pg native sink writer with pipelining (#22310)
  src/connector/src/sink/postgres.rs
Labels: type/perf, cherry-pick, ci/main-cron/run-all

#21648 feat(storage): implement in memory hnsw builder
  src/storage/src/store.rs
  src/storage/src/vector/hnsw.rs
  src/storage/src/vector/mod.rs
  src/storage/src/vector/utils.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22492 feat: make kafka source `group.id.prefix` alter-able
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/with_options_source.yaml
Labels: type/feature

#22515 fix(release): install dependencies required by faiss in release pipeline
  Cargo.lock
  Cargo.toml
  ci/scripts/release.sh
Labels: type/fix

#22108 fix(sink): fix starrrocks https host error
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Labels: type/fix

#22429 feat(meta): introduce basic state table mapping algorithm for `ALTER MV`
  Cargo.lock
  lints/src/utils/format_args_collector.rs
  src/frontend/src/handler/alter_mv.rs
  src/meta/Cargo.toml
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/state_match.rs
  src/prost/build.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22523 chore: update .gitignore to exclude rustc ice files
  .gitignore
Labels: type/chore

#22514 refactor(license): define feature list with JSON schema
  Cargo.lock
  src/license/Cargo.toml
  src/license/src/feature.json
  src/license/src/feature.rs
Labels: type/refactor

#22350 chore(deps): bump `madsim-rdkafka` to 0.4.4 (#22343)
  Cargo.lock
  Cargo.toml
Labels: type/chore, cherry-pick, ci/main-cron/run-all

#22529 fix: construct user info after secret and conn privilege granted or revoked
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_connections.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_secrets.rs
  src/meta/src/controller/utils.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.4, block-release-v2.5

#22533 fix(iceberg): spwan blocking task for dropping iceberg table (#22530)
  src/connector/src/connector_common/iceberg/jni_catalog.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#22521 fix(pgwire): send ParameterStatus(TimeZone) on startup to avoid psycopg[binary] segfault (#22504)
  ci/scripts/e2e-test-serial.sh
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/fix, ci/main-cron/run-all

#22464 fix: cherry pick iceberg-compaction & foyer location generator to v2.5
  Cargo.lock
  Cargo.toml
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/store_impl.rs
Labels: type/fix, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#22493 test: cover ALTER CONNECTION SET SCHEMA
  e2e_test/ddl/alter_set_schema.slt
  e2e_test/source_inline/connection/ddl.slt
Labels: A-test

#22541 fix(build): disable parallel frontend to reduce ICE
  Cargo.toml
Labels: type/fix

#22548 chore: update timeout in main-cron
  ci/workflows/main-cron.yml
Labels: type/chore, ci/main-cron/run-all

#22371 fix(cdc): send error message via the jni channel during reader init (#22338)
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22461 fix(mysql-cdc): enhance mysql schema check (#22175)
  e2e_test/source_inline/tvf/mysql_query.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22542 chore: fully deprecate dependent_relations to avoid misuse
  dashboard/components/Relations.tsx
  dashboard/lib/api/streaming.ts
  proto/catalog.proto
  proto/ddl_service.proto
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/create_view.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/compaction_catalog_manager.rs
Labels: type/chore, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22544 fix: check pulsar topic exist
  e2e_test/source_inline/pulsar/basic.slt
  src/connector/src/source/pulsar/enumerator/client.rs
  src/connector/src/source/pulsar/topic.rs
Labels: type/fix

#22361 feat(sink): Add config to block table drop if incoming sinks exist (#22347)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/manager/env.rs
Labels: type/feature, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#22416 feat: add a session variable to switch join encoding type
  ci/workflows/pull-request.yml
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/streaming/join/asof_join.slt.part
  e2e_test/streaming/join/join-3way.slt.part
  e2e_test/streaming/join/join.slt.part
  e2e_test/streaming/join/main.slt
  proto/stream_plan.proto
  src/common/src/session_config/join_encoding_type.rs
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/row.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/test_utils/hash_join_executor.rs
  src/stream/src/from_proto/asof_join.rs
  src/stream/src/from_proto/hash_join.rs
Labels: type/feature, user-facing-changes, ci/main-cron/run-all

#22525 fix(cdc): fix auto schema change failure when include hidden columns
  e2e_test/source_legacy/cdc_inline/auto_schema_change_pg.slt
  src/frontend/src/handler/create_table.rs
  src/meta/service/src/ddl_service.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22564 fix: only super user can alter system parameters
  src/frontend/src/handler/alter_system.rs
Labels: type/fix

#22567 feat(optimizer): optimize select clause's subquery unnesting (#22386)
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/update.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22568 feat(optimizer): optimize select clause's subquery unnesting (#22386)
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/update.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22572 chore: update v2.5.0-rc.1
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore, ci/main-cron/run-all

#22577 fix: clean dirty creating subscription after command failure
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22583 refactor(source): remove dead code 
  src/connector/src/source/base.rs
Labels: type/refactor

#22571 feat(iceberg): support manual compaction of iceberg engine table
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  proto/ddl_service.proto
  risedev.yml
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/vacuum.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/vacuum.yaml
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22593 fix(sink): shall not panic when protobuf message not found (#22587)
  e2e_test/sink/kafka/protobuf.slt
  src/connector/src/schema/protobuf.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22604 fix: include internal tables of the creating background job in snapshot
  src/meta/src/controller/catalog/mod.rs
Labels: type/fix, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#22626 fix(pgwire): CancelRequest shall not be responded
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix, need-cherry-pick-since-release-2.3

#22012 feat: add a data exist metric to materialized view cache
  docker/crypto.sql
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/streaming_actors.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/mview/materialize.rs
Labels: type/feature

#22595 refactor(compute): Combined the same logic of Merge and Union
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/union.rs
Labels: type/refactor

#22651 fix(iceberg): fix iceberg plan files stuck
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Labels: type/fix, ci/run-e2e-iceberg-tests

#22652 fix(iceberg): fix iceberg plan files stuck (#22651)
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Labels: type/fix, cherry-pick, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#22656 refactor(stream): reorg types and add docs for BarrierWorker and stuff
  src/stream/src/error.rs
  src/stream/src/task/actor_manager.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
  src/stream/src/task/barrier_worker/tests.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor

#22650 feat(expr): support parsing decimal in scientific notation (#22645)
  e2e_test/batch/types/decimal.slt.part
  src/common/src/types/decimal.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22644 test(iceberg): speedup iceberg test in v2.3
  e2e_test/iceberg/start_spark_connect_server.sh
Labels: ci/main-cron/run-selected, ci/main-cron/run-all, ci/run-e2e-iceberg-tests, component/test

#22631 feat: parallelize apply_chunk in agg
  src/stream/src/executor/aggregate/agg_group.rs
Labels: type/feature

#22649 feat(expr): support parsing decimal in scientific notation (#22645)
  e2e_test/batch/types/decimal.slt.part
  src/common/src/types/decimal.rs
Labels: type/feature, cherry-pick, ci/main-cron/run-all

#22666 fix: improve error handling in reachability check for Kafka Sink
  .github/workflows/copilot-setup-steps.yml
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/enumerator.rs
Labels: type/fix

#22594 fix(sink): shall not panic when protobuf message not found (#22587)
  e2e_test/sink/kafka/protobuf.slt
  src/connector/src/schema/protobuf.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22623 feat(sink): support redshifit sink with jdbc
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/RedShiftDialect.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/RedShiftDialectFactory.java
Labels: type/feature

#22659 refactor(sink): no explicit specifying dummy sink coordinator
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mongodb.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/postgres.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/trivial.rs
Labels: type/refactor

#22678 fix(storage): bump faiss-rs to avoid unstable PATH to avoid frequent rebuild
  Cargo.lock
  Cargo.toml
Labels: type/fix

#22642 fix(file source): Optimize list prefix handling to avoid root directory scans
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected, need-cherry-pick-since-release-2.4

#22692 chore: increase unit test main-cron timeout (#22574)
  ci/workflows/main-cron.yml
Labels: type/chore, cherry-pick, ci/main-cron/run-all

#22693 chore: increase unit test main-cron timeout (#22574)
  ci/workflows/main-cron.yml
Labels: type/chore, cherry-pick, ci/main-cron/run-all

#22458 fix(sink): fix mem log store was blocked with rate limit = 0
  e2e_test/background_ddl/sink.slt
  e2e_test/sink/rate_limit.slt
  src/connector/src/sink/trivial.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22694 chore: increase build other components timeout
  ci/workflows/main-cron.yml
Labels: type/chore, need-cherry-pick-since-release-2.5

#22687 fix(file source): Optimize list prefix handling to avoid root directory scans (#22642)
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
Labels: type/fix, cherry-pick, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/main-cron/run-all

#22686 feat(sink): support alter add column for snowflake redshifit sink
  e2e_test/s3/file_sink.py
  e2e_test/sink/auto_schema_change.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkWriterStreamObserver.java
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
  src/compute/tests/cdc_tests.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/jdbc_jni_client.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/redshift.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/snowflake.rs
  src/connector/src/sink/snowflake/mod.rs
  src/connector/src/sink/snowflake/snowflake_jni_client.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-s3-source-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22707 ci: fix tool install in copilot-setup-steps
  .github/workflows/copilot-setup-steps.yml
Labels: A-ci

#22699 fix: make pulsar source exactly once (#22510)
  e2e_test/source_inline/pulsar/issue-22486.slt.serial
  src/connector/src/source/pulsar/source/reader.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22683 fix(meta): notify fragment mapping changes in snapshot backfill
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/utils.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, ci/run-e2e-tests

#22716 fix(proto): Deprecate unused MergeNode fields
  proto/stream_plan.proto
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22614 feat(compute): Implement UnionUpstreamSink operator
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/project/mod.rs
  src/stream/src/executor/project/project_scalar.rs
  src/stream/src/executor/upstream_sink_union.rs
  src/stream/src/task/actor_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22718 fix: configure iceberg sink parquet row group for release 2.5
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/sink/iceberg/mod.rs
Labels: type/fix, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#22727 feat(iceberg): reduce plan files memory consumption
  Cargo.lock
  Cargo.toml
  src/connector/src/source/iceberg/mod.rs
  src/storage/Cargo.toml
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#22648 fix: limit background streaming jobs using max_concurrent_creating_streaming_jobs
  src/meta/src/rpc/ddl_controller.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22721 fix(frontend): Fix alter table column project node under sink-into-table
  e2e_test/sink/sink_into_table/alter_column.slt
  src/frontend/src/handler/alter_table_column.rs
Labels: type/fix

#22647 feat(expr): more `vector` distance functions
  proto/expr.proto
  src/expr/impl/src/scalar/vector_dist.rs
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#22724 refactor(frontend): separate PlanVisitor of different conventions
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_rewriter/share_source_rewriter.rs
  src/frontend/src/optimizer/plan_visitor/apply_visitor.rs
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/optimizer/plan_visitor/distributed_dml_visitor.rs
  src/frontend/src/optimizer/plan_visitor/execution_mode_decider.rs
  src/frontend/src/optimizer/plan_visitor/input_ref_validator.rs
  src/frontend/src/optimizer/plan_visitor/jsonb_stream_key_checker.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/plan_visitor/plan_correlated_id_finder.rs
  src/frontend/src/optimizer/plan_visitor/read_storage_table_visitor.rs
  src/frontend/src/optimizer/plan_visitor/relation_collector_visitor.rs
  src/frontend/src/optimizer/plan_visitor/rw_timestamp_validator.rs
  src/frontend/src/optimizer/plan_visitor/share_parent_counter.rs
  src/frontend/src/optimizer/plan_visitor/side_effect_visitor.rs
  src/frontend/src/optimizer/plan_visitor/sys_table_visitor.rs
  src/frontend/src/optimizer/plan_visitor/temporal_join_validator.rs
Labels: type/refactor

#22495 feat(meta): check if derived vnode count matches existing state tables during job replacement
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/state_match.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22526 feat(license): add `rw_features` system table & `rw_test_feature` function
  e2e_test/error_ui/simple/license.slt
  proto/expr.proto
  src/expr/impl/src/scalar/license.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_features.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/license/src/cpu.rs
  src/license/src/feature.json
  src/license/src/feature.rs
  src/license/src/lib.rs
  src/license/src/manager.rs
  src/risedevtool/src/task/utils.rs
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
Labels: type/feature

#22738 chore: update version to v2.5.0
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore, ci/main-cron/run-all

#22740 fix(binder): correctly bind relation from another database with non-default schema name (#22735)
  e2e_test/batch/basic/cross_db.slt.part
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/tests/simulation/src/slt.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22192 fix(mssql-cdc): support binary as primary key data type
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
  src/connector/src/parser/sql_server.rs
Labels: type/fix

#22745 feat(expr): `vector || vector` concatenation
  proto/expr.proto
  src/common/src/types/mod.rs
  src/expr/impl/src/scalar/vector.rs
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/sqlparser/src/parser_v2/data_type.rs
Labels: type/feature

#22747 fix(sink): avoid advance delete for force_append_only sink
  src/stream/src/executor/sink.rs
Labels: type/fix
