Repository risingwavelabs/risingwave, pull requests merged in 2025-03, with the labels that each got.

#20626 fix: revert default value for CDC to workaround #20625
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc/mysql_create.sql
  e2e_test/source_legacy/cdc/postgres_cdc.sql
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  src/frontend/src/handler/create_table.rs
Labels: type/fix

#20671 feat: remove support for default column from CDC
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc/mysql_create.sql
  e2e_test/source_legacy/cdc/postgres_cdc.sql
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  src/frontend/src/handler/create_table.rs
Labels: type/feature

#20681 fix(frontend): avoid error when `create materialized view if not exists` on existing background mv
  e2e_test/background_ddl/basic.slt
  e2e_test/background_ddl/sim/basic.slt
  src/frontend/src/catalog/root_catalog.rs
  src/tests/simulation/src/slt.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2

#20606 feat: support alter source set parallelism & fix shared source scale bug
  e2e_test/source_inline/kafka/alter/alter_parallelism.slt
  e2e_test/source_inline/kafka/alter/alter_table_drop_connector.slt
  e2e_test/source_inline/kafka/shared_source.slt.serial
  proto/ddl_service.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_parallelism.rs
  src/frontend/src/handler/mod.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20637 feat(source): pass `PulsarMeta` to `AvroAccessBuilder`
  src/connector/src/parser/access_builder.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/bytes_parser.rs
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/maxwell/maxwell_parser.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/upsert_parser.rs
  src/connector/src/source/base.rs
  src/connector/src/source/pulsar/source/message.rs
  src/connector/src/source/pulsar/source/mod.rs
Labels: type/feature

#20628 refactor(source): prepare `encode protobuf` for more schema registries
  src/connector/src/parser/config.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/schema/protobuf.rs
Labels: type/refactor

#20688 fix: fix shared source scale bug again
  src/stream/src/executor/source/source_backfill_executor.rs
Labels: type/fix

#20239 refactor(udf): simplify WASM UDF implementation by moving some logic to `arrow-udf-wasm`
  Cargo.lock
  Cargo.toml
  proto/catalog.proto
  proto/expr.proto
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/sig/udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/src/udf/external.rs
  src/expr/impl/src/udf/mod.rs
  src/expr/impl/src/udf/python.rs
  src/expr/impl/src/udf/quickjs.rs
  src/expr/impl/src/udf/wasm.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250121_085800_change_wasm_udf_identifier.rs
  src/meta/model/src/function.rs
  src/meta/src/controller/mod.rs
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/refactor, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20670 feat: support grant/revoke privilege on view
  e2e_test/batch/catalog/has_privilege.slt.part
  proto/user.proto
  src/frontend/src/binder/delete.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/view_catalog.rs
  src/frontend/src/expr/function_impl/pg_table_is_visible.rs
  src/frontend/src/handler/alter_owner.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/handler/comment.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/session.rs
  src/frontend/src/user/user_catalog.rs
  src/frontend/src/user/user_privilege.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20680 fix: Dockerfile
  docker/Dockerfile
Labels: type/fix

#20403 feat(udf): introduce async and batched JavaScript UDF
  Cargo.lock
  Cargo.toml
  ci/scripts/common.sh
  e2e_test/udf/embedded/js_udf.slt
  e2e_test/udf/js_async_udf.slt
  proto/catalog.proto
  proto/expr.proto
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/sig/udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/python.rs
  src/expr/impl/src/udf/quickjs.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250210_170743_function_options.rs
  src/meta/model/src/function.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/tests/simulation/src/slt.rs
Labels: type/feature, user-facing-changes, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20658 feat: fully deprecate legacy s3 source
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/source/filesystem/file_common.rs
  src/connector/src/source/filesystem/mod.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/s3/enumerator.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/filesystem/s3/source/mod.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/filesystem/s3/source/split_stream.rs
  src/connector/src/source/util.rs
  src/connector/src/with_options.rs
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_source/validate.rs
  src/stream/src/executor/source/legacy_fs_source_executor.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/from_proto/source/trad_source.rs
Labels: type/feature, breaking-change, deprecated, ci/run-s3-source-tests, ci/main-cron/run-selected

#20632 fix(jdbc): remove postgres jdbc sink schema if not specified
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/jdbc/PostgresDialect.java
Labels: type/fix, user-facing-changes, breaking-change

#20702 cherry-pick feat(udf): introduce async and batched JavaScript UDF (#20403) to 2.3
  Cargo.lock
  Cargo.toml
  ci/scripts/common.sh
  e2e_test/udf/embedded/js_udf.slt
  e2e_test/udf/js_async_udf.slt
  proto/catalog.proto
  proto/expr.proto
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/sig/udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/python.rs
  src/expr/impl/src/udf/quickjs.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250210_170743_function_options.rs
  src/meta/model/src/function.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/tests/simulation/src/slt.rs
Labels: cherry-pick, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20703 fix(frontend): fix error message for casting `ROW` expression with mismatched field count
  src/frontend/planner_test/planner_test.toml
  src/frontend/planner_test/tests/testdata/input/struct_query.yaml
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/src/expr/function_call.rs
Labels: type/fix

#20705 fix: Temporarily add sleep to prevent unexpected test failures
  e2e_test/background_ddl/basic.slt
Labels: type/fix, need-cherry-pick-release-2.2

#20704 chore: update package version to v2.4.0-alpha
  Cargo.lock
  Cargo.toml
  ci/workflows/pull-request.yml
Labels: type/chore

#20560 chore: update PR template by newest release branch
  .github/workflows/update-pr-template-by-version.yml
Labels: type/chore

#20711 fix(optimizer): fix predicate pushdown for asof join
  src/frontend/planner_test/tests/testdata/input/asof_join.yaml
  src/frontend/planner_test/tests/testdata/output/asof_join.yaml
  src/frontend/src/optimizer/plan_node/generic/join.rs
Labels: type/fix, need-cherry-pick-release-2.3

#20669 feat(iceberg): support list namespaces and tables for jni catalog
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#20433 feat: support retry commit for iceberg sink
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-engine-tests, ci/run-e2e-iceberg-sink-v2-tests, ci/run-e2e-iceberg-tests

#20712 feat(batch): AsOf lookup join
  e2e_test/batch/join/asof_join.slt
  proto/batch_plan.proto
  src/batch/executors/src/executor/join/distributed_lookup_join.rs
  src/batch/executors/src/executor/join/hash_join.rs
  src/batch/executors/src/executor/join/local_lookup_join.rs
  src/batch/executors/src/executor/join/lookup_join_base.rs
  src/frontend/planner_test/tests/testdata/input/asof_join.yaml
  src/frontend/planner_test/tests/testdata/output/asof_join.yaml
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Labels: type/feature

#20718 fix(ci): fix rustup 1.28.0 breaking change
  ci/Dockerfile
  docker/Dockerfile
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20693 feat: add rw version to meta backup log
  src/ctl/src/cmd_impl/meta/backup_meta.rs
Labels: type/feature

#20709 feat: support ALTER CONNECTION OWNER TO
  e2e_test/source_inline/connection/alter_owner_to.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_class.rs
  src/frontend/src/handler/alter_owner.rs
  src/frontend/src/handler/mod.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/rpc/ddl_controller.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20583 refactor: streamline column-aware row encoding impl
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/common/src/util/value_encoding/error.rs
  src/storage/src/row_serde/value_serde.rs
Labels: type/refactor, ci/run-backwards-compat-tests

#20728 fix(ci): fix rust toolchain
  .github/workflows/doc.yml
  ci/scripts/release.sh
  docker/Dockerfile.hdfs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20646 feat(expr): support `atand` function
  e2e_test/batch/functions/trigonometric_funcs.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/trigonometric.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/tests/regress/data/sql/float8.sql
Labels: type/feature, user-facing-changes

#20739 fix: update latest release branch in pr template
  .github/workflows/update-pr-template-by-version.yml
Labels: type/fix

#20737 fix(storage): fix compactor meta cache config
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20694 refactor(meta): remove dispatcher field from StreamActor
  proto/stream_service.proto
  src/meta/service/src/scale_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/mod.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20665 fix(stoarge): fix in-mem state store seal epoch panic on singleton vnode
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  risedev.yml
  src/storage/src/memory.rs
Labels: type/fix, ci/run-e2e-parallel-in-memory-tests, ci/main-cron/run-selected, need-cherry-pick-release-2.3

#20172 refactor(storage): create new read snapshot to read for StateStore trait
  src/batch/executors/src/executor/insert.rs
  src/batch/src/executor/fast_insert.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/mod.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Labels: type/refactor

#20699 fix(source): debezium avro schema evolution
  e2e_test/source_inline/kafka/avro/debezium_evolution.slt
  src/connector/src/parser/debezium/avro_parser.rs
Labels: type/fix, need-cherry-pick-since-release-2.1

#20750 fix(iceberg): revert iceberg engine paid feature
  src/frontend/src/handler/create_table.rs
  src/license/src/feature.rs
Labels: type/fix, need-cherry-pick-release-2.3

#20745 fix(action): correctly escape hashtag
  .github/workflows/cherry-pick-since-release-branch.yml
Labels: type/fix

#20754 refactor: replace hardcoded buffer size with config (#20738)
  src/common/src/config.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/example.toml
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/refactor

#20611 feat(dml): add not null support
  e2e_test/ddl/not_null.slt
  e2e_test/ddl/table/table.slt.part
  proto/expr.proto
  proto/plan_common.proto
  src/batch/executors/src/executor/insert.rs
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/source/manager.rs
  src/expr/core/src/error.rs
  src/expr/impl/src/scalar/cmp.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/planner/update.rs
  src/prost/src/lib.rs
  src/storage/src/row_serde/mod.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/feature

#20752 refactor: replace hardcoded buffer size with config (#20738)
  src/common/src/config.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/example.toml
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/refactor

#20753 refactor: replace hardcoded buffer size with config (#20738)
  src/common/src/config.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/example.toml
  src/frontend/src/scheduler/distributed/stage.rs
Labels: type/refactor

#20774 chore: add diff in update pr template github action
  .github/workflows/update-pr-template-by-version.yml
Labels: type/chore

#20731 feat: re-organize grafana dashboard sections
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/README.md
  grafana/common.py
  grafana/generate.sh
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  grafana/update.sh
Labels: type/feature

#20770 refactor(grafana): split dashboard definition into multiple python files
  grafana/dashboard/__init__.py
  grafana/dashboard/common.py
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/actor_info.py
  grafana/dashboard/dev/backup_manager.py
  grafana/dashboard/dev/batch.py
  grafana/dashboard/dev/cluster_essential.py
  grafana/dashboard/dev/compaction.py
  grafana/dashboard/dev/grpc_meta.py
  grafana/dashboard/dev/hummock_manager.py
  grafana/dashboard/dev/hummock_read.py
  grafana/dashboard/dev/hummock_tiered_cache.py
  grafana/dashboard/dev/hummock_write.py
  grafana/dashboard/dev/iceberg_metrics.py
  grafana/dashboard/dev/kafka_metrics.py
  grafana/dashboard/dev/memory_manager.py
  grafana/dashboard/dev/network_connection.py
  grafana/dashboard/dev/object_storage.py
  grafana/dashboard/dev/sink_metrics.py
  grafana/dashboard/dev/streaming.py
  grafana/dashboard/dev/streaming_actors.py
  grafana/dashboard/dev/streaming_actors_tokio.py
  grafana/dashboard/dev/streaming_cdc.py
  grafana/dashboard/dev/streaming_exchange.py
  grafana/dashboard/dev/udf.py
  grafana/dashboard/user/__init__.py
  grafana/dashboard/user/actor_info.py
  grafana/dashboard/user/batch.py
  grafana/dashboard/user/cpu.py
  grafana/dashboard/user/memory.py
  grafana/dashboard/user/network.py
  grafana/dashboard/user/overview.py
  grafana/dashboard/user/storage.py
  grafana/dashboard/user/streaming.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.dashboard.py
Labels: type/refactor, ci/run-e2e-iceberg-tests

#20759 feat(iceberg): support creating namespace and namespace exists for iceberg catalog
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-tests, need-cherry-pick-release-2.3

#20781 fix(iceberg): reject iceberg on gcs with catalog rather than rest and storage
  src/connector/src/connector_common/iceberg/mod.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-release-2.3

#20546 feat(logstore): provide more opportunities to read
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/output/delta_join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/src/optimizer/plan_node/stream_sync_log_store.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Labels: type/feature

#20797 chore: remove telemetry tests
  src/common/telemetry_event/src/lib.rs
  src/compute/src/telemetry.rs
  src/frontend/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/src/telemetry.rs
Labels: type/chore, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20783 fix(meta): background ddl wait collect first barrier
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/session.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/src/lib.rs
  src/tests/simulation/src/slt.rs
Labels: type/fix, ci/run-recovery-test-deterministic-simulation, ci/run-integration-test-deterministic-simulation, ci/run-e2e-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.3

#20804 chore(deps): Bump sct from 0.7.0 to 0.7.1 (ring from 0.16 to 0.17)
  Cargo.lock
Labels: type/chore

#20810 refactor(storage): better backtrace display in warn log for `wait_for_update`
  src/storage/src/hummock/utils.rs
Labels: type/refactor

#20649 feat(frontend): memory throttling for frontend messages
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/memory_manager.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Labels: type/feature

#20795 feat(frontend,meta): support alter fragment rate limit
  e2e_test/streaming/rate_limit/fragment.slt
  proto/meta.proto
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/mod.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20825 chore:  add issue template for tracking flaky tests
  .github/ISSUE_TEMPLATE/flaky_test.yml
Labels: type/chore

#20800 feat(snapshot-backfill): impose back-pressure to upstream by epoch lag size
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/task/barrier_manager/progress.rs
Labels: type/feature, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends

#20823 fix(sqlparser): `Display` of `WITH VERSION COLUMN`
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#20811 chore(deps): Bump ginepro from 0.8.1 to 0.8.2 (avoid idna@0.4 and trust-dns-resolver@0.23)
  Cargo.lock
Labels: type/chore

#20843 chore(ci): revert changes specific to rustup v1.28
  .github/workflows/doc.yml
  ci/scripts/release.sh
  docker/Dockerfile.hdfs
Labels: type/chore

#20733 fix: fix fragment ids and incoming sinks in table catalog during migration
  ci/docker-compose.yml
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
  risedev.yml
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/fix

#20846 fix: fix fragment ids and incoming sinks in table catalog during migration (#20733)
  ci/docker-compose.yml
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
  risedev.yml
  src/ctl/src/cmd_impl/meta/migration.rs
Labels: type/fix

#20736 fix(risedev): fix task panic error msg
  Cargo.lock
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/service_config.rs
Labels: type/fix

#20842 fix: cherry-pick bot format and leading space issue
  .github/workflows/cherry-pick-since-release-branch.yml
Labels: type/fix

#20812 chore(deps): Bump hashbrown from 0.15.0 to 0.15.1
  Cargo.lock
Labels: type/chore

#20845 chore(ci): fix python dependency installation
  ci/scripts/e2e-test-serial.sh
  e2e_test/requirements.txt
  e2e_test/source_inline/requirements.txt
Labels: type/chore

#20844 refactor(iceberg): deprecate pulsar iceberg reader
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  src/common/src/array/arrow/arrow_iceberg.rs
  src/connector/Cargo.toml
  src/connector/src/error.rs
  src/connector/src/sink/mod.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/expr/impl/src/scalar/external/iceberg.rs
Labels: type/refactor, breaking-change, ci/run-e2e-iceberg-tests

#20813 feat(iceberg): support enable_config_load for glue catalog
  src/connector/src/connector_common/iceberg/mod.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#20827 feat(meta): add more per database meta metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/cluster_essential.py
  grafana/dashboard/dev/streaming.py
  grafana/dashboard/user/overview.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/metrics.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20860 fix(sqlparser): enforce `Display` of `create table | source` to be valid SQL
  src/sqlparser/src/ast/legacy_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/tests/testdata/create.yaml
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix, ci/run-e2e-iceberg-tests

#20807 chore(deps): Bump tokio to v1.44.0
  Cargo.lock
  src/utils/runtime/Cargo.toml
Labels: type/chore

#20706 refactor(frontend):  also check column data type when generating column index mapping for replacing table
  src/frontend/src/handler/alter_table_column.rs
Labels: type/refactor

#20828 feat: Add configurable sync call timeout for sources
  src/connector/src/with_options.rs
  src/meta/src/stream/source_manager/worker.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20863 refactor(compaction): optimize stale compaction task validation
  proto/hummock.proto
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/level.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, compaction-test, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20879 fix(meta): avoid handling stale exchange request with term_id
  proto/stream_service.proto
  proto/task_service.proto
  src/compute/src/rpc/service/exchange_service.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20822 feat(stream): support not null in stream
  e2e_test/ddl/not_null.slt
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc/cdc.validate.postgres.slt
  src/common/src/catalog/column.rs
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
Labels: type/feature, user-facing-changes

#20850 test: add retry to a flaky source test
  e2e_test/source_inline/kafka/alter/alter_parallelism.slt
  src/stream/src/executor/source/reader_stream.rs
Labels: component/test

#20869 feat: cherry-pick database isolation fixes in #20827 #20734 #20872 #20879 to release-2.3
  ci/workflows/main-cron.yml
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  proto/stream_service.proto
  proto/task_service.proto
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/metrics.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20790 fix(meta): avoid handling stale exchange request (for release-2.1)
  proto/stream_service.proto
  proto/task_service.proto
  src/compute/src/rpc/service/exchange_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests

#20773 feat(ctl): enable overwriting of system parameters during metadata restoration.
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/restore_impl/mod.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/run_all.sh
  src/storage/backup/integration_tests/test_overwrite_endpoint.sh
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-meta-backup-test, ci/run-e2e-test-other-backends

#20880 refactor(types):  add convenient macros for simple & composite data types
  src/common/src/types/mod.rs
Labels: type/refactor

#20010 fix(meta): fix notification when dropping tables
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/src/hummock/observer_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20558 feat(sink): change sink type to append only when plan is append-only
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/sink_into_table/basic.slt
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Labels: type/feature

#20893 feat: add `UdfConfig` to enable/disable embedded UDF for different language
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/session.rs
Labels: type/feature, user-facing-changes, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20895 chore: remove risingwave_connector::source::DataType
  src/bench/sink_bench/main.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/base.rs
  src/connector/src/source/datagen/source/reader.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/optimizer/plan_node/logical_kafka_scan.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/rule/logical_filter_expression_simplify_rule.rs
  src/frontend/src/optimizer/rule/rewrite_like_expr_rule.rs
Labels: type/chore, ci/run-e2e-iceberg-tests

#20902 cherry-pick feat: add UdfConfig to enable/disable embedded UDF for different language (#20893) to branch release-2.3
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/session.rs
Labels: cherry-pick

#20904 cherry-pick feat: add UdfConfig to enable/disable embedded UDF for different language (#20893) to branch release-2.1
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/session.rs
Labels: cherry-pick

#20875 fix(sqlparser): `Display` of `WITH VERSION COLUMN` (#20823)
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#20881 feat: cherry-pick database isolation fixes in #20792 #20827 #20872 #20879 to release-2.2
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  proto/stream_service.proto
  proto/task_service.proto
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20912 fix(action): fetch all branches not only main
  .github/workflows/cherry-pick-since-release-branch.yml
Labels: type/fix

#20914 fix(action): don't override the update branch when it exists remotely
  .github/workflows/update-pr-template-by-version.yml
Labels: type/fix

#20890 refactor(compaction): optimize stale compaction task validation (#20863)
  proto/hummock.proto
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/level.rs
  src/storage/hummock_sdk/src/version.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20917 feat(types): implement `Row` for `StructRef`
  src/common/src/array/struct_array.rs
  src/common/src/row/mod.rs
Labels: type/feature

#20891 chore: remove false positive blocking consume_log from await-tree output
  Cargo.lock
  src/compute/Cargo.toml
  src/compute/src/rpc/service/monitor_service.rs
  src/utils/workspace-config/Cargo.toml
Labels: type/chore, need-cherry-pick-since-release-2.1

#20911 refactor(state table): add an API for 1 row table
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/now.rs
Labels: type/refactor, ci/run-backwards-compat-tests

#20896 fix(meta): isolate database logical error in global recovery
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.3

#20755 feat: support privilege management for connection, function and secret
  e2e_test/batch/catalog/has_privilege.slt.part
  proto/expr.proto
  proto/user.proto
  src/common/src/acl/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/expr/function_impl/has_privilege.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/session.rs
  src/frontend/src/user/user_catalog.rs
  src/frontend/src/user/user_privilege.rs
  src/meta/src/controller/utils.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20910 feat: add auxiliary methods for struct type with field ids
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
Labels: type/feature

#20939 feat(storage): separate shared buffer compact SSTs of state table with and without old values
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
Labels: type/feature, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20563 feat(frontend): generate column id to struct fields
  e2e_test/source_inline/kafka/avro/alter_table.slt
  proto/plan_common.proto
  src/common/src/lib.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema/nexmark.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table/col_id_gen.rs
  src/frontend/src/handler/create_table_as.rs
Labels: type/refactor, type/feature

#20873 fix(sqlparser): `Display` of `WITH VERSION COLUMN` (#20823)
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#20874 fix(sqlparser): `Display` of `WITH VERSION COLUMN` (#20823)
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Labels: type/fix

#20903 cherry-pick feat: add UdfConfig to enable/disable embedded UDF for different language (#20893) to branch release-2.2
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/session.rs
Labels: cherry-pick

#20604 feat: recursively use col-aware encoding for structs
  src/common/benches/bench_column_aware_row_encoding.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/storage/src/row_serde/value_serde.rs
Labels: type/feature

#20672 feat(CLOUD-3655): Frontend communication with serverless backfill controller
  proto/serverless_backfill_controller.proto
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/lib.rs
  src/frontend/src/session.rs
  src/prost/build.rs
  src/prost/src/lib.rs
Labels: type/feature

#20937 fix(snapshot-backfill): fix panic in cross db snapshot backfill recovery
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/cross_db/cross_db_mv.slt
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/barrier/worker.rs
  src/prost/src/lib.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
Labels: type/fix, ci/run-backfill-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20954 feat(storage): cherry-pick to release-2.2 separate shared buffer compact SSTs of state table with and without old values (#20939)
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
Labels: type/feature

#20949 fix(frontend): `encode protobuf` shall pass options without `legacy_source::ProtobufSchema`
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/create_source/external_schema/protobuf.rs
  src/sqlparser/src/ast/mod.rs
Labels: type/fix

#20940 test: add e2e tests for `ALTER COLUMN TYPE`
  e2e_test/ddl/alter_table_column_type.slt
  e2e_test/source_inline/kafka/avro/alter_table.slt
  e2e_test/source_legacy/cdc_inline/alter/cdc_table_alter.slt
  src/meta/src/rpc/ddl_controller.rs
Labels: component/test, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20950 feat(metric): add metric for table change log
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/hummock_manager.py
  grafana/risingwave-dev-dashboard.json
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.3

#20959 fix(subscription):fix loss of subscription data due to reboot
  src/storage/hummock_sdk/src/frontend_version.rs
Labels: type/fix, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20975 fix(action): cherry-pick-since GITHUB_OUTPUT as single line
  .github/workflows/cherry-pick-since-release-branch.yml
  .github/workflows/cherry-pick-to-release-branch.yml
Labels: type/fix

#20965 fix(subscription):fix loss of subscription data due to reboot (#20959) to 2.1
  src/storage/hummock_sdk/src/frontend_version.rs
Labels: type/fix

#20968 refactor(stream): move agg executors to `stream/executor/aggregate`
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/aggregate/agg_group.rs
  src/stream/src/executor/aggregate/agg_state.rs
  src/stream/src/executor/aggregate/agg_state_cache.rs
  src/stream/src/executor/aggregate/distinct.rs
  src/stream/src/executor/aggregate/hash_agg.rs
  src/stream/src/executor/aggregate/minput.rs
  src/stream/src/executor/aggregate/mod.rs
  src/stream/src/executor/aggregate/simple_agg.rs
  src/stream/src/executor/aggregate/stateless_simple_agg.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/agg_common.rs
  src/stream/src/from_proto/hash_agg.rs
  src/stream/src/from_proto/simple_agg.rs
  src/stream/src/from_proto/stateless_simple_agg.rs
Labels: type/refactor

#20048 feat(sink): support es sink partial update
  e2e_test/sink/elasticsearch/elasticsearch_sink.result
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  e2e_test/sink/elasticsearch/elasticsearch_with_pk_sink.result
  integration_tests/elasticsearch-sink/create_sink.sql
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_formatter.rs
Labels: type/feature

#20983 chore(deps): bump arrow-udf version (& bumps to arrow 54) to avoid unexpected arrow version change
  Cargo.lock
  Cargo.toml
  e2e_test/udf/wasm/Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_53.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/arrow/mod.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/udf/external.rs
Labels: type/chore

#20969 refactor(stream): move sort buffer and sort executor to `stream/executor/eowc`
  src/stream/src/executor/aggregate/hash_agg.rs
  src/stream/src/executor/eowc/mod.rs
  src/stream/src/executor/eowc/sort.rs
  src/stream/src/executor/eowc/sort_buffer.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/over_window/eowc.rs
  src/stream/src/from_proto/sort.rs
Labels: type/refactor

#20988 fix(meta): fix late collect resp on failed database in recovery
  src/meta/src/barrier/worker.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.3, block-release-v2.3

#20993 refactor(config): make rpc client option configurable
  src/batch/src/execution/local_exchange.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/compute.rs
  src/ctl/src/cmd_impl/hummock/resize_cache.rs
  src/frontend/src/session.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/frontend_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, need-cherry-pick-release-2.1, ci/run-e2e-test-other-backends, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#20236 fix(source): modify the logic of gzip compressed file source
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  e2e_test/s3/file_sink.py
  e2e_test/s3/file_source.py
  grafana/dashboard/dev/streaming.py
  grafana/dashboard/user/streaming.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
  src/batch/executors/src/executor/azblob_file_scan.rs
  src/batch/executors/src/executor/gcs_file_scan.rs
  src/batch/executors/src/executor/s3_file_scan.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/connector/src/source/monitor/metrics.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/mod.rs
Labels: type/fix, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#20970 refactor(stream): move project and project set executors to `stream/executor/project`
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/project/mod.rs
  src/stream/src/executor/project/project_scalar.rs
  src/stream/src/executor/project/project_set.rs
  src/stream/src/from_proto/project.rs
  src/stream/src/from_proto/project_set.rs
  src/stream/tests/integration_tests/project_set.rs
Labels: type/refactor

#20981 fix(meta): change mysql charset to utf8mb4
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20230908_072257_init.rs
  src/meta/model/migration/src/m20250319_062702_mysql_utf8mb4.rs
Labels: type/fix, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.1

#20858 feat(stream): notice for NOT NULL when create table with connector
  e2e_test/ddl/not_null.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Labels: type/feature

#20989 feat(storage): cherry-pick separate shared buffer compact SSTs of state table wit…
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
Labels: type/feature

#21001 refactor(config): make rpc client option configurable (#20993)
  src/batch/src/execution/local_exchange.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/compute.rs
  src/frontend/src/session.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/frontend_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
Labels: type/refactor, ci/run-e2e-single-node-tests

#21003 refactor(config): make rpc client option configurable (#20993)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/batch/src/execution/local_exchange.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/compute.rs
  src/ctl/src/cmd_impl/hummock/resize_cache.rs
  src/frontend/src/session.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/metrics.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/frontend_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20980 fix(frontend): `encode protobuf` shall pass options without `legacy_source::ProtobufSchema` (#20949)
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/create_source/external_schema/protobuf.rs
  src/sqlparser/src/ast/mod.rs
Labels: type/fix

#20957 perf(common): improve performance of col-aware encoding for structs (serialization part)
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/lib.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Labels: type/perf

#21017 fix: fix catalog inconsistency when dropping stream jobs.
  proto/ddl_service.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_ddl_progress.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/manager/metadata.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/compaction_catalog_manager.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#20978 fix(udf, 2.2): fix udf test for single-node and standalone binary test
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  e2e_test/udf/alter_function.slt
  src/config/ci-single-node-standalone.toml
Labels: type/fix, ci/run-e2e-standalone-tests, ci/run-e2e-single-node-tests

#21025 chore(ci):  relax log size check to 8MB
  Makefile.toml
Labels: type/chore

#20984 fix(udf, 2.1): fix udf test for single-node and standalone binary test
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  e2e_test/udf/alter_function.slt
  src/config/ci-single-node-standalone.toml
Labels: type/fix, ci/run-e2e-standalone-tests, ci/run-e2e-single-node-tests

#21018 feat(iceberg): iceberg integration with s3 tables
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/drop_table.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-iceberg-tests, need-cherry-pick-release-2.3

#20971 feat(udf): add `MaterializedExprsExecutor` implementation
  proto/stream_plan.proto
  src/common/src/array/stream_chunk_iter.rs
  src/prost/build.rs
  src/stream/src/executor/project/materialized_exprs.rs
  src/stream/src/executor/project/mod.rs
  src/stream/src/executor/project/project_scalar.rs
  src/stream/src/executor/project/project_set.rs
  src/stream/src/from_proto/materialized_exprs.rs
  src/stream/src/from_proto/mod.rs
  src/stream/tests/integration_tests/main.rs
  src/stream/tests/integration_tests/materialized_exprs.rs
Labels: type/feature

#21002 refactor(config): make rpc client option configurable (#20993)
  src/batch/src/execution/local_exchange.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/config/example.toml
  src/ctl/src/cmd_impl/compute.rs
  src/ctl/src/cmd_impl/hummock/resize_cache.rs
  src/frontend/src/session.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/frontend_client.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/stream_client.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21043 chore(deps): update groups rand, strum and opentelemetry
  .github/dependabot.yml
Labels: type/chore

#20958 ci: unify iceberg test script
  ci/scripts/e2e-iceberg-cdc.sh
  ci/scripts/e2e-iceberg-engine-test.sh
  ci/scripts/e2e-iceberg-sink-test.sh
  ci/scripts/e2e-iceberg-test.sh
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/commands/sparksql
  e2e_test/iceberg/benches/predicate_pushdown.slt
  e2e_test/iceberg/benches/predicate_pushdown.toml
  e2e_test/iceberg/benches/predicate_pushdown/filter.slt.part
  e2e_test/iceberg/benches/predicate_pushdown/point_get.slt.part
  e2e_test/iceberg/test_case/cdc/load.slt
  e2e_test/iceberg/test_case/cdc/no_partition_cdc.toml
  e2e_test/iceberg/test_case/cdc/no_partition_cdc_init.toml
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_sink.slt
  risedev.yml
  src/config/ci-iceberg-test.toml
Labels: component/ci, ci/run-e2e-iceberg-tests

#20467 feat(parquet): give more hints when schema does not match
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/cluster_essential.py
  grafana/risingwave-dev-dashboard.json
  src/batch/executors/src/executor/azblob_file_scan.rs
  src/batch/executors/src/executor/gcs_file_scan.rs
  src/batch/executors/src/executor/s3_file_scan.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/connector/src/source/monitor/metrics.rs
  src/connector/src/source/reader/reader.rs
Labels: type/feature, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#21052 cherry-pick fix(source): modify the logic of gzip compressed file source (#20236) to branch release-2.3
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  e2e_test/s3/file_sink.py
  e2e_test/s3/file_source.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/batch/executors/src/executor/azblob_file_scan.rs
  src/batch/executors/src/executor/gcs_file_scan.rs
  src/batch/executors/src/executor/s3_file_scan.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/connector/src/source/monitor/metrics.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/mod.rs
Labels: cherry-pick, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#20942 chore: Update README.md
  README.md
Labels: type/chore, need-cherry-pick-since-release-2.1

#21044 ci: also use buildkite job parallelism in main-cron
  ci/workflows/main-cron.yml
Labels: component/ci, ci/main-cron/run-all

#21060 chore(deps): Bump hashbrown from 0.14.5 to 0.15.2
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
Labels: type/chore

#21070 chore(deps): Bump opentelemetry from 0.24 to 0.26
  Cargo.lock
  Cargo.toml
Labels: type/chore

#20725 feat(foyer): upgrade foyer for fast disk cache recovery
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/store_impl.rs
Labels: type/feature, need-cherry-pick-release-2.0, need-cherry-pick-release-2.1, need-cherry-pick-release-2.2, need-cherry-pick-release-2.3

#21073 ci: fix iceberg test on main-cron
  ci/docker-compose.yml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Labels: component/ci, ci/main-cron/run-selected, ci/run-e2e-iceberg-tests

#21080 feat: add more librdkafka options for kafka source
  src/connector/src/source/kafka/mod.rs
  src/connector/with_options_source.yaml
Labels: type/feature

#21083 doc: remove docset support
  .github/workflows/doc.yml
  docs/rustdoc/index.md
Labels: component/doc

#21085 fix(ctl): object store migration tool
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
Labels: type/fix

#20991 feat(sink): support redis sink with pubsub format
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/redis.rs
Labels: type/feature, ci/run-e2e-redis-sink-tests

#21095 chore(deps): bump serde 1.0.208 -> 219
  .github/dependabot.yml
  Cargo.lock
  src/connector/src/connector_common/mqtt_common.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/chore

#20772 feat(log_store): apply change in log store for exactly once sink
  proto/connector_service.proto
  src/bench/sink_bench/main.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/boxed.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/file_sink/batching_log_sink.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mock_coordination_client.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/postgres.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/trivial.rs
  src/connector/src/sink/writer.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/handle.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/rpc_client/src/sink_coordinate_client.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/executor/sink.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#21079 refactor: bump `await-tree` to `v0.3.0-alpha.3`
  Cargo.lock
  Cargo.toml
  src/compute/Cargo.toml
  src/compute/src/rpc/service/monitor_service.rs
  src/connector/src/sink/remote.rs
  src/expr/core/src/expr/expr_udf.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/sink.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/stream_manager.rs
  src/utils/workspace-config/Cargo.toml
Labels: type/refactor

#21020 feat(meta): maintain actor vnode distribution in global barrier manager
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/stream/scale.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends
