Repository risingwavelabs/risingwave, pull requests merged in 2025-06, with the labels that each got.

#21741 feat(streaming): add tracing logs for arrangement backfill and improve inconsistency logs for over window
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/over_window/general.rs
Labels: type/feature

#22055 fix(optimizer): fix correlated ref on subquery kind expression
  src/frontend/planner_test/tests/testdata/input/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/binder/set_expr.rs
  src/frontend/src/binder/values.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/subquery.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/planner/select.rs
Labels: type/fix

#21681 feat(meta): rewrite index after `ALTER COLUMN TYPE`
  e2e_test/ddl/alter_table_column_type/with_index.slt
  proto/expr.proto
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/meta/src/controller/rename.rs
  src/meta/src/controller/streaming_job.rs
Labels: type/feature, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#21849 feat: print backtrace in pg_protocol in debug mode
  src/common/src/util/deployment.rs
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/feature

#22081 fix: respect RUST_LOG when RISINGWAVE_KAFKA_LOG_LEVEL is not set
  src/connector/src/connector_common/connection.rs
Labels: type/fix

#22065 cherry-pick: chore(ci): move more dep installation from script to image & bump sqllogictest-bin to 0.28.2 (#21730)
  ci/.env
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/connector-node-integration-test.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  ci/scripts/e2e-doris-sink-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/e2e-starrocks-sink-test.sh
  ci/scripts/e2e-time-travel-test.sh
  ci/scripts/run-meta-backup-test.sh
Labels: cherry-pick, ci/main-cron/run-all

#22089 feat(sqlsmith): support natural and using join
  src/tests/sqlsmith/config.yml
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Labels: type/feature, ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#22088 fix: ALTER SOURCE ... REFRESH SCHEMA for source with generated columns
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  src/frontend/src/handler/alter_source_with_sr.rs
Labels: type/fix

#22087 ci: add sleep to increase test stability
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
Labels: A-ci

#22097 fix: redact sql option in diagnosis report according to keywords
  e2e_test/source_inline/connection/issue_22096.slt
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/env.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.4

#22096 fix(sqlparser): bypass parsability check for redacted sql
  src/sqlparser/src/ast/mod.rs
  src/utils/pgwire/src/pg_protocol.rs
Labels: type/fix, need-cherry-pick-since-release-2.4

#21893 chore(ci): enforce unit (UI) test of dylint
  ci/scripts/check-dylint.sh
  lints/ui/format_error.stderr
Labels: type/chore

#22026 refactor(sqlsmith): replace SqlGeneratorContext with config
  src/tests/sqlsmith/config.yml
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Labels: type/refactor, ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#22009 chore: update version to v2.3.3
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: ci/main-cron/run-all

#22105 refactor: extract `QuoteIdent` wrapper for formatting quoted identifier
  src/common/src/util/mod.rs
  src/common/src/util/quote_ident.rs
  src/expr/impl/src/scalar/string.rs
  src/sqlparser/src/ast/mod.rs
Labels: type/refactor

#22117 fix(connector): add timeout and retry for kinesis client (#21616)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22053 refactor(common): remove `PartialOrd` for `DataType` (retained for `DataTypeName`)
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/expr/core/src/sig/mod.rs
  src/frontend/planner_test/tests/testdata/output/backfill.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/src/optimizer/plan_node/logical_union.rs
Labels: type/refactor

#22127 fix(ci):  increase load to increase logstore lag
  src/tests/simulation/tests/integration_tests/log_store/scale.rs
Labels: type/fix, ci/run-integration-test-deterministic-simulation, ci/main-cron/run-selected

#22137 chore(ci): use PAT for cherry-pick workflow
  .github/workflows/cherry-pick-since-release-branch.yml
Labels: type/chore, need-cherry-pick-since-release-2.3

#22135 fix(ci): fix backwards compat test offset version (#22133)
  e2e_test/backwards-compat-tests/scripts/utils.sh
Labels: type/fix, ci/run-backwards-compat-tests, ci/main-cron/run-all

#22139 chore: update version v2.4.1
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore, ci/main-cron/run-all

#22054 fix(common): ignore field ids when comparing `struct` for backward compatibility
  e2e_test/sink/sink_into_table/issue_22041.slt
  src/common/src/types/struct_type.rs
  src/frontend/src/handler/create_table/col_id_gen.rs
Labels: type/fix, need-cherry-pick-since-release-2.4

#22144 feat: increase timeout for slow e2e test
  ci/workflows/pull-request.yml
Labels: type/feature

#21943 fix(cdc/batch): special char during debezium props substitution and `postgres_query`
  ci/docker-compose.yml
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/regress-test.sh
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  risedev.yml
  src/batch/executors/src/executor/postgres_query.rs
  src/frontend/src/expr/table_function.rs
Labels: type/fix, need-cherry-pick-since-release-2.2

#22132 refactor(common): remove `PartialOrd` for `DataType` (retained for `DataTypeName`) (#22053)
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/expr/core/src/sig/mod.rs
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
  src/frontend/src/optimizer/plan_node/logical_union.rs
Labels: type/refactor, ci/main-cron/run-all

#22113 fix: improve error handling for AWS MSK IAM token generation
  src/connector/src/source/kafka/client_context.rs
Labels: type/fix

#22160 doc: Update architecture diagram
  README.md
  docs/dev/src/images/architecture_20250609.jpg
Labels: A-doc

#22159 chore: revert telemetry reminder workflow
  .github/label-commenter-config.yml
  .github/workflows/label-triggered.yml
Labels: type/chore

#22147 chore(ci):  configure slt shutdown timeout to 10s
  ci/.env
  ci/Dockerfile
  ci/scripts/check.sh
  ci/scripts/common.sh
Labels: type/chore

#22163 fix: remove KinesisSdkOptions for compatibility issue (#22143)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22157 fix(mssql-cdc): support `uuid` and `varchar` as primary key data type
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
  src/connector/src/parser/sql_server.rs
Labels: type/fix

#22187 fix(mssql-cdc): support `uuid` and `varchar` as primary key data type (#22157)
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc_insert.sql
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
  src/connector/src/parser/sql_server.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22203 fix(ci): update pull-request PostgreSQL meta backend password
  ci/workflows/pull-request.yml
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22061 feat(iceberg): introduce iceberg compaction metrics
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/iceberg_compaction_metrics.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, ci/run-e2e-iceberg-tests

#22186 fix(mssql-cdc): support `uuid` and `varchar` as primary key data type (#22157)
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc_insert.sql
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
  src/connector/src/parser/sql_server.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22151 fix(cdc/batch): special char during debezium props substitution and `postgres_query` (#21943)
  Cargo.lock
  ci/docker-compose.yml
  ci/scripts/e2e-iceberg-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/regress-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  risedev.yml
  src/batch/executors/src/executor/postgres_query.rs
  src/frontend/Cargo.toml
  src/frontend/src/expr/table_function.rs
  src/frontend/src/handler/create_table.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#22154 fix(ci): fix backwards compat test offset version (#22133)
  e2e_test/backwards-compat-tests/scripts/utils.sh
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22124 feat(catalog): add fragment backfill progress view
  ci/scripts/e2e-test-serial.sh
  e2e_test/backfill/backfill_progress.slt
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_backfill_progress.rs
Labels: type/feature, user-facing-changes, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22206 fix(proto): fix nullable column
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/fix, need-cherry-pick-since-release-2.4

#22198 refactor(s3 connector): expose `enable_config_load` to user for s3 source and sink
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor, ci/run-s3-source-tests, ci/main-cron/run-selected, need-cherry-pick-since-release-2.3

#22208 fix(proto): fix nullable column (#22206)
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/stream/src/executor/source/state_table_handler.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22209 feat(iceberg): introduce iceberg compaction config
  Cargo.lock
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/opts.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#21380 feat(common): add a new dummy data type
  proto/data.proto
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/iterator.rs
  src/common/src/array/mod.rs
  src/common/src/array/proto_reader.rs
  src/common/src/array/vector_array.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/test_utils/rand_chunk.rs
  src/common/src/types/macros.rs
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/types/postgres_type.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_sql.rs
  src/common/src/util/memcmp_encoding.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
  src/expr/core/src/sig/mod.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/udf/wasm.rs
  src/expr/macro/src/gen.rs
  src/expr/macro/src/types.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/handler/create_table/col_id_gen.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/utils/data_type.rs
  src/stream/src/executor/dispatch/output_mapping.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Labels: type/feature, ci/run-e2e-iceberg-tests

#22214 chore(ci): only run unaligned-join test in serial mode
  ci/scripts/e2e-test-serial.sh
  e2e_test/streaming/unaligned-join.slt
Labels: type/chore

#22211 refactor(s3 connector): expose `enable_config_load` to user for s3 source and sink (#22198)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/scheduler/plan_fragmenter.rs
Labels: type/refactor, cherry-pick, ci/run-s3-source-tests, ci/main-cron/run-selected, ci/main-cron/run-all

#22189 feat(meta): add await-tree instrument for barrier manager
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22196 feat(metrics): add a relation info panel in grafana
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/actor_info.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/rpc/metrics.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22225 fix(sqlsmith): use `ObjectName` for column name to correctly distinguish qualified name
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Labels: type/fix, ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#22239 refactor: unify alter connector op name in `AlterSinkOperation`
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
Labels: type/refactor

#22234 fix(frontend): tolerate duplicate operator ids and missing metrics
  ci/scripts/e2e-test-serial.sh
  e2e_test/batch/explain_analyze.slt
  src/frontend/src/handler/explain_analyze_stream_job.rs
  src/prost/build.rs
Labels: type/feature, type/fix, ci/main-cron/run-selected, ci/run-e2e-tests

#22235 refactor(sqlsmith): change config to control weight and features
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/config.yml
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Labels: type/refactor, ci/run-sqlsmith-fuzzing-tests, ci/main-cron/run-selected

#22217 feat(frontend): add source backfill progress tracking
  proto/expr.proto
  src/common/src/catalog/internal_table.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/stream_source_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/table_function_to_internal_backfill_progress.rs
  src/frontend/src/optimizer/rule/table_function_to_internal_source_backfill_progress.rs
Labels: type/feature

#22230 fix(meta): injected project and merge nodes should have unique operator ids by sink into table
  src/common/src/util/stream_graph_visitor.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/tests/simulation/tests/integration_tests/scale/dynamic_filter.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, ci/run-e2e-tests

#22242 feat(expr): add `openai_embedding` function
  Cargo.lock
  proto/expr.proto
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/ai_model.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#22258 chore(ci):  isolate logstore tests from pull request workflow
  ci/scripts/deterministic-it-test.sh
  ci/workflows/pull-request.yml
Labels: type/chore, ci/run-integration-test-deterministic-simulation, ci/main-cron/run-selected

#22256 fix(frontend): ban snapshot backfill with shared source backfill and delta join
  e2e_test/source_inline/kafka/shared_source.slt.serial
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
Labels: type/fix

#22261 chore: notice about empty password when trying to create or alter user
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/rpc_client/src/meta_client.rs
Labels: type/chore

#22218 feat(catalog): support source backfill progress in `rw_fragment_backfill_progress`
  proto/meta.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/common.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_backfill_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_backfill_progress.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_table_scan.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/rpc_client/src/meta_client.rs
Labels: type/refactor, type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22262 chore: enhance the clarity of the error message for privilege denial
  src/frontend/src/binder/delete.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_user_secrets.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/use_db.rs
  src/frontend/src/session.rs
Labels: type/chore

#22257 feat(expr): use `MaterializedExprs` for all impure expressions
  e2e_test/streaming/materialized_project.slt
  src/frontend/planner_test/tests/testdata/input/project.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/src/optimizer/plan_node/logical_project.rs
Labels: type/feature

#21961 fix(mssql-cdc): change the default behavior of schema checks for unsupported data types to reject
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
Labels: type/fix

#22273 fix(pulsar): handle absolute path when load cert (#22243)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/common_test.rs
  src/connector/src/connector_common/mod.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22279 fix(snapshot-backfill): ensure data chunk builder size has least 2
  src/stream/src/executor/backfill/utils.rs
Labels: type/fix

#22278 feat(frontend): add dummy handling of PREPARE and DEALLOCATE
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/prepared_statement.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature

#22280 fix(connector): avoid returning any rows for jdbc sink
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/fix

#22185 refactor(stream): do not broadcast actor info in shared context (#21258)
  src/compute/src/telemetry.rs
  src/frontend/src/telemetry.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/src/telemetry.rs
Labels: type/refactor, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#22191 feat: support alter default privileges
  ci/scripts/backwards-compat-test.sh
  e2e_test/ddl/default_privilege.slt
  proto/common.proto
  proto/user.proto
  src/common/src/acl/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/expr/function_impl/has_privilege.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_catalog.rs
  src/frontend/src/user/user_manager.rs
  src/frontend/src/user/user_privilege.rs
  src/frontend/src/user/user_service.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250603_084830_default_privilege.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/object.rs
  src/meta/model/src/prelude.rs
  src/meta/model/src/user_default_privilege.rs
  src/meta/model/src/user_privilege.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Labels: type/feature, user-facing-changes, ci/run-backwards-compat-tests, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, block-release-v2.5

#22171 fix: remove KinesisSdkOptions for compatibility issue (#22143)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
Labels: type/fix, ci/main-cron/run-all, block-release-v2.2

#22285 feat(log-store): limit the max size of merged flushed chunk
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/sync_log_store.rs
Labels: type/feature

#22288 feat(dashboard): show table data size
  dashboard/components/Relations.tsx
  dashboard/lib/api/streaming.ts
  src/meta/node/src/server.rs
  src/meta/src/dashboard/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22215 feat(stream): support snapshot backfill in backfill order control
  e2e_test/backfill/backfill_order_control.slt
  e2e_test/backfill/backfill_order_control.slt.part
  e2e_test/backfill/backfill_order_control_recovery.slt
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/rpc.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/mod.rs
Labels: type/feature, ci/run-e2e-source-tests, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, ci/run-e2e-tests

#22300 feat(frontend): disallow backfill order with cross-db snapshot backfill
  src/frontend/src/stream_fragmenter/mod.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22302 fix(iceberg): fix empty metastore password for iceberg engine.
  src/frontend/src/handler/create_table.rs
Labels: type/fix, ci/run-e2e-iceberg-tests, need-cherry-pick-since-release-2.4

#22289 fix(meta): unify validation logic for system parameters
  src/common/src/system_param/mod.rs
  src/meta/src/controller/system_param.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22308 fix(iceberg): fix empty metastore password for iceberg engine. (#22302)
  src/frontend/src/handler/create_table.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all, ci/run-e2e-iceberg-tests

#22301 fix(parquet-source): recursively check the schema of nested data types
  src/common/src/array/arrow/arrow_impl.rs
  src/connector/src/parser/parquet_parser.rs
Labels: type/fix

#22294 chore: update iceberg-compaction dep
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/hummock/iceberg_compactor_runner.rs
Labels: type/chore, ci/run-e2e-iceberg-tests

#22312 fix(connector): jdbc pg should use `NO_GENERATED_KEYS` instead of `SUCCESS_NO_INFO`
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/fix

#22313 fix(risedev): fix kill when no llvm code cov env set
  Makefile.toml
Labels: type/fix

#22292 fix(ddl): add parameter check for database
  src/common/src/system_param/mod.rs
  src/frontend/src/handler/alter_database_param.rs
  src/frontend/src/handler/alter_system.rs
  src/frontend/src/handler/create_database.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22306 chore(ci):  disable coverage instrument on `main-cron`
  ci/scripts/build.sh
Labels: type/chore, ci/main-cron/run-all

#22303 feat(error): forward postgres error code & use it in pgwire server
  src/error/src/code.rs
  src/error/src/lib.rs
  src/error/src/tonic/extra.rs
  src/meta/src/barrier/rpc.rs
  src/utils/pgwire/src/error_or_notice.rs
  src/utils/pgwire/src/pg_message.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends

#22318 fix:  unset `RUSTC_WORKSPACE_WRAPPER` for release script
  ci/scripts/release.sh
Labels: type/fix

#22259 feat: a session variable to separate consecutive stream join
  e2e_test/batch/catalog/pg_settings.slt.part
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/stream/mod.rs
  src/frontend/src/optimizer/rule/stream/separate_consecutive_join.rs
Labels: type/feature

#22272 chore(ci): remove unused sink test: e2e_test/sink/pg_native_vs_jdbc.slt
  e2e_test/sink/pg_native_vs_jdbc.slt
Labels: type/chore

#22342 feat(storage): batch add flushed imm to uploader
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/iterator/change_log.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/memory.rs
  src/storage/src/store.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/feature, need-cherry-pick-since-release-2.3

#22315 feat: add `allow_create_stream` to avoid create nats stream by mistake
  e2e_test/source_inline/nats/test.slt.serial
  integration_tests/nats/README.md
  integration_tests/nats/create_sink.sql
  integration_tests/nats/create_source.sql
  integration_tests/nats/pb/create_source.sql
  src/connector/src/connector_common/common.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Labels: type/feature

#22331 feat(meta): support offline realignment of unaligned join
  proto/meta.proto
  proto/stream_plan.proto
  src/frontend/src/handler/alter_streaming_enable_unaligned_join.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/optimizer/plan_node/stream_sync_log_store.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.5

#22360 chore: bump foyer + mixtrics
  Cargo.lock
  Cargo.toml
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/store_impl.rs
Labels: type/chore

#22338 fix(cdc): send error message via the jni channel during reader init
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
Labels: type/fix, need-cherry-pick-since-release-2.3, ci/run-chaos-mesh-cdc-all-chaos-test

#22378 fix(ci): increase wait time for doris to be ready in `e2e-doris-sink`…
  README.md
  ci/scripts/e2e-doris-sink-test.sh
Labels: type/fix, ci/main-cron/run-all

#20780 feat: Add support for altering source connector properties
  e2e_test/source_inline/kafka/alter/alter_connector_props.slt
  src/connector/src/source/mod.rs
  src/connector/src/source/reader/desc.rs
  src/connector/src/with_options.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/alter_sink_props.rs
  src/frontend/src/handler/alter_source_props.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/with_options.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/worker.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/alter.yaml
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Labels: type/feature, ci/run-e2e-single-node-tests, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.5

#22353 refactor(test): move integration test for mysql-async to a separate crate
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-source-test.sh
  ci/workflows/main-cron.yml
  src/connector/src/source/cdc/external/mysql.rs
  src/tests/mysql_test/Cargo.toml
  src/tests/mysql_test/src/lib.rs
  src/tests/mysql_test/tests/mysql_async_connection_pool.rs
Labels: type/refactor, ci/run-e2e-source-tests, ci/main-cron/run-selected, ci/main-cron/run-e2e-source-tests

#22337 fix(mysql-cdc): use connection pool to avoid data loss caused by unsafe cancellation (#22128)
  ci/scripts/e2e-source-test.sh
  e2e_test/source_legacy/cdc/mysql_cdc.sql
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all

#22359 feat(storage): batch add flushed imm to uploader (#22342)
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/iterator/change_log.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/store.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/sync_kv_log_store.rs
Labels: type/feature, ci/main-cron/run-all

#22384 fix(meta): fix incorrectly marking worker node as barrier collected
  src/meta/src/barrier/utils.rs
Labels: type/fix, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.4

#22383 chore(ci): temporarily disable logstore test for release-2.5
  ci/workflows/main-cron.yml
Labels: type/chore, ci/main-cron/run-all

#22029 feat(expr): `l2_distance` between 2 `vector`s
  e2e_test/batch/types/vector.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/mod.rs
  src/expr/impl/src/scalar/vector_dist.rs
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Labels: type/feature

#22395 fix(meta): fix incorrectly marking worker node as barrier collected (#22384)
  src/meta/src/barrier/utils.rs
Labels: type/fix, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#22401 refactor(frontend): defer converting into `PbTable` or `PbSource` until necessary in handler
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_drop_connector.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/rpc/mod.rs
Labels: type/refactor

#22400 chore(iceberg): measure the iceberg spark download time for e2e test
  e2e_test/iceberg/start_spark_connect_server.sh
Labels: type/chore, ci/run-e2e-iceberg-tests

#22310 perf(connector): optimize pg native sink writer with pipelining
  src/connector/src/sink/postgres.rs
Labels: type/refactor, type/perf, need-cherry-pick-since-release-2.5

#22281 fix(connector): avoid returning any rows for jdbc sink#22280
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Labels: type/fix, ci/main-cron/run-all

#22357 feat(meta): support offline realignment of unaligned join (#22331)
  proto/meta.proto
  proto/stream_plan.proto
  src/frontend/src/handler/alter_streaming_enable_unaligned_join.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/optimizer/plan_node/stream_sync_log_store.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Labels: type/feature, cherry-pick, ci/run-e2e-single-node-tests, ci/main-cron/run-all, ci/run-e2e-test-other-backends

#22412 fix(sqlparser): `arr[lo:hi]` and `map{k: v}` broken by `aggregate:` (#22394)
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/array.yaml
  src/sqlparser/tests/testdata/select.yaml
Labels: type/fix, ci/main-cron/run-all

#22320 fix(stream): truncate flushed chunks which were read
  src/stream/src/executor/sync_kv_log_store.rs
  src/tests/simulation/tests/integration_tests/log_store/recovery.rs
  src/tests/simulation/tests/integration_tests/log_store/scale.rs
  src/tests/simulation/tests/integration_tests/log_store/utils.rs
Labels: type/fix, ci/run-integration-test-deterministic-simulation, ci/run-e2e-single-node-tests, ci/main-cron/run-selected, ci/run-e2e-test-other-backends, need-cherry-pick-since-release-2.5

#22424 chore: update version to v2.3.4
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Labels: type/chore, ci/main-cron/run-all

#22413 fix: kafka offset handling for timestamps beyond latest
  e2e_test/source_inline/kafka/issue_22387.slt
  e2e_test/source_inline/kafka/kafka_startup_millis.py
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  src/connector/src/source/kafka/enumerator.rs
Labels: type/fix, need-cherry-pick-since-release-2.4

#22418 fix(stream): truncate flushed chunks which were read (#22320)
  src/stream/src/executor/sync_kv_log_store.rs
  src/tests/simulation/tests/integration_tests/log_store/recovery.rs
  src/tests/simulation/tests/integration_tests/log_store/scale.rs
  src/tests/simulation/tests/integration_tests/log_store/utils.rs
Labels: type/fix, cherry-pick, ci/main-cron/run-all
